@charset "utf-8";

@font-face {
  font-family: 'GongGothic';
  font-style: normal;
  font-weight: 300;
  src: url(esamanru_Light.eot);
  src: url(esamanru_Light.eot?#iefix) format('embedded-opentype'),
       url(esamanru_Light.woff2) format('woff2'),
       url(esamanru_Light.woff) format('woff'),
       url(esamanru_Light.otf) format('opentype');
}
@font-face {
  font-family: 'GongGothic';
  font-style: normal;
  font-weight: 500;
  src: url(esamanru_Medium.eot);
  
  src: url(esamanru_Medium.eot?#iefix) format('embedded-opentype'),
       url(esamanru_Medium.woff2) format('woff2'),
       url(esamanru_Medium.woff) format('woff'),
       url(esamanru_Medium.otf) format('opentype');
}

@font-face {
  font-family: 'GongGothic';
  font-style: normal;
  font-weight: 700;
  src: url(esamanru_Bold.eot);
  
  src: url(esamanru_Bold.eot?#iefix) format('embedded-opentype'),
       url(esamanru_Bold.woff2) format('woff2'),
       url(esamanru_Bold.woff) format('woff'),
       url(esamanru_Bold.otf) format('opentype');
}
