@charset "utf-8";

/*#container{margin-top: 15.5em;}*/

.titles{margin-bottom: 4em; padding-top: 8em; box-sizing: border-box;}
.titles.center{text-align: center;}
.titles strong{position: relative; display: inline-block; padding-top: 2.5em;}
.titles strong span{font-family: 'Playfair Display'; font-size: 4.6em; line-height: 1; letter-spacing: 1px; color: #fff; font-weight: 700;}


#sec01{position: relative; }
.swiper-container{height: 969px;}
.swiper-container .swiper-slide{overflow: hidden;}
.swiper-container .swiper-slide img{
    position: absolute; top: 50%; left: 50%; display: block; min-width: 100%; min-height: 100%;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
}
.swiper-container-horizontal>.swiper-pagination-bullets{bottom: 7em;}
#sec01 .texts{
    position: absolute; top: 0; left: 50%; display: table; table-layout: fixed; width: 100%; height: 100%; z-index: 1; 
    transform: translateX(-50%); -webkit-transform: translateX(-50%);
}
#sec01 .texts .in{display: table-cell; width: 100%; vertical-align: middle; text-align: center;}
#sec01 .texts .in .titles{}
#sec01 .texts .in .m_search{}
#sec01 .texts .in .m_search .boxs{
    position: relative; background-color: #fff;
    border-radius: 50px; -webkit-border-radius: 50px;
}
#sec01 .texts .in .m_search .boxs:after{content: ""; display: block; clear: both;}
#sec01 .texts .in .m_search .boxs [data-skin]{display: inline-block; float: left; width: 20em; }
#sec01 .texts .in .m_search .boxs [data-skin="select"]{position: relative; }
#sec01 .texts .in .m_search .boxs [data-skin="select"] ul{display: none; position: absolute; top: 100%; left: 0; z-index: 1; width: 100%; background-color: #fff;}
#sec01 .texts .in .m_search .boxs [data-skin="input"]{width: calc(100% - 60em - 1px);}
#sec01 .texts .in .m_search .boxs [data-skin="input"] input{border: 0; width: 100%;}
#sec01 .texts .in .m_search .boxs [data-skin="submit"]{position: absolute; top: 0; right: 0; width: auto; }


#sec02{padding-bottom: 13em; background-color: #F5F5F5; box-sizing: border-box;}
#sec02 .titles strong span{color: #111;}
#sec02 .t{}
#sec02 .t ul{}
#sec02 .t ul:after{content: ""; display: block; clear: both;}
#sec02 .t ul li{
    float: left; width: calc((100% - 1px - (2.7em * 4)) / 5); overflow: hidden;
    box-shadow: 0px 5px 8px rgba(204, 204, 204, 0.15);
    border-radius: 10px; -webkit-border-radius: 10px;
}
#sec02 .t ul li:not(:first-child){margin-left: 2.7em;}
#sec02 .t ul li a{
    display: block; width: 100%; height: 26.5em; padding: 4em 3em 3em; background-color: #fff; text-decoration: none; box-sizing: border-box;
    transition: background-color 0.2s linear; -webkit-transition: background-color 0.2s linear;
}
#sec02 .t ul li a:hover{background-color: #4A56AC;}
#sec02 .t ul li a div{position: relative; width: 100%; height: 100%;  }
#sec02 .t ul li a div >strong{}
#sec02 .t ul li a div >strong span{
    color: #000; font-size: 2.6em;
    transition: color 0.2s linear; -webkit-transition: color 0.2s linear;
}
#sec02 .t ul li a:hover div >strong span{color: #fff;}
#sec02 .t ul li a div >p{
    position: absolute; bottom: 0; left: 0; padding: 0.2em 1em; background-color: #ECEFF8; box-sizing: border-box;
    border-radius: 20px;
}
#sec02 .t ul li a div >p span{display: inline-block; font-size: 1.4em; font-weight: 600; color: #222;}
#sec02 .t ul li a div >p span i{font-style: normal; color: #5B63B4;}


#sec02 .b{margin-top: 4em;}


#sec03{}
#sec03 .titles strong span{color: #111;}
#sec03 .in{position: relative; height: 100vh;}
#sec03 .in .p_box{position: absolute; top: 0; right: calc(50% + 10em); width:calc(50% - 10em); height: 100%; background-color: #fde;}
#sec03 .in .p_box ul{}
#sec03 .in .p_box ul li{display: none;}
#sec03 .in .p_box ul li.active{display: block;}
#sec03 .in .t_box{width: 100%; height: 100%; padding-left: calc(50% + 10em); box-sizing: border-box;}
#sec03 .in .t_box ul{margin-top: 5em;}
#sec03 .in .t_box ul:after{content: ""; display: block; clear: both;}
#sec03 .in .t_box ul li{width: 100%;}
#sec03 .in .t_box ul li:not(:first-child){margin-top: 3.2em;}
#sec03 .in .t_box ul li a{
    display: block; width: 100%; background-color: #fff;
    box-shadow: 0px 5px 8px rgba(204, 204, 204, 0.15);
    border-radius: 50px; -webkit-border-radius: 50px;
    transition: background-color 0.2s linear; -webkit-transition: background-color 0.2s linear;
}
#sec03 .in .t_box ul li a.active,
#sec03 .in .t_box ul li a:hover{background-color: #4A56AC;}
#sec03 .in .t_box ul li a span{display: block; padding: 3.5em; box-sizing: border-box;}
#sec03 .in .t_box ul li a span:after{content: ""; display: block; clear: both;}
#sec03 .in .t_box ul li a span b{float: left; position: relative; display: block; width: 6.5em; color: #4955AB; font-size: 1.8em; background-color: #fda;}
#sec03 .in .t_box ul li a span b:before{content: "#"; display: inline-block; margin-right: 0.2em; opacity: 0.7;}
#sec03 .in .t_box ul li a span i{float: left; display: block; width: calc(100% - 1px - 7.5em); margin-left: 1em; color: #222; font-size: 1.8em; font-style: normal; font-weight: 700;}
#sec03 .in .t_box ul li a.active span i,
#sec03 .in .t_box ul li a:hover span i{color: #fff;}







#sec04{background-color: #111;}

#sec05{padding-bottom: 10em; background-color: #666F76; box-sizing: border-box;}
#sec05 .all_bx{height: 44.4em;}
#sec05 .all_bx:after,
#sec05 .all_bx .l_bx:after,
#sec05 .all_bx .r_bx:after{content: ""; display: block; clear: both;}
#sec05 .all_bx >div{float: left; width: calc((100% - 1px - 8em) / 4); height: 100%;}
#sec05 .all_bx .c_bx{width: calc(((100% - 1px - 8em) / 4) * 2);}
#sec05 .all_bx >div:not(:first-child){margin-left: 4em;}
#sec05 .all_bx >div >div{width: 100%; height: 100%;}
#sec05 .all_bx >div .in{position: relative; display: block; height: 100%; cursor: pointer; text-decoration: none;}
#sec05 .all_bx >div .in:before{content: ""; position: absolute; bottom: 0; left: 0; z-index: 1; display: block; width: 100%; height: calc((100% - 1px - 4em) / 2); background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 82.01%);}
#sec05 .all_bx >div >div>.in{width: 100%; height: calc((100% - 1px - 4em) / 2);}
#sec05 .all_bx >div >div>.in:before{height: 100%;}
#sec05 .all_bx >div >div>.in:nth-child(2){margin-top: 4em;}
#sec05 .all_bx >div .in >span{position: relative; display: block; width: 100%; height: 100%; overflow: hidden;}
#sec05 .all_bx >div .in >span img{
    position: absolute; top: 50%; left:50%; min-width: 100%; min-height: 100%;
    transform-origin: left top;
    transform: scale(1) translate(-50%,-50%); -webkit-transform: scale(1) translate(-50%,-50%);
    transition: all 0.2s linear; -webkit-transition: all 0.2s linear;
}
#sec05 .all_bx >div .in:hover >span img{
    transform: scale(1.15) translate(-50%,-50%); -webkit-transform: scale(1.15) translate(-50%,-50%);
}
#sec05 .all_bx >div .in .texts{position: absolute; top: 0; left: 0; z-index: 1; display: table; table-layout: fixed; width: 100%; height: 100%; padding: 3em 3em 2.4em; box-sizing: border-box;}
#sec05 .all_bx >div .in .texts >span{display: table-cell; width: 100%; vertical-align: bottom;}
#sec05 .all_bx >div .in .texts >span i{
    padding: 0.9em 1.4em 0.7em; background-color: rgba(0, 0, 0, 0.5); font-style: normal; border: 1px solid rgba(255, 255, 255, 0.3); box-sizing: border-box;
    border-radius: 50px; -webkit-border-radius: 50px;
}
#sec05 .all_bx >div .in .texts >span i span{font-size: 1.4em; line-height: 1; color: #fff; text-transform: uppercase; }
#sec05 .all_bx >div .in .texts >span strong{display: block; margin-top: 0.8em;}
#sec05 .all_bx >div .in .texts >span strong span{font-family: 'Playfair Display'; letter-spacing: 1px; font-size: 2.8em; font-weight: 500; line-height: 1.4; color: #fff;}