@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int [data-depart-box="1"] .txts{background-color: #7E152E; background-image: url(../../../images/site/china/content/hs_box_img01.png);}
.depart_int [data-depart-box="1"] .imgs{background-image: url(../../../images/site/china/content/hs_box_img02.jpg);}
.depart_int [data-depart-box="1"] .txts .eng,
.depart_int [data-depart-box="1"] .txts .tt{text-shadow: 2px 2px 10px #59081B;}
.depart_int [data-depart-box="2"]{background-color: #F9F6F1;}
.depart_int [data-depart-box="2"] >ol>li>em:before{background-color: #7E152E;}
[data-depart-box="4"] .tt:first-child .t{background-color: #7E152E; box-shadow: 0px 10px 40px rgba(126, 21, 46, 0.3);}
[data-depart-box="4"] .tt:nth-child(2) .t{background-color: #AA916C; box-shadow: 0px 10px 40px rgba(170, 145, 108, 0.3);}
.depart_int [data-depart-box="5"] >ul.step3>li>strong{border-color: #7E152E;}
.depart_int [data-depart-box="5"] >ul.step3>li:nth-child(2)>strong,
.depart_int [data-depart-box="5"] >ul.step3>li:nth-child(5)>strong{background-color: #AA916C; border-color: #AA916C; color: #fff; font-weight: 400;}
.depart_int [data-depart-box="5"] >ul>li:before, 
.depart_int [data-depart-box="5"] >ul>li:after{background-image: url(../../../images/site/china/content/data-depart-box05.svg);}
.depart_int [data-depart-box="5"] >ul>li>strong:before{border-color: #7E152E;}
.depart_int [data-depart-box="6"] .wrap .tt{border-color: #F9F6F1;}
.depart_int [data-depart-box="6"] .wrap .xx > ul{background-color: #F9F6F1;}
.depart_int [data-depart-box="6"] .wrap .xx > ul>li{border-color: rgba(102, 102, 102, 0.4);}
.depart_int [data-depart-box="6"] .wrap .tt strong:before{background-image: url(../../../images/site/china/content/data-depart-box06.svg);}
.depart_int [data-depart-box="6"] .wrap .tt strong>span{color: #7E152E;}

.img_list{}
.img_list:after{content: ""; display: block; clear: both;}
.img_list > li{float: left; width: calc((100% - 1px - 3.75em) / 3);}
.img_list > li:not(:nth-child(3n+1)){margin-left: 1.875em;}
.img_list > li:nth-child(n+4){margin-top: 1.875em;}
.img_list > li > img{display: block; width: 100%;}

@media screen and (max-width: 1024px) {
    .img_list > li{width: calc((100% - 1px - 2.5em) / 3);}
    .img_list > li:not(:nth-child(3n+1)){margin-left: 1.25em;}
    .img_list > li:nth-child(n+4){margin-top: 1.25em;}
}
@media screen and (max-width: 640px) {
    .img_list > li{width: calc((100% - 1px - 1em) / 2);}
    .img_list > li:not(:nth-child(3n+1)){margin-left: 0;}
    .img_list > li:not(:nth-child(2n+1)){margin-left: 1em;}
    .img_list > li:nth-child(n+3){margin-top: 1em;}
}











