@charset "utf-8";

/* layout */
html{scroll-behavior: smooth;}
body{position:relative; width:100%; height: 100%;}
body.fixed {position:fixed;}
.js_tablet_check,
.js_mobile_check{display:none;}
.user #wrap {position:relative; height: 100%;}
.user .layout {position:relative; max-width:calc(1710px + 4em); margin:0 auto; padding:0 2em; box-sizing: border-box;}
.user .layout:after {content:""; display:block; clear:both;}


#main #container{position: relative;  overflow-y: auto; overflow-x: hidden;}

#container {position: relative; overflow: auto; height: auto; 
}
[id*="sec"]{min-height: 100vh;}
/*[id*="sec"]{width: 100%; height: 100%; position: absolute; top: 100%; min-height: 100vh;}*/
#container #sec01 {background-color: #c4d9d9; height: 100vh;
}
#container #sec02 {background-color: #958a9a;
}
#container #sec03 {background-color: #ffe0e6;
}
#container #sec04 {background-color: #d8deff;
}
#container #sec05 {background-color: #e2dfd4; height: 200vh;
}
/*[id*="sec"].left{left: 100%;}
[id*="sec"].prev{top: -100%;}
[id*="sec"].on{top: 0;}
[id*="sec"].on.left{left: 0;}*/

@media screen and (max-width: 1024px){
    
}