@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int .t_intbx{background-image: url(../../../images/site/mse/content/int_head.png);}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	실험실소개 - 비정질재료

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.labora_ff{}
.labora_ff .img_box{margin-top: 2em;}
.labora_ff .img_box:after{content: ""; display: block; clear: both;}
.labora_ff .img_box img{float: left; display: block; width: calc((100% - 1px - 1.875em) / 2);}
/*.labora_ff .img_box.imgs1 img{width: 100%;}
.labora_ff .img_box.imgs3 img{width: calc((100% - 1px - 3.75em) / 3);}*/
.labora_ff .img_box img:not(:first-child){margin-left: 1.875em;}

@media screen and (max-width: 1024px){
    .labora_ff .img_box img{width: calc((100% - 1px - 1.25em) / 2);}
    /*.labora_ff .img_box.imgs3 img{width: calc((100% - 1px - 2.5em) / 3);}*/
    .labora_ff .img_box img:not(:first-child){margin-left: 1.25em;}
}

@media screen and (max-width: 640px){
    .labora_ff .img_box img{width: calc((100% - 1px - 1em) / 2);}
    /*.labora_ff .img_box.imgs3 img{width: calc((100% - 1px - 2em) / 3);}*/
    .labora_ff .img_box img:not(:first-child){margin-left: 1em;}
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	실험실소개 - 정보전자소재공정

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.labora_ss{}
.labora_ss .img_box{margin-top: 2em; padding: 1em 2em; border: 1px solid #DEDEDE; box-sizing: border-box;}
.labora_ss .img_box img{display: block; width: 100%; max-width: 1006px; margin: 0 auto;}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	실험실소개 - 기능및생체재료

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.labora_tt{}
.labora_tt .img_wraps{margin-top: 2em; padding: 2.75em 2.75em 2em; background-color: #F2F2F2; box-sizing: border-box;}
.labora_tt .img_wraps .img_box{max-width: 842px; margin: 0 auto;}
.labora_tt .img_wraps .img_box:after{content: ""; display: block; clear: both;}
.labora_tt .img_wraps .img_box div{float: left; }
.labora_tt .img_wraps.ff .img_box div:not(:first-child){margin-left: calc((100% - 30.1%  - 38.7% - 29.9% - 1px) / 2);}
.labora_tt .img_wraps.ff .img_box div:first-child{width: 30.1%;}
.labora_tt .img_wraps.ff .img_box div:nth-child(2){width: 38.7%;}
.labora_tt .img_wraps.ff .img_box div:nth-child(3){width: 29.9%;}
.labora_tt .img_wraps.ss .img_box div:not(:nth-child(3n+1)){margin-left: calc((100% - 32.8%  - 33.3% - 32.3% - 1px) / 2);}
.labora_tt .img_wraps.ss .img_box div:nth-child(n+4){margin-top: 1.875em;}
.labora_tt .img_wraps.ss .img_box div:first-child{width: 32.8%;}
.labora_tt .img_wraps.ss .img_box div:nth-child(2){width: 33.3%;}
.labora_tt .img_wraps.ss .img_box div:nth-child(3){width: 32.3%;}
.labora_tt .img_wraps.ss .img_box div:nth-child(4){width: 32.6%;}
.labora_tt .img_wraps.ss .img_box div:nth-child(5){width: 33.3%;}
.labora_tt .img_wraps.ss .img_box div:nth-child(6){width: 32.1%;}
.labora_tt .img_wraps .img_box div img{display: block; width: 100%;}
.labora_tt .img_wraps .img_box div span{display: block; text-align: center; }
@media screen and (max-width: 1024px){
    .labora_tt .img_wraps{padding: 2em 2em 1.25em; }
    .labora_tt .img_wraps.ss .img_box div:nth-child(n+4){margin-top: 1em;}
}
@media screen and (max-width: 640px){
    .labora_tt .img_wraps{padding: 1.5em 1.5em 0.75em; }
    .labora_tt .img_wraps.ss .img_box div:nth-child(n+4){margin-top: 0.75em;}
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	실험실소개 - 나노재료

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.labora_fo{}
.labora_fo .img_wraps{margin-top: 2em; padding: 2.75em 2.75em 2em; background-color: #F2F2F2; box-sizing: border-box;}
.labora_fo .img_wraps .img_box{max-width: 599px; margin: 0 auto;}
.labora_fo .img_wraps .img_box:after{content: ""; display: block; clear: both;}
.labora_fo .img_wraps .img_box div{float: left; }
.labora_fo .img_wraps .img_box div:not(:first-child){margin-left: calc((100% - 32.2%  - 32.2% - 32.2% - 1px) / 2);}
.labora_fo .img_wraps .img_box div{width: 32.2%;}
.labora_fo .img_wraps .img_box div img{display: block; width: 100%;}
.labora_fo .img_wraps .img_box div span{display: block; text-align: center; }
@media screen and (max-width: 1024px){
    .labora_fo .img_wraps{padding: 2em 2em 1.25em; }
}
@media screen and (max-width: 640px){
    .labora_fo .img_wraps{padding: 1.5em 1.5em 0.75em; }
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	실험실소개 - 나노재료

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.labora_fi{}
.labora_fi .img_wraps{margin-top: 2em; padding: 2.75em 2.75em 2em; background-color: #F2F2F2; box-sizing: border-box;}
.labora_fi .img_wraps .img_box{margin: 0 auto;}
.labora_fi .img_wraps.ff .img_box{max-width: 900px;}
.labora_fi .img_wraps.ss .img_box{max-width: 685px;}
.labora_fi .img_wraps .img_box:after{content: ""; display: block; clear: both;}
.labora_fi .img_wraps .img_box div{float: left;}
.labora_fi .img_wraps.ss .img_box div:not(:first-child){margin-left: calc(100% - 48.4%  - 48.4% - 1px);}
.labora_fi .img_wraps.ss .img_box div{width: 48.4%;}
.labora_fi .img_wraps .img_box div img{display: block; width: 100%;}
.labora_fi .img_wraps .img_box div span{display: block; text-align: center; }
@media screen and (max-width: 1024px){
    .labora_fi .img_wraps{padding: 2em 2em 1.25em; }
}
@media screen and (max-width: 640px){
    .labora_fi .img_wraps{padding: 1.5em 1.5em 0.75em; }
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	실험실소개 - 반도체박막나노소재

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.labora_si{}
.labora_si .img_box{}
.labora_si .img_box img{display: block; width: 100%;}




