@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int [data-depart-box="1"] .txts{background-color: #005BAA; background-image: url(../../../images/site/ppc/content/hs_box_img01.png);}
.depart_int [data-depart-box="1"] .imgs{background-image: url(../../../images/site/ppc/content/hs_box_img02.jpg);}
.depart_int [data-depart-box="1"] .txts .eng,
.depart_int [data-depart-box="1"] .txts .tt{text-shadow: 2px 2px 10px #034C8C;}
.depart_int [data-depart-box="2"]{background-color: #F0F7FF;}
.depart_int [data-depart-box="2"] >ol>li>em:before{background-color: #2F83E7;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i{border-color: rgba(0, 91, 170, 0.2);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i{border-color: rgba(0, 51, 99, 0.2);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(1)>i>span:before{background-image: url(../../../images/site/ppc/content/Group%202306.png);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2)>i>span:before{background-image: url(../../../images/site/common/Group%202230.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(3)>i>span:before{background-image: url(../../../images/site/common/Group%202252.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(4)>i>span:before{background-image: url(../../../images/site/common/Group%202220.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i:after{background-color: #005BAA ;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i:after{background-color: #003363;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i>span{background-color: #005BAA; }
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i>span{background-color: #003363; }
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i>span:after{background-color: #005BAA;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i>span:after{background-color: #003363;}
.depart_int [data-depart-box="5"] >ul.step3>li>strong{border-color: #003363;}
.depart_int [data-depart-box="5"] >ul.step3>li:nth-child(2n+2)>strong{background-color: #005BAA; border-color: #005BAA; color: #fff; font-weight: 400;}
.depart_int [data-depart-box="5"] >ul>li:before, 
.depart_int [data-depart-box="5"] >ul>li:after{background-image: url(../../../images/site/ppc/content/data-depart-box05.svg);}
.depart_int [data-depart-box="5"] >ul>li>strong:before{border-color: #003363;}
.depart_int [data-depart-box="6"] .wrap .tt{border-color: #F0F7FF;}
.depart_int [data-depart-box="6"] .wrap .xx > ul{background-color: #F0F7FF;}
.depart_int [data-depart-box="6"] .wrap .xx > ul>li{border-color: rgba(47, 131, 231, 0.4);}
.depart_int [data-depart-box="6"] .wrap .tt strong:before{background-image: url(../../../images/site/ppc/content/data-depart-box06.svg);}
.depart_int [data-depart-box="6"] .wrap .tt strong>span{color: #0F3192}
