@charset "utf-8";
:root {
	--point-color: #158E54; /* 사이트 컬러 */
	--point-color-over: #2C8E54; /* 사이트 컬러 */
}

/*인사말*/
.college_hi .hihihi{background-image: url(../../../images/site/aisw/content/hi_head.png);}
@media screen and (min-width: 1025px){
    .college_hi .hihihi .boxs .bb{padding-top: 9.4em;}
    .college_hi .hihihi .boxs .bb:before{height: 6.66em; margin-top: -4.3em;}
}
@media screen and (max-width: 1024px){
    .college_hi .hihihi .boxs .bb{padding-top: 6em;}
    .college_hi .hihihi .boxs .bb:before{height: 4em; margin-top: -3.7em}
}

/*연혁*/
.historys .wraps .his_list li .yy{font-family: 'Poppins','Noto Sans KR';}
.historys .wraps:nth-child(2) .his_list:after{display: none;}
.historys .wraps .his_list li:before{border-color: var(--point-color);}
.historys .wraps .his_list li .yy{color: var(--point-color);}

/*IT융복합계열*/
.col01{}
.col01 .coll_int .boxs span{background-image: url(../../../images/site/aisw/content/coll_int_01.png);}
