@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int [data-depart-box="1"] .txts{background-color: 
#DD7777; background-image: url(../../../images/site/silvermed/content/hs_box_img01.png);}
.depart_int [data-depart-box="1"] .imgs{background-image: url(../../../images/site/silvermed/content/hs_box_img02.jpg);}
.depart_int [data-depart-box="1"] .txts .eng,
.depart_int [data-depart-box="1"] .txts .tt{text-shadow: 2px 2px 10px #D05959;}
.depart_int [data-depart-box="2"]{background-color: #F9F6F1 ;}
.depart_int [data-depart-box="2"] >ol>li>em:before{background-color: #7E152E ;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i{border-color: rgba(221, 119, 119, 0.3);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i{border-color: rgba(126, 21, 46, 0.3);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(1)>i>span:before{background-image: url(../../../images/site/common/Group%202267.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2)>i>span:before{background-image: url(../../../images/site/common/Group%202201.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(3)>i>span:before{background-image: url(../../../images/site/common/Group%202263.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(4)>i>span:before{background-image: url(../../../images/site/common/Group%202265.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i:after{background-color: #DD7777 ;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i:after{background-color: #7E152E;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i>span{background-color: #DD7777; }
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i>span{background-color: #7E152E; }
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i>span:after{background-color: #DD7777;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i>span:after{background-color: #7E152E;}
[data-depart-box="4"] .tt:first-child .t{background-color: #DD7777; box-shadow: 0px 10px 40px rgba(221, 119, 119, 0.3);}
[data-depart-box="4"] .tt:nth-child(2) .t{background-color: #7E152E; box-shadow: 0px 10px 40px rgba(126, 21, 46, 0.3 );}
.depart_int [data-depart-box="6"] .wrap .tt{border-color: #F9F6F1;}
.depart_int [data-depart-box="6"] .wrap .xx > ul{background-color: #F9F6F1;}
.depart_int [data-depart-box="6"] .wrap .tt strong:before{background-image: url(../../../images/site/silvermed/content/data-depart-box06.svg);}
.depart_int [data-depart-box="6"] .wrap .tt strong>span{color: #7E152E}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	교육목표

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_obg{}
.depart_obg .img_box{}
.depart_obg .img_box img{display: block; width: 100%;}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	졸업 후 진로

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_gra{}
.depart_gra .img_box{}
.depart_gra .img_box img{display: block; width: 100%; max-width: 955px; margin: 0 auto 1.25em;}
.depart_gra .gra_status{position: relative; height: 20.5em; background: url(../../../images/site/silvermed/content/gra_status.png) no-repeat center center; background-size: auto 100%;}
[data-table="wrap"] + .gra_status{margin-top: 1.5em;}
.gra_status + [data-table="wrap"]{margin-top: 0 !important;}
.depart_gra .gra_status > strong{
    position: absolute; top: 48%; left: 50%; max-width: 5em; margin: 0 auto; color: #fff; font-family: 'Poppins'; text-align: center; font-size: 2.1875em; line-height: 1.2; letter-spacing: -0.03em; font-weight: 600;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
}
.depart_gra .gra_status > strong span{display: block; color: rgba(255, 255, 255, 0.87); font-size: 0.71em; line-height: 1; margin-bottom: 0.5em;}

@media screen and (max-width: 1024px) {
    .depart_gra .gra_status{font-size: 0.9em;}
}
@media screen and (max-width: 840px) {
    .depart_gra .gra_status{font-size: 0.8em;}
}
@media screen and (max-width: 640px) {
    .depart_gra .gra_status{font-size: 0.7em;}
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	자격증소개 사회복지사

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_sab{}
.depart_sab .img_box{background-color: #F6F6F6; border: 1px solid #DEDEDE; box-sizing: border-box;}
.depart_sab .img_box img{display: block; width: 100%; }


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학생회

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_stu{}
.depart_stu .img_box{}
.depart_stu .img_box img{display: block; width: 100%; }

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	소모임 아리따움

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_smg_ari{}
.depart_smg_ari .img_box{}
.depart_smg_ari .img_box:after{content: ""; display: block; clear: both;}
.depart_smg_ari .img_box img{float: left; display: block; width: calc((100% - 1px - 4.6875em) / 4); }
.depart_smg_ari .img_box img:not(:first-child){margin-left: 1.5625em;}
@media screen and (max-width: 1024px){
    .depart_smg_ari .img_box img{width: calc((100% - 1px - 3em) / 4);}
    .depart_smg_ari .img_box img:not(:first-child){margin-left: 1em;}
}
@media screen and (max-width: 640px){
    .depart_smg_ari .img_box img{width: calc((100% - 1px - 1em) / 2);}
    .depart_smg_ari .img_box img:not(:first-child){margin-left: 0;}
    .depart_smg_ari .img_box img:nth-child(2n-1){margin-right: 1em;}
    .depart_smg_ari .img_box img:nth-child(n+3){margin-top: 1em;}
}
@media screen and (max-width: 420px){
    .depart_smg_ari .img_box img{width: calc((100% - 1px - 0.8em) / 2);}
    .depart_smg_ari .img_box img:nth-child(2n-1){margin-right: 0.8em;}
    .depart_smg_ari .img_box img:nth-child(n+3){margin-top: 0.8em;}
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	소모임 치토스

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_smg_chi{}
.depart_smg_chi .img_box{}
.depart_smg_chi .img_box:after{content: ""; display: block; clear: both;}
.depart_smg_chi .img_box img{float: left; display: block; width: calc((100% - 1px - 3.125em) / 3); }
.depart_smg_chi .img_box img:not(:first-child){margin-left: 1.5625em;}
@media screen and (max-width: 1024px){
    .depart_smg_chi .img_box img{width: calc((100% - 1px - 2em) / 3);}
    .depart_smg_chi .img_box img:not(:first-child){margin-left: 1em;}
}
@media screen and (max-width: 420px){
    .depart_smg_chi .img_box img{width: 100%;}
    .depart_smg_chi .img_box img:not(:first-child){margin-left: 0; margin-top: 0.8em;}
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	소모임 WITJ US

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_smg_wit{}
.depart_smg_wit .img_box{}
.depart_smg_wit .img_box img{display: block; width: 100%; }

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	연계전공 로드맵 pdf_veiw

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.pdf_map .pdf_viewer .view{height: 43.75em;}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Q&A

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_qna{}
.depart_qna .img_box img{display: block; width: 100%;}