@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* { margin: 0; padding: 0; box-sizing: border-box; -webkit-touch-callout: none; }
:lang(ja) { font-family: osaka, sans-serif }
:lang(en) { font-family: 'Frutiger Linotype', sans-serif }

/* common reset */
html { -webkit-font-size-adjust: none; }
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, abbr, address, cite, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, summary, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; font-family: 'Noto Sans KR', 'Noto Sans KR', 'Malgun Gothic', 'AppleGothic', 'Dotum', 'arial', 'sans-serif'; }
body { line-height: 1;/*word-wrap:break-word;word-break:break-all*/ }
h1, h2, h3, h4, h5, h6 { font-weight: normal; font-size: 100% }
table { border-collapse: collapse; border-spacing: 0 }
img { max-width: 100%; border: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0) }
ol, ul { list-style: none }
html, body { height: 100%; margin: 0; padding: 0; color: #666; font-family: 'Noto Sans KR', '나눔고딕', 'Dotum', 'arial', 'sans-serif'; font-size: 14px; line-height: 140%; }
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote { margin: 0; padding: 0 }
th, td, input, textarea, select { font-family: 'Noto Sans KR', '나눔고딕', 'Dotum', 'arial', 'sans-serif'; font-size: 14px; color: #494949 }
table { border-collapse: collapse; border-spacing: 0 }
address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal }
ol, ul, li { list-style: none }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
abbr, acronym { border: 0 }
hr { display: none; clear: both }
legend, caption { visibility: hidden; overflow: hidden; position: absolute; width: 0; height: 0; margin: 0; padding: 0; line-height: 0 }
img, fieldset { border: 0 none }
label { cursor: pointer }
a { color: #666;	/*font-family: 'ngn';*/ }
a:link, a:visited { text-decoration: none }
a:hover, a:active { text-decoration: none }
select { height: 22px }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block }
audio[controls], canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0 }
acronym, abbr { cursor: help }
abbr[title] { border-bottom: 1px dotted }
ul, ol { list-style: none; list-style-image: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
label, select, input, button { vertical-align: middle }
button { border: 0; cursor: pointer }
button, input, select, textarea { margin: 0; font-size: 100%; vertical-align: baseline; vertical-align: middle }
button, input { overflow: visible; line-height: normal }
button, select { text-transform: none }
button[disabled], html input[disabled] { cursor: default }
button, html input[type="button"], input[type="reset"], input[type="submit"] { overflow: visible; cursor: pointer; -webkit-appearance: button }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0 }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box }
select { margin: 0; padding: 0; border: 1px solid #ccc; box-sizing: border-box; line-height: 1 }
img { max-width: 100%; border: 0; vertical-align: top; -ms-interpolation-mode: bicubic }
audio[controls], canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
html { overflow-y: scroll; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
label, input, button, a, span { line-height: 1.6; }
body, button { font-size: 1em; line-height: 1.6; color: #464646; }
hr { display: none; height: 0; -moz-box-sizing: content-box; box-sizing: content-box; }
a, a:hover { text-decoration: none; color: #333; }
a:focus, button:focus { outline: thin dotted; }
a:active, a:hover, button:active, button:hover { outline: 0 none; }
em, address { font-style: normal; }
acronym, abbr { cursor: help; }
abbr[title] { border-bottom: 1px dotted; }
ul, ol { list-style: none; list-style-image: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
label, input, button { vertical-align: middle; }
button { border: 0; cursor: pointer; }
button, input, textarea { margin: 0; font-size: 100%; vertical-align: baseline; }
button, input { line-height: 1; }
button { text-transform: none; }
button[disabled], html input[disabled] { cursor: pointer; }
button, input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
select { border: 1px solid #c9c9c9; }
input { border: 0; }
a:link, a:visited { color: #666; }
a:hover, a:active { color: #000; }
