@charset "utf-8";

* {border: 0px; margin:0; padding:0;}
html, body {height:100%; overflow-x:hidden; font-size: 10px;}
body{font-weight: 400;letter-spacing: -1.5px;}
body.sub {background:#f4f4f4;}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, thead, tbody, tfoot,  tr, th, td, select, option, textarea {margin:0; padding:0; border:0; font-style:normal; font-weight:normal; text-decoration:none; text-align:left; background:transparent; font-family: 'NotoSansCJKkr', sans-serif;}

img, input.image, input.btn, fieldset,iframe { border:0 none; }
img, fieldset { border:none; }
input[type=text],input[type=password],textarea, select { vertical-align:middle; border:1px solid #c9c9c9; font-family:'NotoSansCJKkr', sans-serif; color:#484848; }
textarea { resize:none; }
select { padding:1px; vertical-align:top; font-family:'NotoSansCJKkr', sans-serif;  }
legend { position:absolute; top:0; left:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0; }
address { font-style:normal; }
table { border-collapse:collapse; }
a { color:#484848; text-decoration: none; }
a:active, a:hover { text-decoration:none; }
a { -webkit-transform:translateZ(0); transform:translateZ(0); box-shadow:0 0 1px rgba(0, 0, 0, 0); -webkit-backface-visibility:hidden; backface-visibility:hidden; -moz-osx-font-smoothing:grayscale; -webkit-transition-duration:0.3s; transition-duration:0.3s; -webkit-transition-property:color, background-color; transition-property:color, background-color; }
ul, li {list-style:none; margin:0; padding:0;}
caption { position:absolute; top:0; left:0; line-height:0; width:0; height:0; overflow:hidden; visibility:hidden;}

input[type=checkbox]:checked + label {color:#b22e31;}

#skipnav { position:absolute; top:0; left:0; width:100%; z-index:999; }
#skipnav a {display:block; position:absolute; top:0; left:0; height:0px; font-size:0px; line-height:0px; text-align:center; }
#skipnav a:hover,
#skipnav a:active,
#skipnav a:focus { position:relative; margin:20px auto; width:90%; height:40px; line-height:40px; background:#33568e; text-align:center; color:#fff; font-weight:bold; font-size:14px; }

.clearfix:after{display:block; content:''; clear:both; }
.ir { display:block; width:0; height:0; text-indent:100%; white-space:nowrap; overflow:hidden; line-height:0; font-size:0; }
.underline { text-decoration:underline; }
.dp_inline { display:inline; }
.dp_b { display:block; }
.dp_ib { display:inline-block !important; }
.dp_n { display:none; }
.wfont { font-weight:bold; }
.normal { font-weight:normal !important; }
.sfont { font-size:13px !important; ; }
.mfont { font-size:14px !important; ; }
.bfont { font-size:15px; }
.ls_1 { letter-spacing:-1px; }
.center { text-align:center !important; }
.left { text-align:left !important; }
.right { text-align:right; }
.top { vertical-align:top; }
.middle { vertical-align:middle; }
.float_l { float:left; }
.float_r { float:right; }
.clear_b { clear:both; }
.hidden { display:block !important; position:fixed !important; top:-500000px !important; margin:0px !important; padding:0px !important; width:0px !important; height:0px !important; text-indent:-50000px !important; font-size:0px !important; line-height:0px !important; border:0px !important; }
caption{ text-align:left; }
.bg_n { background:none !important; }
.red_color { color:#b50505; }
.darkred_color{ color:#e53101; }
.worange_color { color:#b35100; }
.orange_color { color:#da3102; }
.darknavy_color { color:#1a7d92; }
.logoblue_color { color:#007CB7; }
.green_color { color:#72a73f; }

/*margin,padding*/
.margin_0 { margin:0px; }
.margin_5 { margin:5px; }
.margin_10 { margin:10px; }
.margin_15 { margin:15px; }
.margin_20 { margin:20px 0!important; }

.margin_l5 { margin-left:5px; }
.margin_l10 { margin-left:10px; }
.margin_l13 { margin-left:13px; }
.margin_l15 { margin-left:15px; }
.margin_l20 { margin-left:20px; }
.margin_l25 { margin-left:25px; }
.margin_l30 { margin-left:30px; }
.margin_l35 { margin-left:35px; }
.margin_l60 { margin-left:60px; }
.margin_l120 { margin-left:120px; }

.mt_n { margin-top:0 !important; }
.margin_t3 { margin-top:3px; }
.margin_t5 { margin-top:5px; }
.margin_t10 { margin-top:10px !important; }
.margin_t15 { margin-top:15px !important; }
.margin_t20 { margin-top:20px !important; }
.margin_t25 { margin-top:25px !important; }
.margin_t30 { margin-top:30px; }
.margin_t40 { margin-top:40px; }
.margin_t50 { margin-top:50px; }
.margin_t70 { margin-top:70px; }

.margin_r5 { margin-right:5px; }
.margin_r10 { margin-right:10px; }
.margin_r15 { margin-right:15px; }
.margin_r20 { margin-right:20px; }

.mb_n { margin-bottom:0 !important;}
.margin_b5 { margin-bottom:5px; }
.margin_b10 { margin-bottom:10px; }
.margin_b15 { margin-bottom:15px; }
.margin_b20 { margin-bottom:20px !important; }
.margin_b30 { margin-bottom:30px; }
.margin_b40 { margin-bottom:40px; }
.margin_b50 { margin-bottom:50px; }

.padding_0 { padding:0px; }
.padding_20 { padding:20px; }
.padding_t5 { padding-top:5px; }
.padding_t10 { padding-top:10px; }
.padding_t15 { padding-top:15px; }
.padding_t20 { padding-top:20px; }
.padding_t40 { padding-top:40px; }
.padding_t50 { padding-top:50px; }

.padding_b5 { padding-bottom:5px; }
.padding_b10 { padding-bottom:10px; }
.padding_b15 { padding-bottom:15px; }
.padding_b20 { padding-bottom:20px; }

.padAll_50 {padding: 50px 0;}
.leftab_83 {left:83px;}
.leftab_82 {left:82px;}
.leftab_58 {left:58px;}

.size-20p {width:20%;}
.size-30p {width:30%;}
.size-40p {width:40%;}
.size-50p {width:50%;}
.size-100p {width:100%;}

.s15p {width:15%;}
.s85p {width:85%;}

/* font color */
.wfont { font-weight:500 !important; }
.wfont_red { color:#de3f3f !important; font-weight:400; }
.wfont_red_b { color:#de3f3f !important; font-weight:500; }
.wfont_blue_b { color:#2a3256 !important; font-weight:500; }
.wfont2 { color:#333333; font-size:16px; font-weight:500; }



/**** 2022.07 추가 작업  *****/


@media screen and (max-width: 1024px){
    body.sub {font-size: 9px;}
}

@media screen and (max-width: 640px){
    body.sub {font-size: 8px;}
}
    







