@charset "UTF-8";

@media all and (min-width:1940px) {
	.wrapper { margin:0 auto; width:1940px;}
}

@media all and (min-width:769px) {
	.dp_mb { display:none; }
	.pc_block { display:block; }
	.pc_hidden { display:none; }
}


@media all and (max-width:1199px) {
	#gnb ul.family li:first-child { padding-left:20px; }
	#gnb ul.gnb_menu li.login { margin-right:20px; }
	header h1 { left:20px; }
	header nav #lnb>li>a { font-size:16px; }
	header nav #lnb>li {padding: 0 30px 0 10px;}
	header nav #lnb>li:last-child {padding: 0 0px 0 10px;}
	footer .wrapper { padding:0 20px; }
	.btm_visitor { right:20px; }
	.location .inner {width:100%;}
	.contentWrap .contents {width:100%;}
	.grid .cell {width:17.5%;}
	section {width:90%; margin:0 auto;}
	.leftab_82 {left:68px;}
	.leftab_83 {left:69px;}
	.leftab_58 {left:43px;}
	.grid span.meth {left:50%; margin-left:-25px;}
	.grid span.methTwo {left:50%; margin-left:-50px;}
	.ministerWork .mwGallery .mwList {width:24%; margin-right:10px; margin-bottom:10px;}
	.photoView .cell {width:49%; margin-right:0; margin-bottom:10px; float:left;}
	.photoView .cell:nth-child(2n) {float:right; margin-right:0px;}
	.modalImg img {height:400px!important; max-height: 100%; max-width: 100%;}
	.visualWrap {height:540px;}
	.visualWrap .visual {width:100%; padding: 0 20px; box-sizing:border-box;}
	.working {width:70%; float:right; margin-left:0;}
	.speakMinister {width:30%;}
	.workContent .wcPlace a {width:100%;}
	.speakMinister .txtArea span.contTxt {font-size: 23px;}
	.speakMinister .photoArea {top:31px;}
	.speakMinister .photoArea img {width:90%;}
	.speakMinister .txtArea {left:160px;}
	.visualTabArea {width:100%; margin-top:20px;}
	#visualTab ul {background:#f4f4f4; height:47px;}
	.mainWrapper .mainContent {width:100%; padding:30px 20px; box-sizing:border-box;}
	.mainWrapper .mainContent .mainVideo {width:40%;}
	.mvWrapper .mvArea a {width:100%;}
	.facebookWrapper {width:40%; margin-left:0;}
	.fbWrapper .mvArea a {width:100%;}
	.interviewWrap {width:20%;}
	.todaysWork {padding-left:20px; width:100%; box-sizing:border-box;}
	.introArea {display:none;}
	.quickDateWork .qdWrap {width:100%;}
}

@media screen and (max-width:1080px) { 
	.grid .cell {width:17%;}
	.grid span.names {font-size:12pt;}
	.grid span.dates {font-size:9pt}
}

@media all and (max-width:950px) {
	header nav .submenu#submenu1 { margin:0 0 0 0%; }
	header nav .submenu#submenu2 { margin:0 0 0 0%; }
	header nav .submenu#submenu3 { margin:0 0 0 0%; }
	header nav .submenu#submenu4 { margin:0 0 0 0%; }
	header nav .submenu#submenu5 { margin:0 0 0 0%; }
	.location {border-bottom:0px;}
	.location .inner {width:100%;}
	#moe_allmenu > div {width:100%;}
	footer a.btmLogo {position:static; margin:25px auto 15px; width:180px; display:block;}
	footer a.btmLogo img {margin:0 auto;}
	footer .drops {position:static; margin-bottom:15px;}
	footer .dropdown {width:100%;}
	.btm_info {position:static;}
	.btm_info .name {text-align:justify; text-align:center;}
	.btm_info address, .btm_info .copyright {text-align:center;}
	.contentWrap .contents section {border-top:1px solid #ddd;}
	.col_bar {margin: 20px auto; height:15px;}
	.contentWrap .contents section .title span.subTitle_txt {font-size:15pt;}
	.contentWrap .contents section .title {font-size: 15pt; line-height:27px;}
	.grid .cell {margin-right:25px; margin-bottom:25px;}
	.ministerWork .mwGallery .mwList {width:49%; float:left; margin-right:0;}
	.ministerWork .mwGallery .mwList:nth-child(2n) {width:49%; float:right; margin-right:0;}
	.modalImg img {height:350px!important; max-height: 100%; max-width: 100%;}
	.moHide {display:none!important;}
	.speakMinister .txtArea {display:none;}
	.speakMinister .photoArea img {width:100%;}
	.speakMinister .photoArea {top:15px; left:50%; margin-left:-78px;}
	.speakMinister .msBtnBottom a {padding: 0 10px 0 0;}
	.speakMinister .msBtnBottom a:nth-child(2n) {padding: 0 0 0 5px;}
	.mainWrapper .mainContent .mainVideo {width:35%;}
	.facebookWrapper {width:35%; margin-left:0;}
	.interviewWrap {width:30%;}
	.ministerTalk .caution {padding: 10px 20px; box-sizing:border-box; line-height:21px;}
	.ministerTalk .caution span { background:url('../images/excla.png') no-repeat left 3px;}

	.todaysWork .twWrap .twLeft {width:30%;}
	.todaysWork .twWrap .twRight {width:70%;}
}

@media all and (max-width:768px) {
	.dp_pc {display:none;}
	.mb_block {display:block;}
	.mb_hidden, .mb_hidden * {display:block !important; position:fixed !important; top:-500000px !important; margin:0px !important; padding:0px !important; width:0px !important; height:0px !important; text-indent:-50000px !important; font-size:0px !important; line-height:0px !important; border:0px !important;}		
	.pc_hidden {display:block;}
	header {height:76px;}	
	header h1 {left:20px;}
	header nav h2 a {position:absolute; z-index:3; top:15px; right:15px; display:block; width:46px; height:46px; background:#4165CD url('../images/menu_btn.png') no-repeat center; background-size:18px; text-indent:-9999px; transition:0.3s all ease;}
	header nav h2 a.on {background-image:url('../images/all_close.png');}
	header nav #lnb {overflow:inherit; position:absolute; z-index:100; top:76px; width:100%;}
	header nav #lnb>li {width:100% !important; background:#01b1af; border-bottom:1px solid #008f8d; padding: 0px;}
	header nav #lnb>li>a {padding:15px 20px; color:#ffffff; text-align:left; font-size:16px; font-weight:300;}
	header nav #lnb>li>a.on {color:#ffffff; }
	header nav #lnb > li:last-child {background:#01b1af; padding: 0;}
	header nav .submenu {position:static; margin:0 !important; width:100%; background:#ffffff;}
	header nav .submenu ul li a {padding:10px 20px; border:0px; color:#333333; text-align:left; border-bottom:1px solid #ddd;}
	header nav .submenu ul li a:hover {background:#ececec; }
	.moe_all_btn a {display:none;}
	.btm_visitor, .btm_menu {display:none;}
	#data_control {margin:20px 0 0;}
	.location {display:none;}
	#content {border-top:1px solid #ddd;}
	#moe_allmenu > div {width:100%;}
	.contentWrap .contents section .title span.subTitle_txt {font-size:12pt;}
	.contentWrap .contents section .title {font-size: 12pt; line-height:22px;}
	.ministerGreet .mgLeft {float:none; width:100%; text-align:center;}
	.ministerGreet .mgLeft img {width:50%;}
	.ministerGreet .mgRight {float:none; width:90%; border-top:1px dashed #ddd; padding-top:20px; margin:0 auto;}
	.btmEdu {padding-bottom:40px;}
	.signArea {bottom:30px;}
	.ministerProfile .mpLeft {float:none; width:90%; margin:0 auto;}
	ul.list-moe li span {display:block;}
	.ministerProfile .mpRight {float:none; width:90%; margin:20px auto 0;}
	.ministerProfile .mpWrap {height:auto;}
	.ministerProfile .mpWrap .mpFile {position:static; margin:0 auto; left: auto;}
	.ministerProfile .mpWrap .mpInfo {position:relative; width:90%; margin:0 auto; height:180px; left:auto;}
	.showmpInfo {position:absolute; padding-left:0; left:50%; margin-left: -125px;}
	.contentWrap .contents .ctTitle {display:block;}
	.grid .cell {height:190px; margin-right:20px; margin-bottom:20px;}
	.grid .cell img {width: 80px; height:80px; margin-left:-40px;}
	.grid span.names {font-size:10pt!important; top:120px;}
	.grid span.meth {top:90px;}
	.grid span.methTwo {top:90px;}
	.grid span.dates {top:145px;}
	.modalImg img {height:300px!important; max-height: 100%; max-width: 100%;}
	.working {width:100%; margin-top:20px; height:260px;}
	.speakMinister {width:100%;}
	.speakMinister .msBtnBottom a {padding: 0 25px 0 0;}
	.speakMinister .msBtnBottom a:nth-child(2n) {padding: 0 0 0 25px;}
	.visualWrap {height:820px;}
	.speakMinister .photoArea {left:35%;}
	.speakMinister .txtArea {display:block; left: 55%;}
	.mainWrapper .mainContent .mainVideo {width:49%;}
	.facebookWrapper {width:49%; margin-left:2%;}
	.interviewWrap {width:100%; margin-top:20px; background:#384b85;}
	.interviewList a {text-align:left;}
	.fileUpload ul li a {text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width:70%;}

	.n0227Wrap {width:100%;}
	.mtSelect01 {width:100%;}
	.mtSelect02 {width:100%;}
	.mtSelect03 {width:100%; margin-left:0px;}
	.mtSelect04 {width:100%; margin:0;}
	.mtSelect05 {width:100%; margin:0;}
	.mtSelect06 {width:100%; margin-left:0px; margin-top:0;}
	.selectMinisterTalk h3 {font-size:14pt; line-height:25px;}
	.newTitle0227 {line-height:37px;}
}

@media all and (max-width:650px) {
	.grid span.methTwo {width:auto; padding:3px 5px; margin-left:-35px;}
	.grid .cell img {width:60px; height:60px; margin-left:-30px;}
	.grid .cell {margin-right:15px; margin-bottom:15px;}
	.modalImg img {height:270px!important; max-height: 100%; max-width: 100%;}
	.writeInfo {margin-top:20px; border-top:1px solid #ddd; padding-top:15px;}
	span.wteam {width:49%; margin:0; text-align:center;}
	.s15p {width:25%;}
	.s85p {width:75%;}
	.size-20p {width:50%;}
	.size-40p {width:100%;}
	.board_write span.message {margin-left:0px; margin-top:3px;}
	.ministerTalkInsert .caution {padding: 10px 20px; box-sizing:border-box; line-height:21px;}
	.ministerTalkInsert .caution span {background:url('../images/excla.png') no-repeat left 3px;}
	.identContent .apply {padding: 10px 20px; box-sizing:border-box; line-height:21px;}
	.jfilestyle input[type="text"] {width:100px!important;}
	.todaysWork .twWrap .twLeft {width:35%;}
	.todaysWork .twWrap .twRight {width:65%;}
	.BreakingNewsController ul li a {text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width:80%;}
	.selectMinisterTalk .list {width:50%}
	.newTitle0227 {line-height:37px;}
	ul.list-n0227List li br {display:none;}
}

@media all and (max-width:520px) {
	.todaysWork .twWrap .twLeft {width:40%;}
	.todaysWork .twWrap .twRight {width:60%;}
	.BreakingNewsController ul li a {text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width:50%;}
}

@media all and (max-width:480px) {
	body { min-width:320px; }
	#gnb ul.gnb_menu li.login { margin-right:10px; }	
	.btm_info .name {font-size:9pt; letter-spacing:-1px; line-height:18px;}
	.btm_info address, .btm_info .copyright {font-size:7pt;}
	.grid .cell {width:49%!important; margin-right:1%; float:left; margin-bottom:10px;}
	.grid .cell:nth-child(2n) {width:49%!important; margin-right:0; float:right;}
	.grid span.names {font-size:13pt!important;}
	.ministerWork .mwGallery .mwList {width:100%; float:none;}
	.ministerWork .mwList:nth-child(2n) {width:100%!important; float:none!important; margin-right:0;}
	.modalImg img {height:210px!important; max-height: 100%; max-width: 100%;}
	table.tbl_normal td a {line-height:22px;}
	.speakMinister {position:relative; width:100%; background:#5b5c57 url('../images/speakMsBg.png') repeat-x top center;}
	.speakMinister .photoArea {position:absolute; top:15px; left:15px; margin:0;}
	.speakMinister .txtArea {display:block; position:absolute; top:30px; left:55%;}
	.mainWrapper .mainContent .mainVideo {width:100%;}
	.facebookWrapper {width:100%; margin-left:0; margin-top:20px;}
	.todaysWork .twWrap .twLeft {width:50%;}
	.todaysWork .twWrap .twRight {width:50%;}
	.BreakingNewsController ul li a {text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width:30%;}
	.newTitle0227 {letter-spacing:-1px;}
	.mtSelect01 {width:100%; padding: 40px 10px 20px;}
	.mtSelect02 {width:100%; padding: 40px 10px 20px;}
	.mtSelect03 {width:100%; margin-left:0px; padding: 40px 10px 20px;}
	.mtSelect04 {width:100%; margin:0; padding: 40px 10px 20px;}
	.mtSelect05 {width:100%; margin:0; padding: 40px 10px 20px;}
	.mtSelect06 {width:100%; margin-left:0px; margin-top:0; padding: 40px 10px 20px;}
}

@media all and (max-width:410px) {
	.s15p {width:30%;}
	.s85p {width:70%;}
	.size-20p {width:100%;}
	.size-40p {width:100%;}
	.board_write span.message {line-height:21px;}
	.jfilestyle input[type="text"] {width:50px!important;}	
}

@media all and (max-width:380px) {
	.todaysWork .twWrap .twLeft {width:60%;}
	.todaysWork .twWrap .twRight {display:none;}
	.selectMinisterTalk .list {width:100%}
}






/* 2019 추가 */

@media all and (max-width:1199px) {
	.leftArrow {position:absolute; top:30%; left:0; margin-top:-25px;}
	.rightArrow {position:absolute; top:30%; right:0; margin-top:-25px;}
	.leftArrow img,
	.rightArrow img {width:30px!important; height:50px!important; padding:0!important;}
}

@media all and (max-width:768px) {
	.leftArrow {position:absolute; top:25%; left:0; margin-top:-25px;}
	.rightArrow {position:absolute; top:25%; right:0; margin-top:-25px;}
}

@media all and (max-width:650px) {
	.leftArrow {position:absolute; top:20%; left:0; margin-top:-25px;}
	.rightArrow {position:absolute; top:20%; right:0; margin-top:-25px;}
}

@media all and (max-width:480px) {
	.leftArrow {position:absolute; top:15%; left:0; margin-top:-25px;}
	.rightArrow {position:absolute; top:15%; right:0; margin-top:-25px;}
}



/* 2019 1월 15일 추가 */

@media all and (max-width:1199px) {	
	.owl-buttons {position:relative; top:-250px; left:0; z-index:999;}
	.owl-buttons .owl-prev img {max-width:50px; height:50px!important;}
	.owl-buttons .owl-next img {max-width:50px; height:50px!important;}
}

@media all and (max-width:768px) {
	.workContent .wcPlace {background:#f4f4f4;}
	.workContent .wcPlace a img {width:auto; margin:0 auto;}
	.owl-buttons {position:relative; top:-220px; left:0; z-index:999;}
}

@media all and (max-width:650px) {
	.owl-buttons {position:relative; top:-200px; left:0; z-index:999;}
}

@media all and (max-width:480px) {
	.owl-buttons {position:relative; top:-50px; left:0; z-index:999;}
}


/* 20220511 수정 준비중*/
@media all and (max-width:1199px) {	
    .preparation >div{padding: 20px 20px 30px;}
}