#wrap{min-width:1390px;}

/* Skip Navi */
.skip_navi_w .skip_navi { position:absolute; width:100%; top:-36px; left:0px; display:block; font-size:1.3em; text-align:center; z-index:999; }
.skip_navi_w a.skip_navi02 {position:absolute; width:100%; height:60px; line-height:60px; top:-10000px; left:0px; display:block; font-size:1.3em; text-align:center; z-index:999; }
.skip_navi_w a.skip_navi02:hover, a.skip_navi02:focus, a.skip_navi02:active { position:absolute; background-color:#466db1; color:#fff; font-weight:bold; top:36px; z-index:999; }

/*--------------------------------//header 부분--------------------------------*/
#header .hMain .Mobile_search{display:none;}

#header{overflow:hidden;}
#header .hMain{width:1390px; padding: 20px 0 20px 0; margin:0 auto; overflow:hidden;}

/*로고*/
#header .hMain .hLogo{margin:21px 0 0 28px; background-color:white; float:left;}

/*검색창*/
#header .hMain .search_chang{width:55%; height:40px; float:left; margin:28px 0 0 97px;  border:3px solid #004f96;}
#header .hMain .search_chang fieldset{border:0;}
#header .hMain .search_chang .sc_input{width:90%; padding:11px 0; margin-left:8px; border:none; font-size:1.2em; float:left;}
#header .hMain .search_chang input[type=text]::-ms-clear{display:none;}
#header .hMain .search_chang .search_arrow{width:10px; margin:13px 0 0 3%; float:left;}

/*검색어자동완성*/
#header .hMain .search_chang .search_arrow_off{width:10px; margin:13px 0 0 3%; float:left;}
.search_arrow_off{display:none;}
#rcmdResult{display:none;}
#rcmdResult {position: absolute; top:91px; width: 770px; padding: 5px 5px; box-sizing: border-box; border: 3px solid #004f96; background: #fff; z-index: 9999;margin-left: -3px;}
.autoList li { display: block; padding: 3px; font-size: 1.2em; color: #000; list-style: none; line-height: 19px; }
.autoList li a { color: #000; }
.autoList li a strong { color: #d12a07; }

/*검색 버튼*/
#header .hMain .search{width:5%; margin:28px 0 0 12px; float:left;}
#header .hMain .search input{width:100%; height:46px; border:none; background-color:#004f96; color:#fff; font-size:1.2em;}

/*상세검색 버튼*/
#header .hMain .detatil_search{width:5%; margin:28px 0 0 5px; float:left;}
#header .hMain .detatil_search input{width:100%; height:46px; border:none; background-color:#464646; color:#fff; font-size:1.2em;}

/*결과내 재검색*/
#header .hMain .result_chang{width:8%; background-color:white; margin:40px 0 0 20px; float:left; font-size:1.2em;}
#header .hMain .result_chang span{vertical-align:1px;}
#header .hMain .result_chang span label{cursor:pointer;}
/*-header 부분*/


/*relation(연관검색어) 부분*/
#relation{background-color:#004f96; overflow:hidden;}
#relation .relation_search{width:1390px; margin:0 auto; padding: 11px 0 10px;}
#relation .relation_search .rs_Bar{width:69%; margin:0 auto; word-spacing: 14px; padding-left: 127px; line-height: 32px;}
#relation .relation_search .rs_Bar li{display:inline; color:#fff; font-size:14px;}
#relation .relation_search .rs_Bar a:link{color:#fff;}
#relation .relation_search .rs_Bar a:visited{color:#fff;}
#relation .relation_search .rs_Bar .rsText{padding:4px 9px 4px 9px; border:1px solid #fff;}
/*--------------------------------relation(연관검색어) 부분//--------------------------------*/

/*상세검색 화면*/
.detail_wrap{border-bottom:1px solid #ddd; background-color:#fbfbfb;}
.detail_wrap .Fdetail{width:815px; padding:10px 0 10px 10px;  color:#666; margin:0 auto; overflow:hidden; font-size:14px;}
.detail_wrap .Fdetail ul{overflow:hidden;}
.detail_wrap .Fdetail .detail_title{float:left; margin-left:40px;}
.detail_wrap .Fdetail .detail_title a{color:#666;}
.detail_wrap .Fdetail .detail_title:first-child{ margin-left:0;}
.detail_wrap .Fdetail .detail_title .arrow{font-size:7px; vertical-align:2px;}
.detail_wrap .Fdetail .detail_title .detail_box_sort{border: 1px solid #4a4a4a; padding: 3px 10px; position: absolute; top: 216px; background-color: #fff; width: 115px; font-size: 12px; line-height: 25px; z-index: 999;}
.detail_wrap .Fdetail .detail_title .detail_box_period{border: 1px solid #4a4a4a; position: absolute; top: 216px; background-color: #fff; width: 135px; font-size: 12px; line-height: 25px; z-index: 999;}
.detail_wrap .Fdetail .detail_title .detail_box_period ul{padding:3px 10px;}
.detail_wrap .Fdetail .detail_title .detail_box_region{border: 1px solid #4a4a4a; padding: 3px 10px; position: absolute; top: 216px; background-color: #fff; width: 115px; font-size: 12px; line-height: 25px; z-index: 999;}
.detail_wrap .Fdetail .detail_title .detail_box_search{border: 1px solid #4a4a4a; padding: 3px 10px; position: absolute; top: 216px; background-color: #fff; width: 115px; font-size: 12px; line-height: 25px; z-index: 999;}
.detail_wrap .Fdetail .detail_title .detail_box_period .detail_calendar{border-top:1px solid #e4e4e4; padding:3px 10px;}
.detail_wrap .Fdetail .detail_title .detail_box_period .detail_calendar .calendar_search{width: auto; overflow: hidden; margin-bottom: 5px;}
.detail_wrap .Fdetail .detail_title .detail_box_period .detail_calendar .calendar_search input[type="text"]{width: 100%; box-sizing: border-box; padding:7px 5px; border: 1px solid #d0d0d0;}
.detail_wrap .Fdetail .detail_title .detail_box_period .detail_calendar .calendar_search a{position: absolute; top: 165px; left: 105px;}
.detail_wrap .Fdetail .detail_title .detail_box_period .detail_calendar .calendar_search .cal_en{position: absolute; top: 201px; left: 105px;}
.detail_wrap .Fdetail .detail_title .detail_box_period .detail_calendar .calendar_search input[type="button"]{width: 100%; padding:5px 0; font-weight:bold; background:#fff; color:#333; border: 1px solid #d0d0d0;}
.detail_wrap .Fdetail .detail_title .option_choice .option .option_on{background-color:#f9fafb; border:1px solid #dde1e5; font-size:12px; padding:2px 4px; color:#b4b6bc;}
.detail_wrap .Fdetail .detail_title .option_choice .option .option_off{background-color:#fff; border:1px solid #babec5; font-size:12px; padding:2px 4px;}

/*모바일 네비게이션(메뉴)*/
.nav-wrap{display:none;clear:both;position:relative;height:40px;overflow:hidden;border-bottom:1px solid #e1e4e7;background:#fff;margin-top:5px;}
.nav-wrap button{width:45px;height:39px;position:absolute;right:0px;bottom:0px;z-index:0;text-align:center; background-color:#fff; border:0;}
.nav-wrap button span.dot{width:23px;height:15px;background-position:-8px -92px }
nav{padding-right:45px;}
nav:after{content:"";display:block;clear:both;}
nav .gnb li{float:left;height:40px;width:16.66666666666667%;text-align:center}
nav .gnb li a{display:block;font-size:15px;color:#333;font-weight:bold;line-height:40px;background:url(../images/bg-gnb-line.gif) no-repeat right center;letter-spacing:-1px;font-family:-webkit-pictograph;}
/*nav .gnb li a.active{color:#008dd2;}*/
.nav-wrap button.open span.nav-close{display:none;}
.nav-wrap button.open span.dot{display:inline-block;}
.nav-wrap button.close span.nav-close{display:block; font-size:14px;}
.nav-wrap button.close span.dot{display:none;}
/* icon set */
span.ico-set{display:inline-block;vertical-align:middle;background-image:url(../images/ico-set.png);background-repeat:no-repeat;}
span.ico-set.map-point{width:17px;height:14px;background-position:-6px -27px;margin-left:3px;text-indent:-9999px;vertical-align:top;display:inline-block;}
span.ico-set.map-point a{display:block;width:17px;height:14px;}


@media screen and (max-width: 480px){ 
	nav .gnb li{width:33.333333%}
}
@media screen and (max-width: 360px){ 
	nav .gnb li{width:33.333333%}

}

/*모바일 상세검색*/
legend{position: absolute; width: 0; height: 0; overflow: hidden; font-size: 0; line-height: 0;}
.align_kind{overflow:hidden; display:none;}
.align_kind > ul{width:100%;max-width:1200px;margin:0 auto; overflow:hidden; border-bottom: 1px solid #ddd;}
.align_kind > ul > li{float:left;position:relative;width:50%;}
.align_kind > ul > li:first-child {width:100%;}
.align_kind button{display:block;width:100%; padding:0 24px; text-align:left; border:0; background-color:#f7f7f7;}
.align_kind button span{display:block;padding:0 3px 0;background:url("../images/align_bul.png") no-repeat right 50%;color:#333;font-size:13px;font-weight:bold;line-height:32px;}
.kind_date{border-right:1px solid #ddd !important;}
.kind_line{border-bottom:1px solid #ddd !important;}
.detail_region{border-left:1px solid #ddd !important;}
.kind_detail{width:100%; padding:1px 0; background-color:#fafafa;  margin-left:-1px;}
.detail_array{border-bottom:1px solid #ddd;}
.detail_date{border-right:1px solid #ddd;}
.kind_detail .kind_btn{margin:15px;}
.kind_detail .kind_btn li{margin:15px 0 0 0;}
.kind_detail .kind_btn li:first-child{margin:0;}
.kind_detail .kind_btn li > a,.kind_detail .kind_btn li > button,.kind_detail .kind_btn li > input[type="button"]{display:block;padding:9px 0;background-color:#f5f5f5;color:#333;font-size:13px;line-height:15px;text-align:center;}
.kind_detail .kind_btn li > a:hover,.kind_detail .kind_btn li > a.on,.kind_detail .kind_btn li > button:hover,.kind_detail .kind_btn li > button.on,.kind_detail .kind_btn li > input[type="button"]:hover,.kind_detail .kind_btn li > input[type="button"].on{background-color:#466db1;color:#fff;}
.kind_detail .search_term{margin:-15px 15px 15px 15px;}
.search_term label{display:block;margin:15px 0 5px; font-size:13px;}
.search_term .term{display:block;position:relative;height:35px;padding:0 45px 0 10px;background-color:#fff;}
.search_term .term input[type="text"], .search_term .term input[type="date"]{width:100%;height:36px;background-color:#fff;font-size:12px;border:none;color:#333;line-height:35px;vertical-align:middle;}
.search_term .term a,.search_term .term button,.search_term .term input[type="button"]{display:block;position:absolute;top:0;right:10px;width:35px;height:35px;background:url("../images/cal_icon.png") no-repeat 50%;color:transparent;font-size:1px;line-height:0;}
.search_term .term_search_btn{display:block;width:100%;height:35px;margin:5px 0 0 0;background-color:#3e3e3e;border:none;color:#fff;font-size:15px;line-height:35px;}

/*--------------------------------//search_second(검색결과) 부분--------------------------------*/
#search_second{padding:15px 0;}
#search_second p{text-align:center; font-size:1.5em;}
#search_second p span{color:#ef212f; font-weight:700;}
/*--------------------------------search_second(검색결과) 부분//--------------------------------*/


/*--------------------------------//contents 부분--------------------------------*/
#contents{border-top:1px solid #ebebeb; overflow:hidden;}
#contents .cMain{width:1390px; margin:0 auto; overflow:hidden;}

/*content 메뉴*/
#contents .cMain .cMenu{float:left; position:relative;}
#contents .cMain .cMenu li{font-size:1.3em; border-bottom:1px solid #e6e6e6; color:#666; border-left:1px solid #e6e6e6;}
#contents .cMain .cMenu .on{color:#000; font-weight:bold;}
#contents .cMain .cMenu li a{width:195px; height:25px; padding:22px 30px 15px 20px; display:block; color:#333;}
#contents .cMain .cMenu .Mtitle{float:left; overflow:hidden;}
#contents .cMain .cMenu .Marrow{text-align:right; overflow:hidden; vertical-align:-3px;}

#contents .cMain .cM_expression{width:25%; height:6px; background-color:#004f96; position:absolute; top:0;}

/*----//contents 왼쪽 본문----*/
/*검색도움말*/
.search_helf{min-height:820px; margin-top:20px;}
.search_helf p{font-size:1.2em; line-height:25px;}

.error_Box{margin:0 auto; padding: 30px 0 0 45px;}
.error_Box:after{content:"";clear:both;display:block}
.error_Box .left_bx{overflow:hidden;float:left; margin:0;padding:28px 0 0 0}
.error_Box .right_bx{float:left;width:70%;padding:35px 0 0 0}
.error_Box .right_bx .title{display:block; font-size:47px; line-height:50px; color:#515d9f; font-weight:600; font-family:"Arial"}
.error_Box .right_bx .title2{display:block; font-size:27px; margin-left:-12px; line-height:47px; color:#444444; font-weight:600; font-family:"Nanum Gothic"}
.error_Box .right_bx .er_text{font-size:1.2em; line-height: 25px;}

.basic_list{font-size:1.2em; line-height: 25px;}

/*color set*/
.red{color:#d12a07 !important}
.orange{color:#b70000 !important}
.black{color:#1f1f1f !important}
.blue{color:#3d68c9; !important}
.blue2{color:#3d68c9; font-size:1.2em; line-height: 25px; !important}
.green{color:#579f2a !important}
.bk_b{color:#1f1f1f !important;font-size:19px;font-weight:600}
.gray{color:#2F3135 !important}
.sf{font-size:12px;}
.under{text-decoration:underline}

/* margin */
.mt_0 {margin-top:0px!important}
.mt_5 {margin-top:5px}
.mt_10{margin-top:10px !important}
.mt_15{margin-top:15px}
.mt_20{margin-top:20px !important}
.mt_25{margin-top:25px}
.mt_30{margin-top:20px !important}
.mt_35{margin-top:35px}
.mt_40{margin-top:40px !important}
.mt_45{margin-top:45px !important}
.mt_50{margin-top:50px !important}

/*헤딩스타일*/
.search_helf h3{line-height:150%; padding-bottom:0; margin:0 0 20px 0; font-size:16px;color:#333;}
.search_helf h4{line-height:150%;padding-bottom:0;margin:0 0 10px 0;font-size:1.4em;color:#333;}
.search_helf h4 span{font-size:12px;color:#7d7d7d;font-weight:normal}
.search_helf h5{line-height:150%;font-family:"Nanum Gothic";padding-bottom:0;margin:10px 0 2px 0;font-size:15px;color:#1F4FA3}

/*공통*/
#contents .cMain .Cmenu_Title{color:#333; font-weight: bold;}
#contents .cMain .Cmenu_Title li{display:inline; font-size:22px;}
#contents .cMain .Cmenu_Title li:nth-child(2){font-size:18px; margin-left:5px;}

#contents .cMain .cLeft .C_SubMenu{
	border: 1px solid #ddd;
    padding: 16px 7px;
    overflow: hidden;
    font-size: 14px;
    margin-top: 10px;
    background-color: #fbfbfb;
}
#contents .cMain .cLeft .C_SubMenu ul li{float:left; border-right:1px solid #333; text-align:center; line-height:14px;}
#contents .cMain .cLeft .C_SubMenu ul li:last-child{border-right:0;}
#contents .cMain .cLeft .C_SubMenu ul li a{color:#333; padding:0 10px;}

#contents .cMain .cLeft .C_body{padding: 20px 0 20px 0;  border-top: 1px solid #ebebeb; margin-top:-1px;}
#contents .cMain .cLeft .C_body .C_Cts{margin-top:10px; line-height:25px; overflow:hidden;}
#contents .cMain .cLeft .C_body .C_Cts .keyword{color:#eb640e;}
#contents .cMain .cLeft .C_body .txt{font-size:15px;}
#contents .cMain .cLeft .C_body .txt a{text-decoration:underline;}
#contents .cMain .cLeft .C_body .txt a:link{color:#004f96;}
#contents .cMain .cLeft .C_body .txt2{
	font-size: 14px;
	line-height: 23px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#contents .cMain .cLeft .C_body .C_Cts .L_image{float:left; width:125px; line-height:120px; margin-right:10px; border:1px solid #ddd;}
#contents .cMain .cLeft .C_body .C_Cts .L_image img{width:100%; vertical-align:middle;}

#contents .cMain .cLeft .C_body .txt3{font-size:13px; color:#777; font-style:normal;}
#contents .cMain .cLeft .C_body .txt4{font-size:13px; color:#218d44; font-style:normal;margin-right:8px;}
#contents .cMain .cLeft .C_body .txt4 img{vertical-align:-1px; margin-right:1px;}
#contents .cMain .cLeft .C_body .txt3 .FreeIcon{vertical-align:-3px; margin-right:3px;}
#contents .cMain .cLeft .C_body p{margin:25px 0 0 705px; font-size:13px; width:55px; color:#3d68c9; cursor:pointer;}
#contents .cMain .cLeft .C_body .btn.dgray {background: #004f96; padding: 0px 10px 0px 10px;}
#contents .cMain .cLeft .C_body .wGun{font-size:14px; color:#777777; margin-left:5px; vertical-align:-1px;}
#contents .cMain .thebogi{font-size: 13px; overflow: hidden; text-align: right; padding-top: 12px;}
#contents .cMain .thebogi a{color:#004f96;}
#contents .cMain .R_dir{float: left;}
#contents .cMain .dir{padding-top:2px;}
#contents .cMain .dir .category{height:28px; padding:0 5px; font-size:12px;}
#contents .cMain .dir select{color:#333; border:1px solid #a9a9a9;}
#contents .cMain .dir select::-ms-expand {border:0; background-color:#FFF; color:#333;}
#contents .cMain .dir input[type="button"], input[type="reset"], input[type="submit"] , textarea{
    width: auto;
    height: 28px;
    padding: 4px 5px;
    margin: 0;
    border: 1px solid #4a4e5a;
    background: #4d515e;
    font-weight: 700;
    color: #fff;
	vertical-align:-1px;
	font-size: 12px;
}

/*통합검색*/
#contents .cMain .cLeft{width:55.7%; min-height:1130px; padding:0 30px 30px 30px; border-right:1px solid #ebebeb; border-left:1px solid #ebebeb; float:left;}
#contents .cMain .cLeft .integration_sc{ padding:20px 0 20px 0; border-top: 1px solid #ebebeb; margin-top:-1px; margin-top:-1px;}
#contents .cMain .cLeft .integration_sc .integration_box{margin-top:10px; padding: 8px; border:1px solid #e2e2e2; background: url(../images/search_box_bg.gif) repeat;}
#contents .cMain .cLeft .integration_sc .integration_txt2{overflow:hidden; font-size:14px; background-color:#fff; padding: 5px 0 5px 40px;}
#contents .cMain .cLeft .integration_sc .integration_txt2 li{display:list-item; list-style-type:disc; float:left; line-height:26px; width:33%;}
#contents .cMain .cLeft .integration_sc .integration_txt2 a:link{color:#333;}
#contents .cMain .cLeft .integration_sc .integration_txt2 a:visited{color:#333;}

/*바로가기 및 컨텐츠 가이드*/
#contents .cMain .cLeft .intro {padding: 20px 0 20px 0; overflow: hidden;  border-top: 1px solid #ebebeb; margin-top:-1px;}
#contents .cMain .cLeft .intro ul{overflow:hidden;}
#contents .cMain .cLeft .intro li{overflow:hidden;}
#contents .cMain .cLeft .intro p {float:left; width:158px; padding:44px 0; border:1px solid #ccc; text-align:center;}
#contents .cMain .cLeft .intro p img {width:118px;}
#contents .cMain .cLeft .intro dl {float:left; width:563px; margin:-4px 0 0 20px;}
#contents .cMain .cLeft .intro dt.tit {font-weight:bold; font-size:14px; color:#0000cc;}
#contents .cMain .cLeft .intro dt {clear:both; float:left; line-height:23px; color:#767676; /*padding-left:8px; background:url('../img/bl.gif') no-repeat 0 8px;*/}
#contents .cMain .cLeft .intro dd {line-height:27px !important; padding-left:5px; overflow:hidden; text-align:left;}
#contents .cMain .cLeft .intro a {font-size:12px; color:#fa6800; text-decoration:underline;}
#contents .cMain .cLeft .intro .si_main{overflow:hidden;}
#contents .cMain .cLeft .golink {padding:20px 0 20px 0; overflow:hidden; border-top: 1px solid #ebebeb; margin-top:-1px;}
#contents .cMain .cLeft .golink .btn {margin-right:3px;}
#contents .cMain .cLeft .golink .btn img {vertical-align:-4px;}
#contents .cMain .cLeft .golink .lnk {color:#0000cc;}
#contents .cMain .cLeft .golink .link_tit {
    display: inline-block;
    float: left;
    height: 28px;
    padding: 3px 15px;
    margin: 0 20px 0 0;
    border: 1px solid #7a7e91;
    background: #8b90a4;
    font-weight: bold;
    font-size: 1.167em;
    line-height: 19px;
    color: #fff;
    letter-spacing: -0.05em;
    vertical-align: middle;
}
#contents .cMain .cLeft .golink .link_tit span {line-height: 2em; font-size:15px;}
#contents .cMain .cLeft .golink .link_url {display: inline-block; float: left; margin: 1px;}
#contents .cMain .cLeft .golink .link_url a {display: block; float: left; margin-right: 5px; line-height: 2em;}
#contents .cMain .cLeft .golink .link_url a .goTitle {font-weight: 700; font-size: 16px; color:#666; text-decoration: none;}
#contents .cMain .cLeft .golink .link_url a {color:#666; display: block; float: left; margin-right: 5px; line-height: 2.7em;}
#contents .cMain .cLeft .golink .link_url a span {text-decoration: underline;}

/*메뉴검색*/
#contents .cMain .cLeft .meu_sc{padding: 20px 0 20px 0;  border-top: 1px solid #ebebeb; margin-top:-1px;}
#contents .cMain .cLeft .meu_sc .meu_txt2{margin-top:10px;}
#contents .cMain .cLeft .meu_sc .meu_txt2 li{font-size:15px; display:list-item; line-height:30px; cursor:pointer;}
#contents .cMain .cLeft .meu_sc .meu_txt2 a:link{color:#333;}
#contents .cMain .cLeft .meu_sc .meu_txt2 a:visited{color:#333;}
#contents .cMain .cLeft .meu_sc .meu_txt2 span{font-weight:bold; color:#000;}
#contents .cMain .cLeft .meu_sc .meu_txt2 .gu{font-weight:bold; color:#999;}
#contents .cMain .cLeft .meu_sc p{margin:25px 0 0 705px; font-size:13px; width:55px; color:#3d68c9; cursor:pointer;}

/*직업업무*/
#contents .cMain .cLeft .job_sc{padding: 20px 0 20px 0;  border-top: 1px solid #ebebeb; margin-top:-1px;}
#contents .cMain .cLeft .job_sc .table_wrap{width:100%;overflow:auto}
#contents .cMain .cLeft .job_sc .basic_table{margin:0 0 10px 0;border-top:2px solid #5175b4;line-height:1;word-wrap:break-word}
#contents .cMain .cLeft .job_sc .basic_table th,.basic_table td{padding:8px;font-size:0.96em;border-left:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;line-height:1.75em}
#contents .cMain .cLeft .job_sc .basic_table th:first-child,.basic_table td:first-child{border-left:0 none}
#contents .cMain .cLeft .job_sc .basic_table th{padding:8px 5px;font-weight:600;color:#333333}
#contents .cMain .cLeft .job_sc .basic_table td{color:#545454}
#contents .cMain .cLeft .job_sc .basic_table thead th,.basic_table tbody th{background:#fafafa}
#contents .cMain .cLeft .job_sc .basic_table thead th{border-bottom:1px solid #9c9c9c; background: #f0f8fc; width:40px;}

#contents .cMain .cLeft .job_sc p{margin:25px 0 0 705px; font-size:13px; width:55px; color:#3d68c9; cursor:pointer;}
.w17{width:17%;}
.w16{width:16%;}
.w15{width:15%;}
.w14{width:14%;}
.w13{width:13%;}
.w12{width:12%;}
.w11{width:11%;}
.w10{width:10%;}
#tableContente {margin-top:10px;}
.basic_table tbody tr:nth-of-type(2n+1), .basic_table tbody tr:nth-of-type(2n+1) th {text-align:center; background: #fff;}
.basic_table tbody tr:nth-of-type(2n), .basic_table tbody tr:nth-of-type(2n) th {text-align:center; background: #f8f8f8;}
.tbM{display:none;}
.tbP{display:block;}
.tblHead {font-size: 1.1em;}
/*table mobile-end*/

/*테이블스타일*/
.table_wrap{width:100%;overflow:auto}
.basic_table{width:100%;margin:0 0 10px 0;border-top:2px solid #466db1;line-height:1;word-wrap:break-word; font-size:1.2em;}
.basic_table th,.basic_table td{padding:8px;font-size:0.96em;border-left:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;line-height:1.75em}
.basic_table th:first-child,.basic_table td:first-child{border-left:0 none}
.basic_table th{padding:8px 5px;font-weight:600;color:#333333}
.basic_table td{color:#545454}
.basic_table thead th,.basic_table tbody th{background:#fafafa}
.basic_table thead th{border-bottom:1px solid #9c9c9c; background: #e2e2e2;}
.basic_table tbody th{font-weight:600;color:#111;}
.basic_table tfoot th,.basic_table tfoot th{background:#fafafa;font-weight:normal}
.basic_table ul{text-align:left;margin:0}
.basic_table img{vertical-align:middle;width: 22px;}
.basic_table .ip_mr input{margin:0 20px 0}
.basic_table td label{white-space:pre}

/*미리보기, 페이스북*/
#contents .cMain .cLeft .C_body .C_Cts .t_b2 img{vertical-align:-1px;}
#contents .cMain .cLeft .C_body .tb_txt2{font-size:12px; color:#777777; vertical-align:1px; cursor:pointer;}
#contents .cMain .cLeft .C_body .C_Cts .twitter{color:#00aced; font-weight:bold; vertical-align:1px;}
#contents .cMain .cLeft .C_body .C_Cts .facebook{color:#3a5896; font-weight:bold; vertical-align:1px;}
#contents .cMain .cLeft .C_body .C_Cts .blog{color:#00b62b; font-weight:bold; vertical-align:1px;}
#contents .cMain .cLeft .C_body .C_Cts .gu{color:#999; font-weight:bold; vertical-align:1px;}
/*멀티미디어*/
#contents .cMain .cLeft .multi_sc{padding: 20px 0 20px 0;  border-top: 1px solid #ebebeb; margin-top:-1px;}
#contents .cMain .main_account2_multi{overflow:hidden; margin-top:10px;}
#contents .cMain .main_account2_multi ul:first-child{margin-left:0;}
#contents .cMain .main_account2_multi ul{float:left; width:23.3%; margin-left:16px;}
#contents .cMain .main_account2_multi .multi_IMG{text-align:center; background-color:#f7f7f7; padding:5px; line-height:130px; vertical-align:middle; border:1px solid #ddd; overflow:hidden;}
#contents .cMain .main_account2_multi .multi_TEXT{font-size:13px; padding:4px 3px;}
#contents .cMain .main_account2_multi .multi_TEXT a:link{color:#333;}
#contents .cMain .main_account2_multi .multi_TEXT a:visited{color:#333;}
#contents .cMain .main_account2_multi img{width:auto; height:auto; max-width:100%;  max-height:100%; vertical-align:middle;}

/*SNS*/
#contents .cMain .C_Cts .sns_IMG{float:left; margin-right:10px; overflow:hidden;}
#contents .cMain .C_Cts .sns_IMG img{width:96px; margin-top:3px}

/*블로그*/
#contents .cMain .C_Cts .blog_IMG{float:right; margin-right:10px; overflow:hidden;}
#contents .cMain .C_Cts .blog_IMG img{width:96px;}

/*테블릿 페이징*/
#contents .cMain .cLeft .PC_job_num{margin:0 auto; margin-top:15px; text-align:center; width:auto; font-size:12px;}
#contents .cMain .cLeft .PC_job_num li{border:1px solid #ececec; display:inline-block;}
#contents .cMain .cLeft .PC_job_num .on{border:1px solid #004f96;}
#contents .cMain .cLeft .PC_job_num a{padding:5px 10px; display:block;}
#contents .cMain .cLeft .PC_job_num a:link{color:#333;}
#contents .cMain .cLeft .PC_job_num a:visited{color:#333;}

/*모바일 페이징*/
#contents .cMain .cLeft .M_job_num{margin:0 auto; margin-top:15px; text-align:center; width:auto; font-size:12px; display:none;}
#contents .cMain .cLeft .M_job_num li{border:1px solid #ececec; display:inline-block;}
#contents .cMain .cLeft .M_job_num .on{border:1px solid #004f96;}
#contents .cMain .cLeft .M_job_num a{padding:5px 10px; display:block;}
#contents .cMain .cLeft .M_job_num a:link{color:#333;}
#contents .cMain .cLeft .M_job_num a:visited{color:#333;}

/*----//contents 오른쪽 본문----*/
#contents .cMain .cRight{width:21.9%; padding-bottom:30px; float:left;}

/*분야별 토픽*/
#contents .cMain .cRight .topic{width: 275px; margin: 20px 0 0 20px; position: relative; height: 245px; border-bottom: 1px solid #ddd; padding-bottom: 25px;}
#contents .cMain .cRight .topic a:link{color:#333;}
#contents .cMain .cRight .topic a:visited{color:#333;}
#contents .cMain .cRight .topic h2{font-size:14px;}
#contents .cMain .cRight .topic h2 img{margin-left:156px; vertical-align:-3px;}
#contents .cMain .cRight .topic .tp{width:15px; color:#2d5885; background-color:#fff; border:1px solid #dbdbdb;}
#contents .cMain .cRight .topic .tp_arrow{margin-left:161px;}
#contents .cMain .cRight .topic .topcicContent{overflow:hidden; padding:8px 0 10px 0;}
#contents .cMain .cRight .topic .topcicContent .tc_title_on{border:1px solid #dfdfdf;}
#contents .cMain .cRight .topic .topcicContent a.tc_title_on:link{
width: 24%; text-align: center;
padding-bottom: 5px; padding-top:5px;
float:left;
background-color:#f5f8fa;
border:1px solid #dfdfdf;
}
#contents .cMain .cRight .topic .topcicContent a.tc_title_on:hover, a.tc_title_on:focus, a.tc_title_on:active{
width: 24%;
text-align: center;
padding-bottom: 5px;
padding-top:5px;
float:left;
background-color:#fff;
border:1px solid #dfdfdf;
}
#contents .cMain .cRight .topic .topcicContent .tc_text_on{position:absolute; top:63px; left:16px; line-height: 23px;}
#contents .cMain .cRight .topic .topcicContent .tc_text_on li{list-style-type: disc;}

/*인기 검색어*/
#contents .cMain .cRight .pop_con{width:275px; margin:20px 0 0 20px; position:relative; height: 300px; clear: both; border-bottom: 1px solid #ddd;  padding-bottom: 25px;}
#contents .cMain .cRight .pop_con h2{font-size:14px;}
#contents .cMain .cRight .pop_con .pop_conContent{overflow:hidden; padding:8px 0 10px 0;}
#contents .cMain .cRight .pop_con .pop_conContent .pc_title_on{width: 24%; text-align: center; padding-bottom: 5px; padding-top:5px; float:left; background-color:#fff; border:1px solid #dfdfdf;}
#contents .cMain .cRight .pop_con .pop_conContent .pc_title_out{width: 24%; text-align: center; padding-bottom: 5px; padding-top:5px; float:left; background-color:#f5f8fa; border:1px solid #dfdfdf;}
#contents .cMain .cRight .pop_con .pop_conContent .pc_text_on{width:100%; position:absolute; top:63px; line-height: 23px;}
#contents .cMain .cRight .pop_con .pop_conContent .pc_text_out{display:none;}
#contents .cMain .cRight .pop_con a:link{color:#333;}
#contents .cMain .cRight .pop_con a:visited{color:#333;}
#contents .cMain .cRight .pop_con ol{margin-top:15px; line-height:23px;}
#contents .cMain .cRight .pop_con .pop_num{width:13px; height:13px; margin-right:9px; border:1px solid #e0e0e0; font-size:11px; color:#666666;text-align:center; line-height:13px; display:inline-block; }
#contents .cMain .cRight .pop_con .pop_txt{font-size:13px; cursor:pointer;}
#contents .cMain .cRight .pop_con .arrow_img{margin-left:5px; font-size:11px; color:#666; text-align:left; display:block; overflow:hidden; float: right; width:40px;}
#contents .cMain .cRight .pop_con .arrow_img .popText{display:block; float:right; margin-right:9px;}
#contents .cMain .cRight .pop_con .pop_dat{margin-top:10px; color:#999;}

/*관련 사이트*/
#contents .cMain .cRight .relation_con{width:275px; margin:20px 0 0 20px; position:relative; border-bottom: 1px solid #ddd; padding-bottom: 25px;}
#contents .cMain .cRight .relation_con h2{font-size:14px;}
#contents .cMain .cRight .relation_con ul{margin-top:15px; line-height:23px;}
#contents .cMain .cRight .relation_con .relation_num{color:#5175b4; vertical-align:1px;}
#contents .cMain .cRight .relation_con .relation_txt{font-size:13px; margin-left:10px; cursor:pointer;}
#contents .cMain .cRight .relation_con a:link{color:#333;}
#contents .cMain .cRight .relation_con a:visited{color:#333;}

#contents .cMain .cRight .relation_con .field{margin-left:3px;}
#contents .cMain .cRight .relation_con .field a:hover{color: #ef212f; font-weight: bold;}

/*내가찾은 검색어*/
#contents .cMain .cRight .find_con{width:275px; margin:20px 0 0 20px; padding-bottom: 25px;}
#contents .cMain .cRight .find_con h2{font-size:14px;}
#contents .cMain .cRight .find_con ol{margin-top:15px; line-height:23px;}
#contents .cMain .cRight .find_con .find_num{width:13px; height:13px; margin-right:9px; border:1px solid #e0e0e0; font-size:11px; color:#666666;text-align:center; line-height:13px; display:inline-block; }
#contents .cMain .cRight .find_con .find_txt{font-size:13px; cursor:pointer;}
#contents .cMain .cRight .find_con a:link{color:#333;}
#contents .cMain .cRight .find_con a:visited{color:#333;}
/*----contents 오른쪽 본문//----*/
/*--------------------------------contents 부분//--------------------------------*/

/*--------------------------------//footer 부분--------------------------------*/
#footer{border-top:1px solid #e1e1e1; clear:both;}
#footer .fmedia_lof{display:none;}
#footer .fMain{width:1390px;  margin:0 auto; position:relative; }
#footer .fMain .footer_in{overflow:hidden; padding-left:55px;}
#footer .fMain .sub_pack_btm{position: absolute; bottom: 151px; right:240px;}
#footer .fMain .sub_pack_btm .spim{font-size:10px; margin-right:2px; vertical-align:1px; color:#466db1;}
#footer .fMain .sub_pack_btm a{color:#666;}
/*로고*/
#footer .fMain .logo{padding:43px 0; margin-left:15px; float:left; cursor:pointer;}
/*개인정보 처리방침*/
#footer .fMain .infor_copy{margin:31px 0 0 40px; float:left;}
#footer .fMain .infor_copy li{display:inline; margin-left:12px; font-size:13px; color:#6b6d70;}
#footer .infor_copy li a:link{color:#6b6d70;}
#footer .fMain .infor_copy li a:visited{color:#6b6d70;}
#footer .fMain .infor_copy li a:hover{color:#333333; font-weight:bold;}
#footer .fMain .infor_copy .on a:link, visited{color:#333333; font-weight:bold;}
/*주소*/
#footer .fMain .infor_copy address{margin:23px 0 0 12px; font-size:13px;}
#footer .fMain .infor_copy span{margin-left:30px;}
/*저작권*/
#footer .fMain .infor_copy small{margin-left:12px; font-size:13px; line-height:30px;}
/*--------------------------------footer 부분//--------------------------------*/