/* 회사소개 */
#txt [data-content="1-1"]>.head>.layout::before{background-image:url(../images/content/img-1.jpg);}
#txt [data-js="history"]>.head>span{background-image:var(--image-content);}


/* 비전 */
#txt [data-content="1-2"]>.layout>.head{background-image:url(../images/content/1-2_bg_1.svg);}
#txt [data-content="1-2"]>.layout>.head::after{background-image:url(../images/content/1-2_bg_2.svg);}
#txt [data-content="1-2"]>.layout>.midd>ul>li:nth-child(1)>div:before{background-image:url(../images/content/1-2_simbol_1.svg);}
#txt [data-content="1-2"]>.layout>.midd>ul>li:nth-child(2)>div:before{background-image:url(../images/content/1-2_simbol_2.svg);}
#txt [data-content="1-2"]>.layout>.midd>ul>li:nth-child(3)>div:before{background-image:url(../images/content/1-2_simbol_3.svg);}
#txt [data-content="1-2"]>.layout>.midd>ul>li>ul::before{background-image:url(../images/content/1-2_arrow_1.svg);}

/* 수상 및 인증 */
#txt [data-content="1-3"]>.item-1{background-image:url(../images/content/1-3_1_bg.jpg);}
#txt [data-content="1-3"]>.item-1>.layout>.midd .hot{background-image:url(../images/content/1-3_hot_bg.png);}


/* 오시는 길 */
#txt .map>.midd>ul>li::before,
#txt .map-etc>ul>li::before{background-image:var(--image-content);}


/* 사업분야 */
#txt [data-js="business"] .list>ul>li>a::after{background-image:var(--image-content);}


/* mec·cms */
#txt [data-content="3-1"] .border-box[data-image="1"]{background-image:url(../images/content/3-1_img_1.jpg);}
#txt [data-content="3-1"] .list-1>ul>li:nth-child(1):before{background-image:url(../images/content/3-1_simbol_1.svg);}
#txt [data-content="3-1"] .list-1>ul>li:nth-child(2):before{background-image:url(../images/content/3-1_simbol_2.svg);}
#txt [data-content="3-1"] .list-1>ul>li:nth-child(3):before{background-image:url(../images/content/3-1_simbol_3.svg);}
#txt [data-content="3-1"] .list-1>ul>li:nth-child(4):before{background-image:url(../images/content/3-1_simbol_4.svg);}

#txt [data-content="3-1"] .list-2>ul>li:nth-child(1):before{background-image:url(../images/content/3-1_simbol_5.svg);}
#txt [data-content="3-1"] .list-2>ul>li:nth-child(2):before{background-image:url(../images/content/3-1_simbol_6.svg);}
#txt [data-content="3-1"] .list-2>ul>li:nth-child(3):before{background-image:url(../images/content/3-1_simbol_7.svg);}


/* mec·viewer */
#txt [data-content="3-2"] .border-box[data-image="1"]{background-image:url(../images/content/3-2_img_1.jpg);}
#txt [data-content="3-2"] .border-box[data-image="2"]{background-image:url(../images/content/3-2_img_2.jpg);}
#txt [data-content="3-2"] .list-1>ul>li:nth-child(1):before{background-image:url(../images/content/3-2_simbol_1.svg);}
#txt [data-content="3-2"] .list-1>ul>li:nth-child(2):before{background-image:url(../images/content/3-2_simbol_2.svg);}
#txt [data-content="3-2"] .list-1>ul>li:nth-child(3):before{background-image:url(../images/content/3-2_simbol_3.svg);}
#txt [data-content="3-2"] .list-1>ul>li:nth-child(4):before{background-image:url(../images/content/3-2_simbol_4.svg);}


/* mec·archives */
#txt [data-content="3-3"] .border-box[data-image="1"]{background-image:url(../images/content/3-3_img_1.jpg);}
#txt [data-content="3-3"] .list-1>ul>li:nth-child(1):before{background-image:url(../images/content/3-3_simbol_1.svg);}
#txt [data-content="3-3"] .list-1>ul>li:nth-child(2):before{background-image:url(../images/content/3-3_simbol_2.svg);}
#txt [data-content="3-3"] .list-1>ul>li:nth-child(3):before{background-image:url(../images/content/3-3_simbol_3.svg);}
#txt [data-content="3-3"] .list-1>ul>li:nth-child(4):before{background-image:url(../images/content/3-3_simbol_4.svg);}

#txt [data-content="3-3"] .list-2>div{background-image:url(../images/content/3-3_img_2.svg);}
#txt [data-content="3-3"] .list-2>ul>li:nth-child(1):before{background-image:url(../images/content/3-3_simbol_5.svg);}
#txt [data-content="3-3"] .list-2>ul>li:nth-child(2):before{background-image:url(../images/content/3-3_simbol_6.svg);}
#txt [data-content="3-3"] .list-2>ul>li:nth-child(3):before{background-image:url(../images/content/3-3_simbol_7.svg);}


/* mec·search */
#txt [data-content="3-4"] .border-box[data-image="1"]{background-image:url(../images/content/3-4_img_1.jpg);}
#txt [data-content="3-4"] .list-1>ul>li:nth-child(1):before{background-image:url(../images/content/3-4_simbol_1.svg);}
#txt [data-content="3-4"] .list-1>ul>li:nth-child(2):before{background-image:url(../images/content/3-4_simbol_2.svg);}
#txt [data-content="3-4"] .list-1>ul>li:nth-child(3):before{background-image:url(../images/content/3-4_simbol_3.svg);}
#txt [data-content="3-4"] .list-1>ul>li:nth-child(4):before{background-image:url(../images/content/3-4_simbol_4.svg);}

#txt [data-content="3-4"] .list-2>ul>li:nth-child(1):before{background-image:url(../images/content/3-4_simbol_5.svg);}
#txt [data-content="3-4"] .list-2>ul>li:nth-child(2):before{background-image:url(../images/content/3-4_simbol_6.svg);}
#txt [data-content="3-4"] .list-2>ul>li:nth-child(3):before{background-image:url(../images/content/3-4_simbol_7.svg);}

#txt [data-content="3-4"] .list-3>strong::before{background-image:url(../images/content/3-4_img_2.jpg);}


/* 인재상 */
#txt [data-content="4-1"]>.layout>ul>li:nth-child(1)>strong>span::before{background-image:url(../images/content/4-1_simbol_1.svg);}
#txt [data-content="4-1"]>.layout>ul>li:nth-child(2)>strong>span::before{background-image:url(../images/content/4-1_simbol_2.svg);}
#txt [data-content="4-1"]>.layout>ul>li:nth-child(3)>strong>span::before{background-image:url(../images/content/4-1_simbol_3.svg);}
#txt [data-content="4-1"]>.layout>ul>li:nth-child(4)>strong>span::before{background-image:url(../images/content/4-1_simbol_4.svg);}
#txt [data-content="4-1"]>.layout>ul>li:nth-child(5)>strong>span::before{background-image:url(../images/content/4-1_simbol_5.svg);}
#txt [data-content="4-1"]>.layout>ul>li:nth-child(6)>strong>span::before{background-image:url(../images/content/4-1_simbol_6.svg);}
@media screen and (max-width:600px) {
    #txt [data-content="4-1"]>.layout>ul>li:nth-child(1)::before{background-image:url(../images/content/4-1_simbol_1.svg);}
    #txt [data-content="4-1"]>.layout>ul>li:nth-child(2)::before{background-image:url(../images/content/4-1_simbol_2.svg);}
    #txt [data-content="4-1"]>.layout>ul>li:nth-child(3)::before{background-image:url(../images/content/4-1_simbol_3.svg);}
    #txt [data-content="4-1"]>.layout>ul>li:nth-child(4)::before{background-image:url(../images/content/4-1_simbol_4.svg);}
    #txt [data-content="4-1"]>.layout>ul>li:nth-child(5)::before{background-image:url(../images/content/4-1_simbol_5.svg);}
    #txt [data-content="4-1"]>.layout>ul>li:nth-child(6)::before{background-image:url(../images/content/4-1_simbol_6.svg);}
}


/* 채용안내 */
#txt [data-content="4-2"]>.layout .top-box{background-image:url(../images/content/4-2_top_bg.jpg);}
#txt [data-content="4-2"]>.layout .top-box::after{background-image:url(../images/content/4-2_top_simbol.svg);}