@charset "utf-8";
body#main #container #page-1 #mainMovie::after{
    background-image:var(--main-bg-m);
    -webkit-transition:background 0.3s linear; transition:background 0.3s linear;
}

body#main #container #page-1 .quick>ul>li.btn-map>a{background-image:url(../images/main/quick-1.svg);}
body#main #container #page-1 .quick>ul>li.btn-sangjang>a{background-image:url(../images/main/quick-2.svg);}
body#main #container #page-1 .quick>ul>li.btn-map>a:hover{background-image:url(../images/main/quick-1_on.svg);}
body#main #container #page-1 .quick>ul>li.btn-sangjang>a:hover{background-image:url(../images/main/quick-2_on.svg);}
body#main #container #page-1 .scroll::after{background-image:url(../images/layout/layout.svg);}

html[data-skin="dark"] body#main #container #page-1 .quick>ul>li.btn-map>a{background-image:url(../images/main/quick-1_on.svg);}
html[data-skin="dark"] body#main #container #page-1 .quick>ul>li.btn-sangjang>a{background-image:url(../images/main/quick-2_on.svg);}

body#main #container #page-2 > .layout > .list>ul>li>div::before{background-image:url(../images/main/line.svg);}
body#main #container #page-2 > .layout > .list>ul>li>div::after{background-image:url(../images/main/line_on.svg);}