@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int [data-depart-box="1"] .txts{background-color: #EE9595; background-image: url(../../../images/site/japan/content/hs_box_img01.png);}
.depart_int [data-depart-box="1"] .imgs{background-image: url(../../../images/site/japan/content/hs_box_img02.jpg);}
.depart_int [data-depart-box="1"] .txts .eng,
.depart_int [data-depart-box="1"] .txts .tt{text-shadow: 2px 2px 10px #DB6262;}
.depart_int [data-depart-box="2"]{background-color: #F9F6F1;}
.depart_int [data-depart-box="2"] >ol>li>em:before{background-color: #7E152E;}
[data-depart-box="4"] .tt:first-child .t{background-color: #EE9595; box-shadow: 0px 10px 40px rgba(238, 149, 149, 0.3);}
[data-depart-box="4"] .tt:nth-child(2) .t{background-color: #7E152E; box-shadow: 0px 10px 40px rgba(126, 21, 46, 0.3);}
.depart_int [data-depart-box="5"] >ul.step4>li>strong{border-color: #7E152E;}
.depart_int [data-depart-box="5"] >ul.step4>li:nth-child(2n+2 )>strong{background-color: #EE9595; border-color: #EE9595; color: #fff; font-weight: 400;}
.depart_int [data-depart-box="5"] >ul>li:before, 
.depart_int [data-depart-box="5"] >ul>li:after{background-image: url(../../../images/site/japan/content/data-depart-box05.svg);}
.depart_int [data-depart-box="5"] >ul>li>strong:before{border-color: #7E152E;}
.depart_int [data-depart-box="6"] .wrap .tt{border-color: #F9F6F1;}
.depart_int [data-depart-box="6"] .wrap .xx > ul{background-color: #F9F6F1;}
.depart_int [data-depart-box="6"] .wrap .tt strong:before{background-image: url(../../../images/site/japan/content/data-depart-box06.svg);}
.depart_int [data-depart-box="6"] .wrap .tt strong>span{color: #7E152E}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	소모

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.commun_smg .img_box img{display: block; width: 100%; max-width: 518px;}