@font-face {
	font-family: 'OmniGothic';
    font-style: normal; 
	font-weight: 100 200;
    src: url('./210_OmniGothic-Light.ttf') format('truetype'),
         url('./210_OmniGothic-Light.otf') format('opentype'); 
}
@font-face {
	font-family: 'OmniGothic';
    font-style: normal; 
	font-weight: 300 400;
    src: url('./210_OmniGothic-Regular.ttf') format('truetype'),
         url('./210_OmniGothic-Regular.otf') format('opentype');  
}
@font-face {
	font-family: 'OmniGothic';
    font-style: normal; 
	font-weight: 500;
    src: url('./210_OmniGothic-Medium.ttf') format('truetype'),
         url('./210_OmniGothic-Medium.otf') format('opentype'); 
}
@font-face {
	font-family: 'OmniGothic';
    font-style: normal; 
	font-weight: 600;
    src: url('./210_OmniGothic-Bold.ttf') format('truetype'),
         url('./210_OmniGothic-Bold.otf') format('opentype'); 
}
@font-face {
	font-family: 'OmniGothic';
    font-style: normal; 
	font-weight: 700 800 900;
    src: url('./210_OmniGothic-ExtraBold.ttf') format('truetype'),
         url('./210_OmniGothic-ExtraBold.otf') format('opentype'); 
}




