@charset "utf-8";


.center{text-align: center;}
.shadow{box-shadow: 0px 10px 20px rgba(75, 86, 173, 0.1);}

/* main-color */
[data-main-color="1"]{color: #4A55AC;}
[data-main-color="2"]{color: #603AB8;}


#arch_main{}
#arch_main #visual{position: relative; height: 82.8em; padding-top: 17.6em; box-sizing: border-box; background-color: #F0F3FD;transition: all .3s;}
#arch_main #visual::after{content: "";position: absolute;width: 100%;height: 33em;bottom: -6em;left: 44%; background-image: url(../../../images/site/openArchive/main/cloud_icon_02.svg);background-repeat: no-repeat;background-size: contain;background-position: center; opacity: 0; transition: opacity .3s; z-index: 0;}

#arch_main #visual>.layout{height: 100%;}
#arch_main #visual>.layout>.visual_box{position: relative; display: flex; height: 100%;z-index: 2;}
#arch_main #visual>.layout>.visual_box>li{width: 50%; flex-basis: 50%;}

#arch_main #visual>.layout>.visual_box>.visual_txts{position: relative; padding-top: 6em; transition: all .3s;z-index: 1;}
#arch_main #visual>.layout>.visual_box>.visual_txts>.title_txts>p{display: block;font-size: 5em;font-weight: 900; line-height: 1.4; color: #1A1325;text-transform: uppercase;}
#arch_main #visual>.layout>.visual_box>.visual_txts>.title_txts>p>[data-main-color="2"]{position: relative;z-index: 0;}
#arch_main #visual>.layout>.visual_box>.visual_txts>.title_txts>p>[data-main-color="2"]::after{content: "";display: block; position: absolute;width: 100%;height: 11px;background-color: #ece2aa; bottom: 15%;left: 0;z-index: -1; }
#arch_main #visual>.layout>.visual_box>.visual_txts>.sub_txts>p{display: block; padding: 0.6em 0 2em; font-size: 1.6em;font-weight: 400;color: #666;line-height: 1.5;transition: all .3s;}
#arch_main #visual>.layout>.visual_box>.visual_txts>.more_view_btn {position: relative; display: inline-block;}
#arch_main #visual>.layout>.visual_box>.visual_txts>.more_view_btn::after{content: "";display: block; position: absolute;width: 10em; height: 6em;  top:calc(100% + 2em); right: calc(100% + 2em); background-image: url(../../../images/site/openArchive/main/cloud_icon.svg);background-repeat: no-repeat;background-position: center; background-size: contain;

    animation-name:cloud_1;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-duration:15s;

}
#arch_main #visual>.layout>.visual_box>.visual_txts>.more_view_btn>[data-btn-type="1"]{box-shadow: 0px 10px 20px rgba(75, 86, 173, 0.1);}
#arch_main #visual>.layout>.visual_box>.visual_txts>.more_view_btn>[data-btn-type="1"]>span{font-size: 1.6em;}

#arch_main #visual>.layout>.visual_box>.visual_imgs{position: relative; padding-left: 4em; box-sizing: border-box;}
#arch_main #visual>.layout>.visual_box>.visual_imgs::after{content: "";position: absolute;display: block;width: 20em; height: 50em; top: 0; left: 80%; background-image: url(../../../images/site/openArchive/main/paper_img.png);background-repeat: no-repeat;background-position: top right;background-size: contain;opacity: 1;transition: opacity .3s;}
#arch_main #visual>.layout>.visual_box>.visual_imgs::before{content: "";position: absolute;display: block;width: 9em; height: 10em; top: 67%; left: 100%; background-image: url(../../../images/site/openArchive/main/couple_img.png);background-repeat: no-repeat;background-position: top right;background-size: contain;opacity: 1; transition: opacity .3s linear; z-index: 1;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box{position: absolute; background-repeat: no-repeat;background-position: center;background-size: cover;transition: all .3s;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box>.img{position: relative; width: 100%; height: 100%;background-repeat: no-repeat;background-position: center;background-size: cover;z-index: 1;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_01{width: 30em;height: 20em; z-index: 0;top: 0;left: 4em;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_01::after{content: "";position: absolute;display: block; width: 12em; height: 14.5em; top: 70%;left: 16%; background-image: url(../../../images/site/openArchive/main/postic_img_01.png);background-size: contain; opacity: 1; z-index: 2; transition: opacity .3s;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_02{width: 30em;height: 20em; top: 27%; right: 4em; z-index: 2;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_02::before{content: "";position: absolute;display: block;width: 9em;height: 8.5em;bottom: 100%;left: 0;background-image: url(../../../images/site/openArchive/main/women_img.png);background-repeat: no-repeat;opacity: 1; z-index: 1; transition: opacity .3s;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_02::after{content: "";position: absolute;display: block;width: 7.5em;height: 3.2em;bottom: 90%;right: 8%;background-image: url(../../../images/site/openArchive/main/tape_img_03.png);background-repeat: no-repeat;background-repeat: no-repeat;background-size: contain; opacity: 0.5; z-index: 1;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_03{width: 23em;height: 30em; top: 39%; right: 25em; z-index: 1;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box[data-type="1"]>.shadow_box{position: absolute;display: block; width: calc(100% + 1.5em); height: 100%; top: 10%; left: 1%; background-image: url(../../../images/site/openArchive/main/shadow_img_01.png); background-repeat: no-repeat;background-position: bottom; background-size: cover; z-index: -1;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box[data-type="2"]>.shadow_box{position: absolute;display: block; width: calc(100% + 1em); height: 100%; top: 9%; left: 9%; background-image: url(../../../images/site/openArchive/main/shadow_img_02.png); background-repeat: no-repeat;background-position: bottom; background-size: cover; z-index: -1;}

#arch_main #visual>.layout>.visual_box>.visual_imgs>.memo_box {position: absolute;width: 20em; height: 15em; top: 58%; right: 76%; background-image: url(../../../images/site/openArchive/main/postic_memo_img.png);background-size: contain;background-repeat: no-repeat;z-index: 3;transition: all 0.3s;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.memo_box::before{content: "";position: absolute;display: block;width: 5.3em;height: 3.2em; bottom: 89%; right:78%; background-image: url(../../../images/site/openArchive/main/tape_img_01.png);background-repeat: no-repeat;background-size: contain;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.memo_box::after{content: "";position: absolute;display: block;width: 9.5em;height: 9.5em; bottom: 73%; left:68%; background-image: url(../../../images/site/openArchive/main/mask_img_01.png);background-repeat: no-repeat; background-size: contain;}
#arch_main #visual>.layout>.visual_box>.visual_imgs>.memo_box>p{display: block;padding: 18% 21% 5% 14%;font-size: 1.4em;color:rgba(187, 182, 166, 0.8);text-align: center;}

#arch_main #visual>.layout>.cloud{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 2;
    transition: top .3s;
}
#arch_main #visual>.layout>.cloud>span{
    position: absolute;
    display: block;
    width: 8.2em;
    height: 4.8em;
    top: 3%;
    left:105%;
    background-image: url(../../../images/site/openArchive/main/cloud_icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;

    animation-name:cloud_2, up_down;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-duration:14s;
}

#arch_main #visual>.layout>.cloud>span:nth-child(2){
    top: 12%;
    left: 107%;
    animation-duration:20s;
}

#arch_main #visual>.layout>.cloud>span:nth-child(3){
    width: 12em;
    height: 7em;
    top: 8%;
    left: 90%;
    animation-duration:22s;
    animation-fill-mode: forwards;
}

@keyframes cloud_1 {
    0%{opacity:1; -webkit-transform:translateX(0); transform:translateX(0)}
    70%{opacity:1; -webkit-transform:translateX(500%); transform:translateX(500%)}
    100%{opacity:0; -webkit-transform:translateX(700%); transform:translateX(700%);}
}

@keyframes cloud_2{
    0%{opacity:0; -webkit-transform:translateX(-500%); transform:translateX(-500%);}
    100%{opacity:1; -webkit-transform:translateX(100%); transform:translateX(100%);}
}



@media screen and (max-width: 1450px) {
    #arch_main #visual>.layout>.visual_box>.visual_txts>.sub_txts>p{padding: 0.6em 3em 2em 0;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs::before{opacity: 0;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_02::before{opacity: 0;}
}

@media screen and (max-width: 1250px) {
    #arch_main #visual>.layout>.visual_box>.visual_txts{padding-top: 0;}

    #arch_main #visual>.layout>.visual_box>.visual_imgs::after{opacity: 0;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_01{left: 0;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_01::after{opacity: 0;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_02{top: 16%;right: 0;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.memo_box{right: 0;}

}

@media screen and (max-width: 1024px) {
    #arch_main #visual{height: 71.8em;padding-top: 4.5em;}
    #arch_main #visual>.layout>.visual_box>.visual_txts{width: 100%; flex-basis: 100%; padding-top: 0;}
    #arch_main #visual>.layout>.visual_box>.visual_txts>.title_txts>p{font-size: 5vw; line-height: 1.3;}
    #arch_main #visual>.layout>.visual_box>.visual_txts>.sub_txts{width: 70%;}

    #arch_main #visual>.layout>.visual_box>.visual_imgs{position: absolute;height: 37em;bottom: 2%;right: 7%;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_01{width: 18em;height: 12em;left: auto;right: 17em;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_02{width: 18em;height: 12em;top: 16%;right: 0;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_02::after{width: 5.5em;height: 2.2em;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.img_box_03{width: 14em;height: 20em;top: 40%;right: 17em;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.memo_box{width: 18em;height: 11em;top: 58%;right: -6em;left: auto;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.memo_box::before{width: 4.3em;height: 2,2em;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.memo_box::after{width: 5,5em;height: 5.5em;left: 63%;}
    #arch_main #visual>.layout>.visual_box>.visual_imgs>.memo_box>p{padding: 11% 32% 3% 10%;font-size: 1em;}
}


@media screen and (max-width: 640px) {
    #arch_main #visual{height: auto;padding: 20% 0;margin-top: 60px; overflow: hidden;}
    #arch_main #visual::after{opacity: 1;}
    #arch_main #visual>.layout>.visual_box>li{width: 100%;flex-basis: 100%;}
    #arch_main #visual>.layout>.visual_box>.visual_txts>.title_txts{text-align:center;padding-bottom: 6em;}
    #arch_main #visual>.layout>.visual_box>.visual_txts>.title_txts>p{font-size: 6vw;}
    #arch_main #visual>.layout>.visual_box>.visual_txts>.sub_txts{display: none;}
    
    #arch_main #visual>.layout>.visual_box>.visual_imgs{display: none;}
    #arch_main #visual>.layout>.visual_box>.visual_txts>.more_view_btn{display: block; text-align: center;}

    #arch_main #visual>.layout>.visual_box>.visual_txts>.more_view_btn::after{width: 7em; top: auto;bottom: 100%;}
    #arch_main #visual>.layout>.cloud{top: -40%;}
    #arch_main #visual>.layout>.cloud>span{width: 4em;}
    #arch_main #visual>.layout>.cloud>span:nth-child(3){width: 8em;}
}


/*///  #section_01 /////*/


#arch_main #container .inner_wrap {margin-top: 9.5em;}

.main_tit{font-size: 4em;font-weight: 600;color: #000;text-transform: uppercase;}

#section_01{position: relative;}
#section_01::after{content: "";position: absolute;left: -100%;bottom: 0;width: 1000%;height: 40em;background: linear-gradient(180deg, rgba(243, 238, 245, 0) 0%, #E3DFEF 58.85%);}
#section_01.on::after{display: none;}

#section_01 [data-box-list="1"] .cover{max-height: 155.8em; min-height: 70em; overflow: hidden;}
#section_01.on [data-box-list="1"] .cover{max-height: 100%; height: auto;}
#section_01 .in>.title_box{position: relative; display: flex;align-items: center;margin-bottom: 0.5em;}
#section_01 .in>.title_box>.sort_head{margin-left: auto;margin-right: 2em;}
#section_01 [data-box-list="1"]>.sort_body>ul>li>.arch_lists>ul>li>.in_box>.txt_box>.bottom_box>[data-style="more_btn"]{margin-left: auto;}

#section_01.on .more_view_btn{display: none;} 
#section_01 .more_view_btn{position: absolute;left: 0%;bottom: 0;width: 100%;height: 35em;z-index: 1;}
#section_01 .more_view_btn>[data-btn-type="1"]{position: absolute; bottom: 20%;left: 50%;transform: translateX(-50%);}
#section_01 .more_view_btn>[data-btn-type="1"]>span{padding-right: 1em; background-image: url(../../../images/site/openArchive/layout/arrow_down_icon_01.svg);background-repeat: no-repeat;background-position: 100% 60%;background-size: 0.7em;transition: all .3s;}
#section_01 .more_view_btn>[data-btn-type="1"]:hover>span{ background-image: url(../../../images/site/openArchive/layout/arrow_down_icon_02.svg);}

@media screen and (max-width: 1024px) {
    #arch_main #container .inner_wrap {margin-top: 6em;}
    #section_01 .in>.title_box{flex-wrap: wrap;}
    #section_01 .in>.title_box>.main_tit{width: 100%;}
    #section_01 .in>.title_box>.sort_head{padding-bottom: 1em;overflow-x: auto;}
    #section_01 .in>.title_box>.sort_head>li>a>span{font-size: 16px;}
    #section_01 [data-box-list="1"]>.sort_body>ul>li>.arch_lists {padding: 1em 0;}
}

@media screen and (max-width: 640px) {
    .main_tit{font-size: 3em;}
    
    #section_01 .more_view_btn {height: 8em; bottom: auto; top: 100%;}
    #section_01 .more_view_btn>[data-btn-type="1"]>span{padding-right: 0; background-image: none;}
    #section_01 .more_view_btn>[data-btn-type="1"]:hover>span{background-image: none;}
    #section_01 .in>.title_box>.sort_head{width: 100%; margin-top: 4em; justify-content: flex-start;}
    #section_01::after{height: 30em; background: linear-gradient(180deg,rgba(255,255,255,0) 0,rgba(255,255,255,.71) 40.5%,#FFF 80.74%);z-index: 1;}
}


/*///  #section_02 /////*/
#section_02{padding: 7em 0 10em;}
#section_02 .title_box{position: relative; margin-bottom: 3em;}

@media screen and (max-width: 1024px) {
    #section_02 >.in{width: 100%;}
}

@media screen and (max-width: 640px) {
    #section_02{padding: 14em 0 7em;}
}



/*///  #section_03 /////*/
#section_03{position: relative; height: 65em;margin-bottom: 7em;}

#section_03 .in{position: relative; width:100%;padding-top: 9em;} 
#section_03 .in::before{content: "";position: absolute;display: block; width: calc(100% + 1000em); height: 50.5em; top: 0; left: -1000em; background-image: url(../../../images/site/openArchive/main/arch_sec03_bg.png);background-repeat: no-repeat;background-color:#4a1586; background-position: right; z-index: -1;}

#section_03 .title_box{position: relative;}
#section_03 .title_box>.main_tit{display: inline-block;color: #fff; box-sizing: border-box;}
#section_03 .title_box>.main_tit>span{ color: #fff; box-sizing: border-box;}
#section_03 .title_box>.main_tit>img{display: inline-block; width: 0.8em; padding-left: 0.6em; opacity: 0.85;}
#section_03 .title_box>[data-style="title_more_btn"][data-color="2"]{top: -1em;}
#section_03 .title_box>.main_sub{margin-top: 1em;}
#section_03 .title_box>.main_sub>strong,
#section_03 .title_box>.main_sub>p{font-size: 1.8em;color: #fff;}



/* ICH CONTEST 슬라이드 */

#section_03 .slide_wrap{display: flex;width: calc(100% - 6em); height: 38.6em; margin-top: 4.3em;border-radius: 20px;overflow: hidden;}
#section_03 .slide_wrap>.arch_slide{position:relative; width: 100%;height: 100%;}
#section_03 .slide_wrap>.arch_slide>.control{position:absolute; width: 100%;height: auto; text-align: left; top: auto; bottom: 9%; left: 5%; background: transparent;z-index: 1;}
#section_03 .slide_wrap>.arch_slide .control a{overflow:hidden; display:inline-block; width:31px; height:31px; text-indent:-1000px; background-repeat: no-repeat !important;opacity: 0.6;transition: opacity .3s;}
#section_03 .slide_wrap>.arch_slide .control a:hover{opacity: 1;}
#section_03 .slide_wrap>.arch_slide .control a.btn_left {margin-right: 1.3em; background-image:url(../../../images/site/openArchive/layout/arw_left_icon.svg);}
#section_03 .slide_wrap>.arch_slide .control a.btn_right {background-image:url(../../../images/site/openArchive/layout/arw_right_icon.svg);}

#section_03 .slide_wrap>.arch_slide>.move{position:absolute; left:0; top:0; width: 100%;  height:100%; overflow: hidden; border-radius: 0 20px 20px 0}
#section_03 .slide_wrap>.arch_slide>.move>ul{overflow:hidden; position:absolute; left:0; top:0; width:100%; height:100%;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li{float:none; position:absolute; left:100%; top:0; width:100%; height: 100%; padding:0;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li:first-child{left:0;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li>a{overflow:hidden; display:block; position:relative; height:100%; text-align:center;  background-color:#eee; box-sizing:border-box;
    transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}

#section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box{display: flex;;overflow: hidden;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.left_box{width: 34%; height: 38.6em; padding: 4% 2% 2% 5%; box-sizing: border-box; flex-shrink: 0;background-color: #070707;transition: width 0.3s;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.left_box>.txt_box>.winner_icon{position: relative; width: 12.6em;height: 10em; background-image: url(../../../images/site/openArchive/main/winners_icon.png); background-repeat: no-repeat;background-position: center;background-size: contain;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.left_box>.txt_box>.winner_icon>.p_txt{position: absolute;top: 1.8em;left: 30%;text-align: center;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.left_box>.txt_box>.winner_icon>.p_txt>p{font-size:1.4em;color: #f2c242;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.left_box>.txt_box>strong{display: block; margin-top: 3%; font-size: 2em;color: #fff;text-align: left;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.left_box>.txt_box>.list_01{padding-top: 4%;text-align: left;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.left_box>.txt_box>.list_01>li{font-size: 1.6em;color: #999;}


#section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.right_box{position: relative; width: 100%; transition: width .3s , height 0.3s;}
#section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.right_box>.img{position: absolute; display:block; height:100%;width: 100%;top: 0;left: 0; background-repeat: no-repeat;background-size: cover;background-position: center 20%;}



@media screen and (max-width: 1024px) {
    #section_03 .in{width: 100%;}
    #section_03 .in::before{width:calc(100% + 4em); left: -2em;background-position: center; background-size: cover;}

    #section_03 .slide_wrap{width: 100%;}
}

@media screen and (max-width: 640px) {
    #section_03{height: auto;}
    #section_03 .in{padding-top: 7em;}
    #section_03 .in::before{height: 70em;}
    #section_03 .slide_wrap {flex-wrap: wrap;height: 66em;}

    #section_03 .slide_wrap>.arch_slide>.control{top: 27em; bottom: auto;left: 10%;}
    #section_03 .slide_wrap>.arch_slide .control a{background-size: 2.5em;}
    #section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.left_box{width: 100%;height: 33em;padding: 4em 2% 3% 10%;}
    #section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.left_box>.txt_box>.winner_icon{width: 10.6em;height: 8em;}
    #section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.left_box>.txt_box>.winner_icon>.p_txt{top:0.8em;left: 24%;}
    #section_03 .slide_wrap>.arch_slide>.move>ul>li>.img_box>.right_box{position: absolute; width: 100%;height: 33em;top: 33em;}
}



@media screen and (max-width: 360px) {
    #section_03 .in::before{height: 50em;}
}

