@charset "utf-8";
/* visual */
#visual>.move>.controll>a[class*="btn-"]{background-image:url(../../../images/site/kor/main/main.svg);}
#visual>.data .head>span::after{background-image:url(../../../images/site/kor/main/emoji_1.png);}
#visual>.data .midd>ul>li>a::before{background-image:url(../../../images/site/kor/main/main.svg);}

/* sky */
#container>#item-2>i{background-image:url(../../../images/site/kor/main/sky.svg);}
#container>#item-2>.layout>.head>strong>span:nth-child(n+2)::after{background-image:url(../../../images/site/kor/main/emoji_2.png);}
#container>#item-2>.layout>.midd .item-2-1>ul>li>a::after{background-image:url(../../../images/site/kor/main/main.svg);}
#container>#item-2>.layout>.midd .item-2-4>.head>div>a::before{background-image:url(../../../images/site/kor/main/main.svg);}

/* youtube */
#container>#item-3>.layout>.head>div>span:last-child::after{background-image:url(../../../images/site/kor/main/main.svg);}
#container>#item-3>.layout>.midd>div>a::before{background-image:url(../../../images/site/kor/main/main.svg);}

/* 설레는 한걸음 */
#container>#item-4>.layout>.head>span>strong::after{background-image:url(../../../images/site/kor/main/emoji_3.png);}
#container>#item-4>.layout>.midd>ul>li:nth-child(1)::after{background-image:url(../../../images/site/kor/main/main.svg);}
#container>#item-4>.layout>.midd>ul>li:nth-child(2)::after{background-image:url(../../../images/site/kor/main/item-4_img_1.png);}

/* 학과 소개 */
#container>#item-5>.head>.layout>span>strong::after{background-image:url(../../../images/site/kor/main/emoji_4.png);}

/* 어디가? */
#container>#item-6{background-image:url(../../../images/site/kor/main/item-6_bg.jpg);}