@charset "utf-8";

/* CSS Document */

 /* * { -webkit-text-size-adjust:none; text-size-adjust:none; word-wrap: break-word; word-break: keep-all; }*/

body{min-width:1400px; padding-bottom:0}

ul, li{ padding:0; margin:0; list-style:none}

.container{ width:100%; min-width:1200px; background:#f1f3f6; padding:0; position:relative}

.h1-wrap h1{  font-size:21px; font-weight:bold; padding-left:47px; margin-top:10px; display:inline-block ;position:relative;}

.h1-wrap h1:after{ display:block; content:""; width:7px; height:7px; border-radius:50%; background:#f6751f; position:absolute; left:30px; top:7px}

.h1-wrap .detail-pre{ position:relative; top:-2px; margin-left:5px}

.h1-wrap > ul{text-align:center;}

.h1-wrap > ul>li{display:inline-block; padding:0 40px; vertical-align:top;}

.h1-wrap > ul>li>a{display:block; line-height:48px; text-decoration:none; font-size:16px; color:#666;}

.h1-wrap > ul>li.active>a{color:#71A9FF;}



h2{background:url(/images/common/h2-bul.png) no-repeat 0 0px; padding:0 0 0 15px; font-size:18px; font-weight:600; line-height:22px; margin:40px 0 15px 0}

h2:first-child{margin-top:0;}



.mb15{ margin-bottom:15px}

.mb25{ margin-bottom:25px}

.mt10{ margin-top:10px}

.mt20{ margin-top:15px}



.text-red{ color:#f1493c}

.text-blue{ color:#435abb}



.text-size13{ font-size:13px}



div:not(".ui-dialog") input[type="radio"]{ vertical-align:middle}

div:not(".ui-dialog") input[type="text"]{ border-radius:3px; border:1px solid #d9d9d9; padding:2px 12px 0 12px; font-weight:400; vertical-align:middle; box-sizing: border-box; height:34px}

div:not(".ui-dialog") input[type="text"]::-ms-clear {

	display: none;

}

div:not(".ui-dialog") textarea{ border-radius:4px; border:1px solid #d9d9d9; padding:5px; box-sizing:border-box}

div:not(".ui-dialog") select{ border-radius:3px; border:1px solid #d9d9d9; padding:6px 40px 6px 12px;line-height:1.42857143; font-weight:400; vertical-align:middle;-webkit-appearance:none;-moz-appearance:none;appearance:none;

background:#fff url(/images/common/select-bg.gif) no-repeat 90% 45%  }

div:not(".ui-dialog") select span.glyphicon{ font-size:16px}

div:not(".ui-dialog") select::-ms-expand {

   display: none;            /* 화살표 없애기 for IE10, 11*/

}





.navbar-default{background:#3f4a5b; height:87px}

.navbar{ border:none}

#navbar{ position:absolute; right:30px; top:15px}

.navbar-brand{ float:none; margin-left:0; position:absolute; top:20px; left:20px ; padding:0}

.navbar-default .navbar-nav>li>a{color:#71A9FF; font-size:16px; }

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active{ color:#fff}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{ background:#263243; color:#71A9FF; border-radius:5px; font-weight:600}

.navbar-nav > li > a{ padding:15px 25px }





.nav-tabs > li > a{ padding:10px 30px}



.content{ padding:30px; position:relative}

.btn-tr{ position:absolute; right:0px; top:-50px}

.btn-tr .glyphicon{ font-size:70%; position:relative; top:-1px}



.nav-tabs{ border-bottom:none; margin-bottom:30px}

.nav-tabs>li>a{ font-size:16px; color:#333; background:#fff; border-radius:5px; border:1px solid #3b62bc}

.nav-tabs>li>a:hover{ background:#3b62bc; color:#fff; }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{ background:#3b62bc; color:#fff; }



.tab-content{ position:relative}



.table{ border-top:2px solid #333}

.table th{ background:#dfe3ed;}

.table  td{ background:#fff}

.table th{border-left:1px solid #c9cedb; border-bottom:1px solid #c9cedb; }

.table>thead>tr>th{border-bottom:1px solid #c9cedb;}

.table  td{ border-left:1px solid #dedede}

.table .bl-none{ border-left:none}

.table.tbl-center{ text-align:center}

.table.tbl-center th{ text-align:center}

.table.tbl-center>tbody>tr>td, .table.tbl-centertbody>tr>th, .table.tbl-center>tfoot>tr>td, .table.tbl-center>tfoot>tr>th, .table.tbl-center>thead>tr>td, .table.tbl-center>thead>tr>th{ vertical-align:middle}

.table.tbl-center.tbl-left th, .table.tbl-center.tbl-left>tbody>tr>td{ text-align:left;vertical-align:top}



.table.tbl-center>tbody>tr.point>th,

.table.tbl-center>tbody>tr.point>td{color:#C75720; background-color:#FFF1EB;}



/* .pagination{ margin:10px 0 25px}

.pagination-lg>li>a, .pagination-lg>li>span{ padding:8px 14px; font-size:14px}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{ background:#f6661f; border-color:#f6661f}

.pagination>li>a, .pagination>li>span{color:#747474} */



.btn-gray{ background:#7e7e7e; color:#fff ; border:1px solid #6a6a6a}

.btn-gray:hover, .btn-gray:focus, .btn-gray:active{ background:#6a6a6a; color:#fff}

.btn-group-lg>.btn, .btn-lg{ padding:8px 14px; font-size:16px}

.btn-group-xs>.btn, .btn-xs{ padding:3px 5px 2px; font-size:13px }

.btn-warning{ background:#f6661f; border-color:#e7601e}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning{ background:#e7601e; /*border-collapse:#df5d1d*/}



@media (min-width:768px){

.modal-dialog{width:975px;}

.modal-dialog.modal-dialog-ws{width:500px;}

}





.location{ margin-left:10px}



.confirm{ display:inline-block; padding:4px 0; color:#fff; text-align:center; min-width:120px;border-radius:3px ; font-size:13px; }

.confirm.confirm-s{min-width:60px;

  display: inline-block;

  padding: 3px 5px 2px;

  margin-bottom: 0;

  font-weight: normal;

  line-height: 1.42857143;

  text-align: center;

  white-space: nowrap;

  vertical-align: middle;

  -ms-touch-action: manipulation;

      touch-action: manipulation;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;

  background-image: none;

  border: 1px solid transparent;;}



.confirm-type1{ background:#1e88e5; }/*요청*/

.confirm-type2{ background:#44bf64; }/*완료*/

.confirm-type3{ background:#ffd54f;  color:#535353}/*작성중*/

.confirm-type4{ background:#da5555; }/*반려*/

.confirm-type5{ background:#e3e3e3;   color:#535353}/*미제출*/



.select-type1{ position:absolute; right:30px; top:22px}

.select-type1 select{ width:155px; box-shadow:0 0 5px #F7F7F7; margin:0 2px}



.modal-title{ font-weight:600; position:relative; padding-left:10px; display:inline-block}

.modal-title:after{ position: absolute; content:""; clear:both; width:3px; height:17px; top:3px; left:0; background:#f6661f}

.modal-body .select-type1{ right:15px; top:12px}

.modal-content table{ border-bottom:1px solid #dedede}

.modal-body .pagination{ margin:10px 0}

.modal-body h5{ font-weight:600; font-size:16px; margin-bottom:20px}







.confirm-form{}

.confirm-form textarea{ display:block; width:100%; margin-top:10px }

.confirm-form label{ margin-right:10px}



.manage-form{ background:#fff; box-sizing:border-box; padding:20px; border:1px solid #dedede; border-left:4px solid #f26422;border-right:4px solid #f26422; border-radius:6px; margin-bottom:30px; text-align:center; box-shadow:0 3px 0 #d8dde4}

.manage-form form{ }

.manage-form strong{ display:inline-block; font-size:18px; padding-right:20px; position:relative; top:4px}





.antecedents{ position:relative}





.tab-content h2{ margin:30px 0 15px 0}

.nav-tabs.nav-tabs-type2{  overflow:hidden;border-bottom:1px solid #cdcfd1;}

.nav-tabs.nav-tabs-type2>li{width:6.4%;}

.nav-tabs.nav-tabs-type2>li:nth-child(5),.nav-tabs.nav-tabs-type2>li:nth-child(10) {width: 10%;}

.nav-tabs.nav-tabs-type2>li:nth-child(9) {width: 11%;}

.nav-tabs.nav-tabs-type2>li:nth-child(8){ width:11.2%}

.nav-tabs.nav-tabs-type2>li>a{ border:0; background:none; font-weight:600; color:#636363; border-radius:0;  padding:2px 0 20px; text-align:center;position:relative ;}

.nav-tabs.nav-tabs-type2>li.active>a, .nav-tabs.nav-tabs-type2>li.active>a:focus, .nav-tabs.nav-tabs-type2>li.active>a:hover{ color:#f6611f; font-size:18px; background:none; border:none; border-bottom:5px solid #f6611f }

.nav-tabs.nav-tabs-type2>li.active>a:after{ position:absolute; left:50%;top:35px; width:26px; height:26px; border-radius:50%; background:#f6611f; display:block; content:""; margin-left:-13px}



.nav-tabs.nav-tabs-type3>li{width:7%;}

.nav-tabs.nav-tabs-type3>li:nth-child(2),.nav-tabs.nav-tabs-type3>li:nth-child(3){width:11%}

.nav-tabs.nav-tabs-type3>li:nth-child(6){ width:7%}





.btn-tip{ background:#beb2a6; color:#fff; font-weight:600;padding:2px 8px; position:relative; top:-3px; line-height:20px}

.btn-tip:hover,.btn-tip:focus, .btn-tip:active{ color:#fff; background:#a9998a}

.tip{ background:#fff url(../images/common/tip-bg.png) no-repeat 90px 10px;}

.tip p{ margin:0}

.tip dl{ margin:0}

.tip dt{ float:left; font-size:18px; font-weight:600; padding:15px 0 0 20px}

.tip dd{ margin-left:250px}

.tip .ol-default{ margin:10px 0 0 0}



.ol-default {}

.ol-default li{ margin-bottom:4px; position:relative; padding:0 0 0 23px} 

.ol-default .num{ display:inline-block; width:17px; height:17px; border-radius:50%; background:#806548; text-align:center; color:#fff ; font-size:11px; line-height:17px; position:absolute; left:0; top:0}



.footer{ text-align:center; font-size:16px;}

.footer div{ border-top:1px solid #dedede; padding:20px 0; }





@media (max-width:1580px){

.nav-tabs>li>a{font-size:14px; letter-spacing:-1px}

.nav-tabs.nav-tabs-type2>li.active>a, .nav-tabs.nav-tabs-type2>li.active>a:focus, .nav-tabs.nav-tabs-type2>li.active>a:hover{font-size:14px}

}



.tbl-over{width:100%;  overflow-x:scroll; margin-bottom:15px}



/* Chrome, Safari용 스크롤 바 */

.scroll::-webkit-scrollbar {width: 12px; height: 12px; border: 3px solid #fff; background:#f7f7f7;}

.scroll::-webkit-scrollbar-button, ::-webkit-scrollbar-button {display: block; height: 10px; background:#f7f7f7;}

.scroll::-webkit-scrollbar-track {background:#f7f7f7;}

.scroll::-webkit-scrollbar-thumb {height: 50px; width: 50px; background:#e1e1e1;border-radius: 8px; border:1px solid #bfbfbf}



/* ie용 스크롤 바 */

/*

.scroll{

scrollbar-highlight-color:#FFFFFF; 

scrollbar-3dlight-color:#bfbfbf; 

scrollbar-face-color:#e1e1e1; 

scrollbar-shadow-color:#bfbfbf; 

scrollbar-darkshadow-color:#bfbfbf; 

scrollbar-track-color:#FFFFFF; 

scrollbar-arrow-color:#bfbfbf;

}

*/



/* 로딩창 */

.loading{padding:0 0 70px 0}

.loading .progress{ width:80%; margin:80px auto 30px}

.loading p{text-align:center; font-size:32px;color:#333; }

.loading p strong{color:#ee552c }

.loading p span{display:block; font-size:17px; color:#A1A1A1; font-weight:600; padding-top:4px}



/* 테이블 단어 묶기 */

.table{ word-break: keep-all; }

/* 선택된 tr에 배경색 입히기 */

.tr_selected td {background-color:#fce6d9;}





/* 테이블 내 위치버튼&수정버튼 하얗게 */

.table .location,.btn-gray {color:#fff !important;}



/* 리포팅 */

.down-form{ position:relative; max-width:400px; margin:30px auto; border-bottom:1px dotted #D7D7D7; }

.down-form > span{ display:block; margin-bottom:5px}

.down-form label{ display:inline-block; width:100px}

.down-form select, .down-form input{ width:200px}

.down-form button{ position:absolute; right:0; top:0; width:88px; height:72px}

.down-form p{ margin:20px 0 15px; padding-bottom:5px}















/* Main */

html[data-page="mainpage"],

html[data-page="mainpage"] body{height:100%; box-sizing:border-box;}

html[data-page="mainpage"] header .navbar{position:absolute; min-width:1400px;}

html[data-page="mainpage"] .container{height:calc(100% - 73px);}

html[data-page="mainpage"] .content{height:100%; background-color:#fff;}

#mainpage{overflow:auto; position:relative; height:100%; min-height:485px;}

#mainpage>ul{

  position:absolute; left:0; top:50%; display:inline-block; width:100%; text-align:center;

  -webkit-transform:translateY(-50%);

  transform:translateY(-50%);

}

#mainpage>ul>li{display:inline-block; width:350px; height:480px; vertical-align:top;}

#mainpage>ul>li:not(:last-child){margin-right:68px;}

#mainpage>ul>li>a{

  overflow:hidden; display:block; position:relative; width:100%; height:100%; padding:57px 36px; text-decoration:none; text-align:left; background: #F1F2FF; box-sizing: border-box;

  -webkit-box-shadow: 4px 4px 4px #E7E8FF;

  box-shadow: 4px 4px 4px #E7E8FF;

  -webkit-border-radius: 10px;

  border-radius: 10px;

  -webkit-transition:all 0.3s ease;

  transition:all 0.3s ease;

}

#mainpage>ul>li>a:before{content:""; display:block; width:128px; height:128px; background-repeat: no-repeat; background-position:left top; background-size: contain;}

#mainpage>ul>li:nth-child(1)>a:before{background-image:url(../images/mainpage_icon_1.svg);}

#mainpage>ul>li:nth-child(2)>a:before{background-image:url(../images/mainpage_icon_2.svg);}

#mainpage>ul>li:nth-child(3)>a:before{background-image:url(../images/mainpage_icon_3.svg);}

#mainpage>ul>li>a>em{

  position:absolute; right:-70px; top:14px; width:200px; line-height:30px; text-align:center; font-weight:600; font-style:normal; font-size:17px; color:#fff; background: #4B7DFF;

  box-shadow: 2px 0px 2px rgba(75, 110, 255, 0.2);

  -webkit-transform-origin:50% 50%;

  transform-origin:50% 50%;

  -webkit-transform:rotate(45deg);

  transform:rotate(45deg);

  -webkit-transition:all 0.3s ease;

  transition:all 0.3s ease;

}

#mainpage>ul>li>a>strong{display:block; line-height:32px; margin-top:40px; font-size:28px; color:#4B7DFF;}

#mainpage>ul>li>a>p{line-height:24px; margin:20px 0 0 0; font-size:16px; color:#7F8BBA;}

#mainpage>ul>li>a>span{position:absolute; left:36px; bottom:49px; display:block; line-height:20px; font-size:15px; color:#4B7DFF;}

#mainpage>ul>li>a>span:after{content:""; display:none; position:absolute; left:calc(100% + 15px); bottom:5px; width:36px; height:9px; background-image:url(../images/mainpage_arrow.svg); background-repeat: no-repeat; background-position:left top; background-size: contain;}





#mainpage>ul>li>a:hover{background-color:#4B7DFF;}

#mainpage>ul>li>a:hover>em{color:#4B7DFF; background-color:#fff;}

#mainpage>ul>li:nth-child(1)>a:hover:before{background-image:url(../images/mainpage_icon_1_w.svg);}

#mainpage>ul>li:nth-child(2)>a:hover:before{background-image:url(../images/mainpage_icon_2_w.svg);}

#mainpage>ul>li:nth-child(3)>a:hover:before{background-image:url(../images/mainpage_icon_3_w.svg);}

#mainpage>ul>li>a:hover>span{color:#fff;}

#mainpage>ul>li>a:hover>span:after{display:block;}

#mainpage>ul>li>a:hover>strong,

#mainpage>ul>li>a:hover>p{color:#fff;}







[data-skin="topline"]{}

[data-skin="topline"]>ul,

[data-skin="topline"]>ul>li{display:inline-block;}

[data-skin="topline"]>ul>li{margin-right:10px;}

[data-skin="topline"]>ul>li *{vertical-align:middle;}

[data-skin="topline"]>ul>li label,

[data-skin="topline"]>ul>li input{margin:0;}

[data-skin="topline"]>ul>li label{font-weight:normal;}

[data-skin="topline"]>ul:not(:first-child){margin-left:20px;}



.caption-group{position:relative;}

  .caption-group .caption{position:absolute; right:0; bottom:0;}



/* 2020-03-02 최근 일주일내 데이터 */

#borderlist_header_table > tbody > tr.currentTr > td { background: #208620; color: #fff; }



.item-group{position:relative; padding-right:807px; margin-top:20px;}

.item-group div[data-item]{position:relative; border-top:2px solid #333333; background-color:#fff;}

.item-group div[data-item="1"]{width:100%; height:752px; text-align:center;}

.item-group div[data-item="1"] svg{position:relative; z-index:0;}

.item-group div[data-item="2"]{width:787px; height:390px;}

.item-group div[data-item="3"]{width:787px; height:341px; margin-top:20px;}

.item-group div[data-item="2"],

.item-group div[data-item="3"]{position: absolute; right:0; top:0; }

.item-group div[data-item="3"]{top:auto; bottom:0;}



[data-skin="map-lists"]{position:absolute; right:30px; bottom:30px; z-index:100; padding:15px 20px; border:1px solid #D6D6D6;}

  [data-skin="map-lists"] > ul{}

  [data-skin="map-lists"] > ul > li{position:relative; padding-left:20px; text-align:left;}

  [data-skin="map-lists"] > ul > li:nth-child(n+2){margin-top:3px;}

  [data-skin="map-lists"] > ul > li:before{

    content:""; display:block; position:absolute; left:0; top:50%; width:14px; height:14px; border:1px solid #000; background-color:#ddd;

    -webkit-transform:translateY(-50%);

    transform:translateY(-50%);

  }

  [data-skin="map-lists"] > ul > li[data-color="1"]:before{background-color:#3E2723;}

  [data-skin="map-lists"] > ul > li[data-color="2"]:before{background-color:#6D4C41;}

  [data-skin="map-lists"] > ul > li[data-color="3"]:before{background-color:#8D6E63;}

  [data-skin="map-lists"] > ul > li[data-color="4"]:before{background-color:#D7CCC8;}

  [data-skin="map-lists"] > ul > li[data-color="5"]:before{background-color:#fff;}







.ui-dialog{z-index:2000 !important;}

.ui-dialog table caption{display:none !important;}

.ui-dialog .boardlist_dialog{font-family:'Nanum Gothic', sans-serif, 'RobotoDraft','Helvetica Neue', Helvetica, Arial !important;color:#222222;}

.ui-dialog .modal-title:after{position:absolute;content:"";clear:both;}

.ui-dialog .boardlist_dialog table{width:100%;}

.ui-dialog .boardlist_dialog.table{border-top:none;}

.ui-dialog .boardlist_dialog table thead th{height:30px; background:#dfe3ed; font-size:14px; text-align:center;}

.ui-dialog .boardlist_dialog table tbody tr{padding-bottom:5px;}

.ui-dialog .boardlist_dialog table tbody td{padding:2px 0; text-align:center;}

.ui-dialog .boardlist_dialog table tbody td input,.boardlist_dialog>input#MNGT{background-color:#ffffff; border:1px solid #b7b7b7; padding:6px; width:100px;  height:30px;}

.ui-dialog .supTitle>b:before{ position: absolute; content:""; clear:both; width:3px; height:20px; top:3px; left:0; background:#f6661f;margin:17.5px 13px;}

.ui-dialog .supTitle2>b:before{ position: absolute; content:""; clear:both; width:3px; height:20px; top:3px; left:0; background:#f6661f;margin:73.5px 13px;}

.ui-dialog .supTitle3>b:before{ position: absolute; content:""; clear:both; width:3px; height:20px; top:65px; left:0; background:#286090;margin:278.5px 13px;}

.ui-dialog .supTitle4>b:before{ position: absolute; content:""; clear:both; width:3px; height:20px; top:65px; left:0; background:#286090;margin:328.5px 13px;}

.ui-dialog .supTitle5>b:before{ position: absolute; content:""; clear:both; width:3px; height:20px; top:65px; left:0; background:#286090;margin:228.5px 13px;}











/* map_legend */

ul.map_legend {position:absolute; right:20px; bottom:20px} 

ul.map_legend li {margin-top:5px; text-align:left} 

ul.map_legend li:first-child {margin-top:0} 

ul.map_legend li label {display:inline-block; width:10px; height:10px; margin-right:4px; border-radius:5px; text-indent:-9999px; vertical-align:middle} 

ul.map_legend li label.normal {background:#71b566}

ul.map_legend li label.warning {background:#ffff00}

ul.map_legend li label.awful {background:#ffaa00}

ul.map_legend li label.terrible {background:#ff0000}

ul.map_legend li span {color:#666; font-size:11px}



.menu-situation h5 {margin:20px 0 10px;}

.menu-situation .monitorbox .pull-left { padding-top:0px;}



.boardlist table tbody td a:hover{font-weight:bold}

.boardwrite table td .txtbox textarea {width:100%; height:100%; padding:15px}



.build { /*font-weight:bold;*/ font-size:14px;}



.pagenavi { z-index:51; }



ul.map_legend {right:5px; bottom:5px; z-index:10; background-color:#fff; padding:3px; border:solid 1px #eee; } 



ul.pagemenu {margin-bottom:30px}



/*

.btn_close {padding-top:18px;}

*/



.tooltip {

	display:none;

	position:absolute;

	border:1px solid #333;

	background-color:#494949;

	border-radius:5px;

	padding:10px;

	color:#fff;

	font-size:12px;

	z-index:110;

}



.closePop {

	position: absolute;

	top: 13px;

	right: 13px;

	font-size: 1px;

	width:20px;

	height:20px;

	text-indent: -99999px;

	background: url('/images/common/icon_plus.png') no-repeat;

}



.toparea .toparea-on {position:absolute; left:0; top:122px; z-index:20; width:100%; height:290px; background:url('../images/common/bg_toparea_on.png') repeat-x 0 -70px}



.toparea .topmenu {float:none; position:absolute; right:0px; left:auto; top:68px; z-index:40; width:auto; height:55px; padding:0 10px 0 0; background:url(../images/non.gif) repeat;} 

.toparea .topmenu > ul {height:52px}

.toparea .topmenu > ul > li {width:115px;  float:left; height:52px; margin:0px; text-align:center; }

.toparea .topmenu > ul > li:first-child {margin:0px}

.toparea .topmenu > ul > li > a {color:#353535; font-size:15px; font-weight:normal}

.toparea .topmenu > ul > li > a.on, .toparea .topmenu > ul > li > a:hover {text-decoration:none;font-weight:bold}



.toparea .submenu {display:none; position:absolute; right:0px; left:auto; top:122px; z-index:30; width:auto; height:280px; background:#fff; padding-right:10px; }

.toparea .submenu > ul {width:auto; height:282px; margin:0 auto; background:url('../images/common/bg_toparea_on.png') repeat-x 0 -70px}

.toparea .submenu > ul > li {float:left; width:115px; height:282px; border-left:1px solid #d9d9d9}

.toparea .submenu > ul > li:last-child {width:115px; border-right:1px solid #d9d9d9}

.toparea .submenu > ul > li h2 {height:70px; text-align:center; background:#f5f5f5; color:#353535; font-size:15px; line-height:70px}

.toparea .submenu > ul > li ul {padding:15px 5px 0 5px}

.toparea .submenu > ul > li ul li {margin:0 0 10px 0; text-align:center; line-height:18px}

.toparea .submenu > ul > li ul li a {color:#555; font-size:13px; word-spacing:-1px}

.toparea .submenu > ul > li ul li a:hover {color:#f6871f; text-decoration:underline}



.ui-dialog{
    top: 50% !important; left: 50% !important;
    transform: translate(-50%,-50%) !important;
}
.ui-widget-overlay{z-index: 1030 !important; background: rgba(0, 0, 0, 0.6) !important; opacity: 1 !important;}

.emer_2022{width: 1190px !important; padding: 0 !important;}
.emer_2022 .ui-dialog-title{width: 100%;}
.emer_2022 .ui-widget-header{
    border: 0; background: #3F4A5B; color: #fff; text-align: center; font-size: 20px; line-height: 29px; 
    border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0;
}
.emer_2022 .ui-widget-header >button{top: 9px; right: 36px; width: 19px; height: 19px; margin: 0; padding: 0;  border: none; background: none; }
.emer_2022 .ui-widget-header >button span{
    position: relative; display: none; width: 19px; height: 19px; margin-left: 0; background: none;
    transform: rotate(45deg);
}
.emer_2022 .ui-widget-header >button span:first-child{display: block;}
.emer_2022 .ui-widget-header >button span:first-child:before,
.emer_2022 .ui-widget-header >button span:first-child:after{
    content: ""; position: absolute; display: block; background-color: #fff;
    border-radius: 50px; -webkit-border-radius: 50px;
}
.emer_2022 .ui-widget-header >button span:first-child:before{top: 50%; left: 0; width: 100%; height: 2px; margin-top: -1.5px;}
.emer_2022 .ui-widget-header >button span:first-child:after{top: 0; left: 50%; width: 2px; height: 100%; margin-left: -1.5px;}
.emer_2022 .ui-dialog-content{max-height: 85vh !important; overflow-y: auto !important; padding: 20px 28px 30px !important;}
.emer_2022 #upddt_ul{}
.emer_2022 #upddt_ul >li{position: relative; }
.emer_2022 #upddt_ul >li:first-child{padding-bottom: 20px; border-bottom: 1px solid rgba(189, 189, 189, 0.3); box-sizing: border-box;}
.emer_2022 #upddt_ul >li:not(:first-child){margin-top: 20px;}
.emer_2022 #upddt_ul >li .supTitle{position: relative; display: inline-block; margin-right: 25px; margin-bottom: 6px; padding-left: 25px; font-size: 20px; color: #263243; line-height: 29px; font-weight: 700; box-sizing: border-box;}
.emer_2022 #upddt_ul >li .supTitle:before,
.emer_2022 #upddt_ul >li .supTitle:after{
    content: ""; position: absolute; left: 0; display: inline-block; width: 15px; height: 6px; background-color: #1C2E5B; vertical-align: middle; 
    border-radius: 50px; -webkit-border-radius: 50px;
}
.emer_2022 #upddt_ul >li .supTitle:before{
    top: 8px; 
    transform: rotate(45deg);
}
.emer_2022 #upddt_ul >li .supTitle:after{
    bottom: 8px; 
    transform: rotate(-45deg);
}

.emer_2022 #upddt_ul >li .supTitle.green:before,
.emer_2022 #upddt_ul >li .supTitle.green:after{background-color: #5F9D3E;}
.emer_2022 #upddt_ul >li:first-child >div:after,
.emer_2022 #upddt_ul >li:last-child >div:after{content: ""; display: block; clear: both;}
.emer_2022 #upddt_ul >li:first-child >div >strong,
.emer_2022 #upddt_ul >li:first-child >div >div,
.emer_2022 #upddt_ul >li:last-child >div >strong,
.emer_2022 #upddt_ul >li:last-child >div >div{float: left; display: inline-block;}
.emer_2022 #upddt_ul >li:first-child >div >div:last-child,
.emer_2022 #upddt_ul >li:last-child >div >div:last-child{float: right;}
.emer_2022 #upddt_ul >li:first-child >div >div label,
.emer_2022 #upddt_ul >li:first-child >div >div input,
.emer_2022 #upddt_ul >li:last-child >div >div label,
.emer_2022 #upddt_ul >li:last-child >div >div input{display: inline-block; margin-bottom: 0; vertical-align: middle;}
.emer_2022 #upddt_ul >li:first-child >div >div label,
.emer_2022 #upddt_ul >li:last-child >div >div label{margin-right: 8px; font-size: 16px; line-height: 23px; color: #444444; font-weight: 600;}
.emer_2022 #upddt_ul >li:first-child >div >div label:not(:first-of-type),
.emer_2022 #upddt_ul >li:last-child >div >div label:not(:first-of-type){margin-left: 28px;}
.emer_2022 #upddt_ul >li:first-child >div >div input,
.emer_2022 #upddt_ul >li:last-child >div >div input{height: 30px; border: 1px solid #B7B7B7;}
.emer_2022 #upddt_ul >li table{border: 1px solid #B7B7B7; border-top: 2px solid #333333; box-sizing: border-box;}
.emer_2022 #upddt_ul >li:first-child >div >div .btn-primary{background-color: #1C2E5B; border-color: #1C2E5B;}
.emer_2022 #upddt_ul >li:last-child >div >div .btn-primary{background-color: #5F9D3E; border-color: #5F9D3E;}
.emer_2022 #upddt_ul >li .tab_btn{position: absolute; top: 0; left: 170px;}
.emer_2022 #upddt_ul >li .tab_btn ul{display: inline-block; vertical-align: middle;}
.emer_2022 #upddt_ul >li .tab_btn ul:after{content: ""; display: block; clear: both;}
.emer_2022 #upddt_ul >li .tab_btn ul li{float: left;}
.emer_2022 #upddt_ul >li .tab_btn ul li:not(:first-child){margin-left: 5px;}
.emer_2022 #upddt_ul >li .tab_btn ul li a{
    display: inline-block; padding: 0 17px; font-size: 15px; line-height: 30px; font-weight: 600; background-color: rgba(223, 227, 237, 0.4); text-decoration: none; box-sizing: border-box;
    border-radius: 4px 4px 0px 0px; -webkit-border-radius: 4px 4px 0px 0px;
}
.emer_2022 #upddt_ul >li .tab_btn ul li a.on{background-color: #3567B3; color: #fff;}
.emer_2022 #upddt_ul >li .tab_btn ul + p{display: inline-block; margin-bottom: 0; margin-left: 4px; vertical-align: middle; color: #F23F3A; font-size: 13px; line-height: 20px; font-weight: 600;}
.emer_2022 #upddt_ul >li .tab_cont{display: none; }
.emer_2022 #upddt_ul >li .tab_cont.on{display: block; }
.emer_2022 #upddt_ul >li .tab_cont >div{max-height: 351.5px; overflow-y: auto;}
.emer_2022 #upddt_ul >li .tab_cont table{}
.emer_2022 #upddt_ul >li .tab_cont >span{position: absolute; top: 2px; right: 0;}
.emer_2022 #upddt_ul >li .tab_cont >span>span{display: inline-block; margin-right: 15px; font-size: 13px; line-height: 20px; color: #F23F3A;}
.emer_2022 #upddt_ul >li .tab_cont >span button{padding: 4px 12px; background-color: #F16022; border-color: #F16022;}
.emer_2022 #upddt_ul >li table tr td{padding: 0 5px !important;}
.emer_2022 #upddt_ul >li table tbody tr{}
.emer_2022 #upddt_ul >li table tbody tr td{border-left: none;}
.emer_2022 #upddt_ul >li table tbody tr td:not(:last-child){border-right: 1px solid rgba(183, 183, 183, 0.2); }
.emer_2022 #upddt_ul >li table tbody tr td{border-bottom: 1px solid #B7B7B7;}
.emer_2022 #upddt_ul >li table tr td >select,
.emer_2022 #upddt_ul >li table tr td >input{width: 100% !important;}
.emer_2022 input::placeholder{color: #9EA1A3;}
.emer_2022 #upddt_ul >li table tr td >div:after{content: ""; display: block; clear: both;}
.emer_2022 #upddt_ul >li table tr td >div>select,
.emer_2022 #upddt_ul >li table tr td >div>input{float: left; width: calc((100% - 5px) / 2) !important;}
.emer_2022 #upddt_ul >li table tr td >div>input:last-of-type{margin-left: 5px;}
.emer_2022 #upddt_ul >li >div >div[data-slide]{display: none;}
.emer_2022 #upddt_ul >li >div >div[data-slide].on{display: block;}
.emer_2022 #upddt_ul >li >div >div[data-slide] + .slide_btn{
    position: absolute; top: 0; right: 0; display: block; width: 30px; height: 30px; border: 1px solid #B7B7B7; text-indent: -9999px; background-color: #fff; box-sizing: border-box;
    border-radius: 5px; -webkit-border-radius: 5px;
    
    
}
.emer_2022 #upddt_ul >li >div >div[data-slide] + .slide_btn:before{
    content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; background:  url(../../images/data-slide_btn.svg) no-repeat center center; background-size: 100% auto;
    transform: rotate(0); -webkit-transform: rotate(0);
    transition: all 0.2s linear; -webkit-transition: all 0.2s linear;
}
.emer_2022 #upddt_ul >li >div >div[data-slide] + .slide_btn.on:before{
    transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
.emer_2022.correct .ui-dialog-content{max-height: 90vh !important; overflow: auto;}
.emer_2022.correct #upddt_ul >li .tab_cont >div{max-height: 351.5px; overflow-y: auto;}
/* 220913 달력 년월 위치조정 */
.ui-datepicker .ui-datepicker-title {display: flex; align-items: center;}

/* 221019 추가 */
#tbl_list1_log tr.haveData {cursor: pointer;}
#tbl_list1_log tr.haveData td{background-color: #fff !important;}
#tbl_list1_log tr.haveData:hover .chn_div_black{text-decoration: underline; text-underline-position: under;}
/* .emer_2022 #logPopup_ul >li{position: relative; } */
.emer_2022 #logPopup_ul >li:first-child{border-bottom: 1px solid white; box-sizing: border-box;}
.emer_2022 #logPopup_ul .table{margin: 0;}
.emer_2022 #logPopup_ul >li table{/*border-left:3px solid #B7B7B7;*/border: 1px solid #B7B7B7; border-top: 2px solid #333333; box-sizing: border-box;}
.emer_2022 #logPopup_ul >li table tr td{padding: 0 5px !important; white-space: nowrap;}
.emer_2022 #logPopup_ul >li table tbody tr td{border-left: none;}
.emer_2022 #logPopup_ul >li table tbody tr td:not(:last-child){border-right: 1px solid #DEDEDE;}
.emer_2022 #logPopup_ul >li table tbody tr td{/*border-bottom: 1px solid #B7B7B7;*/}
.emer_2022 #logPopup_ul >li table thead tr:not(:first-child) th{border-top: 1px solid #C9CEDB;}
.emer_2022 #logPopup_ul >li table thead tr th{border-right: 1px solid #C9CEDB; border-left: none; border-bottom: none;}
.emer_2022 #logPopup_ul >li table thead tr th:last-child{border-right: none;}
.emer_2022 #logPopup_ul >li table tr td >div:after{content: ""; display: block; clear: both;}
.emer_2022 #logPopup_ul >li table tr td.nextdata{color:blue;}
.emer_2022 #logPopup_ul >li table tr td.changedata{background-color: yellow;}
.emer_2022 #logPopup_ul >li table tr .changeDivTd{/*border-left:3px solid #B7B7B7;*/}
.emer_2022 #logPopup_ul >li table th{white-space: nowrap;}
.tab_btn ul li:hover{transform:scale(1.2);background-color: rgba(223, 227, 237, 1);}