@charset "utf-8";
:root {
	--point-color: #005F64; /* 사이트 컬러 */
	--point-color-over: #004447; /* 사이트 컬러 */
}

/*인사말*/
.college_hi .hihihi{background-image: url(../../../images/site/cba/content/hi_head.png);}

/*연혁*/
.historys .wraps .his_list li .yy{font-family: 'Poppins','Noto Sans KR';}
.historys .wraps:nth-child(2) .his_list:after{display: none;}
.historys .wraps .his_list li:before{border-color: var(--point-color);}
.historys .wraps .his_list li .yy{color: var(--point-color);}

/*바이오계열*/
.col01{}
.col01 .coll_int .boxs span{background-image: url(../../../images/site/cns/content/coll_int_01.png);}

/*보건의료계열*/
.col02{}
.col02 .coll_int .boxs span{background-image: url(../../../images/site/cns/content/coll_int_02.png);}

/*외식산업계열*/
.col03{}
.col03 .coll_int .boxs span{background-image: url(../../../images/site/cns/content/coll_int_03.png);}

/*학생회*/
.img_box{}
.img_box img{display: block; width: 100%;}