@charset "utf-8";




/**** 영상 ****/
#video_page .videos.ty_2 ul li a .imgs,
#video_page .videos.ty_2 ul li a .txts
{transition:all 0.2s ease; -webkit-transition:all 0.2s ease;}

#video_page{padding:30px 0 60px; border-top:1px solid #bfbfbf; font-size:14px;}
	#video_page .videos{}
	#video_page .videos ul li a{position:relative; display:block;}
	#video_page .videos ul li a:after{
		content:""; opacity:0; position:absolute; top:0; left:0; z-index:0; width:100%; height:100%; background:linear-gradient(90deg, #FFFFFF 0%, #ED527E 0.01%, #666BE9 100%), #EC1A5B;
		transition:all 0.4s ease; -webkit-transition:all 0.4s ease;
	}
	#video_page .videos ul li a .neww{position:absolute; top:0.5em; left:0.5em; z-index:1; display:inline-block; width:4.167em; padding:0.26em 0; background-color:#fff; border-radius:0.2em; font-style:normal; font-size:11px; text-align:center;}
	#video_page .videos ul li a .imgs{overflow:hidden; position:relative; display:block; background-color:#aaa;}
	#video_page .videos ul li a .imgs .layer{display:block; width:100%;}
	#video_page .videos ul li a .imgs img:not(.layer){position:absolute; top:0; left:0; width:100%;}
	#video_page .videos ul li a .imgs span{position:absolute; bottom:0; right:0; display:block; padding:0 0.5em; background-color:#000; color:#fff; font-size:0.9em; box-sizing:border-box;}
	#video_page .videos ul li a .txts i{overflow:hidden; position:absolute; top:calc(50% - 1.25em); left:0; width:2.5em; height:2.5em; background:#FBFAFA; border:1px solid #ddd; border-radius:50%; box-sizing:border-box;}
	#video_page .videos ul li a .txts i img{
		position:relative; top:50%; left:50%; width:100%;
		transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%);
	}
	#video_page .videos ul li a .txts .tt{overflow:hidden; position:relative; display:block; width:100%; vertical-align:middle; box-sizing:border-box;}
	#video_page .videos ul li a .txts .tt strong{width:100%; height:100%; color:#1C1A54; box-sizing:border-box;}
	#video_page .videos ul li a .txts .names{font-style:normal; font-size:0.9em; color:#EC1A5B;}
	#video_page .videos ul li a .txts .etcs>span{font-size:0.9em;}
	#video_page .videos ul li a .txts .etcs .plays{position:relative; margin-right:1.4em; padding-left:1.25em; background:url(../../../images/site/skin/icon_play.svg) no-repeat left center; box-sizing:border-box;}
	#video_page .videos ul li a .txts .etcs .plays:after{content:""; position:absolute; top:0.4em; right:-0.9em; width:1px; height:0.8em; background-color:#ddd;}

	#video_page .videos.ty_2 ul{}
	#video_page .videos.ty_2 ul li{padding-bottom:2em; border-bottom:1px solid #ddd;}
	#video_page .videos.ty_2 ul li:not(:first-child){margin-top:2em;}
	#video_page .videos.ty_2 ul li a{overflow:hidden;}
	#video_page .videos.ty_2 ul li a .imgs{float:left; width:16.5em; margin-right:3%;}
	#video_page .videos.ty_2 ul li a .txts{float:left; display:block; width:calc(100% - 16.5em - 3%);}
	#video_page .videos.ty_2 ul li a .txts .tt{margin-bottom:0.6em;}
	#video_page .videos.ty_2 ul li a .txts .tt i{display:none;}
	#video_page .videos.ty_2 ul li a .txts .tt strong{
		display:block; font-size:1.25em;
		overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
	}
	#video_page .videos.ty_2 ul li a .txts .p_txt{
		display:block; margin-bottom:1.3em; height:3em;
		overflow:hidden; display:-webkit-box; text-overflow:ellipsis; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical;
	}
	#video_page .videos.ty_2 ul li a .txts .names{position:relative; display:inline-block; height:2.5em; line-height:2.5em; margin-right:1.5em; padding-left:3em; vertical-align:middle;}
	#video_page .videos.ty_2 ul li a .txts .etcs{display:inline-block; vertical-align:middle;}

	#video_page .videos.ty_2 ul li a:hover .imgs{box-shadow:3px 5px 10px rgba(170, 170, 170, 0.4);}
	#video_page .videos.ty_2 ul li a:hover .txts .tt{text-decoration:underline;}

	#video_page .more{display:block; margin-top:1.5em; text-align:right; color:#EC1A5B;}

@media screen and (max-width:640px){
	#video_page{padding:30px 0 40px;}
	#video_page .videos.ty_2 ul li{padding-bottom:1.5em;}
	#video_page .videos.ty_2 ul li a .imgs{float:none; width:11em;}
	#video_page .videos.ty_2 ul li a .txts{float:none; width:100%; margin-top:0.6em;}
	#video_page .videos.ty_2 ul li a .txts .tt{position:absolute; top:0; right:0; width:calc(100% - 11em - 3%); margin-bottom:0;}
	#video_page .videos.ty_2 ul li a .txts .p_txt{position:absolute; top:2.5em; right:0; width:calc(100% - 11em - 3%); margin-bottom:0;}
}
@media screen and (max-width:480px){
	#video_page .videos.ty_2 ul li{padding-bottom:1.5em;}
	#video_page .videos.ty_2 ul li a .neww{width:4em; padding:0.16em 0; font-size:10px;}
	#video_page .videos.ty_2 ul li a .imgs{width:8.5em; margin-right:5%;}
	#video_page .videos.ty_2 ul li a .txts{width:100%;}
	#video_page .videos.ty_2 ul li a .txts .tt{width:calc(100% - 8.5em - 5%);}
	#video_page .videos.ty_2 ul li a .txts .tt strong{font-size:1.2em;}
	#video_page .videos.ty_2 ul li a .txts .p_txt{top:2.1em; width:calc(100% - 8.5em - 5%); font-size:0.95em;}
}



/**** 채널 ****/
#cha_page ul li>div
{transition:all 0.2s ease; -webkit-transition:all 0.2s ease;}
#cha_page{padding-bottom:60px; font-size:14px;}
#cha_page ul li:not(:first-child){margin-top:1.8em;}
#cha_page ul li>div{position:relative; padding:1.8em 2em; border:1px solid #ddd; border-radius:0.2em;}
#cha_page ul li>div:hover{box-shadow:0 3px 10px rgba(185, 185, 185, 0.2);}
#cha_page ul li>div .profiles{position:absolute; top:calc(50% - 1.25em); left:2em; width:12em; height:2.5em; padding-left:3.1em; box-sizing:border-box;}
#cha_page ul li>div .profiles a{display:table; width:100%; height:100%;}
#cha_page ul li>div .profiles i{overflow:hidden; position:absolute; top:0; left:0; width:2.5em; height:2.5em; background-color:#FBFAFA; border:1px solid #ddd; border-radius:50%; box-sizing:border-box;}
#cha_page ul li>div .profiles img{
	position:relative; top:50%; left:50%; width:100%;
	transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%);
}
#cha_page ul li>div .profiles strong{display:table-cell; width:calc(100% - 2.5em); height:100%; line-height:1.3; vertical-align:middle; font-size:0.95em; font-weight:400; color:#EC1A5B; box-sizing:border-box;}
#cha_page ul li>div p{margin:0; padding-left:calc(12em + 2%);}
#cha_page ul li>div [data-skin="btn"]{position:absolute; top:calc(50% - 1.1875em); right:2em;}
#cha_page .more{display:block; margin-top:1.5em; text-align:right; color:#EC1A5B;}

@media screen and (max-width:640px){
	#cha_page{padding-bottom:40px;}
	#cha_page ul li:not(:first-child){margin-top:0.8em;}
	#cha_page ul li>div{padding:1.5em;}
	#cha_page ul li>div .profiles{position:relative; top:auto; left:0; width:calc(100% - 5em);}
	#cha_page ul li>div p{margin-top:0.5em; padding:0;}
	#cha_page ul li>div [data-skin="btn"]{top:1.5em; right:1.5em;}
	#cha_page .re_more{margin-top:2.5em;}
}