@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int [data-depart-box="1"] .txts{background-color: #005BAA; background-image: url(../../../images/site/crus/content/hs_box_img01.png);}
.depart_int [data-depart-box="1"] .imgs{background-image: url(../../../images/site/crus/content/hs_box_img02.jpg);}
.depart_int [data-depart-box="1"] .txts .eng,
.depart_int [data-depart-box="1"] .txts .tt{text-shadow: 2px 2px 10px #034C8C;}
.depart_int [data-depart-box="2"]{background-color: #F0F7FF;}
.depart_int [data-depart-box="2"] >ol>li>em:before{background-color: #2F83E7;} 
.depart_int [data-depart-box="6"] .wrap .tt{border-color: #F0F7FF;}
.depart_int [data-depart-box="6"] .wrap .xx > ul{background-color: #F0F7FF;}
.depart_int [data-depart-box="6"] .wrap .xx > ul>li{border-color: rgba(47, 131, 231, 0.4);}
.depart_int [data-depart-box="6"] .wrap .tt strong:before{background-image: url(../../../images/site/crus/content/data-depart-box06.svg);}
.depart_int [data-depart-box="6"] .wrap .tt strong>span{color: #0F3192} 
.depart_int .t_img img{width: 100%;}

