@charset "utf-8";

#main{position: relative; background-color: #EFF2F7;}
#main #wrap{position: relative;}
#main #wrap:before{content: ""; position: absolute; bottom: 0; left: 0; display: block; width: 41em; height: 52.9em; background: url(../../../images/site/kor/main/bg.svg) no-repeat bottom left; background-size: 100% auto;}
[data-box]{
    position: relative; box-shadow: 0px 5px 10px #F1F2FA; background-color: #fff; 
    border-radius: 8px; -webkit-border-radius: 8px;
}
[data-box] .tit{display: block; padding: 1.15em 2.4em; border-bottom: 1px solid #ECECEC; box-sizing: border-box;}
[data-box] .tit span{font-size: 2.4em; letter-spacing: -0.05em; font-weight: 700; color: #111;}
[data-box] .con{}
[data-box] .con .more{
    position: absolute; top: 1.8em; right: 1.9em; display: block; width: 2.4em; height: 2.4em; background-image: url(../../../images/site/kor/main/more.svg);  background-repeat: no-repeat; background-position: center center; background-size: 100% auto;
    transform: rotate(0); -webkit-transform: rotate(0);
    transition: transform 0.2s linear; -webkit-transition: transform 0.2s linear;
}
[data-box] .con .more:hover{
    transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
[data-box] .con .more span{display: block; text-indent: -9999px;}

#sec1{margin-top: 3em;}
#sec1:after{content: ""; display: block; clear: both;}
#sec1 [data-box]{float: left; width: calc((100% - 1px - 2.4em) / 2);}
#sec1 [data-box] .con{padding: 1em 2.4em; box-sizing: border-box;}
#sec1 [data-box] .con ul{}
#sec1 [data-box] .con ul li{position: relative; box-sizing: border-box;}
#sec1 [data-box] .con ul li:not(:first-child){border-top: 1px solid #EEF0F2;}
#sec1 [data-box] .con ul li strong{
    position: absolute; top: 50% ; left: 1em;
    transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
#sec1 [data-box] .con ul li strong:before{content: ""; display: inline-block; width: 3.2em; height: 3.2em; margin-right: 1em; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; vertical-align: top;}
#sec1 [data-box="1"] .con ul li:nth-child(1) strong:before{background-image: url(../../../images/site/kor/main/sec1_01.svg);}
#sec1 [data-box="1"] .con ul li:nth-child(2) strong:before{background-image: url(../../../images/site/kor/main/sec1_02.svg);}
#sec1 [data-box="1"] .con ul li:nth-child(3) strong:before{background-image: url(../../../images/site/kor/main/sec1_03.svg);}
#sec1 [data-box="2"] .con ul li:nth-child(1) strong:before{background-image: url(../../../images/site/kor/main/sec1_04.svg);}
#sec1 [data-box="2"] .con ul li:nth-child(2) strong:before{background-image: url(../../../images/site/kor/main/sec1_05.svg);}
#sec1 [data-box="2"] .con ul li:nth-child(3) strong:before{background-image: url(../../../images/site/kor/main/sec1_06.svg);}
#sec1 [data-box] .con ul li strong span{font-size: 2em; font-weight: 700; letter-spacing: -0.05em; color: #111;}
#sec1 [data-box] .con ul li >span{display: block; padding: 0.25em 0.33em; text-align: right; font-size: 3em; font-weight: 700; letter-spacing: -0.05em; vertical-align: middle; box-sizing: border-box;}
#sec1 [data-box="1"]{margin-right: 2.4em;}
#sec1 [data-box="1"] .con ul li:nth-child(1) >span{color: #2F80ED;}
#sec1 [data-box="1"] .con ul li:nth-child(2) >span{color: #E03131;}
#sec1 [data-box="1"] .con ul li:nth-child(3) >span{color: #099268;}
#sec1 [data-box="2"]{background-color: #384576;}
#sec1 [data-box="2"] .tit{border-color: rgba(255, 255, 255, 0.1);;}
#sec1 [data-box="2"] .tit span{color: #fff;}
#sec1 [data-box="2"] .con ul li:not(:first-child){border-color: rgba(255, 255, 255, 0.1);}
#sec1 [data-box="2"] .con ul li strong span{color: #fff; font-weight: 500;}
#sec1 [data-box="2"] .con ul li >span{color: #fff; font-weight: 500;}
#sec1 [data-box="2"] .con .more{background-image: url(../../../images/site/kor/main/more_2.svg);}



#sec2{margin-top: 2.4em;}
#sec2 [data-box="1"] .con{padding: 2em 2.4em; box-sizing: border-box;}
#sec2 [data-box="1"] .con table{width: 100%;}
#sec2 [data-box="1"] .con table thead{background-color: #F0F2F8;}
#sec2 [data-box="1"] .con table thead tr{}
#sec2 [data-box="1"] .con table thead tr th{height: 2.875em; font-size: 1.6em; font-weight: 500; color: #2E445F; text-align: center;}
#sec2 [data-box="1"] .con table tbody{}
#sec2 [data-box="1"] .con table tbody tr{box-sizing: border-box;}
#sec2 [data-box="1"] .con table tbody tr:not(:first-child){border-top: 1px solid #EEF0F2;}
#sec2 [data-box="1"] .con table tbody tr td{height: 2.875em; font-size: 1.6em; color: #444; text-align: center;}
#sec2 [data-box="1"] .con table tbody tr td:nth-child(2){text-align: left;}
#sec2 [data-box="1"] .con table tbody tr td a{display: block; white-space: nowrap;  overflow: hidden; text-overflow: ellipsis;}
#sec2 [data-box="1"] .con table tbody tr td a:hover{color: #2F80ED; text-decoration: underline; font-weight: 500;}
#sec2 [data-box="1"] .con table tbody tr td .files{display: inline-block; width: 1em; height: 1em; background: url(../../../images/site/kor/main/sec2_01.svg) no-repeat center center; vertical-align: middle;}
#sec2 [data-box="1"] .con table tbody tr td .files span{display: block; text-indent: -9999px;}

#sec3{margin-top: 2.4em;}
#sec3:after{content: ""; display: block; clear: both;}
#sec3 [data-box]{float: left; width: calc((100% - 1px - 4.8em) / 3); margin-left: 2.4em;}
#sec3 [data-box="1"]{margin-left: 0;}
#sec3 [data-box] .con{padding:1.2em 2.4em; box-sizing:border-box}
#sec3 [data-box] .con table{width: 100%;}
#sec3 [data-box] .con table thead{}
#sec3 [data-box] .con table thead tr{}
#sec3 [data-box] .con table thead tr th{height: 2em; font-size: 1.6em; font-weight: 500; color: #4E5968; text-align: center;}
#sec3 [data-box] .con table tbody{}
#sec3 [data-box] .con table tbody tr{box-sizing: border-box;}
#sec3 [data-box] .con table tbody tr:not(:first-child){border-top: 1px solid #EEF0F2;}
#sec3 [data-box] .con table tbody tr td{height: 2.875em; font-size: 1.6em; color: #444; text-align: center;}
#sec3 [data-box] .con table tbody tr td a{display: block;color: #2F80ED; text-decoration: underline; font-weight: 500;}
#sec2 [data-box] .con table tbody tr td a:hover{}

@media screen and (max-width:1024px){
    #sec2 [data-box="1"] .con table colgroup col:nth-child(3){width: 13em !important;}
    #sec2 [data-box="1"] .con table colgroup col:nth-child(4),
    #sec2 [data-box="1"] .con table colgroup col:nth-child(5),
    #sec2 [data-box="1"] .con table colgroup col:nth-child(6){width: 8em !important;}
}

@media screen and (max-width:800px){
    #sec2 [data-box="1"] .con .scroll{width: 100%; overflow-x: scroll;}
    #sec2 [data-box="1"] .con table{width: 800px;}
    #sec3 [data-box]{float: none; width: 100%; margin-left: 0; margin-top: 2.4em;}
}

@media screen and (max-width:640px){
    #sec1 [data-box]{float: none; width:100%;}
    #sec1 [data-box="1"]{margin-right: 0;}
    #sec1 [data-box="2"]{margin-top: 2.4em;}
	#sec2 [data-box="1"] .con table{width: 600px;}
}






