@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int .t_intbx{background-image: url(../../../images/site/game/content/int_head.png);}


.depart_elde{}
.depart_elde{}
.depart_elde .img_box{}
.depart_elde .img_box:after{content: ""; display: block; clear: both;}
.depart_elde .img_box div{float: left; display: block; width: calc((100% - 1px - 3.75em) / 3);}
.depart_elde .img_box div:not(:first-child){margin-left: 1.875em;}
.depart_elde .img_box div img{display: block; width: 100%;}
@media screen and (max-width: 1024px){
    .depart_elde .img_box img{width: calc((100% - 1px - 2em) / 3);}
    .depart_elde .img_box img:not(:first-child){margin-left: 1em;}
}
@media screen and (max-width: 640px){
    .depart_elde .img_box img{width: calc((100% - 1px - 1.2em) / 3);}
    .depart_elde .img_box img:not(:first-child){margin-left: 0.6em;}
}
