@font-face {
  font-family: 's-core-dream';
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('scdream4-webfont.woff') format('woff');
}
@font-face {
  font-family: 's-core-dream';
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url('scdream6-webfont.woff') format('woff');
}
@font-face {
  font-family: 's-core-dream';
  font-weight: 600;
  font-style: normal;
  font-display: block;
  src: url('scdream8-webfont.woff') format('woff');
}