body#main #root {
	/*background-color: #E8EFF5;*/
	transition: margin-top 0.3s linear;
}

body#main #root #container > .layout {
	padding: 5rem 0 6rem;
}

body#main #root #container > .layout:after {
	content: "";
	display: block;
	clear: both;
}

body#main #root #container > .layout > [data-item] {
	float: left;
	background-color: #fff;
	border-radius: 2em;
}

body#main #root #container > .layout > [data-item="1"] {
    position: relative;
	width: 70em;
	height: 47.1em;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
}
body#main #root #container > .layout > [data-item="1"]:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100vw;
    height: calc(100% + 5em); 
    background-color: #EBF3FA;
}

body#main #root #container > .layout > [data-item="1"] > .in {
    height: 100%;
    overflow: hidden;
    border-radius: 2em; 
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] {
	position: relative;
    height: 100%;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .grid {
	display: block;
	position: relative;
	z-index: -1;
	width: 100%;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .title {
	display: none !important;
	position: absolute;
	left: 3.1em;
	top: 2.1em;
	z-index: 200;
	width: 15em;
	height: 3.8em;
	line-height: 1.4;
	padding: 1.2em 0 0 3.7em;
	background-color: #fff;
	border-radius: 1.8em;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .title:before {
	content: "";
	display: block;
	position: absolute;
	left: 1em;
	top: 50%;
	width: 2.4em;
	height: 2.4em;
	background-image: url("../../img/eng/common/fire.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	transform: translateY(-50%);
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .title > strong {
	font-weight: 500;
	font-size: 1.3em;
	color: #000;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .title > span {
	padding-left: 0.5em;
	font-weight: 400;
	font-size: 1.3em;
	color: rgba(26, 26, 26, 0.6);
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .title > span > em {
	font-style: normal;
	font-weight: 500;
	color: #3C64E6;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > .control {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 200;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > .control:after {
	content: "";
	display: block;
	clear: both;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > .control > button {
	opacity: 0.6;
	display: block;
	float: left;
	width: 4.8em;
	height: 4.8em;
	padding: 0;
	margin: 0;
	font-size: inherit;
	cursor: pointer;
	border: none;
	background-color: black;
	overflow: hidden;
	display: block;
	text-align: left;
	text-indent: -1000px;
	transition: all 0.3s linear;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > .control > button:nth-child(n+2) {
	margin-left: 1px;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > .control > button.num {
	display: none;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > .control > button.before {
	background-image: url("../../img/eng/common/white_arrow.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > .control > button.after {
	background-image: url("../../img/eng/common/white_arrow_after.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > .control > button.play {
	background-image: url("../../img/eng/common/white_play.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > .control > button.stop {
	background-image: url("../../img/eng/common/white_stop.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > .control > button:hover {
	opacity: 1;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.5s linear 0.5s;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a {
	overflow: hidden;
	display: table;
    table-layout: fixed;
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in {
	display: table-cell;
	width: 100%;
	height: 100%;
	padding: 8.4em calc(100% - 50em) 3.9em 4em;
	color: #fff;
    vertical-align: bottom;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 56.88%, rgba(0, 0, 0, 0.4) 100%);
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in > strong {
	display: block;
	line-height: 1.2;
	font-weight: 600;
	font-size: 3.6em;
    letter-spacing: -0.05rem;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in > span {
	display: block;
	line-height: 2.68;
	font-weight: 400;
	font-size: 1.6em;
    letter-spacing: -0.05rem;
    color: rgba(255, 255, 255, 0.7);
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in[data-type="2"] {
	color: #253675;
}
body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in[data-type="2"] > span{
    color: rgba(37, 54, 117, 0.8);
    font-weight: 500;
}

body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li[data-open="on"] {
	opacity: 1;
	z-index: 100;
	transition: opacity 0.5s linear 0s;
}

@media screen and (max-width: 800px) {
	body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in:after {
		left: auto;
		right: 4em;
	}
}

body#main #root #container > .layout > [data-item="2"] {
    position: relative;
	width: calc(100% - 70em - 3em);
	height: 47.1em;
	margin-left: 3em;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
}

body#main #root #container > .layout > [data-item="2"]:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -3em;
    z-index: -1;
    display: block;
    width: 100vw;
    height: calc(100% + 5em); 
    background-color: #EBF3FA;
}

body#main #root #container > .layout > [data-item="2"] > .in {
	position: relative;
    height: 100%;
	padding: 2.8em 2.7em;
    box-sizing: border-box;
}

body#main #root #container > .layout > [data-item="2"] > .in:before {
	content: "";
	display: block;
	position: absolute;
	left: 4.5em;
	top: -0.2em;
	width: 4.087em;
	height: 5.21em;
	background-image: url("../../img/eng/main/main_star.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

body#main #root #container > .layout > [data-item="2"] > .in > .head {
	height: 4.9em;
	text-align: center;
}

body#main #root #container > .layout > [data-item="2"] > .in > .head > strong {
	display: block;
	line-height: 1.4;
	font-weight: 500;
	font-size: 3em;
    line-height: 1.43;
	color: #1a1a1a;
}

body#main #root #container > .layout > [data-item="2"] > .in > .head > strong > span {
	font-weight: 700;
	color: #2E63C5;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd {
    margin-top: 2.6em;
	padding-bottom: 2em;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul {
	
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul:after {
	content: "";
	display: block;
	clear: both;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li {
	display: table;
	table-layout: fixed;
	float: left;
	position: relative;
	width: calc((100% - 1px) / 3);
    height: 16.9em;
	border-right: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(3n+1) {
	clear: both;
	border-left: 1px solid #E6E6E6;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:not(:nth-child(n+4)) {
	border-top: 1px solid #E6E6E6;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:not(:nth-child(n+3)) {
	border-right: 1px solid #E6E6E6;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a {
	display: table-cell;
	line-height: 1.4;
	vertical-align: middle;
	font-weight: 400;
	color: #1a1a1a;
	background-color: #fff;
    text-align: center;
	transition: background-color 0.3s linear;
    box-sizing: border-box;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a:before {
	content: "";
	display: block;
	width: 7.5em;
	height: 6.2em;
    margin: 1em auto 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a > span {
	font-weight: 500;
    font-size: 2em;
    line-height: 1.95;
    color: #515151;
    transition: color 0.3s linear;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a > span > span {
	display: block;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a > span > span:not(:nth-child(n+2)) {
	margin-right: 0.3em;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a:hover {
	background-color: #cbdeff;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:not(:nth-child(n+4)) > a:hover {
	background-color: #cbdeff;
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(1) > a:before {
	background-image: url(../../img/eng/main/simbol_1.svg);
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(2) > a:before {
	background-image: url(../../img/eng/main/simbol_2.svg);
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(3) > a:before {
	background-image: url(../../img/eng/main/simbol_3.svg);
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(4) > a:before {
	background-image: url(../../img/eng/main/simbol_4.svg);
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(5) > a:before {
	background-image: url(../../img/eng/main/simbol_5.svg);
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(6) > a:before {
	background-image: url(../../img/eng/main/simbol_6.svg);
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(7) > a:before {
	background-image: url(../../img/eng/main/simbol_7.svg);
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(8) > a:before {
	background-image: url(../../img/eng/main/simbol_8.svg);
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(9) > a:before {
	background-image: url(../../img/eng/main/simbol_9.svg);
}

body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a:hover > span {
    color: #174598;
}

body#main #root #container > .layout > [data-item="3"] {
    position: relative;
	clear: both;
	width: 70em;
	height: 26.8em;
	margin-top: 6.1em;
    margin-bottom: 4.1em;
    background-color: transparent;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
}
body#main #root #container > .layout > [data-item="3"] + [data-item="2"]{display: none;}

body#main #root #container > .layout > [data-item="3"]:before{
    content: "";
    position: absolute;
    bottom: -4.1em;
    right: 0;
    z-index: -1;
    display: block;
    width: 100vw;
    height: calc(100% + 4.1em + 6.1em); 
    background-color: #EBF3FA;
}

body#main #root #container > .layout > [data-item="3"] > .head {
    
}

body#main #root #container > .layout > [data-item="3"] > .head > strong{
    display: block;
    padding: 0 5em 0 1.2em;
    line-height: 1;
    font-weight: 700; 
    letter-spacing: -0.01em;
    box-sizing: border-box;
}
body#main #root #container > .layout > [data-item="3"] > .head > strong > span{
    font-size: 3em; 
    font-weight: 700; 
    color: #2E63C5;
}

body#main #root #container > .layout > [data-item="3"] > .midd {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid rgba(46, 99, 197, 0.3);
    box-sizing: border-box;
}

body#main #root #container > .layout > [data-item="3"] > .midd > ul > li{
    position: relative;
    padding: 0 1em 0 2.6em;
}

body#main #root #container > .layout > [data-item="3"] > .midd > ul > li:nth-child(n+2) {
	margin-top: 1.4em;
}

body#main #root #container > .layout > [data-item="3"] > .midd > ul > li:nth-child(n+6) {
	display: none !important;
}

body#main #root #container > .layout > [data-item="3"] > .midd > ul > li:before {
	content: "";
	display: block;
	position: absolute;
	left: 1.2em;
	top: 1.1em;
	width: 4px;
	height: 4px;
    background-color: #4A4C4D;
	border-radius: 50%;
}

body#main #root #container > .layout > [data-item="3"] > .midd > ul > li > a {
	display: block;
	position: relative;
	line-height: 2.4em;
	padding: 0 9em 0 0;
}


body#main #root #container > .layout > [data-item="3"] > .midd > ul > li > a > strong {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	position: relative;
	max-width: 100%;
	padding-right: 2.4em;
	vertical-align: top;
	font-size: 1.7em;
	color: #4A4C4D;
}

body#main #root #container > .layout > [data-item="3"] > .midd > ul > li > a > strong > em {
	overflow: hidden;
	display: block;
	position: absolute;
	right: 0.8em;
	top: 0.05em;
	width: 1.236em;
	height: 1.236em;
	text-indent: -1000px;
	font-style: normal;
	background-image: url("../../img/eng/main/new.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

body#main #root #container > .layout > [data-item="3"] > .midd > ul > li > a > span {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 1.7em;
	color: rgba(102, 102, 102, 0.8);
}

body#main #root #container > .layout > [data-item="3"] > .midd > ul > li > a:hover > strong {
	text-decoration: underline;
}
body#main #root #container > .layout > [data-item="3"] > .more {
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 100;
	width: 1.8em;
	height: 1.8em;
}

body#main #root #container > .layout > [data-item="3"] > .more > a:before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../../img/eng/main/more.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	transform: rotate(0deg);
	transition: transform 0.3s linear;
}

body#main #root #container > .layout > [data-item="3"] > .more > a > span {
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}

body#main #root #container > .layout > [data-item="3"] > .more > a:hover:before {
	transform: rotate(180deg);
}

body#main #root #container > .layout > [data-item="4"] {
    position: relative;
	width: calc(100% - 70em - 4.2em);
	height: 26.8em;
	margin-top: 6.1em;
    margin-left: 4.2em;
    margin-bottom: 4.1em;
	background-color: transparent;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
}
body#main #root #container > .layout > [data-item="4"]:before{
    content: "";
    position: absolute;
    bottom: -4.1em;
    left: -4.2em;
    z-index: -1;
    display: block;
    width: 100vw;
    height: calc(100% + 4.1em + 6.1em); 
    background-color: #EBF3FA;
}

body#main #root #container > .layout > [data-item="4"]:after{
    content: "";
    display: block;
    clear: both;
}

body#main #root #container > .layout > [data-item="4"] > .bx {
    float: left;
    width: 35.5em;
	height: 100%;
    overflow: hidden;
	border-radius: 2em;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) {
	background: #47B877 url(../../img/eng/main/main_item_6_bg2.png) no-repeat right top;
	background-size: 22.8em auto;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in {
	position: relative;
	height: 100%;
	padding: 3.1em;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:before, body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:after {
	content: "";
	position: absolute;
	z-index: 0;
}
body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:before {
    /*left: 0;
	bottom: 0;
	width: 100%;
    height: 100%;
    background: #647cad url(../../img/eng/main/main_item_6_bg2.png) no-repeat right top;
    background-size: 22.8em auto;*/
    /* content: "Preparing"; */
    right: 0;
    bottom: 0;
    width: 12.8em;
    height: 17.1em;
    background: url(../../img/eng/main/main_item_6_photo.png) no-repeat center center;
    background-size: 100% auto;
    z-index: 21;
    text-align: center;
    font-size: 1em;
    color: #fff;
    line-height: 9;
    font-weight: 500;
}
body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in a{display: block; width: 100%; height: 100%; cursor: pointer;}
/*body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:before {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 151px;
	background-image: url("../../img/eng/main/main_item_6_bg.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-position: right 50% bottom;
	background-size: auto 100%;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:after {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("../../img/eng/main/main_item_6_photo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-position: right bottom;
	background-size: auto auto;
}*/

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .head,
body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .midd {
	position: relative;
	z-index: 20;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .head > strong {
	display: block;
	line-height: 1;
	font-size: 3.3em;
    letter-spacing: -0.02em;
	color: #fff;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .head > strong > a {
	color: inherit;
    font-weight: 700;   
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .head > span {
	display: block;
	line-height: 1.5;
	margin-top: 1.333em;
	font-size: 1.5em;
	color: #A1FFC9;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .midd {
	margin-top: 2.2em;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .midd > ul > li {
	position: relative;
	padding-left: 1.3em;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .midd > ul > li:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 1.3em;
	width: 4px;
	height: 4px;
	background-color: rgba( 255, 255, 255, 0.8);
	border-radius: 50%;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .midd > ul > li > a {
    position: relative;
	font-size: 1.9em;
    font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .midd > ul > li > a:after {
    content: "";
    display: inline-block; 
    width: 1.48em;
    height: 0.43em;
    margin-left: 0.74em;
    background: url("../../img/eng/main/arrow_4.svg") no-repeat center center;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .midd > ul > li > a:hover{
    text-decoration: underline;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .midd > ul > li:nth-child(n+2) {
	margin-top: 0.2em;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) {
    float: left;
    width: calc(100% - 35.5em - 1.7em);
	height: 100%;
    margin-left: 1.7em;
	/*background-color: #fff;*/
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in{
    display: block; 
    width: 100%;
    height: 100%;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul {
	width: 100%;
    height: 100%;
    padding: 0.8em 2.5em; 
    box-sizing: border-box;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul:after {
	content: "";
	display: block;
	clear: both;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li {
    display: table;
    table-layout: fixed;
	width: 100%;
    height: 8.4em;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li:nth-child(n+2) {
	border-top: 1px dashed #8F9BA5;
    box-sizing: border-box;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li > a {
	overflow: hidden;
	display: table-cell;
	position: relative;
	z-index: 0;
	width: 100%;
	padding: 0 1.1em;
	vertical-align: middle;
	text-align: left;
	color: #000;
	transition: all 0.2s linear;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li > a > span {
	display: inline-block;
	position: relative;
	line-height: 1.5;
	padding-left: 3em;
	text-align: left;
	font-size: 2.2em;
    color: #434343;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li > a > span:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	width: 1.9em;
	height: 1.9em;
	transform: translateY(-50%);
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li > a:hover > span{
	text-decoration: underline;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li:nth-child(1) > a {
	border-radius: 2em 0 0 2em;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li:nth-child(1) > a > span:before {
	background-image: url("../../img/eng/main/simbol_10.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li:nth-child(2) > a {
	border-radius: 0 2em 2em 0;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li:nth-child(2) > a > span:before {
	background-image: url("../../img/eng/main/simbol_11.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li:nth-child(3) > a > span:before {
	background-image: url("../../img/eng/main/simbol_12.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

body#main #root #container > .layout > [data-item="5"] {
    clear: both;   
    position: relative;
    width: 70em; 
    height: 26.3em;
    margin-top: 5em;
    box-sizing: border-box;
}

/*body#main #root #container > .layout > [data-item="5"]:before {
    content: ""; 
    position: absolute;
    top: 0;
    right: -2.55em;
    z-index: 0;
    display: block;
    width: 100vw;
    height: 100%; 
    background-color: #fff;
}*/

body#main #root #container > .layout > [data-item="5"]:after {
    content: "";
    display: block;
    clear: both;
}

body#main #root #container > .layout > [data-item="5"] > .bx {
    position: relative;
    float: left; 
    display: table;
    table-layout: fixed;
    width: 50%;    
    height: 100%;
    padding: 4.3em 1em;
    background-color: #D6E5FF;
    box-sizing: border-box;
    border-radius: 2em;
}
body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(1) {
    border-bottom-right-radius: 0;
}

body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(2) {
    border-bottom-left-radius: 0;
}

body#main #root #container > .layout > [data-item="5"] > .bx > .in {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}
body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(1) > .in:before {
    content: "";
    position: absolute;
    top: calc(50% + 1.15em);
    right: 0;
    display: block; 
    width: 1px; 
    height: calc(100% - 9em); 
    border-left: 1px dashed #8F9BA5;
    transform: translateY(-50%); -webkit-transform: translateY(-50%);
    box-sizing: border-box;
}
body#main #root #container > .layout > [data-item="5"] > .bx > .in > .head {
    
}

body#main #root #container > .layout > [data-item="5"] > .bx > .in > .head > strong {
    display: block;
    text-align: center;
}

body#main #root #container > .layout > [data-item="5"] > .bx > .in > .head > strong > span {
    color: #2E63C5;
    font-size: 3em;
    line-height: 1;
    letter-spacing: -0.03em;
    font-weight: 700;
}

body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd {
    
    padding: 0 3.3em; 
    box-sizing: border-box;
}

body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd > ul {
    margin-top: 3em;
    border: 1px solid #8F9BA5;
    box-sizing: border-box;
}

body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd > ul > li {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
}
body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd > ul > li:nth-child(2):before{
    content: "";
    position: absolute;
    top: -0.5px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #8F9BA5;
}

body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd > ul > li > a {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 52px;
    padding: 1.2em 3.6em 1.2em 1.6em;
    background-color: transparent;
    box-sizing: border-box;
    transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
}
body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(1) > .in > .midd > ul > li > a {height: 104px;}
body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(1) > .in > .midd > ul > li > a:before{top: 4.6em;}
body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd > ul > li > a:hover {
    background-color: #2E63C5;
}

body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd > ul > li > a:before{
    content: "";
    position: absolute;
    top: 50%; 
    right: 1.8em;
    display: block;
    width: 1.3em;
    height: 1.3em;
    background-image: url("../../img/eng/main/more_2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: transform, background-image 0.2s ease;
    -webkit-transition: transform, background-image 0.2s ease;
}

body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd > ul > li > a:hover:before{
    background-image: url("../../img/eng/main/more_3.svg");
}

body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd > ul > li > a > span {
    font-size: 1.7em;
    color: #434343; 
}
body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd > ul > li > a:hover span {
    color: #fff;
}

body#main #root #container > .layout > [data-item="6"] {
    position: relative;
    width: calc(100% - 70em -  5.1em);
    height: 26.3em;
    margin-left: 5.1em;
    margin-top: 5em;
    box-sizing: border-box;
}

body#main #root #container > .layout > [data-item="6"] > .bx {
    position: relative;
    height: 100%;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in{
    height: 100%;
}
body#main #root #container > .layout > [data-item="6"] > .bx > .in:after {
    content: "";
    display: block;
    clear: both;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > div {
    float: left;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head{
    position: relative;
    width: calc(100% - 34.7em - 2.7em);
    margin-right: 2.7em;
    height: 100%;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 17.3em;
    height: 17.4em; 
    background-image: url("../../img/eng/main/eapplication_01.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}
body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head > strong {
    display: block; 
    margin-top: 4em;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head > strong > span {
    font-size: 3em;
    line-height: 1.2;
    letter-spacing: -0.08rem;
    font-weight: bold;
    color: #2E63C5;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd{
    width: 34.7em;
    height: 100%;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul {
    height: 100%;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li {
    position: relative;
    display: block;
    height: 25%;
    padding: 1.7em 1.3em;
    box-sizing: border-box;
}
body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li:not(:first-child) {
    border-top: 1px dashed #8F9BA5;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a {
    position: relative; 
    display: block;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 3.8em;
    height: 3.8em;
    background-color: #EBF3FA;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 3.8em;
    height: 3.8em;
    background-image: url("../../img/eng/main/eapplication_02.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transition: transform 0.3s linear;
    -webkit-transition: transform 0.3s linear;
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a:hover:after {
    transform: rotate(-180deg) translateY(50%);
    -webkit-transform: rotate(-180deg) translateY(50%);
}

body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a > span {
    font-size: 1.9em; 
    font-weight: 500;
    color: #222;
}

body#main #root #container > .layout > [data-item="7"] {
	width: 100%;
	height: auto;
	margin-top: 5em;
	background-color: #003964;
    border-radius: 0;
}
body#main #root #container > .layout > [data-item="7"] >iframe{
    width: 100%;
    border: 0;
}

body#main[data-TopPop="on"] #root {
	margin-top: 12.1em;
}

body#main[data-TopPop="on"] #root [data-pop="TopPop"] {
	height: 12.1em;
}

body#main[data-TopPop="on"] #root [data-pop="TopPop"] > .layout {
	display: block;
}


@media screen and (max-width: 1500px) {
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li {
        width: calc((100% - 1px) / 2);
        height: 11.26em;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:not(:nth-child(n+4)) {
        border-top: 0;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:not(:nth-child(n+3)) {
        border-top: 1px solid #E6E6E6;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(3n+1) {
        clear: none;
        border-left: 0;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(2n+1) {
        clear: both;
        border-left: 1px solid #E6E6E6;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a:before {
        width: 5em;
        height: 4em;
    }
    
    body#main #root #container > .layout > [data-item="4"] > .bx {
        float: none;
        width: 100%;
        height: auto;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1){
        height: calc(100% - 10em);
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) {
        float: none;
        width: 100%;
        height: auto;
        margin-top: 2em;
        margin-left: 0;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul {
        width: 100%; 
        height: auto; 
        padding: 0;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul:after {
        content: "";
        display: block;
        clear: both;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li {
        float: left;
        position: relative;
        width: calc(((100% - 1px) / 7) * 2); 
        height: auto;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li:nth-child(2):before {
        content: "";
        position: absolute; 
        top: 50%;
        left: -0.5px;
        display: block;
        width: 1px;
        height: 70%;
        border: 1px dashed #8F9BA5;
        box-sizing: border-box;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li:nth-child(2):after {
        content: "";
        position: absolute; 
        top: 50%;
        right: -0.5px;
        display: block;
        width: 1px;
        height: 70%;
        border: 1px dashed #8F9BA5;
        box-sizing: border-box;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li:nth-child(2) {
        width: calc(((100% - 1px) / 7) * 3); 
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li:nth-child(n+2) {
        border-top: 0;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li > a {
        text-align: center;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li > a > span {
        padding-left: 0;
        font-size: 2em;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li > a > span:before {
        position: relative;
        left: auto; 
        top: auto; 
        width: 1.65em;
        height: 1.65em;
        margin: 0 auto;
        transform: translateY(0);
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:before {
        line-height: 5.8;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:after {
        background-size: 14em auto;
    }
}
@media screen and (max-width: 1500px) and (min-width: 1025px) {
    body#main #root #container > .layout > [data-item="6"] {
        width: calc(100% - 70em - 4.2em);
        margin-left: 4.2em;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head {
        width: 100%;
        height: auto;
        margin-right: 0;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head:before {
        bottom: -1em;
        width: 8em;
        height: 8.112em;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd {
        position: absolute; 
        bottom: 0;
        width: 100%;
        height: auto;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul:after {
        content: "";
        display: block;
        clear: both;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li{
        float: none; 
        width: 100%;
        padding: 0 1.3em;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a {
        height: auto;
        padding: 0.75em 4em 0.75em 0;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a:before,
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a:after {
        width: 3em;
        height: 3em;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a > span{font-size: 1.8em;}
    
}

@media screen and (max-width: 1500px) and (min-width: 1025px) {
    
}

@media screen and (max-width: 1200px) {
	body#main #root #container {
		font-size: 0.9em;
	}
	body#main #root #container > .layout {
		padding: 3em 0;
	}
	body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:after {
		background-size: auto 80%;
	}
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:before {
        background-size: auto 100%;
    }
    body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(1) > .in > .midd > ul > li > a:before{top: 5em;}
}


@media screen and (max-width: 1024px) {
	body#main #root #container {
		font-size: 0.8em;
	}
    body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in{
        padding: 8.4em calc(100% - 39em) 2.375em 2.375em;
    }
    body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in > strong{
        font-size: 2.875em;
    }
    body#main #root #container > .layout > [data-item="2"] > .in:before{
        left: 3em;
    }
    body#main #root #container > .layout > [data-item="3"] > .midd > ul > li > a > strong{
        font-size: 1.5rem;
    }
    body#main #root #container > .layout > [data-item="3"] > .midd > ul > li > a > span{
        font-size: 1.5rem;
    }
    
    body#main #root #container > .layout > [data-item="5"]{
        width: 100%;
        height: auto;
        margin-top: 3.75em;
    }
    body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(1) > .in > .midd > ul > li > a:before{top: 6em;}
    body#main #root #container > .layout > [data-item="5"] > .bx > .in > .midd > ul > li > a > span{
        font-size: 1.5rem;
    }
    body#main #root #container > .layout > [data-item="6"] {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 3.75em;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 31.125em;
        height: 100%;
        margin-right: 0;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head:before {
        right: auto;
        bottom: auto; 
        top:50%;
        left: 0;
        width: 8.375em;
        height: 8.5em;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head > strong {
        position: absolute;
        top: 50%;
        left: 10em;
        margin-top: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
;    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd {
        width: 100%;
        padding-left: calc(31.125em + 3em);
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul:after {
        content: "";
        display: block;
        clear: both;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li {
        float: left;
        width: calc((100% - 1px  - 4.268%) / 2);
        margin-left: 4.268%;
        padding: 0;
        border-bottom: 1px dashed #8F9BA5;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li:not(:first-child) {
        border-top: 0;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li:nth-child(2n-1) {
        margin-left: 0;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a {
        padding: 2em 4em 2em 0;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a:before,
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a:after{
        width: 3.1em;
        height: 3.1em;
    }
    
}

@media screen and (max-width: 920px) {
	/*body#main #root #container {
		font-size: 1em;
	}*/
	body#main #root #container > .layout > [data-item="1"] {
        width: 60em;
        height: 40.625em;
	}
	body#main #root #container > .layout > [data-item="2"] {
        width: calc(100% - 60em - 3em);
        height: 40.625em;
	}
    body#main #root #container > .layout > [data-item="2"] > .in > .midd {
        margin-top: 1.8em;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li {
        height: 9.4em;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a:before {
        width: 4.1em;
        height: 3.3em;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a > span {
        font-size: 1.875em;
    }
    body#main #root #container > .layout > [data-item="3"] {
        width: 60em;
    }
    body#main #root #container > .layout > [data-item="4"] {
        width: calc(100% - 60em - 3em);
        margin-left: 3em;
    }	
}

@media screen and (min-width: 560px) and (max-width: 920px) {
	
	body#main #root #container > .layout > [data-item="4"]:after {
		content: "";
		display: block;
		clear: both;
	}
}

@media screen and (max-width: 840px) {
    body#main #root #container > .layout > [data-item="1"] {
        width: 51.375em;
        height: 36.125em;
	}
	body#main #root #container > .layout > [data-item="2"] {
        width: calc(100% - 51.375em - 3em);
        height: 36.125em;
	}
    body#main #root #container > .layout > [data-item="2"] > .in > .midd {
        margin-top: 1.8em;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li {
        height: 8em;
    }
    
    body#main #root #container > .layout > [data-item="3"] {
        width: 51.375em;
        height: auto;
        margin-top: 3.75em;
        margin-bottom: 2em;
    }
    body#main #root #container > .layout > [data-item="4"] {
        margin-top: 3.75em;
        width: calc(100% - 51.375em - 3em);
        height: auto;
        margin-left: 3em;
        margin-bottom: 2.6em;
    }
    body#main #root #container > .layout > [data-item="4"]:before{
        height: calc(100% + 3.75em + 2.6em);
        bottom: -2.6em;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1){
        height: 18em;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:before{
        background-size: auto 103%;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd{
        padding-left: calc(31.125em + 2em);
    }
}

@media screen and (max-width: 740px) {
    body#main #root #container > .layout > :not([data-item="1"]) {
		margin-top: 3em;
	}
    body#main #root #container > .layout > [data-item="1"] {
        width: 100%;
        height: 40em;
    }
    body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in{
        padding: 8.4em calc(100% - 39em) 3.25em 2.375em;
    }
    body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in > strong {
        font-size: 3em;
    }
    body#main #root #container > .layout > [data-item="1"]:before {
        height: calc(100% + 3em); 
        right: -3em;
    }
    
    body#main #root #container > .layout > [data-item="1"] + [data-item="2"] {
        display: none;
    }
    body#main #root #container > .layout > [data-item="2"] {
        width: 100%;
        margin-left: 0;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li {
        width: calc((100% - 1px) / 3);
        height: 12em;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(2n+1) {
        clear: none;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(3n+1) {
        clear: both;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:not(:nth-child(n+3)){
        border-top: none;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:not(:nth-child(n+4)){
        border-top: 1px solid #E6E6E6;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(2n+1){
        border-left: none;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(3n+1){
        border-left: 1px solid #E6E6E6;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a:before{
        width: 5em;
        height: 4.1em;
    }
    body#main #root #container > .layout > [data-item="3"] {
        width: 100%;
        margin-bottom: 0;
    }
    body#main #root #container > .layout > [data-item="3"] + [data-item="2"]{
        display: block;
        margin-top: 3em;
    }
    body#main #root #container > .layout > [data-item="3"]:before {
        bottom: 0;
        height: calc(100% + 3em);
        right: -3em;  
    }
    body#main #root #container > .layout > [data-item="4"] {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    body#main #root #container > .layout > [data-item="4"]:before {
        left: -3em;
        height: calc(100% + 4.1em);
    }
    body#main #root #container > .layout > [data-item="4"] > .bx {
        width: calc((100% - 1px - 3em) / 2);
    }
    body#main #root #container > .layout > [data-item="4"]:before{
        height: calc(100% + 4.1em + 3em);
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:before{
        background-size: auto 100%;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) {
        position: absolute;
        top: 0;
        right: 0;
        width: calc((100% - 1px - 3em) / 2);
        height: 100%;
        margin-top: 0;
        margin-left: 3em;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul {
        height: 100%;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li {
        height: 100%;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li > a > span:before{
        margin: 0 auto 0.25em; 
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head > strong{
        top: 0.5em; 
        left: auto;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head:before{
        left: auto; 
        right: 0;
        top: auto;
        bottom: 0;
        width: 14.125em;
        height: 14.25em;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd{
        padding-left: calc(31.125em + 3em);
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li{
        float: none;
        width: 100%;
        margin-left: 0;
        padding: 0 1em;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd > ul > li > a {
        padding: 1.25em 4em 1.25em 0;
    }
    body#main #root #container > .layout > [data-item="7"] {
        height: auto;
        margin-top: 5em;
    }
}
@media screen and (max-width: 640px) {
    body#main #root #container > .layout > [data-item="2"]{
        height: auto;
    } 
    body#main #root #container > .layout > [data-item="2"] > .in {
        padding: 2em 1.75em 1.75em;
    }
    body#main #root #container > .layout > [data-item="2"] > .in:before {
        left: 2.4em;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .head > strong{
        font-size: 2.65em;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd{
        margin-top: 1em;
        padding-bottom: 0 !important;
    }

    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li {
        height: 10em;
    }
    body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(1) > .in > .midd > ul > li > a {height: auto;}
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li > a:before{
        width: 4.1em;
        height: 3.3em;
    }
    body#main #root #container > .layout > [data-item="3"] > .head > strong > span{
        font-size: 2.65em;
    }
    body#main #root #container > .layout > [data-item="3"] > .more{
        top: 0.8em;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in{
        padding: 3em;
    }
    
    body#main #root #container > .layout > [data-item="4"] > .bx{
        width: 100%;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in > .head > strong {
        font-size: 2.65em;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) {
        position: relative; 
        top: auto;
        right: auto;
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 3em;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li > a > span{
        font-size: 1.875em;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(2) .in > ul > li > a > span:before{
        width: 2em;
        height: 2em; 
    }
    
    body#main #root #container > .layout > [data-item="5"] > .bx {
        float: none;
        width: 100%;
    }
    body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(1) > .in:before {
        display: none;
    }
    body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(1) {
        padding: 3.3em 1em ;
        border-radius: 2em 2em 0 0;
    }
    body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(2) {
        padding-top: 0;
        border-radius: 0 0 2em 2em;
    }
    body#main #root #container > .layout > [data-item="5"] > .bx > .in > .head > strong > span{
        font-size: 2.65em;
    }
    body#main #root #container > .layout > [data-item="5"] > .bx:nth-child(1) > .in > .midd > ul > li > a:before{top: 50%;}
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head {
        width: 17.375em;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head > strong > span {
        font-size: 2.63em;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd {
        padding-left: calc(17.375em + 3em);
    }
}
@media screen and (max-width: 600px) {
    body#main #root #container > .layout > :not([data-item="1"]) {
		margin-top: 2em;
	}
	body#main #root #container > .layout {
		padding: 2em 0;
	}
    body#main #root #container > .layout > [data-item="1"]:before{
        left: -1.5em;
    }
    body#main #root #container > .layout > [data-item="2"]:before{
        left: -1.5em;
    }
    body#main #root #container > .layout > [data-item="3"]:before{
        right: -1.5em;
    }
    body#main #root #container > .layout > [data-item="4"]:before{
        left: -1.5em;
    }
    body#main #root #container > .layout > [data-item="7"]{
        margin-top: 4em;
    }
}

@media screen and (max-width: 460px) {
	body#main #root #container {
		font-size: 0.8em;
	}
	body#main #root #container > .layout > [data-item="1"] {
		height: 32em;
	}
    body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in > strong {
        font-size: 2.5em;
    }
    body#main #root #container > .layout > [data-item="4"] > .bx:nth-child(1) > .in:before{
        background-size: auto 100%;
    }
}

@media screen and (max-width: 400px) {
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li {
        width: calc((100% - 1px) / 2);
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:not(:nth-child(n+4)) {
        border-top: 0;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:not(:nth-child(n+3)) {
        border-top: 1px solid #E6E6E6;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(3n+1) {
        clear: none;
        border-left: 0;
    }
    body#main #root #container > .layout > [data-item="2"] > .in > .midd > ul > li:nth-child(2n+1) {
        clear: both;
        border-left: 1px solid #E6E6E6;
    }
    
    body#main #root #container > .layout > [data-item="6"]{
        margin-top: 4em;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > div{
        float: none;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head{
        position: relative; 
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head:before {
        bottom: 50%;
        width: 6em;
        height: 6.125em;
        transform: translateY(50%);
        -webkit-transform: translateY(50%);
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .head > strong{
        position: relative;
        top: auto;
        left: auto;
    }
    body#main #root #container > .layout > [data-item="6"] > .bx > .in > .midd{
        height: auto;
        margin-top: 2em;
        padding-left: 0;
    }
}
@media screen and (max-width: 360px) {
	body#main #root #container > .layout > [data-item="1"] [data-js="popupzone"] > .move > ul > li > a > .in{
        padding: 8.4em 2.375em 3.25em;
    }
}