





@font-face { 
    font-family: 'eulyoo'; 
    font-style: normal; 
    font-weight: 400; 
    src: url(Eulyoo1945-Regular.woff2) format('woff2'),
         url(Eulyoo1945-Regular.woff) format('woff'),
         url(Eulyoo1945-Regular.otf) format('opentype'); 
} 
@font-face { 
    font-family: 'eulyoo'; 
    font-style: normal; 
    font-weight: 700; 
    src: url(Eulyoo1945-SemiBold.woff2) format('woff2'),
         url(Eulyoo1945-SemiBold.woff) format('woff'),
         url(Eulyoo1945-SemiBold.otf) format('opentype'); 
} 