.visible {
    display: block !important;
}
.invisible {
    display: none !important;
}
.dept2_wrap_on {
    width: 270px;
    background-color:#274154;
    color:#fff;
}
.dept2_on_title {
    padding-left: 20px;
    display: inline-block !important;
}
.submenu_small {
    left: 70px;
    position: absolute;
    background-color:#274154;
    color:#fff;
    width: 200px;
}

.wrap .slider_bar{ 
 /*background:#172b3a;*/
 background:#284f7d;
 width:220px;
 -webkit-transition: all 0.3s 0s ease;
 -moz-transition: all 0.3s 0s ease;
 -o-transition:  all 0.3s 0s ease;
 -ms-transition:  all 0.3s 0s ease;
 transition:  all 0.3s 0s ease;
 z-index: 100;
 position: absolute; 
 height:100%;}
 
 .wrap .slider_bar-toggle{
    margin-left:-220px;}

.wrap .slider_bar .menu{
    /*background-color:#16374f;*/
    background-color:#284f7d;

    padding:17px 15px;  
    cursor: pointer; }

.wrap .slider_bar .menu div{ 
    width:40px; 
    height: 4px; 
    background:#fff; 
    margin:8px 0; 
    border-radius:18px;}

.wrap .slider_bar .top_menu{
    display:flex; 
    justify-content: space-between; 
    align-items: center;
    width:100%;
    }

.wrap .slider_bar .top_menu .logo{
    display: block; 
    width: 100%; 
    height:100%;}

.wrap .slider_bar .top_menu .logo img{
    height: auto;
    margin:0 15px;}

.wrap .slider_bar .top_menu ul{
    display:flex;}

.wrap .slider_bar .top_menu ul li a{
    display: block;
    margin:0 10px;
    width: 35px; 
    height:35px; 
    line-height: 35px; 
    text-align: center;  
    border-radius: 50%; 
    color:#2e4ead;}
 /* {border:1px solid #2e4ead;} */

 .active li{
     /*background-color: #2b485d;*/
     background-color: #164071;
     color:#fff;}

.wrap .slider_bar .top_menu ul li a:hover i{color:#fff;}

.wrap .slider_bar ul li a{
    display: block; 
    padding:15px 20px 15px 20px; 
    color:#f9f9f9; 
    position: relative; 
    white-space: nowrap;} 

.wrap .slider_bar ul li a::before{
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 4px; 
    height: 100%; 
    background: #2fa783;
    display: none;
    } 

/*  수정된 부분  */
.wrap .slider_bar .selectedMenuEntry > a::before{
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 4px; 
    height: 100%; 
    background: #299fe4;
    display: block !important;
}
.wrap .slider_bar .selectedMenuEntry > a{
    font-weight: bold;
}

/*  ------------------------ */

.wrap .slider_bar ul li span.icon{
    display:inline-block; 
    vertical-align: middle; }

.wrap .slider_bar ul li span.title{
    display:inline-block; 
    font-size:15px; 
    color:#fdfdfd;}

.wrap .slider_bar ul li a:hover,
.wrap .slider_bar ul li a.active{
    background:#2fa7837d; 
    color:#fff;}

.wrap .slider_bar ul li a:hover::before,
.wrap .slider_bar ul li a.active::before{display: block;}

.wrap .slider_bar ul li ul li a{
    font-size:13px;
    padding-left:50px;
    padding-top:10px;
    padding-bottom:10px
    }

.wrap .slider_bar ul li ul li ul li a{
    font-size:12px; 
    color:#f5f5f5;
    padding: 10px;
}

.wrap ul ul li a:hover{ box-sizing:border-box;} 

.wrap ul ul{display:none;}

.wrap li.active>ul {display: block;}

.wrap ul ul ul{
    margin-left:55px;
    border-left: 1px dotted rgba(255, 255, 255, 0.8);} 


.wrap.collapse .slider_bar{width:70px;}

.wrap.collapse .slider_bar ul li span.icon a{margin:0;}

.wrap.collapse .slider_bar ul li span.title{display:none;}

.wrap.collapse .slider_bar .top_menu .logo img{display: none;}

.wrap.collapse .content{
    /* width:calc(100% - 250px);  /* 2021-04-20 ADD : collapse 시 */
    margin-left:70px;}


.icon{
    width:32px; 
    height:32px; 
    display:inline-block; 
    background-repeat: no-repeat; 
    background-position: 0% 20%;}

.icon_01{background-image: url('../img/icon-01.svg'); }
.icon_02{background-image: url('../img/icon-03.svg');}
.icon_03{background-image: url('../img/icon-04.svg');}
.icon_04{background-image: url('../img/icon-05.svg');}
.icon_05{background-image: url('../img/icon-06.svg');}
.icon_06{background-image: url('../img/icon-08.svg');}
.icon_07{background-image: url('../img/icon-09.svg');}
.icon_08{background-image: url('../img/icon-10.svg');}
.icon_09{background-image: url('../img/icon-02.svg');}
.icon_10{background-image: url('../img/icon-07.svg');}
.icon_99{background-image: url('../img/icon-99.svg');}
