
textarea { margin: 0 !important; padding: 5px !important; }

/* table add Style :: 2021.09.23. :: kh. */
.table .sub-title { background: #FAFAFA; }

.wrapper{display:grid; grid-template-columns:repeat(4, 1fr); grid-gap:10px; grid-template-rows:200px auto 250px;}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1;
}
.three {
  grid-column: 4 / 5;
  grid-row: 1;
}
.four {
  grid-column: 1 / 5;
  grid-row: 2;
}
.five {
  grid-column: 1 / 3;
  grid-row: 3;
}
.six {
  grid-column: 3 / 5;
  grid-row: 3;
}

.one .tablePage .item_01{display: inline-block; width : 100px; height:100px; text-align:center; line-height: 100px; vertical-align: top; padding-top:20px; padding-right:20px;}
.one .tablePage .item_02{display: inline-block; width : 250px; padding-top:20px; font-size:1.25em;}
.one .tablePage .item_02 dl dt{display: inline-block; clear: both; width : 50%; height:32px;}
.one .tablePage .item_02 dl dd{display: inline-block; width : 50%; height:32px; text-align: right; font-weight: 600; color:#369;}

.two .tablePage .item_01{display: inline-block; width : 35%; height:100px; line-height: 100px; vertical-align: top; font-size: 3em; font-weight: 600; letter-spacing: -0.1em; color:#528d7d; white-space: nowrap;}
.two .tablePage .item_01 span{font-size: 0.6em;}
.two .tablePage .item_02{display: inline-block; width : 63%; height:100px; vertical-align: top; line-height: 1.5}
.two .tablePage .item_02 table{width:100%; border-collapse: collapse;}
.two .tablePage .item_02 table th{width: 150px;  padding: 3px;  font-weight: bold;  vertical-align: top;  color: #fff;  background: #e7708d;  margin: 5px 5px;}
.two .tablePage .item_02 table td{padding: 0px;  vertical-align: top; background: #fdf3f5; text-align: center; font-size: 0.85em;}
.two .tablePage .item_02 table td:last-child{text-align: right !important; padding-right:30px;}

.three .item_01 table{margin-top:10px;}
.three .item_01 table td{padding:3px 10px; font-size: 0.85em;}

.four .item_01{text-align: center;}
.four .item_01 ul li{display: inline-block; width:200px; text-align: center; height:30px; line-height: 30px;}
.four .item_01 ul li.on{font-weight: bold;}
.four .item_01 ul li.on:after{content: ""; width:100%; height:3px; display:block; background:#4169e1; }
.four .item_01 ul li:hover{cursor: pointer; background: #4169e1; color:white; }

.four .item_02{padding-left:0px !important;}

.four .item_03{padding:10px;}
.four .item_03 dl{width:100%; text-align: center; border: 1px solid #00ebff; border-radius: 3px; background:#96ffff; padding:10px;}
.four .item_03 dl dt{display: inline-block; font-weight: bold; margin-right:20px;}
.four .item_03 dl dd{display: inline-block; margin-right:50px;}

.five .item_01 table, .six .item_01 table{border-collapse: collapse;  text-align: left;  line-height: 1.5;  margin: 5px 10px;}
.five .item_01 table thead th, .six .item_01 table thead th {  width: 150px;  padding: 5px;  font-weight: bold;  vertical-align: top;  color: #fff;  background: #e7708d;  margin: 20px 10px; text-align: center;}
.five .item_01 table tbody th, .six .item_01 table tbody th {  width: 150px;  padding: 5px;}
.five .item_01 table td, .six .item_01 table td {  width: 350px;  padding: 10px;  vertical-align: top; text-align: center;}
.five .item_01 table tr:nth-child(even), .six .item_01 table tr:nth-child(even) {  background: #fdf3f5;}

/* 24시간 입찰 테이블 */
.bid_border{width:100%; height:40px; border:2px solid #666; margin:30px 0px 30px 0px; background:#fff; text-align: center; line-height:40px; font-weight: 600; clear:both;}
.hh24input{width:40px;}
#bid_vpp_list{margin-bottom: 30px;}
#bid_vpp_list ul{ text-align: center;}
#bid_vpp_list ul li{width:250px; height:250px; display: inline-block; border:2px solid; border-radius:20px; background: #eee; margin: 15px; padding: 15px; vertical-align: top;}
#bid_vpp_list ul li .vpp_nm{font-size: 1.25em; font-weight: 600;}
#bid_vpp_list ul li dl dt{display: inline-block; width:50%; float: left; text-align: left; font-weight: 600; line-height:30px;}
#bid_vpp_list ul li dl dd{display: inline-block; width:50%; float: right; text-align: right; line-height:30px;}
.bid_noest{border-color:#ccc !important; background-color: #eee !important;}
.bid_est{border-color:#028595 !important; background-color: #19B394 !important; color: white !important; cursor: pointer;}
.bid_est:hover{background-color:#0396A6 !important;}
.bid_status{height:30px;}
.bid_est .bid_situation{height:50px; margin-top:10px; clear:both; border:1px solid #288; font-size:0.75em;}
.bid_est .bid_situation.alert_1{background-color:#7fc638; }
.bid_est .bid_situation.alert_2{background-color:#ffcc00; }
.bid_est .bid_situation.alert_3{background-color:#f59b25; }
.bid_est .bid_situation.alert_4{background-color:#f55354; }

.bid_est .bid_situation dl{padding:0 10px;}
.bid_est .bid_situation p{text-align:center;}

#layoutLeft{width:28%; float:left; display:inline-block; }
#layoutRight{width:70%; float:right; display:inline-block; }


#separate .left{width:49.5% !important; float:left; clear:left; box-sizing: border-box;}
#separate .right{width:49.5% !important; float:right; clear:right; box-sizing: border-box;}

#vpp_set{margin-bottom: 30px;}
#vpp_set ul{ text-align: center;}
#vpp_set ul li{width:200px; height:200px; display: inline-block; border-radius:100px; margin: 15px 50px; padding: 15px; color:#fff; font-size: 1.75em; line-height: 170px; font-weight: 600;}
#vpp_set ul li:nth-child(1){background: #19B394; }
#vpp_set ul li:nth-child(2){background: #0396A6; }
#vpp_set ul li:nth-child(3){background: #ff6666; }
#vpp_set ul li:nth-child(1):hover{background-color: #75D1BE !important; cursor: pointer;}
#vpp_set ul li:nth-child(2):hover{background-color: #67c0c9 !important; cursor: pointer; }
#vpp_set ul li:nth-child(3):hover{background-color: #ffb4b4 !important; cursor: pointer; }


#bPopup{opacity: 0; display: none; position: relative; width: 900px; border: 5px solid #fff; padding: 0px; background-color: #fff;}
#bPopup .popup_header{background: #000; color:#fff; font-size: 1.25em; width:100%; height:40px; box-sizing: border-box;}
#bPopup .popup_header p:first-child{width:90%; height:40px; display: inline-block; box-sizing: border-box; line-height: 40px; padding-left:10px;}
#bPopup .popup_header p:last-child{width:9%; height:40px; display: inline-block; text-align: right; box-sizing: border-box; padding-right:3px;}
#bPopup .popup_contents{width:100%; box-sizing: border-box; margin-top : 10px; overflow: scroll;}
/* table */
#bPopup .table table{border: 1px solid #D7DCE2; border-collapse:collapse; width:160%; height:100%;}
#bPopup .table th{border: 1px solid #D7DCE2; padding:8px;  font-size:16px;}
#bPopup .table td{border: 1px solid #D7DCE2; padding:8px; color: #353535; font-size:15px;}


#bPopupPrint{opacity: 0; display: none; position: relative; width: 900px; border: 5px solid #fff; padding: 0px; background-color: #fff;}
#bPopupPrint .popup_header{background: #000; color:#fff; font-size: 1.25em; width:100%; height:40px; box-sizing: border-box;}
#bPopupPrint .popup_header p:first-child{width:90%; height:40px; display: inline-block; box-sizing: border-box; line-height: 40px; padding-left:10px;}
#bPopupPrint .popup_header p:last-child{width:9%; height:40px; display: inline-block; text-align: right; box-sizing: border-box; padding-right:3px;}
#bPopupPrint .popup_contents{width:100%; box-sizing: border-box; margin-top : 10px; overflow: scroll;}


/* 20220419 mayeye 수정 */
.totalPage[data-names="mgp2p_admin"]{padding: 20px; font-family: 'Pretendard'; min-width: 1650px;}
[data-names="mgp2p_admin"] .totalPageWrap{width: 100%; margin: 0;}
[data-names="mgp2p_admin"] .totalPageWrap > div:after{content: ""; display: block; clear: both;}
[data-names="mgp2p_admin"] #separate .left,
[data-names="mgp2p_admin"] #separate .right{width: calc((100% - 1px - 32px) / 2) !important;}
[data-names="mgp2p_admin"] #separate .right{margin-left: 32px;}
[data-names="mgp2p_admin"] .contentWrap{
    border: 0; margin-bottom: 0; box-shadow: 0px 5px 8px rgba(204, 204, 204, 0.15);
    border-radius: 8px; -webkit-border-radius: 8px;
}
[data-names="mgp2p_admin"] .contentWrap .underBar{height: auto; padding-right: 0; border-bottom: 0;}
[data-names="mgp2p_admin"] .contentWrap .underBar .titleName{display: block; padding: 24px; color: #1E293B; font-family: 'Pretendard'; font-weight: 700; letter-spacing: -0.05em; font-size: 24px; line-height: 1; box-sizing: border-box;}
[data-names="mgp2p_admin"] .contentWrap .underBar .titleName a{color: #1E293B;}
[data-names="mgp2p_admin"] .contentWrap .underBar .titleName:before{width: 32px; height: 32px; margin-left: 0; margin-right: 8px; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; vertical-align: sub;}
[data-names="mgp2p_admin"] .tablePage{border-radius: 0; -webkit-border-radius: 0;}
.totalPage{display: grid; grid-template-columns: repeat(11, 1fr); grid-gap: 32px; grid-template-rows: auto 235px 410px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .left{display: none;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1){grid-column: 7 / 12; grid-row: 2;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .contentWrap:nth-child(2) .underBar .titleName{padding: 24px 24px 18px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .contentWrap:nth-child(2) .underBar .titleName a{color: #fff;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .contentWrap:nth-child(2) .underBar .titleName:before{background-image: url(../img/p2_icon04.svg);}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .contentWrap:nth-child(2){position: relative; width: 100% !important; margin-right: 0; margin-left: 0; float: none; clear: none; background:#0C3382 url(../img/p2_icon06.svg) no-repeat right top; background-size: 220px 147px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .contentWrap:nth-child(2) .boardSimpleEntry{padding: 0 30px 30px; box-sizing: border-box;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .contentWrap:nth-child(2) .boardSimpleEntry:after{content: ""; display: block; clear: both;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .contentWrap:nth-child(2) .boardSimpleEntry li{float: left; position: relative; width: calc((100% - 1px - 30px) / 2); padding: 12.5px 17px; border-bottom: 1px solid rgba(255, 255, 255, 0.2); box-sizing: border-box;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .contentWrap:nth-child(2) .boardSimpleEntry li:nth-child(2n-1){margin-right: 30px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .contentWrap:nth-child(2) .boardSimpleEntry li:before{
    content: ""; display: block; position: absolute; top: 50%; left: 5px; width: 4px; height: 4px; margin-top: -2px; background-color: rgba(255,255,255,0.5); 
    border-radius: 50%; -webkit-border-radius: 50%;
}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(1) #separate .contentWrap:nth-child(2) .boardSimpleEntry li a{display: block; width: 100%; font-size: 18px; font-weight: 400; line-height: 18px; letter-spacing: -0.05em; color: rgba(255, 255, 255, 0.9); white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2){grid-column: 1 / 12; grid-row: 1;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) .contentWrap .underBar .titleName{padding: 24px 24px 18px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap:nth-child(1) .underBar .titleName:before{background-image: url(../img/p2_icon01.svg);}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap:nth-child(2) .underBar .titleName:before{background-image: url(../img/p2_icon02.svg);}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap .topPanelDiv{height: auto; padding: 0 30px 30px; border-bottom: 0; border-radius: 8px; box-sizing: border-box;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap .topPanelDiv table.type01{width: 100%; display: table; table-layout: fixed; border-collapse: collapse;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap .topPanelDiv table.type01 thead{height: 61px; background-color: #F5F6FA;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap .topPanelDiv table.type01 thead th{color: #403B5C; font-size: 16px; font-weight: 600; line-height: 1.3; letter-spacing: -0.05em; background-color: transparent;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap .topPanelDiv table.type01 tbody tr{border-bottom: 1px solid #EEF0F2;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap .topPanelDiv table.type01 tbody tr td{height: 38px; text-align: center; color: #444; font-size: 16px; letter-spacing: -0.05em; border-bottom: 0;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap .topPanelDiv #biddingMonthlyChart,
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap .topPanelDiv #calculationMonthlyChart{height: 240px; margin-bottom: 20px; background-color: #ddd;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap{position: relative;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap:nth-child(1) .topPanelDiv .selectArea{position: absolute; top: 24px; right: 24px; padding: 0;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap:nth-child(2) .topPanelDiv .radioArea{position: absolute; top: -40px; right: 24px; margin: 0;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap .topPanelDiv .dataDiv{padding: 0;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap:nth-child(1) .topPanelDiv .selectArea form >select{margin-right: -5px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap:nth-child(1) .topPanelDiv .selectArea #touTypeCd{display: inline-block;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(2) #separate .contentWrap:nth-child(1) .topPanelDiv .selectArea select{width: 170px; color: #1E293B; border-color: #C2C9D1; padding: 5px 30px 5px 12px; background: url(../img/select_icon.svg) no-repeat right 13px center; background-size: 10px 7px}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3){grid-column: 1 / 12; grid-row: 2 / 3;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate{display: grid; display: grid; grid-template-columns: repeat(11, 1fr); grid-gap: 32px; grid-template-rows: 235px 410px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) .contentWrap:nth-child(1) .underBar .titleName{padding: 24px 24px 13px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .underBar .titleName:before{background-image: url(../img/p2_icon03.svg);}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(2) .underBar .titleName:before{background-image: url(../img/p2_icon05.svg);}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap{width: 100% !important; float: none; clear: none;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap .bottomPanelDiv{position: relative; height: auto;padding: 0 30px 30px; background: none; border-radius: 0; border-bottom: 0;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1){grid-column: 1/7; grid-row: 1 / 2; height: 677px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea{display: block; width: 100%; float: none;padding: 30px 0;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea:first-child{padding-top: 0; border-bottom: 1px solid #DEDEDE; box-sizing: border-box;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel{position: relative; height: auto;margin: 0; padding-left: 320px; border: 0; box-sizing: border-box;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel h4{color: #0A347E; font-size: 22px; font-weight: 900; letter-spacing: -0.05em; line-height: 1; text-align: left;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel .chartDiv{position: absolute; top: 0; left: 0px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel table{display: block;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel table tbody{display: block;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel table tbody tr{display: block; padding: 10px 0; border-bottom: 1px solid #EEF0F2; box-sizing: border-box;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel table tbody tr td{display: inline-block; width: auto !important; float: none; margin-left: 0; padding: 0;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel table tbody tr td:first-child{display: block; margin-bottom: 5px; padding: 0; color: #8F93A1; font-size: 15.5px; line-height: 1; letter-spacing: -0.05em; font-weight: 400;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel table tbody tr td:nth-child(2){color: #403B5C; font-size: 30px; font-weight: 700; letter-spacing: -0.05em; line-height: 1; }
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel table tbody tr td:nth-child(3){font-size: 22px; color: #8F93A1; font-weight: 400; letter-spacing: -0.05em; vertical-align: bottom;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel table tbody tr td:nth-child(4){display: block; margin-top: 10px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel table tbody tr td:nth-child(4) div{
    display: block; width: 100%; height: 10px; background-color: rgba(66, 99, 235, 0.2); 
    border-radius: 10px; -webkit-border-radius: 10px;
}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(1) .bottomPanelDiv .bottomPanelDivArea .subPanel table tbody tr td:nth-child(4) div span{
    display: block; width: 0; height: 100%; background-color: #4263EB;
    border-radius: 10px; -webkit-border-radius: 10px;
    transition: width 1.2s ease-in-out; -webkit-transition: width 1.2s ease-in-out;
}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .contentWrap:nth-child(2){grid-column: 7/12; grid-row: 2; margin-left: 0;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv{display: block; width: 100%; float: none; margin: 0;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table{display: block; width: 100%; border-collapse: collapse;  margin-top: 0 !important;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody{display: block;width: 100%;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody:after{content: ""; display: block; clear: both;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:first-child{float: left; display: block; width: 50%;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(2){display: none;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3){float: left; display: block; width: 50%; padding: 5px 0 15px 23px; border-left: 1px solid #DEDEDE; box-sizing: border-box;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) > th{padding-top: 0 !important;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table{font-size: 1em !important; display: table; table-layout: fixed; width: 100%; border-collapse: collapse; padding: 0 !important; box-sizing: border-box;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(1) th,
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) th{font-size: 22px; margin-bottom: 17px; line-height: 1; color: #0A347E;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table{display: block;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tbody{display: block;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tr{display: table; table-layout: fixed; width: 100%; height: 60px; border-bottom: 1px solid #EEF0F2; box-sizing: border-box;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tr td{display: table-cell; vertical-align: middle;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table colgroup col:first-child{width: 70px !important;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tr td:first-child{position: relative; text-align: center !important; color: #fff; font-size: 16px; letter-spacing: -0.05em; width: 70px; font-weight: 500;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tr td:first-child:before{
    content: ""; display: block; position: absolute; top: 50%; left: 50%; z-index: -1; width: 68px; height: 32px; margin-left: -34px; margin-top: -16px;
    border-radius: 500px; -webkit-border-radius: 500px;
}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tr:first-child td:first-child:before{background-color: #F59E0B;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tr:nth-child(2) td:first-child:before{background-color: #0A347E;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tr:nth-child(3) td:first-child:before{background-color: #52A1F1;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tr:nth-child(4) td:first-child:before{background-color: #10B981;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tr td:nth-child(2){text-align: right !important; font-size: 41px; letter-spacing: -0.05em; color: #403B5C; font-weight: 700; width: auto;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(3) table tr td:nth-child(3){width: 65px; line-height: 3.2; vertical-align: bottom !important; color: #8F93A2; text-align: right !important;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(4){position: absolute; top: -47px; right: 30px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr td{float: none; clear: both; text-align: left !important; vertical-align: top;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:not(:nth-child(4)) th,
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:not(:nth-child(4)) td{display: block; float: none; clear: none; text-align: left;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(1) td{display: inline-block; margin-left: 0; width: auto !important; }
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(1) td:first-of-type{font-size: 41px; letter-spacing: -0.05em; color: #403B5C; font-weight: 700; line-height: 41px;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(1) td:nth-of-type(2){vertical-align:bottom; color: #8F93A2;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(4) th,
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(4) td{font-size: 16px; font-weight: 400; line-height: 1; letter-spacing: -0.05em; color: #8F93A2;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .dataDiv >table > tbody > tr:nth-child(4) td{padding-left: 8px !important;}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .chartDiv{
    position: absolute; top: 85px; left: 25%;
    transform: translateX(-50%); -webkit-transform: translateX(-50%);
}
.totalPage[data-names="mgp2p_admin"] .totalPageWrap:nth-child(3) #separate .right .bottomPanelDiv .chartLegend{width:50%; float: none; text-align: center;}
