@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int [data-depart-box="1"] .txts{background-color: #005BAA; background-image: url(../../../images/site/fashion/content/hs_box_img01.png);}
.depart_int [data-depart-box="1"] .imgs{background-image: url(../../../images/site/fashion/content/hs_box_img02.jpg);}
.depart_int [data-depart-box="1"] .txts .eng,
.depart_int [data-depart-box="1"] .txts .tt{text-shadow: 2px 2px 10px #034C8C;}
.depart_int [data-depart-box="2"]{background-color: #F0F7FF;}
.depart_int [data-depart-box="2"] >ol>li>em:before{background-color: #005BAA;}
.depart_int [data-depart-box="4"] .tt:first-child .t{background-color: #005BAA; box-shadow: 0px 10px 40px rgba(0, 91, 170, 0.3);}
.depart_int [data-depart-box="4"] .tt:nth-child(2) .t{background-color: #006C59; box-shadow: 0px 10px 40px rgba(0, 108, 89, 0.3);}
.depart_int [data-depart-box="5"] >ul.step4>li>strong{border-color: #006C59;}
.depart_int [data-depart-box="5"] >ul.step4>li:nth-child(2n+2 )>strong{background-color: #005BAA; border-color: #005BAA; color: #fff; font-weight: 400;}
.depart_int [data-depart-box="5"] >ul>li:before, 
.depart_int [data-depart-box="5"] >ul>li:after{background-image: url(../../../images/site/fashion/content/data-depart-box05.svg);}
.depart_int [data-depart-box="5"] >ul>li>strong:before{border-color: #006C59;}
.depart_int [data-depart-box="6"] .wrap .tt{border-color: #F0F7FF;}
.depart_int [data-depart-box="6"] .wrap .xx > ul{background-color: #F0F7FF;}
.depart_int [data-depart-box="6"] .wrap .tt strong:before{background-image: url(../../../images/site/fashion/content/data-depart-box06.svg);}
.depart_int [data-depart-box="6"] .wrap .tt strong>span{color: #004989}
