@charset "utf-8";

/* 상단 이미지 박스 */
.t_intbx{position: relative; width: 100%; height: 25em; background-color: #eee; background-image: url(../../../images/site/honor/content/depart_int_01.jpg); background-repeat: no-repeat; background-position: center center; background-size: cover;}
.t_intbx >div{position: absolute; bottom: 0; left: 0; width: 100%; padding: 1.5625em; max-width: 40.8125em; background-color: #082B52;}
.t_intbx >div:before{content: ""; display: block; position: absolute; top: 1em; right: 1.4375em; width: 6.4375em; height: 5.5625em; z-index: 0; background: url(../../../images/site/honor/content/depart_int_02.jpg) no-repeat center center; background-size: contain;}
.t_intbx >div >strong{position: relative; display: block; font-family: 'Nanum Myeongjo'; font-weight: 400; color: #fff; font-size: 1.375em; line-height: 1.4; letter-spacing: -0.04em; box-sizing: border-box;}
.t_intbx >div >strong >span{font-weight: 600;}
.t_intbx >div > span{position: relative; display: block; margin-bottom: 0.69em; color: rgba(255, 255, 255, 0.65); font-weight: 300; text-transform: uppercase; font-size: 0.875em; letter-spacing: -0.035em; line-height: 1.3;}
@media screen and (max-width: 640px){
    .t_intbx > strong{font-size: 2.2em;}
}

/*인사말*/
.depart_int{}
.depart_int .t{display: block; margin-top: 2.1875em; font-size: 1.25em; line-height: 1.6; letter-spacing: -0.04em; font-family: 'Nanum Myeongjo';}
.depart_int p{line-height: 1.6;}
.depart_int .sign{margin-top: 2.75em !important; text-align: right;}
.depart_int .sign span{display: inline-block; width: 3.625em; height: 1.375em; margin-left: 0.625em; color: transparent; background: url(../../../images/site/honor/content/depart_int_02.png) no-repeat center center; background-size: 100% auto;}

.soge_box .imgs{height: 24.3125em; background-repeat: no-repeat; background-position:  center center; background-size: cover; text-indent: -9999px;}
.soge_box.sub_03_01 .imgs{background-image: url(../../../images/site/honor/content/03_01_img01.jpg);}
.soge_box.sub_04_01 .imgs{background-image: url(../../../images/site/honor/content/04_01_img01.jpg);}
.soge_box.sub_05_01 .imgs{background-image: url(../../../images/site/honor/content/05_01_img01.jpg);}
.soge_box.sub_06_01 .imgs{background-image: url(../../../images/site/honor/content/06_01_img01.jpg);}
@media screen and (max-width: 1024px){
    .soge_box .imgs{font-size: 0.85em;}
}

@media screen and (max-width: 640px){
    .soge_box .imgs{font-size: 0.75em;}
}


/* 교수님 리스트 */
[data-user-card="1"]>ul:after{content:""; display:block; clear: both;}
[data-user-card="1"]>ul>li{
    float:left; width:calc((100% - 1.875em - 1px) / 2); margin-left:1.875em; padding:2.5em 3em; border:1px solid #E5E5E5;
    -webkit-border-radius:1em;
    border-radius:1em;
}
[data-user-card="1"]>ul>li:nth-child(2n+1){clear:both; margin-left:0;}
[data-user-card="1"]>ul>li:nth-child(n+3){margin-top:1.875em;}
[data-user-card="1"]>ul>li>.in{position:relative; display: block; min-height:8.6875em; padding-right:7.5em;}
[data-user-card="1"]>ul>li>.in>.p{
    position:absolute; right:0; top:0; width:6.875em; height:8.6875em; background:#ECF0F1 url(../../../images/site/honor/common/people_def.svg) no-repeat center center; background-size:4.75em 4.375em; overflow: hidden;
    -webkit-box-shadow:0.625em 0.625em 1.25em rgba(0, 0, 0, 0.25);
    box-shadow:0.625em 0.625em 1.25em rgba(0, 0, 0, 0.25);
}
[data-user-card="1"]>ul>li>.in>.p> img{
    position: absolute; top: 50%; left: 50%; display: block; width: auto; height: 100%;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);

}
[data-user-card="1"]>ul>li>.in>strong{display:block; font-size:1.5em; color:#404040;}
[data-user-card="1"]>ul>li>.in>ul{margin-top:1em;}
[data-user-card="1"]>ul>li>.in>ul>li:nth-child(n+2){margin-top:0.6em;}
[data-user-card="1"]>ul>li>.in>ul>li:after{content:""; display:block; clear:both;}
[data-user-card="1"]>ul>li>.in>ul>li>em,
[data-user-card="1"]>ul>li>.in>ul>li>span{float:left;}
[data-user-card="1"]>ul>li>.in>ul>li>em{display:block; width:4em; font-weight:500; font-style:normal; font-size:1.0625em; color:#444;}
[data-user-card="1"]>ul>li>.in>ul>li>span{display:block; width:calc(100% - 4.25em - 1px); font-weight:400; font-size:1em; color:#666;}

div + [data-user-card="1"],
ul + [data-user-card="1"]{margin-top:2em;}
@media screen and (max-width: 1200px) and (min-width: 1025px){
    [data-user-card="1"]>ul>li{float:none; width:100%; margin-left:0; height: auto !important;}
    [data-user-card="1"]>ul>li:nth-child(n+2){margin-top:1em;}
}

@media screen and (max-width: 900px) {
    [data-user-card="1"]>ul>li{float:none; width:100%; margin-left:0; height: auto !important;}
    [data-user-card="1"]>ul>li:nth-child(n+2){margin-top:1em;}
}
@media screen and (max-width: 400px) {
    [data-user-card="1"]{font-size:0.9em;}
    [data-user-card="1"]>ul>li{padding:1.5em 2em;}
}

/* 교수님 상세 */
[data-user-card-detail="1"]{margin-bottom: 3.5em;}
[data-list="1"] + [data-user-card-detail="1"],
p + [data-user-card-detail="1"],
div + [data-user-card-detail="1"]{margin-top: 3.5em;}
[data-user-card-detail="1"] >.tt{position: relative; padding: 1.25em 0 0 5.4375em; box-sizing: border-box;}
[data-user-card-detail="1"] >.tt >.wrapss{padding: 3.3125em 10em 4em 7.0625em; background:linear-gradient(274.07deg, #F4F4F4 -1.2%, #F8F5EF 97.46%); box-sizing: border-box;}
[data-user-card-detail="1"] >.tt >.wrapss:before{content: ""; position: absolute; bottom: 0; right: 0; display: block; width: 11.3125em; height: 9.125em; background: url(../../../images/site/honor/common/data-user-card-detail01.svg) no-repeat bottom right; background-size: contain;}
[data-user-card-detail="1"] >.tt >.wrapss >.pho{position: absolute; top: 0; left: 0; overflow: hidden;  display: block; width: 9.6875em; height:11.8125em; background: #ECF0F1 url(../../../images/site/honor/common/people_def.svg) no-repeat center center; background-size: 6.75em 6em; box-shadow: 4.35484px 4.35484px 17.4194px rgba(132, 132, 132, 0.25);}
[data-user-card-detail="1"] >.tt >.wrapss >.pho >img{
    position: relative; top: 50%; left: 50%;display: block; width: auto; min-width: 100%; height: 100%;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
}
[data-user-card-detail="1"] >.tt >.wrapss >.nam{color: #373737; font-size: 1.25em;}
[data-user-card-detail="1"] >.tt >.wrapss >.nam strong{display: inline-block; margin-right: 0.25em; font-size: 1.3em; }
[data-user-card-detail="1"] >.tt >.wrapss >ul{margin-top: 0.6875em;}
[data-user-card-detail="1"] >.tt >.wrapss >ul:after{content: ""; display: block; clear: both;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li{float: left;position: relative;margin-top: 0.8125em;padding-left: 6em;margin-right: 2em;line-height: 1.1875;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li >em{position: absolute;left: 0;top: 0;display: inline-block;margin-right: 1.25em;padding-left: 1.6em;font-style: normal;font-weight: 500;box-sizing: border-box;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li >em:before{content: ""; position: absolute; top: -0.05em; left: 0; display: inline-block; width: 1.375em; height: 1.375em; background-image: url(../../../images/site/honor/common/data-user-card-detail09.svg); background-repeat: no-repeat; background-position: center center; background-size: contain;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.tels >em:before{background-image: url(../../../images/site/honor/common/data-user-card-detail02.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.emails >em:before{background-image: url(../../../images/site/honor/common/data-user-card-detail03.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.majors >em:before{background-image: url(../../../images/site/honor/common/data-user-card-detail04.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.labs >em:before{background-image: url(../../../images/site/honor/common/data-user-card-detail05.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.subs >em:before{background-image: url(../../../images/site/honor/common/data-user-card-detail06.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.cars >em:before{background-image: url(../../../images/site/honor/common/data-user-card-detail07.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.edus >em:before{background-image: url(../../../images/site/honor/common/data-user-card-detail08.svg);}

.detail_btn_wrap{text-align: center; margin-top: 1.5em;}
.detail_btn_wrap .btn{background-color: #0071D9 !important;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li >span{color: #666666;}

@media screen and (max-width: 1200px) and (min-width: 1025px){
    [data-user-card-detail="1"] >.tt >.wrapss{padding: 3.3125em 3em 4em 7.0625em}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li{float: none; margin-right: 0;}
}
@media screen and (max-width: 1024px) {
    [data-user-card-detail="1"] >.tt >.wrapss{min-height: 12em; padding: 2.5em 3em 3em 6.4em;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li{position: relative; float: none; margin-right: 0; padding-left: 6.5em; box-sizing: border-box;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li >em{position: absolute; top: 0; left: 0;}
}
@media screen and (max-width: 840px) {
    [data-user-card-detail="1"] >.tt >.wrapss:before{background-size: 80%;}    
}
@media screen and (max-width: 640px) {
    [data-user-card-detail="1"] >.tt{padding: 1.25em 0 0 4.35em}
    [data-user-card-detail="1"] >.tt >.wrapss{min-height: auto; padding: 2.5em 2.5em 3em 5.4em;}
    [data-user-card-detail="1"] >.tt >.wrapss:before{background-size: 70%;} 
    [data-user-card-detail="1"] >.tt >.wrapss >.pho{width: 7.75em; height: 9.45em; background-size: 5.4em 4.8em;}
}
@media screen and (max-width: 420px) {
    [data-user-card-detail="1"] >.tt >.wrapss{padding: 2em 2em 2.5em 4.2em;}
    [data-user-card-detail="1"] >.tt >.wrapss >.pho{width: 6.78125em; height: 8.26875em;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li{padding-left: 0;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li >em{position: relative; top: auto; left: auto; display: block;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li >span{display: block; margin-top: 0.4em; padding-left: 1.6em; box-sizing: border-box;}
}

.img_boxs{text-align: center;}
.img_boxs img{display: inline-block; max-width: 100%; }

/*준비중*/
#ready_page .box_sum.icon .bx_wrap:before{background-image: url(../../../images/site/honor/content/ready_img.png);}