@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int [data-depart-box="1"] .txts{background-color: #91143E; background-image: url(../../../images/site/scape/content/hs_box_img01.png);}
.depart_int [data-depart-box="1"] .imgs{background-image: url(../../../images/site/scape/content/hs_box_img02.jpg);}
.depart_int [data-depart-box="1"] .txts .eng,
.depart_int [data-depart-box="1"] .txts .tt{text-shadow: 2px 2px 10px #7C0C32;}
.depart_int [data-depart-box="2"]{background-color: #F9F6F1;}
.depart_int [data-depart-box="2"] >ol>li>em:before{background-color: #91143E;}
.depart_int [data-depart-box="5"] >ul.step3>li>strong{border-color: #83613A;}
.depart_int [data-depart-box="5"] >ul.step3>li:nth-child(2)>strong{background-color: #91143E; border-color: #91143E; color: #fff; font-weight: 400;}
.depart_int [data-depart-box="5"] >ul>li:before, 
.depart_int [data-depart-box="5"] >ul>li:after{background-image: url(../../../images/site/scape/content/data-depart-box05.svg);}
.depart_int [data-depart-box="5"] >ul>li>strong:before{border-color: #83613A;}
.depart_int [data-depart-box="6"] .wrap .tt{border-color: #F9F6F1;}
.depart_int [data-depart-box="6"] .wrap .xx > ul{background-color: #F9F6F1;}
.depart_int [data-depart-box="6"] .wrap .tt strong:before{background-image: url(../../../images/site/scape/content/data-depart-box06.svg);} 
.depart_int [data-depart-box="6"] .wrap .tt strong>span{color: #91143E}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	NCS 과정평가형 교과과정

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.ncs_pro{}
.ncs_pro .img_bx{text-align:center;}
.ncs_pro .img_bx>img{display:inline-block; max-width:44.375em; width:100%;}