@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int .t_intbx{background-image: url(../../../images/site/artwebtoon/content/int_head.jpg);}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	시설환경

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_faci{}
.depart_faci .img_box{}
.depart_faci .img_box img{display: block; width: 100%;}
.depart_faci .imgs_box{}
.depart_faci .imgs_box:after{content: ""; display: block; clear: both;}
.depart_faci .imgs_box img{float: left; display: block; width: calc((100% - 1px - 1.875em) / 2);}
.depart_faci .imgs_box img:not(:first-child){margin-left: 1.875em;}

@media screen and (max-width: 1024px){
    .depart_faci .imgs_box img{width: calc((100% - 1px - 1.25em) / 2);}
    .depart_faci .imgs_box img:not(:first-child){margin-left: 1.25em;}
}

@media screen and (max-width: 640px){
    .depart_faci .imgs_box img{width: calc((100% - 1px - 1em) / 2);}
    .depart_faci .imgs_box img:not(:first-child){margin-left: 1em;}
}
