
@font-face {
  font-family:'NotoSans';
  font-weight: 900;
  src: url('NotoSans-Black.otf') format('opentype'),
        url('NotoSans-Black.woff') format('woff'),
       url('NotoSans-Black.ttf') format('truetype');
}

@font-face {
  font-family:'NotoSans';
  font-weight: 700;
  src: url('NotoSans-Bold.otf') format('opentype'),
        url('NotoSans-Bold.woff') format('woff'),
       url('NotoSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family:'NotoSans';
  font-weight: 500;
  src: url('NotoSans-Medium.otf') format('opentype'),
        url('NotoSans-Medium.woff') format('woff'),
       url('NotoSans-Medium.ttf') format('truetype');
       
}

@font-face {
  font-family:'NotoSans';
  font-weight: 400;
  src: url('NotoSans-Regular.otf') format('opentype'),
        url('NotoSans-Regular.woff') format('woff'),
       url('NotoSans-Regular.ttf') format('truetype');
       
}
