@charset "utf-8";
:root {
	--point-color: #8F6C11; /* 사이트 컬러 */
}

/*인사말*/
.college_hi .hihihi{background-image: url(../../../images/site/jlac/content/hi_head.png);}

.img1_box{}
.img1_box img{display: block; width: 100%; max-width: 648px; margin: 0 auto;}

/*연혁*/
/*.historys .wraps .his_list li .yy{font-family: 'Poppins','Noto Sans KR';}
.historys .wraps:nth-child(2) .his_list:after{display: none;}*/

.historys .wraps .his_list li:before{border-color: var(--point-color);}
.historys .wraps .his_list li .yy{color: var(--point-color);}

/*공학계열*/
.col01{}
.col01 .coll_int .boxs span{background-image: url(../../../images/site/cac/content/coll_int_01.png);}

/*인문사회계열*/
.col02{}
.col02 .coll_int .boxs span{background-image: url(../../../images/site/cac/content/coll_int_02.png);}

/*자연과학계열*/
.col03{}
.col03 .coll_int .boxs span{background-image: url(../../../images/site/cac/content/coll_int_03.png);}

/*예체능계열*/
.col04{}
.col04 .coll_int .boxs span{background-image: url(../../../images/site/cac/content/coll_int_04.png);}

.video_box + .img_box{margin-top: 3em;}
/*학생회*/
.img_box{}
.img_box img{display: block; width: 100%;}