@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int .t_intbx{background-image: url(../../../images/site/ebiz/content/int_head.png);}
.depart_int .cer_box{position: relative;}
.depart_int .cer_box:after{content: ""; display: block; clear: both;}
.depart_int .cer_box .boxs{float: left; width: calc((100% - 1px - 1.25em) / 2);}
.depart_int .cer_box .boxs:nth-child(2){position: absolute; right: 0; top: 0; height: 100%; margin-left: 1.25em;}
.depart_int .cer_box .boxs .tits{display: block; padding: 0.75em 1em; background-color: #082B52; color: #fff; text-align: center; font-weight: 400; font-size: 1.125em; box-sizing: border-box;}
.depart_int .cer_box .boxs .txts{display: table; table-layout: fixed; width: 100%; padding: 1.5em; margin-top: 0.625em; border: 1px solid #DBDBDB; box-sizing: border-box;}
.depart_int .cer_box .boxs:nth-child(2) .txts{position: absolute; bottom: 0; left: 0; height: calc(100% - 4em);}
.depart_int .cer_box .boxs .txts >div{display: table-cell; vertical-align: middle; text-align: center;}
.depart_int .maj_box{position: relative;}
.depart_int .maj_box:after{content: ""; display: block; clear: both;}
.depart_int .maj_box .boxs{float: left; width: calc(100% - 22% - 3.75em);}
.depart_int .maj_box .boxs:nth-child(2){position: absolute; top: 0; right: 0; width: 22%; height: 100%;}
.depart_int .maj_box .boxs .tits{display: block; padding: 0.75em 1em; background-color: #082B52; color: #fff; text-align: center; font-weight: 400; font-size: 1.125em; box-sizing: border-box;}
.depart_int .maj_box .boxs .txts{padding: 1.5em; margin-top: 0.625em; border: 1px solid #DBDBDB; box-sizing: border-box;}
.depart_int .maj_box .boxs:first-child .txts{padding: 0;}
.depart_int .maj_box .boxs:first-child .txts >ul{display: table; table-layout: fixed; width: 100%; overflow: hidden;}
.depart_int .maj_box .boxs:first-child .txts >ul:after{content: ""; display: block; clear: both;}
.depart_int .maj_box .boxs:first-child .txts >ul >li{position: relative; display: table-cell; vertical-align: text-top; width: 25%; height: 100%; box-sizing: border-box;}
.depart_int .maj_box .boxs:first-child .txts >ul >li:before{content: ""; position: absolute; top: 2.75em; left: -1px; display: block; width: 1px; height: 100%; background-color: #DBDBDB;}
.depart_int .maj_box .boxs:first-child .txts >ul >li >strong{display: block; padding: 0.734em 1em;  text-align: center; font-size: 0.9375em; color:#fff; font-weight: 400; background-color: #0071D9; box-sizing: border-box;}
.depart_int .maj_box .boxs:first-child .txts >ul >li:nth-child(2) >strong{background-color: #007EF2;}
.depart_int .maj_box .boxs:first-child .txts >ul >li:nth-child(3) >strong{background-color: #2295FF;}
.depart_int .maj_box .boxs:first-child .txts >ul >li:nth-child(4) >strong{background-color: #58AFFF;}
.depart_int .maj_box .boxs:first-child .txts >ul >li >ul{padding: 1em 1.5em; box-sizing: border-box;}
.depart_int .maj_box .boxs:nth-child(2) .txts{position: absolute; bottom: 0; left: 0; height: calc(100% - 4em); display: table; table-layout: fixed; width: 100%;}
.depart_int .maj_box .boxs:nth-child(2) .txts:before{
    content: ""; position: absolute; top: 50%; left: calc(-3.75em + 0.96875em); display: block; width: 1.9375em; height: 3.3125em; background: url(../../../images/site/ebiz/content/maj_box.svg) no-repeat center center; background-size: contain;
    transform: translateY(-50%); -webkit-transform: translateY(-50%);
}
.depart_int .maj_box .boxs:nth-child(2) .txts > div{display: table-cell; vertical-align: middle; width: 100%;}
.depart_int .maj_box .boxs:nth-child(2) .txts > div > ul> li:not(:first-child){margin-top: 0.2em;}


@media screen and (max-width: 1200px){
    .depart_int .maj_box .boxs:first-child .txts >ul >li{float: left; display: block; width: 50%;}
}
@media screen and (max-width: 1024px){
    .depart_int .maj_box .boxs{float: left; width: calc(100% - 13.25em - 3.75em);}
    .depart_int .maj_box .boxs:nth-child(2){width: 13.25em;}
}
@media screen and (max-width: 740px){
    .depart_int .maj_box .boxs{float: none; width: 100%;}
    .depart_int .maj_box .boxs:nth-child(2){position: relative; top: auto; right: auto;  width: 100%;}
    .depart_int .maj_box .boxs:nth-child(2):before{
        content: ""; display: block; width: 1.9375em; height: 3.3125em; background: url(../../../images/site/ebiz/content/maj_box.svg) no-repeat center center; background-size: contain; margin: 0.5em auto;
        transform: rotate(90deg); -webkit-transform: rotate(90deg);
    }
    .depart_int .maj_box .boxs:nth-child(2) .txts{position: relative; bottom: auto; left: auto; height: auto; display: block; table-layout: auto;}
    .depart_int .maj_box .boxs:nth-child(2) .txts:before{display: none;}
    .depart_int .maj_box .boxs:nth-child(2) .txts{display: block; table-layout: auto; padding: 1em;}
    .depart_int .maj_box .boxs:nth-child(2) .txts > div{display: block; text-align: center;}
}