@charset "utf-8";

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Button
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*
.btn{
	overflow:hidden; display:inline-block; min-width:92px; height:33px; line-height:33px; padding:0px 10px; margin:1px 0px; vertical-align:middle; font-weight:normal; font-size:14px; text-align:center; color:#fff; background-color:#616161; box-sizing:border-box;
}

a.btn:link,
a.btn:visited,
a.btn:active{color:#fff; border:1px solid #616161; background-color:#616161;}
a.btn:hover{text-decoration:none; border:1px solid #009b9d; color:#009b9d; background-color:#fff;}

a.btn.bg_00:link,
a.btn.bg_00:visited,
a.btn.bg_00:active,
a.btn.bg_00:hover{font-weight:normal; border:none; color:#404040; background-color:transparent !important;}
a.btn.bg_00:hover{text-decoration:underline;}

a.btn.bg_01:link,
a.btn.bg_01:visited,
a.btn.bg_01:active{border:1px solid #babfcb; color:#fff; background-color:#babfcb;}
a.btn.bg_01:hover{border:1px solid #babfcb; color:#babfcb; background-color:#fff;}
span.btn.bg_01{background-color:#babfcb;}

a.btn.bg_02:link,
a.btn.bg_02:visited,
a.btn.bg_02:active{border:1px solid #d70035; color:#fff; background-color:#d70035;}
a.btn.bg_02:hover{border:1px solid #d70035; color:#d70035; background-color:#fff;}
span.btn.bg_02{background-color:#d70035;}

a.btn.bg_03:link,
a.btn.bg_03:visited,
a.btn.bg_03:active{border:1px solid #36879d; color:#fff; background-color:#36879d;}
a.btn.bg_03:hover{border:1px solid #36879d; color:#36879d; background-color:#fff;}
span.btn.bg_03{background-color:#36879d;}

a.btn.bg_04:link,
a.btn.bg_04:visited,
a.btn.bg_04:active{border:1px solid #016dae; color:#fff; background-color:#016dae;}
a.btn.bg_04:hover{border:1px solid #016dae; color:#016dae; background-color:#fff;}
span.btn.bg_04{background-color:#016dae;}

a.btn.bg_05:link,
a.btn.bg_05:visited,
a.btn.bg_05:active{border:1px solid #009256; color:#fff; background-color:#009256;}
a.btn.bg_05:hover{border:1px solid #009256; color:#009256; background-color:#fff;}
span.btn.bg_05{background-color:#009256;}

a.btn.bg_06:link,
a.btn.bg_06:visited,
a.btn.bg_06:active{border:1px solid #fa851d; color:#fff; background-color:#fa851d;}
a.btn.bg_06:hover{border:1px solid #fa851d; color:#fa851d; background-color:#fff;}
span.btn.bg_06{background-color:#fa851d;}

a.btn.bg_07:link,
a.btn.bg_07:visited,
a.btn.bg_07:active{border:1px solid #b82551; color:#fff; background-color:#b82551;}
a.btn.bg_07:hover{border:1px solid #b82551; color:#b82551; background-color:#fff;}
span.btn.bg_07{background-color:#b82551;}

.btn.type_01{
	border-radius:8px;
    -webkit-border-radius:8px;
}

.btn.type_02{
	border-radius:15px 0px 15px 15px;
    -webkit-border-radius:15px 0px 15px 15px;
}

.btn.type_03{
	border-radius:15px 0px 15px 0px;
    -webkit-border-radius:15px 0px 15px 0px;
}

.btn.type_04{
	border-radius:0px 15px 0px 15px;
    -webkit-border-radius:0px 15px 0px 15px;
}


.btn.small{height:22px; line-height:22px; min-width:50px; padding:0px 7px; font-size:12px;}
.btn.large{height:40px; line-height:40px; min-width:120px;  padding:0px 12px; font-size:18px;}
*/

/* 45x35 */
.btn.icon_01{background-image:url(../images/core/btn_icon_01.png);}
.btn.icon_02{background-image:url(../images/core/btn_icon_02.png);}
.btn.icon_03{background-image:url(../images/core/btn_icon_03.png);}
.btn.icon_04{background-image:url(../images/core/btn_icon_04.png);}
.btn.icon_05{background-image:url(../images/core/btn_icon_05.png);}
.btn.icon_06{background-image:url(../images/core/btn_icon_06.png);}
.btn.icon_07{background-image:url(../images/core/btn_icon_07.png);}
.btn.icon_08{background-image:url(../images/core/btn_icon_10.png);}
.btn.icon_09{background-image:url(../images/core/btn_icon_11.png);}
.btn.icon_10{background-image:url(../images/core/btn_icon_12.png);}


/* 다운로드 icon */
.btn.icon_hwp{min-width:20px !important; padding:5px 3px !important; background:url(../images/core/btn_icon_hwp.gif); background-position:center center !important;}
.btn.icon_folder{min-width:20px !important; padding:5px 3px !important; background:url(../images/core/btn_icon_folder.gif); background-position:center center !important;}
.btn.icon_jpg{min-width:20px !important; padding:5px 3px !important; background:url(../images/core/btn_icon_jpg.gif); background-position:center center !important;}
/*.btn.icon_zip{min-width:20px !important; padding:5px 3px !important; background:url(../images/core/btn_icon_zip.gif); background-position:center center !important;}*/
.btn.icon_zip{min-width:20px !important; padding:5px 3px !important; background:url(../images/core/btn_icon_folder.gif); background-position:center center !important;}
.btn.icon_pdf{min-width:20px !important; padding:5px 3px !important; background:url(../images/core/btn_icon_pdf.gif); background-position:center center !important;}
.btn.icon_xlsx{min-width:20px !important; padding:5px 3px !important; background:url(../images/core/btn_icon_xlsx.gif); background-position:center center !important;}
   
.btn.icon_hwp[class*="right"],
.btn.icon_folder[class*="right"],
.btn.icon_jpg[class*="right"],
.btn.icon_zip[class*="right"],
.btn.icon_pdf[class*="right"],
.btn.icon_xlsx[class*="right"]{padding-right:20px !important; background-position:right center !important;}

.btn.icon_hwp[class*="left"],
.btn.icon_folder[class*="left"],
.btn.icon_jpg[class*="left"],
.btn.icon_zip[class*="left"],
.btn.icon_pdf[class*="left"],
.btn.icon_xlsx[class*="left"]{padding-left:20px !important; background-position:left center !important;}

.btn[class*="icon_"]{padding-left:40px; background-repeat:no-repeat; background-position:left -2px;}
.btn[class*="icon_"][class*="left"]{padding-left:40px;}
.btn[class*="icon_"][class*="right"]{padding-left:10px; padding-right:40px; background-position:right -2px;}
.btn[class*="icon_"][class*="center"]{min-width:50px; padding:13px 5px; text-indent:-1000px; background-position:center -2px;}
.btn[class*="icon_"][class*="center"][class*="small"]{padding:5px 3px;}
.btn[class*="icon_"][class*="center"][class*="large"]{padding:15px 12px;}

.btn[class*="icon_"]:hover{background-position:0 -37px;}
.btn[class*="icon_"].right:hover{background-position:right -37px;}
.btn[class*="icon_"].center:hover{background-position:center -37px;}

.btn[class*="icon_"].bg_01:hover{background-position:left -37px !important;}
.btn[class*="icon_"].bg_01.right:hover{background-position:right -37px !important;}
.btn[class*="icon_"].bg_01.center:hover{background-position:center -37px !important;}

.btn[class*="icon_"].bg_02:hover{background-position:left -107px !important;}
.btn[class*="icon_"].bg_02.right:hover{background-position:right -107px !important;}
.btn[class*="icon_"].bg_02.center:hover{background-position:center -107px !important;}

.btn[class*="icon_"].bg_03:hover{background-position:left -142px !important;}
.btn[class*="icon_"].bg_03.right:hover{background-position:right -142px !important;}
.btn[class*="icon_"].bg_03.center:hover{background-position:center -142px !important;}

.btn[class*="icon_"].bg_04:hover{background-position:left -177px !important;}
.btn[class*="icon_"].bg_04.right:hover{background-position:right -177px !important;}
.btn[class*="icon_"].bg_04.center:hover{background-position:center -177px !important;}

.btn[class*="icon_"].bg_05:hover{background-position:left -142px !important;}
.btn[class*="icon_"].bg_05.right:hover{background-position:right -142px !important;}
.btn[class*="icon_"].bg_05.center:hover{background-position:center -142px !important;}

.btn[class*="icon_"].bg_06:hover{background-position:left -72px !important;}
.btn[class*="icon_"].bg_06.right:hover{background-position:right -72px !important;}
.btn[class*="icon_"].bg_06.center:hover{background-position:center -72px !important;}

.btn[class*="icon_"].bg_07:hover{background-position:left -107px !important;}
.btn[class*="icon_"].bg_07.right:hover{background-position:right -107px !important;}
.btn[class*="icon_"].bg_07.center:hover{background-position:center -107px !important;}




.btn[class*="icon_"][class*="small"]{padding-left:30px; background-position:-7px -8px;}
.btn[class*="icon_"][class*="small"]:hover{background-position:-7px -42px;}
.btn[class*="icon_"][class*="small"].right:hover{background-position:right -42px;}
.btn[class*="icon_"][class*="small"].center:hover{background-position:center -42px;}

.btn[class*="icon_"][class*="small"].bg_01:hover{background-position:-7px -42px !important;}
.btn[class*="icon_"][class*="small"].bg_01.right:hover{background-position:right -42px !important;}
.btn[class*="icon_"][class*="small"].bg_01.center:hover{background-position:center -42px !important;}

.btn[class*="icon_"][class*="small"].bg_02:hover{background-position:-7px -113px !important;}
.btn[class*="icon_"][class*="small"].bg_02.right:hover{background-position:right -113px !important;}
.btn[class*="icon_"][class*="small"].bg_02.center:hover{background-position:center -113px !important;}

.btn[class*="icon_"][class*="small"].bg_03:hover{background-position:-7px -148px !important;}
.btn[class*="icon_"][class*="small"].bg_03.right:hover{background-position:right -148px !important;}
.btn[class*="icon_"][class*="small"].bg_03.center:hover{background-position:center -148px !important;}

.btn[class*="icon_"][class*="small"].bg_04:hover{background-position:-7px -183px !important;}
.btn[class*="icon_"][class*="small"].bg_04.right:hover{background-position:right -183px !important;}
.btn[class*="icon_"][class*="small"].bg_04.center:hover{background-position:center -183px !important;}

.btn[class*="icon_"][class*="small"].bg_05:hover{background-position:-7px -148px !important;}
.btn[class*="icon_"][class*="small"].bg_05.right:hover{background-position:right -148px !important;}
.btn[class*="icon_"][class*="small"].bg_05.center:hover{background-position:center -148px !important;}

.btn[class*="icon_"][class*="small"].bg_06:hover{background-position:-7px -77px !important;}
.btn[class*="icon_"][class*="small"].bg_06.right:hover{background-position:right -77px !important;}
.btn[class*="icon_"][class*="small"].bg_06.center:hover{background-position:center -77px !important;}

.btn[class*="icon_"][class*="small"].bg_07:hover{background-position:-7px -113px !important;}
.btn[class*="icon_"][class*="small"].bg_07.right:hover{background-position:right -113px !important;}
.btn[class*="icon_"][class*="small"].bg_07.center:hover{background-position:center -113px !important;}


.btn[class*="icon_"][class*="center"][class*="small"]{background-position:center -7px;}
.btn[class*="icon_"][class*="center"][class*="small"]:hover{background-position:0 -112px;}
.btn[class*="icon_"][class*="center"][class*="small"].right:hover{background-position:right -112px;}
.btn[class*="icon_"][class*="center"][class*="small"].center:hover{background-position:center -112px;}

.btn[class*="icon_"][class*="center"][class*="small"].bg_01:hover{background-position:left -42px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_01.right:hover{background-position:right -42px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_01.center:hover{background-position:center -42px !important;}

.btn[class*="icon_"][class*="center"][class*="small"].bg_02:hover{background-position:left -112px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_02.right:hover{background-position:right -112px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_02.center:hover{background-position:center -112px !important;}

.btn[class*="icon_"][class*="center"][class*="small"].bg_03:hover{background-position:left -147px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_03.right:hover{background-position:right -147px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_03.center:hover{background-position:center -147px !important;}


.btn[class*="icon_"][class*="center"][class*="small"].bg_04:hover{background-position:left -182px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_04.right:hover{background-position:right -182px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_04.center:hover{background-position:center -182px !important;}

.btn[class*="icon_"][class*="center"][class*="small"].bg_05:hover{background-position:left -147px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_05.right:hover{background-position:right -147px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_05.center:hover{background-position:center -147px !important;}

.btn[class*="icon_"][class*="center"][class*="small"].bg_06:hover{background-position:left -77px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_06.right:hover{background-position:right -77px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_06.center:hover{background-position:center -77px !important;}

.btn[class*="icon_"][class*="center"][class*="small"].bg_07:hover{background-position:left -112px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_07.right:hover{background-position:right -112px !important;}
.btn[class*="icon_"][class*="center"][class*="small"].bg_07.center:hover{background-position:center -112px !important;}


.btn[class*="icon_"][class*="center"]{
	min-width:35px;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.btn[class*="icon_"][class*="center"][class*="small"]{
	min-width:25px;
	border-radius:5px;
	-webkit-border-radius:5px;
}

.btn[class*="board_"]{
}


 /*** 검색박스 ***/
.board_search {width:100%; margin:0 0 10px 0;}
.board_search:after {content:""; display:block; clear:both;}
.board_search .count {float:left; line-height:37px;}
.board_search .select{float:right;}
.board_search .select select {float:left; display:block; height:35px; line-height:29px; margin-right:5px;}
.board_search .select input[type="text"] {float:left; display:block; width:180px; height:35px; line-height:35px; margin:0 5px 0 0;}
.board_search .select input[type="submit"], .board_search a.submit {float:left; display:block; width:72px; height:35px; line-height:37px; background:#666; border:0; color:#fff; font-size:16px; text-align:center; text-decoration:none;}


/*** 리스트 ***/
.board.list .no {display:block; padding:15px 0px; text-align:center;}
.board.list.photo .no,
.board.list.faq .no {border-top:2px solid #646464; border-bottom:1px solid #646464;}
.board.list ul li div a .new, .board.list ul li div a .js_secret {display:none; overflow:hidden; height:18px; text-indent:-1000px;}
.board.list ul li div a .new {width:18px; background:url(../images/core/icon_new.gif) no-repeat center center; position:absolute; right:0; top:1px;}
.board.list ul li div a .js_secret {width:15px; background:url(../images/core/icon_secret.png) no-repeat center center; position:absolute; left:0; top:0px;}
.board ul ul,
.board li li{display:block !important;}
.board.list ul li .btn_faq_mod{display:none !important;}
 
/* 일반형 */
.board.list.notice {border-top:3px solid #4f81e2; border-bottom:1px solid #646464;}
.board.list.notice ul {display:table; table-layout:fixed; border-collapse:collapse; border-spacing:0; width:100%;}
.board.list.notice ul li {display:table-row; position:relative; border-top:1px solid #d7d7d7; box-sizing:border-box;}
.board.list.notice ul li p,
.board.list.notice ul li .ntt_sj,
.board.list.notice ul li strong {display:table-cell; vertical-align:middle; font-weight:normal; text-align:center; box-sizing:border-box; margin:0; padding:12px 10px 10px 10px; line-height:21px;}
.board.list.notice ul li.thead {border-bottom:1px solid #d7d7d7; border-top:0; background:#f8f8f8;}
.board.list.notice ul li.thead .ntt_sj {text-align:center;}
.board.list.notice ul li .ntt_sj {text-align:left;}
.board.list.notice ul li .ntt_sj a {display:block; line-height:21px;}
.board.list.notice ul li .ntt_sj a strong {display:inline-block; vertical-align:top; text-align:left; width:auto; padding:0; max-width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; position:relative;}
.board.list.notice ul li .ntt_sj a:hover strong, .board.list.notice ul li .ntt_sj a:active strong {text-decoration:underline;}
.board.list.notice ul li .ntt_sj a.new strong {padding-right:23px;}
.board.list.notice ul li .ntt_sj a.js_secret strong {padding-left:20px;}
.board.list.notice ul li .ntt_sj a.new .new {display:inline-block;}
.board.list.notice ul li .ntt_sj a.js_secret .js_secret {display:inline-block;}
.board.list.notice ul li .atch_file_id .btn {height:auto; line-height:inherit; margin:0; vertical-align:top;}
.board.list.notice ul li .atch_file_id .btn.icon_folder {padding:0 !important; background-position: center 2px !important; overflow:hidden; display:inline-block; vertical-align:middle;}
.board.list.notice ul li.point .ntt_no, .board.list.notice ul li.point .ntt_sj a {color:#4f81e2;}
.board.list.notice ul li .ntt_ct em {display:inline-block; vertical-align:top; color:#fff; padding:1px 7px 0 7px; margin-top:-1px;}
.board.list.notice ul li .ntt_ct em.cate_1 {background:#31b786;}
.board.list.notice ul li .ntt_ct em.cate_2 {background:#1d5a4c;}
.board.list.notice ul li .ntt_ct em.cate_3 {background:#4373e1;}
.board.list.notice ul li .ntt_ct em.cate_4 {background:#f1763a;}
.board.list.notice ul li .ntt_ct em.cate_5 {background:#a94cd4;}
.board.list.notice ul li .ntt_ct em.cate_6 {background:#a5135f;}



/* 묻고답하기 */
.board.list.qna {border-top:3px solid #4f81e2; border-bottom:1px solid #646464;}
.board.list.qna ul {display:table; table-layout:fixed; border-collapse:collapse; border-spacing:0; width:100%;}
.board.list.qna ul li {display:table-row; position:relative; border-top:1px solid #d7d7d7; box-sizing:border-box;}
.board.list.qna ul li p,
.board.list.qna ul li .ntt_sj,
.board.list.qna ul li strong {display:table-cell; vertical-align:middle; font-weight:normal; text-align:center; box-sizing:border-box; margin:0; padding:12px 10px 10px 10px; line-height:21px;}
.board.list.qna ul li.thead {border-bottom:1px solid #d7d7d7; border-top:0; background:#f8f8f8;}
.board.list.qna ul li.thead .ntt_sj {text-align:center;}
.board.list.qna ul li .ntt_sj {text-align:left;}
.board.list.qna ul li .ntt_sj a {display:block; line-height:21px;}
.board.list.qna ul li .ntt_sj a strong {display:inline-block; vertical-align:top; text-align:left; width:auto; padding:0; max-width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; position:relative;}
.board.list.qna ul li .ntt_sj a strong span {line-height:21px;}
.board.list.qna ul li .ntt_sj a strong span.red {color:#fb5b5b;}
.board.list.qna ul li .ntt_sj a:hover strong, .board.list.qna ul li .ntt_sj a:active strong {text-decoration:underline;}
.board.list.qna ul li .ntt_sj a.new strong {padding-right:23px;}
.board.list.qna ul li .ntt_sj a.js_secret strong {padding-left:20px;}
.board.list.qna ul li .ntt_sj a.new .new {display:inline-block;}
.board.list.qna ul li .ntt_sj a.js_secret .js_secret {display:inline-block;}
.board.list.qna ul li .atch_file_id .btn {height:auto; line-height:inherit; margin:0; vertical-align:top;}
.board.list.qna ul li .atch_file_id .btn.icon_folder {padding:0 !important; background-position: center 2px !important; overflow:hidden; display:inline-block; vertical-align:middle;}
.board.list.qna ul li.point .ntt_no, .board.list.qna ul li.point .ntt_sj a {color:#4f81e2;}
.board.list.qna ul li .ntt_ct em {display:inline-block; vertical-align:top; color:#fff; padding:1px 7px 0 7px; margin-top:-1px;}
.board.list.qna ul li .ntt_ct em.cate_1 {background:#31b786;}
.board.list.qna ul li .ntt_ct em.cate_2 {background:#1d5a4c;}
.board.list.qna ul li .ntt_ct em.cate_3 {background:#4373e1;}
.board.list.qna ul li .ntt_ct em.cate_4 {background:#f1763a;}
.board.list.qna ul li .ntt_ct em.cate_5 {background:#a94cd4;}
.board.list.qna ul li .ntt_ct em.cate_6 {background:#a5135f;}

/* faq */
.board.list.faq ul {overflow:hidden; border-top:3px solid #4f81e2; width:100%;}
.board.list.faq ul li.thead, .board.list.faq ul li p {display:none;}
.board.list.faq ul li .ntt_sj a {cursor:default; text-decoration:none;}
.board.list.faq ul li .ntt_sj a strong {display:block; line-height:21px; padding:17px 55px 15px 60px; font-weight:normal; cursor:pointer; border-bottom:1px solid #d7d7d7; background:url(../images/core/icon_q.png) no-repeat 15px 9px; position:relative;}
.board.list.faq ul li .ntt_sj a strong:after {content:""; display:block; width:30px; height:30px; background:url(../images/core/qna_down.png) no-repeat center 50%; position:absolute; right:15px; top:11px;}
.board.list.faq ul li .ntt_sj a strong.on:after {background:url(../images/core/qna_up.png) no-repeat center 50%;}
.board.list.faq ul li .ntt_sj a:hover strong, .board.list.faq ul li .ntt_sj a:active strong {text-decoration:underline;}
.board.list.faq ul li .ntt_sj a .ntt_cn {display:none; padding:15px 15px 15px 60px; border-bottom:1px solid #d7d7d7; color:#555; position:relative; background:#f5f5f5 url(../images/core/icon_a.png) no-repeat 15px 9px; line-height:21px;} 
.board.list.faq ul li .ntt_sj a .ntt_cn p {display:block;}


.board .ntt_no{}
.board input.ntt_sj{width:100%;}
.board textarea.ntt_cn{height:300px !important;}
.board .rdcnt{}
.board .ntce_bgnde{}
.board .ntce_endde{}
.board .ntcr_id{}
.board input.ntcr_nm{width:150px;}
.board input.password{width:150px;}
.board .atch_file_id{}
.board .frst_register_nm{}
.board .frst_register_id{}
.board .last_updt_pnttm{}
.board .last_updusr_id{}

/* 일반형 */
.board.list.notice ul li .ntt_no {width:50px;}
.board.list.notice ul li .ntt_ct {width:110px;}
.board.list.notice ul li .ntt_sj {width:auto;}
.board.list.notice ul li .ntcr_nm {width:90px;}
.board.list.notice ul li .frst_register_nm {width:110px;}
.board.list.notice ul li .rdcnt {width:70px;}
.board.list.notice ul li .atch_file_id {width:50px;}
.board.list.notice ul li p a .ntt_cn,
.board.list.notice ul li .ntt_sj a .ntt_cn {display:none;}

/* qna */
.board.list.qna ul li .ntt_no {width:50px;}
.board.list.qna ul li .ntt_ct {width:110px;}
.board.list.qna ul li .ntt_sj {width:auto;}
.board.list.qna ul li .ntcr_nm {width:90px;}
.board.list.qna ul li .frst_register_nm {width:110px;}
.board.list.qna ul li .rdcnt {width:70px;}
.board.list.qna ul li .atch_file_id {width:50px;}
.board.list.qna ul li p a .ntt_cn,
.board.list.qna ul li .ntt_sj a .ntt_cn {display:none;}

/* 입시자료신청 */
.board.list.notice ul li .ntt_division {width:70px;}
.board.list.notice ul li .ntcr_type {width:90px;}
.board.list.notice ul li.thead .ntt_add {text-align:center;}
.board.list.notice ul li .ntt_add {width:auto; display:table-cell; vertical-align:middle; font-weight:normal; text-align:center; box-sizing:border-box; margin:0; padding:12px 10px 10px 10px; line-height:21px; text-align:left;}
.board.list.notice ul li .ntt_add a {line-height:21px; display:inline-block; vertical-align:top; width:auto; max-width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.board.list.notice ul li .appli_status {width:110px;}
.board.list.notice ul li .appli_status span {color:#fff; display:inline-block; vertical-align:top; line-height:21px; font-size:13px; padding:2px 7px; margin-top:-1px;}
.board.list.notice ul li .appli_status span.cate_1 {background:#009e9f;}
.board.list.notice ul li .appli_status span.cate_2 {background:#0153db;}


/* youtube */
.board.list.youtube{border-top:2px solid #000; border-bottom:1px solid #000;}
.board.list.youtube ul{overflow:hidden; display:flex; align-items:flex-start; justify-content:flex-start; flex-wrap:wrap; width:calc(100% + 20px); margin-left:-10px; padding:15px 0px;}
.board.list.youtube ul li{
	overflow:hidden; position:relative; width:calc(((100% - 1px) / 4) - 20px); padding:0; margin:10px; box-sizing:border-box;
	-webkit-border-radius:5px; border-radius:5px;
	-webkit-box-shadow:2px 4px 10px rgba(0, 0, 0, 0.1);
    box-shadow:2px 4px 10px rgba(0, 0, 0, 0.1);
}
.board.list.youtube ul li.thead{display:none;}
.board.list.youtube ul li a{overflow:hidden; display:block; width:100%; line-height:20px; font-weight:600; text-overflow:ellipsis; white-space:nowrap;}
.board.list.youtube ul li a:hover{color:#404040;}
.board.list.youtube ul li a .photo{
	overflow:hidden; display:block; position:relative; width:100%; height:200px; background-color:#000;
}
.board.list.youtube ul li a .photo span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.board.list.youtube ul li a .photo span img{
	height:100%;
	-webkit-transition:transform 0.3s linear;
	transition:transform 0.3s linear;
}
.board.list.youtube ul li a:hover .photo span img{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
}
.board.list.youtube ul li a .photo ~ strong{white-space:nowrap; text-overflow:ellipsis; overflow:hidden; display:block; padding:15px 15px; font-size:16px; color:#222;}
.board.list.youtube ul li .ntt_no{display:none;}
.board.list.youtube ul li .ntcr_nm{float:left; padding-left:15px;}
.board.list.youtube ul li .frst_register_nm{float:right; padding-right:15px;}
.board.list.youtube ul li .rdcnt{display:none;}
.board.list.youtube ul li [class*="btn_faq_"]{clear:both;}
@media screen and (max-width: 1000px) {
	.board.list.youtube ul li{position:relative; width:calc(((100% - 1px) / 3) - 20px);}
}
@media screen and (max-width: 800px) {
	.board.list.youtube ul li{position:relative; width:calc(((100% - 1px) / 2) - 20px);}
}
@media screen and (max-width: 460px) {
	.board.list.youtube ul li{position:relative; width:calc(((100% - 1px) / 1) - 20px);}
	.board.list.youtube ul li a .photo{height:auto;}
	.board.list.youtube ul li a .photo span{position:relative; left:auto; width:100%; height:auto; margin-left:0;}
	.board.list.youtube ul li a .photo span img{width:100%; height:auto;}
}

/*** 상세보기 ***/
/* 일반형 */
.board.view {border-top:3px solid #4f81e2; border-bottom:1px solid #646464;}
.board.view .ntt_sj {display:block; padding:20px 20px; font-weight:normal; font-size:20px; line-height:26px; color:#444; background:#f8f8f8;}
.board.view .detail {background:#f8f8f8;}
.board.view .detail li {position:relative; padding:0px 20px 15px 20px; font-size:14px; border-bottom:1px solid #d7d7d7;}
.board.view .detail li span {display:inline-block; vertical-align:top; padding:0px 0px 0px 17px; color:#9c9c9c; background:url(../images/core/board_bar.gif) no-repeat 8px center;}
.board.view .detail li span:first-child {padding-left:0; background:none;}
.board.view .detail li span em {font-style:normal; color:#444;}
.board.view .texts {border-bottom:1px solid #ccc;}
.board.view .ntt_cn {padding:15px 20px; min-height:200px; word-break:break-all;}
.board.view .ntt_cn .youtube-box{display:block; position:relative; width:100%; max-width:1000px; margin:0 auto 20px;}
.board.view .ntt_cn .youtube-box::before{content:""; display:block; position:relative; z-index:-1; width:100%; padding-top:56.2%;}
.board.view .ntt_cn .youtube-box iframe{position:absolute; left:0; top:0; z-index:100; width:100%; height:100%;}

.board.view .ntt_cn img {display:block; width:auto; max-width:100%;}
.board.view .filebox {}
.board.view .filebox ul {padding:15px 20px; border-bottom:1px solid #d7d7d7;}
.board.view .filebox ul li {padding:0; border:none; margin-top:5px;}
.board.view .filebox ul li:first-child {margin-top:0;}
.board.view .filebox ul li .btn.icon_03 {height:auto; font-size:13px; line-height:18px; background:#777b90 url(../images/core/btn_icon_03.png) no-repeat -9px -6px !important; color:#fff; padding:3px 8px 2px 26px; display:inline-block; vertical-align:top;}

/* 묻고답하기 */
.board.view.qna .ntt_sj {padding-left:55px; background:#f8f8f8 url(../images/core/icon_q_02.png) no-repeat 18px 17px;}
.board.view.qna .board.view.qna {margin-top:20px;}
.board.view.qna .board.view.qna .ntt_sj {padding-left:55px; background:#f8f8f8 url(../images/core/icon_a_02.png) no-repeat 18px 17px;}
.board.view.qna .board.view.qna .texts {border-bottom:0;}


/*** Page ***/
.page {width:100%; text-align:center; margin:30px 0 0 0;}
.page a {display:inline-block; vertical-align:top; width:33px; height:33px; line-height:36px; border:1px solid #d7d7d7; color:#666; margin-left:-1px; position:relative;
transition : all 0.5s ease; -webkit-transition : all 0.5s ease;}
.page a strong {font-weight:normal; color:#fff; background:#4f81e2; display:block; position:absolute; left:-1px; top:-1px; width:35px; height:35px; z-index:10; line-height:38px;}
.page a:hover, .page a:active {background:#ebebeb;}
.page a.page_first {background:url(../images/core/icon_page_first.gif) no-repeat center 50%; text-indent:-9999px; overflow:hidden;}
.page a.page_left {background:url(../images/core/icon_page_left.gif) no-repeat center 50%; text-indent:-9999px; overflow:hidden;}
.page a.page_right {background:url(../images/core/icon_page_right.gif) no-repeat center 50%; text-indent:-9999px; overflow:hidden;}
.page a.page_end {background:url(../images/core/icon_page_end.gif) no-repeat center 50%; text-indent:-9999px; overflow:hidden;}
.page a.page_first:hover, .page a.page_first:active {background:#ebebeb url(../images/core/icon_page_first.gif) no-repeat center 50%;}
.page a.page_left:hover, .page a.page_left:active {background:#ebebeb url(../images/core/icon_page_left.gif) no-repeat center 50%;}
.page a.page_right:hover, .page a.page_right:active {background:#ebebeb url(../images/core/icon_page_right.gif) no-repeat center 50%;}
.page a.page_end:hover, .page a.page_end:active {background:#ebebeb url(../images/core/icon_page_end.gif) no-repeat center 50%;}
 
 
/*** Board Parent Link ***/
.board_parent_link {width:100%; height:auto;}
.board_parent_link ul {width:100%; height:auto;}
.board_parent_link ul li {position:relative; min-height:50px; padding:0 20px 0 120px; border-top:1px solid #d7d7d7;}
.board_parent_link ul li:first-child{border-top:none;}
.board_parent_link ul li strong {display:block; position:absolute; left:0px; top:0; width:60px; padding:15px 20px; line-height:21px;}
.board_parent_link ul li.icon_01 strong {background:url(../images/core/board_parent_link_up.gif) no-repeat right 21px;}
.board_parent_link ul li.icon_02 strong {background:url(../images/core/board_parent_link_down.gif) no-repeat right 22px;}
.board_parent_link ul li a {display:inline-block; vertical-align:top; width:auto; max-width:100%; padding:15px 0; line-height:21px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}


/*** file img preview ***/
.js_file_preview{overflow:hidden; display:inline-block; position:relative; width:140px !important; box-sizing:border-box;}
.js_file_preview input[type="file"]{position:absolute; left:0; top:-10000px;}
.js_file_preview textarea{width:200px !important; height:55px !important; margin-top:5px !important;}
.js_file_preview .file_img_preview{
	overflow:hidden; display:table-cell; position:relative; width:140px; height:90px; padding:0; cursor:pointer; vertical-align:middle; text-align:center; background:#eee url(../images/core/preview_img.gif) no-repeat center center; box-sizing:border-box;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    -khtml-border-radius:5px;
    -o-border-radius:5px;
}
.js_file_preview .file_img_preview.on{background:#fff;}
.js_file_preview .file_img_preview.file{border:1px solid #eee; background:#fff;}
.js_file_preview .file_img_preview img{max-width:140px; max-height:90px; vertical-align:middle;}
.js_file_preview .file_name_preview{display:block !important; overflow:hidden; position:absolute; left:-300px; top:64px; width:100% !important; height:25px; line-height:25px; padding-left:5px !important; font-weight:normal !important; font-size:12px !important; text-align:left !important; text-overflow:ellipsis; white-space:nowrap; color:#fff; background-color:#000 !important; opacity:0.7; box-sizing:border-box;}
.js_file_preview .file_img_preview_del{overflow:hidden; display:none; position:absolute; right:0; top:0; width:26px; height:26px; text-indent:-1000px; background:url(../images/core/file_img_preview_del.gif) no-repeat center center;}





/********** Media quary **********/
@media screen and (max-width: 1023px){
/*** 상세보기 ***/
/* 일반형 */
.board.view .ntt_sj {padding:15px 15px 10px 15px;}
.board.view .detail li {padding:0px 15px 15px 15px;}
.board.view .filebox ul {padding:15px 15px;}	
.board.view .ntt_cn {padding:15px 15px; min-height:inherit !important;}
.board_parent_link ul li {padding:0 15px 0 110px;}
.board_parent_link ul li strong {width:50px;}

/* 묻고답하기 */
.board.view.qna .ntt_sj {background-position:18px 13px; padding-left:50px;}
.board.view.qna .board.view.qna .ntt_sj {background-position:18px 13px; padding-left:50px;}
}



@media screen and (max-width: 840px){
 /*** 리스트 ***/	
/* 일반형 */
.board.list.notice ul {display:block;}
.board.list.notice ul li {display:block; border-bottom:1px solid #d7d7d7; border-top:0; padding:15px 0 12px 0;}
.board.list.notice ul li:last-child {border-bottom:0;}
.board.list.notice ul li.thead {display:none;}	
.board.list.notice ul li p.ntt_no {display:none;}
.board.list.notice ul li .ntt_ct {display:inline-block; padding:0px; width:auto; margin:0 0 5px 0;}
.board.list.notice ul li .ntt_ct em {padding:2px 7px 1px 7px;}
.board.list.notice ul li .ntt_sj {padding:2px 0 2px 0; width:auto; display:block; margin:0 0 5px 0;}
.board.list.notice ul li p.ntcr_nm,
.board.list.notice ul li p.frst_register_nm,
.board.list.notice ul li p.rdcnt,
.board.list.notice ul li p.atch_file_id {width:auto; padding:0 10px; background:url(../images/core/bar_01.gif) no-repeat left 3px;}
.board.list.notice ul li p.ntcr_nm {padding-left:0; background:none;}
.board.list.notice ul li .atch_file_id .btn.icon_folder {background-position:center 3px !important;}
 
/* 묻고답하기 */
.board.list.qna ul {display:block;}
.board.list.qna ul li {display:block;  border-bottom:1px solid #d7d7d7; border-top:0; padding:15px 0 12px 0;}
.board.list.qna ul li.thead {display:none;}
.board.list.qna ul li p.ntt_no {display:none;}
.board.list.qna ul li .ntt_ct {display:inline-block; padding:0px; width:auto; margin:0 0 5px 0;}
.board.list.qna ul li .ntt_ct em {padding:2px 7px 1px 7px;}
.board.list.qna ul li .ntt_sj {padding:2px 0 2px 0; width:auto; display:block; margin:0 0 5px 0;}
.board.list.qna ul li p.ntcr_nm,
.board.list.qna ul li p.frst_register_nm,
.board.list.qna ul li p.rdcnt,
.board.list.qna ul li p.atch_file_id {width:auto; padding:0 10px; background:url(../images/core/bar_01.gif) no-repeat left 3px;}
.board.list.qna ul li p.ntcr_nm {padding-left:0; background:none;}
.board.list.qna ul li .atch_file_id .btn.icon_folder {background-position:center 3px !important;}
 
 /* 입시자료신청 */
.board.list.notice ul li .ntt_division, .board.list.notice ul li .ntcr_type, .board.list.notice ul li .appli_status {width:auto; padding:0 10px; background:url(../images/core/bar_01.gif) no-repeat left 3px;}
.board.list.notice ul li .ntt_division {background:none;}
.board.list.notice ul li .ntt_add {width:auto; display:block; padding:2px 10px; margin:0 0 5px 0;}
.board.list.notice ul li .ntt_add a {line-height:21px; display:inline-block; vertical-align:top; width:auto; max-width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
 
 
 /*** 상세보기 ***/
/* 일반형 */
.board.view .ntt_sj {font-size:18px; line-height:24px;}


/*** Page ***/
.page a {width:28px; height:28px; line-height:30px; font-size:14px;}
.page a strong {left:-1px; top:-1px; width:30px; height:30px; line-height:32px;}
}



@media screen and (max-width: 640px){
 /*** 검색박스 ***/	
.board_search .count,
.board_search .select {float:none;}
.board_search .count {line-height:21px; margin:0 0 5px 0;}
.board_search .select input[type="submit"],
.board_search .select .submit{font-size:14px;}	


/*** 리스트 ***/
.board.list .no {font-size:14px;}
/* 일반형 */
.board.list.notice ul li p.ntt_no {top:16px;}

/* 묻고답하기 */
.board.list.qna ul li p.ntt_no {top:16px;}


/*** 상세보기 ***/
/* 일반형 */
.board.view .ntt_sj {font-size:17px; line-height:23px;}	
.board.view .ntt_cn {font-size:14px; min-height:100px;}
.board_parent_link ul li {min-height:10px; padding:0 15px 0 95px;}
.board_parent_link ul li strong {padding:12px 15px;}
.board_parent_link ul li a {padding:12px 0;}
.board_parent_link ul li.icon_01 strong {background-position:right 19px;}
.board_parent_link ul li.icon_02 strong {background-position:right 20px;}

/* 묻고답하기 */
.board.view.qna .ntt_sj {background-position:18px 11px;}
.board.view.qna .board.view.qna .ntt_sj {background-position:18px 11px;}	
	
.board textarea.ntt_cn{height:150px !important;}
	
/* file img preview */
.js_file_preview{width:100% !important; margin-top:5px;}
.js_file_preview input[type="file"]{position:static; height:26px;}
.js_file_preview .file_img_preview,
.js_file_preview .file_name_preview{display:none !important;}
.js_file_preview textarea{width:100% !important; margin-top:5px;}
}



@media screen and (max-width: 480px){
/*** 검색박스 ***/	
.board_search .select {position:relative; padding:0 75px 0 0;}
.board_search .select select {display:block; float:none; margin-bottom:5px;}
.board_search .select input[type="text"] {width:100%; float:none;}	
.board_search .select input[type="submit"], .board_search .select .submit {float:none; width:70px; position:absolute; right:0; bottom:0;}


/*** 상세보기 ***/
/* 일반형 */
.board.view .detail li span {display:block; padding-left:0; background:none;}
}