@charset "utf-8";

/** Animation **/
#header,
#header h1,
.link_search,
.link_search a,
.link_search p,
.table_box,
.susi_table th,
.susi_table td,
.susi_table td a.btn,
.cate_tip,
.login .inner,
.login .inner .box .input,
.login .inner .copy
{transition : all 0.5s ease; -webkit-transition : all 0.5s ease;}
.js_mobile_check {display:none;}

/* Header */
#header {background:#4f81e2; padding:15px 20px; position:relative;}
#header h1 {color:#fff; font-weight:normal; font-size:25px; line-height:32px; background:url(../images/schedule/hi_logo.png) no-repeat left top; padding:8px 0 0 100px; height:41px;}
#header .button {position:absolute; right:20px; top:50%; margin-top:-20px;}
#header .button a {display:inline-block; vertical-align:top; padding:8px 30px; color:#fff; margin-left:10px;}
#header .button a span {display:inline-block; vertical-align:top; padding:0 0 0 25px;}
#header .button a:hover span, #header .button a:active span {text-decoration:underline;}
#header .button a.write_btn {background:#292a2e;}
#header .button a.print_btn {background:#232f79;}
#header .button a.write_btn span {background:url(../images/schedule/write_btn_ico.png) no-repeat left 3px;}
#header .button a.print_btn span {background:url(../images/schedule/print_btn_ico.png) no-repeat left 4px;}

/* Container */
#container {width:auto; padding:15px 15px 30px 15px; position:relative;}
.cate_1 {color:#444;}
.cate_2 {color:#0842a5;}
.cate_3 {color:#a35fb6;}
.cate_4 {color:#0099a7;}
.cate_5 {color:#ed7375;}
.cate_6 {color:#a99065;}
.select_search {position:absolute; left:15px; top:95px;}
.select_search select {width:90px;}
.select_search input[type="submit"] {background:#f1f2f4; border:1px solid #c9c9c9; color:#444;}	
.link_search {width:100%; text-align:center; padding:30px 0 60px 0; height:40px;}
.link_search p, .link_search a {display:inline-block; vertical-align:top;}
.link_search p {font-size:30px; line-height:44px; font-weight:600; margin:0 20px; color:#444;}
.link_search a {width:40px; height:40px; line-height:42px; border:1px solid #d9d9d9; background:#fff;}
.link_search a:hover, .link_search a:active {border:1px solid #808080;}
.link_search a.prev {text-indent:-9999px; background:#fff url(../images/schedule/link_search_prev.png) no-repeat center 50%;}
.link_search a.next {text-indent:-9999px; background:#fff url(../images/schedule/link_search_next.png) no-repeat center 50%;}
.link_search a.today {width:auto; padding:0 15px; margin-left:10px;}
.susi_table {width:100%; background:#fff;}
.susi_table th {border-top:2px solid #4f81e2; border-bottom:1px solid #d9d9d9; width:14%; background:#f6f6f6; color:#444; font-size:18px; line-height:18px; padding:15px 10px;}
.susi_table td {border:1px solid #d9d9d9; width:14%; height:110px; vertical-align:top; position:relative;}
.susi_table td.today {background:#f5fafd;}
.susi_table .sun, .susi_table .sat {width:15%;} 
.susi_table th.sun {border-left:1px solid #d9d9d9; color:#e4312c;}
.susi_table th.sat {border-right:1px solid #d9d9d9; color:#4f81e2;}
.susi_table td span {display:block; font-size:17px; line-height:17px; font-weight:600; background:#fafafa; padding:9px 10px 7px 10px; min-height:17px; border-bottom:1px solid #fff;}
.susi_table td.sun span {color:#e4312c;}
.susi_table td.sat span {color:#4f81e2;}
.result_list {width:auto; padding:15px 12px; font-size:13px;}
.result_list li {margin-top:15px;}
.result_list li:first-child {margin-top:0;}
.result_list li strong {display:block; padding:0 0 0 10px; font-weight:normal; position:relative;}
.result_list li strong:before {content:""; display:block; width:4px; height:11px; position:absolute; left:0; top:4px;}
.result_list li strong img {display:inline-block; vertical-align:top; margin:3px 0 0 5px;}
.result_list li.cate_1 strong:before {background:#444;}
.result_list li.cate_2 strong:before {background:#0842a5;}
.result_list li.cate_3 strong:before {background:#a35fb6;}
.result_list li.cate_4 strong:before {background:#0099a7;}
.result_list li.cate_5 strong:before {background:#ed7375;}
.result_list li.cate_6 strong:before {background:#a99065;}
.result_list li ul {padding:0 0 0 10px;}
.result_list li ul li {padding:0 0 0 10px; margin-top:0;}
.result_list li.cate_1 ul li {background:url(../images/schedule/cate_bul_1.gif) no-repeat left 9px;}
.result_list li.cate_2 ul li {background:url(../images/schedule/cate_bul_2.gif) no-repeat left 9px;}
.result_list li.cate_3 ul li {background:url(../images/schedule/cate_bul_3.gif) no-repeat left 9px;}
.result_list li.cate_4 ul li {background:url(../images/schedule/cate_bul_4.gif) no-repeat left 9px;}
.result_list li.cate_5 ul li {background:url(../images/schedule/cate_bul_5.gif) no-repeat left 9px;}
.result_list li.cate_6 ul li {background:url(../images/schedule/cate_bul_6.gif) no-repeat left 9px;}
.susi_table td a.btn {display:none; width:33px; height:33px; background:url(../images/schedule/write_btn.png) no-repeat center 50%; position:absolute; right:0; top:0; z-index:1; text-indent:-9999px; opacity:0.5; -webkit-opacity:0.5; filter:alpha(opacity=50);}
.susi_table td a.btn:hover, .susi_table td a.btn:active {opacity:1; -webkit-opacity:1; filter:alpha(opacity=100);}
.cate_tip {position:absolute; right:15px; top:115px;}
.cate_tip:after {content:""; display:block; clear:both;}
.cate_tip li {float:left; margin-left:15px; padding-left:20px; position:relative; line-height:17px;}
.cate_tip li:first-child {margin-left:0;}
.cate_tip li.cate_1 {color:#444;}
.cate_tip li.cate_2 {color:#0842a5;}
.cate_tip li.cate_3 {color:#a35fb6;}
.cate_tip li.cate_4 {color:#0099a7;}
.cate_tip li.cate_5 {color:#ed7375;}
.cate_tip li.cate_6 {color:#a99065;}
.cate_tip li:before {content:""; display:block; width:15px; height:15px; background:#000; position:absolute; left:0; top:0;}
.cate_tip li.cate_1:before {background:#444;}
.cate_tip li.cate_2:before {background:#0842a5;}
.cate_tip li.cate_3:before {background:#a35fb6;}
.cate_tip li.cate_4:before {background:#0099a7;}
.cate_tip li.cate_5:before {background:#ed7375;}
.cate_tip li.cate_6:before {background:#a99065;}
#mobile_list {display:none;}

/* Footer */
#footer {width:100%; height:auto; padding:15px 0 10px 0; text-align:center; background:#e7e8ea;}
#footer p {margin:0; font-size:12px; color:#828283;}

/* login */
.login {background:#34427d url(../images/schedule/login_bg.gif) repeat center top;}
.login .inner {width:100%; max-width:460px; position:absolute; left:50%; top:50%; margin:-172px 0 0 -230px;}
.login .inner .box {width:100%; height:auto; background:#fff; border-radius:5px; -webkit-border-radius:5px; box-shadow:0 0 10px 5px #243165; -webkit-box-shadow:0 0 10px 5px #243165;}
.login .inner .box .title {margin:0; font-size:22px; line-height:30px; color:#fff; padding:14px 5% 12px 5%; background:#346bc8; border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0 ;}
.login .inner .box .title span {display:inline-block; vertical-align:top; width:55px; height:30px; background:url(../images/schedule/logo.png) no-repeat left top; text-indent:-9999px; margin:0 10px 0 0;}
.login .inner .box .input {padding:45px 10% 70px 10%;}
.login .inner .box .input input {display:block; width:100%;} 
.login .inner .box .input input[type="password"] {height:42px; line-height:42px; margin:0 0 10px 0;}
.login .inner .box .input input[type="button"] {background:#505050; height:50px; line-height:50px; font-size:18px; border:0; padding:0; font-family:Arial, Helvetica, sans-serif;}
.login .inner .copy {color:#828bb1; text-align:center; margin:30px 0 0 0; font-size:14px;}




/********** Media quary **********/
@media screen and (min-width: 1024px){
#mobile_list {display:none !important;}	
}


@media screen and (max-width: 1023px){
body {background:#e7e8ea;}	
	
.js_mobile_check {display:block;}
#header h1 {width:170px; margin:0 auto;}	
#header .button {display:none;}	
#container {background:#f1f2f4; padding:20px 3% 30px 3%;}
.select_search {position:relative; left:auto; top:auto; background:#fff; padding:15px 3%; margin:0 0 10px 0; text-align:center;}
.select_search select {width:20%; min-width:90px;}
.select_search input[type="submit"] {width:80px; background:#5b5b5b; color:#fff; border:1px solid #5b5b5b;}
.table_box {background:#fff; padding:20px 0 10px 0;}
.link_search {padding:0 0 15px 0; height:37px;}
.link_search a {width:37px; height:37px;}
.link_search p {font-size:27px; line-height:42px;}
.link_search a.today {display:none;}
.susi_table th {border:0 !important; background:none; font-size:15px; line-height:15px;}
.susi_table td {height:50px; border:0; overflow:hidden; background:#fff !important;}
.susi_table td span {background:none; font-size:15px; line-height:15px; text-align:center; height:31px; position:relative; padding:19px 0 0 0; border:0;} 
.susi_table td span.on {background:#5b5b5b; color:#fff; width:40px; height:40px; border-radius:50%; -webkit-border-radius:50%; overflow:hidden; padding:0; line-height:42px; margin:5px auto;}
.result_list {display:none;}
.susi_table td a.btn {width:100%; height:100%; background:#fff; opacity:0; -webkit-opacity:0; filter:alpha(opacity=0); display:block !important;}
.susi_table td a.btn:hover, .susi_table td a.btn:active {opacity:0; -webkit-opacity:0; filter:alpha(opacity=0);}
.cate_tip {position:relative; right:auto; top:auto; margin:20px 0 0 0;}
.cate_tip li {margin:0 15px 7px 0; font-size:14px;}
#mobile_list {display:block;}
#mobile_list .result_list {padding:10px 0 0 0; font-size:18px;}
#mobile_list .result_list li {margin-top:10px; background:#fff; padding:20px 20px 15px 15px;}
#mobile_list .result_list li:first-child {margin-top:0;}
#mobile_list .result_list li.cate_1 {border-left:5px solid #444;}
#mobile_list .result_list li.cate_2 {border-left:5px solid #0842a5;}
#mobile_list .result_list li.cate_3 {border-left:5px solid #a35fb6;}
#mobile_list .result_list li.cate_4 {border-left:5px solid #0099a7;}
#mobile_list .result_list li.cate_5 {border-left:5px solid #ed7375;}
#mobile_list .result_list li.cate_6 {border-left:5px solid #a99065;}
#mobile_list .result_list li strong {padding:0 0 5px 0;}
#mobile_list .result_list li strong:before {display:none;}
#mobile_list .result_list li strong img {display:inline-block; vertical-align:top; margin:7px 0 0 5px;}
#mobile_list .result_list li ul {padding:0;}
#mobile_list .result_list li ul li {margin-top:0; font-size:15px; padding:0 0 0 10px;}
#mobile_list .result_list li.cate_1 ul li {background:url(../images/schedule/cate_bul_1.gif) no-repeat left 8px;}
#mobile_list .result_list li.cate_2 ul li {background:url(../images/schedule/cate_bul_2.gif) no-repeat left 8px;}
#mobile_list .result_list li.cate_3 ul li {background:url(../images/schedule/cate_bul_3.gif) no-repeat left 8px;}
#mobile_list .result_list li.cate_4 ul li {background:url(../images/schedule/cate_bul_4.gif) no-repeat left 8px;}
#mobile_list .result_list li.cate_5 ul li {background:url(../images/schedule/cate_bul_5.gif) no-repeat left 8px;}
#mobile_list .result_list li.cate_6 ul li {background:url(../images/schedule/cate_bul_6.gif) no-repeat left 8px;}
}


@media screen and (max-width: 840px){
#header {padding:12px 3%;}	
#header h1 {background-size:auto 40px; padding:5px 0 0 80px; font-size:22px; line-height:28px; height:35px; width:150px;}	
}


@media screen and (max-width: 640px){
#header h1 {background-size:auto 35px; padding:5px 0 0 70px; font-size:20px; line-height:26px; height:30px; width:135px;}	
.link_search {padding:0 0 15px 0; height:32px;}
.link_search a {width:32px; height:32px;}
.link_search p {font-size:25px; line-height:38px;}
.susi_table th {font-size:14px; line-height:14px; padding:10px 5px;}
.susi_table td {height:40px;}
.susi_table td span {font-size:14px; line-height:14px; height:26px;padding:14px 0 0 0;} 
.susi_table td span.on {width:34px; height:34px; line-height:37px; margin:3px auto;}
.cate_tip {margin:15px 0 0 0;}
#mobile_list .result_list {font-size:17px;}
#mobile_list .result_list li strong {font-size:17px;}
#mobile_list .result_list li ul li {font-size:15px;}


/* login */
.login .inner {width:88%; max-width:88%; position:absolute; left:6%; margin:-156px 0 0 0;}
.login .inner .box .input {padding:45px 10% 50px 10%;}
.login .inner .copy {font-size:13px; margin:20px 0 0 0;}
}


@media screen and (max-width: 480px){	
.link_search {height:28px;}
.link_search a {width:28px; height:28px;}
.link_search p {font-size:23px; line-height:33px;}
#mobile_list .result_list {font-size:16px;}
#mobile_list .result_list li ul li {font-size:14px; background-position:left 9px !important;}
#mobile_list .result_list li strong img {margin:6px 0 0 5px;}
}
