@charset "utf-8";

/* 
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Nanum Square', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif KR', serif;
 */

/* map */
[data-map="kakao"]{position:relative; width:100%; padding-bottom:43%;}
[data-map="kakao"]>.in{position:absolute; left:0; top:0; width:100%; height:100%;}
[data-map="address"]{padding:1em; font-size:1.1764em; background-color:#222;}
[data-map="address"]::after{content:""; display:block; clear:both;}
[data-map="address"]>p{position:relative; padding-left:1.4em; margin:0 !important; color:#fff;}
[data-map="address"]>p::before{content:""; display:block; position:absolute; left:0; top:0.2em; width:1.2em; height:1.2em; background-repeat:no-repeat; background-position:center center; background-size:contain;}
[data-map="address"]>p:nth-child(1){float:left;}
[data-map="address"]>p:nth-child(1)::before{background-image:url(../../../images/site/kor/content/map_icon_1.svg);}
[data-map="address"]>p:nth-child(2){float:right;}
[data-map="address"]>p:nth-child(2)::before{background-image:url(../../../images/site/kor/content/map_icon_2.svg);}

@media screen and (max-width: 900px) {
    [data-map="kakao"]{height:20em; padding-bottom:0;}
}
@media screen and (max-width: 600px) {
    [data-map="address"]>p{float:none !important;}
}
@media screen and (max-width: 400px) {
    [data-map="address"]{font-size:1em;}
}

/* 개인정보 수집 목적 */
[data-scroll="radio-group"]>.midd{padding:2.933em; background-color:#fafafb;}
[data-scroll="radio-group"]>.midd>.in{overflow:auto; max-height:24em;}
[data-scroll="radio-group"]>.midd>.in>.head{margin-bottom:2em;}
[data-scroll="radio-group"]>.midd>.in>.head>strong{display:block; letter-spacing:-0.5px; font-weight:500; font-size:1.066em; color:#444;}
[data-scroll="radio-group"]>.midd>.in>.head+.midd{margin-top:2em;}
[data-scroll="radio-group"]>.midd>.in .title{display:block; position:relative; padding-left:0.7em; font-weight:500; font-size:1.13334em; color:#444;}
[data-scroll="radio-group"]>.midd>.in .title::before{
    content:""; display:block; position:absolute; left:0; top:0.65em; width:0.4em; height:0.4em; background-color:#147a69; 
    -webkit-border-radius:50%; border-radius:50%;
}
[data-scroll="radio-group"]>.foot{padding:1em 2em; border:1px solid #EAEAEA; border-top:none; background-color:#edeff2;}
[data-scroll="radio-group"]>.foot::after{content:""; display:block; clear:both;}
[data-scroll="radio-group"]>.foot>strong,
[data-scroll="radio-group"]>.foot>div{margin:2px 0;}
[data-scroll="radio-group"]>.foot>strong{float:left; font-weight:500; color:#333;}
[data-scroll="radio-group"]>.foot>div{float:right;}
[data-scroll="radio-group"]>.foot+.foot{margin-top:1px;}

@media screen and (max-width: 500px) {
    [data-scroll="radio-group"]>.midd{padding:1.5em;}
    [data-scroll="radio-group"]>.midd>.in{max-height:14em;}
}


/* I-PIN */
[data-user="ipin-box"]{margin:3em 0;}
[data-user="ipin-box"]>ul{text-align:center;}
[data-user="ipin-box"]>ul::after{content:""; display:block; clear:both;}
[data-user="ipin-box"]>ul>li{display:inline-block; width:calc((100% - 1px - 10px - (2em * 2)) / 3); margin-right:2em; vertical-align:top;}
[data-user="ipin-box"]>ul>li>.in{
    display:block; padding:2.5em; text-align:center; border:1px solid #E0E0E0;
    -webkit-transition:border-color 0.2s linear, box-shadow 0.2s linear; transition:border-color 0.2s linear, box-shadow 0.2s linear;
}
[data-user="ipin-box"]>ul>li>.in>.head{display:block; font-weight:500; font-size:1.25em; color:#333;}
[data-user="ipin-box"]>ul>li>.in>.head:before{content:""; display:block; width:5em; height:5em; margin:0 auto 1.5em; background-repeat:no-repeat; background-position:center center; background-size:contain;}
[data-user="ipin-box"]>ul>li>.in>.midd{display:block; margin-top:0.66em; font-size:1em; color:#555;}
[data-user="ipin-box"]>ul>li>.in>.foot{
    display:inline-block; padding:0.8em 1.5em; margin-top:1.25em; vertical-align:top; color:#fff; background-color:#007966;
    -webkit-border-radius:0.25em; border-radius:0.25em;
}

[data-user="ipin-box"]>ul>li:nth-child(3){margin-right:0;}
[data-user="ipin-box"]>ul>li.icon-1>.in>.head:before{background-image:url(../../../images/site/kor/content/ipin_simbol_1.svg);}
[data-user="ipin-box"]>ul>li.icon-2>.in>.head:before{background-image:url(../../../images/site/kor/content/ipin_simbol_2.svg);}
[data-user="ipin-box"]>ul>li.icon-3>.in>.head:before{background-image:url(../../../images/site/kor/content/ipin_simbol_3.svg);}

[data-user="ipin-box"]>ul>li>a.in:hover{border-color:#20335B; -webkit-box-shadow:0 6px 8px rgba(26, 32, 44, 0.07); box-shadow:0 6px 8px rgba(26, 32, 44, 0.07);}

@media screen and (max-width: 1300px) {
    [data-user="ipin-box"]{font-size:0.8em;}
}
@media screen and (max-width: 700px) {
    [data-user="ipin-box"]{font-size:0.8em;}
    [data-user="ipin-box"]>ul>li{float:none; width:100%; margin-right:0;}
    [data-user="ipin-box"]>ul>li:nth-child(n+2){margin-top:2em;}
    [data-user="ipin-box"]>ul>li>.in{position:relative; padding-left:12em; text-align:left;}
    [data-user="ipin-box"]>ul>li>.in>.head:before{position:absolute; left:2.5em; top:2.5em;}
}
@media screen and (max-width: 400px) {
    [data-user="ipin-box"]>ul>li>.in>.foot{width:100%;}
    [data-user="ipin-box"]>ul>li>.in{padding:2em 2em 2em 8em;}
    [data-user="ipin-box"]>ul>li>.in>.head:before{left:2em; top:2em; width:3em; height:3em;}
}
@media screen and (max-width: 360px) {
    [data-user="ipin-box"]{font-size:0.8em;}
}


/* pdf */
[data-skin="pdf"]{font-size:0.666em;}
[data-skin="pdf"]>.head{display:flex; position:relative; padding-right:1.5em; background-color:#f6f6f6;}
[data-skin="pdf"]>.head>i{display:flex; align-items:center; justify-content:center; flex:0 0 12em; background-color:#1e9d29;}
[data-skin="pdf"]>.head>i::before{content:""; width:5.4em; height:3.9em; font-size:0.8em; background-image:url(../../../images/site/kor/layout/content.svg); background-position:0 -70em; background-repeat:no-repeat; background-size:100em auto;}
[data-skin="pdf"]>.head>i>strong{display:none; font-style:normal; font-size:1.5em; color:#fff;}
[data-skin="pdf"]>.head>div{display:flex; align-items:flex-start; justify-content:flex-start; flex-direction:column; flex:auto; width:100%; padding:1.5em; font-size:1.5em; color:#444;}
[data-skin="pdf"]>.head>div>.btn-group{display:flex; flex-direction:row; width:100%; font-size:0.666em;}
[data-skin="pdf"]>.head>div>*+.btn-group{margin-top:1em;}
[data-skin="pdf"]>.head>div>.btn-group>a{
    display:flex; align-items:center; justify-content:flex-start; height:4.5em; padding:0 2em; background-color:#fff;
    -webkit-border-radius:2.25em; border-radius:2.25em;
}
[data-skin="pdf"]>.head>div>.btn-group>a:not(:last-child){margin-right:1em;}
[data-skin="pdf"]>.head>div>.btn-group>a::before{content:""; width:2.4em; height:2.4em; font-size:1.8em; background-image:url(../../../images/site/kor/layout/content.svg); background-repeat:no-repeat; background-size:100em auto;}
[data-skin="pdf"]>.head>div>.btn-group>a.pdf::before{background-position:0 -55em;}
[data-skin="pdf"]>.head>div>.btn-group>a.hwp::before{background-position:-19.2em -55em;}
[data-skin="pdf"]>.head>div>.btn-group>a>span{line-height:1.2; font-size:1.5em; color:#888;}
[data-skin="pdf"]>.midd{position:relative; padding-left:37em; margin-top:4em;}
[data-skin="pdf"]>.midd>.pdf_menu{overflow:auto; position:absolute; left:0; top:0; width:37em; height:100%; border-top:2px solid #007a66;}
[data-skin="pdf"]>.midd>.pdf_menu>ul>li{border-bottom:1px solid #ddd;}
[data-skin="pdf"]>.midd>.pdf_menu>ul>li>a{display:block; padding:0.8em 0.5em; font-size:1.6em; color:#444;}
[data-skin="pdf"]>.midd>.pdf_menu>ul>li>a:hover{color:#007a66;}
[data-skin="pdf"]>.midd>.pdf_view{width:100%;}
[data-skin="pdf"]>.midd>.pdf_view iframe{min-height:800px;}

[data-skin="pdf-mobile"]{display:none; margin-top:2em;}
[data-skin="pdf-mobile"]>.head{display:flex; align-items:center; justify-content:center; height:2.666em; background-color:#007a66;}
[data-skin="pdf-mobile"]>.head>strong{color:#fff;}
[data-skin="pdf-mobile"]>.midd{display:flex; align-items:center; justify-content:center; flex-direction:column; padding:2.333em; background-color:#fafafb;}
[data-skin="pdf-mobile"]>.midd>p{position:relative; max-width:22em; padding-left:4em; color:#444;}
[data-skin="pdf-mobile"]>.midd>p::before{content:""; display:block; position:absolute; left:0; top:-0.2em; width:2.4em; height:2.4em; font-size:1.5em; background-image:url(../../../images/site/kor/layout/content.svg); background-position:-16.8em -41.6em; background-repeat:no-repeat; background-size:100em auto;}
[data-skin="pdf-mobile"]>.midd>p+div{margin-top:1.5em;}
@media screen and (max-width: 1024px) {
    [data-skin="pdf"]>.head{flex-direction:column; width:100%; padding:0;}
    [data-skin="pdf"]>.head>i{flex:0 0 4em;}
    [data-skin="pdf"]>.head>i::before{display:none;}
    [data-skin="pdf"]>.head>i>strong{display:block;}
    [data-skin="pdf"]>.head>div{height:100%; padding:0.5em 1em;}
    [data-skin="pdf"]>.head>div>p{display:none;}
    [data-skin="pdf"]>.head>div>.btn-group{flex-wrap:wrap; margin-top:0 !important;}
    [data-skin="pdf"]>.head>div>.btn-group>a{margin:0.5em 0;}
    [data-skin="pdf"]>.midd{padding-left:0;}
    [data-skin="pdf"]>.midd>.pdf_menu{display:none;}
}
@media screen and (max-width: 800px) {
    [data-skin="pdf"]>.midd{display:none;}
    [data-skin="pdf-mobile"]{display:block;}
}
@media screen and (max-width: 450px) {
    [data-skin="pdf"]>.head>div>.btn-group>a{width:100%; margin-right:0 !important;}
}


/* 프로그램리스트 */
.program-list>ul>li:nth-child(n+2){margin-top:3em;}
.program-list>ul>li>.head>strong{position:relative; padding-left:0.7em; font-weight:600; font-size:1.13334em; color:#444;}
.program-list>ul>li>.head>strong::before{
    content:""; display:block; position:absolute; left:0; top:0.4em; width:0.4em; height:0.4em; background-color:#147a69; 
    -webkit-border-radius:50%; border-radius:50%;
}
.program-list>ul>li>.midd{padding-left:1em; margin-top:0.5em;}
.program-list>ul>li>.foot{display:flex; justify-content:flex-start; align-items:flex-start; margin-top:1em;}
.program-list>ul>li>.foot>img{width:50%; padding:0 1em;}
@media screen and (max-width: 550px) {
    .program-list>ul>li>.foot{flex-direction:column;}
    .program-list>ul>li>.foot>img{width:100%; padding:0 1em;}
    .program-list>ul>li>.foot>img:nth-child(n+2){padding-top:1em;}
}


/* 신청조회 */
[data-skin="user-data-form"]{display:flex; flex-direction:column; align-items:center; padding:2em; background-color:#fafafb;}
[data-skin="user-data-form"]>.head,
[data-skin="user-data-form"]>.midd,
[data-skin="user-data-form"]>.foot{padding:1em 0;}
[data-skin="user-data-form"]>.head{width:100%; text-align:center; font-weight:500; color:#444;}
[data-skin="user-data-form"]>.midd{max-width:24em;}
[data-skin="user-data-form"]>.midd>ul>li{display:flex; align-items:flex-start;}
[data-skin="user-data-form"]>.midd>ul>li>strong{display:flex; align-items:center; justify-content:flex-end; width:5em; height:2.8571em; padding-right:1.3em; margin:2px 0; font-weight:400;}
[data-skin="user-data-form"]>.midd>ul>li>div{width:100%;}
[data-skin="user-data-form"]>.foot{width:100%; text-align:center;}
@media screen and (max-width: 400px) {
    [data-skin="user-data-form"]{padding:1em;}
}


/* 홍보동영상 */
[data-movie="youtube"]{display:flex; flex-direction:column;}
[data-movie="youtube"]>.head{position:relative; padding-top:56.2%; background-color:#000;}
[data-movie="youtube"]>.head>iframe{position:absolute; left:0; top:0; width:100%; height:100%;}
[data-movie="youtube"]>.midd{padding:2.933em; background-color:#fafafb;}
[data-movie="youtube"]>.midd>.in{overflow:auto; max-height:30em;}
[data-movie="youtube"]>.midd>.in>strong{display:block; font-size:1.1em; font-weight:500; color:#222;}
@media screen and (max-width: 500px) {
    [data-movie="youtube"]>.midd{padding:1.5em;}
}


/* 사이트맵 */
#sitemap_content{overflow:auto; width:calc(100% + 6em); height:100%; margin-left:-3em; font-size:0.666em;}
#sitemap_content>ul{display:flex; flex-wrap:wrap;}
#sitemap_content>ul>li{width:25%; padding:0 3em 7em;}

#sitemap_content>ul>li>div>ul>li a{position:relative; display:block;}
#sitemap_content>ul>li>div>ul>li a::after{content:""; position:absolute; right:2em;}

#sitemap_content>ul>li>a{color:#007a66;}
#sitemap_content>ul>li>a>span{font-weight:600; font-size:2.5em;}
#sitemap_content>ul>li>div{margin-top:1em; border-top:2px solid #007a66;}
#sitemap_content>ul>li>div>ul>li>a{position:relative; padding:2em 0; text-decoration:none; color:#444;}
#sitemap_content>ul>li>div>ul>li>a::before{
    content:""; display:block; position:absolute; left:0; bottom:0; width:100%; height:1px; background-color:#ddd;
    -webkit-transition:all 0.3s linear; transition:all 0.3s linear;
}
#sitemap_content>ul>li>div>ul>li>a::after{
    display:none; opacity:0.2; top:calc(50% - 0.7em); right:0.5em; width:1.4em; height:1.4em; background-image:url(../../../images/site/kor/layout/layout.svg); background-repeat:no-repeat; background-position:82.4em 0; background-size:100em auto;
    -webkit-transition:background-position 0.3s linear; transition:background-position 0.3s linear;
}
#sitemap_content>ul>li>div>ul>li>a.child::after,
#sitemap_content>ul>li>div>ul>li>a[target="_blank"]::after{display:block;}
#sitemap_content>ul>li>div>ul>li>a>span{font-weight:500; font-size:1.6em;}
#sitemap_content>ul>li>div>ul>li>a.ov,
#sitemap_content>ul>li>div>ul>li>a:hover{color:#007a66;}
#sitemap_content>ul>li>div>ul>li>a.ov::before,
#sitemap_content>ul>li>div>ul>li>a:hover::before{height:2px; background-color:#007a66;}
#sitemap_content>ul>li>div>ul>li>a.ov>span,
#sitemap_content>ul>li>div>ul>li>a:hover>span{font-weight:600;}

#sitemap_content>ul>li>div>ul>li>a[target="_blank"]::after{top:calc(50% - 0.9em); font-size:1.3em;}
#sitemap_content>ul>li>div>ul>li>a[target="_blank"]::after{background-position:-82.4em -2.4em;}
#sitemap_content>ul>li>div>ul>li>a[target="_blank"].ov::after,
#sitemap_content>ul>li>div>ul>li>a[target="_blank"]:hover::after{opacity:1; background-position:-80em -2.4em;}

#sitemap_content>ul>li>div>ul>li>div>ul{padding:1.4em 2em; background-color:#f6f6f6; box-sizing:border-box;}
#sitemap_content>ul>li>div>ul>li>div>ul>li{margin-top:0;}
#sitemap_content>ul>li>div>ul>li>div>ul>li:nth-child(n+2){margin-top:0.5em;}
#sitemap_content>ul>li>div>ul>li>div>ul>li>a{padding:0 0 0 1em; color:#666;}
#sitemap_content>ul>li>div>ul>li>div>ul>li>a.child,
#sitemap_content>ul>li>div>ul>li>div>ul>li>a[target="_blank"]{padding-right:3.7em;}
#sitemap_content>ul>li>div>ul>li>div>ul>li>a>span{position:relative; font-size:1.5em; color:#666;}
#sitemap_content>ul>li>div>ul>li>div>ul>li>a.ov>span,
#sitemap_content>ul>li>div>ul>li>div>ul>li>a:hover>span{position:relative; font-weight:500; color:#007a66;}
#sitemap_content>ul>li>div>ul>li>div>ul>li>a:before{
    content:""; display:block; position:absolute; left:0; top:1em; width:6px; height:2px; background-color:#666;
}
#sitemap_content>ul>li>div>ul>li>div>ul>li>a.ov:before,
#sitemap_content>ul>li>div>ul>li>div>ul>li>a:hover:before{background-color:#007a66;}
@media screen and (max-width: 900px) {
    #sitemap_content>ul>li{width:33.3%;}
}
@media screen and (max-width: 600px) {
    #sitemap_content>ul>li{width:50%;}
}
@media screen and (max-width: 500px) {
    #sitemap_content{font-size:0.5em;}
}


/* 신청기간이 아님 */
[data-no-add]{display:flex; align-items:center; justify-content:center; padding:6.5em; font-size:0.666em; border:2px solid #007a66; background-image:url(../../../images/site/kor/content/p.jpg);}
[data-no-add]::after{content:""; width:17.5em; height:19.6em; background-image:url(../../../images/site/kor/layout/content.svg); background-position:-30em -70em; background-repeat:no-repeat; background-size:100em auto;}
[data-no-add]>.in{display:flex; flex-direction:column; margin-right:4em;}
[data-no-add]>.in>.head{display:flex;}
[data-no-add]>.in>.head::before{content:""; width:4em; height:4em; background-image:url(../../../images/site/kor/layout/content.svg); background-position:0 -80em; background-repeat:no-repeat; background-size:100em auto;}
[data-no-add]>.in>.head>strong{line-height:1.2; padding-top:0.1em; font-size:2.6em; color:#007a66;}
[data-no-add]>.in>.midd{margin:0.5em 0 0 2.5em; font-size:1.6em; color:#444;}
@media screen and (max-width: 750px) {
    [data-no-add]::after{display:none;}
}
@media screen and (max-width: 600px) {
    [data-no-add]{font-size:0.5em;}
}
@media screen and (max-width: 450px) {
    [data-no-add]{padding:4em 3em;}
}