@charset "utf-8";
/* visual */
.user#main #visual{background-image:url(../../../images/site/kor/main/visual_1.jpg);}
.user#main #visual::after{background-image:url(../../../images/site/kor/main/visual_cover.png);}
.user#main #visual>.midd>.move>ul>li>a::before{background-image:url(../../../images/site/kor/main/main.svg);}
.user#main #visual>.midd>.move>ul>li>a::after{background-image:url(../../../images/site/kor/main/main.svg);}
.user#main #visual>.midd>.controll [class*="btn-"]::before{background-image:url(../../../images/site/kor/main/main.svg);}
.user#main #visual .kakao-api>span::after{background-image:url(../../../images/site/kor/main/main.svg);}
.user#main #visual .kakao-api>span::before{background-image:url(../../../images/site/kor/main/main.svg);}

/* line-1 */
.user#main #container .line-1::before{background-image:url(../../../images/site/kor/main/main.svg);}

/* 모집요강 */
.user#main #container .line-1 .item-1>.head>i>span:nth-child(1){background-image:url(../../../images/site/kor/main/insa-1.svg);}
.user#main #container .line-1 .item-1>.head>i>span:nth-child(2){background-image:url(../../../images/site/kor/main/insa-2.svg);}
.user#main #container .line-1 .item-1>.head>i>span:nth-child(3){background-image:url(../../../images/site/kor/main/insa-3.svg);}
.user#main #container .line-1 .item-1>.midd>div:nth-child(1)>ul>li>a::before{background-image:url(../../../images/site/kor/main/main.svg);}
.user#main #container .line-1 .item-1>.midd>div:nth-child(2)>ul>li>a::before{background-image:url(../../../images/site/kor/main/main.svg);}

/* 공지사항 */
.user#main #container .line-1 .item-2 .notice>ul>li>a.more::before{background-image:url(../../../images/site/kor/main/main.svg);}


/* POPUPZONE */
.user#main #container .line-1 .item-3>.midd>.controll>a::before{background-image:url(../../../images/site/kor/main/main.svg);}

/* line 2 */
.user#main #container .line-2::before{background-image:url(../../../images/site/kor/main/main.svg);}
.user#main #container .line-2::after{background-image:url(../../../images/site/kor/main/life_bg.jpg);}

/* 홍보영상 */
.user#main #container .line-2 .item-1>.head .title::after{background-image:url(../../../images/site/kor/main/main.svg);}
.user#main #container .line-2 .item-1>.midd>a::after{background-image:url(../../../images/site/kor/main/main.svg);}

/* CAMPUS LIFE */
.user#main #container .line-2 .item-2::after{background-image:url(../../../images/site/kor/main/main.svg);}
.user#main #container .line-2 .item-2>.head .title::after{background-image:url(../../../images/site/kor/main/main.svg);}
.user#main #container .line-2 .item-2>.midd>ul>li>a::after{background-image:url(../../../images/site/kor/main/main.svg);}
@media screen and (max-width: 1000px) {
    .user#main #container .line-2 .item-2::before{background-image:url(../../../images/site/kor/main/life_bg.jpg);}
}

/* line 3 */
.user#main #container .line-3{background-image:url(../../../images/site/kor/main/line-3_bg.jpg);}
.user#main #container .line-3>.layout>.head>span{background-image:url(../../../images/site/kor/main/main.svg);}
