@charset "utf-8";

/* body, th, td, input, select, textarea{color:#5b5b5b;}
a:link,
a:hover,
a:visited{text-decoration:none;} */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Heading

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
h4,h5,h6{position:relative; line-height:1.3; letter-spacing:0; font-weight:500;}
h4{margin:0; font-weight:600; font-size:1.466em; color:#444444;}
h5{margin:0; font-weight:600; font-size:1.266em; color:#007966;}
h6{margin:0; font-weight:500; font-size:1.133em; color:#444;}
h4>span,
h5>span,
h6>span{padding-left:0.5em; font-weight:400; font-size:0.7em; color:#555;}

h4+*{margin-top:0.6em !important;}
h5+*{margin-top:0.45em !important;}
h6+*{margin-top:0.5em !important;}

*+h4{margin-top:2em !important;}
*+h5{margin-top:1.764em !important;}
*+h6{margin-top:1.5625em !important;}

h4+h4{margin-top:0.5em !important;}
h5+h5{margin-top:0.5em !important;}
h6+h6{margin-top:0.5em !important;}

h4+h5{margin-top:1em !important;}
h5+h6{margin-top:1em !important;}

h4+.table_scroll,
h5+.table_scroll,
h6+.table_scroll{margin-top:0 !important;}

#txt p{margin:0.2em 0;}

h4:nth-child(1),
h5:nth-child(1),
h6:nth-child(1){margin-top:0;}

h4 + h4,
h4 + h5,
h4 + h6,
h5 + h5,
h5 + h5,
h5 + h6,
h6 + h6,
h6 + h5,
h6 + h6{margin-top:0;}

h4 .caption,
h5 .caption,
h6 .caption{position:absolute; right:0; bottom:0; font-size:1.5rem;}


.u{text-decoration:underline;}


.red{color:#c24f4f !important;}
.blue{color:#176dd4 !important;}

[data-text-align="left"]{text-align:left;}
[data-text-align="center"]{text-align:center;}
[data-text-align="right"]{text-align:right;}

[data-point="1"]{color:#007a66 !important;}
[data-point="2"]{color:#c24f4f !important;}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	list

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-list]{counter-reset:count; margin:0 0 0.6em;}
/* [data-list]+[data-list]{margin-top:-0.4em;} */
[data-list]>li{position:relative; padding-left:1em; counter-increment:count; color:#666;}
[data-list]>li strong{font-weight:500;}
[data-list]>li>p{margin-bottom:0.5em;}
[data-list]>li>ul>li{color:#888;}
[data-list="1"]>li::before{
	content:""; display:block; position:absolute; left:0.5em; top:1em; width:4px; height:4px; font-size:0.666em; background-color:#666;
	-webkit-border-radius:50%; border-radius:50%;
}
[data-list="2"]>li::before{content:""; display:block; position:absolute; left:0.5em; top:1.2em; width:4px; height:1px; font-size:0.666em; background-color:#666;}
[data-list="3"]>li::before{
	content:""; display:block; position:absolute; left:0.3em; top:1em; width:5px; height:5px; font-size:0.666em; border:1px solid #666; border-bottom-color:transparent; border-left-color:transparent;
	-webkit-transform:rotate(45deg); transform:rotate(45deg);
}

[data-list] li .table{margin:0.6em 0 1em 0;}
[data-list] li:last-child .table{margin:0.6em 0 0.5em 0;}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Box

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-box]{
	padding:0.9em 1.2em; margin:0.4em 0 0.5em; border:1px solid #ccc;
	border-radius:0.8em;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Tab

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-tab]{
	overflow:hidden; position:relative; margin-bottom:3em; font-size:0.5882em;
	-webkit-transition:all 0.3s linear;
	transition:all 0.3s linear;
}
[data-tab]>.in{position:relative;}

[data-tab]>.in>ul{
	overflow:hidden; display:table; table-layout:fixed; width:100%; border:1px solid #d5dfdd;
}
[data-tab]>.in>ul>li{display:table-cell; position:relative; height:5em; vertical-align:top;}
[data-tab]>.in>ul>li:not(:last-child):after{content:""; display:block; position:absolute; right:0; top:0; z-index:-1; width:1px; height:100%; background-color:#d5dfdd;}
[data-tab]>.in>ul>li>strong,
[data-tab]>.in>ul>li>span{display:block; width:100%; height:100%;}
[data-tab]>.in>ul>li>strong>a,
[data-tab]>.in>ul>li>span>a{display:table; table-layout:fixed; position:relative; z-index:0; width:100%; height:100%;}
[data-tab]>.in>ul>li>span>a:before,
[data-tab]>.in>ul>li>strong>a:before{content:""; display:block; position:absolute; left:0; top:0; z-index:0; width:100%; height:100%; background-color:#007a66;}
[data-tab]>.in>ul>li>span>a:before{background-color:transparent;}
[data-tab]>.in>ul>li>strong>a>span,
[data-tab]>.in>ul>li>span>a>span{display:table-cell; position:relative; z-index:10; width:100%; text-align:center; vertical-align:middle; font-weight:500; font-size:1.6em; color:#666 !important;}
[data-tab]>.in>ul>li>strong>a>span{color:#fff !important;}
[data-tab]>.in>ul>li a[target="_blank"]{text-decoration:none !important;}
[data-tab]>.in>ul>li a[target="_blank"]:after{display:none !important;}
[data-tab]>.in>ul>li a[target="_blank"]>span:after{content:""; display:inline-block; width:1.25em; height:1.25em; margin:0.2em 0 0 0.2em; vertical-align:top; background-repeat:no-repeat; background-position:center center; background-size:contain;}


[data-tab="2"]{margin-bottom:0;}
[data-tab="2"]>.in>ul{
	border:none;
	-webkit-border-radius:0; border-radius:0;
}
[data-tab="2"]>.in>ul>li{background-color:#EBEBEB;}
[data-tab="2"]>.in>ul>li>strong>a>span{color:#1768C7 !important;}
[data-tab="2"]>.in>ul>li>strong>a:before{color:#1768C7; background-color:#fff;}

[data-tab="2"]>.in>ul>li>span>a:focus:before,
[data-tab="2"]>.in>ul>li>strong>a:focus:before{border:2px dashed #ff6600;}


[data-tab="etc"]>.in>ul{width:calc(100% + (0.588em * 2)); margin-left:-0.588em; border-spacing:0.588em 0; border:none;}
[data-tab="etc"]>.in>ul>li:not(:last-child):after{display:none;}
[data-tab="etc"]>.in>ul>li>strong>a,
[data-tab="etc"]>.in>ul>li>span>a{
	display:block; height:auto; padding:2em 0.5em;
	-webkit-border-radius:0.4em; border-radius:0.4em;
}
[data-tab="etc"]>.in>ul>li>strong>a{background-color:#4493F1;}
[data-tab="etc"]>.in>ul>li>span>a{background-color:#F5F5F5;}
[data-tab="etc"]>.in>ul>li>strong>a:before,
[data-tab="etc"]>.in>ul>li>span>a:before{content:""; display:block; position:relative; left:auto; right:auto; top:auto; bottom:auto; width:4.1176em; height:2.9411em; margin:0 auto; background-color:transparent !important; background-repeat:no-repeat; background-position:center; background-size:contain;}
[data-tab="etc"]>.in>ul>li>strong>a>span,
[data-tab="etc"]>.in>ul>li>span>a>span{display:block; margin-top:1em; font-size:1em;}


[data-tab-view]{display:none;}
[data-tab][data-view="1"] ~ [data-tab-view="1"],
[data-tab][data-view="2"] ~ [data-tab-view="2"],
[data-tab][data-view="3"] ~ [data-tab-view="3"],
[data-tab][data-view="4"] ~ [data-tab-view="4"],
[data-tab][data-view="5"] ~ [data-tab-view="5"],
[data-tab][data-view="6"] ~ [data-tab-view="6"],
[data-tab][data-view="7"] ~ [data-tab-view="7"],
[data-tab][data-view="8"] ~ [data-tab-view="8"],
[data-tab][data-view="9"] ~ [data-tab-view="9"],
[data-tab][data-view="10"] ~ [data-tab-view="10"],
[data-tab][data-view="11"] ~ [data-tab-view="11"],
[data-tab][data-view="12"] ~ [data-tab-view="12"],
[data-tab][data-view="13"] ~ [data-tab-view="13"],
[data-tab][data-view="14"] ~ [data-tab-view="14"],
[data-tab][data-view="15"] ~ [data-tab-view="15"],
[data-tab][data-view="16"] ~ [data-tab-view="16"],
[data-tab][data-view="17"] ~ [data-tab-view="17"],
[data-tab][data-view="18"] ~ [data-tab-view="18"],
[data-tab][data-view="19"] ~ [data-tab-view="19"],
[data-tab][data-view="20"] ~ [data-tab-view="20"]{display:block;}

[data-tab]:not(:first-child){margin-top:3em;}

@media screen and (max-width: 900px) {
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"]){
		overflow:auto; height:auto !important; padding:0; margin-bottom:2em; border:none;
		-webkit-border-radius:0;
		border-radius:0;
	}
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"]):after{
		content:""; display:block; position:absolute; right:0; bottom:0; width:5em; height:100%; background: linear-gradient(90deg, rgba(255, 255, 255, 0) 23.48%, #FFFFFF 87.12%);
	}
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul{
		overflow-x:auto; overflow-y:hidden; white-space:nowrap; display:block; padding-bottom:1em; border:none;
		-webkit-border-radius:0;
		border-radius:0;
	}
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li{float:none; display:inline-block; width:auto; line-height:3em; margin:0 0 0 0.5em !important; vertical-align:top; border:none;}
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li:before, 
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li:after{display:none !important;}
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li:nth-child(1){margin-left:0 !important;}
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li:nth-child(n+7){margin-top:0;}
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li:last-child{padding-right:3em;}
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li>strong>a,
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li>span>a{
		display:flex;align-items: center;justify-content: center; min-width:10em; height:5em; padding:0 2em; border:1px solid #d1d1d1;
		-webkit-border-radius:0.4em;
		border-radius:0.4em;
	}
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li>span>a:before{content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%;}
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li>strong>a>span,
	[data-tab]:not([data-tab="2"]):not([data-tab="etc"])>.in>ul>li>span>a>span{display:block;}


	[data-tab="etc"]{font-size:0.9em;}
	[data-tab="etc"]>.in>ul,
	[data-tab="etc"]>.in>ul>li{display:block;}
	[data-tab="etc"]>.in>ul{width:100%; margin-left:0; border-spacing:0;}
	[data-tab="etc"]>.in>ul>li{float:left; width:calc((100% - 1px - (0.5em * 3)) / 4); height:auto; margin-right:0.5em;}
	[data-tab="etc"]>.in>ul>li:nth-child(4n+1){clear:both;}
	[data-tab="etc"]>.in>ul>li:nth-child(4n+4){margin-right:0;}
	[data-tab="etc"]>.in>ul>li:nth-child(n+5){margin-top:0.5em;}
}
@media screen and (max-width: 600px) {
	[data-tab="etc"]{font-size:0.8em;}
	[data-tab="etc"]>.in>ul>li>span>a,
	[data-tab="etc"]>.in>ul>li>strong>a{padding:1em 0.4em;}
	[data-tab="etc"]>.in>ul>li>strong>a>span,
	[data-tab="etc"]>.in>ul>li>span>a>span{margin-top:0.4em;}
}
@media screen and (max-width: 500px) {
	[data-tab="etc"]>.in>ul>li>strong>a:before,
	[data-tab="etc"]>.in>ul>li>span>a:before{height:2.2em;}
	[data-tab="etc"]>.in>ul>li{width:calc((100% - 1px - (0.5em * 2)) / 3);}
	[data-tab="etc"]>.in>ul>li:nth-child(4n+1){clear:none;}
	[data-tab="etc"]>.in>ul>li:nth-child(4n+4){margin-right:0.5em;}
	[data-tab="etc"]>.in>ul>li:nth-child(3n+1){clear:both;}
	[data-tab="etc"]>.in>ul>li:nth-child(3n+3){margin-right:0;}
	[data-tab="etc"]>.in>ul>li:nth-child(n+4){margin-top:0.5em;}
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Button

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-btn]{
	display:inline-flex; align-items:center; justify-content:center; height:4em; margin:1px 0; vertical-align:middle; font-size:0.666em; border:1px solid #1768C7; color:#fff; background-color:#1768C7;
	-webkit-border-radius:0.4em; border-radius:0.4em;
	
	-webkit-transition:border-color 0.2s linear, background-color 0.2s linear; transition:border-color 0.2s linear, background-color 0.2s linear;
}
[data-btn]>span{
	overflow:hidden; display:block; position:relative; width:100%; line-height:1.2; padding:0 1.2em; text-align:center; font-size:1.5em; 
}

[data-btn][data-size="m"]{height:2.9em;}
[data-btn][data-size="m"]>span{padding:0 0.8em;}

[data-btn][data-size="s"]{height:2.4em;}
[data-btn][data-size="s"]>span{padding:0 0.6em; font-size:1.4em;}

/* 
[data-btn][data-size="m"]{font-size:0.666em;}
[data-btn][data-size="m"]>span{font-size:1.5em;}
[data-btn][data-size="s"]{font-size:0.666em;}
[data-btn][data-size="s"]>span{font-size:1.5em;}

.board_view [data-btn]{font-size:0.545em;}
.board_view [data-btn][data-size="m"]{font-size:0.46em;}
.board_view [data-btn][data-size="s"]{font-size:0.35em;} */

[data-btn="1"]{border-color:#007A66; background-color:#007A66;}
a[data-btn="1"]:hover{border-color:#025b4c; background-color:#025b4c;}
[data-btn="1"][data-color="1"]{border-color:#1e9d28; background-color:#1e9d28;}
a[data-btn="1"][data-color="1"]:hover{border-color:#12811b; background-color:#12811b;}
[data-btn="1"][data-color="2"]{border-color:#898989; background-color:#898989;}
a[data-btn="1"][data-color="2"]:hover{border-color:#6c6c6c; background-color:#6c6c6c;}
[data-btn="1"][data-color="3"]{border-color:#3587b5; background-color:#3587b5;}
a[data-btn="1"][data-color="3"]:hover{border-color:#286a8f; background-color:#286a8f;}
[data-btn="1"][data-color="4"]{border-color:#df3e3e; background-color:#df3e3e;}
a[data-btn="1"][data-color="4"]:hover{border-color:#c11b1b; background-color:#c11b1b;}
[data-btn="1"][data-color="5"]{border-color:#007966; background-color:#007966;}
a[data-btn="1"][data-color="5"]:hover{border-color:#005F50; background-color:#005F50;}

[data-btn="2"]{border-color:#ddd; color:#555; background-color:#fff;}
a[data-btn="2"]:hover{border-color:#007A66; color:#fff; background-color:#007A66;}
[data-btn="2"][data-color="1"]{border-color:#1e9d28; color:#1e9d28; background-color:#fff;}
a[data-btn="2"][data-color="1"]:hover{border-color:#1e9d28; color:#fff; background-color:#1e9d28;}
[data-btn="2"][data-color="2"]{border-color:#898989; color:#898989; background-color:#fff;}
a[data-btn="2"][data-color="2"]:hover{border-color:#6c6c6c; color:#fff; background-color:#6c6c6c;}
[data-btn="2"][data-color="3"]{border-color:#3587b5; color:#3587b5; background-color:#fff;}
a[data-btn="2"][data-color="3"]:hover{border-color:#286a8f; color:#fff; background-color:#286a8f;}
[data-btn="2"][data-color="4"]{border-color:#df3e3e; color:#df3e3e; background-color:#fff;}
a[data-btn="2"][data-color="4"]:hover{border-color:#c11b1b; color:#fff; background-color:#c11b1b;}
[data-btn="2"][data-color="5"]{border-color:#007966; color:#007966; background-color:#fff;}
a[data-btn="2"][data-color="5"]:hover{border-color:#005F50; color:#fff; background-color:#005F50;}

[data-btn][data-icon]>span::before,
[data-btn][data-icon]>span::after{content:""; display:none; position:absolute; top:calc(50% - 1.2em); width:2.4em; height:2.4em; font-size:0.625em; background-repeat:no-repeat; background-size:100em auto;}
[data-btn][data-icon]>span::before{left:0.8em;}
[data-btn][data-icon]>span::after{right:0.8em;}
[data-btn][data-icon][data-size="s"]>span::before{left:0.4em;}
[data-btn][data-icon][data-size="s"]>span::after{right:0.4em;}
[data-btn][data-icon][data-align="left"]>span{padding-right:2.4em; text-align:left;}
[data-btn][data-icon][data-align="left"]>span::after{display:block;}
[data-btn][data-icon][data-align="left"][data-size="s"]>span{padding-right:2em;}
[data-btn][data-icon]:not([data-align])>span,
[data-btn][data-icon][data-align="right"]>span{padding-left:2.4em; text-align:left;}
[data-btn][data-icon]:not([data-align])>span::before,
[data-btn][data-icon][data-align="right"]>span::before{display:block;}
[data-btn][data-icon][data-size="s"]:not([data-align])>span,
[data-btn][data-icon][data-align="right"][data-size="s"]>span{padding-left:2em;}
[data-btn][data-icon][data-align="center"]{min-width:4em;}
[data-btn][data-icon][data-align="center"]>span{padding-left:0; padding-right:0; text-align:left; text-indent:-1000px;}
[data-btn][data-icon][data-align="center"]>span::before{display:block; left:calc(50% - 1.2em);}

[data-btn][data-icon][data-align="center"][data-size="m"]{min-width:2.9em;}
[data-btn][data-icon][data-align="center"][data-size="s"]{min-width:2.4em;}


[data-btn]>span::before,
[data-btn]>span::after{background-position:0 -14.4em;}
[data-btn][data-icon="1"]>span::before,
[data-btn][data-icon="1"]>span::after{background-position:0 -2.4em;}
[data-btn][data-icon="2"]>span::before,
[data-btn][data-icon="2"]>span::after{background-position:0 -2.4em; -webkit-transform:rotate(90deg); transform:rotate(90deg);}
[data-btn][data-icon="3"]>span::before,
[data-btn][data-icon="3"]>span::after{background-position:0 -2.4em; -webkit-transform:rotate(180deg); transform:rotate(180deg);}
[data-btn][data-icon="4"]>span::before,
[data-btn][data-icon="4"]>span::after{background-position:0 -2.4em; -webkit-transform:rotate(270deg); transform:rotate(270deg);}
[data-btn][data-icon="5"]>span::before,
[data-btn][data-icon="5"]>span::after{background-position:-2.4em -2.4em;}
[data-btn][data-icon="6"]>span::before,
[data-btn][data-icon="6"]>span::after{background-position:-4.8em -2.4em;}
[data-btn][data-icon="7"]>span::before,
[data-btn][data-icon="7"]>span::after{background-position:-7.2em -2.4em;}

[data-btn]:hover>span::before,
[data-btn]:hover>span::after{background-position:0 -14.4em !important;}
[data-btn][data-icon="1"]:hover>span::before,
[data-btn][data-icon="1"]:hover>span::after{background-position:0 -2.4em !important;}
[data-btn][data-icon="2"]:hover>span::before,
[data-btn][data-icon="2"]:hover>span::after{background-position:0 -2.4em !important;}
[data-btn][data-icon="3"]:hover>span::before,
[data-btn][data-icon="3"]:hover>span::after{background-position:0 -2.4em !important;}
[data-btn][data-icon="4"]:hover>span::before,
[data-btn][data-icon="4"]:hover>span::after{background-position:0 -2.4em !important;}
[data-btn][data-icon="5"]:hover>span::before,
[data-btn][data-icon="5"]:hover>span::after{background-position:-2.4em -2.4em !important;}
[data-btn][data-icon="6"]:hover>span::before,
[data-btn][data-icon="6"]:hover>span::after{background-position:-4.8em -2.4em !important;}
[data-btn][data-icon="7"]:hover>span::before,
[data-btn][data-icon="7"]:hover>span::after{background-position:-7.2em -2.4em !important;}

[data-btn="2"][data-icon="1"]>span::before,
[data-btn="2"][data-icon="1"]>span::after{background-position:0 -14.4em;}
[data-btn="2"][data-icon="1"][data-color="1"]>span::before,
[data-btn="2"][data-icon="1"][data-color="1"]>span::after{background-position:0 -4.8em;}
[data-btn="2"][data-icon="1"][data-color="2"]>span::before,
[data-btn="2"][data-icon="1"][data-color="2"]>span::after{background-position:0 -7.2em;}
[data-btn="2"][data-icon="1"][data-color="3"]>span::before,
[data-btn="2"][data-icon="1"][data-color="3"]>span::after{background-position:0 -9.6em;}
[data-btn="2"][data-icon="1"][data-color="4"]>span::before,
[data-btn="2"][data-icon="1"][data-color="4"]>span::after{background-position:0 -12em;}
[data-btn="2"][data-icon="1"][data-color="5"]>span::before,
[data-btn="2"][data-icon="1"][data-color="5"]>span::after{background-position:0 -14.4em;}

[data-btn="2"][data-icon="2"]>span::before,
[data-btn="2"][data-icon="2"]>span::after{background-position:0 -14.4em;}
[data-btn="2"][data-icon="2"][data-color="1"]>span::before,
[data-btn="2"][data-icon="2"][data-color="1"]>span::after{background-position:0 -4.8em;}
[data-btn="2"][data-icon="2"][data-color="2"]>span::before,
[data-btn="2"][data-icon="2"][data-color="2"]>span::after{background-position:0 -7.2em;}
[data-btn="2"][data-icon="2"][data-color="3"]>span::before,
[data-btn="2"][data-icon="2"][data-color="3"]>span::after{background-position:0 -9.6em;}
[data-btn="2"][data-icon="2"][data-color="4"]>span::before,
[data-btn="2"][data-icon="2"][data-color="4"]>span::after{background-position:0 -12em;}
[data-btn="2"][data-icon="2"][data-color="5"]>span::before,
[data-btn="2"][data-icon="2"][data-color="5"]>span::after{background-position:0 -14.4em;}

[data-btn="2"][data-icon="3"]>span::before,
[data-btn="2"][data-icon="3"]>span::after{background-position:0 -14.4em;}
[data-btn="2"][data-icon="3"][data-color="1"]>span::before,
[data-btn="2"][data-icon="3"][data-color="1"]>span::after{background-position:0 -4.8em;}
[data-btn="2"][data-icon="3"][data-color="2"]>span::before,
[data-btn="2"][data-icon="3"][data-color="2"]>span::after{background-position:0 -7.2em;}
[data-btn="2"][data-icon="3"][data-color="3"]>span::before,
[data-btn="2"][data-icon="3"][data-color="3"]>span::after{background-position:0 -9.6em;}
[data-btn="2"][data-icon="3"][data-color="4"]>span::before,
[data-btn="2"][data-icon="3"][data-color="4"]>span::after{background-position:0 -12em;}
[data-btn="2"][data-icon="3"][data-color="5"]>span::before,
[data-btn="2"][data-icon="3"][data-color="5"]>span::after{background-position:0 -14.4em;}

[data-btn="2"][data-icon="4"]>span::before,
[data-btn="2"][data-icon="4"]>span::after{background-position:0 -14.4em;}
[data-btn="2"][data-icon="4"][data-color="1"]>span::before,
[data-btn="2"][data-icon="4"][data-color="1"]>span::after{background-position:0 -4.8em;}
[data-btn="2"][data-icon="4"][data-color="2"]>span::before,
[data-btn="2"][data-icon="4"][data-color="2"]>span::after{background-position:0 -7.2em;}
[data-btn="2"][data-icon="4"][data-color="3"]>span::before,
[data-btn="2"][data-icon="4"][data-color="3"]>span::after{background-position:0 -9.6em;}
[data-btn="2"][data-icon="4"][data-color="4"]>span::before,
[data-btn="2"][data-icon="4"][data-color="4"]>span::after{background-position:0 -12em;}
[data-btn="2"][data-icon="4"][data-color="5"]>span::before,
[data-btn="2"][data-icon="4"][data-color="5"]>span::after{background-position:0 -12em;}

[data-btn="2"][data-icon="5"]>span::before,
[data-btn="2"][data-icon="5"]>span::after{background-position:-2.4em -14.4em;}
[data-btn="2"][data-icon="5"][data-color="1"]>span::before,
[data-btn="2"][data-icon="5"][data-color="1"]>span::after{background-position:-2.4em -4.8em;}
[data-btn="2"][data-icon="5"][data-color="2"]>span::before,
[data-btn="2"][data-icon="5"][data-color="2"]>span::after{background-position:-2.4em -7.2em;}
[data-btn="2"][data-icon="5"][data-color="3"]>span::before,
[data-btn="2"][data-icon="5"][data-color="3"]>span::after{background-position:-2.4em -9.6em;}
[data-btn="2"][data-icon="5"][data-color="4"]>span::before,
[data-btn="2"][data-icon="5"][data-color="4"]>span::after{background-position:-2.4em -12em;}
[data-btn="2"][data-icon="5"][data-color="5"]>span::before,
[data-btn="2"][data-icon="5"][data-color="5"]>span::after{background-position:-2.4em -14.4em;}

[data-btn="2"][data-icon="6"]>span::before,
[data-btn="2"][data-icon="6"]>span::after{background-position:-4.8em -14.4em;}
[data-btn="2"][data-icon="6"][data-color="1"]>span::before,
[data-btn="2"][data-icon="6"][data-color="1"]>span::after{background-position:-4.8em -4.8em;}
[data-btn="2"][data-icon="6"][data-color="2"]>span::before,
[data-btn="2"][data-icon="6"][data-color="2"]>span::after{background-position:-4.8em -7.2em;}
[data-btn="2"][data-icon="6"][data-color="3"]>span::before,
[data-btn="2"][data-icon="6"][data-color="3"]>span::after{background-position:-4.8em -9.6em;}
[data-btn="2"][data-icon="6"][data-color="4"]>span::before,
[data-btn="2"][data-icon="6"][data-color="4"]>span::after{background-position:-4.8em -12em;}
[data-btn="2"][data-icon="6"][data-color="5"]>span::before,
[data-btn="2"][data-icon="6"][data-color="5"]>span::after{background-position:-4.8em -14.4em;}

[data-btn="2"][data-icon="7"]>span::before,
[data-btn="2"][data-icon="7"]>span::after{background-position:-7.2em -14.4em;}
[data-btn="2"][data-icon="7"][data-color="1"]>span::before,
[data-btn="2"][data-icon="7"][data-color="1"]>span::after{background-position:-7.2em -4.8em;}
[data-btn="2"][data-icon="7"][data-color="2"]>span::before,
[data-btn="2"][data-icon="7"][data-color="2"]>span::after{background-position:-7.2em -7.2em;}
[data-btn="2"][data-icon="7"][data-color="3"]>span::before,
[data-btn="2"][data-icon="7"][data-color="3"]>span::after{background-position:-7.2em -9.6em;}
[data-btn="2"][data-icon="7"][data-color="4"]>span::before,
[data-btn="2"][data-icon="7"][data-color="4"]>span::after{background-position:-7.2em -12em;}
[data-btn="2"][data-icon="7"][data-color="5"]>span::before,
[data-btn="2"][data-icon="7"][data-color="5"]>span::after{background-position:-7.2em -14.4em;}


[data-btn-group]{margin:3em 0 !important;}
[data-btn-group="left"]{text-align:left;}
[data-btn-group="center"]{text-align:center;}
[data-btn-group="right"]{text-align:right;}
[data-btn-group="center"] [data-btn]{min-width:23em;height: 6em;}
[data-btn-group="center"] [data-btn]>span{display:inline-block; width:auto;}
@media screen and (max-width: 700px) {
	[data-btn-group="center"] [data-btn]{display:block; width:100%; min-width:1em; margin:4px 0;}
	/* [data-btn-group="center"] [data-btn]>span{display:block; width:100%;} */
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	form

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
select{
	display:inline-block; position:relative; height:2.8571em; padding:0 2.5em 0 1em; margin:2px 0; vertical-align:middle; font-size:1em; border:1px solid #E5E5E5; color:#888; background-position:right center; background-repeat:no-repeat; background-size:auto 100%;
	-webkit-border-radius:0.4em; border-radius:0.4em;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
select:disabled{background-color:#eee;}
/* select::after{content:""; display:block; position:absolute; right:1em; top:0; width:1px; height:100%; background-color:#000;} */
input[type="file"]{font-size:1em;}
input[type="text"],
input[type="password"],
input[type="number"]{
	display:inline-block; width:100%; height:2.8571em; padding:0 1em; margin:2px 0; vertical-align:middle; font-size:1em; border:1px solid #E5E5E5; color:#555;
	-webkit-border-radius:0.4em; border-radius:0.4em;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled{color:#aaa; background-color:#eee;}
textarea{
	display:block; width:100%; height:10em; padding:1em; margin:2px 0; font-size:1em; border:1px solid #E5E5E5; color:#555;
	-webkit-border-radius:0.4em; border-radius:0.4em;
}
textarea:disabled{background-color:#eee;}
input[type="checkbox"]{opacity:0; position:absolute;}
input[type="checkbox"]+label,
input[type="checkbox"]+input[type="hidden"]+label{display:inline-block; position:relative; padding-left:1.8em; margin:2px 0.8em 2px 0; font-size:1em; color:#555;}
input[type="checkbox"]+label:before,
input[type="checkbox"]+input[type="hidden"]+label:before{content:""; display:block; position:absolute; left:0; top:0.1em; width:2.4em; height:2.4em; font-size:0.625em; background-repeat:no-repeat; background-position:-2.4em -27em; background-size:100em auto;}
input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:checked+input[type="hidden"]+label:before{background-position:-2.4em -29.4em;}
input[type="checkbox"]:focus+label,
input[type="checkbox"]:focus+input[type="hidden"]+label{outline:dashed #ff6600;}
input[type="checkbox"]:disabled+label,
input[type="checkbox"]:disabled+input[type="hidden"]+label{opacity:0.5;}
input[type="radio"]{opacity:0; position:absolute;}
input[type="radio"]+label{display:inline-block; position:relative; padding-left:1.8em; margin:2px 0.8em 2px 0; font-size:1em; color:#555;}
input[type="radio"]+label:before{content:""; display:block; position:absolute; left:0; top:0.1em; width:2.3em; height:2.4em; font-size:0.625em; background-repeat:no-repeat; background-position:-4.8em -27em; background-size:100em auto;}
input[type="radio"]:checked+label:before{background-position:-4.8em -29.4em;}
input[type="radio"]:focus+label{outline:dashed #ff6600;}
input[type="radio"]:disabled+label{opacity:0.5;}

[data-form="tel"]{display:flex; align-items:center; justify-content:flex-start; width:100%;}
[data-form="tel"]>input{width:100%;}
[data-form="tel"]>span{min-width:1em; text-align:center;}

[data-form="email"]{display:flex; align-items:center; justify-content:flex-start; width:100%;}
[data-form="email"]>input{width:100%;}
[data-form="email"]>input:last-child,
[data-form="email"]>select:last-child{flex:0 0 12em;}
[data-form="email"]>span{min-width:2em; text-align:center;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Table

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.table{width:100%; margin:0.5em 0 1em; border-top:2px solid #000; border-bottom:1px solid #ddd;}
.table th,
.table td{padding:0.7em 0.9em; text-align:center; font-size:1em;}
.table th:not(:first-child),
.table td:not(:first-child){border-left:1px solid #ddd;}
.table th:not(:last-child),
.table td:not(:last-child){border-right:1px solid #ddd;}
.table thead tr,
.table tbody th,
.table tfoot tr{background:#fff;}
/* .table thead tr:last-child>th,
.table thead tr:last-child>td{border-bottom:1px solid #222;} */
.table thead+tbody>tr:first-child th,
.table thead+tbody>tr:first-child td{border-top:1px solid #bcbcbc;}
.table tbody th,
.table tbody td,
.table tfoot th,
.table tfoot td{padding:0.6em 0.9em;}
.table tbody th{background-color:#f4f5f8;}
.table tfoot td,
.table th{font-weight:500; font-size:1.066em; border-top:1px solid #e5e5e5; color:#333; background-color:#f4f5f8;}
.table td{font-size:1em; border-top:1px solid #ddd; color:#666;}
.table th.left,
.table td.left{text-align:left !important;}
.table th.center,
.table td.center{text-align:center !important;}
.table th.right,
.table td.right{text-align:right !important;}
.table td.point{background:#f4f5f8;}
.table td.gray{background:#EFF3FF;}
.table tbody td{vertical-align:middle;}

.table.vertical-top tbody td{vertical-align:top;}
.table.vertical-middle tbody td{vertical-align:middle;}

.table.ty_02 th{border-top:1px solid #c6c6c6; border-right:1px solid #8d8d8d;}

.table_scroll + .table_scroll{margin-top:2em;}

.caption{position:relative; width:100%; text-align:right;}
.caption>span{position:absolute; right:0; bottom:0.5em;}


.table_scroll{overflow:auto;}
.table_scroll .table{position:relative; table-layout:auto; width:100%;}



/* ready */
[data-ready="1"]>img{display:block; width:100%;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Tip

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-tip]{display:block; position:relative; min-width:1.5em; line-height:1.5em; padding-left:1.2em; margin:0.5em 0 !important; font-size:inherit;}
span[data-tip]{display:inline-block; vertical-align:middle;}
[data-tip] [data-list]{margin-top:0.5em;}
[data-tip="1"]{color:#333;}
[data-tip="1"]::before{content:""; display:block; position:absolute; left:-0.4em; top:0em; width:2.4em; height:2.4em; font-size:0.625em; background-position:calc(-2.4em * 4) -41.6em; background-repeat:no-repeat; background-size:100em auto;}
[data-tip="2"]{color:#C24F4F;}
[data-tip="2"]::before{content:""; display:block; position:absolute; left:-0.4em; top:0em; width:2.4em; height:2.4em; font-size:0.625em; background-position:calc(-2.4em * 3) -41.6em; background-repeat:no-repeat; background-size:100em auto;}

.board_insert .tip{padding-left:1.3em !important; font-weight:400; font-size:0.9em; color:#999 !important;}
.board_insert .tip::before{content:"※"; display:block; position:absolute; left:0; top:-0.1em;}
.board_insert .tip::after{display:none !important;}
.board_insert .tip.red{color:#c24f4f !important;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Link 속성

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-link]{word-break:break-all; display:inline-block; position:relative; min-width:1.5em; line-height:1.5em; padding-left:1.5em; text-decoration:underline !important; font-size:inherit;}
[data-link]::before{content:""; display:block; position:absolute; left:0; top:0.2em; width:2.4em; height:2.4em; font-size:0.625em; background-repeat:no-repeat; background-size:100em auto;}
[data-link="mail"]::before{background-position:calc(-2.4em * 1) -41.6em;}
[data-link="blank"]::before{background-position:calc(-2.4em * 2) -41.6em;}
[data-link="tel"]::before{background-position:-12em -41.6em;}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	게시판 아이콘

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-simbol="1"]{overflow:hidden; display:inline-block; width:2.4em; height:2.4em; vertical-align:middle; text-align:left; text-indent:-1000px; font-size:0.7em; background-position:-21.6em -39.2em; background-repeat:no-repeat; background-size:100em auto;}
[data-simbol="1"][data-type="secret"]{background-position:-4.8em -44em;}
[data-simbol="1"][data-type="new"]{background-position:-2.4em -44em;}

[data-simbol="1"][data-type="pdf"]{background-position:0 -39.2em;}
[data-simbol="1"][data-type="xlsx"]{background-position:calc(-2.4em * 1) -39.2em;}
[data-simbol="1"][data-type="zip"]{background-position:calc(-2.4em * 2) -39.2em;}
[data-simbol="1"][data-type="jpg"]{background-position:calc(-2.4em * 3) -39.2em;}
[data-simbol="1"][data-type="tif"]{background-position:calc(-2.4em * 4) -39.2em;}
[data-simbol="1"][data-type="txt"],
[data-simbol="1"][data-type="doc"]{background-position:calc(-2.4em * 5) -39.2em;}
[data-simbol="1"][data-type="avi"]{background-position:calc(-2.4em * 6) -39.2em;}
[data-simbol="1"][data-type="ppt"]{background-position:calc(-2.4em * 7) -39.2em;}
[data-simbol="1"][data-type="hwp"]{background-position:calc(-2.4em * 8) -39.2em;}



/* 이미지 대체텍스트 */
[data-img-text="hidden"]{overflow:hidden; position:relative;}
[data-img-text="hidden"]>img,
[data-img-text="hidden"]>svg{display:block; position:relative; z-index:10; width:100% !important; height:auto !important;}
[data-img-text="hidden"]>div{opacity:0; overflow:auto; position:absolute; left:0; top:0; z-index:0; width:100%; height:100%;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	simbol

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-simbol-list]{display:inline-block; position:relative; min-width:1.6em; height:1.6em; line-height:1.6em; padding-left:1.7em; font-size:1em;}
[data-simbol-list]::before{content:""; display:block; position:absolute; left:0; top:-0.1em; width:2.4em; height:2.4em; font-size:0.666em; background-repeat:no-repeat; background-size:100em auto;}
[data-simbol-list]>a{text-decoration:underline;}
[data-simbol-list]>span{opacity:0; position:absolute;}

[data-simbol-list="1"]::before{background-position:0 -39.2em;}
[data-simbol-list="2"]::before{background-position:calc(-2.4em * 1) -39.2em;}
[data-simbol-list="3"]::before{background-position:calc(-2.4em * 2) -39.2em;}
[data-simbol-list="4"]::before{background-position:calc(-2.4em * 3) -39.2em;}
[data-simbol-list="5"]::before{background-position:calc(-2.4em * 4) -39.2em;}
[data-simbol-list="6"]::before{background-position:calc(-2.4em * 5) -39.2em;}
[data-simbol-list="7"]::before{background-position:calc(-2.4em * 6) -39.2em;}
[data-simbol-list="8"]::before{background-position:calc(-2.4em * 7) -39.2em;}
[data-simbol-list="9"]::before{background-position:calc(-2.4em * 8) -39.2em;}
[data-simbol-list="10"]::before{background-position:calc(-2.4em * 9) -39.2em;}
[data-simbol-list="11"]::before{background-position:0 -41.6em;}
[data-simbol-list="12"]::before{background-position:calc(-2.4em * 1) -41.6em;}
[data-simbol-list="13"]::before{background-position:calc(-2.4em * 2) -41.6em;}
[data-simbol-list="14"]::before{background-position:-12em -41.6em;}


[data-type="2"][data-simbol-list]{font-size:2em;}
[data-type="2"][data-simbol-list="1"]::before{background-position:0 -55em;}
[data-type="2"][data-simbol-list="2"]::before{background-position:calc(-2.4em * 1) -55em;}
[data-type="2"][data-simbol-list="3"]::before{background-position:calc(-2.4em * 2) -55em;}
[data-type="2"][data-simbol-list="4"]::before{background-position:calc(-2.4em * 3) -55em;}
[data-type="2"][data-simbol-list="5"]::before{background-position:calc(-2.4em * 4) -55em;}
[data-type="2"][data-simbol-list="6"]::before{background-position:calc(-2.4em * 5) -55em;}
[data-type="2"][data-simbol-list="7"]::before{background-position:calc(-2.4em * 6) -55em;}
[data-type="2"][data-simbol-list="8"]::before{background-position:calc(-2.4em * 7) -55em;}
[data-type="2"][data-simbol-list="9"]::before{background-position:calc(-2.4em * 8) -55em;}
[data-type="2"][data-simbol-list="10"]::before{background-position:calc(-2.4em * 9) -55em;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	처리현황

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-check]{
	display:inline-block; height:2em; line-height:calc(2em - 2px); padding:0 1em; margin:1px 0; vertical-align:middle; font-size:1em; border:1px solid #8D94A4; color:#fff; background-color:#8D94A4;
	-webkit-border-radius:0.3em; border-radius:0.3em;
}
[data-check="1"]{color:#fff; border-color:#898989; background-color:#898989;}
[data-check="2"]{color:#fff; border-color:#3587b5; background-color:#3587b5;}
[data-check="3"]{color:#fff; border-color:#1e9d28; background-color:#1e9d28;}
[data-check="4"]{color:#fff; border-color:#C78300; background-color:#C78300;}
[data-check="5"]{color:#fff; border-color:#D44040; background-color:#D44040;}

.notice_list [data-check]{width:100%;}

[data-skin="popup"]{display:none; position:fixed; top:0; left:0; z-index:900; width:100%; height:100%; background-color:rgba(0,0,0,0.7);}
[data-skin="popup"] .bx{
	position:absolute; top:50%; left:50%; max-width:30em; width:100%; padding:1em 1.5em 2em; background-color:#fff; border-radius:0.5em; box-shadow:0 10px 40px rgba(0, 0, 0, 0.15); box-sizing:border-box;
	transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%);
}
[data-skin="popup"].on{display:block;}

[data-skin="popup"] .head{position:relative; border-bottom:1px solid #C4C4C4;}
[data-skin="popup"] .head strong{display:block; margin-bottom:0.4em; font-size:1.6em; color:#222;}
[data-skin="popup"] .head .close{
	overflow:hidden; position:absolute; top:0.5em; right:0; width:1.2em; height:1.2em; background:url(../../../images/site/skin/icon_popup_close.svg) no-repeat 0 0; background-size:100%; text-indent:-2000px;
    transform:rotate(0deg); -webkit-transform:rotate(0deg);
    transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
[data-skin="popup"] .head .close:hover{transform:rotate(180deg); -webkit-transform:rotate(180deg);}
[data-skin="popup"] .midd{padding:1em 0;}
[data-skin="popup"] .midd strong{display:block; margin:0.8em 0 0em; font-weight:400; font-size:1.1em;}
[data-skin="popup"] .midd ul li:not(:first-child){margin-top:0.5em;}
[data-skin="popup"] .midd .tip{margin-top:1em;}
[data-skin="popup"] .foot{margin-top:1em;}
[data-skin="popup"] .foot .btn_group{text-align:center;}
[data-skin="popup"] .foot .btn_group [data-skin="btn"]{min-width:7em; height:3.134em; line-height:3.134em;}
[data-skin="popup"] .foot .btn_group [data-skin="btn"]+[data-skin="btn"]{margin-left:0.5em;}

@media screen and (max-width:640px){
	[data-skin="popup"] .bx{max-width:90%;}
	[data-skin="popup"] .foot .btn_group [data-skin="btn"]{font-size:1em;}
}


