@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
[data-edit]{line-height:1.6; font-family: 'Noto Sans KR', sans-serif; font-size:16px; font-weight:400; color:#222;}
[data-edit] > textarea,
[data-edit] > div{overflow:auto; width:100%; border:1px solid #ddd;}
[data-edit] > textarea{height:40em;}
[data-edit] > div{height:calc(100% - 40em); padding:3em;}

[data-edit] h1:first-child{margin-top:0;}
[data-edit] h1{padding-bottom:0.2em; border-bottom:1px solid #ddd;}
[data-edit] p{margin:0.2em 0;}
[data-edit] li a{position:relative; padding-right:1.8em; color:rgb(255, 127, 104);}
[data-edit] li a:before,
[data-edit] li a:after{content:""; position:absolute; right:0.5em; bottom:0.1em; z-index:10; width:0.8em; height:0.8em; border:1px solid rgb(128, 128, 128); background-color:#fff; box-sizing:border-box;}
[data-edit] li a:before{right:calc(0.5em - 3px); bottom:calc(0.1em + 3px); z-index:20;}
[data-edit] code{
    display:inline-block; line-height:1; padding:0.3em 0.5em; color:#fff; background-color:#5ea6ff;
    border-radius:0.3em;
}
[data-edit] a>code{padding:0; color:inherit; background-color:transparent;}
[data-edit] blockquote{position:relative; padding-left:1em;}
[data-edit] blockquote:before{
    content:""; display:block; position:absolute; left:0; top:0; width:0.3em; height:100%; background-color:#e1e1e1;
    border-radius:0.2em;
}
[data-edit] table{width:100%;}
[data-edit] table th,
[data-edit] table td{padding:0.2em 0.4em; border:1px solid #ddd;}
[data-edit] table th{font-weight:500; background-color:rgba(0,0,0,0.03);}
[data-edit] table td a{
    display:inline-block; padding:0.3em 1em; margin:1px 0; text-decoration:none; color:#fff; background-color: rgb(152, 152, 255);
    border-radius:0.2em;
}
[data-edit] table td a:not([href="#"]):hover{color:#fff; background-color: rgb(126, 126, 231);}
[data-edit] table td a[href="#"]{opacity:0.2; cursor:default;}
[data-edit] table tr[data-hidden="on"]{display:none !important;}
[data-edit] table tr[data-no="on"]{opacity:0.5; background-color:#eee;}
[data-edit] table tr[data-1dep="on"]{opacity:1; color:#fff; background-color:#465379;}
[data-edit] table tr[data-pr="on"]{opacity:1; color:#000; background-color:#84a3ff;}
[data-edit] table tr[data-help="on"]{opacity:1; color:#000; background-color:#ff8484;}
