@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 300; 
  src:url('./Noto_Sans_KR/NotoSansKR-Light.woff') format('woff');
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 400; 
  src:url('./Noto_Sans_KR/NotoSansKR-Regular.woff') format('woff');
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 500; 
  src:url('./Noto_Sans_KR/NotoSansKR-Medium.woff') format('woff');
}
@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 400;
  src: url('./Gmarket/GmarketSansTTFLight.woff') format('woff');
}
@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 600;
  src: url('./Gmarket/GmarketSansTTFMedium.woff') format('woff');
}
@font-face {
  font-family: 'GmarketSans';
  font-style: normal;
  font-weight: 700;
  src: url('./Gmarket/GmarketSansTTFBold.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-weight: normal;
  font-style: normal;
  src:url('Poppins-Light.ttf.woff') format('woff'),
      url('Poppins-Light.ttf.svg#Poppins-Light') format('svg'),
      url('Poppins-Light.ttf.eot'),
      url('Poppins-Light.ttf.eot?#iefix') format('embedded-opentype'); 
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src:url('Poppins.ttf.woff') format('woff'),
      url('Poppins.ttf.svg#Poppins') format('svg'),
      url('Poppins.ttf.eot'),
      url('Poppins.ttf.eot?#iefix') format('embedded-opentype'); 
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src:url('Poppins-Bold.ttf.woff') format('woff'),
      url('Poppins-Bold.ttf.svg#Poppins-Bold') format('svg'),
      url('Poppins-Bold.ttf.eot'),
      url('Poppins-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
}