@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int .t_intbx{background-image: url(../../../images/site/pece/content/int_head.png);}
.depart_int .floor_box .img_box .btn_box .btns{
    padding: 0; margin: 0; text-indent: -9999px; background-color: transparent;
    border-radius: 13px; -webkit-border-radius: 13px;
}
.depart_int .floor_box.f1 .img_box .btn_box .btns:first-child{top: 50%; left: 48.4%; width: 18.5%; height: 13%;}
.depart_int .floor_box.f2 .img_box .btn_box .btns.f2_1{top: 55%; left: 34%; width: 18.8%; height: 18.8%;}
.depart_int .floor_box.f2 .img_box .btn_box .btns.f2_2{top: 87%; left: 38.5%; width: 14%; height: 13%;}
.depart_int .floor_box.f2 .img_box .btn_box .btns.f2_3{top: 83.4%; left: 53%; width: 14%; height: 13%;}
.depart_int .floor_box.f2 .img_box .btn_box .btns.f2_4{top: 46%; left: 52.8%; width: 15.8%; height: 13%;}
.depart_int .floor_box.f2 .img_box .btn_box .btns.f2_5{top: 63%; left: 68%; width: 14%; height: 13%;}
.depart_int .floor_box.f3 .img_box .btn_box .btns.f3_1{top: 89.8%; left: 39.5%; width: 13.8%; height: 13%; z-index: 1;}
.depart_int .floor_box.f3 .img_box .btn_box .btns.f3_2{top: 79%; left: 47.4%; width: 14%; height: 13%;}
.depart_int .floor_box.f3 .img_box .btn_box .btns.f3_3{top: 44%; left: 47%; width: 22%; height: 18.8%;}
.depart_int .floor_box.f3 .img_box .btn_box .btns.f3_4{top: 72.3%; left: 64%; width: 18.4%; height: 13%;}
.depart_int .floor_box.f3 .img_box .btn_box .btns.f3_5{top: 52.7%; left: 73%; width: 25.2%; height: 18.8%;}
.depart_int .floor_box.f3 .img_box .btn_box .btns.f3_6{top: 27.2%; left: 74.6%; width: 20%; height: 13%;}
.depart_int .floor_box.f3 .img_box .btn_box .btns.f3_7{top: 9%; left: 56.6%; width: 20.8%; height: 13%;}
.depart_int .floor_box .room_wrap{padding-top: 1.875em; box-sizing: border-box;}
.depart_int .floor_box .room_wrap .room_box{position: relative; height: 19.875em; background-color: #F2F2F2; text-align: center; }
.depart_int .floor_box .room_wrap .room_box:before{content: ""; position: absolute; bottom: 0; left: 0; display: block; width: 13.3125em; height: 10.75em; background: url(../../../images/site/pece/content/room_box.svg) no-repeat left bottom; background-size: contain;}
.depart_int .floor_box .room_wrap .room_box img{position: relative; z-index: 1; display: inline-block; max-height: 100%;}
@media screen and (max-width: 1024px){
    .depart_int .floor_box .room_wrap .room_box{height: 15em;}
    .depart_int .floor_box .room_wrap .room_box:before{height: 7em;}
}
@media screen and (max-width: 640px){
    .depart_int .floor_box .room_wrap .room_box{height: 12em;}
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	졸업후진로

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_grd .dlist_wrap{padding: 2.875em 2em; text-align: center; border: 1px solid #DBDBDB; box-sizing: border-box;}
.depart_grd .dlist_wrap .dlist_box{display: inline-block;}
@media screen and (max-width: 1100px) and (min-width: 1025px){
    .depart_grd .dlist_wrap .dlist_box >li{width: calc((100% - 1px - 3.125em) / 3);}
}
@media screen and (max-width: 780px) and (min-width: 641px){
    .depart_grd .dlist_wrap .dlist_box >li{width: calc((100% - 1px - 3.125em) / 3);}
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	대학원

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_gds{}
.depart_gds .img_box{}
.depart_gds .img_box img{display: block; width: 100%;}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학생회 조직도

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_org{}
.depart_org .img_box{}
.depart_org .img_box img{display: block; width: 100%;}