#svg .bote-1{display:block; position:absolute; left:18%; top:81%; z-index:1500; width:13.3%; height:13.8%;}
#svg .bote-1>span{
    background-image:url(../../img/ani/bote-1.svg);
    -webkit-animation-name:bote-1;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:1s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;

    animation-name:bote-1;
    animation-timing-function:linear;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}

@-webkit-keyframes bote-1 {
    0%,100%{transform:translateY(0);}
    50%{transform:translateY(2px);}
}
@keyframes bote-1 {
    0%,100%{transform:translateY(0);}
    50%{transform:translateY(2px);}
}


#svg .bote-2{
    opacity:1; display:block; position:absolute; left:4%; top:47%; z-index:1500; width:11.92%; height:19.5%;
    -webkit-transition:opacity 0.3s linear 0s; transition:opacity 0.3s linear 0s;
}
#svg .bote-2>span{
    background-image:url(../../img/ani/bote-2.svg);
    -webkit-animation-name:bote-2;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:1s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;

    animation-name:bote-2;
    animation-timing-function:linear;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
@-webkit-keyframes bote-2 {
    0%,100%{-webkit-transform:translateY(0); transform:translateY(0);}
    50%{-webkit-transform:translateY(2px); transform:translateY(2px);}
}
@keyframes bote-2 {
    0%,100%{-webkit-transform:translateY(0); transform:translateY(0);}
    50%{-webkit-transform:translateY(2px); transform:translateY(2px);}
}

#svg[data-joryu="on"] .bote-2{opacity:0; -webkit-transition:opacity 0.3s linear 0s; transition:opacity 0.3s linear 0s;}
#svg[data-joryu="off"] .bote-2{opacity:1; -webkit-transition:opacity 0.3s linear 1s; transition:opacity 0.3s linear 1s;}

#svg .bote-3{
    display:block; position:absolute; left:34%; top:103%; z-index:1500; width:6.7%; height:5%;
    -webkit-animation-name:bote-3_def;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:10s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;

    animation-name:bote-3_def;
    animation-timing-function:linear;
    animation-duration:10s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
#svg .bote-3>span{
    background-image:url(../../img/ani/bote-3.svg);
    -webkit-animation-name:bote-3;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:1s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;

    animation-name:bote-3;
    animation-timing-function:linear;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
@keyframes bote-3_def {
    0%{-webkit-transform:translate(0,0) rotate(-60deg); transform:translate(0,0) rotate(-60deg);}
    20%{-webkit-transform:translate(150%,-400%) rotate(-60deg); transform:translate(150%,-400%) rotate(-60deg);}
    26%{-webkit-transform:translate(180%,-450%) rotate(0deg); transform:translate(180%,-450%) rotate(0deg);}
    70%,100%{-webkit-transform:translate(580%,-50%) rotate(0deg); transform:translate(580%,-50%) rotate(0deg);}
}
@keyframes bote-3 {
    0%,100%{-webkit-transform:translateY(0); transform:translateY(0);}
    50%{-webkit-transform:translateY(2px); transform:translateY(2px);}
}