/* ëŒ */
/* 
104.76  60.65
*/
#svg .deam{display:block; position:absolute; left:81.3%; top:34.5%; z-index:0; width:10.9%; height:15.7%;}
#svg .deam>span:nth-child(1){
    left:46%; top:-14%; width:79%; height:47%; background-image:url(../../img/ani/deam-etc.svg);
}
#svg .deam>span:nth-child(1)>i:nth-child(1){
    background-image:url(../../img/ani/deam-etc-1.svg);
    -webkit-animation-timing-function:ease;
    -webkit-animation-duration:10s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:1;

    animation-timing-function:ease;
    animation-duration:10s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
}
#svg .deam>span:nth-child(1)>i:nth-child(2){background-image:url(../../img/ani/deam-etc-2.svg);}
#svg .deam>span:nth-child(2){
    opacity:0; transform:translateY(-30%);
    -webkit-animation-timing-function:ease;
    -webkit-animation-duration:10s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:1;

    animation-timing-function:ease;
    animation-duration:10s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
}
#svg .deam>span:nth-child(2)>i:nth-child(1){background-image:url(../../img/ani/deam-1.svg);}
#svg .deam>span:nth-child(2)>i:nth-child(2){
    height:0; background-image:url(../../img/ani/deam-2.svg); background-size:100% auto;
    -webkit-animation-timing-function:ease;
    -webkit-animation-duration:10s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:1;

    animation-timing-function:ease;
    animation-duration:10s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
}
#svg .deam>span:nth-child(2)>i:nth-child(3){background-image:url(../../img/ani/deam-3.svg);}
#svg .deam>span:nth-child(2)>i:nth-child(4){
    opacity:0; background-image:url(../../img/ani/deam-4.svg);
    -webkit-animation-name:deam-line-bound;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:10s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;

    animation-name:deam-line-bound;
    animation-timing-function:linear;
    animation-duration:10s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
#svg .deam>span:nth-child(2)>i:nth-child(5)>span:nth-child(1){
    opacity:0; left:0; top:-2%; background-image:url(../../img/ani/deam-5.svg);
    -webkit-animation-name:deam-bubble-bound;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:10s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;

    animation-name:deam-bubble-bound;
    animation-timing-function:linear;
    animation-duration:10s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
#svg .deam>span:nth-child(2)>i:nth-child(5)>span>i{
    background-image:url(../../img/ani/deam-5.svg);
    -webkit-animation-name:deam-bubble-bound2;
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:1s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;

    animation-name:deam-bubble-bound2;
    animation-timing-function:linear;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
#svg .deam>span:nth-child(2)>i:nth-child(5)>span>i:nth-child(2){-webkit-animation-delay:0.2s; animation-delay:0.2s;}
#svg .deam>span:nth-child(2)>i:nth-child(5)>span>i:nth-child(3){-webkit-animation-delay:0.4s; animation-delay:0.4s;}
#svg .deam>span:nth-child(2)>i:nth-child(5)>span>i:nth-child(4){-webkit-animation-delay:0.6s; animation-delay:0.6s;}
#svg .deam>span:nth-child(2)>i:nth-child(5)>span>i:nth-child(5){-webkit-animation-delay:0.8s; animation-delay:0.8s;}
#svg .deam>span:nth-child(3)>i:nth-child(1){
    opacity:0; left:67%; top:0%; width:27.2%; height:25%; background-image:url(../../img/ani/deam-pado.svg);
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:3s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;

    animation-timing-function:linear;
    animation-duration:3s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}

#svg .deam>span:nth-child(3)>i:not(:nth-child(1)){
    opacity:0; left:-14%; top:91%; width:27.2%; height:25%; background-image:url(../../img/ani/deam-pado.svg);
    -webkit-animation-timing-function:linear;
    -webkit-animation-duration:4s;
    -webkit-animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite;

    animation-timing-function:linear;
    animation-duration:4s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
#svg .deam>span:nth-child(3)>i:nth-child(2){-webkit-animation-delay:0s; animation-delay:0s;}
#svg .deam>span:nth-child(3)>i:nth-child(3){-webkit-animation-delay:1.3s; animation-delay:1.3s;}
#svg .deam>span:nth-child(3)>i:nth-child(4){-webkit-animation-delay:2.6s; animation-delay:2.6s;}
@-webkit-keyframes deam-bubble-bound {
    0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100%{-webkit-transform:scale(1); transform:scale(1);}
    5%,15%,25%,35%,45%,55%,65%,75%,85%,95%{-webkit-transform:scale(1.04); transform:scale(1.04);}
}
@keyframes deam-bubble-bound {
    0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100%{-webkit-transform:scale(1); transform:scale(1);}
    5%,15%,25%,35%,45%,55%,65%,75%,85%,95%{-webkit-transform:scale(1.04); transform:scale(1.04);}
}
@-webkit-keyframes deam-bubble-bound2 {
    0%,20%{opacity:1;}
    100%{opacity:0;}
    0%{-webkit-transform:scale(1) translate(0,0); transform:scale(1) translate(0,0);}
    33.3%{-webkit-transform:scale(1.2) translate(0,0); transform:scale(1.2) translate(0,0);}
    66.6%{-webkit-transform:scale(1) translate(-15%,15%); transform:scale(1) translate(-15%,15%);}
    100%{-webkit-transform:scale(1) translate(-20%,20%); transform:scale(1) translate(-20%,20%);}
}
@keyframes deam-bubble-bound2 {
    0%,20%{opacity:1;}
    100%{opacity:0;}
    0%{-webkit-transform:scale(1) translate(0,0); transform:scale(1) translate(0,0);}
    33.3%{-webkit-transform:scale(1.2) translate(0,0); transform:scale(1.2) translate(0,0);}
    66.6%{-webkit-transform:scale(1) translate(-15%,15%); transform:scale(1) translate(-15%,15%);}
    100%{-webkit-transform:scale(1) translate(-20%,20%); transform:scale(1) translate(-20%,20%);}
}
@-webkit-keyframes deam-line-bound {
    0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100%{-webkit-transform:translateY(0); transform:translateY(0);}
    5%,15%,25%,35%,45%,55%,65%,75%,85%,95%{-webkit-transform:translateY(-2%); transform:translateY(-2%);}
}
@keyframes deam-line-bound {
    0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100%{-webkit-transform:translateY(0); transform:translateY(0);}
    5%,15%,25%,35%,45%,55%,65%,75%,85%,95%{-webkit-transform:translateY(-2%); transform:translateY(-2%);}
}
@-webkit-keyframes deam-def {
    0%{opacity:1;}
    5%,100%{opacity:0;}
}
@keyframes deam-def {
    0%{opacity:1;}
    5%,100%{opacity:0;}
}
@-webkit-keyframes deam-def_reverse {
    0%,20%{opacity:0;}
    25%,100%{opacity:1;}
}
@keyframes deam-def_reverse {
    0%,20%{opacity:0;}
    25%,100%{opacity:1;}
}
@-webkit-keyframes deam-start {
    0%{opacity:0; -webkit-transform:translateY(-30%); transform:translateY(-30%);}
    5%,100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}
@keyframes deam-start {
    0%{opacity:0; -webkit-transform:translateY(-30%); transform:translateY(-30%);}
    5%,100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}
@-webkit-keyframes deam-start_reverse {
    0%,15%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
    20%,100%{opacity:0; -webkit-transform:translateY(-30%); transform:translateY(-30%);}
}
@keyframes deam-start_reverse {
    0%,15%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
    20%,100%{opacity:0; -webkit-transform:translateY(-30%); transform:translateY(-30%);}
}
@-webkit-keyframes deam-w {
    0%,5%{height:0%;}
    20%,100%{height:100%;}
}
@keyframes deam-w {
    0%,5%{height:0%;}
    20%,100%{height:100%;}
}
@-webkit-keyframes deam-w_reverse {
    0%{height:100%;}
    15%,100%{height:0%;}
}
@keyframes deam-w_reverse {
    0%{height:100%;}
    15%,100%{height:0%;}
}
@-webkit-keyframes deam-motion-1 {
    0%,80%,100%{opacity:0;}
    5%,50%{opacity:1;}

    0%{-webkit-transform:translate(0,0); transform:translate(0,0);}
    100%{-webkit-transform:translate(-280%,192%); transform:translate(-280%,192%);}
}
@keyframes deam-motion-1 {
    0%,80%,100%{opacity:0;}
    5%,50%{opacity:1;}

    0%{-webkit-transform:translate(0,0); transform:translate(0,0);}
    100%{-webkit-transform:translate(-280%,192%); transform:translate(-280%,192%);}
}
@-webkit-keyframes deam-motion-2 {
    0%,100%{opacity:0.1;}
    40%,60%{opacity:1;}
    0%{-webkit-transform:translate(10%,-5%); transform:translate(10%,-5%);}
    100%{-webkit-transform:translate(0,0); transform:translate(0,0);}
}
@keyframes deam-motion-2 {
    0%,100%{opacity:0.1;}
    40%,60%{opacity:1;}
    0%{-webkit-transform:translate(10%,-5%); transform:translate(10%,-5%);}
    100%{-webkit-transform:translate(0,0); transform:translate(0,0);}
}
@-webkit-keyframes deam-first {
    0%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
    5%,100%{opacity:0; -webkit-transform:translateY(-10%); transform:translateY(-10%);}
}
@keyframes deam-first {
    0%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
    5%,100%{opacity:0; -webkit-transform:translateY(-10%); transform:translateY(-10%);}
}
@-webkit-keyframes deam-first_reverse {
    0%,10%{opacity:0; -webkit-transform:translateY(-10%); transform:translateY(-10%);}
    15%,100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}
@keyframes deam-first_reverse {
    0%,10%{opacity:0; -webkit-transform:translateY(-10%); transform:translateY(-10%);}
    15%,100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}

#svg .deam[data-deam="on"]>span:nth-child(1)>i:nth-child(1){-webkit-animation-name:deam-first; animation-name:deam-first;}
#svg .deam[data-deam="on"]>span:nth-child(1){-webkit-animation-name:deam-def; animation-name:deam-def;}
#svg .deam[data-deam="on"]>span:nth-child(2){-webkit-animation-name:deam-start; animation-name:deam-start;}
#svg .deam[data-deam="on"]>span:nth-child(2)>i:nth-child(2){
    bottom:auto; top:0; background-position:left top;
    -webkit-animation-name:deam-w;
    animation-name:deam-w;
}
#svg .deam[data-deam="on"]>span:nth-child(2)>i:nth-child(4),
#svg .deam[data-deam="on"]>span:nth-child(2)>i:nth-child(5)>span{opacity:1; -webkit-transition:opacity 1s ease 1.3s; transition:opacity 1s ease 1.3s;}
#svg .deam[data-deam="on"]>span:nth-child(3)>i:nth-child(1){-webkit-animation-name:deam-motion-2; animation-name:deam-motion-2;}
#svg .deam[data-deam="on"]>span:nth-child(3)>i:not(:nth-child(1)){-webkit-animation-name:deam-motion-1; animation-name:deam-motion-1;}


#svg .deam[data-deam="off"]>span:nth-child(1)>i:nth-child(1){-webkit-animation-name:deam-first_reverse; animation-name:deam-first_reverse;}
#svg .deam[data-deam="off"]>span:nth-child(1){-webkit-animation-name:deam-def_reverse; animation-name:deam-def_reverse;}
#svg .deam[data-deam="off"]>span:nth-child(2){-webkit-animation-name:deam-start_reverse; animation-name:deam-start_reverse;}
#svg .deam[data-deam="off"]>span:nth-child(2)>i:nth-child(2){
    bottom:0; top:auto; background-position:left bottom;
    -webkit-animation-name:deam-w_reverse;
    animation-name:deam-w_reverse;
}
#svg .deam[data-deam="off"]>span:nth-child(2)>i:nth-child(4),
#svg .deam[data-deam="off"]>span:nth-child(2)>i:nth-child(5)>span{opacity:0; -webkit-transition:opacity 1s ease 0.3s; transition:opacity 1s ease 0.3s;}
