/* ëŒ */
/* 
77.25   166.69
42.5    42.5
*/
#svg .joryu{display:block;}
#svg .joryu>span{left:3.6%; top:49.1%; width:6.34%; height:20.3%;}
#svg .joryu>span:nth-child(2){left:10.8%; top:42.9%;}
#svg .joryu>span>i:nth-child(1){opacity:0; background-image:url(../../img/ani/joryu-1.svg);}
#svg .joryu>span>i:nth-child(1)>span{background-image:url(../../img/ani/joryu-1-1.svg);}
#svg .joryu>span>i:nth-child(2){background-image:url(../../img/ani/joryu-2.svg);}
#svg .joryu>span>i:nth-child(2)>span{left:-7%; top:66.7%; width:55%; height:25.5%; background-image:url(../../img/ani/joryu-2-1.svg);}
#svg .joryu>span>i:nth-child(2)>span:nth-child(2){left:54%; top:50.5%;}

#svg .joryu>span>i:nth-child(1){
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:1s; animation-duration:1s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:1; animation-iteration-count:1;
}
#svg .joryu>span>i:nth-child(1)>span{
    -webkit-animation-name:joryu-led; animation-name:joryu-led;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:1s; animation-duration:1s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
}
#svg .joryu>span>i:nth-child(2){
    opacity:0;
    -webkit-transform:translate(40%,30%); transform:translate(40%,30%);
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:1s; animation-duration:1s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:1; animation-iteration-count:1;
}
#svg .joryu>span>i:nth-child(2)>span{
    -webkit-animation-name:joryu-baram; animation-name:joryu-baram;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:1s; animation-duration:1s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
}

@-webkit-keyframes joryu-led {
    0%,100%{opacity:0.5;}
    50%{opacity:1;}
}
@keyframes joryu-led {
    0%,100%{opacity:0.5;}
    50%{opacity:1;}
}
@-webkit-keyframes joryu-baram {
    0%{-webkit-transform:rotate(0); transform:rotate(0);}
    100%{-webkit-transform:rotate(360deg); transform:rotate(360deg);}
}
@keyframes joryu-baram {
    0%{-webkit-transform:rotate(0); transform:rotate(0);}
    100%{-webkit-transform:rotate(360deg); transform:rotate(360deg);}
}
@-webkit-keyframes joryu-def {
    0%{opacity:0; -webkit-transform:translateY(-10%); transform:translateY(-10%);}
    100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}
@keyframes joryu-def {
    0%{opacity:0; -webkit-transform:translateY(-10%); transform:translateY(-10%);}
    100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}
@-webkit-keyframes joryu-def_reverse {
    0%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
    100%{opacity:0; -webkit-transform:translateY(-10%); transform:translateY(-10%);}
}
@keyframes joryu-def_reverse {
    0%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
    100%{opacity:0; -webkit-transform:translateY(-10%); transform:translateY(-10%);}
}
@-webkit-keyframes joryu-set {
    0%{opacity:0; -webkit-transform:translate(40%,30%); transform:translate(40%,30%);}
    100%{opacity:1; -webkit-transform:translate(0,0); transform:translate(0,0);}
}
@keyframes joryu-set {
    0%{opacity:0; -webkit-transform:translate(40%,30%); transform:translate(40%,30%);}
    100%{opacity:1; -webkit-transform:translate(0,0); transform:translate(0,0);}
}
@-webkit-keyframes joryu-set_reverse {
    0%{opacity:1; -webkit-transform:translate(0,0); transform:translate(0,0);}
    100%{opacity:0; -webkit-transform:translate(40%,30%); transform:translate(40%,30%);}
}
@keyframes joryu-set_reverse {
    0%{opacity:1; -webkit-transform:translate(0,0); transform:translate(0,0);}
    100%{opacity:0; -webkit-transform:translate(40%,30%); transform:translate(40%,30%);}
}

#svg .joryu[data-joryu="on"]>span>i:nth-child(1){-webkit-animation-name:joryu-def; animation-name:joryu-def;}
#svg .joryu[data-joryu="on"]>span>i:nth-child(2){-webkit-animation-name:joryu-set; animation-name:joryu-set; -webkit-animation-delay:0.4s; animation-delay:0.4s;}
#svg .joryu[data-joryu="off"]>span>i:nth-child(1){opacity:1; -webkit-animation-name:joryu-def_reverse; animation-name:joryu-def_reverse;}
#svg .joryu[data-joryu="off"]>span>i:nth-child(2){opacity:1; -webkit-animation-name:joryu-set_reverse; animation-name:joryu-set_reverse;}