/* 태양광 */
/* 
398 272 */
#svg .sun{display:block; position:absolute; left:0%; top:0%; z-index:800; width:32.7%; height:33.2%;}
#svg .sun>span:nth-child(1)>i:nth-child(1){background-image:url(../../img/ani/sun-1-1_1.svg);}
#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(1){background-image:url(../../img/ani/sun-1-2_1.svg);}
#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(2){background-image:url(../../img/ani/sun-1-2_2.svg);}
#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(3){background-image:url(../../img/ani/sun-1-2_3.svg);}
#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(4){background-image:url(../../img/ani/sun-1-2_4.svg);}
#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(5){background-image:url(../../img/ani/sun-1-2_5.svg);}
#svg .sun>span:nth-child(1)>i:nth-child(3){z-index:200; background-image:url(../../img/ani/sun-1-3_1.svg);}
#svg .sun>span:nth-child(2)>i{opacity:0;}
#svg .sun>span:nth-child(2)>i:nth-child(1){background-image:url(../../img/ani/sun-2-1.svg);}
#svg .sun>span:nth-child(2)>i:nth-child(2){z-index:300; background-image:url(../../img/ani/sun-2-2.svg);}
#svg .sun>span:nth-child(2)>i:nth-child(3){background-image:url(../../img/ani/sun-2-3.svg);}
#svg .sun>span:nth-child(2)>i:nth-child(3)>span:nth-child(1){background-image:url(../../img/ani/sun-2-3_1.svg);}
#svg .sun>span:nth-child(2)>i:nth-child(3)>span:nth-child(2){background-image:url(../../img/ani/sun-2-3_2.svg);}
#svg .sun>span:nth-child(2)>i:nth-child(3)>span:nth-child(3){background-image:url(../../img/ani/sun-2-3_3.svg);}
#svg .sun>span:nth-child(2)>i:nth-child(4){z-index:500; background-image:url(../../img/ani/sun-2-4.svg);}
#svg .sun>span:nth-child(2)>i:nth-child(4)>span:nth-child(1){background-image:url(../../img/ani/sun-2-4_1.svg);}
#svg .sun>span:nth-child(2)>i:nth-child(4)>span:nth-child(2){background-image:url(../../img/ani/sun-2-4_2.svg);}


@-webkit-keyframes sun-1 {
    0%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
    10%,100%{opacity:0; -webkit-transform:translateY(-5%); transform:translateY(-5%);}
}
@keyframes sun-1 {
    0%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
    10%,100%{opacity:0; -webkit-transform:translateY(-5%); transform:translateY(-5%);}
}
@-webkit-keyframes sun-1_reverse {
    0%{opacity:0; -webkit-transform:translateY(-5%); transform:translateY(-5%);}
    10%,100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}
@keyframes sun-1_reverse {
    0%{opacity:0; -webkit-transform:translateY(-5%); transform:translateY(-5%);}
    10%,100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}
@-webkit-keyframes sun-2 {
    0%{opacity:0; -webkit-transform:translateY(-5%); transform:translateY(-5%);}
    10%,100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}
@keyframes sun-2 {
    0%{opacity:0; -webkit-transform:translateY(-5%); transform:translateY(-5%);}
    10%,100%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
}
@-webkit-keyframes sun-2_reverse {
    0%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
    10%,100%{opacity:0; -webkit-transform:translateY(-5%); transform:translateY(-5%);}
}
@keyframes sun-2_reverse {
    0%{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
    10%,100%{opacity:0; -webkit-transform:translateY(-5%); transform:translateY(-5%);}
}
@-webkit-keyframes sun-3 {
    0%,100%{-webkit-transform:rotate(0); transform:rotate(0);}
    50%{-webkit-transform:rotate(10deg); transform:rotate(10deg);}
}
@keyframes sun-3 {
    0%,100%{-webkit-transform:rotate(0); transform:rotate(0);}
    50%{-webkit-transform:rotate(10deg); transform:rotate(10deg);}
}
@-webkit-keyframes sun-paner-1 {
    0%,100%{opacity:0;}
    50%{opacity:1;}
}
@keyframes sun-paner-1 {
    0%,100%{opacity:0;}
    50%{opacity:1;}
}
@-webkit-keyframes sun-paner-2 {
    0%,80%,90%,100%{opacity:0.2;}
    85%{opacity:0.5;}
}
@keyframes sun-paner-2 {
    0%,80%,90%,100%{opacity:0.2;}
    85%{opacity:0.5;}
}

#svg .sun>span:nth-child(1)>i:nth-child(2),
#svg .sun>span:nth-child(2)>i{
    -webkit-animation-timing-function:ease; animation-timing-function:ease;
    -webkit-animation-duration:10s; animation-duration:10s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:1; animation-iteration-count:1;
}
#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(2),
#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(3),
#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(4){
    -webkit-animation-timing-function:ease; animation-timing-function:ease;
    -webkit-animation-duration:2s; animation-duration:2s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
}
#svg .sun>span:nth-child(2)>i:nth-child(3)>span,
#svg .sun>span:nth-child(2)>i:nth-child(4)>span{
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:1s; animation-duration:1s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
}

#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(2){
    -webkit-transform-origin:38% 64%; transform-origin:38% 64%;
    -webkit-animation-name:sun-3; animation-name:sun-3;
}
#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(3){
    -webkit-transform-origin:68.5% 26.7%; transform-origin:68.5% 26.7%;
    -webkit-animation-name:sun-3; animation-name:sun-3;
    -webkit-animation-delay:0.4s; animation-delay:0.4s;
}
#svg .sun>span:nth-child(1)>i:nth-child(2)>span:nth-child(4){
    -webkit-transform-origin:72.7% 30%; transform-origin:72.7% 30%;
    -webkit-animation-name:sun-3; animation-name:sun-3;
}


#svg .sun[data-sun="on"]>span:nth-child(1)>i:nth-child(2){-webkit-animation-name:sun-1; animation-name:sun-1;}
#svg .sun[data-sun="on"]>span:nth-child(2)>i{-webkit-animation-name:sun-2; animation-name:sun-2;}
#svg .sun[data-sun="on"]>span:nth-child(2)>i:nth-child(3)>span:nth-child(1),
#svg .sun[data-sun="on"]>span:nth-child(2)>i:nth-child(4)>span:nth-child(1){-webkit-animation-name:sun-paner-1; animation-name:sun-paner-1;}

#svg .sun[data-sun="on"]>span:nth-child(1)>i:nth-child(2){-webkit-animation-delay:0s; animation-delay:0s;}
#svg .sun[data-sun="on"]>span:nth-child(2)>i:nth-child(1){-webkit-animation-delay:0.2s; animation-delay:0.2s;}
#svg .sun[data-sun="on"]>span:nth-child(2)>i:nth-child(2){-webkit-animation-delay:0.6s; animation-delay:0.6s;}
#svg .sun[data-sun="on"]>span:nth-child(2)>i:nth-child(3),
#svg .sun[data-sun="on"]>span:nth-child(2)>i:nth-child(4){-webkit-animation-delay:1s; animation-delay:1s;}


#svg .sun[data-sun="off"]>span:nth-child(1)>i:nth-child(2){opacity:0; -webkit-animation-name:sun-1_reverse; animation-name:sun-1_reverse;}
#svg .sun[data-sun="off"]>span:nth-child(2)>i{opacity:1; -webkit-animation-name:sun-2_reverse; animation-name:sun-2_reverse;}

#svg .sun[data-sun="off"]>span:nth-child(1)>i:nth-child(2){-webkit-animation-delay:1s; animation-delay:1s;}
#svg .sun[data-sun="off"]>span:nth-child(2)>i:nth-child(1){-webkit-animation-delay:0.8s; animation-delay:0.8s;}
#svg .sun[data-sun="off"]>span:nth-child(2)>i:nth-child(2){-webkit-animation-delay:0.4s; animation-delay:0.4s;}
#svg .sun[data-sun="off"]>span:nth-child(2)>i:nth-child(3){-webkit-animation-delay:0s; animation-delay:0s;}