/* ëŒ */
/* 
266.79 265.81
*/
#svg .tube{
    display:block; position:absolute; left:24.6%; bottom:0; width:21.9%; height:32.4%;
    opacity:0; 
    -webkit-transform:translateY(3%); transform:translateY(3%);
    -webkit-transition:all 0.3s linear; transition:all 0.3s linear;
}
/* #svg .tube::before{content:""; display:block; position:absolute; left:0%; top:0%; z-index:1000; width:4px; height:4px; background-color:#000;} */


#svg .tube>span{
    -webkit-transform-origin:95% 60%; transform-origin:95% 60%;
    -webkit-transform:rotate(-22deg); transform:rotate(-22deg);
    -webkit-animation-name:tube-1; animation-name:tube-1;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:5s; animation-duration:5s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
}
#svg .tube>span>i:nth-child(1){z-index:100; background-image:url(../../img/ani/tube_7.svg);}
#svg .tube>span>i:nth-child(1)::before{
    opacity:0; content:""; display:block; position:absolute; left:75%; top:31%; width:17.7%; height:12.2%; background-image:url(../../img/ani/tube_3.svg); background-repeat:no-repeat; background-position:left top; background-size:contain;
    -webkit-animation-name:tube-2_pado_right; animation-name:tube-2_pado_right;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:5s; animation-duration:5s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
    
}
#svg .tube>span>i:nth-child(1)::after{
    opacity:0; content:""; display:block; position:absolute; left:62%; top:40%; width:17.7%; height:12.2%; background-image:url(../../img/ani/tube_9.svg); background-repeat:no-repeat; background-position:left top; background-size:contain;
    -webkit-animation-name:tube-2_pado_left; animation-name:tube-2_pado_left;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:5s; animation-duration:5s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
    -webkit-animation-delay:2.5s; animation-delay:2.5s;
}
#svg .tube>span::after{
    content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%; background-image:url(../../img/ani/tube_11.svg); background-repeat:no-repeat; background-position:left top; background-size:contain;
    -webkit-transform-origin:95% 60%; transform-origin:95% 60%;
    -webkit-animation-name:tube-0; animation-name:tube-0;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:5s; animation-duration:5s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
}

#svg .tube>span>i:nth-child(2)>span{
    -webkit-transform-origin:76.5% 42%; transform-origin:76.5% 42%;
    -webkit-transform:rotate(30deg); transform:rotate(30deg);
    -webkit-animation-name:tube-2; animation-name:tube-2;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:5s; animation-duration:5s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
}
#svg .tube>span>i:nth-child(2)>span>i:nth-child(1){z-index:90; background-image:url(../../img/ani/tube_6.svg);}
#svg .tube>span>i:nth-child(2)>span>i:nth-child(1)::after{
    opacity:0; content:""; display:block; position:absolute; left:36%; top:35%; width:17.7%; height:12.2%; background-image:url(../../img/ani/tube_9.svg); background-repeat:no-repeat; background-position:left top; background-size:contain;
    -webkit-animation-name:tube-3_pado_left; animation-name:tube-3_pado_left;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:5s; animation-duration:5s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
}
#svg .tube>span>i:nth-child(2)>span>i:nth-child(1)::before{
    opacity:0; content:""; display:block; position:absolute; left:43%; top:20%; width:17.7%; height:12.2%; background-image:url(../../img/ani/tube_3.svg); background-repeat:no-repeat; background-position:left top; background-size:contain;
    -webkit-animation-name:tube-3_pado_right; animation-name:tube-3_pado_right;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:5s; animation-duration:5s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
    -webkit-animation-delay:2.5s; animation-delay:2.5s;
}

#svg .tube>span>i:nth-child(2)>span>i:nth-child(2)>span{
    -webkit-transform-origin:48% 33%; top:1%; left:-0.5%; transform-origin:48% 33%; top:1%; left:-0.5%;
    -webkit-transform:rotate(-32deg); transform:rotate(-32deg);
    -webkit-animation-name:tube-3; animation-name:tube-3;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:5s; animation-duration:5s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
}
#svg .tube>span>i:nth-child(2)>span>i:nth-child(2)>span>i:nth-child(1){z-index:80; background-image:url(../../img/ani/tube_5.svg);}

#svg .tube>span>i:nth-child(2)>span>i:nth-child(2)>span>i:nth-child(2)>span{
    -webkit-transform-origin:27% 14%; top:-1%; transform-origin:27% 14%; top:-1%;
    -webkit-transform:rotate(20deg); transform:rotate(20deg);
    -webkit-animation-name:tube-4; animation-name:tube-4;
    -webkit-animation-timing-function:linear; animation-timing-function:linear;
    -webkit-animation-duration:5s; animation-duration:5s;
    -webkit-animation-fill-mode:forwards; animation-fill-mode:forwards;
    -webkit-animation-iteration-count:infinite; animation-iteration-count:infinite;
}
#svg .tube>span>i:nth-child(2)>span>i:nth-child(2)>span>i:nth-child(2)>span>i:nth-child(1){z-index:70; background-image:url(../../img/ani/tube_4.svg);}
#svg .tube>span>i:nth-child(2)>span>i:nth-child(2)>span>i:nth-child(2)>span>i:nth-child(2){background-image:url(../../img/ani/tube_1.svg);}
#svg .tube>span>i:nth-child(2)>span>i:nth-child(2)>span>i:nth-child(2)>span>i:nth-child(3){z-index:90; background-image:url(../../img/ani/tube_8.svg);}


#svg .tube[data-tube="on"]{opacity:1; -webkit-transform:translateY(0); transform:translateY(0);}
#svg .tube:not([data-tube="on"]){opacity:0;}

@-webkit-keyframes tube-0 {
    0%,100%{-webkit-transform:rotate(12deg); transform:rotate(12deg);}
    50%{-webkit-transform:rotate(-10deg); transform:rotate(-10deg);}
}
@keyframes tube-0 {
    0%,100%{-webkit-transform:rotate(12deg); transform:rotate(12deg);}
    50%{-webkit-transform:rotate(-10deg); transform:rotate(-10deg);}
}
@-webkit-keyframes tube-1 {
    0%,100%{-webkit-transform:rotate(-12deg); transform:rotate(-12deg);}
    50%{-webkit-transform:rotate(2deg); transform:rotate(2deg);}
}
@keyframes tube-1 {
    0%,100%{-webkit-transform:rotate(-12deg); transform:rotate(-12deg);}
    50%{-webkit-transform:rotate(2deg); transform:rotate(2deg);}
}
@-webkit-keyframes tube-2 {
    0%,100%{-webkit-transform:rotate(40deg); transform:rotate(40deg);}
    50%{-webkit-transform:rotate(10deg); transform:rotate(10deg);}
}
@keyframes tube-2 {
    0%,100%{-webkit-transform:rotate(40deg); transform:rotate(40deg);}
    50%{-webkit-transform:rotate(10deg); transform:rotate(10deg);}
}
@-webkit-keyframes tube-3 {
    0%,100%{-webkit-transform:rotate(-50deg); transform:rotate(-50deg);}
    50%{-webkit-transform:rotate(-10deg); transform:rotate(-10deg);}
}
@keyframes tube-3 {
    0%,100%{-webkit-transform:rotate(-50deg); transform:rotate(-50deg);}
    50%{-webkit-transform:rotate(-10deg); transform:rotate(-10deg);}
}
@-webkit-keyframes tube-4 {
    0%,100%{-webkit-transform:rotate(30deg); transform:rotate(30deg);}
    50%{-webkit-transform:rotate(-10deg); transform:rotate(-10deg);}
}
@keyframes tube-4 {
    0%,100%{-webkit-transform:rotate(30deg); transform:rotate(30deg);}
    50%{-webkit-transform:rotate(-10deg); transform:rotate(-10deg);}
}
@-webkit-keyframes tube-2_pado_right {
    0%,30%,50%,100%{opacity:0;}
    40%{opacity:1;}
    0%,30%{-webkit-transform:translate(0,0); transform:translate(0,0);}
    60%,100%{-webkit-transform:translate(10%,-10%); transform:translate(10%,-10%);}
}
@keyframes tube-2_pado_right {
    0%,30%,50%,100%{opacity:0;}
    40%{opacity:1;}
    0%,30%{-webkit-transform:translate(0,0); transform:translate(0,0);}
    60%,100%{-webkit-transform:translate(10%,-10%); transform:translate(10%,-10%);}
}
@-webkit-keyframes tube-2_pado_left {
    0%,30%,50%,100%{opacity:0;}
    40%{opacity:1;}
    0%,30%{-webkit-transform:rotate(30deg) translate(0,0); transform:rotate(30deg) translate(0,0);}
    60%,100%{-webkit-transform:rotate(30deg) translate(-20%,20%); transform:rotate(30deg) translate(-20%,20%);}
}
@keyframes tube-2_pado_left {
    0%,30%,50%,100%{opacity:0;}
    40%{opacity:1;}
    0%,30%{-webkit-transform:rotate(30deg) translate(0,0); transform:rotate(30deg) translate(0,0);}
    60%,100%{-webkit-transform:rotate(30deg) translate(-20%,20%); transform:rotate(30deg) translate(-20%,20%);}
}
@-webkit-keyframes tube-3_pado_right {
    0%,30%,50%,100%{opacity:0;}
    40%{opacity:1;}
    0%,30%{-webkit-transform:rotate(-28deg) translate(0,0); transform:rotate(-28deg) translate(0,0);}
    60%,100%{-webkit-transform:rotate(-28deg) translate(10%,-10%); transform:rotate(-28deg) translate(10%,-10%);}
}
@keyframes tube-3_pado_right {
    0%,30%,50%,100%{opacity:0;}
    40%{opacity:1;}
    0%,30%{-webkit-transform:rotate(-28deg) translate(0,0); transform:rotate(-28deg) translate(0,0);}
    60%,100%{-webkit-transform:rotate(-28deg) translate(10%,-10%); transform:rotate(-28deg) translate(10%,-10%);}
}
@-webkit-keyframes tube-3_pado_left {
    0%,30%,50%,100%{opacity:0;}
    40%{opacity:1;}
    0%,30%{-webkit-transform:rotate(-10deg) translate(0,0); transform:rotate(-10deg) translate(0,0);}
    60%,100%{-webkit-transform:rotate(-10deg) translate(-20%,20%); transform:rotate(-10deg) translate(-20%,20%);}
}
@keyframes tube-3_pado_left {
    0%,30%,50%,100%{opacity:0;}
    40%{opacity:1;}
    0%,30%{-webkit-transform:rotate(-10deg) translate(0,0); transform:rotate(-10deg) translate(0,0);}
    60%,100%{-webkit-transform:rotate(-10deg) translate(-20%,20%); transform:rotate(-10deg) translate(-20%,20%);}
}