@charset "utf-8";




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   b_tab
   게시판 탭

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#b_tab{margin-bottom:2.5em;}
#b_tab>ul{display:inline-block; vertical-align:middle;}
#b_tab>ul li{display:inline-block;}
#b_tab>ul li:not(:last-child){margin-right:0.8em;}
#b_tab>ul li a{display:block; min-width:11.25em; height:3.75em; line-height:calc(3.75em - 2px); padding:0 1.2em; background-color:#fff; border:1px solid #ddd; border-radius:0.5em; box-shadow:0 6px 8px rgba(26, 32, 44, 0.04); box-sizing:border-box;}
#b_tab>ul li a:hover{box-shadow:0 6px 8px rgba(26, 32, 44, 0.07);}
#b_tab>ul li a.on{background-color:#EC1A5B; border-color:#EC1A5B; box-shadow:none; color:#fff;}
#b_tab>ul li[data-icon] a:before{content:""; display:inline-block; width:2.5em; height:2.5em; margin-top:-0.35em; margin-right:0.5em; background-color:#F6F7FE; background-repeat:no-repeat; background-position:center; background-size:100%; border-radius:50%; vertical-align:middle;}
#b_tab>ul li[data-icon] a.on:before{background-color:rgba(255,255,255,0.2);}
#b_tab>ul li[data-icon="video"] a:before{background-image:url(../../../images/site/enter/content/listtop_icon_tab_video.svg);}
#b_tab>ul li[data-icon="video"] a.on:before{background-image:url(../../../images/site/enter/content/listtop_icon_tab_video_ov.svg);}

@media screen and (max-width:640px){
    #b_tab{margin-bottom:1.5em;}
    #b_tab>ul li{margin-bottom:0.4em;}
    #b_tab>ul li:not(:last-child){margin-right:0.2em;}
    #b_tab>ul li a{min-width:auto; height:3em; line-height:calc(3em - 2px);}
    #b_tab>ul li[data-icon] a:before{width:2em; height:2em; margin-top:-0.2em;}
}




/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   board_search
   검색

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.board_search{margin-bottom: 1.25em;}
.board_search:after{content: ""; display: block; clear: both;}
.board_search .counts{float:left; padding-top:0.7em;}
.board_search .counts em{font-style:normal; color:#333;}
.board_search .counts>span{color:#666;}
.board_search .counts>span:nth-child(n+2){margin-left:1em;}
.board_search .views{float:right;}
.board_search .views:after{content: ""; display: block; clear: both; }
.board_search .views [data-skin="select"]{position:relative; float: left; display:inline-block; margin-right:0.5em; vertical-align:middle;}
.board_search .views [data-skin="select"]:after{content:""; display:none; position:absolute; right:3em; top:0; width:1px; height:100%; background-color:#E6E6E6;}
.board_search .views [data-skin="select"] select{
    width:10em; height:3.158em; padding:0 2.2em 0 1em; border:1px solid #E6E6E6; 
    appearance:none; -webkit-appearance:none; -moz-appearance:none;
    background-position:right 1.2em center;
}
.board_search .views .input_btn{float: left; display:inline-block; vertical-align:middle;}
.board_search .views .input_btn:after{content: ""; display: block; clear: both; }
.board_search .views .input_btn [data-skin="input"]{float: left;}
.board_search .views .input_btn [data-skin="input"] input{width: 17em; height:3.158em; padding:0 1em; border:1px solid #E6E6E6;}
.board_search .views .input_btn [data-skin="btn"]{float: left; position:relative; height: 3.15em; padding:0 3.416em 0 1.416em; margin-left:0.5em; font-size: 0.95em; line-height: 3.15em; color:#fff; background-color:#082B52;}
.board_search .views .input_btn [data-skin="btn"]:after{content:""; position:absolute; right:1.2em; top:0; width:1.0625em; height:100%; background-image:url(../../../images/site/kor/layout/border_search_icon.svg); background-repeat:no-repeat; background-position:center center; background-size:contain;}

.board_search[data-type="2"]{padding:2.1875em 2em; text-align:center; background-color:#F2F5FA;}
.board_search[data-type="2"] .views{float:none; display:inline-block; vertical-align:top;}
.board_search[data-type="2"] .views [data-skin="select"] select{background-color:#fff;}


@media screen and (max-width:1024px){
    .board_search .views .input_btn [data-skin="input"] input{width: 14em;}
    .board_search .views .input_btn [data-skin="btn"]{padding: 0 2em;}
}
@media screen and (max-width:640px){
    .board_search .views{font-size: 12px;}
    .board_search .counts{float: none; display: block; padding-top: 0; margin-bottom: 0.5em;}
    .board_search .views{float: none; display: block;}
    .board_search .views .input_btn{width: calc(100% - 10.5em);}
    .board_search .views .input_btn [data-skin="input"]{width:calc(100% - 6.5em);}
    .board_search .views .input_btn [data-skin="input"] input{width: 100%; max-width: 100%;}
    .board_search .views .input_btn [data-skin="btn"]{width:6em; padding:0; height: 3em; line-height: 3em; text-align:center; font-size: 1em;}
    .board_search .views .input_btn [data-skin="btn"]:after{display:none;}
}
@media screen and (max-width:420px){
    .board_search .views [data-skin="select"] select{width: 8em;}
    .board_search .views .input_btn{width: calc(100% - 8.6em);}
    .board_search .views .input_btn [data-skin="input"]{width:calc(100% - 5.5em);}
    .board_search .views .input_btn [data-skin="btn"]{width: 5em;}
}
@media screen and (max-width:400px){
    .board_search .views [data-skin="select"]{width:100%; margin-right:0;}
    .board_search .views [data-skin="select"] select{width:100%; max-width:100%;}
    .board_search .views .input_btn{width:100%; margin-top:2px;}
    .board_search .views .input_btn [data-skin="input"]{width:100%;}
    .board_search .views .input_btn [data-skin="btn"]{width:100%; margin-left:0; margin-top:2px;}
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   page
   페이징

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.page a,
.page a:link,
.page a:visited,
.page a:active{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.page{margin:3.16em 0 0 0; font-size:0.9375em;  text-align:center;}
.page a{margin-right: 0.2em; border:1px solid #fff; text-align:center; vertical-align:middle; color: #666; font-weight: 400;}
.page a.on,
.page a:hover{font-weight: 500; color:#fff; background-color:#0F3192 !important; border-color:rgba(80, 120, 231, 0.05) !important;}
.page a,
.page a:link,
.page a:visited,
.page a:active{display:inline-block; width:2.134em; height:2.134em; line-height:calc(2.134em - 2px); text-decoration:none; color:#fff; background-color:#C4C4C4;}

.page a.page_first,
.page a.page_left,
.page a.page_right,
.page a.page_end{overflow:hidden; text-indent:-2000px; border:none !important; background-color:transparent !important;}
.page a.page_first,
.page a.page_end{background-image:url(../../../images/site/skin/page_first.svg); background-repeat: no-repeat; background-position: center center;}
.page a.page_end{transform:rotate(180deg);-webkit-transform:rotate(180deg);}
.page a.page_first:hover,
.page a.page_end:hover{border-color:#111 !important; background-color:#fff !important; background-image: url(../../../images/site/skin/page_first.svg); border-color: #EC1A5B; background-color: #EC1A5B;}

.page a.page_left,
.page a.page_right{background-image:url(../../../images/site/skin/page_left.svg); background-repeat: no-repeat; background-position: center center;}
.page a.page_right{transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.page a.page_left:hover,
.page a.page_right:hover{border-color:#111 !important; background-color:#fff !important; background-image: url(../../../images/site/skin/page_left.svg); border-color: #EC1A5B; background-color: #EC1A5B;}
.page a.page_left{margin-right:1.5em;}
.page a.page_right{margin-left:1.5em;}
.btn_bx{margin-top: 3.5em; text-align: center; }

@media screen and (max-width:1100px){
    .page{text-align:left;}
}
@media screen and (max-width:1024px){
    .page{margin-top:2em; text-align:center;}
}
@media screen and (max-width:900px){
    .page{text-align:left;}
}
@media screen and (max-width:700px){
    .page{text-align:center;}
    .page+[data-btngroup="1"]{margin-top:1em !important;}
}
@media screen and (max-width:640px){
    .page a{margin-right:0.2em;}
}
@media screen and (max-width:500px){
    .page{font-size:0.8em;}
}
@media screen and (max-width:420px){
    .page a{margin-right:0;}
}
@media screen and (max-width:360px){
    .page{font-size:0.7em;}
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   notice_list
   공지형_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.notice_list ul li,
.notice_list ul li p{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.notice_list{border-top:2px solid #222; border-bottom:1px solid #E6E6E6; font-size: 1.066em;}
.notice_list ul{display:table; table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0;}
.notice_list ul li{position:relative; display:table-row; border-bottom:1px solid #E6E6E6;}
.notice_list ul li:last-child{border-bottom:0;}
.notice_list ul li p,
.notice_list ul li .subject,
.notice_list ul li.thead strong{display:table-cell; text-align:center; vertical-align:middle;}
.notice_list ul li p,
.notice_list ul li .subject{padding:0.925em 0.65em;}
.notice_list ul li .subject{padding:0.925em 1.84em;}

.notice_list ul li p{font-weight:400; color: #666; box-sizing: border-box;}
.notice_list ul li p:last-child{border-right: none;}
.notice_list ul li .no{width:6.58em;}
.notice_list ul li .subject{width:auto;}
.notice_list ul li .date{width: 18.7%/*14.08em*/;}
.notice_list ul li .date{width:8em;}
.notice_list ul li .writer{width: 6em;}
.notice_list ul li .counter,
.notice_list ul li .no{width: 5em;}
.notice_list ul li .file_atch{width: 7em;}
.notice_list ul li .com{width: 5em;}
.notice_list ul li .com [data-btn]{
    width:100%; padding:0.3em 0.5em;
    border-radius:0.2em;
}
/*헤드 항목*/
.notice_list ul li.thead{background-color:#F3F3F3;}
.notice_list ul li.thead strong{padding:1.066em 1em; color: #111; font-weight:500; box-sizing: border-box;}
/*공지글*/
.notice_list ul li.notice{background:#F4F6F9;}
.notice_list ul li.notice .no{overflow:hidden; background-image:url(../../../images/site/skin/icon_board_notice.png); background-repeat:no-repeat; background-position:center center; text-indent:-1000px;}
.notice_list ul li.notice .subject a strong{font-weight:500;}
/*제목부분*/
.notice_list ul li .subject a{display:block; font-weight:400; color: #333;}
.notice_list ul li .subject a:hover{color: #333;}
.notice_list ul li .subject a strong{display:inline-block; font-weight:400;}
.notice_list ul li .subject a:hover strong{text-decoration:underline;}
/*아이콘*/
.notice_list ul li .subject a strong .new,
.notice_list ul li .subject a strong .re_end{overflow:hidden; display:none; margin:0 2px; vertical-align:middle;}
.notice_list ul li .subject a.new strong .new,
.notice_list ul li .subject a.re_end strong .re_end{display:inline-block;}
.notice_list ul li .subject a strong .new{width:13px; background:url(../../../images/site/skin/icon_board_new.gif) no-repeat left center; text-indent:-2000px;}
.notice_list ul li .subject a strong .re_end{width:auto; height:20px; line-height:20px; padding:0 5px; background:#337b08; font-size:13px; font-weight:400; color:#fff;}
.notice_list ul li .board_file{overflow:hidden; display:inline-block; width:12px; height:16px; background:url(../../../images/site/skin/icon_file_02.gif) no-repeat center center; vertical-align:initial; text-indent:-2000px;}

.notice_list ul li [data-btn="1"][data-size="s"]{font-size:0.9375em;}

/* board */
[data-btngroup="1"]{margin-top:3em;}
[data-btngroup="1"][data-align="left"]{text-align:left;}
[data-btngroup="1"][data-align="center"]{text-align:center;}
[data-btngroup="1"][data-align="right"]{text-align:right;}
[data-btngroup="1"][data-align="justify"]{display:table; table-layout:fixed; width:100%;}
[data-btngroup="1"][data-align="justify"]>div{display:table-cell;}
[data-btngroup="1"][data-align="justify"]>div:nth-child(1){text-align:left;}
[data-btngroup="1"][data-align="justify"]>div:nth-child(2){text-align:right;}

.page+[data-btngroup="1"]{margin-top:-2.5em;}
.pdf_top+[data-btngroup="1"]{margin-top:0em;}
@media screen and (max-width: 500px) {
    [data-btngroup="1"][data-align="justify"]{display:block;}
    [data-btngroup="1"][data-align="justify"]>div{display:block; text-align:center !important;}
}

@media screen and (max-width:1024px){
    .notice_list{font-size: 1em;}
}
@media screen and (max-width:840px){
    .notice_list ul,
    .notice_list ul li,
    .notice_list ul li{display:block;}
    .notice_list ul li{padding:0.85em 0.7em;}
    .notice_list ul li.thead{display:none;}
    .notice_list ul li .subject:after,
    .notice_list ul li .no:after{display: none;}
    .notice_list ul li p{border-right: none;}
    .notice_list ul li .no{width:3.2em; padding:0.2em 0; background-color: #F3F5FE; font-size: 0.93em; color: #2B4381; border-radius:5px; -webkit-border-radius:5px; }
    .notice_list ul li .date,
    .notice_list ul li .writer,
    .notice_list ul li .counter,
    .notice_list ul li .file_atch,
    .notice_list ul li .com{position: relative; display: inline-block; width:auto; padding:0; font-size: 0.93em; margin-right: 1em; }
    .notice_list ul li p:before{content: ""; position: absolute; top: 50%; right: calc(-0.5em - 2px); display: block; width: 1px; height: 60%; background-color: #DDD; transform: translateY(-50%);}
    .notice_list ul li .board_file{ background-size: 10px 14px; background-position: center center; vertical-align: sub;}
    .notice_list ul li .subject:before,
    .notice_list ul li .no:before,
    .notice_list ul li p:last-child:before{display: none;}
    
    /*제목부분*/
    .notice_list ul li .subject{display:inline-block; width:100%; padding:0.8em 0 0.2em; border-right: none;}
    .notice_list ul li .subject a{line-height: 1;}
    .notice_list ul li .subject a strong{overflow:hidden; position:relative; width:auto; max-width:100%; min-height:18px; white-space:nowrap; text-overflow:ellipsis; box-sizing:border-box;}
    /*아이콘*/
    .notice_list ul li .subject a strong{position:relative; max-width:100%;}
    .notice_list ul li .subject a strong .new{position:absolute; top:0; margin:0;}
    .notice_list ul li .subject a.new strong{padding-right:16px;}
    .notice_list ul li .subject a.new strong .new{right:0;}
}
@media screen and (max-width:640px){
    .notice_list ul li{padding: 0.85em 0.6em;}
    .notice_list ul li .no{width: 3em;}
    .notice_list ul li.notice .no{display:none;}
    .notice_list ul li .subject{padding:0.8em 0 0;}
    .notice_list ul li.notice .subject{padding:0;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   faq_list
   FAQ_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.faq_list li,
.faq_list li strong a,
.faq_list li .question a,
.faq_list li .question a:before,
.faq_list li .question a:after{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.faq_list{margin-top:1.5em; border-top:1px solid #D1D1D1;}
.faq_list li{overflow:hidden; position:relative;}
/*질문*/
.faq_list li .question{overflow:hidden; display:block;}
.faq_list li:last-child .question{border-bottom:0;}
.faq_list li .question a{position:relative; display:block; width:100%; padding:1.657em 3.7em 1.657em 5em;  border-bottom:1px solid #D1D1D1; box-sizing:border-box;}
.faq_list li .question a:hover,
.faq_list li .question a:active,
.faq_list li .question a:link{text-decoration:none;}
.faq_list li .question a:before{content:""; display:block; position:absolute; top:calc(50% - (3.125em / 2)); left:2em; width:3.125em; height:3.125em; background:#F2F5FA url(../../../images/site/kor/layout/icon_board_question.svg) no-repeat 0 0; background-size:100%; border-radius:50%; color:#fff;}
.faq_list li .question a:after{
    content:""; position:absolute; top:calc(50% - 0.45em); right:2.2em; display:block; width:1.5em; height:0.9em; background-image:url(../../../images/site/kor/layout/faq_down.svg); background-repeat:no-repeat; background-position:left top; background-size:100%;
    transform:rotate(0deg); -webkit-transform:rotate(0deg);
}
.faq_list li .question a span{display: block; padding:0 1.5em; font-size:1em; color:#222;}

/*on*/
.faq_list li .question.on a{}
.faq_list li .question.on a:after{
    background-image:url(../../../images/site/kor/layout/faq_down_on.svg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg); 
}
.faq_list li .question.on a span{font-weight:500; color:#333;}

/*답변*/
.faq_list li .answer{display:none; padding:2em 1em 2em calc(5em + 1.5em); background-color:#F2F5FA;}
.faq_list li .answer p{font-size:0.95em;}

@media screen and (max-width:640px){
    .faq_list li .question a{padding:1.5em 3em 1.5em 3.9em;}
    .faq_list li .question a:before{left:1em;}
    .faq_list li .question a:after{right:1.5em;}
    .faq_list li .question a span{padding:0 1em;}
    .faq_list li .answer{padding:2em 1em 2em calc(3.9em + 1em);}
}
@media screen and (max-width:400px){
    .faq_list li .question a{padding:1.5em 2.2em 1.5em 2.5em;}
    .faq_list li .question a:before{width:2em; height:2em;}
    .faq_list li .question a:after{right:1em; width:1em; height:0.5em;}
    .faq_list li .answer{padding:1.5em 2em;}
}




/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
   bodo_list
   보도형_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.bodo_list ul li,
.bodo_list ul li a,
.bodo_list ul li a .photo,
.bodo_list ul li a .photo span img{transition:all 0.2s ease; -webkit-transition:all 0.2s ease;}

.bodo_list{margin-top:20px;}
.bodo_list ul{overflow:hidden; padding-top:2.5em; border-top:2px solid #333;}
.bodo_list ul li{padding-bottom:2em; border-bottom:1px solid #E5E5E5;}
.bodo_list ul li:not(:first-child){margin-top:2em;}
.bodo_list ul li a{position:relative; display:block; min-height:11.438em; padding-left:calc(17.813em + 3%);}
.bodo_list ul li a .photo{overflow:hidden; position:absolute; left:0; top:0; display:block; width:17.813em; height:11.438em; background-color:#F2F2F2;}
.bodo_list ul li a .photo span{display:block; position:absolute; top:0; left:50%; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.bodo_list ul li a .photo span img{height:100%; transform:scale(1); -webkit-transform:scale(1);}

.bodo_list ul li a .subject{overflow: hidden; display:inline-block; max-width:100%; padding-top:0.8em; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle; font-weight:500; font-size:1.1875em; color:#222; box-sizing:border-box;}
.bodo_list ul li a .contents{
    display:block; height:4.8em; line-height:1.6; margin:1.2em 0 1.2em; font-size:0.9375em; color:#353535;
    overflow:hidden; display:-webkit-box; text-overflow:ellipsis; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical;
}
.bodo_list ul li a .writer,
.bodo_list ul li a .date{font-size:0.9375em; color:#444;}
.bodo_list ul li a .date{margin-left:1em;}
.bodo_list ul li a .urls{display:inline-block; font-size:0.95em;}
.bodo_list ul li a .urls em{display:inline-block; width:4em; height:2em; line-height:calc(2em - 2px); margin-right:1em; border:1px solid #EC1A5B; border-radius:1em; text-align:center; font-style:normal; color:#EC1A5B; box-sizing:border-box;}

.bodo_list ul li a:hover .photo{box-shadow:3px 5px 10px rgba(170, 170, 170, 0.4);}
.bodo_list ul li a:hover .subject{text-decoration:underline;}

/*아이콘*/
.bodo_list ul li a .subject{position:relative;}
.bodo_list ul li a.new .subject{padding-right:18px;}
.bodo_list ul li a .subject .new{overflow:hidden; position:absolute; top:0; right:0; display:none; width:13px; background:url(../../../images/site/skin/icon_board_new.gif) no-repeat left center; text-indent:-2000px;}
.bodo_list ul li a.new .subject .new{display:inline-block;}




@media screen and (max-width:640px){
  /* .bodo_list ul li{padding-bottom:1.5em;}
  .bodo_list ul li a{min-height:6.5em; padding-left:0;}
  .bodo_list ul li a .photo{position:relative; width:11em; height:6.5em;}
  .bodo_list ul li a .subject{position:absolute; top:0; right:0; width:calc(100% - 8.8em - 3%);}
  .bodo_list ul li a .contents{position:absolute; top:2.5em; right:0; width:calc(100% - 11em - 3%); margin:0;}
  .bodo_list ul li a .urls{margin-top:0.8em;} */

  .bodo_list ul li a{min-height:7em; padding-left:calc(12em + 3%);}
  .bodo_list ul li a .photo{width:12em; height:7em;}
  .bodo_list ul li a .subject{padding-top:0;}
}
@media screen and (max-width:480px){
    .bodo_list{font-size:0.9em;}
}
@media screen and (max-width:360px){
    .bodo_list{font-size:0.8em;}
}
  


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   board_insert
   게시판 등록

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.board_insert .detail > li,
.board_insert .detail > li .titles{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}

.board_insert{display:block; padding:0; border-top:2px solid #2B4381; border-bottom:1px solid #DDD; font-size: 0.95em; color: #333;}
/*항목리스트*/
.board_insert .detail{overflow:hidden; background:#fff;}
.board_insert .detail > li{float:left; position:relative; width:100%; min-height:3.3em; padding-left:7.9em; border-top:1px solid #DDD; box-sizing:border-box;}
.board_insert .detail > li .titles{position:absolute; top:0; left:0; width:7.9em; height:100%; background-color:#fff;  box-sizing: border-box;}
.board_insert .detail > li .titles span{display:table; width:100%; height:100%;}
.board_insert .detail > li .titles strong{display:table-cell; width:100%; height:100%; text-align:center; vertical-align:middle; font-weight:700; color: #111;}
.board_insert .detail > li .titles strong .red{display:inline-block; width:auto; height:auto; margin-top:-5px; padding-left:2px; vertical-align:top;}
.board_insert .detail > li .txts,
.board_insert .detail > li .contents{padding:0.89em 0.7em;}
.board_insert .detail > li.filebox ul{padding:0;}
.board_insert .onlyOneFile.file_find{display: block; max-width: 45em;}
.board_insert .onlyOneFile.file_find:after{content:""; display: block; clear: both;}
.board_insert .onlyOneFile.file_find .upload-hidden,
.board_insert .detail > li .txts input[type="text"].upload-name{width: calc(50% - 2px);}

.board_insert .detail > li .f_names{display: inline-block; width: auto; margin-right: 2em;}
.board_insert .detail > li .txts input[type="text"].f_names_input{display: inline-block; width: 15em;}
.board_insert .detail > li .txts input[type="text"].f_names_input + a{vertical-align: middle;}

/*안에 인풋 요소들*/
.board_insert .detail > li .txts input[type="text"]{
    width:100%; height:2.34em; border-color: #ddd;
    -webkit-border-radius:0.266em;
    border-radius:0.266em;
}
.board_insert .detail > li .txts input[type="text"]:read-only{background-color:#F5F6F9;}
.board_insert .detail > li .txts textarea{
    width:100%; height:12em;
    -webkit-border-radius:0.266em;
    border-radius:0.266em;
}
.board_insert .detail > li .txts select{min-width:12em; height:2.34em;}

@media screen and (max-width:1024px){
    /*항목리스트*/
    .board_insert{font-size: 1em;}
}
@media screen and (max-width:740px){
    /*첨부파일 리스트*/
    .board_insert .detail > li .txts .file_attach li input[type="file"]{width:205px;}
}
@media screen and (max-width:640px){
    .board_insert .detail > li{min-height:2.72em; padding-left: 7em;}
    .board_insert .detail > li .txts{padding:0.6em 0.7em;}
    /*안에 인풋 요소들*/
    .board_insert .detail > li .titles{width: 7em;}
    .board_insert .detail > li .txts input[type="text"]{height:2.15em;}
    .board_insert .detail > li .txts select{height:2.15em;}
    .board_insert .detail > li .txts textarea{height:11em;}
    /*첨부파일 리스트*/
    .board_insert .detail > li .txts .file_attach li input[type="file"]{display:block; width:100%; margin-bottom:3px;}
    .board_insert .detail > li .txts .file_attach li input[type="text"]{width:78%;}
    .board_insert .onlyOneFile.file_find .upload-hidden,
    .board_insert .detail > li .txts input[type="text"].upload-name{float: none; width: 100%;}
    .board_insert .detail > li .txts input[type="text"].upload-name{margin-top: 0.5em;}
    .board_insert .detail > li .txts .file_attach li input[type="text"].f_names_input{ width: calc(100% - 4em);}
    
    
}
@media screen and (max-width:540px){
    /*첨부파일 리스트*/
    .board_insert .detail > li .txts .file_attach li input[type="text"]{width:70%;}
}
@media screen and (max-width:500px){
    .board_insert .detail > li .txts select:nth-child(n+2){display: block;margin-top: 0.4em;}
}
@media screen and (max-width:420px){
    .board_insert .detail > li{padding-left: 6.4em;}
    /*안에 인풋 요소들*/
    .board_insert .detail > li .titles{width: 6.4em;}
    /*첨부파일 리스트*/
    .board_insert .detail > li .txts .file_attach li .btn{min-width:50px;}
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   board_view
   게시판 상세

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.board_view .subject,
.board_view .detail li,
.board_view .detail > li .titles{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.board_view{display:block; padding:0; border-top:1px solid #111; border-bottom:1px solid #111; font-size: 1.066em; color: #333;}
/*항목리스트*/
.board_view .detail{overflow:hidden; background:#fff;}
.board_view .subject {display: block; width: 100%; height: auto; line-height: 1.3; padding: 1em; background-color: #F6F7FE; font-size: 1.34em; font-weight: 700; color: #1C1A54; box-sizing: border-box;}
.board_view .detail > li{float:left; position:relative; width:100%; min-height:3.3em; padding-left:7.9em; border-top:1px solid #E8EAF0; box-sizing:border-box;}
.board_view .detail > li .titles{position:absolute; top:0; left:0; width:7.9em; height:100%; background-color:#fff; box-sizing: border-box;}
.board_view .detail > li .titles span{display:table; width:100%; height:100%;}
.board_view .detail > li .titles strong{display:table-cell; width:100%; height:100%; padding:0 1em; text-align:left; vertical-align:middle; font-weight:500; color: #111;}
.board_view .detail > li .titles strong .red{display:inline-block; width:auto; height:auto; margin-top:-5px; padding-left:2px; vertical-align:top;}
.board_view .detail > li .txts,
.board_view .detail > li .contents{padding:1em 1em;}
.board_view .detail > li .txts{color:#666;}
.board_view .detail > li:first-child .txts{font-weight:500; font-size:1.125em; color:#111;}
.board_view .detail > li .contents{color:#333;}
.board_view .detail > li.filebox ul{padding:1.32em 0.7em;}

/*첨부파일*/
.board_view .detail > li.filebox ul li{float:none; min-height:auto; margin-top:0.66em; padding-left:0; border-top:0;}
.board_view .detail > li.filebox ul li:first-child{margin-top:0;}
.board_view .detail > li.filebox ul li>span{display:inline-block; padding-top:0.7em; margin-right:1em; color:#666;}
.board_view .detail > li.filebox ul li a.icon_file{display:inline-block; margin-right: 1.65em; padding-bottom:0.14em; padding-left:1.4em; background:url(../../../images/site/skin/icon_file_02.svg) no-repeat left top 0.25em; word-break:break-all; color: #424242; text-decoration: underline; text-underline-position: under; box-sizing:border-box;}
.board_view .detail > li.filebox ul li a.fileview{display: inline-block; color: #fff; font-weight: 300; background:#818898 url(../../../images/site/skin/fileview_ico.svg) no-repeat left 0.4em center;  padding: 0.32em 0.49em 0.32em 1.87em; font-size: 0.95em; border-radius: 4px; -webkit-border-radius: 4px; box-sizing: border-box;}

/*내용*/
.board_view .detail > li.no_title{padding-left:0;}
.board_view .detail > li.no_title .contents{min-height:20em; padding:2.65em 0;}
.board_view .detail > li.no_title .contents .iframe {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 50%;
    margin-bottom:2em;
  }
   
  .board_view .detail > li.no_title .contents .iframe iframe {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
.board_view .detail > li .contents img{display: block; max-width:70%; margin:0 auto; padding-bottom:1em;}

/*이전글,다음글*/
.prev_next_link{overflow:hidden; margin-top:2em; font-size:1.066em; border-top:1px solid #E8EAF0; border-bottom:1px solid #E8EAF0;}
.prev_next_link ul li{display: table; table-layout: fixed; min-height:4.3em; width: 100%; box-sizing:border-box;}
.prev_next_link ul li:nth-child(2){border-top: 1px solid #E8EAF0;}
.prev_next_link ul li strong{display: table-cell; width: 7.9em; padding:0 1em; text-align:left; vertical-align: middle; background:#fff; color: #111; font-weight:500;}
.prev_next_link ul li a{display: table-cell; vertical-align: middle; overflow:hidden; padding:0 0.79em; text-overflow:ellipsis; white-space:nowrap; color:#333;}
.prev_next_link ul li a:hover{text-decoration:underline;}
.prev_next_link ul li p{display: table-cell; padding:0 0.79em; vertical-align: middle;}

.board_view .detail > li [data-btn="1"][data-size="s"]{font-size:0.9375em;}

/* 답변 */
[data-answer="1"]{padding:2.66em; background-color:#F3F5FE;}
[data-answer="1"]>.head>strong{display:block; font-weight:600; font-size:1.2em; color:#2B4381;}
[data-answer="1"]>.head>strong:after{content:""; display:inline-block; width:1.333em; height:1.333em; margin-left:0.3em; vertical-align:top; background-image:url(../../../images/site/skin/icon_answer.svg); background-repeat:no-repeat; background-position:center center; background-size:contain;}
[data-answer="1"]>.head>span{display:block; margin-top:1em; font-size:1.066em; color:#666;}
[data-answer="1"]>.head>span:after{content:""; display:block; clear:both;}
[data-answer="1"]>.head>span>span{float:left; display:block; position:relative;}
[data-answer="1"]>.head>span>span:nth-child(n+2){padding-left:calc(1em + 1px);}
[data-answer="1"]>.head>span>span:nth-child(n+2):before{
    content:""; display:block; position:absolute; left:0.5em; top:50%; width:1px; height:60%; background-color:#C4C4C4;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
[data-answer="1"]>.midd{margin-top:1.5em; font-size:1.066em; color:#333;}
@media screen and (max-width:400px){
    [data-answer="1"]{padding:1.5em;}
}

@media screen and (max-width:1024px){
    /*항목리스트*/
    .board_view{font-size: 1em;}
    /*이전글,다음글*/
    .prev_next_link{font-size: 1em;}
}
@media screen and (max-width:840px){
    .board_view .subject {padding: 1em 1.2em;}
}
@media screen and (max-width:740px){
    /*항목리스트*/
    .board_view .detail > li.no_title .contents iframe{height:355px;} 
}
@media screen and (max-width:640px){
    .board_view .subject {padding: 0.8em 1em;}
    /*항목리스트*/
    .board_view .detail > li{min-height:2.72em; padding-left: 7em;}
    .board_view .detail > li:first-child{padding-left:0;}
    .board_view .detail > li:first-child .titles{display:none;}
    .board_view .detail > li.fix{width:100%;}
    .board_view .detail > li .titles{width: 7em;}
    .board_view .detail > li .txts,
    .board_view .detail > li .contents{padding: 0.6em 0.7em;}

    .board_view .detail > li.no_title .contents{min-height:14em; padding:10px 10px; padding:1.2em 0 ;}
    .board_view .detail > li .contents img{max-width:80%;}

    .board_view .detail > li.filebox{padding-left:0;}
    .board_view .detail > li.filebox .titles,
    .board_view .detail > li.filebox ul{display:block; width:100%;}
    .board_view .detail > li.filebox .titles{position:relative; height:auto; padding-top:1em;}
    .board_view .detail > li.filebox ul{padding:0 0.7em 1em 0.7em;}
    .board_view .detail > li.filebox ul li a.icon_file{padding-left:16px; background-position:left top 3px;}

    /*이전글,다음글*/
    .prev_next_link ul li{min-height: 2.72em;}
    .prev_next_link ul li strong{width: 7em;}
    .prev_next_link ul li a,
    .prev_next_link ul li p{padding: 0 0.7em;}
}
@media screen and (max-width:480px){
    .board_view .detail > li.no_title .contents iframe{height:230px;}
}
@media screen and (max-width:420px){
    .board_view .detail > li{padding-left: 5.4em;}
    .board_view .detail > li .titles{width: 5.4em;}
    
    /*이전글,다음글*/
    .prev_next_link ul li strong{width: 5.4em;} 
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
   photo_list
   포토형_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.photo_list ul li,
.photo_list ul li a,
.photo_list ul li a .photo,
.photo_list ul li a .photo span img{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.photo_list{}
.photo_list ul{overflow:hidden; padding:2.5em 0; border-top:1px solid #ECECEC; border-bottom:1px solid #ECECEC;}
.photo_list ul li{position:relative; float:left; width:calc((100% - 1px - (1.75em * 2)) / 3); height:auto; margin-left:1.75em; box-sizing:border-box;}
.photo_list ul li:nth-child(3n+1){clear:both; margin-left:0;}
.photo_list ul li:nth-child(3n+1):before{content:""; display:block; position:absolute; left:0; top:-2.5625em; width:20000px; height:1px; background-color:#ECECEC;}
.photo_list ul li:nth-child(n+4){margin-top:5em;}
.photo_list ul li a{display:block; width:100%; height:100%;}

.photo_list ul li a .photo{overflow:hidden; position:relative; display:block; width:100%; height:auto; padding-top:65%; background-color:#eee;}
.photo_list ul li a .photo span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.photo_list ul li a .photo span img{height:100%; transform:scale(1); -webkit-transform:scale(1);}
.photo_list ul li a .subject,
.photo_list ul li a .date{padding:0;}
.photo_list ul li a .subject{overflow:hidden; display:block; height:3em; margin:1.277em 0 0.8em; font-weight:500; font-size:1.125em; color:#222;}
.photo_list ul li a .writer,
.photo_list ul li a .date{display:inline-block; font-weight:300; font-size:0.9375em; color:#444;}
.photo_list ul li a .writer{margin-right:1em;}

.photo_list ul li a:hover .photo span img{transform:scale(1.2); -webkit-transform:scale(1.2);}

@media screen and (max-width:720px){
    .photo_list ul li{width:calc((100% - 1px - (1.25em * 1)) / 2); margin-left:1.25em;}
    .photo_list ul li:nth-child(3n+1){clear:none; margin-left:1.25em;}
    .photo_list ul li:nth-child(3n+1):before{display:none;}
    .photo_list ul li:nth-child(2n+1){clear:both; margin-left:0;}
    .photo_list ul li:nth-child(n+3){margin-top:1.25em;}
    .photo_list ul li a:hover .photo span img{transform:none; -webkit-transform:none;}
}
@media screen and (max-width:500px){
    .photo_list ul li{width:100%; margin-left:0 !important;}
    .photo_list ul li:nth-child(n+2){margin-top:1.25em;}
}




/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
    no_board_data
    데이터 없는 경우

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.no_board_data{text-align:center; border-top:2px solid #222; border-bottom:1px solid #DDD; padding:80px 0; color: #333; transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}

@media screen and (max-width:640px){
  .no_board_data{padding:40px 0;}
}



.js_blind{display:none; position:fixed; left:0; top:0; z-index:3000; width:100%; height:100%; background-color:rgba(0,0,0,0.5);}
.js_password_box{
    display:none; position:fixed; left:50%; top:50%; z-index:3100; min-width:40em; padding:5em; background-color:#fff;
    -webkit-border-radius:0.5em;
    border-radius:0.5em;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}
.js_password_box>strong{display:block; line-height:1; text-align:center; font-size:20px;}
.js_password_box>div{text-align:center;}
.js_password_box>div:after{content:""; display:block; clear:both;}
.js_password_box>div>span{display:block; width:100%; padding:1em 0; font-size:1.4em;}
.js_password_box>div>input,
.js_password_box>div>a{float:left;}
.js_password_box>div>input{width:calc(100% - 1px - 5em); height:3em; line-height:calc(3em - 2px); font-size:1.4em;}
.js_password_box>div>a{width:5em; height:3em; line-height:3em; font-size:1.4em; color:#fff; background-color:#5078E7;}
.js_password_box .btn_close{overflow:hidden; position:absolute; right:0; top:0; width:6em; height:6em; text-indent:-1000px; background-image:url(../../../images/site/enter/layout/all_menu_close.svg); background-repeat:no-repeat; background-position:center center; background-size:contain;}

@media screen and (max-width:450px){
    .js_password_box{font-size:0.8em;}
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
    youtube
    데이터 없는 경우

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.youtube_list{margin-bottom:3em;}
.youtube_list>ul:after{content:""; display:block; clear:both;}
.youtube_list>ul>li{float:left; position:relative; width:calc((100% - 1px - (2em * 2)) / 3); margin-left:2em;}
.youtube_list>ul>li:nth-child(3n+1){clear:both; margin-left:0;}
.youtube_list>ul>li:nth-child(n+4){margin-top:2em;}
.youtube_list>ul>li>a{
	overflow:hidden; display:block; position:relative; z-index:0; width:100%; height:100%; border:1px solid #E5E7EE; background-color:#fff;
	-webkit-border-radius:0.8em;
	border-radius:0.8em;
	-webkit-transition:box-shadow 0.2s linear;
	transition:box-shadow 0.2s linear;
}
.youtube_list>ul>li .c{display:none;}
.youtube_list>ul>li .p{display:block; position:relative; z-index:0; background-repeat:no-repeat; background-position:center center; background-size:cover;}
.youtube_list>ul>li .p:before{
	content:""; display:block; position:absolute; left:calc(50% - 2.133em); top:calc(50% - 2.133em); z-index:50; width:4.266em; height:4.266em; background-color:rgba(0,0,0,0.5);
	background-image:url(../../../images/site/enter/content/movie_play.svg); background-repeat:no-repeat; background-position:center center; background-size:contain;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-transition:background-color 0.2s linear;
	transition:background-color 0.2s linear;
}
.youtube_list>ul>li .p>img{display:block; position:relative; z-index:0; width:100%;}
.youtube_list>ul>li .t{display:block; padding:1em 1.111em; font-weight:500; font-size:1.2em; color:#333;}


.youtube_list>ul>li>a:hover{
	-webkit-box-shadow: 0 0.8em 0.8em -0.8em rgba(80, 120, 231, 0.2);
	box-shadow: 0 0.8em 0.8em -0.8em rgba(80, 120, 231, 0.2);
}
.youtube_list>ul>li>a:hover .p:before{background-color:#EF5D66;}

.youtube_list>ul>li>a:hover ~ .h,
.youtube_list>ul>li .h:hover{width:6.4em; padding:0.4em 0.6em 0.4em 2.066em; background-color:#5078E7;}
@media screen and (max-width: 800px) {
    .youtube_list>ul>li{width:calc((100% - 1px - (2em * 1)) / 2);}
    .youtube_list>ul>li:nth-child(2n+1){clear:both; margin-left:0;}
    .youtube_list>ul>li:nth-child(n+3){margin-top:2em;}
}
@media screen and (max-width: 600px) {
    .youtube_list>ul>li{width:100%; margin-left:0 !important;}
    .youtube_list>ul>li:nth-child(n+2){margin-top:1em;}
}

/* 개인정보 수집이용 동의 */
.userdata{padding:2.266em 2.66em; background-color:#F7F8FE;}
.userdata>.head>strong{font-size:1.333em; color:#2B4381;}
.userdata>.midd{margin-top:1em;}
.userdata>.midd>ul{
    padding:2em; margin-top:1.5em; background-color:#fff;
    -webkit-border-radius:0.266em;
    border-radius:0.266em;
}
.userdata>.midd>ul>li{position:relative; padding-left:1.366em;}
.userdata>.midd>ul>li:before{content:""; display:block; position:absolute; left:0; top:0.15em; width:1.066em; height:1.066em; background-image:url(../../../images/site/enter/content/box_list_bul.svg); background-repeat:no-repeat; background-position:center center; background-size:contain;}
.userdata>.midd>ul>li:nth-child(n+2){margin-top:0.5em;}
.userdata>.foot{margin-top:1.5em;}


/* 게시판 슬라이드 포토 */
[data-slide="photo"]{position:relative; margin-bottom:2em;}
[data-slide="photo"] img{max-width:100% !important; padding:0 !important;}
[data-slide="photo"]>.head>img{display:block; width:100%; max-width:100%; margin:0 auto;}
[data-slide="photo"]>.midd{overflow:hidden; position:relative; height:7.4em; margin:1em 3em 0 3em;}
[data-slide="photo"]>.midd>ul{position:absolute; left:0; top:0; width:20000px; height:7.4em;}
[data-slide="photo"]>.midd>ul:after{content:""; display:block; clear:both;}
[data-slide="photo"]>.midd>ul>li{float:left; position:relative; height:7.4em; margin-right:1em;}
[data-slide="photo"]>.midd>ul>li>a{display:block; position:relative; height:100%;}
[data-slide="photo"]>.midd>ul>li>a:before{
    opacity:0; content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%; border:0.2em solid #FC5C42;
    -webkit-transition:opacity 0.2s linear;
    transition:opacity 0.2s linear;
}
[data-slide="photo"]>.midd>ul>li>a>img{height:100%;}
[data-slide="photo"]>.prev,
[data-slide="photo"]>.next{overflow:hidden; display:block; position:absolute; bottom:2.7em; width:1.125em; height:1.8125em; text-align:left; text-indent:-1000px; background-repeat:no-repeat; background-position:center center; background-size:contain;}
[data-slide="photo"]>.prev{left:0; background-image:url(../../../images/site/skin/page_prev.svg);}
[data-slide="photo"]>.next{right:0; background-image:url(../../../images/site/skin/page_next.svg);}
[data-slide="photo"]>.midd>ul>li.on>a:before{opacity:1;}
@media screen and (max-width: 600px) {
    [data-slide="photo"]{font-size:8px;}
}


/* mini board */
.notice_mini{position:relative; height:13.33em;}
.notice_mini>ul:before{content:""; display:block; position:absolute; left:0; top:2em; width:100%; height:1px; background-color:#222;}
.notice_mini>ul>li>a:not(.more){float:left; width:4em; height:2em; line-height:2em; text-align:center; border:1px solid #eee; border-bottom:none; color:#222; background-color:#fff;}
.notice_mini>ul>li:nth-child(n+2)>a:not(.more){margin-left:-1px;}
.notice_mini>ul>li>a:not(.more)>span{font-size:1em;}
.notice_mini>ul>li>div{display:none; position:absolute; left:0; top:2.3em; width:100%;}
.notice_mini>ul>li>div>ul{position:relative; z-index:100; font-size:0.9em;}
.notice_mini>ul>li>div>ul>li{padding:0.45em 0;}
.notice_mini>ul>li>div>ul>li:nth-child(n+2){border-top:1px solid #eee;}
.notice_mini>ul>li>div>ul>li>a{display:table; table-layout:fixed; position:relative; width:100%;}
.notice_mini>ul>li>div>ul>li>a>strong,
.notice_mini>ul>li>div>ul>li>a>span{display:table-cell;}
.notice_mini>ul>li>div>ul>li>a>strong{white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block; width:auto; font-weight:400; color:#222;}
.notice_mini>ul>li>div>ul>li>a>strong>i{margin-right:0.5em;}
.notice_mini>ul>li>div>ul>li>a>span:nth-of-type(1){width:4.5em; text-align:center; color:#666;}
.notice_mini>ul>li>div>ul>li>a>span:nth-of-type(2){width:6.5em; text-align:right; color:#666;}
.notice_mini>ul>li>.more{display:none; position:absolute; right:0; top:0.2em; width:0.8em; height:0.8em;}
.notice_mini>ul>li>.more>span{overflow:hidden; display:block; position:relative; text-align:left; text-indent:-1000px;}
.notice_mini>ul>li>.more>span:before,
.notice_mini>ul>li>.more>span:after{
    content:""; display:block; position:absolute; left:0; top:calc(50% - 1px); width:100%; height:2px; background-color:#222;
    -webkit-transition:transform 0.2s linear;
    transition:transform 0.2s linear;
}
.notice_mini>ul>li>.more>span:after{
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.notice_mini>ul>li>.more:hover>span:before{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.notice_mini>ul>li>.more:hover>span:after{
    -webkit-transform:rotate(270deg);
    transform:rotate(270deg);
}

.notice_mini>ul>li.on>a:not(.more){border-color:#1b4394; color:#fff; background-color:#1b4394;}
.notice_mini>ul>li.on>div,
.notice_mini>ul>li.on>.more{display:block;}

.no_mini_board_data{
    display:block; position:absolute; left:0; top:2em; z-index:0; width:100%; text-align:center;
}

.notice_mini>ul>li>div>ul+.no_mini_board_data{display:none;}

/* mini food */
.food_mini{position:relative;font-family: monospace !important;}
.food_mini .table{margin-top:0;font-size:0.9em;border-left:1px solid #ddd;border-right:1px solid #ddd;border-top: 0;}
.food_mini .table th,
.food_mini .table td{padding: 0.15em 0.4em !important;font-family: auto;font-size: 12px;}
.food_mini .table th{background-color: #6693db;color: #fff;font-weight: 700;line-height: 1;height: 1.7em;}
.food_mini .table td{height:auto; vertical-align:middle;}
.food_mini>.more{display:block;position:absolute;right: 0.5em;top: 0.3em;width: 15px;height: 15px;border:1px solid #ddd;background-color:#fff;box-sizing: border-box;}
.food_mini>.more>span{overflow:hidden; display:block; position:relative; text-align:left; text-indent:-1000px;}
.food_mini>.more>span:before,
.food_mini>.more>span:after{
    content:"";
    display:block;
    position:absolute;
    left: calc(50% - 4px);
    top: calc(50% - 5px);
    width: 8px;
    height:2px;
    background-color:#222;
    -webkit-transition:transform 0.2s linear;
    transition:transform 0.2s linear;
}
.food_mini>.more>span:after{
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
.food_mini>.more:hover>span:before{
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.food_mini>.more:hover>span:after{
    -webkit-transform:rotate(270deg);
    transform:rotate(270deg);
}