@charset "utf-8";

[id*="sec"]{position: relative;}
[id*="sec"] >.layout{padding: 6.5em 2em; box-sizing: border-box;}
[id*="sec"] .layout .tts{display: block; font-size: 3.5em; line-height: 1.57; text-align: center; font-family: 'GmarketSans'; letter-spacing: -0.02em; color: #000;}
[id*="sec"] .layout .tts > span{color: #385ea9;}


/*sec1*/
#sec1{margin-top: 9em; box-sizing: border-box; background-color: #e6f2f7; background: url(../../images/wood/main/visual.png) no-repeat bottom center; background-size: cover}
#sec1 .js_slide{width: 100%; height: 64em;}
#sec1 .js_slide .slogan{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#sec1 .js_slide .slogan .layout{position: relative; z-index: 1;  height: 100%;}
#sec1 .js_slide .slogan .layout .txts{padding-top: 15em; font-family: 'GmarketSans'; box-sizing: border-box;}
#sec1 .js_slide .slogan .layout .txts strong{font-size: 4em; line-height: 1.375; color: #fff; text-shadow: 0 0 7px rgba(0,0,0,0.14); letter-spacing: -0.02em;}
#sec1 .js_slide .slogan .layout .txts strong span{display: block; font-weight: 400;}
#sec1 .js_slide .slogan .layout .txts >span{display: block; margin-top: 1.5em; font-size: 2.3em; color: #fff; font-weight: 400; text-shadow: 0 0 7px rgba(0,0,0,1); letter-spacing: -0.02em; }
#sec1 .js_slide .move{position: relative; }
#sec1 .js_slide .move ul li{overflow: hidden;}
#sec1 .js_slide .move ul li img{
    position: absolute; top: 50%; left: 50%; min-width: 100%; min-height: 100%;
    transform: translate(-50%,-50%);
}
#sec1 .js_slide .move ul li.on img{
	animation-name:visual_eff;
	animation-duration:5s;
	animation-timing-function:linear;
}
@keyframes visual_eff{
	0%{transform: translate(-50%,-50%) scale(1.1);}
	100%{transform: translate(-50%,-50%) scale(1);}
}
#sec1 .js_slide .control{position: static; width:100%; height:0; top: auto; bottom: 0;}
#sec1 .js_slide .control a{overflow:hidden; text-indent:-2000px;}
#sec1 .js_slide .control .btn_left,
#sec1 .js_slide .control .btn_right{
	opacity:0.3; position:absolute; top:calc(50% - 4.6em); width:5.2em; height:9.2em; background:url(../../images/woodedu/main/visual_arrow.svg) no-repeat 0 0 !important;
	transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
#sec1 .js_slide .control .btn_left{left:4.5%; transform:rotate(180deg);}
#sec1 .js_slide .control .btn_right{right:4.5%;}
#sec1 .js_slide .control .btn_play,
#sec1 .js_slide .control .btn_stop{position:relative; bottom:15.5em; left:auto; right: auto; width:1.5em; height:1.7em; border: 0; vertical-align: middle;}
#sec1 .js_slide .control .btn_play{background:url(../../images/woodedu/main/visual_control_play.svg) no-repeat 0 0;}
#sec1 .js_slide .control .btn_stop{background:url(../../images/woodedu/main/visual_control_stop.svg) no-repeat 0 0;}
#sec1 .js_slide .control>ul{position:relative; display: inline-block; bottom:15.5em; left:auto; width:auto; margin-left:0; margin-right: 1em; text-align:center;}
#sec1 .js_slide .control>ul>li{display:inline-block; margin-right: 0; vertical-align:middle;}
#sec1 .js_slide .control>ul>li:first-child{margin-left: 0;}
#sec1 .js_slide .control>ul>li:not(:first-child){margin-left:1em;}
#sec1 .js_slide .control>ul>li>a{
    overflow:hidden; display:block; width:1.2em; height:1.2em; border: 0; background-color:rgba(255, 255, 255, 0.5); box-sizing: border-box;
    border-radius: 1.2em; -webkit-border-radius: 1.2em;
}

#sec1 .js_slide .control .btn_left:hover,
#sec1 .js_slide .control .btn_right:hover{opacity:1;}
#sec1 .js_slide .control>ul>li>a.on{background-color: #fff; width: 7em; }
#sec1 .open{
    position: absolute; top: 0; left: 50%; z-index: 1; display: table; table-layout: fixed; width: 19.6em; height: 19.6em; margin-top: 3.5em; margin-left: 51em; padding: 3em; text-align: center; background-color: #fff; box-sizing: border-box;
    border-radius: 50%; -webkit-border-radius: 50%;
	animation-name:open_eff;
	animation-duration:3s;
	animation-timing-function:linear;
    animation-iteration-count: infinite;
}
@keyframes open_eff{
	0%{transform: translateY(0);}
	50%{transform: translateY(1.5em);}
    100%{transform: translateY(0em);}
}
#sec1 .open:before{content: ""; position: absolute; top: -5em; left: calc(50% - 0.5px); display: block; width: 1px; height: 5em; background-color: rgba(255, 255, 255, 0.5); }
#sec1 .open .txts{display: table-cell; width: 100%; vertical-align: middle;}
#sec1 .open .txts p{position: relative; }
#sec1 .open .txts .t{display: inline-block; padding: 0.15em 1em; background-color: #3158a4; font-family: 'GmarketSans'; box-sizing: border-box;}
#sec1 .open .txts .t span{position: relative; font-size: 1.2em; color: #fff; letter-spacing: -0.02em;}
#sec1 .open .txts .t span:before{
    content: ""; display: inline-block; width: 4px; height: 4px; margin-right: 0.4em; background-color: #fff; vertical-align: middle;
    border-radius: 50%; -webkit-border-radius: 50%;
}
#sec1 .open .txts .t span:after{
    content: ""; display: inline-block; width: 4px; height: 4px; margin-left: 0.4em;  background-color: #fff; vertical-align: middle;
    border-radius: 50%; -webkit-border-radius: 50%;
}
#sec1 .open .txts .o{margin-top: 1.2em; font-family: 'GmarketSans';}
#sec1 .open .txts .o >span{font-size: 1.7em; line-height: 1.18; color: #666;}
#sec1 .open .txts .o >span>span{color: #385ea9;}
#sec1 .open .txts .d{display: inline-block; padding: 0.5em 2.6em; margin-top: 0.5em; background-color: #e6f2f7; box-sizing: border-box;}
#sec1 .open .txts .d span{color: #3e3e3e; letter-spacing: -0.02em; font-size: 1.5em;  font-family: 'GmarketSans';}

/*sec2*/
#sec2{z-index: 1;}
#sec2 .layout{padding: 0 2em;}
#sec2 .w{
    height: 25em; margin-top: -10em; background-color: #214ea6; box-shadow: 10px 0 20px rgba( 49, 88, 164, 0.3 );
    border-radius: 2em; -webkit-border-radius: 2em;
}
#sec2 .w:after{content: ""; display: block; clear: both;}
#sec2 .w .wr{float: left; display: table; table-layout: fixed; height: 100%;}
#sec2 .w div.wr{width: calc((100% - 1px) / 4);}
#sec2 .w ul.wr{width: calc(((100% - 1px) / 4) * 3);}
#sec2 .w .wr .in{display: table-cell; padding: 0 2em; text-align: center; vertical-align: middle; box-sizing: border-box;}
#sec2 .w ul.wr .in{border-left: 1px solid rgba(255,255,255,0.1);}
#sec2 .w .wr .in strong{display: block; font-family: 'GmarketSans'; font-weight: 400; }
#sec2 .w div.wr .in strong{font-size: 3em; line-height: 1.34; color: #fff; }
#sec2 .w ul.wr .in strong{font-size: 2.2em; line-height: 1.82; color: rgba(255, 255, 255, 0.5);}
#sec2 .w div.wr .in a{
    display: inline-block; margin-top: 1.5em; padding: 1.3em 3.26em; line-height: 1; background-color: #577dc7; text-decoration: none; font-family: 'GmarketSans'; box-sizing: border-box;
    border-radius: 2em; -webkit-border-radius: 2em;
}
#sec2 .w div.wr .in a span{font-size: 1.6em;  color: #fff; font-weight: 300; line-height: 1; letter-spacing: 1px;}
#sec2 .w div.wr .in p{margin-top: 0.8em; font-size: 1.5em; color: #fff; }
#sec2 .w ul.wr .in p{color: #fff;}
#sec2 .w ul.wr .in p:first-of-type{margin-top: 2.5em;}
#sec2 .w ul.wr .in p:not(:first-of-type){margin-top: 1.3em;}
#sec2 .w ul.wr .in p b{font-size: 1.9em; font-weight: 500;}
#sec2 .w ul.wr .in p i{font-size: 1.9em; font-weight: 400; font-style: normal;}
#sec2 .w ul.wr .in p span{font-size: 1.5em; }

/*sec3*/
#sec3{}
#sec3 .w{margin-top: 3.5em;}
#sec3 .w:after{content: ""; display: block; clear: both;}
#sec3 .w .wr{float: left; }
#sec3 .w ul.wr{width: calc(100% - 1px - 45.2em - 2em);}
#sec3 .w ul.wr:after{content: ""; display: block; clear: both;}
#sec3 .w ul.wr li{float: left; width: calc((100% - 1px - 6em) / 4); }
#sec3 .w ul.wr li:not(:first-child){margin-left: 2em;}
#sec3 .w ul.wr li a{
    position: relative; display: block; padding: 3em 2.6em; text-decoration: none; border: 2px solid #ccc; box-sizing: border-box;
    transition: border-color 0.2s linear; -webkit-transition: border-color 0.2s linear;
    border-radius: 8px; -webkit-border-radius: 8px;
}
#sec3 .w ul.wr li a:hover{border-color: #385ea9;}
#sec3 .w ul.wr li a span{display: block; font-size: 1.6em; font-family: 'GmarketSans'; color: rgba(56, 56, 56, 0.5);}
#sec3 .w ul.wr li a strong{
    overflow: hidden; display: block; display: -webkit-box;  width: 100%; height: 6.32em; margin-top: 0.8em; text-align: left; -webkit-line-clamp: 4; -webkit-box-orient: vertical; word-wrap: break-word; font-size: 1.9em; line-height: 1.58; letter-spacing: -0.03em; font-family: 'GmarketSans'; color: #383838; font-weight: 400;
    transition: color 0.2s linear; -webkit-transition: color 0.2s linear;
}
#sec3 .w ul.wr li a:hover strong{color: #385ea9;}
#sec3 .w ul.wr li a p{display: block; margin-top: 2.982em; color: #666; font-size: 1.4em; letter-spacing: -0.02em;}
#sec3 .w ul.wr li a i{
    position: absolute; bottom: 3em; right: 2.6em; display: block; width: 1.9em; height: 1.9em; text-indent: -9999px;
    transform: rotate(0); -webkit-transform: rotate(0);
    transition: transform 0.2s linear;
}
#sec3 .w ul.wr li a:hover i{
    transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
#sec3 .w ul.wr li a i:before{content: ""; position: absolute; top: 50%; left: 0; display: block; width: 100%; height: 1px; margin-top: -0.5px; background-color: #385ea9;}
#sec3 .w ul.wr li a i:after{content: ""; position: absolute; top: 0; left: 50%; display: block; width: 1px; height: 100%; margin-left: -0.5px; background-color: #385ea9;}

#sec3 .w div.wr{
    width: 45.2em; height: 28.5em; margin-left: 2em; overflow: hidden;
    border-radius: 8px; -webkit-border-radius: 8px;
}
#sec3 .w div.wr .js_slide{width: 100%; height: 100%;}
#sec3 .w div.wr .js_slide .control{top: auto; bottom: 0; left: 0; right: auto; height: 5em; background: none; background-color: #383838; font-family: 'GmarketSans';}
#sec3 .w div.wr .js_slide .control:after{content: ""; display: block; clear: both;}
#sec3 .w div.wr .js_slide .control strong{position: absolute; top: 0;left: 0; display: block; padding: 0 2em; text-align: left; font-size: 1.5em; color: #fff; font-weight: 300; line-height: 3.33; box-sizing: border-box;}
#sec3 .w div.wr .js_slide .control .count{position: absolute; top: 50%; right: 4.8em; color: #fff; font-size: 1.5em; line-height: 1.7em; margin-top: -0.75em; font-weight: 400;}
#sec3 .w div.wr .js_slide .control .count span{color: #888; font-weight: 400;}
#sec3 .w div.wr .js_slide .control>span{}
#sec3 .w div.wr .js_slide .control a{position: absolute; top: 50%; width: 2.4em; height: 2.4em; margin-top: -1.2em;}
#sec3 .w div.wr .js_slide .control a.btn_left,
#sec3 .w div.wr .js_slide .control a.btn_right{background:url(../../images/woodedu/main/popup_arrow.png) no-repeat center center; background-size: 1.2em auto;}
#sec3 .w div.wr .js_slide .control a.btn_left{
    right: 13.8em;
    transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
#sec3 .w div.wr .js_slide .control a.btn_right{right: 4.4em;}
#sec3 .w div.wr .js_slide .control a.btn_play,
#sec3 .w div.wr .js_slide .control a.btn_stop{right: 1.5em;}
#sec3 .w div.wr .js_slide .control a.btn_play{background:url(../../images/woodedu/main/popup_play.png) no-repeat center center; background-size: 1.2em auto;}
#sec3 .w div.wr .js_slide .control a.btn_stop{background:url(../../images/woodedu/main/popup_stop.png) no-repeat center center; background-size: 1.2em auto;}
#sec3 .w div.wr .js_slide .move{}
#sec3 .w div.wr .js_slide .move ul{}
#sec3 .w div.wr .js_slide .move ul li{}
#sec3 .w div.wr .js_slide .move ul li a{border: 0;}
#sec3 .w div.wr .js_slide .move ul li a img{display: block; min-width: 100%;}

/*sec4*/
#sec4{position: relative; background-color: #edf9fd; background-repeat: no-repeat; background-position: center center; background-size: contain;}
#sec4[data-bg="1"]{background-image: url(../../images/woodedu/main/sec4_bg1.png);}
#sec4[data-bg="2"]{background-image: url(../../images/woodedu/main/sec4_bg2.png);}
#sec4[data-bg="3"]{background-image: url(../../images/woodedu/main/sec4_bg3.png);}
#sec4 .w{position: relative; }
#sec4 .w .tab_btn{margin-top: 2em;}
#sec4 .w .tab_btn >ul{text-align: center; margin-bottom: 1.7em;}
#sec4 .w .tab_btn >ul >li{display: inline-block; vertical-align: bottom;}
#sec4 .w .tab_btn >ul >li:not(:first-child){margin-left: 2em;}
#sec4 .w .tab_btn >ul >li>a{
    position: relative; display: inline-block; margin-bottom: 1.2em; padding: 1.35em 4.75em 0.75em 4.75em; background-color: #fff; border: 1px solid #214ea6; text-decoration: none; box-sizing: border-box;
    border-radius: 3em; -webkit-border-radius: 3em;  
    transition: padding,background-color 0.2s linear; -webkit-transition: padding,background-color 0.2s linear;
}
#sec4 .w .tab_btn >ul >li>a:before{
    content: ""; position: absolute; bottom: 0; left: calc(50% - 1.25em); opacity: 0; width: 0; height: 0; border-top: 1.2em solid #214ea6; border-left: 1.25em solid transparent; border-right: 1.25em solid transparent;
    transition: bottom 0.2s linear;
}
#sec4 .w .tab_btn >ul >li>a.on:before{
    bottom: -1.2em; opacity: 1;
    animation-name:tab_btn;
	animation-duration:0.2s;
	animation-timing-function:linear;
}
@keyframes tab_btn{
	0%{bottom: 0; opacity: 0;}
	100%{bottom: -1.2em; opacity: 1;}
}
#sec4 .w .tab_btn >ul >li>a:hover{background-color: #214ea6;}
#sec4 .w .tab_btn >ul >li>a.on{padding: 1.85em 6.5em 1.25em 6.5em; background-color: #214ea6;}
#sec4 .w .tab_btn >ul >li>a span,
#sec4 .w .tab_btn >ul >li>a.on strong{
    font-size: 1.9em; letter-spacing: -0.02em; font-family: 'GmarketSans';
    transition: color 0.2s linear; -webkit-transition: color 0.2s linear;
}
#sec4 .w .tab_btn >ul >li>a span{}
#sec4 .w .tab_btn >ul >li>a:hover span,
#sec4 .w .tab_btn >ul >li>a.on strong{font-weight: 400; color: #fff;}
#sec4 .w .tab_cont{display: none;}
#sec4 .w .tab_cont.on{display: block;}


#sec4 .w .tab_cont .control{
    position: absolute; top: 50%; left: 0; width: 100%;
}
#sec4 .w .tab_cont .control a.prev,
#sec4 .w .tab_cont .control a.next{position: absolute; top: 50%; width: 5.5em; height: 5.5em; margin-top: calc(-5.5em / 2); background: url(../../images/woodedu/main/sec4_01.png) no-repeat center center; background-size: 100% auto;}
#sec4 .w .tab_cont .control a.prev{
    left: 7.5em;
    transform: rotate(180deg); -webkit-transform: rotate(180deg);
}
#sec4 .w .tab_cont .control a.next{right: 7.5em;}
#sec4 .w .tab_cont .control a.prev span,
#sec4 .w .tab_cont .control a.next span{display: block; text-indent: -9999px;}
#sec4 .w .tab_cont .all{
    width: 100%; max-width: 93em; height: 40em; margin: 0 auto; box-shadow: 5px 0 40px rgba(56, 94, 169, 0.3);
    border-radius: 8px; -webkit-border-radius: 8px;
}
#sec4 .w .tab_cont .all >div:not(.control){display: table; table-layout: fixed; width: 100%; height: 100%; text-align: center;background-color: #fff;}
#sec4 .w .tab_cont .all >div >.in{display: table-cell; width: 100%; vertical-align: middle; }
#sec4 .w .tab_cont .all >div >.in .wr{width: 100%; max-width: 68.7em; margin: 0 auto; text-align: left}
#sec4 .w .tab_cont .all >div >.in .wr >strong{display: block; width: 100%; padding: 1.9em 1.7em 1.5em 1.7em; background-color: #f0f0f0; text-align: center; line-height: 1; box-sizing: border-box;}
#sec4 .w .tab_cont .all >div >.in .wr >strong span{position: relative; font-size: 2.1em; line-height: 1; letter-spacing: -0.02em; font-family: 'GmarketSans';}
#sec4 .w .tab_cont .all >div >.in .wr >strong span:before,
#sec4 .w .tab_cont .all >div >.in .wr >strong span:after{content: ""; display: inline-block; width: 0.85em; height: 0.85em; background-repeat: no-repeat; background-position: center center; background-size: 100% auto;}
#sec4 .w .tab_cont .all >div >.in .wr >strong span:before{margin-right: 0.8em; background-image: url(../../images/woodedu/main/sec4_02.png);}
#sec4 .w .tab_cont .all >div >.in .wr >strong span:after{margin-left: 0.8em; background-image: url(../../images/woodedu/main/sec4_03.png);}
#sec4 .w .tab_cont .all >div ul{position: relative; left: auto; top: auto; width: 100%; height: auto; padding: 2.1em 0 1.5em 0;}
#sec4 .w .tab_cont .all >div ul:after{content: ""; display: block; clear: both;}
#sec4 .w .tab_cont .all >div ul li{position: relative; left: auto; top: auto;  width: 50%; float: left; height: auto; padding: 0.9em 0 2.3em; box-sizing: border-box;}
#sec4 .w .tab_cont .all >div ul li:nth-child(n+3){border-top: 1px dotted #d7d7d7; box-sizing: border-box;}
#sec4 .w .tab_cont .all >div ul li span{font-size: 1.9em; letter-spacing: -0.02em; color: #000; font-weight: 500;}
#sec4 .w .tab_cont .all >div ul li span strong{position: relative; display: inline-block; margin-right: 0.2em; color: #1f458f;}
#sec4 .w .tab_cont .all >div ul li span strong:before{content: ""; display: inline-block; width: 2.42em; height: 2.42em; margin-right: 0.5em; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; vertical-align: middle;}
#sec4 .w .tab_cont .all >div ul li:nth-child(1) span strong:before{background-image: url(../../images/woodedu/main/sec4_04.png);}
#sec4 .w .tab_cont .all >div ul li:nth-child(2) span strong:before{background-image: url(../../images/woodedu/main/sec4_05.png);}
#sec4 .w .tab_cont .all >div ul li:nth-child(3) span strong:before{background-image: url(../../images/woodedu/main/sec4_06.png);}
#sec4 .w .tab_cont .all >div ul li:nth-child(4) span strong:before{background-image: url(../../images/woodedu/main/sec4_07.png);}
#sec4 .w .tab_cont .all >div ul li span strong:after{content: " : ";}
#sec4 .w .tab_cont .all >div .btns{text-align: center;}
#sec4 .w .tab_cont .all >div .btns a{display: inline-block; min-width: 20em; height: auto; padding: 1.2em 1em; border: 1px solid #d0d0d0; background-color: transparent; text-decoration: none; box-sizing: border-box;}
#sec4 .w .tab_cont .all >div .btns a:not(:first-child){margin-left: 1.7em;}
#sec4 .w .tab_cont .all >div .btns a:hover{background-color: #666; border-color: #666;}
#sec4 .w .tab_cont .all >div .btns a span{display: inline-block; position: relative; left: auto; top: auto; width: 100%; height: auto; margin-left: 0; font-size: 1.5em; color: #666; letter-spacing: -0.02em; font-weight: 600; text-align: center;}
#sec4 .w .tab_cont .all >div .btns a:hover span{color: #fff;}




/*sec5*/
#sec5{margin-bottom: 9em;}
#sec5 >.layout{padding-bottom: 0;}
#sec5:after{content: ""; display: block; clear: both;}
#sec5 .js_slide{position: relative; height: auto; padding: 0;}
#sec5 .js_slide:after{content: ""; display: block; clear: both;}
#sec5 .news .layout{height: 0; text-align: right;}
#sec5 .js_slide .control{
    top: -11.5em; left: 50%; margin-left: 53em; display: inline-block; width: auto; text-align: right;
    /**/
}
#sec5 .js_slide .control .btn_play,
#sec5 .js_slide .control .btn_stop{display: none !important;}
#sec5 .js_slide .control [class*="btn_"]{
    display: inline-block; width: 5.5em; height: 5.5em; background-color: #edf9fd; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; border: none;
    border-radius: 50%; -webkit-border-radius: 50%;
}
#sec5 .js_slide .control .btn_left{background-image: url(../../images/woodedu/main/sec5_01.png);}
#sec5 .js_slide .control .btn_right{background-image: url(../../images/woodedu/main/sec5_02.png);}
#sec5 .js_slide .control .btn_more{background-image: url(../../images/woodedu/main/sec5_03.png);}
#sec5 .js_slide .control [class*="btn_"] span{display: block;width: 100%; height: 100%; text-indent: 9999px; opacity: 0;}
#sec5 .js_slide .move{position: relative; width: 125%; margin-left: -12.5%; height: 25.3em; margin-top: 6em;}
#sec5 .js_slide .move:before,
#sec5 .js_slide .move:after{content: ""; position: absolute; top: 0; z-index: 1; display: block; width: calc((125% / 6) / 2); height: 100%; }
#sec5 .js_slide .move:before{left: calc((125% / 13)); background: linear-gradient(270deg, rgba(255, 255, 255, 0.137615) 40%, #FFFFFF 100%);}
#sec5 .js_slide .move:after{right: calc((125% / 13)); background: linear-gradient(90deg, rgba(255, 255, 255, 0.137615) 40%, #FFFFFF 100%);}
#sec5 .js_slide .move ul{position: relative; display: block; width: 200%; height: 100%;}
#sec5 .js_slide .move ul:after{content: ""; display: block; clear: both;}
#sec5 .js_slide .move ul li{float: left; width:25vw; height: 100%; padding: 0;}
#sec5 .js_slide .move ul li div{display: block; width: 100%; height: 100%; padding:0 3em; box-sizing: border-box;}
#sec5 .js_slide .move ul li a{
    position: relative; display: block; width: 100%; height: 100%; overflow: hidden; border: none; background-color: transparent; 
    border-radius: 5px; -webkit-border-radius: 5px;
}
#sec5 .js_slide .move ul li a img{
    position: absolute; top: 50%; left: 50%; display: block; min-width: 100%; height: auto; min-height: 100%;
    transform: scale(1) translate(-50%,-50%); -webkit-transform: scale(1) translate(-50%,-50%);
    transform-origin: left top;
    transition: transform 0.2s ease; -webkit-transition: transform 0.2s ease;
}
#sec5 .js_slide .move ul li a:hover img{
    transform: scale(1.1) translate(-50%,-50%); -webkit-transform: scale(1.1) translate(-50%,-50%);
}




@media screen and (max-width: 1470px){
    #sec1 .open{ margin-left: 0; right: 4%;left: auto; }
    #sec1 .js_slide .control .btn_left, #sec1 .js_slide .control .btn_right{ display: none;}
    #sec1 .js_slide .slogan .layout .txts { margin-left: 30px; }
    #sec5 .js_slide .control{left: auto; right: 2em; margin-left: 0;}
    #sec5 .js_slide .move ul li div{padding: 0 2em;}
}
@media screen and (max-width: 1225px){
    #sec1 .js_slide { height: 57em;}
    #sec2 .w{ height: 21em;}
    #sec2 .w div.wr .in a span{ font-size: 1.4em;}
    #sec2 .w div.wr .in a { padding: 1.3em 1em;}
    #sec2 .w div.wr .in strong { font-size: 2.5em;}
    #sec2 .w ul.wr .in p:first-of-type{ margin-top: 2em;}
    #sec2 .w ul.wr .in p:not(:first-of-type){ margin-top: 0.8em;}
    #sec2 .w ul.wr .in p b{ font-size: 1.5em;}
    #sec2 .w ul.wr .in p i{ font-size: 1.5em;}

    #sec3 .w ul.wr li{ width: 100%; float: none; margin-bottom: 5px;}
    #sec3 .w ul.wr li a strong{ height: auto; white-space: nowrap; text-overflow: ellipsis; width: 86%; font-size: 1.5em; display: block; margin-top: 0;}
    #sec3 .w ul.wr li:not(:first-child){ margin-left: 0;}
    #sec3 .w ul.wr li a{ padding: 1em 2em; border: 1px solid rgba(0,0,0,0.2);}
    #sec3 .w ul.wr li a p{ margin-top:0;}
    #sec3 .w ul.wr li a span { display: none;}
    #sec3 .w ul.wr li a i{ top: 50%; transform: translate(0, -50% );}


    #sec4 .w .tab_cont .control a.prev, #sec4 .w .tab_cont .control a.next{ display: none;}
    #sec4 .w .tab_cont .all{ height: auto;}
    #sec4 .w .tab_cont .all >div >.in{ padding: 30px ;}
    #sec4 .w .tab_cont .all >div ul li{ width: 100%; padding: 10px 0; border-top: 1px dotted #d7d7d7;}
    #sec4 .w .tab_cont .all >div ul li:first-child{ border-top: none;}


    #sec5 .news .move ul li {}
    #sec5 .news .move ul li div{ padding: 0 1.5em;}
    
}

@media screen and (max-width: 1024px){
    #sec1{  margin-top: 7em;}
    #sec1 .js_slide .slogan .layout .txts strong { font-size: 3em;}
     #sec5 .js_slide .move ul li div{padding: 0 1em;}
}

@media screen and (max-width: 1000px){
    #sec2 .w {height: auto; padding: 20px 0 0}
    #sec2 .w div.wr{ width: 100%; text-align: left; border-bottom: 1px solid rgba(255,255,255,0.2);  padding-bottom: 15px;}
    #sec2 .w div.wr .in{ text-align: left; padding: 0 3em;}
    #sec2 .w div.wr .in a{ margin: 0;}
    #sec2 .w div.wr .in strong{ display: inline-block; margin-right: 15px;}
    #sec2 .w div.wr .in p{ float: right;}
    #sec2 .w ul.wr{ width: calc(((100% - 1px) / 3) * 3);}
    #sec2 .w ul.wr .in{ padding: 2em;}
    #sec2 .w ul.wr .in strong{ font-size: 1.8em;}
    #sec2 .w ul.wr .in p:first-of-type{ margin-top: 1em;}
    
}

@media screen and (max-width: 767px){
    [id*="sec"] >.layout{ padding: 4em 2em;}
    [id*="sec"] .layout .tts{ font-size: 2.3em;}

    #sec1 .js_slide { height: 49em;}
    #sec1 .js_slide .slogan .layout .txts{ padding-top: 7em;}
    #sec1 .open{ bottom: 25%; top: auto; width: 15.5em; height: 15.5em;}
    #sec1 .open:before{ display: none;}
    #sec1 .open .txts .o{ margin-top: 0;}
    #sec1 .open .txts .o >span{ font-size: 1.5em;}
    #sec1 .open .txts .d{ padding: 0.5em; }
    #sec1 .open .txts .t{ display: none;}
    #sec1 .js_slide .slogan .layout .txts{ margin-left: 10px;}
    #sec1 .js_slide .slogan .layout .txts strong{ font-size: 2.5em; line-height: 1.3;}
    #sec1 .js_slide .slogan .layout .txts >span{ font-size: 1.8em;}
    #sec1 .js_slide .control{ text-align: left; margin-left: 30px;}


    
    #sec2 .w div.wr .in{ text-align: center;}
    #sec2 .w div.wr .in strong{ margin: 0 0 7px 0; display: block; font-size: 2.3em;}
    #sec2 .w div.wr .in p{ float: none;}
    #sec2 .w div.wr .in a{ padding: 1em;}
    #sec2 .w .wr .in{ display: block; }
    #sec2 .w .wr li{ border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
    #sec2 .w ul.wr .in p:first-of-type{ margin-top: 0.5em;}
    #sec2 .w ul.wr .in p:not(:first-of-type){ margin-top: 0.5em;}

    #sec3 .w{ margin-top: 2em;}
    #sec3 .w ul.wr{ width: 100%;}
    #sec3 .w div.wr{ width: 100%; margin-left: 0; margin-top: 20px;}
    #sec3 .w div.wr .js_slide .move ul li a img{ min-width: auto;}

    #sec4 .w .tab_cont .all >div >.in{ padding: 20px 15px 30px;}
    #sec4 .w .tab_btn >ul >li{ width: 32%; box-sizing: border-box; padding: 0 3px; margin: 0;}
    #sec4 .w .tab_btn >ul >li>a span, #sec4 .w .tab_btn >ul >li>a.on strong{ font-size: 1.5em;}
    #sec4 .w .tab_btn >ul >li>a.on, #sec4 .w .tab_btn >ul >li>a{ padding: 10px 0; width: 100%;}
    #sec4 .w .tab_btn >ul >li:not(:first-child){ margin-left: 0;}
    #sec4 .w .tab_cont .all >div .btns a{ min-width: 120px;}
    #sec4 .w .tab_cont .all >div >.in .wr >strong span{ font-size: 1.8em;}
    #sec4 .w .tab_cont .all >div ul{ padding: 1.5em;}
    #sec4 .w .tab_cont .all >div ul li span{ font-size: 1.5em;}
    #sec4 .w .tab_cont .all >div .btns a:not(:first-child){ margin-left: 1em;}

    #sec5{ margin-bottom: 5em;}
    #sec5 .js_slide .control [class*="btn_"]{ width: 3.3em; height: 3.3em;}
    #sec5  .layout .tts{ text-align: left;}
    #sec5 .js_slide .move{margin-left: -25%; margin-top: 2em;}
    #sec5 .js_slide .move:before, #sec5 .js_slide .move:after{width: calc((150% / 4) / 2)}
    #sec5 .js_slide .move:before{left: calc((150% / 7.5));}
    #sec5 .js_slide .move:after{right: 0;}
    #sec5 .js_slide .move ul li{width:50vw;}
    #sec5 .js_slide .control {top: -5.75em;}

    .slide_area .bottom_banner_roll{ display: none;}
}
@media screen and (max-width: 480px){
    #sec5 .js_slide .move{height: 18em;}
}
