@charset "utf-8";

.titles{text-align: center;}
.titles >div{display: inline-block; text-align: left;}
.titles >div >span{display: block; margin-bottom: 0.9em; font-size: 1.8em; font-weight: 500; color: #646464; letter-spacing: -0.05em;}
.titles >div >strong{position: relative; font-size: 4.3em; line-height: 1; font-family: 'GongGothic'; font-weight: 500;}
.titles >div >strong:before{content: ""; position: absolute; top: -0.2em; right: -0.2em; display: block; width: 0.6em; height: 0.23em; background: url(../../images/mayor/common/titles.svg) no-repeat center center; background-size: 100% auto;}
.titles >div >strong>span{display: inline-block; color: #113D98;}
.titles >div >strong>span:after{content: ""; display: inline-block; background-repeat: no-repeat; background-position: center center; background-size: 100% auto;}

@media screen and (max-width: 1400px){
    .titles{font-size: 9px;}
}

@media screen and (max-width: 1200px){
    .titles{font-size: 8px;}
}
@media screen and (max-width: 1024px){
    .titles{font-size: 7px;}
}
@media screen and (max-width: 640px){
    .titles{font-size: 6px;}
}

#sec01{margin-top: 6.8em;}
#sec01 .titles >div >strong>span:after{width: 0.98em; height: 1em; margin: 0 0.15em; background-image: url(../../images/mayor/common/sec01_01.svg); vertical-align: middle;}
#sec01 .cont{position: relative; margin-top: 4.8em;}
#sec01 .cont:before{content: ""; position: absolute; top: 13em; left: -14em; z-index: 1; display: block; width: 17.1em; height: 18.9em; background: url(../../images/mayor/common/sec01_05.png) no-repeat center center; background-size: 100% auto;}
#sec01 .cont:after{content: ""; position: absolute; top: -16.3em; right: -24.1em; z-index: -1; display: block; width: 43.2em; height: 43.1em; background: url(../../images/mayor/common/sec01_06.png) no-repeat center center; background-size: 100% auto;}
#sec01 .cont ul{}
#sec01 .cont ul:after{content: ""; display: block; clear: both;}
#sec01 .cont ul li{float: left; width: calc((100% - 1px - 6em) / 3); margin-left: 3em;}
#sec01 .cont ul li:first-child{margin-left: 0;}
#sec01 .cont ul li a{display: block;}
#sec01 .cont ul li a >.photo{
    position: relative; display: block; width: 100%; height: 33em; border: 1px solid #ECECEC; overflow: hidden; box-sizing: border-box;
    border-radius: 20px; -webkit-border-radius: 20px;
}
#sec01 .cont ul li a >.photo img{
    position: absolute; top: 50%; left: 50%; display: block; width: 100%; min-width: 100%; min-height: 100%;
    transform: scale(1) translate(-50%,-50%); -webkit-transform: scale(1)  translate(-50%,-50%);
    transform-origin: left top;
    transition: transform 0.2s linear; -webkit-transition: transform 0.2s linear;
}
#sec01 .cont ul li a:hover >.photo img,
#sec01 .cont ul li a:active >.photo img{
    transform: scale(1.1) translate(-50%,-50%); -webkit-transform: scale(1.1)  translate(-50%,-50%);
}
#sec01 .cont ul li a div{
    position: relative; z-index: 1; width: 100%; padding: 2.2em 7em 3.2em 1em; background-color: #fff; box-sizing: border-box;
    border-bottom-left-radius: 4em; -webkit-border-bottom-left-radius: 4em;
}
#sec01 .cont ul li a div:before{content: ""; position: absolute; bottom: 1.8em; right: 5.2em; display: block; width: 7.7em; height: 7.3em; background: url(../../images/mayor/common/sec01_03.svg) no-repeat center center; background-size: 100% auto;}
#sec01 .cont ul li a div:after{
    content: ""; position: absolute; bottom: 3em; right: 3em; display: block; width: 3.8em; height: 1.3em; background: url(../../images/mayor/common/sec01_04.svg) no-repeat center center; background-size: 100% auto;
    transition: right 0.2s linear; -webkit-transition: right 0.2s linear;
}
#sec01 .cont ul li a:hover div:after,
#sec01 .cont ul li a:active div:after{right: 2em;}
#sec01 .cont ul li a div>.title{overflow: hidden; display: -webkit-box; width: 100%; height: 2.583em; margin-bottom: 0; color: #222; letter-spacing: -0.03em; line-height: 1.3; font-size: 2.4em; font-weight: 700; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word;}
#sec01 .cont ul li a div>.date{position: relative; margin-bottom: 0.8em; font-size: 1.8em; line-height: 1; font-weight: 400; color: #6B6B6B; letter-spacing: -0.05em;}
#sec01 .cont ul li a div>.date:before{content: ""; display: inline-block; width: 1em; height: 1em; margin-right: 0.2em; background: url(../../images/mayor/common/sec01_02.svg) no-repeat center center; background-size: 100% auto; vertical-align: bottom;}

@media screen and (max-width: 1480px){
    #sec01 .cont:before{display: none;}
}
@media screen and (max-width: 1400px){
    #sec01 .cont{font-size: 9px;}
}

@media screen and (max-width: 1200px){
    #sec01 .cont{font-size: 8px;}
}
@media screen and (max-width: 1024px){
    #sec01{margin-top: 4em;}
    #sec01 .cont{margin-top: 3em;}
    #sec01 .cont ul{font-size: 0.9em;}
}
@media screen and (max-width: 840px){
    #sec01 >.layout{padding-right: 0;}
    #sec01 .cont{overflow-x: auto;}
    #sec01 .cont ul{width: 1200px;}
    
}
@media screen and (max-width: 640px){
    #sec01 >.layout{padding-right: 0;}
    #sec01 .cont{overflow-x: auto; overflow-y: hidden;}
    #sec01 .cont ul{width: 900px; font-size: 0.8em;}
    #sec01 .cont ul li a >.photo{height: 28em;}
    
}




#sec02{position: relative; margin-top: 8em;}
#sec02:before{content: ""; position: absolute; bottom: -1px; left: 0; display: block; width: 81.4em; height: 92.3em; background: url(../../images/mayor/common/sec02_bg.png) no-repeat center center; background-size: 100% auto;}
#sec02 .titles >div >strong>span:after{width: 1em; height: 1.18em; margin: 0 0.15em; background-image: url(../../images/mayor/common/sec02_01.svg); vertical-align: middle;}
#sec02 .cont{margin-top: 4.7em;}
#sec02 .cont:after{content: ""; display: block; clear: both;}
#sec02 .cont [data-box]{float: left;}
#sec02 .cont [data-box] .tit{position: relative; z-index: 2; display: inline-block; font-family: 'GongGothic'; font-weight: 500;}
#sec02 .cont [data-box] .tit span{font-size: 2.8em;}
#sec02 .cont [data-box] .tit span>span{font-size: 1em;}
#sec02 .cont [data-box] .tit span i{font-style: normal; color: #FCECA3;}
#sec02 .cont [data-box="1"]{
    position: relative; width: calc((100% - 1px - 3em) * 0.585); height: 36.8em; padding: 4.4em 5.5em 3em; background-color: #113D99; box-sizing: border-box;
    border-top-left-radius: 4em; -webkit-border-top-left-radius: 4em;
}
#sec02 .cont [data-box="1"]:before{content: ""; position: absolute; top: 50%; right: 4em; display: block; width: 43.3em; height: 25.2em; margin-top: -12.6em; background: url(../../images/mayor/common/sec02_16.png) no-repeat center center; background-size: 100% auto;}
#sec02 .cont [data-box="1"] .tit:after{
    content: ""; opacity: 0.5; display: inline-block; width: 3.8em; height: 1.3em; margin-left: 0.6em; background: url(../../images/mayor/common/sec02_02.svg) no-repeat center center; background-size: 100% auto;
    transition: margin-left 0.2s linear; -webkit-transition: margin-left 0.2s linear;
}
#sec02 .cont [data-box="1"] .tit:hover:after{margin-left: 1.2em;}
#sec02 .cont [data-box="1"] .tit span{color: #fff;}
#sec02 .cont [data-box="1"] >p{width: 100%; max-width: 13em; margin-top: 1.34em; font-size: 1.8em; line-height: 1.6; letter-spacing: -0.05em; color: #fff;}
#sec02 .cont [data-box="1"] .btn_box{position: absolute; left: 5.5em; bottom: 3em; }
#sec02 .cont [data-box="1"] .btn_box:after{content: ""; display: block; clear: both;}
#sec02 .cont [data-box="1"] .btn_box >a{
    float: left; display: inline-block; padding: 1.25em 1em 0.95em; min-width: 18em; background-color: #2B2B2B; text-align: center; border-width: 2px; border-style: solid; border-color: #2B2B2B; box-sizing: border-box;
    border-radius: 4px; -webkit-border-radius: 4px;
}
#sec02 .cont [data-box="1"] .btn_box >a:not(:first-child){margin-left: 1.6em;}
#sec02 .cont [data-box="1"] .btn_box >a >span{display: inline-block; font-size: 1.8em; line-height: 1; letter-spacing: -0.05em; color: #fff;}
#sec02 .cont [data-box="1"] .btn_box >a:hover >span{text-decoration: underline;}




#sec02 .cont [data-box="2"]{
    position: relative; width: calc((100% - 1px - 3em) * 0.415); height: 36.8em; padding: 4.4em 5.5em 3.3em 5.5em; margin-left: 3em; background: #4681C8 url(../../images/mayor/common/sec02_09.png) no-repeat bottom right; background-size: 21em auto; box-sizing: border-box;
    border-top-right-radius: 4em; -webkit-border-top-right-radius: 4em;
}
#sec02 .cont [data-box="2"]:before{content: ""; position: absolute; top: -2em; right: -3em; display: block; width: 12.9em; height: 5.1em; background: url(../../images/mayor/common/sec02_11.svg) no-repeat center center;z-index: -1; background-size: 100% auto;}
#sec02 .cont [data-box="2"]:after{content: ""; position: absolute; top: -2em; right: -1.5em; display: block; width: 12.9em; height: 5.1em; background: url(../../images/mayor/common/sec02_10.svg) no-repeat center center; background-size: 100% auto;}
#sec02 .cont [data-box="2"] .tit span{color: #fff;}
#sec02 .cont [data-box="2"] .tit:after{
    content: ""; opacity: 0.5; display: inline-block; width: 3.8em; height: 1.3em; margin-left: 0.6em; background: url(../../images/mayor/common/sec02_02.svg) no-repeat center center; background-size: 100% auto;
    transition: margin-left 0.2s linear; -webkit-transition: margin-left 0.2s linear;
}
#sec02 .cont [data-box="2"] .tit:hover:after{margin-left: 1.2em;}
#sec02 .cont [data-box="2"] .cal_box{text-align: center;}
#sec02 .cont [data-box="2"] .cal_box .calendars{
    width: 100%; margin-top: 2.4em; padding: 1.2em 0; border: 3px solid rgba(255, 255, 255, 0.3); box-sizing: border-box;
    border-radius: 2em 0 2em 0; -webkit-border-radius: 2em 0 2em 0;
}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head{width: 100%; max-width: 35em; margin: 0 
auto;}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head:nth-of-type(1) li:nth-child(n+8){display: none;}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head:after{content: ""; display: block; clear: both;}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head li{position: relative; float: left; width: 5em; line-height: 2.8; text-align: center;}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head:nth-of-type(2) li{margin-top: 0.3em;}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head li.today:before{
    content: ""; position: absolute; top: 50%; left: 50%; display: block; width: 3em; height: 3em; margin-left: -1.5em; margin-top: -1.7em; background-color: #E8BB43;
    border-radius: 50%; -webkit-border-radius: 50%;
}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head li span{position: relative; font-size: 1.6em; letter-spacing: -0.05em; line-height: 1; color: #fff; font-weight: 400;}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head li:nth-child(7n-6) span{color: #F783AC;}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head li:nth-child(7n) span{color: #AED3FF;}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head:first-of-type li:nth-child(n+8){display:none;}
#sec02 .cont [data-box="2"] .cal_box .calendars .t_head li.today span{color: #0F3789; font-weight: 500;}
#sec02 .cont [data-box="2"] .cal_box .cal_list{margin-top: 2.8em; text-align: left; box-sizing: border-box;}
#sec02 .cont [data-box="2"] .cal_box .cal_list ul{}
#sec02 .cont [data-box="2"] .cal_box .cal_list ul li{position: relative; padding-left: 1em; box-sizing: border-box;}
#sec02 .cont [data-box="2"] .cal_box .cal_list ul li:not(:first-child){margin-top: 1em;}
#sec02 .cont [data-box="2"] .cal_box .cal_list ul li:nth-child(n+3){display: none;}
#sec02 .cont [data-box="2"] .cal_box .cal_list ul li:before{content: ""; position: absolute; top: 0.8em; left: 0; display: block; width: 0.4em; height: 0.4em; background-color: #A9CDF9;}
#sec02 .cont [data-box="2"] .cal_box .cal_list ul li span{display: block; font-size: 1.8em; color: #fff; letter-spacing: -0.05em; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#sec02 .cont [data-box="2"] .cal_box .cal_list >p{display: block; font-size: 1.8em; color: #fff; letter-spacing: -0.05em;}




#sec02 .cont [data-box="3"]{
    width: 100%; height: 21.4em; margin-top: 3em; margin-bottom: 10em; padding: 3em 5.5em; background-color: #fff; border: 3px solid #DEDEDE; box-sizing: border-box;
    border-radius: 0 4em 0 4em; -webkit-border-radius: 0 4em 0 4em;
}
#sec02 .cont [data-box="3"]:after{content: ""; display: block; clear: both;}
#sec02 .cont [data-box="3"] strong,
#sec02 .cont [data-box="3"] ul{}
#sec02 .cont [data-box="3"] .tit{float: left; display: table; table-layout: fixed; width: 27%; height: 100%;}
#sec02 .cont [data-box="3"] .tit em{display: table-cell; width: 100%; vertical-align: middle; font-style: normal;}
#sec02 .cont [data-box="3"] strong b{display: block; max-width: 10em; margin-top: 0.73em; font-size: 1.8em; line-height: 1.4; font-family:'NotoSansCJKkr'; color: #646464; letter-spacing: -0.05em; font-weight: 400;}
#sec02 .cont [data-box="3"] strong >b{display: none;}
#sec02 .cont [data-box="3"] ul{float: right; width: 73%; text-align: right;}
#sec02 .cont [data-box="3"] ul:after{content: ""; display: block; clear: both;}
#sec02 .cont [data-box="3"] ul li{display: inline-block; width: calc((100% - 1px - 8px) / 4); max-width: 23em; height: 15em;}
#sec02 .cont [data-box="3"] ul li a{display: table; table-layout: fixed; width: 100%; height: 100%;}
#sec02 .cont [data-box="3"] ul li a span{
    position: relative; display: table-cell; width: 100%; height: 100%; vertical-align: middle; letter-spacing: -0.05em; font-size: 2.2em; font-weight: 500; line-height: 1; text-align: center; color: #444444;
    transition: color 0.2s linear; -webkit-transition: color 0.2s linear;
}
#sec02 .cont [data-box="3"] ul li a:hover span{color: #3A83E3;}
#sec02 .cont [data-box="3"] ul li a span:before{content: ""; display: block; width: 2.81em; height: 2.81em; margin: 0 auto 0.9em; background-repeat: no-repeat; background-position: center center; background-size: 100% auto;}
#sec02 .cont [data-box="3"] ul li:nth-child(1) a span:before{background-image: url(../../images/mayor/common/sec02_04.svg);}
#sec02 .cont [data-box="3"] ul li:nth-child(2) a span:before{background-image: url(../../images/mayor/common/sec02_05.svg);}
#sec02 .cont [data-box="3"] ul li:nth-child(3) a span:before{background-image: url(../../images/mayor/common/sec02_06.svg);}
#sec02 .cont [data-box="3"] ul li:nth-child(4) a span:before{background-image: url(../../images/mayor/common/sec02_07.svg);}
#sec02 .cont [data-box="3"] ul li a span:after{
    content: ""; display: block; width: 2.9em; height: 0; margin: 0 auto; background: url(../../images/mayor/common/sec02_08.svg) no-repeat bottom center; background-size: 100% auto;
    transition: height 0.2s linear; -webkit-transition: height 0.2s linear;
}
#sec02 .cont [data-box="3"] ul li a:hover span:after{height: 1.69em;}

@media screen and (max-width: 1400px){
    #sec02 .cont,
    #sec02:before{font-size: 9px;}
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head:nth-of-type(2) li{margin-top: 0;}
    #sec02 .cont [data-box="2"] .cal_box .cal_list ul li:nth-child(n+3){display: none;}
}

@media screen and (max-width: 1200px){
    #sec02 .cont,
    #sec02:before{font-size: 8px;}
}
@media screen and (max-width: 1024px){
    #sec02{margin-top: 4em;}
    #sec02:before{display: none;}
    #sec02 .cont{margin-top: 3em;}
    #sec02 .cont [data-box] .tit span{font-size: 2.4em;}
    #sec02 .cont [data-box="1"] ul{width: calc(100% - 40em);}
    #sec02 .cont [data-box="1"] .graph_box{top: 9em; font-size: 7px;}
    #sec02 .cont [data-box="1"]{width: 100%; height: 30em; padding: 3.4em 3em 2.3em 3em;}
    #sec02 .cont [data-box="1"]:before{font-size: 0.85em;}
    #sec02 .cont [data-box="1"] .btn_box{left: 3em;}
    #sec02 .cont [data-box="2"]{width: 100%; height: auto; min-height: 32em; margin-left: 0; margin-top: 1.875em; padding: 3.4em 3em 2.3em 3em;}
    #sec02 .cont [data-box="2"]:before,
    #sec02 .cont [data-box="2"]:after{display: none;}
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head{max-width: 70em;}
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head li{width: 5em;}
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head:first-of-type li:nth-child(n+8){display: block;}
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head:nth-of-type(2) li{margin-top: 0.5em;}
    #sec02 .cont [data-box="2"] .cal_box .cal_list ul{margin-bottom: 2em;}
    #sec02 .cont [data-box="2"] .cal_box .cal_list ul li:not(:first-child){margin-top: 0.8em;}

    #sec02 .cont [data-box="3"]{/*border: 0;*/margin-bottom: 5em;}
    
}
@media screen and (max-width: 800px){
    #sec02 .cont [data-box="3"]{height: auto; margin-bottom: 3em; padding: 0; border: 0; text-align: center;}
    #sec02 .cont [data-box="3"] .tit{float: none; display: inline-block; table-layout: auto; width: auto; height: auto; text-align: left; font-size: 7px;}
    #sec02 .cont [data-box="3"] .tit em b{display: none;}
    #sec02 .cont [data-box="3"] strong >b{display: block;}
    #sec02 .cont [data-box="3"] .tit em{display: block; width: 100%;}
    #sec02 .cont [data-box="3"] .tit b{ display: inline-block; max-width: 100%; margin-bottom: 0.7em; font-size: 1.4em; font-weight: 600; color: #646464; letter-spacing: -0.05em;}
    #sec02 .cont [data-box="3"] .tit >em>span{position: relative; font-size: 4.3em; line-height: 1; font-family: 'GongGothic'; font-weight: 500;}
    #sec02 .cont [data-box="3"] .tit span>span{display: inline-block; color: #113D98;}
    #sec02 .cont [data-box="3"] ul{float: none; width: 100%; margin-top: 1em;}
    #sec02 .cont [data-box="3"] ul li a span{font-size: 2em;}

}
@media screen and (max-width: 700px){
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head{max-width: 56em;}
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head li{width: 4em;}
}
@media screen and (max-width: 640px){
    #sec02 .cont [data-box="1"]{}
    #sec02 .cont [data-box="1"]:before{font-size: 0.65em;}
    #sec02 .cont [data-box="3"] .tit{font-size: 6px;}
    #sec02 .cont [data-box="2"] .cal_box .more{font-size: 0.8em;}
    
}
@media screen and (max-width: 540px){
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head{max-width: 49em;}
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head li{width: 3.5em;}
}
@media screen and (max-width: 480px){
    #sec02 .cont [data-box="1"]:before{font-size: 0.5em;}
    #sec02 .cont [data-box="1"] .btn_box >a{padding: 1em 1.2em 0.65em;}
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head{max-width: 28em;}
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head:first-of-type li:nth-child(n+8){display: none;}
    #sec02 .cont [data-box="2"] .cal_box .calendars{font-size: 1em;}
    #sec02 .cont [data-box="2"] .cal_box .calendars .t_head li{line-height: 2; width: 4em;}
    #sec02 .cont [data-box="3"]{margin-bottom: 2em;}
    #sec02 .cont [data-box="3"] ul li a span{font-size: 1.8em; line-height: 1.2;}
    
}
@media screen and (max-width: 420px){
    #sec02 .cont [data-box="1"]:before{font-size: 0.4em;}
    #sec02 .cont [data-box="1"] .btn_box >a{min-width: 14em;}
    #sec02 .cont [data-box="1"] .btn_box >a:not(:first-child){margin-left: 1em;}
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	js_slide Tag
	
/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#sec03{position: relative; }
#sec03 img{display: block; width: 100%;}
.js_slide{position:absolute; top: 0; left: 0; width:100%; height:100%; padding:10px 10px 10px 130px; box-sizing:border-box;}
.js_slide .title{display:block; position:absolute; left:0; top:12px; z-index:1; width:120px; font-size:18px; text-align:center;}
.js_slide .control{position:absolute; left:0; right:auto; top:auto; bottom:0px; z-index:1; width:120px; padding:0; text-align:center;}
.js_slide .control .count{display:none;}
.js_slide .control a[class*="btn_"]{overflow:hidden; display:inline-block; width:31px; height:31px; text-indent:-1000px; border:1px solid #c5c5c5; background:#fff url(../../../images/site/skin/slider_control.png) no-repeat;}
.js_slide .control a.btn_left{background-position:0 0;}
.js_slide .control a.btn_play{display:none; background-position:0 -93px;}
.js_slide .control a.btn_stop{background-position:0 -62px;}
.js_slide .control a.btn_right{background-position:0 -31px;}
/*.js_slide .control ul{display:none;}*/
.js_slide .control ul li a.on{color: red;}
.js_slide .move{overflow:hidden; position:relative; z-index:0; width:100%; height:100%;}
.js_slide .move ul{overflow:hidden; position:absolute; left:0; top:0; width:200000px; height:100%;}
.js_slide .move ul li{float:left; width:170px; height:100%; padding:0px 5px;}
.js_slide .move ul li a{overflow:hidden; display:block; position:relative; height:100%; text-align:center; border:1px solid #c5c5c5; background-color:#eee; box-sizing:border-box;
transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.js_slide .move ul li a:hover,
.js_slide .move ul li a:focus{border:1px solid #ff6600;}
.js_slide .move ul li a span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.js_slide .move ul li img{display:block; margin:0 auto; height:100%;}


.js_slide.type_03{width:100%; height:100%; padding:0;}

.js_slide.type_03 .title{
	left:10%; top:20%; width:auto; font-size:40px; text-align:left; color:#fff;
	text-shadow:1px 1px 2px #000;
	-moz-text-shadow:1px 1px 2px #000;
    -webkit-text-shadow:1px 1px 2px #000;
    -ms-text-shadow:1px 1px 2px #000;
    -khtml-text-shadow:1px 1px 2px #000;
    -o-text-shadow:1px 1px 2px #000;
}
.js_slide.type_03 .title span{display:block; line-height:22px; margin-top:10px; font-weight:400; font-size:16px;}
.js_slide.type_03 .control{left:0; bottom:auto; top:0; width:100%; height:100%;}
.js_slide.type_03 .control a[class*="btn_"]{position:absolute;}
.js_slide.type_03 .control a.btn_left,
.js_slide.type_03 .control a.btn_right{z-index:9; width:100px; height:100%; border:none; background:none !important;}
.js_slide.type_03 .control a.btn_play,
.js_slide.type_03 .control a.btn_stop{right:20px; bottom:20px; z-index:10; background:#fff url(../../../images/site/skin/slider_control.png) no-repeat;}
.js_slide.type_03 .control a.btn_left{left:0; top:0;}
.js_slide.type_03 .control a.btn_right{right:0; top:0;}
.js_slide.type_03 .control a.btn_left span,
.js_slide.type_03 .control a.btn_right span{display:block; position:absolute; left:0; top:50%; width:100px; height:100px; margin-top:-50px;}
.js_slide.type_03 .control a.btn_play span,
.js_slide.type_03 .control a.btn_stop span{display:block; width:100%; height:100%;}
.js_slide.type_03 .control a.btn_left span{background:url(../../../images/site/skin/btn_icon_08.png) no-repeat center 0px;}
.js_slide.type_03 .control a.btn_play{background-position:0 -93px;}
.js_slide.type_03 .control a.btn_stop{display:none; background-position:0 -62px;}
.js_slide.type_03 .control a.btn_right span{background:url(../../../images/site/skin/btn_icon_09.png) no-repeat center 0px;}
.js_slide.type_03 .control ul{display:block; position:absolute; left:0; bottom:20px; z-index:9; width:100%; text-align:left;}
.js_slide.type_03 .control ul li{display:inline-block; margin-right:4px;}
.js_slide.type_03 .control ul li:first-child{margin-left:20px;}
.js_slide.type_03 .control ul li a{
	overflow:hidden; display:block; width:20px; height:20px; text-indent:-10000px; background-color:#c5c5c5;
	border-radius:10px;
    -webkit-border-radius:10px;
	transition:all 0.3s ease;
	-webkit-transition:all 0.3s ease;
	
}
.js_slide.type_03 .control ul li a.on{width:50px;}
.js_slide.type_03 .move{position:absolute; left:0; top:0; height:100%;}
.js_slide.type_03 .move ul{width:100%;}
.js_slide.type_03 .move ul li{float:none; position:absolute; left:100%; top:0; width:100%; padding:0; background-repeat: no-repeat; background-position: center center; background-size: contain; text-indent: -9999px;}
.js_slide.type_03 .move ul li:first-child{left:0;}
.js_slide.type_03 .move ul li a{overflow:hidden; cursor:default;}
.js_slide.type_03 .move ul li a:hover,
.js_slide.type_03 .move ul li a:focus{border:none;}

.js_slide.type_03 .slogan{position: relative; height: 100%;}
.js_slide.type_03 .slogan .layout{max-width: calc(100em + 4em); height: 100%;}
.js_slide.type_03 .slogan .layout >div{display: table; table-layout: fixed; width: 100%; height: 100%;}
.js_slide.type_03 .slogan .layout >div >p{display: table-cell; vertical-align: middle; margin: 0;}
.js_slide.type_03 .slogan .layout >div >p >strong{display: block; width: 33.6em; height: 20.7em; margin-top: -10em; background: url(../../images/mayor/common/main_visual_slogan.png) no-repeat center center; background-size: 100% auto; text-indent: -9999px;}
.js_slide.type_03 .slogan .layout >div >p >span{display: block; max-width: 14em; margin-top: 1em; color: rgba(255, 255, 255, 0.7); font-size: 1.6em; line-height: 1.5; font-weight: 400; letter-spacing: -0.03em;}
.js_slide.type_03 .control{
    top: 90%; left: 50%; width: auto; height: auto; margin: 0 auto; padding: 0 2em; text-align: left; box-sizing: border-box;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
}
.js_slide.type_03 .control a.btn_left, .js_slide.type_03 .control a.btn_right{display: none;}
.js_slide.type_03 .control ul{position: relative; bottom: auto; right: auto; display: inline-block; width: auto;}
.js_slide.type_03 .control ul li{margin-right: 0.6em;}
.js_slide.type_03 .control ul li:first-child{margin-left: 0;}
.js_slide.type_03 .control a.btn_play, .js_slide.type_03 .control a.btn_stop{position: relative; bottom: auto; right: auto; }
.js_slide.type_03 .control ul li a{width: 1.4em; height: 1.4em; background-color: #fff;}
.js_slide.type_03 .control ul li a.on{background-color: #F0BA14; width: 5.8em;}
.js_slide.type_03 .control a.btn_play, 
.js_slide.type_03 .control a.btn_stop{width: 1.4em; height: 1.4em; border: none; background-repeat: no-repeat; background-color: transparent; background-position: center center; background-size: 100% auto; }
.js_slide.type_03 .control a.btn_play{background-image: url(../../images/mayor/common/main_play.svg);}
.js_slide.type_03 .control a.btn_stop{background-image: url(../../images/mayor/common/main_stop.svg);}
.js_slide.type_03 .control a.btn_stop span,
.js_slide.type_03 .control a.btn_play span{background: none;}

@media screen and (max-width: 1400px){
    #sec03 .cont{font-size: 9px;}
}

@media screen and (max-width: 1200px){
    #sec03 .cont{font-size: 8px;}
}

@media screen and (max-width: 1024px){
    .js_slide.type_03 .slogan .layout >div >p >strong{width: 23em; height: 15em; margin-top: -2em;}
    .js_slide.type_03 .slogan .layout >div >p >span{position: relative; top: auto; left: auto;}
    .js_slide.type_03 .control{top: 85%; padding: 0 2em;}
}

@media screen and (max-width: 640px){
    .js_slide.type_03 .slogan .layout >div >p >strong{width: 19em; height: 12em}
    .js_slide.type_03 .slogan .layout >div >p >span{position: relative; top: auto; left: auto;}
    .js_slide.type_03 .control{top: 85%; padding: 0 2em;}
}
@media screen and (max-width: 600px){
	/*.js_slide.type_03{height:300px;}*/
	.js_slide.type_03 .title{left:0; top:15%; width:100%; padding:0px 10px; font-size:23px; text-align:center; box-sizing:border-box;}
	.js_slide.type_03 .title span{font-size:12px;}
	.js_slide.type_03 .control a.btn_left,
	.js_slide.type_03 .control a.btn_right{display:none;}
}