@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int .t_intbx{background-image: url(../../../images/site/ece/content/int_head.png);}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////

    자격증 정보

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_cer{}
.depart_cer .img_box{}
.depart_cer .img_box:after{content: ""; display: block; clear: both;}
.depart_cer .img_box img{float: left; display: block; width: calc((100% - 1px - 3.75em) / 3);}
.depart_cer .img_box img:not(:first-child){margin-left: 1.875em;}
@media screen and (max-width: 1024px){
    .depart_cer .img_box img{width: calc((100% - 1px - 2em) / 3);}
    .depart_cer .img_box img:not(:first-child){margin-left: 1em;}
}
@media screen and (max-width: 420px){
    .depart_cer .img_box img{width: calc((100% - 1px - 0.8em) / 3);}
    .depart_cer .img_box img:not(:first-child){margin-left: 0.4em;}
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////////////

    학과 활동

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_act{}
.depart_act .img_box.borders{border: 1px solid #DEDEDE; box-sizing: border-box;}
.depart_act .img_box img{display: block; width: 100%; }
.depart_act .img_box + [list-num],
.depart_act .img_box + [data-list="1"],
.depart_act [list-num] + .img_box,
.depart_act [data-list="1"] + .img_box{margin-top: 2em;}












