@font-face {
    font-family: 'KoddiUDOnGothic';
    font-weight: 500;
    src: local('Spoqa Han Sans Bold'),
    url('./KoddiUDOnGothic-Bold.woff2') format('woff2'),
    url('./KoddiUDOnGothic-Bold.woff') format('woff');
}
@font-face {
    font-family: 'KoddiUDOnGothic';
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url('./KoddiUDOnGothic-Regular.woff2') format('woff2'),
    url('./KoddiUDOnGothic-Regular.woff') format('woff');
}