@charset "utf-8";
@import url(../fonts/NanumSquare/font.css);
@import url(../fonts/NotoSansKR/font.css);
@import url(../fonts/NanumBarunGothic/font.css);
@import url(../fonts/godo/font.css);

/* html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, 
em, img, ins, kbd, q, s, samp, small, strike, strong, 
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure,  
figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
     margin:0; padding:0;} */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup menu,
nav,
output,
ruby,
section,
summary,
time,
audio,
video {
    padding: 0;
    margin: 0;
}

.citizen ol,
.citizen ul,
.citizen li {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    font-family: 'NanumSquare', 'Nanum Barun Gothic' !important;
    font-weight: 400;
    color: #353535;
    font-size: 17px;
    -webkit-font-smoothing: antialiased;
    /* background-color: #1e1c2e; */
}


/* min-height:100%; */

.citizen h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button {
    font-size: 15px;
    font-weight: 500;
}

.citizen pre,
.citizen code {
    font-family: 'Nanum Barun Gothic' !important;
    font-size: 15px;
    font-weight: 500;
}

.citizen h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
input,
select,
textarea,
span,
i,
p,
th,
td,
dl,
dd,
dt,
button,
a,
address,
form,
label,
pre {
    transform: skew(-0.08deg);
}

.citizen ul,
.citizen ol,
.citizen dl,
.citizen dt,
.citizen dd {
    margin: 0;
    padding: 0;
    list-style: none
}

.citizen a {
    text-decoration: none;
    color: #333;
}

.citizen p {
    text-align: left
}

.citizen i {
    font-style: normal;
    font-size: 12px;
}

.citizen img {
    border: none;
}

.citizen fieldset {
    border: none
}

.citizen legend {
    display: none
}

.citizen li p,
.citizen dd p {
    margin: 0
}


/* table{table-layout:fixed; word-break:break-all; border-collapse:collapse; border-spacing:0}  */

.citizen table caption {
    position: relative;
    visibility: hidden;
    height: 0;
    font-size: 0;
    line-height: 0
}

*:before,
*:after {
    box-sizing: inherit;
}


/* clearfix */

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear: both;
}


/* sort */

.fl_left {
    float: left;
}

.fl_right {
    float: right;
}

.al_center {
    text-align: center;
}

.al_left {
    text-align: left;
}

.al_right {
    text-align: right;
}


/* font */

.small {
    font-size: 14px;
    font-weight: 500;
}

.medium {
    font-size: 18px;
    font-weight: 600;
}

.large {
    font-size: 20px;
    font-weight: 700;
}


/* padding */

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p25 {
    padding: 25px;
}

.p30 {
    padding: 30px;
}

.p35 {
    padding: 35px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 30px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}


/* margin */

.m5 {
    margin: 5px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.m25 {
    margin: 25px;
}

.m30 {
    margin: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 30px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 30px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}


/* button */

.button {
    padding: 6px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    background-color: #fff;
}

a.editButton,
button.editButton {
    background-color: #7EA9FF;
    color: #fff;
    display: inline-block;
    border: 0;
    font-size: 14px;
    padding: 8px 10px;
}

.icoButtons {
    padding: 9px;
    text-indent: 30px;
    background-position: 13% center;
    color: #fff;
    margin: 10px 5px;
    font-size: 14px;
}

.ico-js,
.ico-css {
    display: inline-block;
    background-size: 18px;
    background-repeat: no-repeat;
    font-size: 15px;
}

.ico-js {
    background-image: url(../img/ico-js.png);
    border: 1px solid #00A0FF;
    background-color: #00A0FF;
}

.ico-css {
    background-image: url(../img/ico-css.png);
    border: 1px solid #2F80ED;
    background-color: #2f80ed;
}

#tab {
    height: 400px;
}


/*.tabBox{margin:15px;}*/

.tabBox h2 {
    font-size: 16px;
    color: #333;
    font-weight: 500;
    text-indent: 5px;
}

.tab_box01 {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.btn_group {
    clear: both;
    width: 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    left: 0;
}

.btn_group label {
    display: block;
    width: 33.333%;
    height: 100%;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    background: #F5F5F5;
    color: #191919;
    float: left;
    border: 1px solid #D6D6D6;
    border-bottom: none;
    font-size: 1rem;
    box-sizing: border-box;
}

.btn_group .btn1 {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -ms-border-radius: 5px 0 0 0;
    -o-border-radius: 5px 0 0 0;
}

.btn_group .btn2 {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #191919;
}

.btn_group .btn3 {
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -ms-border-radius: 0 5px 0 0;
    -o-border-radius: 0 5px 0 0;
    color: #191919;
}


/* .btn_group label:last-child {
    border-right: 1px solid #2BC0D8;
} */

.tab_box {
    width: 400px;
}

.tab_box .item {
    display: none;
}

.raitem {
    display: none;
}

#ra1:checked~.tab_box .tab1 {
    display: block;
}

#ra2:checked~.tab_box .tab2 {
    display: block;
}

#ra3:checked~.tab_box .tab3 {
    display: block;
}

#ra4:checked~.tab_box .tab4 {
    display: block;
}

#ra1:checked~.btn_group .btn1 {
    background: #384D66;
    color: #fff;
    border-bottom: #384D66;
}

#ra2:checked~.btn_group .btn2 {
    background: #384D66;
    color: #fff;
    border-bottom: #384D66;
}

#ra3:checked~.btn_group .btn3 {
    background: #384D66;
    color: #fff;
    border-bottom: #384D66;
}

#ra4:checked~.btn_group .btn4 {
    background: #384D66;
    color: #fff;
    border-bottom: #384D66;
}

#ra5:checked~.btn_group .btn5 {
    background: #384D66;
    color: #fff;
    border-bottom: #384D66;
}

input[id="tab01"]:checked~.con1 {
    display: block;
}

input[id="tab02"]:checked~.con2 {
    display: block;
}

input[id="tab03"]:checked~.con3 {
    display: block;
}

.tab_box01 {
    width: 100%;
    margin-top: 30px;
}

.tab_box02 input[type="radio"] {
    display: none;
}

.tab_box02 input[type="radio"]+label {
    display: inline-block;
    background: #fbfbfb;
    color: #7EA9FF;
    width: 150px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #7EA9FF;
    border-right: 0;
    border-bottom: 0;
    line-height: 40px;
    text-align: center;
}

.tab_box02 input[type="radio"]+label:last-of-type {
    border-right: 1px solid #7EA9FF;
}

.tab_box02 input[type="radio"]:hover+label {
    background: #7EA9FF;
    color: #fff;
}

.tab_box02 input[type="radio"]:checked+label {
    background: #7EA9FF;
    color: #fff;
}

.tab_box02 .conbox {
    clear: both;
    width: 555px;
    height: 100px;
    padding: 5px;
    background: #fbfbfb;
    display: none;
    border: 1px solid #7EA9FF;
}


/* eip-public-search설정 */

.eip-public-search {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: #FFF;
    border: 2px solid #D6D6D6;
}

.eip-public-search ul {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.eip-public-search ul li {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eip-public-search .year-li {
    width: 29%;
    margin-right: 2%;
}

.eip-public-search .energy-li {
    width: 18%;
    margin-right: 42%;
}

.eip-public-search .inquiry-li {
    width: 10%;
}

.eip-public-search li label {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid #D6D6D6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #191919;
    font-size: 1rem;
    position: relative;
}

.eip-public-search ul li .division {
    justify-content: center;
}

.eip-public-search ul li label input {
    border: none;
    text-align: center;
    margin-left: 30%;
    width: 13rem;
    height: 90%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin-right: 1%;
}

.eip-public-search ul li .division input {
    width: 4%;
    height: 100%;
    text-align: center;
    padding-right: 0;
    margin: 0;
    margin-left: 2.8rem;
    margin-right: 0.5rem;
}

.eip-public-search ul li .days input {
    width: 8rem;
    margin-left: 3rem;
}

.eip-public-search ul li label select {
    width: 100px;
    height: 90%;
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 30%;
    margin-right: 2%;
}

eip-public-search ul li label select option {}

.eip-public-search ul li button {
    width: 100%;
    height: 100%;
    background-color: #3180C3;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 1rem;
}

.yearpicker-body {
    position: relative;
    top: 0;
}

.yearpicker-body .yearpicker-year {
    padding: 0;
    position: relative;
    top: 0;
}

.yearpicker-year .yearpicker-items {
    width: 30%;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}