:root {
    --background-color: #D9E4EA;
    /* --border-color: #ccc; */
    --text-color: #555;
    /* --selected-text-color: rgb(56, 241, 164); */
    --selected-text-color: #191919;
    --hover-background-color: #d9e4ea;
}

.yearpicker-container {
    position: absolute;
    top: 4rem;
    left: 0rem;
    /*color: var(--text-color);
    */
    color: #AAAAAA;
    width: 230px;
    box-sizing: border-box;
    /*border: 1px solid var(--border-color);
    */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 1rem;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
    /*background-color: var(--background-color);
    */
    background-color: #fff;
    z-index: 10;
    margin-top: 0.2rem;
    margin-left: 6.5rem;
    padding-bottom: 3px;
}

.yearpicker-header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    height: 2.5rem;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    /*justify-content: space-around;
    */
    color: #1084BF;
    background-color: #fff;
    font-size: 1.5rem;
}

.yearpicker-prev,
.yearpicker-next {
    cursor: pointer;
    font-size: 2rem;
    width: 33.3333%;
    text-align: center;
}

.yearpicker-prev:hover,
.yearpicker-next:hover {
    color: var(--selected-text-color);
}

.yearpicker-year {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

.yearpicker-items {
    list-style: none;
    padding: 0.5rem 0;
    flex: 0 0 33.3%;
    width: 100%;
}

.yearpicker-items:hover {
    background-color: var(--hover-background-color);
    color: var(--selected-text-color);
    cursor: pointer;
    border-radius: 3px;
}

.yearpicker-items.selected {
    color: var(--selected-text-color);
}

.hide {
    display: none;
}

.yearpicker-items.disabled {
    pointer-events: none;
    color: #bbb;
}

.yearpicker-current {
    width: 33.333%;
    text-align: center;
}

.yearpicker-body {
    margin-top: 0.2rem;
}