
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('Montserrat-SemiBold.woff') format('woff'),
       url('Montserrat-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: local('Montserrat Medium'),
  url('./Montserrat-Medium.woff') format('woff'),
  url('./Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local('Montserrat Regular'),
  url('./Montserrat-Regular.woff') format('woff'),
  url('./Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: local('Montserrat Light'),
  url('./Montserrat-Light.woff') format('woff'),
  url('./Montserrat-Light.ttf') format('truetype');
}
