@font-face {
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    src:url('Poppins-Light.ttf.woff') format('woff'),
        url('Poppins-Light.ttf.svg#Poppins-Light') format('svg'),
        url('Poppins-Light.ttf.eot'),
        url('Poppins-Light.ttf.eot?#iefix') format('embedded-opentype'); 
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src:url('Poppins.ttf.woff') format('woff'),
        url('Poppins.ttf.svg#Poppins') format('svg'),
        url('Poppins.ttf.eot'),
        url('Poppins.ttf.eot?#iefix') format('embedded-opentype'); 
}

@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    src:url('Poppins-Bold.ttf.woff') format('woff'),
        url('Poppins-Bold.ttf.svg#Poppins-Bold') format('svg'),
        url('Poppins-Bold.ttf.eot'),
        url('Poppins-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
}