@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int .t_intbx{background-image: url(../../../images/site/leisure/content/int_head.png);}
.depart_int .img_box{}
.depart_int .img_box img{display: block; width: 100%; margin: 0 auto;}
.depart_int .img_box.ff img{max-width: 525px; width: 70%;}