@charset "utf-8";




/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Heading

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
h4{font-size:2.8em; line-height: 1; letter-spacing: -0.05em; color: #222222; font-weight: bold;}
h4[data-color="2"]{color: #1B245F;}
h5{font-size:2em; line-height: 1; letter-spacing: -0.05em; color: #222222; font-weight: bold;}
h5[data-color="2"]{color: #1B245F;}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Button

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-skin="btn"]{
	display:inline-block; padding:1.1em 1.6em; background-color:#fff; border:1px solid #ccc; text-align:center; color:#fff; color: #555; line-height: 1; letter-spacing: -0.05em; box-sizing:border-box;
    border-radius: 4px; -webkit-border-radius: 4px;
	transition:all 0.2s ease; -webkit-transition:all 0.2s ease;
}
[data-skin="btn"]:hover{background-color:#223257; border-color: #223257; color:#fff;}
[data-skin="btn"]>span{display:inline-block; font-size:1.8em; box-sizing:border-box;}
[data-skin="btn"][data-size="s"]{padding:1em 1.6em;}
[data-skin="btn"][data-size="s"]>span{font-size:1.6em;}
[data-skin="btn"][data-color="2"]{background-color: #223257; border-color: #223257; color:#fff;}
[data-skin="btn"][data-color="2"]:hover{background-color: #18233D; border-color: #18233D;}
[data-skin="btn"][data-color="3"]{background-color: #F03E3E; border-color: #F03E3E; color:#fff;}
[data-skin="btn"][data-color="3"]:hover{background-color: #E03131; border-color: #E03131;}
[data-skin="btn"][data-color="4"]{background-color: #F08300; border-color: #F08300; color:#fff;}
[data-skin="btn"][data-color="4"]:hover{background-color: #E67700; border-color: #E67700;}


/*새창이동버튼*/
[data-skin="btn"][target="_blank"]>span{position: relative; }
[data-skin="btn"][target="_blank"]>span:after{
    content: ""; display: inline-block; width: 1em; height: 1em; margin-left: 0.2em; background-image: url(../../../images/site/skin/icon_link.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; vertical-align: top;
    transition: background-image 0.2s ease; -webkit-transition: background-image 0.2s ease;
}
[data-skin="btn"][target="_blank"]:hover>span:after{background-image: url(../../../images/site/skin/icon_link_ov.svg);}

/*목록버튼*/
[data-skin="btn"][data-type="list"]{
    padding:1.6em 3.2em; background-color: #223257; color: #fff; border: none;
    border-radius: 30px; -webkit-border-radius: 30px;
}
[data-skin="btn"][data-type="list"]:hover{
    background-color: #18233D;
}
[data-skin="btn"][data-type="list"]>span{font-size: 2em;}
[data-skin="btn"][data-type="list"]>span:before{content: ""; display: inline-block; width: 0.9em; height: 0.9em; margin-right: 0.4em; background-image: url(../../../images/site/skin/icon_list.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; vertical-align: bottom;}

/*다운로드버튼*/
[data-skin="btn"][data-type="down"]{padding:1.1em 1.2em; background-color: #EBF2FE; border: none; color: #223257; letter-spacing: -0.688235px;}
[data-skin="btn"][data-type="down"]:hover{background-color: #F08300; color: #fff;}
[data-skin="btn"][data-type="down"]>span:after{content: ""; display: inline-block; width: 1em; height: 1em; margin-left: 0.4em; background-image: url(../../../images/site/skin/icon_down.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; vertical-align: bottom;}
[data-skin="btn"][data-type="down"]:hover>span:after{background-image: url(../../../images/site/skin/icon_down_ov.svg);}
[data-skin="btn"][data-type="down"]>span{font-size: 1.6em;}
[data-skin="btn"][data-type="down"][data-color="2"]{border: 1px solid #ccc; background-color: #fff; color: #555;}
[data-skin="btn"][data-type="down"][data-color="2"]:hover{border-color: #223257; background-color: #223257; color: #fff;}

/*더보기버튼*/
[data-skin="btn"][data-type="more"][data-color="5"],
[data-skin="btn"][data-type="more2"][data-color="5"]{padding:1.1em 1.8em; border-color: #EFF0F4; background-color: #EFF0F4; color: #1B245F;}
[data-skin="btn"][data-type="more"][data-color="5"]:hover,
[data-skin="btn"][data-type="more2"][data-color="5"]:hover{border-color: #1B245F; background-color: #1B245F; color: #fff;}
[data-skin="btn"][data-type="more"][data-color="5"]>span:after,
[data-skin="btn"][data-type="more2"][data-color="5"]>span:after{content: ""; display: inline-block; width: 1em; height: 1em; margin-left: 0.212em; background-image: url(../../../images/site/skin/icon_more.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; vertical-align: bottom;
    transition: background-image 0.2s ease; -webkit-transition: background-image 0.2s ease;
}
[data-skin="btn"][data-type="more2"][data-color="5"]>span:after{background-image: url(../../../images/site/skin/icon_more2.svg);}
[data-skin="btn"][data-type="more"][data-color="5"]:hover>span:after{background-image: url(../../../images/site/skin/icon_more_ov.svg);}
[data-skin="btn"][data-type="more2"][data-color="5"]:hover>span:after{background-image: url(../../../images/site/skin/icon_more2_ov.svg);}


[data-skin="btn"][data-type="down2"]{
    width: 30px; height: 30px; padding: 0; background-image: url(../../../images/site/skin/icon_down2.svg); background-repeat: no-repeat; background-position: center center; background-size: 20px auto; border-color: #ECECEC;
    border-radius: 50%; -webkit-border-radius: 50%;
}
[data-skin="btn"][data-type="down2"]:hover{border-color: #ECECEC; background-image: url(../../../images/site/skin/icon_down2_ov.svg);}
[data-skin="btn"][data-type="down2"]>span{display: block; text-indent: -9999px;}

/*미리보기버튼*/
[data-skin="btn"][data-type="view"]>span:after{content: ""; display: inline-block; width: 1em; height: 1em; margin-left: 0.4em; background-image: url(../../../images/site/skin/icon_view.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; vertical-align: bottom;}
[data-skin="btn"][data-type="view"]:hover>span:after{background-image: url(../../../images/site/skin/icon_view_ov.svg);}

.btns{margin-top:4em;}
.btns [data-skin="btn"]+[data-skin="btn"]{margin-left:1.8em;}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	tab

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-skin="tab"]{margin-bottom:4em;}
[data-skin="tab"]>.title{display:none; position:relative;}
[data-skin="tab"]>.title>a{display:block; padding:0.563em 1.2em; background-color:#1B2B6C; font-size:2em; font-weight:400; color:#fff;}
[data-skin="tab"]>.title>a:after{content:""; position:absolute; top:calc(50% - 0.6em); right:1em; width:1.167em; height:1.167em; background:url(../../../images/site/skin/tab_icon_arrow_ov.svg) no-repeat 0 0; background-size:contain;}
[data-skin="tab"]>ul{overflow:hidden; border:1px solid #E2E2E2; box-sizing:border-box;}
[data-skin="tab"]>ul>li{position:relative; float:left; width:calc(100%/7); box-sizing:border-box;}

[data-skin="tab"]>ul>li>a{
	position:relative; display:block; padding:0.75em 1.3em; background-color:#fff; font-size:1.8em; box-sizing:border-box;
	transition:all 0.2s ease; -webkit-transition:all 0.2s ease;
}

@media screen and (min-width:641px){
	[data-skin="tab"]>ul>li:not(:last-child){border-right:1px solid #E2E2E2;}
	[data-skin="tab"]>ul>li>a:after{content:""; position:absolute; top:calc(50% - 0.6em); right:1em; width:1.167em; height:1.167em; background:url(../../../images/site/skin/tab_icon_arrow.svg) no-repeat 0 0; background-size:contain;}
	[data-skin="tab"]>ul>li.on>a,
	[data-skin="tab"]>ul>li>a:hover{background-color:#1B2B6C; color:#fff;}
	[data-skin="tab"]>ul>li.on>a:after,
	[data-skin="tab"]>ul>li>a:hover:after{background-image:url(../../../images/site/skin/tab_icon_arrow_ov.svg);}
}
@media screen and (max-width:1340px) and (min-width:641px){
	[data-skin="tab"]>ul>li{width:calc(100%/4);}
	[data-skin="tab"]>ul>li:nth-child(4){border-right:0;}
	[data-skin="tab"]>ul>li:last-child{border-right:1px solid #E2E2E2;}
	[data-skin="tab"]>ul>li:not(:nth-child(n+5)){border-bottom:1px solid #E2E2E2;}
}
@media screen and (max-width:640px){
	[data-skin="tab"]{position:relative; z-index:1;}
	[data-skin="tab"]>.title{display:block;}
	[data-skin="tab"]>ul{display:none; overflow:hidden; position:absolute; top:5.3em; left:0; width:100%; padding:2.2em 0; background-color:#fff; border-right:1px solid; border-top:0; border-color:#E8E8E8; border-radius:0 0 1em 1em; box-shadow:0 2em 2em rgba(50,50,71,0.1); box-sizing:border-box;}
	[data-skin="tab"]>ul>li{float:none; width:100%; border-right:0;}
	[data-skin="tab"]>ul>li>a{padding:0.434em 1.3em; font-size:1.9em;}
	[data-skin="tab"]>ul>li>a:hover{background-color:#F0F7FF; color:#2F80ED;}
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	input style

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*input*/
[data-skin="input"],
[data-skin="password"]{height:4.8em;}
[data-skin="input"]>input[type="text"],
[data-skin="password"]>input[type="password"]{width:100%; height:100%; line-height:1; padding:0 0.8em; background-color:#fff; border-color:#ccc; font-size:1.8em; color:#333;}
[data-skin="input"]>input[type="text"]::placeholder{color:#A2A2A2;}
[data-skin="input"][data-length="s"]{width:16em;}

/*submit*/
[data-skin="submit"]{height:4.8em;}
[data-skin="submit"]>input[type="submit"]{width:100%; height:100%; padding:0 0.8em; background-color:#191F28; font-size:1.8em; color:#fff; box-sizing:border-box;}

/*select*/
[data-skin="select"]{position:relative; height:4.8em;}
/*[data-skin="select"]:after{content:""; position:absolute; top:0; right:0; width:4.2em; height:4.8em; background:#fff url(../../../images/site/skin/icon_select_arrow.svg) no-repeat center; border:1px solid #ccc; box-sizing:border-box;}*/
[data-skin="select"]>select{
	width:100%; height:100%; padding:0 2.3em 0 0.8em; background:#fff url(../../../images/site/skin/icon_select_arrow.svg) no-repeat right center; background-size:auto 100%; border-color:#ccc; font-size:1.8em; color:#333;
	-webkit-appearance:none; appearance:none;
}
[data-skin="select"]>select::-ms-expand{display:none;}

/*textarea*/
[data-skin="textarea"]{width:100%; height:38em;}
[data-skin="textarea"]>textarea{width:100%; height:100%; padding:0.8em 1em; font-size:1.8em; color:#333;}

/*radio*/
[data-skin="radio"]{}
[data-skin="radio"]>span,
[data-skin="radio"]>div{position:relative;}
[data-skin="radio"]>span+span{margin-left:1.8em;}
[data-skin="radio"]>span input[type="radio"],
[data-skin="radio"]>div input[type="radio"]{overflow:hidden; position:absolute; left:0; top:0; width:0; height:0;}
[data-skin="radio"]>span label,
[data-skin="radio"]>div label{position:relative; display:inline-block; padding-left:1.5em; font-size:1.8em; color:#555; letter-spacing: -0.6px;}
[data-skin="radio"]>span label:before,
[data-skin="radio"]>div label:before{
	content:""; position:absolute; left:0; top:0.2em; display:block; width:1.112em; height:1.112em; background-color:#fff; border:1px solid #ccc; border-radius:50%; box-sizing:border-box;
}
[data-skin="radio"]>span label:after,
[data-skin="radio"]>div label:after{
	content:""; position:absolute; left:0; top:0.2em; display:block; width:1.112em; height:1.112em; background-color:#2F42A2; border-radius:50%;
	transform:scale(0); -webkit-transform:scale(0);
	transition:all 0.2s ease; -webkit-transition:all 0.2s ease;
}
[data-skin="radio"]>span input[type="radio"]:checked+label,
[data-skin="radio"]>div input[type="radio"]:checked+label{color: #222;}
[data-skin="radio"]>span input[type="radio"]:checked+label:before,
[data-skin="radio"]>div input[type="radio"]:checked+label:before{border-color: #2F42A2;}
[data-skin="radio"]>span input[type="radio"]:checked+label:after,
[data-skin="radio"]>div input[type="radio"]:checked+label:after{transform:scale(0.5); -webkit-transform:scale(0.5);}

[data-skin="file"]>input[type="file"]{font-size:1.8em;}

/*체크박스*/
[data-skin='checkbox']>span{display:inline-block; margin-right:1.2em; padding:0.3em 0;}
[data-skin='checkbox'] [type='checkbox']{overflow:hidden; position:absolute; left:-2000px;}
[data-skin='checkbox'] label{position:relative; display:block; line-height:1; padding-left:1.5em; font-size:1.8em;letter-spacing: -0.6px;}
[data-skin='checkbox'] label:before{
    content:""; position:absolute; top:0; left:0; width:20px; height:20px; background-color:#fff; border:1px solid #ccc; box-sizing: border-box;
    border-radius: 4px; -webkit-border-radius: 4px;
}
[data-skin='checkbox'] [type='checkbox']:checked+label:before{background-image:url(../../../images/site/skin/icon_checked.svg); background-repeat:no-repeat; background-position:center;}

/*파일찾기*/
.file_find{position:relative; max-width:300px;}
.file_find input[type="file"]{overflow:hidden; position:absolute; width:0px; height:1px; margin:-1px; padding:0; border:0;}
.file_find label{position:absolute; top:0; right:0; display:inline-block; width:90px; height:35px; line-height:35px; background-color:#5d6372; vertical-align:middle; text-align:center; font-size:14px; color:#fff; cursor:pointer; box-sizing:border-box;}
/* named upload */
.file_find .upload-name{
    overflow:hidden; display:inline-block; width:100%; background-color:#fff; vertical-align:middle; white-space:nowrap; text-overflow:ellipsis;
	/* 네이티브 외형 감추기 */
	-webkit-appearance:none; 
	-moz-appearance:none;
	appearance:none;
 }


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	popup

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
[data-skin="popup"]{position:fixed; top:0; left:0; z-index:999; width:100%; height:100%; background-color:rgba(0,0,0,0.7);}
[data-skin="popup"] .wbx{
  position:absolute; top:50%; left:50%; z-index:999; max-width:43em; width:90%; background-color:#fff; border-radius:2em;
  transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%);
}
[data-skin="popup"] .wbx>strong{display:block; padding:0.7em 1em; border-bottom:1px solid #E8E8E8; font-size:2.4em; color:#191F28;}
[data-skin="popup"] .wbx>div{padding:4em 3em 4.8em;}
[data-skin="popup"] .wbx>div>span{display:block; margin-bottom:2em; text-align:center; font-size:1.8em;}
[data-skin="popup"] .wbx>div .btnbx{text-align:center;}
[data-skin="popup"] .wbx>div .btnbx a{display:inline-block; height:2.667em; line-height:2.667em; padding:0 2.2em; border-radius:0.3em; font-size:1.8em;}
[data-skin="popup"] .wbx>div .btnbx a+a{margin-left:1em;}
[data-skin="popup"] .wbx>div .btnbx .ok{background-color:#2F80ED; color:#fff;}
[data-skin="popup"] .wbx>div .btnbx .no{background-color:#E8EAEC;}
[data-skin="popup"] .wbx .btn_close{
  overflow:hidden; position:absolute; top:2.7em; right:2.5em; width:1.8em; height:1.8em; background:url(../../../images/site/skin/password_box_close.svg) no-repeat 0 0; background-size:contain; text-indent:-2000px;
  transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}
[data-skin="popup"] .wbx .btn_close:hover{transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.js_blind{position:fixed; top:0; left:0; z-index:999; width:100%; height:100%; background-color:rgba(0,0,0,0.7);}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	Table

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.table{width:100%; border-top:2px solid #223257;}
.table tr{
    background-color: transparent;
    transition: background-color 0.2s ease; -webkit-transition: background-color 0.2s ease;
}
.table tr:hover{background-color: #D0E1FC;}
.table th,
.table td{height:58px; padding: 14px 24px; text-align:center; font-size: 18px; letter-spacing: -0.6px; font-weight: 500; box-sizing: border-box;}
.table th{height: 56px;}
/*.table th:not(:first-child),
.table td:not(:first-child){border-left:1px solid #D5D8DD;}
.table th:not(:last-child),
.table td:not(:last-child){border-right:1px solid #D5D8DD;}*/
.table th{background-color:#F9FAFC; font-weight:500; border-bottom:1px solid #D1D1D2; color:#111;}
.table td{border-bottom:1px solid #E8EAEF; color:#222;}
.table th.left,
.table td.left{text-align:left !important;}
.table th.center,
.table td.center{text-align:center !important;}
.table th.right,
.table td.right{text-align:right !important;}


@media screen and (max-width:740px){
	.table_scroll{overflow:auto;}
	.table_scroll .table{position:relative; width:740px;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	etc

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.caption{display:block; margin-bottom:1em; text-align:right; font-size:1.8em; color:#8b8b8b;}

[data-skin="box"]{overflow-y:auto; height:20em; padding:3em 3.2em; border:1px solid #E8E8E8; box-sizing:border-box;}
[data-skin="box"]>p,
[data-skin="box"]>strong{font-size:1.8em;}