@charset "UTF-8";
body{background-color:#fff !important;}
html,
body,
#root,
#root #container{height:100% !important;}
#skip,
#root #menu,
#root #visual,
#root #all_menu,
#root #footer,
#root #btn_top{display:none !important;}

#root #header{height:100% !important; border:none !important;}
#root #header:before{
    left:0 !important; top:0 !important;
    -webkit-transform:translateY(0) !important;
    transform:translateY(0) !important;
}
#root #header > ul{
    right:auto !important; left:0 !important; top:auto !important; bottom:5em !important; width:100% !important; text-align:center !important;
    -webkit-transform:translateY(0) !important;
    transform:translateY(0) !important;
}
#root #middle{margin-top:0 !important;}
#root #middle #bind{
    font-size:1em;
}
#root #middle #bind [id*="page_"]{display:block !important; padding-top:2em !important;}
#root #middle #bind [id*="page_"]:after{content:""; display:block; page-break-before:always;}
#root #middle [data-tab="2"] > .head{display:none !important;}
#root #middle [data-tab="2"] > .midd > .content{display:block !important;}
#root #middle [data-tab="2"] > .midd > .content:nth-child(n+2){margin-top:6em !important;}
#root #middle [data-tab="2"] > .midd .print_tab{display:table !important;}
#root #middle .imgbox img {max-height:40em !important;}
#root #middle [data-chart]{max-height:40em !important;}

#middle .movie{display:none !important;}
#middle .movie_print{display:block;}

iframe{display:none;}