@charset "utf-8";
.user #slide_map .slide_map_close
{
	transition : all 0.5s ease;
    -webkit-transition : all 0.5s ease;
}
@media screen and (min-width: 1025px){	
	.user #slide_map{display:none; position:absolute; left:50%; top:100px; z-index:1001; width:1024px; height:650px; padding:40px 35px; margin:0 0 0 -512px; background-color:#fff; box-sizing:border-box;}
	.user #slide_map .slide_map_titles{display:block; margin:0px 5px 0px 5px; font-weight:normal; font-size:30px; color:#202020;}
	.user #slide_map .slide_map_titles span{display:inline-block; padding-left:20px; font-weight:normal; font-size:16px; color:#909090;}
	.user #slide_map .btn_head,
	.user #slide_map .btn_etc{display:none !important;}
	.user #slide_map .binds{overflow:hidden; width:100%; height:100%; font-family:"Nanum Barun Gothic";}
	
	.user #slide_map .binds ul{position:absolute; left:0; top:30px; width:944px; height:470px; margin:10px 5px 0px 5px; padding:25px 0px; border-top:1px solid #999; border-bottom:1px solid #999; box-sizing:border-box;}
	.user #slide_map .binds ul li{overflow:hidden; float:left; width:16.6%; height:100%; padding:0px 3px; box-sizing:border-box;}
	.user #slide_map .binds ul li:first-child{width:17%;}
	.user #slide_map .binds ul li a{display:block; line-height:19px; font-weight:normal; font-size:15px; margin:0; padding:10px 5px; text-align:center; border:none; color:#202020; background:#ebebeb;}
	.user #slide_map .binds ul li:hover a,
	.user #slide_map .binds ul li a:hover{color:#fff; text-decoration:none; background:#464646;}
	.user #slide_map .binds ul li a:focus{text-decoration:none;}
	.user #slide_map .binds ul li ul{display:block !important; position:static; width:auto; height:auto; padding:0; margin:15px 0 0 0; border:none;}
	.user #slide_map .binds ul li .scroll_box{height:90%;}
	.user #slide_map .binds ul li ul li{float:none; width:auto !important; height:auto; margin:5px 0px; padding:0 5px;}
	.user #slide_map .binds ul li:hover ul li a,
	.user #slide_map .binds ul li ul li a{padding:0 0 0 10px; font-weight:normal; font-size:12px; text-align:left; color:#303030; background:url(../../images/kor/layout/slide_map_bul_01.gif) no-repeat 1px 7px !important;}
	.user #slide_map .binds ul li ul li a:hover{text-decoration:underline; color:#303030; background:url(../../images/kor/layout/slide_map_bul_01.gif) no-repeat 1px 7px !important;}
	.user #slide_map .binds ul li ul li ul{margin:0 0 0 8px;}
	.user #slide_map .binds ul li ul li ul li{margin:0; padding:0 0 0 5px;}
	.user #slide_map .binds ul li:hover ul li ul li a,
	.user #slide_map .binds ul li ul li ul li a{padding-left:10px; font-weight:normal; font-size:12px; color:#606060; background:url(../../images/kor/layout/slide_map_bul_02.gif) no-repeat 0px 7px !important;}
	.user #slide_map .binds ul li ul li ul li a:hover{text-decoration:underline; color:#606060; background:url(../../images/kor/layout/slide_map_bul_02.gif) no-repeat 0px 7px !important;}
	.user #slide_map .binds .mCSB_container{height:100% !important;}
	.user #slide_map .binds .slide_list .mCSB_container{height:auto !important;}
	.user #slide_map .language,
	.user #slide_map .search{display:none;}

	.user #slide_map .slide_map_close{overflow:hidden; position:absolute; right:40px; top:40px; width:38px; height:38px; text-indent:-1000px; background:url(../../images/kor/layout/icon_slide_map_close.png) no-repeat center center;}
	.user #slide_map .slide_map_close:hover{
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);
	}

	.user #slide_map .mCSB_scrollTools{right:-7px !important;}
	.user #slide_map .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#ddd;}
	.user #slide_map .mCS-light-thin.mCSB_scrollTools .mCSB_draggerRail{background-color:#999;}
}
@media screen and (min-width: 2101px){
	#main.user #visual .slide>.move>ul>li>.bg>div{background-size:cover;}
}
@media screen and (max-width: 1640px){
	.user #header .js_menu:after{right:calc(100% - 320px);}
	.user #header .js_menu>ul>li>strong,
	.user #header .js_menu>ul>li>span{left:50px;}
	.user #header .js_menu>ul>li>ul{max-width:100%; padding:13px 13px 13px 333px;}
}
@media screen and (max-width: 1580px){
	#main.user #visual .quicks{right:0;}
}
@media screen and (max-width: 1540px){
	#main.user #visual .slide>.controll{left:50px;}
}

@media screen and (max-width: 1480px){
	.user #wrap .layout{max-width:100%; padding:0px 50px;}
	.user #header h1{left:50px;}
	

	#sub.user #container .layout{padding-left:260px; background-position:50px 0px;}
	#sub.user #container #remote{left:50px;}

}
@media screen and (max-width: 1250px){
	.user #header .js_menu:after{right:calc(100% - 270px);}
	.user #header .js_menu>ul{padding:0 40px; justify-content:flex-end;}
	.user #header .js_menu>ul>li>strong,
	.user #header .js_menu>ul>li>span{left:0;}
	.user #header .js_menu>ul>li>strong{font-size:30px;}
	.user #header .js_menu>ul>li>span{font-size:14px;}
	.user #header .js_menu>ul>li>ul{max-width:100%; padding:13px 13px 13px 283px;}
	.user #header .js_menu>ul>li>ul>li{padding:5px;}
	.user #header .js_menu>ul>li>ul>li>a{padding:0 20px; font-size:14px;}
	.user #header .js_menu>ul>li>ul>li>ul>li>a{font-size:14px;}
}



@media screen and (max-width: 1024px){
	.user .js_mobile_check{display:block;}

	.user #wrap{padding-top:0;}
	.user #wrap .layout{padding:0 20px;}

	.user #header{min-height:63px; height:63px !important;}
	.user #header:before{height:149px;}
	.user #header:after{top:63px;}
	.user #header .layout{height:100%;}
	.user #header h1{position:relative; left:0; top:0px; height:63px; margin:0; text-align:left;}
	.user #header h1 a{display:inline-block; height:100%; text-align:left;}
	.user #header h1 a img{height:100%;}
	
	.user #header #etc{display:none !important; height:30px;}
	.user #header #etc ul li a{display:block; height:30px; line-height:30px; font-size:12px;}

	.user #header #global{top:0px; padding-right:0px;}
	.user #header #global .btn_search,
	.user #header #global .btn_menu_all{top:20px;}
	.user.search #header #global .search_form{top:53px; right:20px;}

	.user.mobile.gnb #header h1 a{background:url(../../images/kor/layout/logo.svg) no-repeat left center !important;}
	.user.mobile.gnb #header #global .btn_search{background:url(../../images/kor/layout/icon-search.svg) no-repeat center center !important;}

	
	.user.search:not(.header) #header:before{top:0;}
	.user.search:not(.header) #header #global .search_form{top:64px;}

	
	.user #header .js_menu{display:none;}
	.user #slide_map{
		opacity:0; position:absolute; left:100%; top:0; z-index:1001; width:100%; min-height:100%; padding:64px 0 0 0px; background-color:#e8effd; box-sizing:border-box;
		transition:left 0.3s ease, opacity 0.5s ease;
		-webkit-transition:left 0.3s ease, opacity 0.5s ease;
	}
	.user #slide_map .slide_map_titles{display:none;}
	.user #slide_map .binds{width:100%; padding:0px; box-sizing:border-box;}
	.user #slide_map .binds ul{}
	.user #slide_map .binds ul li{}
	.user #slide_map .binds>ul>li>strong,
	.user #slide_map .binds>ul>li>span{display:none;}
	.user #slide_map .binds ul li a{display:block; position:relative; line-height:19px; padding:18px 55px 18px 25px; text-decoration:none; font-weight:normal; font-size:18px; border-bottom:1px solid #dedede;}
	.user #slide_map .binds ul li.child a:after{content:""; display:block; position:absolute; right:25px; top:50%; width:20px; height:11px; margin-top:-5px; background:url(../../images/kor/layout/mo_menu_bul_01.png) no-repeat center center;}
	.user #slide_map .binds ul li a:link,
	.user #slide_map .binds ul li a:visited,
	.user #slide_map .binds ul li a:active,
	.user #slide_map .binds ul li a:hover{color:#2c2c2c; background:#fff;}
	.user #slide_map .binds ul li a.on:link,
	.user #slide_map .binds ul li a.on:visited,
	.user #slide_map .binds ul li a.on:active,
	.user #slide_map .binds ul li a.on:hover{color:#fff; text-decoration:none; background:#2b66c2;}
	.user #slide_map .binds ul li.child a.on:after{background:url(../../images/kor/layout/mo_menu_bul_01_on.png) no-repeat center center;}
	
	.user #slide_map .binds ul li ul{display:none; padding:0; border-bottom:1px solid #dedede; background-color:#f5f5f5; box-sizing:border-box;}
	.user #slide_map .binds ul li ul li{padding:0; border-bottom:none;}
	.user #slide_map .binds ul li ul li:not(:nth-child(1)){border-top:1px solid #e8e8e8;}
	.user #slide_map .binds ul li ul li a{position:relative; line-height:17px; margin:0; padding:10px 40px 10px 25px; vertical-align:top; font-size:15px; box-sizing:border-box;}
	.user #slide_map .binds ul li ul li.child a:after{content:""; display:block; position:absolute; right:25px; top:50%; width:10px; height:10px; margin-top:-5px; background:url(../../images/kor/layout/mo_menu_bul_02.png) no-repeat center center;}
	.user #slide_map .binds ul li ul li:not(.child) a:after{display:none;}
	.user #slide_map .binds ul li ul li a:link,
	.user #slide_map .binds ul li ul li a:visited,
	.user #slide_map .binds ul li ul li a:active,
	.user #slide_map .binds ul li ul li a:hover{font-weight:normal; border:none; color:#686868; background:none;}
	.user #slide_map .binds ul li ul li a.on:link,
	.user #slide_map .binds ul li ul li a.on:visited,
	.user #slide_map .binds ul li ul li a.on:active,
	.user #slide_map .binds ul li ul li a.on:hover{color:#2b66c2; background:none;}
	.user #slide_map .binds ul li ul li.child a.on:after{background:url(../../images/kor/layout/mo_menu_bul_02_on.png) no-repeat center center;}

	.user #slide_map .binds ul li ul li ul{margin:3px 0px 8px 0px; padding:0px; vertical-align:top; box-sizing:border-box;}
	.user #slide_map .binds ul li ul li ul li{padding:0; border-bottom:none;}
	.user #slide_map .binds ul li ul li ul li a{line-height:16px; padding:10px 25px 10px 25px; font-size:15px; color:#fff;}
	.user #slide_map .binds ul li ul li ul li a:before{content:"-"; margin-right:3px;}
	.user #slide_map .binds ul li ul li ul li a:after{display:none;}
	.user #slide_map .binds ul li ul li ul li a:link,
	.user #slide_map .binds ul li ul li ul li a:visited,
	.user #slide_map .binds ul li ul li ul li a:active,
	.user #slide_map .binds ul li ul li ul li a:hover{font-weight:normal; color:#fff; background:#606d8b;}
	.user #slide_map .binds ul li ul li ul li a.on:link,
	.user #slide_map .binds ul li ul li ul li a.on:visited,
	.user #slide_map .binds ul li ul li ul li a.on:active,
	.user #slide_map .binds ul li ul li ul li a.on:hover{font-weight:normal; text-decoration:underline; color:#787878;}
	.user #slide_map .binds ul li ul li ul li ul{display:none;}

	.user #slide_map .slide_map_close{overflow:hidden; position:absolute; right:220px; top:0px; z-index:1; width:70px; height:70px; text-indent:-1000px; background:#333 url(../../images/kor/layout/btn_line.png) no-repeat center center;}

	.user.gnb #header{
		border-bottom:1px solid #e6e6e6;
		box-shadow:none;
		-webkit-box-shadow:none;
	}
	.user #header #global .search_form .btn_close{display:none;}
	.user.gnb #header #global .btn_menu_all_close,
	.user.search #header #global .btn_menu_all_close{display:block;}
	.user #header #global .btn_menu_all_close{width:63px; height:63px;}

	.user #slide_map .map_foot{margin:30px 15px 20px 15px; border-top:1px solid #becadc; border-bottom:1px solid #becadc;}
	.user #slide_map .map_foot ul{overflow:hidden; padding:10px 0px;}
	.user #slide_map .map_foot ul li{float:left; width:16.6%; padding:4px 0px;}
	.user #slide_map .map_foot ul li a{display:block; line-height:16px; text-decoration:none; text-align:center; font-size:15px; color:#2c2c2c;}
	.user #slide_map .map_foot ul li a span{text-align:left;}
	
	.user #slide_map .map_sns{overflow:hidden; position:relative; height:33px; margin:0px 15px; padding-bottom:20px;}
	.user #slide_map .map_sns strong{display:none; line-height:50px; padding-left:20px; font-weight:normal; font-size:18px; color:#fff;}
	.user #slide_map .map_sns ul{overflow:hidden;}
	.user #slide_map .map_sns ul li{float:left; position:relative; padding:0px 5px;}
	.user #slide_map .map_sns ul li a{
		opacity:1; overflow:hidden; display:block; width:33px; height:33px; text-indent:-1000px; background-position:center center; background-repeat:no-repeat;
	}
	.user #slide_map .map_sns ul li.icon_01 a{background-image:url(../../images/kor/layout/map_sns_f.png);}
	.user #slide_map .map_sns ul li.icon_02 a{background-image:url(../../images/kor/layout/map_sns_t.png);}
	.user #slide_map .map_sns ul li.icon_03 a{background-image:url(../../images/kor/layout/map_sns_b.png);}
	.user #slide_map .map_sns ul li.icon_04 a{background-image:url(../../images/kor/layout/map_sns_y.png);}

	.user.gnb #wrap{height:100%;}
	.user.gnb #wrap #container,
	.user.gnb #wrap #footer{position:fixed; opacity:0;}
	.user.gnb #slide_map{opacity:1; left:0; z-index:100;}
	.user.gnb #header{z-index:300;}
	.user.gnb #header #global .btn_menu_all{background-image:url(../../images/kor/layout/icon_menu_on.png);}

	.user #header #global .btn_link{display:none;}

	

	#sub.user #header{position:absolute; left:0; top:0;}
	#sub.user #container .layout{padding:0 0px 70px 0px; background:none;}
	#sub.user h3{line-height:31px; padding-left:20px; font-size:30px;}
	#sub.user h3:before{left:20px;}
	#sub.user #container #remote{display:none;}
	#sub.user #content{padding:0;}
	#sub.user #txt{padding:20px 20px 0px 20px;}
	#sub.user #path .path_etc ul li.print_line{display:none;}
	#sub.user #path .js_menu.select .home{border-left:none;}
	#sub.user #path .print{display:none;}
	#sub.user #path .gongu{right:48px;}


	/* main */
	#main.user [id*="box_line_"]{padding:30px 0px;}

	#main.user #visual{height:600px;}
	#main.user #visual .slide>.controll{justify-content:center; left:0; bottom:15px; width:100%;}
	#main.user #visual .slide>.controll>a:not([class*="btn-"]){width:28px;}
	#main.user #visual .slide>.controll>a:not([class*="btn-"])::after{left:calc(50% - 14px); top:calc(50% - 14px); width:28px; height:28px;}
	#main.user #visual .slide>.move>ul>li strong{padding-bottom:48px; font-size:30px;}

	#main.user #visual #pops{top:80px;}
	#main.user #visual .quicks{display:none;}
	#main.user .titles{line-height:23px; font-size:22px;}
	#main.user #box_line_01 .layout:before{top:-30px;}
	#main.user #box_line_01 #box_1>ul>li>strong a{font-size:16px;}
	#main.user #box_line_01 #box_1>ul>li:nth-child(1)>strong{left:70px;}
	#main.user #box_line_01 #box_1>ul>li:nth-child(2)>strong{left:167px;}
	#main.user #box_line_01 #box_1>ul>li:nth-child(3)>strong{left:264px;}
	#main.user #box_line_01 #box_1>ul>li:nth-child(4)>strong{left:332px;}
	#main.user #box_line_01 #box_1>ul>li:nth-child(5)>strong{left:429px;}


	#main.user #box_line_03 #box_7 ul li .lay{height:200px;}
	#main.user #box_line_03 #box_7 ul li .lay a:before{height:90px; background-size:auto 100%;}
	#main.user #box_line_03 #box_7 ul li .lay a span{line-height:24px; font-size:18px;}
	#main.user #box_line_03 #box_8{padding-left:0; margin-top:40px;}
	#main.user #box_line_03 #box_8 .tis{position:relative; width:auto; line-height:26px; margin-bottom:20px; font-size:22px;}
	#main.user #box_line_03 #box_8 .tis span{display:inline;}
	#main.user #box_line_03 #box_8 .tes ul li a{font-size:14px;}

	#main.user #box_line_04{padding:50px 0px;}


}
@media screen and (min-width: 800px) and (max-width: 1024px){
	#main.user #box_line_03 #box_6 ul li[class*="item_"] .lay .views a span{font-size:16px;}
	#main.user #box_line_03 #box_6 ul li[class*="item_"] .lay .views a span:before{height:65px; background-size:auto 100%;}
}

@media screen and (max-width: 800px){
	
	#main.user .titles{height:40px;}
	#main.user #box_line_01 #box_1{width:66.6%;}
	#main.user #box_line_01 #box_1 ul{position:relative; padding-top:60px;}
	#main.user #box_line_01 #box_1>ul>li>strong{width:20%; height:45px; line-height:43px; padding:0; text-align:center; border-width:1px 0px 1px 0px; border-style:solid; border-color:#ccc; box-sizing:border-box;}
	#main.user #box_line_01 #box_1>ul>li>strong:before{display:none !important;}
	#main.user #box_line_01 #box_1>ul>li>strong a{position:relative; display:inline-block; line-height:43px; font-size:14px;}
	#main.user #box_line_01 #box_1>ul>li:nth-child(1)>strong{left:0;}
	#main.user #box_line_01 #box_1>ul>li:nth-child(2)>strong{left:20%;}
	#main.user #box_line_01 #box_1>ul>li:nth-child(3)>strong{left:40%;}
	#main.user #box_line_01 #box_1>ul>li:nth-child(4)>strong{left:60%;}
	#main.user #box_line_01 #box_1>ul>li:nth-child(5)>strong{left:80%;}
	#main.user #box_line_01 #box_1>ul>li .more{top:-34px;}
	#main.user #box_line_01 #box_1 ul li .views ul{padding-top:0;}
	#main.user #box_line_01 #box_1 ul li .views ul li a{padding-bottom:15px;}
	#main.user #box_line_01 #box_1 ul li .views ul li strong{max-height:40px; min-height:20px; line-height:20px; font-size:15px;}
	#main.user #box_line_01 #box_1 ul li .views ul li .op{line-height:13px; font-size:12px;}

	#main.user #box_line_01 #box_1.step_1>ul>li:nth-child(1)>strong a:after,
	#main.user #box_line_01 #box_1.step_2>ul>li:nth-child(2)>strong a:after,
	#main.user #box_line_01 #box_1.step_3>ul>li:nth-child(3)>strong a:after,
	#main.user #box_line_01 #box_1.step_4>ul>li:nth-child(4)>strong a:after,
	#main.user #box_line_01 #box_1.step_5>ul>li:nth-child(5)>strong a:after{content:""; display:block; position:absolute; left:0; bottom:-1px; width:100%; height:2px; background-color:#f68c3e;}

	#main.user #box_line_01 #box_1 ul li .views.type_02 ul{min-height:200px;}
	#main.user #box_line_01 #box_1 ul li .views.type_02 ul li:not(:nth-child(1)){padding:7px 7px 4px 7px;}
	#main.user #box_line_01 #box_1 ul li .views.type_02 ul li:not(:nth-child(1)) .op{line-height:20px; padding:0px 5px; margin-right:5px; font-size:11px;}
	#main.user #box_line_01 #box_1 ul li .views.type_02 ul li:not(:nth-child(1)) strong{height:auto; line-height:22px;}

	#main.user #box_line_01 #box_2{width:33.4%; padding-left:30px;}
	#main.user #box_line_01 #box_2 .views strong{height:30px; line-height:15px; font-size:12px;}

	#main.user #box_line_02 [id*="box_"]{width:50%;}
	#main.user #box_line_02 #box_3{width:50%; padding-right:15px; margin-right:0;}
	#main.user #box_line_02 #box_4{padding:0 0 0 15px; margin-right:0;}
	#main.user #box_line_02 #box_4 ul li .views{top:40px;}
	#main.user #box_line_02 #box_5{clear:both; float:none; width:100%; height:400px; padding:50px 0 0 0;}
	#main.user #box_line_02 #box_5 ul li .views{top:40px;}

	#main.user #box_line_03 #box_6 ul li{width:50%;}
	#main.user #box_line_03 #box_6 ul li:nth-child(1){padding:0px 5px 5px 0px;}
	#main.user #box_line_03 #box_6 ul li:nth-child(2){padding:0px 0px 5px 5px;}
	#main.user #box_line_03 #box_6 ul li:nth-child(3){padding:5px 5px 0px 0px;}
	#main.user #box_line_03 #box_6 ul li:nth-child(4){padding:5px 0px 0px 5px;}

	#sub.user #path .js_menu.select .js_menu_select:nth-child(2){display:none;}
}
@media screen and (max-width: 768px){
	#main.user #visual{height:405px;}
	#main.user #visual .slide>.move>ul>li>.bg>div.pc{display:none;}
	#main.user #visual .slide>.move>ul>li>.bg>div.mobile{display:block;}
}
@media screen and (max-width: 700px){
	

	#main.user #box_line_03 #box_7{margin-top:30px;}
	#main.user #box_line_03 #box_7 ul li{width:50%;}
	#main.user #box_line_03 #box_7 ul li .lay{display:table; height:auto;}
	#main.user #box_line_03 #box_7 ul li .lay:before{display:none;}
	#main.user #box_line_03 #box_7 ul li .lay a{display:table-cell; position:relative; height:80px; padding:10px 10px 10px 100px; text-align:left; vertical-align:middle;}
	#main.user #box_line_03 #box_7 ul li .lay a:before{display:block; position:absolute; left:10px; top:10px; width:80px; height:80px; margin:0; vertical-align:middle;}
	#main.user #box_line_03 #box_7 ul li .lay a span{display:inline; vertical-align:middle;}
	#main.user #box_line_03 #box_7 ul li:nth-child(1){padding:0px 5px 5px 0px;}
	#main.user #box_line_03 #box_7 ul li:nth-child(2){padding:0px 0px 5px 5px;}
	#main.user #box_line_03 #box_7 ul li:nth-child(3){padding:5px 5px 0px 0px;}
	#main.user #box_line_03 #box_7 ul li:nth-child(4){padding:5px 0px 0px 5px;}

	#main.user #box_line_03 #box_8{margin-top:50px;}
	#main.user #box_line_03 #box_8 .tes ul li a{font-size:14px;}

	#main.user #box_line_04 #box_9 ul li span{line-height:29px; font-size:28px;}
	#main.user #box_line_04 #box_9 ul li strong{line-height:15px; font-size:14px;}
}
@media screen and (max-width: 650px){
	#main.user #visual .searchs{display:none;}
	#main.user #visual #pops>.midd{height:auto;}
	#main.user #visual #pops .move{width:100%; height:auto;}
	#main.user #visual #pops .move:before{position:relative; height:auto; padding-top:60%;}
	#main.user #visual #pops .move ul{position:absolute; left:0; top:0;}
	#main.user #visual #pops .move ul>li,
	#main.user #visual #pops .move ul>li>a,
	#main.user #visual #pops .move .photos{height:100%;}
	#main.user #visual #pops[data-sw="on"]{width:100%;}
	#main.user #visual #pops[data-sw="on"]>.midd{width:100%;}

	
}
@media screen and (max-width: 600px){
	.user #footer .line-2>.layout{flex-direction:column; text-align:center;}
	.user #footer .line-2>.layout>div::before{margin:0 auto 25px;}
	.user #footer .menu{padding:18px 0;}
	.user #footer .menu ul{overflow:auto; display:flex; justify-content:center; flex-wrap:wrap;}
	.user #footer .menu ul li{float:none; margin:2px 0;}
	.user #footer .menu ul li:not(:last-child){padding-right:20px;}
	.user #footer .menu ul li a{font-size:15px;}
	.user #footer address{text-align:center; font-size:15px; color:rgba(255,255,255,0.8);}
	.user #footer .copy{text-align:center; font-size:15px; color:rgba(255,255,255,0.6);}
	.user #footer .wa{margin:0 auto;}

	#main.user #box_line_01 #box_1{float:none; width:100%;}
	#main.user #box_line_01 #box_1 ul li .views{overflow-x:auto; position:relative;}
	#main.user #box_line_01 #box_1 ul li .views:not(.type_02) ul{width:800px;}
	#main.user #box_line_01 #box_1 ul li .views:not(.type_02) ul li{display:block !important; width:200px; padding:0 20px 0 0 !important;}
	#main.user #box_line_01 #box_1 ul li .views:not(.type_02) ul li:nth-child(4){display:none;}
	#main.user #box_line_01 #box_1 ul li .views.type_02 ul{min-height:240px; padding-left:160px;}
	#main.user #box_line_01 #box_1 ul li .views.type_02 ul li{width:150px;}

	#main.user #box_line_01 #box_2{float:none; width:100%; padding:0; margin:50px 0px 0px 0px;}
	#main.user #box_line_01 #box_2 .views a{display:table; position:relative; width:100%; height:110px; border:1px solid #f2f2f2;}
	#main.user #box_line_01 #box_2 .views .photos{overflow:hidden; display:table-cell; width:150px;}
	#main.user #box_line_01 #box_2 .views .photos img{}
	#main.user #box_line_01 #box_2 .views a strong{white-space:normal; display:table-cell; width:auto; height:auto; line-height:22px; margin:0; padding:0 15px; vertical-align:middle; font-size:16px; color:#0e0e0e;}
	/*
	#main.user #box_line_01 #box_2 .views a{position:relative; max-width:100%; margin:0 auto;}
	#main.user #box_line_01 #box_2 .views .photos{}
	#main.user #box_line_01 #box_2 .views strong{position:absolute; left:0; bottom:0; width:100%; height:40px; line-height:40px; margin:0; padding:0px 15px; color:#fff; background-color:rgba(0,0,0,0.7); box-sizing:border-box;}
	*/
	#main.user #box_line_02 #box_3,
	#main.user #box_line_02 #box_4{float:none; width:100%; padding:0;}
	#main.user #box_line_02 #box_3{}
	#main.user #box_line_02 #box_3 a:not(.more){position:relative; border-bottom:none;}
	#main.user #box_line_02 #box_3 .photos{height:350px;}
	#main.user #box_line_02 #box_3 .photos img{height:100%;}
	#main.user #box_line_02 #box_3 a strong{position:absolute; left:0; bottom:0; width:100%; height:40px; line-height:40px; padding:0px 15px; font-size:12px; color:#fff; background-color:rgba(0,0,0,0.7); box-sizing:border-box;}
	#main.user #box_line_02 #box_4{height:346px; margin-top:50px;}
	#main.user #box_line_02 #box_4 ul li:not(:nth-child(1)) .titles:before{top:4px;}
	
	#main.user #box_line_03 #box_8 .tes ul li{width:33.3%; padding:5px; box-sizing:border-box;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(1){padding:0 6px 5px 0px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(2){padding:0 3px 5px 3px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(3){padding:0 0px 5px 6px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(4){padding:5px 6px 0px 0px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(5){padding:5px 3px 0px 3px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(6){padding:5px 0px 0px 6px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(7){padding:10px 6px 0px 0px;}
	#main.user #box_line_03 #box_8 .tes ul li a{padding:10px; background-color:#e1e6ee; box-sizing:border-box;}
	#main.user #box_line_03 #box_8 .tes ul li a:before{display:none;}
	#main.user #box_line_03 #box_8 .tes ul li a:hover{color:#fff; background-color:#5b93d6;}

	#main.user #box_line_04{padding:50px 0px;}
	#main.user #box_line_04 #box_9 ul li span{line-height:27px; font-size:26px;}
	#main.user #box_line_04 #box_9 ul li strong{line-height:14px; font-size:13px;}

	#sub.user #wrap{padding-top:0;}
	#sub.user #header{position:relative; background-color:#fff;}
	#sub.user #header h1 a{background:url(../../images/kor/layout/logo.svg) no-repeat left center !important;}
	#sub.user #header #global .btn_search{background:url(../../images/kor/layout/icon-search.svg) no-repeat center center !important;}
	#sub.user #header #global .btn_menu_all{background:url(../../images/kor/layout/icon-sitemap.svg) no-repeat center center !important;}
	#sub.user #visual{position:relative; height:52px; background:#363d43 !important;}
	#sub.user #visual strong{line-height:52px; padding:0; font-size:22px;}
	#sub.user #visual span{display:none;}

	#sub.user #path .sns_box{display:block; position:absolute; left:auto; right:20px; top:-72px; width:64px; height:52px;}
	#sub.user #path .sns_box:before{opacity:0 !important;}
	#sub.user #path .sns_box .bx{opacity:1 !important; position:absolute; left:auto; right:0; top:0; width:100%; height:auto; margin:0; padding:0;  background:none;}
	#sub.user #path .sns_box .bx .head,
	#sub.user #path .sns_box .bx .btn_close,
	#sub.user #path .gongu,
	#sub.user #path .quicks,
	#sub.user #path:before{display:none;}
	#sub.user #path .sns_box .bx ul{overflow:hidden; width:100%; height:auto; background:none;}
	#sub.user #path .sns_box .bx ul li{display:block; float:left; padding:12px 10px 0 0;}
	#sub.user #path .sns_box .bx ul li:last-child{padding:12px 0 0 0;}
	#sub.user #path .sns_box .bx ul li a{overflow:hidden; width:27px; height:27px; padding:0; text-indent:-1000px;}
	#sub.user #path .sns_box .bx ul li a:after{display:none !important;}
	#sub.user #path .sns_box .bx ul li a:before{width:27px; height:27px;}
	#sub.user #path .sns_box .bx ul li a:hover:before{
		transform:scale(1);
		-webkit-transform:scale(1);
	}
	#sub.user #path .sns_box .bx ul li:nth-child(1) a:before{background-image:url(../../images/kor/layout/sns_f_s.png);}
	#sub.user #path .sns_box .bx ul li:nth-child(2) a:before{background-image:url(../../images/kor/layout/sns_t_s.png);}

	#sub.user #path{min-height:10px;}
	#sub.user #path .js_menu.select{margin:20px 20px; padding-left:20px;}
	#sub.user #path .js_menu.select .js_menu_select:nth-child(2){display:block;}
	#sub.user #path .js_menu.select .home{position:absolute; left:0; top:0; width:20px; height:20px; border:none; background:url(../../images/kor/layout/home_icon2.png) no-repeat center center !important;}
	#sub.user #path .js_menu.select .js_menu_select{min-width:1px; border:none;}
	#sub.user #path .js_menu.select .js_menu_select strong{height:auto;}
	#sub.user #path .js_menu.select .js_menu_select strong a{line-height:20px; padding:0 0 0 0px; cursor:default; font-size:14px; color:#545454;}
	#sub.user #path .js_menu.select .js_menu_select strong a:before{content:"ㆍ";}
	#sub.user #path .js_menu.select .js_menu_select strong a:after{display:none;}
	#sub.user #path .js_menu.select .js_menu_select ul{display:none !important;}


	#sub.user .menu#cnb{display:block;}
}
@media screen and (max-width: 550px){
	#main.user #box_line_03 #box_7 ul li .lay a{height:60px; padding-left:80px;}
	#main.user #box_line_03 #box_7 ul li .lay a:before{width:60px; height:60px;}
	#main.user #box_line_03 #box_7 ul li .lay a span{line-height:16px; font-size:15px;}
}
@media screen and (max-width: 500px){
	.user #header #global .search_form fieldset{display:block; margin:0 20px;}
	.user #header #global .search_form input[type="text"]{width:100%;}

	#main.user #box_line_03 #box_6 ul li[class*="item_"] .lay .views a span{font-size:16px;}
	#main.user #box_line_03 #box_6 ul li[class*="item_"] .lay .views a span:before{height:50px; background-size:auto 100%;}

	#main.user #box_line_03 #box_8 .tes ul li{display:table;}
	#main.user #box_line_03 #box_8 .tes ul li a{display:table-cell; word-break:break-all; line-height:18px; height:50px; padding:0 5px; vertical-align:middle;}
}
@media screen and (max-width: 450px){
	
	

	.user #slide_map .map_head ul li a{font-size:12px;}
	.user #slide_map .map_foot .midd ul li a{line-height:16px; font-size:12px;}

	.user #slide_map .map_foot ul li{width:25%;}
	.user #slide_map .map_foot ul li a{text-align:left;}


	#main.user #box_line_02 #box_3 .photos{height:250px;}



	#main.user #box_line_02 #box_4{}
	#main.user #box_line_02 #box_4 ul li .views{top:50px;}
	#main.user #box_line_02 #box_4 ul li .views ul li a{position:relative;}
	#main.user #box_line_02 #box_4 ul li .views ul li:nth-child(1) .days{display:block;}

	#main.user #box_line_02 #box_5{}
	#main.user #box_line_02 #box_5 ul li .views{top:50px;}
	#main.user #box_line_02 #box_5 ul li .views ul li a{position:relative;}
	
	#main.user #box_line_03 #box_7 ul li .lay a{height:50px; padding-left:70px;}
	#main.user #box_line_03 #box_7 ul li .lay a:before{width:50px; height:50px;}
	#main.user #box_line_03 #box_7 ul li .lay a span{display:block; line-height:16px; font-size:14px;}

	#main.user #box_line_04 #box_9 ul li span{line-height:21px; font-size:20px;}
	#main.user #box_line_04 #box_9 ul li strong{line-height:12px; font-size:11px;}
}
@media screen and (max-width: 400px){
	
	#main.user #visual .slide>.move>ul>li strong{padding-bottom:58px; font-size:24px;}
	


	#main.user #box_line_01 #box_1 ul li .views.type_02 ul{min-height:190px; padding-left:110px;}
	#main.user #box_line_01 #box_1 ul li .views.type_02 ul li{width:110px;}

	#main.user #box_line_03 #box_6 ul li{width:100%; padding:5px 0 !important;}
	#main.user #box_line_03 #box_6 ul li[class*="item_"],
	#main.user #box_line_03 #box_6 ul li[class*="item_"] .lay{height:100px;}
	#main.user #box_line_03 #box_6 ul li[class*="item_"]{margin-bottom:10px;}
	#main.user #box_line_03 #box_6 ul li[class*="item_"] .lay .grid{display:none;}
	#main.user #box_line_03 #box_6 ul li[class*="item_"] .lay .views a{}

	#main.user #box_line_03 #box_7 ul li{float:none; width:100%; padding:5px 0 !important;}
	#main.user #box_line_03 #box_7 ul li .lay a span{font-size:16px;}

	#main.user #box_line_03 #box_8 .tes ul li{width:50%;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(1){padding:0px 5px 5px 0px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(2){padding:0px 0px 5px 5px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(3){padding:5px 5px 5px 0px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(4){padding:5px 0px 5px 5px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(5){padding:5px 5px 0px 0px;}
	#main.user #box_line_03 #box_8 .tes ul li:nth-child(6){padding:5px 0px 0px 5px;}
}
@media screen and (max-width: 380px){
	.user #slide_map .map_foot ul li{width:33.3%;}

	#main.user #box_line_01 #box_1>ul>li>strong a{font-size:12px;}
}
@media screen and (max-width: 350px){
	.user #slide_map .map_head ul li a{font-size:11px;}
	.user #slide_map .map_foot .midd ul li a{line-height:14px; font-size:11px;}
}






