@charset "utf-8";



/* 교수님 리스트 */
[data-user-card="1"]>ul:after{content:""; display:block; clear: both;}
[data-user-card="1"]>ul>li{
    float:left; width:calc((100% - 1.875em - 1px) / 2); margin-left:1.875em; padding:2.5em 3em; border:1px solid #E5E5E5;
    -webkit-border-radius:1em;
    border-radius:1em;
}
[data-user-card="1"]>ul>li:nth-child(2n+1){clear:both; margin-left:0;}
[data-user-card="1"]>ul>li:nth-child(n+3){margin-top:1.875em;}
[data-user-card="1"]>ul>li>.in{position:relative; display: block; min-height:8.6875em; padding-right:7.5em;}
[data-user-card="1"]>ul>li>.in>.p{
    position:absolute; right:0; top:0; width:6.875em; height:8.6875em; background:#ECF0F1 url(../../../images/site/partner/common/people_def.svg) no-repeat center center; background-size:4.75em 4.375em; overflow: hidden;
    -webkit-box-shadow:0.625em 0.625em 1.25em rgba(0, 0, 0, 0.25);
    box-shadow:0.625em 0.625em 1.25em rgba(0, 0, 0, 0.25);
}
[data-user-card="1"]>ul>li>.in>.p> img{
    position: absolute; top: 50%; left: 50%; display: block; width: auto; height: 100%;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);

}
[data-user-card="1"]>ul>li>.in>strong{display:block; font-size:1.5em; color:#404040;}
[data-user-card="1"]>ul>li>.in>ul{margin-top:1em;}
[data-user-card="1"]>ul>li>.in>ul>li:nth-child(n+2){margin-top:0.6em;}
[data-user-card="1"]>ul>li>.in>ul>li:after{content:""; display:block; clear:both;}
[data-user-card="1"]>ul>li>.in>ul>li>em,
[data-user-card="1"]>ul>li>.in>ul>li>span{float:left;}
[data-user-card="1"]>ul>li>.in>ul>li>em{display:block; width:4em; font-weight:500; font-style:normal; font-size:1.0625em; color:#444;}
[data-user-card="1"]>ul>li>.in>ul>li>span{display:block; width:calc(100% - 4.25em - 1px); font-weight:400; font-size:1em; color:#666;}

div + [data-user-card="1"],
ul + [data-user-card="1"]{margin-top:2em;}
@media screen and (max-width: 1200px) and (min-width: 1025px){
    [data-user-card="1"]>ul>li{float:none; width:100%; margin-left:0; height: auto !important;}
    [data-user-card="1"]>ul>li:nth-child(n+2){margin-top:1em;}
}

@media screen and (max-width: 900px) {
    [data-user-card="1"]>ul>li{float:none; width:100%; margin-left:0; height: auto !important;}
    [data-user-card="1"]>ul>li:nth-child(n+2){margin-top:1em;}
}
@media screen and (max-width: 400px) {
    [data-user-card="1"]{font-size:0.9em;}
    [data-user-card="1"]>ul>li{padding:1.5em 2em;}
}

/* 교수님 상세 */
[data-user-card-detail="1"]{margin-bottom: 3.5em;}
[data-list="1"] + [data-user-card-detail="1"],
p + [data-user-card-detail="1"],
div + [data-user-card-detail="1"]{margin-top: 3.5em;}
[data-user-card-detail="1"] >.tt{position: relative; padding: 1.25em 0 0 5.4375em; box-sizing: border-box;}
[data-user-card-detail="1"] >.tt >.wrapss{padding: 3.3125em 10em 4em 7.0625em; background:linear-gradient(274.07deg, #F4F4F4 -1.2%, #F8F5EF 97.46%); box-sizing: border-box;}
[data-user-card-detail="1"] >.tt >.wrapss:before{content: ""; position: absolute; bottom: 0; right: 0; display: block; width: 11.3125em; height: 9.125em; background: url(../../../images/site/partner/common/data-user-card-detail01.svg) no-repeat bottom right; background-size: contain;}
[data-user-card-detail="1"] >.tt >.wrapss >.pho{position: absolute; top: 0; left: 0; overflow: hidden;  display: block; width: 9.6875em; height:11.8125em; background: #ECF0F1 url(../../../images/site/partner/common/people_def.svg) no-repeat center center; background-size: 6.75em 6em; box-shadow: 4.35484px 4.35484px 17.4194px rgba(132, 132, 132, 0.25);}
[data-user-card-detail="1"] >.tt >.wrapss >.pho >img{
    position: relative; top: 50%; left: 50%;display: block; width: auto; min-width: 100%; height: 100%;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
}
[data-user-card-detail="1"] >.tt >.wrapss >.nam{color: #373737; font-size: 1.25em;}
[data-user-card-detail="1"] >.tt >.wrapss >.nam strong{display: inline-block; margin-right: 0.25em; font-size: 1.3em; }
[data-user-card-detail="1"] >.tt >.wrapss >ul{margin-top: 0.6875em;}
[data-user-card-detail="1"] >.tt >.wrapss >ul:after{content: ""; display: block; clear: both;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li{float: left;position: relative;margin-top: 0.8125em;padding-left: 6em;margin-right: 2em;line-height: 1.1875;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li >em{position: absolute;left: 0;top: 0;display: inline-block;margin-right: 1.25em;padding-left: 1.6em;font-style: normal;font-weight: 500;box-sizing: border-box;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li >em:before{content: ""; position: absolute; top: -0.05em; left: 0; display: inline-block; width: 1.375em; height: 1.375em; background-image: url(../../../images/site/partner/common/data-user-card-detail09.svg); background-repeat: no-repeat; background-position: center center; background-size: contain;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.tels >em:before{background-image: url(../../../images/site/partner/common/data-user-card-detail02.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.emails >em:before{background-image: url(../../../images/site/partner/common/data-user-card-detail03.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.majors >em:before{background-image: url(../../../images/site/partner/common/data-user-card-detail04.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.labs >em:before{background-image: url(../../../images/site/partner/common/data-user-card-detail05.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.subs >em:before{background-image: url(../../../images/site/partner/common/data-user-card-detail06.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.cars >em:before{background-image: url(../../../images/site/partner/common/data-user-card-detail07.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.edus >em:before{background-image: url(../../../images/site/partner/common/data-user-card-detail08.svg);}

.detail_btn_wrap{text-align: center; margin-top: 1.5em;}
.detail_btn_wrap .btn{background-color: #0071D9 !important;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li >span{color: #666666;}

@media screen and (max-width: 1200px) and (min-width: 1025px){
    [data-user-card-detail="1"] >.tt >.wrapss{padding: 3.3125em 3em 4em 7.0625em}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li{float: none; margin-right: 0;}
}
@media screen and (max-width: 1024px) {
    [data-user-card-detail="1"] >.tt >.wrapss{min-height: 12em; padding: 2.5em 3em 3em 6.4em;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li{position: relative; float: none; margin-right: 0; padding-left: 6.5em; box-sizing: border-box;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li >em{position: absolute; top: 0; left: 0;}
}
@media screen and (max-width: 840px) {
    [data-user-card-detail="1"] >.tt >.wrapss:before{background-size: 80%;}    
}
@media screen and (max-width: 640px) {
    [data-user-card-detail="1"] >.tt{padding: 1.25em 0 0 4.35em}
    [data-user-card-detail="1"] >.tt >.wrapss{min-height: auto; padding: 2.5em 2.5em 3em 5.4em;}
    [data-user-card-detail="1"] >.tt >.wrapss:before{background-size: 70%;} 
    [data-user-card-detail="1"] >.tt >.wrapss >.pho{width: 7.75em; height: 9.45em; background-size: 5.4em 4.8em;}
}
@media screen and (max-width: 420px) {
    [data-user-card-detail="1"] >.tt >.wrapss{padding: 2em 2em 2.5em 4.2em;}
    [data-user-card-detail="1"] >.tt >.wrapss >.pho{width: 6.78125em; height: 8.26875em;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li{padding-left: 0;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li >em{position: relative; top: auto; left: auto; display: block;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li >span{display: block; margin-top: 0.4em; padding-left: 1.6em; box-sizing: border-box;}
}

[data-content="9"]{font-size:0.625em;}
[data-content="9"] a[target="_blank"]{text-decoration:none !important;}
[data-content="9"] a[target="_blank"]:after{display:none !important;}
[data-content="9"]>ul:after{content:""; display:block; clear:both;}
[data-content="9"]>ul>li{float:left; width:calc((100% - 1px - (2.8em * 3)) / 4); margin-right:2.8em;}
[data-content="9"]>ul>li:nth-child(4n+4){margin-right:0;}
[data-content="9"]>ul>li:nth-child(4n+1){clear:both;}
[data-content="9"]>ul>li:nth-child(n+5){margin-top:2em;}
[data-content="9"]>ul>li>a{overflow:hidden; display:block;}
[data-content="9"]>ul>li>a>.p{
    display:block; position:relative; z-index:0; width:100%; padding-bottom:128%; background-repeat:no-repeat; background-position:center center; background-size:cover;
    -webkit-transition:transform 0.2s linear;
    transition:transform 0.2s linear;
}
[data-content="9"]>ul>li>a>.h{display:block; position:relative; z-index:50; height:2.666em; line-height:2.666em; text-align:center; font-size:1.5em; color:#fff !important; background-color:#66717E;}
[data-content="9"]>ul>li>a>.h:after{content:""; display:inline-block; width:1.125em; height:1.125em; margin:0.7em 0 0 1.2em; vertical-align:top; background-image:url(../../../../images/site/partner/content/icon_eye.svg); background-repeat:no-repeat; background-position:center center; background-size:contain;}
[data-content="9"]>ul>li>a>.t{display:block; padding:1em 0; text-align:center; font-weight:400; font-size:1.6em; color:#333;}

[data-content="9"]>ul>li>a:hover>.p{
    transform:scale(1.1);
}
@media screen and (max-width: 700px) {
    [data-content="9"]>ul>li>a>.h:after{display:none;}
}
@media screen and (max-width: 550px) {
    [data-content="9"]>ul>li{width:calc((100% - 1px - (2.8em * 2)) / 3);}
    [data-content="9"]>ul>li:nth-child(4n+4){margin-right:2.8em;}
    [data-content="9"]>ul>li:nth-child(4n+1){clear:none;}
    [data-content="9"]>ul>li:nth-child(3n+3){margin-right:0;}
    [data-content="9"]>ul>li:nth-child(3n+1){clear:both;}
    [data-content="9"]>ul>li:nth-child(n+4){margin-top:2em;}
}
@media screen and (max-width: 450px) {
    [data-content="9"]>ul>li{width:calc((100% - 1px - (1em * 1)) / 2); margin-right:1em;}
    [data-content="9"]>ul>li:nth-child(3n+3){margin-right:1em;}
    [data-content="9"]>ul>li:nth-child(3n+1){clear:none;}
    [data-content="9"]>ul>li:nth-child(2n+2){margin-right:0;}
    [data-content="9"]>ul>li:nth-child(2n+1){clear:both;}
    [data-content="9"]>ul>li:nth-child(n+3){margin-top:2em;}
}


/*사이트맵*/
.sitemap{overflow: hidden;}
.sitemap >ul{border-bottom: 1px solid #757575; box-sizing: border-box;}
.sitemap >ul:after{content: ""; display: block; clear: both;}
.sitemap >ul >li{position: relative; display: inline-block; width: calc((100% - 9px - 5.625em) / 4); vertical-align: top;}
.sitemap >ul >li:not(:nth-child(4n+1)){margin-left: 1.8em;}
.sitemap >ul >li:nth-child(4n+1):before{content: ""; position: absolute; top: 0; left: 0;  z-index: -1; display: block; width: 100vw; height: 1px; background-color: #757575;}
.sitemap >ul >li:not(:nth-child(4n+1)):before{content: ""; position: absolute; z-index: 1; top: 0; left: calc(-1.875em - 3px); display: block; width: calc(1.875em + 3px); height: 1px; background-color: #fff;}
.sitemap >ul >li:after{content: ""; position: absolute; z-index: 0; bottom: 0; left: calc(-1.875em - 3px); display: block; width: calc(1.875em + 3px); height: 1px; background-color: #ddd;}
.sitemap >ul >li >a{position: relative; display: block; background-color: #F1F4FC; text-align: center; font-size: 1.125em; font-weight: 500; color: #222222; padding: 0.556em; border-top: 1px solid #757575; box-sizing: border-box;}
.sitemap >ul >li >div{position: relative; z-index: 1; display: block !important; background-color: #fff;}
.sitemap >ul >li >div:before{content: ""; position: absolute; top: 0.5px; left: calc(-1.875em - 3px); z-index: 0; display: block; width: calc(1.875em + 3px); height: 100vh; background-color: #fff;}
.sitemap >ul >li:last-child >div:after{content: ""; position: absolute; top: 1px; left: 100%; z-index: 0; display: block; width: 100vw; height: 100vh; background-color: #fff;}
.sitemap >ul >li >div >ul{padding: 0.75em 10% 1.25em; box-sizing: border-box;}
.sitemap >ul >li >div >ul >li{position: relative; padding-left: 0.7em; box-sizing: border-box;}
.sitemap >ul >li >div >ul >li >a >span{color:#454545; }
.sitemap >ul >li >div >ul >li:before{
    content: ""; position: absolute; top: 0.67em; left: 0; display: block; width: 4px; height: 4px; background-color: #CCC; 
    border-radius: 50%; -webkit-border-radius: 50%;
}
.sitemap >ul >li >div >ul >li:not(:first-child){margin-top: 0.8em;}
.sitemap >ul >li >div >ul >li > div{display: none;}
.sitemap >ul >li >div >strong{display: none;}
@media screen and (max-width: 1200px){
    .sitemap >ul >li{width: calc((100% - 6px - 3.75em) / 3);}
    .sitemap >ul >li:not(:nth-child(4n+1)){margin-left: 0;}
    .sitemap >ul >li:not(:nth-child(3n+1)){margin-left: 1.8em;}
    .sitemap >ul >li:nth-child(3n+1):before{content: ""; position: absolute; top: 0; left: 0;  z-index: -1; display: block; width: 100vw; height: 1px; background-color: #757575;}
    .sitemap >ul >li:not(:nth-child(3n+1)):before{content: ""; position: absolute; z-index: 1; top: 0; left: calc(-1.875em - 3px); display: block; width: calc(1.875em + 3px); height: 1px; background-color: #fff;}
    
}
@media screen and (max-width: 1024px){
    .sitemap >ul >li{width: calc((100% - 6px - 3em) / 3);}
    .sitemap >ul >li:not(:nth-child(3n+1)){margin-left: 1.4em;}
    .sitemap >ul >li:nth-child(3n+1):before{content: ""; position: absolute; top: 0; left: 0;  z-index: -1; display: block; width: 100vw; height: 1px; background-color: #757575;}
    .sitemap >ul >li:not(:nth-child(3n+1)):before{content: ""; position: absolute; z-index: 1; top: 0; left: calc(-1.5em - 3px); display: block; width: calc(1.5em + 3px); height: 1px; background-color: #fff;}
    .sitemap >ul >li >div:before{left: calc(-1.5em - 3px); width: calc(1.5em + 3px); }
    .sitemap >ul >li >div >ul >li:not(:first-child){margin-top: 0.6em;}
}
@media screen and (max-width: 640px){
    .sitemap >ul >li{width: calc((100% - 3px - 1.2em) / 2);}
    .sitemap >ul >li:not(:nth-child(3n+1)){margin-left: 0;}
    .sitemap >ul >li:not(:nth-child(2n+1)){margin-left: 1.1em;}
    .sitemap >ul >li:nth-child(2n+1):before{content: ""; position: absolute; top: 0; left: 0;  z-index: -1; display: block; width: 100vw; height: 1px; background-color: #757575;}
    .sitemap >ul >li:not(:nth-child(2n+1)):before{content: ""; position: absolute; z-index: 1; top: 0; left: calc(-1.2em - 3px); display: block; width: calc(1.2em + 3px); height: 1px; background-color: #fff;}
    .sitemap >ul >li >div:before{left: calc(-1.2em - 3px); width: calc(1.2em + 3px); }
    .sitemap >ul >li >div >ul >li:not(:first-child){margin-top: 0.4em;}
}
@media screen and (max-width: 360px){
    .sitemap >ul >li{width: 100%;}
    .sitemap >ul >li:not(:nth-child(2n+1)){margin-left: 0;}
    .sitemap >ul >li >div >ul{padding: 0.75em 2em 1.25em;}
}

/*sub_01_01*/
.sub_01_01{}
.sub_01_01 .txts:after{content: ""; display: block; clear: both;}
.sub_01_01 .txts .t{display: block; font-size: 1.625em; font-family: 'Nanum Myeongjo'; line-height: 1.3; letter-spacing: -0.03em; font-weight: 700;}
.sub_01_01 .txts .img_box{position: relative; float: right; width: 36.5%; margin-left: 1.5em; margin-bottom: 0.5em;}
.sub_01_01 .txts .img_box:before{content: ""; position: absolute; bottom: 0; right: 0; display: block; width: 153.764%; height: 27.3125em; background: url(../../../images/site/partner/content/01_01_img02.svg) no-repeat bottom left; background-size: 100% auto; z-index: -1;}
.sub_01_01 .txts .img_box img{display: block; width: 100%;}
.sub_01_01 .bb{text-align: right; font-size: 1.25em; line-height: 1.25; letter-spacing: -0.03em;  color: #333; font-weight: 400;}
.sub_01_01 .bb span{display: inline-block;font-family: 'Nanum Myeongjo'; font-size: 1.4em; vertical-align: middle; margin-left: 0.5em; letter-spacing: 0;}

@media screen and (max-width: 480px){
    .sub_01_01 .txts .img_box{float: none; width: 100%; max-width: 22.5em; margin-left: 0; margin-bottom: 1.5em;}
    .sub_01_01 .txts .img_box:before{display: none;}
    
}

.img_boxs{text-align: center; }
.img_boxs img{display: inline-block; max-width: 100%; }
.img_boxs img+ img{margin-top: 2.375em;}
@media screen and (max-width: 640px){
    .img_boxs img+ img{margin-top: 1.25em;}
}

.lk_boxs{position: relative; padding-left: 42%;}
.lk_boxs.sub_01_03_02{background-color: #A56821;}
.lk_boxs.sub_01_03_03{background-color: #296C4C;}
.lk_boxs.sub_01_03_04{background-color: #5A4AB7;}
.lk_boxs.sub_01_03_05{background-color: #141652;}
.lk_boxs.sub_01_03_06{background-color: #681C2F;}
.lk_boxs.sub_01_03_07{background-color: #002B1A;}
.lk_boxs .imgs{position: absolute; left: 0; top: 0; width: 42%; height: 100%; overflow: hidden;}
.lk_boxs .imgs img{
    display: block; min-width: 100%; min-height: 100%; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
}
.lk_boxs .txts{position: relative; display: table; table-layout: fixed; min-height: 20.3125em; padding: 2.625em 2.5em;}
.lk_boxs .txts:before{content: ""; display: block; position: absolute; bottom: 1.875em; right: 1.875em; width: 7.375em; height: 7.375em; background-repeat: no-repeat; background-position: center; background-size: 100% auto;}
.lk_boxs.sub_01_03_02 .txts:before{background-image: url(../../../images/site/partner/content/01_03_02_img02.svg);}
.lk_boxs.sub_01_03_03 .txts:before{background-image: url(../../../images/site/partner/content/01_03_03_img02.svg);}
.lk_boxs.sub_01_03_04 .txts:before{background-image: url(../../../images/site/partner/content/01_03_04_img02.svg);}
.lk_boxs.sub_01_03_05 .txts:before{background-image: url(../../../images/site/partner/content/01_03_05_img02.svg);}
.lk_boxs.sub_01_03_06 .txts:before{background-image: url(../../../images/site/partner/content/01_03_06_img02.svg);}
.lk_boxs.sub_01_03_07 .txts:before{background-image: url(../../../images/site/partner/content/01_03_07_img02.svg);}
.lk_boxs .txts div{display: table-cell; vertical-align: middle;}
.lk_boxs .txts strong{font-family: "Nanum Myeongjo"; font-size: 1.875em; line-height: 1.4; letter-spacing: -0.035em; color: #fff;}
.lk_boxs .txts p{margin: 0.4375em 0  0/*2.1875em */!important; color: #fff;}
.lk_boxs .txts ul{}
.lk_boxs .txts ul li{display: inline-block; margin-right: 0.95em; margin-top: 0.2em; color: #fff;}
.lk_boxs .txts ul li span{display: inline-block; margin-right: 0.25em; font-weight: 700;}
.lk_boxs .txts .btn{display: inline-block; padding: 0.4em 1.3em !important; background-color: transparent !important; border: 1px solid rgba(255, 255, 255, 0.6);color: #fff !important; text-decoration: none !important; box-sizing: border-box;}
.lk_boxs .txts .btn:after{display: none !important;}
.lk_boxs.sub_01_03_07 .txts ul li:last-child{position: relative; padding-left: 2.3em; box-sizing: border-box;}
.lk_boxs.sub_01_03_07 .txts ul li:last-child span{position: absolute; top: 0; left: 0;}
.lk_boxs .txts p + ul{margin-top: 1em;}
.lk_boxs .txts p + .btn{margin-top: 2.1875em !important;}
.lk_boxs .txts ul + .btn{margin-top: 1.875em !important;}
.lk_boxs + .img_boxs{margin-top: 5.8em;}

@media screen and (max-width: 740px){
    .lk_boxs{font-size: 0.95em;}
    .lk_boxs .txts{min-height: 18em; padding: 2.125em 2em;}
    .lk_boxs .txts:before{width: 5.8em; height: 5.8em;}
}
@media screen and (max-width: 480px){
    .lk_boxs{padding-left: 0;}
    .lk_boxs .imgs{position: relative; top: auto; left: auto; width: 100%; height: 12em; }
    .lk_boxs .txts{display: block; table-layout: auto; min-height: auto;}
}



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	로그인

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
[data-item="login"]{padding:2.625em 2.625em 3.25em 2.625em; margin-top:1em; letter-spacing:-0.04em; background-color:#F2F5FA; background-image:url(../../../images/site/partner/content/login_bg.svg); background-repeat:no-repeat; background-position:right bottom; background-size:auto auto;}
[data-item="login"]>.in{text-align:center;}
[data-item="login"]>.in>.head{font-size:1.4375em; color:#222;}
[data-item="login"]>.in>.head>strong{font-weight:400;}
[data-item="login"]>.in>.midd{max-width:23.125em; margin:1em auto 0;}
[data-item="login"]>.in>.midd input[type="text"],
[data-item="login"]>.in>.midd input[type="password"]{width:100%; height:2.5em; font-size:1em; border:1px solid #E5E5E5; color:#666; background-color:#fff;}
[data-item="login"]>.in>.midd input[type="submit"]{width:100%; height:2.5em; font-size:1em; color:#fff; background-color:#082B52;}
[data-item="login"]>.in>.midd input:nth-child(n+2){margin-top:0.3125em;}
[data-item="login"]>.in>.midd input[type="submit"]{margin-top:0.625em;}
[data-item="login"]>.in>.foot{margin-top:1em; color:#222;}

@media screen and (max-width: 400px){
	[data-item="login"]{font-size:0.9em;}
}

/*접수되었습니다.*/
.comp_box{padding: 5.8125em 1em 7em; text-align: center; background: url(../../../images/site/partner/content/comp_box_img01.png) no-repeat center center; background-size: cover; box-sizing: border-box;}
.comp_box span{display: block; text-transform: uppercase; letter-spacing: 0.2em; line-height: 1.4; font-size: 1.25em; color: #5574D2; font-weight: 700;}
.comp_box strong{position: relative; display: block; padding-top: 0.6em; margin-top: 0.6em; font-family: "Nanum Myeongjo"; font-size: 2.1875em; color: #222; letter-spacing: -0.035em;}
.comp_box strong:before{content: ""; display: block; position: absolute; top: 0; left: 50%; width: 1em; height: 1px; margin-left: -0.5em; background-color: rgba(59, 84, 161, 0.4);}

@media screen and (max-width: 640px){
    .comp_box{font-size: 0.85em;}
}

/*조직도 링크박스*/
.btn_boxs{margin-top: 4.375em;}
.btn_boxs >ul{width: 100%; max-width: 861px; margin: 0 auto;}
.btn_boxs >ul:after{content: ""; display: block; clear: both;}
.btn_boxs >ul>li{
    float: left; position: relative; width: calc((100% - 1px - 2em) / 3); background-color: #FAEFE3;
    border-radius: 8px;-webkit-border-radius: 8px;
}
.btn_boxs >ul>li:not(:nth-child(3n-2)){margin-left: 1em;}
.btn_boxs >ul>li:nth-child(n+4){margin-top: 1em;}
.btn_boxs >ul>li:before{content: ""; display: block; position: absolute; bottom: 1em; right: 1em; width: 6.875em; height: 6.875em; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; }
.btn_boxs >ul>li:nth-child(1):before{background-image: url(../../../images/site/partner/content/01_03_01_img03.svg);}
.btn_boxs >ul>li:nth-child(2):before{background-image: url(../../../images/site/partner/content/01_03_01_img04.svg);}
.btn_boxs >ul>li:nth-child(3):before{background-image: url(../../../images/site/partner/content/01_03_01_img05.svg);}
.btn_boxs >ul>li:nth-child(4):before{background-image: url(../../../images/site/partner/content/01_03_01_img06.svg);}
.btn_boxs >ul>li:nth-child(5):before{background-image: url(../../../images/site/partner/content/01_03_01_img07.svg);}
.btn_boxs >ul>li:nth-child(6):before{background-image: url(../../../images/site/partner/content/01_03_01_img08.svg);}
.btn_boxs >ul>li>a{position: relative; display: table; table-layout: fixed; width: 100%; height: 10em; text-align: center; text-decoration: none !important;}
.btn_boxs >ul>li>a:not([data-btn])[target='_blank']:after{display: none !important;}
.btn_boxs >ul>li>a>span{display: table-cell; vertical-align: middle; color: #222 !important; font-weight: 600; font-size: 1.5625em; line-height: 1.35;}

@media screen and (max-width: 800px){
    .btn_boxs{font-size: 0.85em;}
    .btn_boxs >ul>li:before{width: 6em; height: 6em;}
}
@media screen and (max-width: 640px){
    .btn_boxs >ul>li>a{height: 9em;}
}
@media screen and (max-width: 480px){
    .btn_boxs >ul>li{width: calc((100% - 1px - 1em) / 2);}
    .btn_boxs >ul>li:not(:nth-child(3n-2)){margin-left: 0;}
    .btn_boxs >ul>li:not(:nth-child(2n-21)){margin-left: 1em;}
    .btn_boxs >ul>li:nth-child(n+3){margin-top: 1em;}
    .btn_boxs >ul>li>a{height: 8em;}
    .btn_boxs >ul>li:before{width: 5em; height:5em;}
}