@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea,
.table th, .table td{font-family:'SUIT'; font-weight: 500; line-height: 1.6; font-size: 16px ;}

a.btn:link,
a.btn:visited,
a.btn:active{color:#fff; border:1px solid #cf3e3e; background-color:#cf3e3e;}
a.btn:hover{border:1px solid #cf3e3e; color:#cf3e3e; background-color:#fff;}

.btn[class*="icon_"]:hover{background-position:0 -107px;}
.btn[class*="icon_"].right:hover{background-position:right -107px;}
.btn[class*="icon_"].center:hover{background-position:center -107px;}

.btn[class*="icon_"][class*="small"]:hover{background-position:-7px -113px;}
.btn[class*="icon_"][class*="small"].right:hover{background-position:right -113px;}
.btn[class*="icon_"][class*="small"].center:hover{background-position:center -113px;}

.btn[class*="icon_"][class*="center"][class*="small"]:hover{background-position:0 -112px;}
.btn[class*="icon_"][class*="center"][class*="small"].right:hover{background-position:right -112px;}
.btn[class*="icon_"][class*="center"][class*="small"].center:hover{background-position:center -112px;}


.btn.down:link,
.btn.down:visited,
.btn.down:active{background-image:url(../../images/iseo/layout/icon_down.gif);}

.btn.down.small:link,
.btn.down.small:visited,
.btn.down.small:active{background-image:url(../../images/iseo/layout/icon_down_small.gif);}


/* 컨텐츠 블릿 */
h4, .h4{line-height:29px; margin:30px 0px 15px 0px; padding-left:0; font-family:"Noto Sans KR"; font-weight:500; font-size:26px; color:#333; background:none;}
h5, .h5{line-height:23px; margin:30px 0px 10px 0px; padding-top:0; font-family:"Noto Sans KR"; font-weight:500; font-size:20px; color:#cf3e3e;}
h6, .h6{line-height:19px; margin:15px 0px 10px 0px; padding-left:12px; font-family:"Noto Sans KR"; font-weight:500; font-size:17px; color:#36344a; background:url(../../images/iseo/layout/h6.gif) no-repeat left 6px;}
.h7{display:block; line-height:17px; margin:15px 0px 10px 2px; padding-left:19px; font-family:"Noto Sans KR"; font-weight:500; font-size:15px; color:#404040; background:url(../../images/core/h7.gif) no-repeat left 2px;}
@media screen and (max-width:500px){
    h4, .h4{margin-top:20px; font-size:22px;}
}
.list_01{margin:10px 0px 15px 0px;}
.list_01 li{padding-left:8px; background:url(../../images/iseo/layout/hlist_01.gif) no-repeat left 9px;}
.list_01.color_list li{padding-left:10px; background:url(../../images/iseo/layout/hlist_01_color.png) no-repeat left 6px;}
.list_02{margin:5px 0px 10px 0px;}
.list_02 li{padding-left:9px; background:url(../../images/iseo/layout/hlist_02.gif) no-repeat left 10px;}
.list_03{margin:2px 0px 5px 0px;}
.list_03 li{line-height:23px; padding-left:8px; font-weight:normal; font-size:14px; color:#404040; background:url(../../images/core/hlist_03.gif) no-repeat left 10px;}


/* 테이블 */
.table{border-top:2px solid #787878; border-bottom:1px solid #787878;}
.table th,
.table td{padding:10px; border-left:1px solid #c3c3c3; border-right:1px solid #c3c3c3; text-align:center; border-bottom:1px solid #c3c3c3;}
.table th{background:#f9f8f8;}
.table th.point,
.table td.point{background:#f2f3f0;}
.table tr th:first-child,
.table tr td:first-child{border-left:none; border-right:1px solid #c3c3c3;}


/* tab */
.js_tab{margin-bottom:30px; padding:0;}
.js_tab .title{display:none;}
.js_tab ul{margin:0px; padding-top:1px; border-left:1px solid #d9d9d9;}
.js_tab ul li{margin:-1px 0px 0px 0px;}
.js_tab ul li a{
	width:auto; height:40px; line-height:40px; padding:0px 30px; margin:0px; font-size:14px; border:1px solid #d9d9d9; border-left:none; color:#505050; box-sizing:border-box;
	border-radius:0;
    -webkit-border-radius:0;
}
.js_tab ul li.no a{cursor:default;}
.js_tab ul li a:link,
.js_tab ul li a:visited,
.js_tab ul li a:active,
.js_tab ul li.no a:link,
.js_tab ul li.no a:visited,
.js_tab ul li.no a:active,
.js_tab ul li.no a:hover{color:#505050; background-color:#f9f8f8;}
.js_tab ul li a:hover,
.js_tab ul li.on a:link,
.js_tab ul li.on a:visited,
.js_tab ul li.on a:active,
.js_tab ul li.on a:hover{color:#fff; background-color:#cf3e3e;}


.js_tab.select{background-color:#cf3e3e;}
.js_tab.select ul li a{height:auto; line-height:14px; padding:15px 20px;}



.box{display:table; table-layout:fixed; width:100%; padding:3px; background:url(../../images/kor/content/comm_box_bg.gif) repeat; box-sizing:border-box;}
.box .con{display:table-cell; position:relative; line-height:18px; padding:20px 25px; vertical-align:middle; font-size:15px; background-color:#fff; background-repeat:no-repeat;}
.box .con .titles{display:block; line-height:19px; margin-bottom:3px; font-weight:500; font-size:18px; color:#333;}
.box.type_01 .con{padding:20px 140px 20px 25px;}
.box.type_01 .con .right_btn{position:absolute; right:10px; top:10px;}
.box.type_02 .con{text-align:left; background:url(../../images/iseo/content/comm_box_patten.gif) repeat;}

.box.icon_01 .con{height:60px; padding-left:115px; background-position:20px 20px; background-image:url(../../images/iseo/content/comm_box_icon_01.png);}
.box.icon_02 .con{height:60px; padding-left:125px; background-position:20px 20px; background-image:url(../../images/iseo/content/comm_box_icon_02.png);}
.box.icon_03 .con{height:73px; padding-left:125px; background-position:40px 20px; background-image:url(../../images/iseo/content/comm_box_icon_03.png);}

@media screen and (max-width: 500px){
	.box.type_01 .con{padding:20px 25px;}
	.box.type_01 .con .right_btn{position:relative; right:auto; top:auto; text-align:right; margin-top:5px;}
}

@media screen and (max-width: 400px){
    .box .con{padding:10px 15px; font-size:12px;}
    .box[class*="icon_"] .con{padding-left:15px; background-image:none;}
	.box .con .titles{line-height:15px; font-size:14px;}
	.box.type_01 .con{padding:10px 15px;}
}

@media screen and (max-width: 700px){
    .table_wrap{overflow-x:auto;}
    .table_wrap .table{width:700px;}
}



#con_gpin .pin_box li .boxs .tis{color:#cf3e3e;}
#con_gpin .pin_box li .btn_group .btn:link, 
#con_gpin .pin_box li .btn_group .btn:visited, 
#con_gpin .pin_box li .btn_group .btn:active{border:1px solid #cf3e3e; background-color:#cf3e3e;}
#con_gpin .pin_box li .btn_group .btn:hover{color:#cf3e3e; border:1px solid #cf3e3e; background-color:#fff;}