@charset "utf-8";
/* 기본 표(세로테이블) 파란색배경   */
table.tableType0 { border-collapse:collapse; width:100%; font-size:13px;line-height:18px;margin-bottom:10px; font-family:"나눔고딕", "NanumGothic"}
 table.tableType0 th,  table.tableType0 td {border: 1px solid #D0D0D0;padding:10px 20px;text-align:center; }
 table.tableType0 thead th {background:#4393d2;border:1px solid #1a7bc7;text-align:center;color:#fff;}
 table.tableType0 tbody th{color:#000; text-align:center; background-color:#f7f7f7;}
 table.tableType0 tbody strong{color:#000;}
 table.tableType0 tr.bg{background:#f8f8f8;}
 table.tableType0 tbody th.bg{background:#f8f8f8;color:#000;} 
 table.tableType0 tfoot{color:#000;}
 table.tableType0 .alL{text-align:left;}
 
 /* 기본 표2(세로테이블) 하늘색배경  */
table.tableType01 { border-collapse:collapse; width:100%; font-size:13px;line-height:18px;margin-bottom:10px; font-family:"나눔고딕", "NanumGothic"}
 table.tableType01 th,  table.tableType01 td {border: 1px solid #D0D0D0;padding:10px 20px;text-align:center; }
 table.tableType01 thead th {border-top: 2px solid #598fb8;border-bottom: 1px solid #D0D0D0;background: #e3eff7;}
 table.tableType01 tbody th{color:#000; text-align:center; background-color:#f7f7f7;}
 table.tableType01 tbody strong{color:#000;}
 table.tableType01 tr.bg{background:#f8f8f8;}
 table.tableType01 tbody th.bg{background:#f8f8f8;color:#000;} 
 table.tableType01 .alL{text-align:left;}
 
  /* 기본 표2(세로테이블) 회색배경  */
table.tableType02 { border-collapse:collapse; width:100%; font-size:13px;line-height:18px;margin-bottom:10px; font-family:"나눔고딕", "NanumGothic"}
 table.tableType02 th,  table.tableType02 td {border: 1px solid #D0D0D0;padding:10px 20px;text-align:center; }
 table.tableType02 thead th {border-top: 2px solid #888888;border-bottom: 1px solid #D0D0D0;background: #F5F5F5;}
 table.tableType02 tbody th{color:#000; text-align:center; background-color:#f7f7f7;}
 table.tableType02 tbody strong{color:#000;}
 table.tableType02 tr.bg{background:#f8f8f8;}
 table.tableType02 tbody th.bg{background:#f8f8f8;color:#000;} 
 table.tableType02 .alL{text-align:left;}
 
 
 /* 기본 표(가로 테이블) 파란색배경  */
 table.tableType03 {border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #1a7bc7;margin-bottom:10px; font-family:"나눔고딕", "NanumGothic"}
 table.tableType03 th {border: 1px solid #1a7bc7 !important;padding:10px 20px;text-align:center; color:#ffffff !important;}
 table.tableType03 td {border: 1px solid #D0D0D0;padding:10px 20px;text-align:center;}
 table.tableType03 tbody th {background:#4393d2;border:1px solid #D0D0D0;text-align:center;color:#000000;}
 table.tableType03 tbody td{text-align:center;}
 table.tableType03 tbody td.bg{background:#F5F5F5;}
 table.tableType03 .alL{text-align:left;}
  
 /* 기본 표(가로 테이블) 하늘색배경  */
 table.tableType04 {border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #598fb8;margin-bottom:10px; font-family:"나눔고딕", "NanumGothic"}
 table.tableType04 th,  table.tableType04 td {border: 1px solid #D0D0D0;padding:10px 20px;text-align:center;}
 table.tableType04 tbody th {background:#e3eff7;border:1px solid #D0D0D0;text-align:center;color:#000000;}
 table.tableType04 tbody td{text-align:center;}
 table.tableType04 tbody td.bg{background:#F5F5F5;}
 table.tableType04 .alL{text-align:left;}
  
 /* 기본 표(가로 테이블)  회색배경 */
 table.tableType05 {border-collapse:collapse; width:100%; font-size:13px;line-height:18px;border-top:2px solid #888888;margin-bottom:10px; font-family:"나눔고딕", "NanumGothic"}
 table.tableType05 th,  table.tableType05 td {border: 1px solid #D0D0D0;padding:10px 20px;text-align:center;}
 table.tableType05 tbody th {background:#F5F5F5;border:1px solid #D0D0D0;text-align:center;color:#000000;}
 table.tableType05 tbody td{text-align:center;}
 table.tableType05 tbody td.bg{background:#F5F5F5;}
 table.tableType05 .alL{text-align:left;}