#wrapper {padding:15px;overflow:hidden;}
#wrapper h4 {color:#414141;font-size:16px;margin:0 0 10px 0;}
#wrapper h4 i {float:left;width:3px;height:3px;border:3px solid #1477b3;margin:7px 6px 0 0;}

#wrapper .searchBar {margin:0 0 15px 0; text-align:center;overflow:hidden;}
.searchBar ul {display:inline-block;}
.searchBar ul li {display:inline;}
.searchBar i {float:left;margin:0 10px 0 0;font-size:14px;font-weight:bold;color:#575757;line-height:2.2;}
.searchBar input[type=text] {float:left;width:330px;height:16px;padding:6px 8px;border:2px solid #2362c6;border-right:0;font-size:14px;color:#575757;}
.searchBar a {float:left;width:55px;height:32px;line-height:2.5;background:#2e61b2;font-size:13px;color:#fff;text-align:center;}

#wrapper .abcLine {border:1px solid #dcdcdc; background:#f6f6f6; padding:9px 0 6px; text-align:center; overflow:hidden;}
.abcLine ul {display:inline-block;}
.abcLine ul li {display:inline;}
.abcLine ul li a {float:left; margin:0 6px 0 0; padding:8px 10px; font-size:13px; color:#404040; font-weight:bold; border:1px solid #d6d6d6; background:#fff;}
.abcLine ul li a:hover, .abcLine ul li a:focus, .abcLine ul li a.on {border:1px solid #2D5FAE;background:#2e61b2;color:#fff;}

#wrapper .termList {float:left;width:221px;height:457px;border:1px solid #dcdcdc;border-top:0;}
.termList .termNum {padding:0 10px;height:31px;line-height:2.7;margin:0 0 20px 0;font-size:12px;color:#575757;border-bottom:1px solid #dcdcdc;}
.termList .termNum .this {color:#0070ba;}
.termList ul.leftList {display:block;margin:0 0 12px 0;}
.termList ul.leftList li {display:block;}
.termList ul.leftList li a {display:block;width:90%;height:35px;font-size:14px;color:#575757;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.termList ul.leftList li a i {float:left;width:3px;height:3px;background:#0070ba;margin:8px 7px 0 11px;}
.termList ul.leftList .correct {font-size:14px;color:#f00000;}
.termList ul.leftList li a:hover, .termList ul.leftList li a:hover .correct {color:#aaa;}
.termList ul.leftList li a:focus, .termList ul.leftList li a:focus .correct, .termList ul.leftList li a.active, .termList ul.leftList li a.active .correct {font-weight:bold;color:#333;}

.termList .paging {text-align:center;}
.termList .paging ul {display:inline-block;}
.termList .paging ul li {display:inline;}
.termList .paging ul li a {float:left;margin:0 8px 0 0;font-size:12px;color:#575757;}
.termList .paging ul li a:hover {color:#aaa;}
.termList .paging ul li a.active {color:#2362c6;}

#wrapper .rightCon {display:block;margin:0 0 0 223px;height:457px;border:1px solid #dcdcdc;border-top:0;border-left:0;}

#wrapper .menuLine {display:block;margin:0 0 0 223px;overflow:hidden;}

.menuLine .menuBox {float:right;width:235px;padding:6px 10px;}
.menuLine .menuBox a, .menuLine .menuBox input {float:left;border:1px solid #d2d2d2;}
.menuLine .menuBox .resetFontSize {float:left;width:27px;height:21px;line-height:1.7;text-align:center;font-size:13px;font-weight:bold;color:#404040;border-right:0;border-left:0;}
.menuLine .menuBox input {width:103px;height:15px;padding:3px 7px;}
.menuLine .menuBox .searchBtn {border:0;margin-left:-20px;padding:3px 0;}

#wrapper .termContents {padding:0 10px 0 15px;overflow-y:auto;}

.termContents .termName {display:block;padding:7px 0 12px;font-size:14px;color:#2e61b2;}
.termContents .termTxt {font-size:13px;color:#6b6b6b;margin:0 0 10px 0;}

.termContents .termLaw {border:1px solid #cbced3;background:#f9f9f9;padding:8px 8px 10px 8px;margin:0 0 15px 0;font-size:12px;color:#6b6b6b;}
.termLaw .lawName {font-size:13px;color:#119e25;margin:0 0 5px 0;}
.termLaw .lawJo {font-size:13px;font-weight:bold;margin:0 0 3px 0;}

.termContents .termAttach {font-size:13px;color:#f08800;margin:0 0 20px;}


.printWrap {padding:10px;}

.printWrap .menuBar {overflow:hidden;border:1px solid #dcdcdc;border-bottom:0;}
.menuBar .fontSize {float:right;padding:6px 10px;}
.menuBar .fontSize a {float:left;border:1px solid #d2d2d2;}
.menuBar .fontSize i {float:left;border-top:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2;width:27px;height:21px;line-height:1.7;text-align:center;font-size:13px;font-weight:bold;color:#404040;}
.menuBar .fontSize .resetFontSize {float:left;width:27px;height:21px;line-height:1.7;text-align:center;font-size:13px;font-weight:bold;color:#404040;border-right:0;border-left:0;}
.printWrap .printCon {padding:0 15px;border:1px solid #dcdcdc;border-top:0;margin:0 0 10px;overflow-y:auto;}

.printCon .termName {display:block;padding:4px 0 12px;font-size:14px;color:#2e61b2;}
.printCon .termTxt {font-size:13px;color:#6b6b6b;margin:0 0 10px 0;}

.printCon .termLaw {border:1px solid #cbced3;background:#f9f9f9;padding:8px 8px 10px 8px;margin:0 0 15px 0;font-size:12px;color:#6b6b6b;}
.printCon .lawName {font-size:13px;color:#119e25;margin:0 0 5px 0;}
.termLaw .lawJo {font-size:13px;font-weight:bold;margin:0 0 3px 0;}

.printCon .termAttach {font-size:13px;color:#f08800;margin:0 0 20px;}

.printWrap .printBtn {display:block;width:76px;height:35px;line-height:2.5;margin:0 auto;text-align:center;background:#0070ba;font-size:14px;font-weight:bold;color:#fff;}