@charset "utf-8";
body{padding:0; margin:0; text-align:center;}


.poster{display:inline-block; vertical-align:top;}
.poster>a{display:block;}
.poster>a>img{display:block; max-width:100%;}



#bodyWrap { position: relative; width: 100%; margin: 0 auto; }
#bodyWrap #header { position: fixed; width: 100%; background: #292929 url(../img/_inc/bg_header.jpg) no-repeat left top; font-family: 'Nanum Square'; min-height: 100px; z-index: 50}
#bodyWrap #header #logo { position: relative; }
#bodyWrap #header #logo img { display: block; height: 50px; margin: 0 auto; padding-top: 15px;  text-align: center;}
#bodyWrap #header #logo em { display: none;}
#bodyWrap #header #logo span { display: block; width: 100%; margin-top: 15px; text-align: center; font-size: 16px; font-weight: 400; color: #fff;}

#bodyWrap #header2 { background: #292929 url(../img/_inc/bg_header.jpg) no-repeat left top; font-family: 'Nanum Square'; min-height: 120px;}
#bodyWrap #header2 #logo { position: relative; }
#bodyWrap #header2 #logo img { display: block; height: 52px; margin: 0 auto; padding-top: 15px;  text-align: center;}
#bodyWrap #header2 #logo em { display: none;}
#bodyWrap #header2 #logo span { display: block; width: 100%; margin-top: 15px; text-align: center; font-size: 16px; font-weight: 400; color: #fff;}

#bodyWrap #img_a { position: absolute; left: 50%; margin-left: -950px; width: 1900px; min-height: 300px; background: #fff; text-align: center;}


/* slide menu */
#modal { z-index: 9; position: fixed; background: url(../img/_inc/modal_b50.png) repeat; width: 100%; height: 100%; cursor: pointer;}

#side_r #side_r1 { position: absolute; top: 0; right: -1700px; z-index: 11; cursor: pointer;}
#side_r #side_r2 { position: absolute; top: 0; right: -1700px; z-index: 11; cursor: pointer;}


/* rwd view */
.rwd_view #sian_mo2 { display: none;}
.rwd_view #sian_t2 { display: none;}

.rwd_view img{ width: 318px; max-width: 100%;}
.rwd_view #sian_tmore img{width:766px;}
.rwd_view {background:url(../img/_inc/design/rw_bg.jpg);padding:60px 20px;text-align:center;}
.rwd_view .wrap_m,	.rwd_view .wrap_t{vertical-align: top;}
.rwd_view .grap {position:absolute;overflow:hidden;}
.rwd_view .grap div {height:100%;overflow:auto;}
.rwd_view .wrap_m{display:inline-block;margin-right:60px; margin-bottom: 30px; position:relative;width:426px;height:803px;background:url(../img/_inc/design/bg_m.png) no-repeat;}
.rwd_view .wrap_m .grap {left:50px;top:118px;width:318px;height:567px;}
.rwd_view .wrap_m .grap div {width:337px;text-align:left;}
.rwd_view .wrap_t{display:inline-block;position:relative;width:963px;height:1246px;background:url(../img/_inc/design/bg_t.png) no-repeat;}
.rwd_view .wrap_t .grap {left:99px;top:103px;width:766px;height:1017px;border-radius:10px;}
.rwd_view .wrap_t .grap div {width:785px;text-align:left;}


/* rw */
@media only screen and (min-width:600px){
#bodyWrap #header #logo img { position: absolute; top: 0; left: 25px; padding-top: 0; height: 110px; }
#bodyWrap #header #logo em { display: block; position: absolute; top: 28px; right: 26px; width: 100%; margin-top: 0px;  text-align: right; font-size: 13px; color:#aaa}
#bodyWrap #header #logo span { position: absolute; top: 52px; right: 25px; width: 100%; margin-top: 5px;  text-align: right; font-size: 35px;}

#bodyWrap #header2 #logo img { position: absolute; top: 35px; left: 25px; padding-top: 0; height: 52px; }
#bodyWrap #header2 #logo em { display: inline-block; position: absolute; top: 28px; right: 26px; width: 100%; margin-top: 0px;  text-align: right; font-size: 13px; color:#aaa}
#bodyWrap #header2 #logo span { position: absolute; top: 52px; right: 25px; width: 100%; margin-top: 5px;  text-align: right; font-size: 35px;}
}

@media only screen and (min-width:1000px){
#bodyWrap #header #logo img { position: absolute; top: 25px; left: 25px; padding-top: 0; height: 50px; }
#bodyWrap #header #logo em { display: block; position: absolute; top: 28px; right: 26px; width: 100%; margin-top: 0px;  text-align: right; font-size: 13px; color:#aaa}
#bodyWrap #header #logo span { position: absolute; top: 52px; right: 25px; width: 100%; margin-top: 0px;  text-align: right; font-size: 20px;}
}



/*ν™•μΈν•„*/
@media only screen and (min-width:480px){
	.res_view .info_edu ul li span{width:100%;}
	.res_view .info_edu ul li b:after{display:none;}
}