@charset "utf-8";

.cms .tab ul li a,
.cms .control .btns,
.cms .menu_add_control .btns,
.cms .menu_add_group,
.cms .menu_add_list,
.cms .menu_add_box .title .close img,
#layer_window .close img,
.authority_pop .title .close img,
.cms .board_tie_box ul li,
.cms .table td select
{
	transition : all 0.5s ease;
    -webkit-transition : all 0.5s ease;
    -moz-transition : all 0.5s ease;
    -ms-transition : all 0.5s ease;
    -khtml-transition : all 0.5s ease;
    -o-transition : all 0.5s ease;
}

/* 공통 */
.cms_box{display:table; table-layout:fixed; width:100%; padding:3px; background:url(../../images/cms/content/comm_box_bg.gif) repeat; box-sizing:border-box;}
.cms_box .con{display:table-cell; line-height:18px; padding:20px 25px; vertical-align:middle; background-color:#fff; background-repeat:no-repeat;}


/* 메뉴관리 */
.cms .tab{margin:0px 0px 19px 0px;}
.cms .tab ul{overflow:hidden;}
.cms .tab ul li{float:left; padding:5px 5px 0px 0px; box-sizing:border-box;}
.cms .tab ul li a{
	display:table-cell; min-width:144px; height:43px; line-height:22px; padding:5px 20px; text-align:center; vertical-align:middle; text-decoration:none; font-weight:600; font-size:15px;  box-sizing:border-box;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}
.cms .tab ul li a:link,
.cms .tab ul li a:visited,
.cms .tab ul li a:active{color:#646464; border:1px solid #d1d9e0; background-color:#fff;}
.cms .tab ul li a:hover,
.cms .tab ul li.on a,
.cms .tab ul li.on a:link,
.cms .tab ul li.on a:visited,
.cms .tab ul li.on a:active,
.cms .tab ul li.on a:hover{color:#fff; border:1px solid #0067a6; background-color:#0067a6;}
.cms .tab ul li.menu_add{width:150px;}
.cms .tab ul li.menu_add a{position:relative; min-width:47px; padding:0; background-image:url(../../images/cms/layout/icon_more.png); background-repeat:no-repeat; background-position:center center;}
.cms .tab ul li.menu_add a:hover{background-image:url(../../images/cms/layout/icon_more_ov.png);}
.cms .tab ul li.menu_add a span{display:block; position:absolute; left:50px; top:3px; width:92px; height:33px;}

.cms .menu_add_control{
	position:absolute; left:0; top:0; z-index:10; width:100%; height:57px; padding:12px 14px; background-color:#f5f6f8; box-sizing:border-box;
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	-ms-border-radius:5px 5px 0px 0px;
	-khtml-border-radius:5px 5px 0px 0px;
	-o-border-radius:5px 5px 0px 0px;
}
.cms .menu_add_control .btns{
	display:inline-block; line-height:14px; padding:9px 17px; font-size:14px; text-decoration:none !important; border:1px solid #7f8592; color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}
.cms .menu_add_control .btns:link,
.cms .menu_add_control .btns:visited,
.cms .menu_add_control .btns:active{color:#fff; background-color:#8d98ae;}
.cms .menu_add_control .btns:hover{color:#8d98ae; background-color:#fff;}

.cms .menu_add_control .btns.bg_01{border:1px solid #ae4953;}
.cms .menu_add_control .btns.bg_01:link,
.cms .menu_add_control .btns.bg_01:visited,
.cms .menu_add_control .btns.bg_01:active{color:#fff; background-color:#cd6670;}
.cms .menu_add_control .btns.bg_01:hover{color:#cd6670; background-color:#fff;}


.cms .menu_add_control .search{position:absolute; right:17px; top:11px; line-height:34px;}
.cms .menu_add_control .search form,
.cms .menu_add_control .search .form{
	overflow:hidden; display:inline-block; width:auto; height:32px; margin-left:14px; padding:0px 10px; vertical-align:middle; border:1px solid #c0c4ce; background-color:#fff; box-sizing:border-box;
	border-radius:16px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	-ms-border-radius:16px;
	-khtml-border-radius:16px;
	-o-border-radius:16px;
}
.cms .menu_add_control .search select,
.cms .menu_add_control .search input[type="text"],
.cms .menu_add_control .search a{float:left; height:32px; line-height:32px; vertical-align:middle; border:none; background:transparent;}
.cms .menu_add_control .search .btn{vertical-align:middle;}
.cms .menu_add_control .search select{width:76px;}
.cms .menu_add_control .search input[type="text"]{width:137px;}
.cms .menu_add_control .search a{overflow:hidden; width:30px; text-indent:-1000px; background:url(../../images/cms/layout/icon_search.png) no-repeat left center;}

.cms .menu_add_control .search.type_02 form,
.cms .menu_add_control .search.type_02 .form{width:353px;}
.cms .menu_add_control .search.type_02 select:first-child{width:96px;}

.cms .menu_add_blind{opacity:0.5; position:absolute; left:0; top:0; z-index:9; width:100%; height:100%; background-color:#fff;}

.cms .menu_add_group{overflow:hidden; position:relative;}
.cms .menu_add_group.on{padding-right:394px;}
.cms .menu_add_list{
	overflow:hidden; position:relative; z-index:8; width:100%; min-height:700px; padding-top:57px; background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}
.cms .menu_add_list .table tr.on{background-color:#f4f0ec !important;}
.cms .menu_add_list .table tr.on td{background-color:transparent !important;}
.cms .menu_add_list .view{padding:10px 20px 10px 20px;}
.cms .menu_add_list .view table{border-top:1px solid #bcbcbc;}
.cms .menu_add_box{
	overflow:hidden; opacity:0; position:absolute; right:-380px; top:0; width:380px; height:100%; background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}
.cms .menu_add_group.on .menu_add_box{opacity:1; right:0;}
.cms .menu_add_box .title{position:relative; height:57px; border-bottom:1px solid #cacfd5; background-color:#f5f6f8;}
.cms .menu_add_box .title strong{display:inline-block; line-height:18px; padding:22px 0px 0px 23px; font-weight:600; font-size:18px; color:#141414;}
.cms .menu_add_box .title .close{
	position:absolute; right:23px; top:19px; width:19px; height:19px;
}
.cms .menu_add_box .title .close:hover img{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}
.cms .menu_add_box .view{padding:10px 23px 0px 23px;}
.cms .menu_add_box .view table{width:100%;}
.cms .menu_add_box .view table th,
.cms .menu_add_box .view table td{height:38px; padding:4px; font-size:13px; border-bottom:1px solid #cacfd5; color:#505050;}
.cms .menu_add_box .view table th{line-height:36px; font-weight:600; vertical-align:top;}
.cms .menu_add_box .view table td input[type="text"],
.cms .menu_add_box .view table td select{
	width:100%; height:32px; color:#000; background-color:#e0e0e0;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}
.cms .menu_add_box .view table td input[type="text"],
.cms .menu_add_box .view table td a,
.cms .menu_add_box .view table td img{vertical-align:middle;}
.cms .menu_add_box .view table td input[type="text"].js_cal{width:82px; font-size:12px; text-align:center;}
.cms .menu_add_box .view table td .tie{margin:0px;}
.cms .menu_add_box .view table td .tie li{display:table; position:relative; min-height:34px; margin-top:5px;}
.cms .menu_add_box .view table td .tie li:first-child{margin-top:0px;}
.cms .menu_add_box .view table td .tie li .close{position:absolute; right:0; top:0;}
.cms .menu_add_box .view table td .tie li .add{position:absolute; left:0; top:0;}
.cms .menu_add_box .view table td .tie li .object{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; width:125px; min-height:34px; line-height:34px; padding-left:80px;}
.cms .menu_add_box .view table td .tie li .tip{display:table-cell; height:34px; line-height:18px; padding-left:80px; vertical-align:middle; color:#959595;}
.cms .menu_add_box .view table td .tie li .btn{margin-bottom:0;}
.cms .menu_add_box .view table td .tie li .cal{margin-top:5px;}
.cms .menu_add_box .view table td .tie li .object,
.cms .menu_add_box .view table td .tie li .cal,
.cms .menu_add_box .view table td .tie li .close{display:none;}
.cms .menu_add_box .view table td .person{display:table; position:relative; min-height:34px;}
.cms .menu_add_box .view table td .person .add{position:absolute; left:0; top:0;}
.cms .menu_add_box .view table td .person .tip{display:table-cell; height:34px; line-height:18px; padding-left:80px; vertical-align:middle; color:#959595;}
.cms .menu_add_box .view table td .person .object{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block; width:125px; min-height:34px; line-height:34px; padding-left:80px;}
.cms .menu_add_box .view table td .person .close{position:absolute; right:0; top:0;}
.cms .menu_add_box .view table td .person ul{display:none;}
.cms .menu_add_box .view table td .person ul li{position:relative; height:34px; line-height:34px; margin-top:5px;}
.cms .menu_add_box .view table td .person ul li:first-child{margin-top:0px;}

.cms .menu_add_box .btn_group{margin:24px 0px; text-align:center;}

.cms .menu_add_list .table tbody tr:hover td{cursor:pointer; background-color:#eee;}
.cms .menu_add_list .table.no_view tbody tr:hover td{cursor:default; background-color:#fff;}

.cms .table td input[type="text"],
.cms .table td input[type="password"],
.cms .table td select,
.cms .table td textarea{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}
.cms .table td select{min-width:70px; height:32px; color:#000; background-color:#e0e0e0;}
.cms .table td [disabled="disabled"]{color:#fff; background-color:#cd6670;}

.cms_menu_check_list{
	overflow:hidden; position:relative; width:100%; height:32px; border-right:1px solid #cacfd5; background-color:#e0e0e0;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.cms_menu_check_list input[type="radio"]{position:absolute; left:-1000px; top:0;}
.cms_menu_check_list label{float:left; width:25%; height:32px; line-height:32px; cursor:pointer; text-align:center; font-size:11px; box-sizing:border-box; border-left:1px solid #cacfd5; border-top:1px solid #cacfd5; border-bottom:1px solid #cacfd5;}
.cms_menu_check_list label.on{color:#fff; border-top:1px solid #0067a6; border-bottom:1px solid #0067a6; background:#0067a6;}



/* 콘텐츠 연계 레이어 창 */
#layer_window{
	display:none; overflow:hidden; position:fixed; left:50%; top:50%; z-index:1200; width:880px; height:758px; margin:-379px 0px 0px -440px; background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
	box-shadow:1px 1px 5px #333;
	-moz-box-shadow:1px 1px 5px #333;
    -webkit-box-shadow:1px 1px 5px #333;
    -ms-box-shadow:1px 1px 5px #333;
    -khtml-box-shadow:1px 1px 5px #333;
    -o-box-shadow:1px 1px 5px #333;
}
#layer_window .head{position:relative; width:100%; height:57px; padding:0px 26px; color:#fff; background-color:#4a5466; box-sizing:border-box;}
#layer_window .head strong{line-height:57px; font-weight:600; font-size:18px;}

#layer_window .search{overflow:hidden; position:relative; height:47px; line-height:47px; padding:0px 26px; text-align:right; font-size:13px; color:#1e1e1e; background-color:#f0f2f5;}
#layer_window .search div{
	overflow:hidden; display:inline-block; width:257px; height:32px; margin:8px 0px 0px 14px; padding-left:10px; text-align:left; vertical-align:top; border:1px solid #c0c4ce; background-color:#fff; box-sizing:border-box;
	border-radius:23px;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	-ms-border-radius:23px;
	-khtml-border-radius:23px;
	-o-border-radius:23px;
}
#layer_window .search input[type="text"],
#layer_window .search a{float:left; height:32px; line-height:32px; vertical-align:middle; border:none; background:transparent;}
#layer_window .search .btn{vertical-align:middle;}
#layer_window .search input[type="text"]{width:213px;}
#layer_window .search a{overflow:hidden; width:30px; text-indent:-1000px; background:url(../../images/cms/layout/icon_search.png) no-repeat left center;}

#layer_window .view{height:571px; padding:0px 26px;}
#layer_window .view .scroll_y{height:520px;}
#layer_window .view .scroll_y .mCSB_draggerContainer{background:#f0f0f0 !important;}
#layer_window .view .scroll_y .mCSB_dragger_bar{width:10px !important; background:#cdcdcd !important}
#layer_window .view table tr td{cursor:pointer;}
#layer_window .view table tr.no td{cursor:no-drop; color:#a0a0a0 !important;}
#layer_window .view table tr.no td input[type="checkbox"]{cursor:no-drop;}
#layer_window .view table tr.on td{background-color:#f4f0ec;}

#layer_window .btn_group{margin-top:3px; text-align:center;}

#layer_window .close{display:block; position:absolute; right:26px; top:19px; width:19px; height:19px;}
#layer_window .close:hover img{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}




/* /////////////////////////////////////////////////////////////////////////////////////////////

	게시판 : 리스트 , 등록

///////////////////////////////////////////////////////////////////////////////////////////// */
.cms_board_list{
	position:relative; padding-bottom:20px; background-color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}
.cms_board_list .view{padding:10px 20px 10px 20px;}
.cms_board_list .control{
	position:relative; width:100%; height:57px; padding:12px 14px; background-color:#f5f6f8; box-sizing:border-box;
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	-ms-border-radius:5px 5px 0px 0px;
	-khtml-border-radius:5px 5px 0px 0px;
	-o-border-radius:5px 5px 0px 0px;
}
.cms_board_list .control .btns{
	display:inline-block; line-height:14px; padding:9px 17px; font-size:14px; text-decoration:none !important; border:1px solid #7f8592; color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}
.cms_board_list .control .btns.bg_01{border:1px solid #ae4953;}
.cms_board_list .control .btns.bg_01:link,
.cms_board_list .control .btns.bg_01:visited,
.cms_board_list .control .btns.bg_01:active{color:#fff; background-color:#cd6670;}
.cms_board_list .control .btns.bg_01:hover{color:#cd6670; background-color:#fff;}

.cms_board_list .control .btns.bg_02{border:1px solid #0067a6;}
.cms_board_list .control .btns.bg_02:link,
.cms_board_list .control .btns.bg_02:visited,
.cms_board_list .control .btns.bg_02:active{color:#fff; background-color:#0067a6;}
.cms_board_list .control .btns.bg_02:hover{color:#0067a6; background-color:#fff;}

.cms_board_list .control .btns:link,
.cms_board_list .control .btns:visited,
.cms_board_list .control .btns:active{color:#fff; background-color:#8d98ae;}
.cms_board_list .control .btns:hover{color:#8d98ae; background-color:#fff;}
.cms_board_list .control .search{position:absolute; right:17px; top:11px; line-height:34px;}
.cms_board_list .control .search form,
.cms_board_list .control .search .form{
	overflow:hidden; display:inline-block; width:257px; height:32px; margin-left:14px; padding-left:10px; vertical-align:middle; border:1px solid #c0c4ce; background-color:#fff; box-sizing:border-box;
	border-radius:16px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	-ms-border-radius:16px;
	-khtml-border-radius:16px;
	-o-border-radius:16px;
}
.cms_board_list .control .search select,
.cms_board_list .control .search input[type="text"],
.cms_board_list .control .search a{float:left; height:32px; line-height:32px; vertical-align:middle; border:none; background:transparent;}
.cms_board_list .control .search .btn{vertical-align:middle;}
.cms_board_list .control .search select{width:76px;}
.cms_board_list .control .search input[type="text"]{width:137px;}
.cms_board_list .control .search a{overflow:hidden; width:30px; text-indent:-1000px; background:url(../../images/cms/layout/icon_search.png) no-repeat left center;}

.cms_board_list .control .search.type_02 form,
.cms_board_list .control .search.type_02 .form{width:353px;}
.cms_board_list .control .search.type_02 select:first-child{width:96px;}

.cms_board_list .table{border-top:1px solid #bcbcbc;}



/* /////////////////////////////////////////////////////////////////////////////////////////////

	게시판 연계

///////////////////////////////////////////////////////////////////////////////////////////// */
.cms .board_tie_box{overflow:hidden; position:relative; height:345px;}
.cms .board_tie_box .l_left,
.cms .board_tie_box .l_center,
.cms .board_tie_box .l_right{float:left; height:300px; box-sizing:border-box;}
.cms .board_tie_box .l_left,
.cms .board_tie_box .l_right{position:relative; z-index:0; width:50%;}
.cms .board_tie_box .l_left .boxs,
.cms .board_tie_box .l_right .boxs{
	width:100%; height:100%; border:1px solid #e0e0e0; box-sizing:border-box;
	border-radius:0px 0px 5px 5px;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	-ms-border-radius:0px 0px 5px 5px;
	-khtml-border-radius:0px 0px 5px 5px;
	-o-border-radius:0px 0px 5px 5px;
}
.cms .board_tie_box .l_left strong,
.cms .board_tie_box .l_right strong{
	display:block; height:45px; line-height:45px; text-align:center; background-color:#e0e0e0;
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	-ms-border-radius:5px 5px 0px 0px;
	-khtml-border-radius:5px 5px 0px 0px;
	-o-border-radius:5px 5px 0px 0px;
}
.cms .board_tie_box .l_left{padding-right:50px;}
.cms .board_tie_box .l_center{position:absolute; left:50%; top:50%; z-index:1; float:none; width:50px; height:95px; margin:-47px 0px 0px -25px;}
.cms .board_tie_box .l_center .btn{
	display:block;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-ms-border-radius:5px;
	-khtml-border-radius:5px;
	-o-border-radius:5px;
}
.cms .board_tie_box .l_center .btn:first-child{margin-bottom:5px;}
.cms .board_tie_box .l_right{padding-left:50px;}
.cms .board_tie_box .scroll_y{height:520px;}
.cms .board_tie_box .scroll_y .mCSB_draggerContainer{background:#f0f0f0 !important;}
.cms .board_tie_box .scroll_y .mCSB_dragger_bar{width:10px !important; background:#cdcdcd !important}
.cms .board_tie_box ul{height:100%;}
.cms .board_tie_box ul li{overflow:hidden; padding:15px 15px; cursor:pointer; border-top:1px dashed #e0e0e0; box-sizing:border-box;}
.cms .board_tie_box ul li:first-child{border-top:none;}
.cms .board_tie_box ul li.on{color:#fff; background-color:#cd6670;}
.cms .board_tie_box ul li input[type="checkbox"]{position:absolute; left:-1000px; top:0;}





/* 관리자 메뉴관리 */
.cms_board_list .view.cms_tree_view{position:relative; min-height:300px; padding-left:270px;}
.cms_board_list .view.cms_tree_view .tree{overflow-y:auto; position:absolute; left:20px; top:0px; width:250px; height:100%; padding:20px 0px; box-sizing:border-box;}





/* 팝업창 */
#sub.cms.pop{padding:20px; background:#fff; box-sizing:border-box;}
#sub.cms.pop #wrap{min-width:10px; height:100%;}
#sub.cms.pop #wrap h4:first-child{margin-top:0;}
#sub.cms.pop #wrap .table{border-top:1px solid #bcbcbc;}

#sub.cms.pop #wrap .pop_head,
#sub.cms.pop #wrap .pop_foot{position:absolute; left:0; width:100%;}
#sub.cms.pop #wrap .pop_head{top:0; height:30px;}
#sub.cms.pop #wrap .pop_midd{height:100%; padding:30px 0px 60px 0px; box-sizing:border-box;}
#sub.cms.pop #wrap .pop_foot{bottom:0; height:50px; padding-top:10px;}


/* 부서관리 */
.td_blind{overflow:hidden; display:block; position:relative;}
.td_blind .blind{display:inline-block; position:absolute; left:0; top:0; z-index:10; width:100%; height:100%;}
.td_blind textarea{height:42px; box-sizing:border-box;}
tr.on .td_blind .blind{top:100%;}
tr.on .td_blind textarea{display:block; height:100px;}




/* 회원관리  */
.member_adds{display:none;}
.member_adds .con{display:block; width:100%; box-sizing:border-box;}
.member_adds .btns{}
.member_adds .btns{
	display:inline-block; line-height:14px; padding:9px 17px; font-size:14px; text-decoration:none !important; border:1px solid #7f8592; color:#fff;
	border-radius:5px;
	-webkit-border-radius:5px;
}
.member_adds .btns.bg_01{border:1px solid #ae4953;}
.member_adds .btns.bg_01:link,
.member_adds .btns.bg_01:visited,
.member_adds .btns.bg_01:active{color:#fff; background-color:#cd6670;}
.member_adds .btns.bg_01:hover{color:#cd6670; background-color:#fff;}

.member_adds .btns.bg_02{border:1px solid #0067a6;}
.member_adds .btns.bg_02:link,
.member_adds .btns.bg_02:visited,
.member_adds .btns.bg_02:active{color:#fff; background-color:#0067a6;}
.member_adds .btns.bg_02:hover{color:#0067a6; background-color:#fff;}

.member_adds .btns:link,
.member_adds .btns:visited,
.member_adds .btns:active{color:#fff; background-color:#8d98ae;}
.member_adds .btns:hover{color:#8d98ae; background-color:#fff;}



/* main */
[id*="main_box_"] .mCSB_container{padding-right:4px;}
[id*="main_box_"] #mCSB_1_scrollbar_vertical{background-color:#ccc !important;}
[id*="main_box_"] .mCSB_scrollTools{width:2px !important; opacity:1 !important;}
[id*="main_box_"] .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#000 !important;}
#embed-api-auth-container,
#view-name,
#active-users-container,
#view-selector-container .ViewSelector2 .ViewSelector2-item:first-child,
#view-selector-container .ViewSelector2 .ViewSelector2-item label{opacity:0; position:absolute; left:-1000px; top:-1000px;}
#view-selector-container .ViewSelector2{overflow:hidden; padding:20px 10px 10px 10px; text-align:right;}
#view-selector-container .ViewSelector2 .ViewSelector2-item{display:inline-block;}
#view-selector-container{height:40px;}
#chart_group{overflow:hidden;}
#chart_group .Chartjs{float:left; position:relative; width:40%; height:450px; padding:10px; box-sizing:border-box;}
#chart_group .Chartjs:first-child{width:60%;}
#chart_group .Chartjs:first-child .Chartjs-figure{position:absolute; left:0; bottom:50px; width:100%; height:380px;  padding:30px; margin:0; box-sizing:border-box;}
#chart_group .Chartjs:first-child .Chartjs-figure canvas{width:100% !important; height:100% !important;}
#chart_group .Chartjs:first-child .Chartjs-legend{position:absolute; left:0; bottom:30px; width:100%;}
#chart_group .Chartjs .chart_box{
	width:100%; height:100%; padding:20px; background-color:#fff; box-sizing:border-box;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#chart_group .Chartjs .chart_box .Chartjs-table{width:100%; height:330px; box-sizing:border-box;}
#chart_group .Chartjs .chart_box .table{margin-top:0;}
#chart_group .Chartjs .chart_box .table td{padding:5px;}


#main_box_01{padding:0px; background-color:#f5f9fc;}
#main_box_02{position:relative; height:135px; padding:25px 325px 25px 255px; font-family:"Nanum Barun Gothic"; background-color:#f5f9fc; box-sizing:border-box;}
#main_box_02 em{font-style:normal; font-weight:normal;}
#main_box_02 .tis{display:block; position:absolute; left:25px; top:30px; width:230px; height:80px; padding-left:14px; font-size:36px; color:#1e1e1e;}
#main_box_02 .tis span{display:block; margin-bottom:5px; font-size:16px; color:#4c4c4c;}
#main_box_02 ul{overflow:hidden;}
#main_box_02 ul li{float:left; width:25%; text-align:right; font-weight:normal; font-size:38px; color:#141414;}
#main_box_02 ul li span{display:block; margin-bottom:5px; font-family:"Noto Sans KR"; font-size:14px;}
#main_box_02 ul li.color_01 span{color:#47a92b;}
#main_box_02 ul li.color_02 span{color:#f55b63;}
#main_box_02 ul li.color_03 span{color:#323232;}
#main_box_02 .tes{position:absolute; right:25px; top:25px; width:300px; text-align:right;}
#main_box_02 .tes a{
	display:inline-block; width:125px; height:65px; padding-top:14px; text-align:center; text-decoration:none; font-weight:600; font-size:14px; border:1px solid #cdd1d3; color:#505050; background-color:#fff; box-sizing:border-box;
	border-radius:5px;
	-webkit-border-radius:5px;
	transition : all 0.5s ease;
    -webkit-transition : all 0.5s ease;
}
#main_box_02 .tes a span{display:block; margin-top:5px; font-weight:normal; font-size:12px; color:#a0a0a0;}
#main_box_02 .tes a:hover{color:#fff; background-color:#1a1f2b;}
#main_box_02 .tes a:hover span{color:#fff;}
 
#main_box_03{overflow:hidden; position:relative; padding:25px 295px 25px 25px;}
#main_box_03 [class*="box_"]{height:630px; box-sizing:border-box;}
#main_box_03 [class*="box_"] .lay{
	overflow:hidden; width:100%; height:100%; background-color:#fff; box-sizing:border-box;
	border-radius:5px;
	-webkit-border-radius:5px;
}
#main_box_03 [class*="box_"] .lay .head{height:29px; padding:14px 23px; border-bottom:1px solid #d6d9de; background-color:#f5f6f8;}
#main_box_03 [class*="box_"] .lay .head strong{display:block; line-height:29px; font-size:18px; color:#141414;}
#main_box_03 .box_01{float:left; width:50%; padding-right:10px;}
#main_box_03 .box_02{float:left; width:50%; padding-right:10px;}
#main_box_03 .box_03{position:absolute; right:25px; top:25px; width:270px;}
#main_box_03 .box_03 .lay .head{background:#57a8b0 url(../../images/cms/content/main_box_03_bg.png) no-repeat right bottom;}
#main_box_03 .table{margin-top:0;}
#main_box_03 .table th{text-align:center;}
#main_box_03 .table td{padding:14px 10px;}
#main_box_03 .table tr:last-child td{border-bottom:none;}
#main_box_03 .table td .linkval{overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block;}
#main_box_03 .midd .scroll_y{overflow:hidden; width:100%; height:520px;}
#main_box_03 .midd ul{}
#main_box_03 .midd ul li{display:table; table-layout:fixed; width:100%;}
#main_box_03 .midd ul li strong,
#main_box_03 .midd ul li span{display:table-cell; padding:10px;}
#main_box_03 .midd ul li strong{width:auto;}
#main_box_03 .midd ul li span{width:120px;}
#main_box_03 .midd .btngroup{padding:10px; text-align:center;}
#main_box_03 .midd .btngroup a{
	display:inline-block; width:64px; height:27px; line-height:27px; text-decoration:none; text-align:center; font-size:13px; border:1px solid #dadada; color:#828282;
	border-radius:3px;
	-webkit-border-radius:3px;
	transition : all 0.5s ease;
    -webkit-transition : all 0.5s ease;
}
#main_box_03 .midd .btngroup a:hover{color:#fff; background-color:#1a1f2b;}


/* 예약발송 인풋추가 */
.submit-open{height:50px;  background:#f5f6f8; padding:10px 20px}
.submit-open input{padding:5px 5px; height:36px; width:150px; box-sizing:border-box; vertical-align: top;border-radius:5px}
a.submit-btn{ box-sizing:border-box;padding:7px 20px;  display:inline-block; background:#cd6670; color:#fff;  border-radius:5px; margin-left:10px}
