/* sub */
.user#sub .location{margin:0 auto; text-align:center;}
.user#sub .location:after{content:""; display:block; clear:both;}
.user#sub .location>span,
.user#sub .location>strong{display:inline-block; position:relative; line-height:1.2em; vertical-align:top; font-size:1.5em; color:#fff;}
.user#sub .location>strong{font-weight:400;}
.user#sub .location>span:nth-child(1),
.user#sub .location>strong:nth-child(1){overflow:hidden; width:1.2em; height:1.2em; text-indent:-1000px; background-image:url(../../images/site/common/path_home_w.svg); background-repeat:no-repeat; background-position:center top -0.1em; background-size:contain;}
.user#sub .location>span:nth-child(n+2),
.user#sub .location>strong:nth-child(n+2){padding-left:1.6em;}
.user#sub .location>span:nth-child(n+2)>i,
.user#sub .location>strong:nth-child(n+2)>i{overflow:hidden; display:block; position:absolute; left:0.2em; top:-0.1em; width:1.2em; height:1.2em; text-indent:-1000px;}
.user#sub .location>span:nth-child(n+2)>i:before,
.user#sub .location>strong:nth-child(n+2)>i:before{content:""; display:block; width:100%; height:100%; background-image:url(../../images/site/common/path_bul_w.svg); background-repeat:no-repeat; background-position:center center; background-size:contain;}


.user#sub #visual{display:none; height:32.5em; background-color:#000; background-repeat:no-repeat; background-position:center center; background-size:cover;}
.user#sub #visual>.layout{display:table; table-layout:fixed; width:100%; height:100%;}
.user#sub #visual>.layout>.in{display:table-cell; vertical-align:middle; text-align:center;}
.user#sub #visual>.layout>.in>strong{display:block; font-weight:500; font-size:4.5em; color:#fff;}
.user#sub #visual>.layout>.in>span{display:block; font-weight:400; font-size:1.8em; color:#fff;}
.user#sub #visual .location{display:none; margin-top:1em;}


.user#sub #container{margin-top:4.8em;}
.user#sub #container>.layout{padding-left:32.6em;}
.user#sub #remote{position:absolute; left:2em; top:0; width:24em;}
.user#sub #remote>h2{display:table; table-layout:fixed; width:100%; height:14em; font-size:1em; background-color:#ddd; background-image:url(../../images/site/common/b_h2_simbol.svg); background-repeat:no-repeat; background-position:right bottom; background-size:contain;}
.user#sub #remote>h2>span{display:table-cell; vertical-align:middle; text-align:center; font-size:2.8em; color:#fff;}
.user#sub #remote>#lnb>ul{border-left:1px solid rgba(34,34,34,0.1); border-right:1px solid rgba(34,34,34,0.1); border-bottom:2px solid #2B3B59;}
.user#sub #remote>#lnb>ul>li{border-bottom:1px solid rgba(34,34,34,0.1);}
.user#sub #remote>#lnb>ul>li>a{display:block; position:relative; padding:1.4em 3em;}
.user#sub #remote>#lnb>ul>li>a>span{font-size:1.7em; color:#101010;}
.user#sub #remote>#lnb>ul>li>a.child:after{
	content:""; position:absolute; right:0.5em; top:calc(50% - 0.2em); width:2.4em; height:2.4em; background-image:url(../../images/site/common/lnb_bul.svg); background-repeat:no-repeat; background-position:center center; background-size:contain;
	-webkit-transform:translateY(-50%) rotate(0);
	transform:translateY(-50%) rotate(0);
	-webkit-transition:transform 0.2s linear;
	transition:transform 0.2s linear;
}
.user#sub #remote>#lnb>ul>li>a.child.ov:after{
	-webkit-transform:translateY(-50%) rotate(180deg);
	transform:translateY(-50%) rotate(180deg);
}
.user#sub #remote>#lnb>ul>li>ul{padding:0 0 1.4em 0;}
.user#sub #remote>#lnb>ul>li>ul>li:nth-child(n+2){margin-top:0.5em;}
.user#sub #remote>#lnb>ul>li>ul>li>a{display:block; padding:0 3em;}
.user#sub #remote>#lnb>ul>li>ul>li>a>span{display:block; position:relative; padding-left:0.8em; font-size:1.5em; color:#666;}
.user#sub #remote>#lnb>ul>li>ul>li>a>span:before{content:"-"; display:block; position:absolute; left:0; top:0;}


.user#sub #content{padding-top:5.7em;}
.user#sub #path{position:relative; border-bottom:1px solid #C4C4C4;}
.user#sub #path h3{display:block; padding-bottom:1em; font-size:1em;}
.user#sub #path h3>span{font-weight:400; font-size:3.2em; color:#222;}
.user#sub #path #navi{position:absolute; right:0; bottom:1.5em; text-align:right;}
.user#sub #path #navi > .sns,
.user#sub #path #navi > .print{display:inline-block; position:relative; width:3em; height:3em; margin-left:1em;}
.user#sub #path #navi > .sns > a,
.user#sub #path #navi > .print > a{display:block; position:absolute; right:0; top:0; z-index:100; width:100%; height:100%;}
.user#sub #path #navi > .sns > a:before,
.user#sub #path #navi > .print > a:before{content:""; display:block; position:absolute; right:0; top:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center center; background-size:contain;}
.user#sub #path #navi > .sns > a.open{z-index:0;}
.user#sub #path #navi > .sns > a.open:before{background-image:url(../../images/site/common/b_sns.svg);}
.user#sub #path #navi > .sns > a.open:hover:before{background-image:url(../../images/site/common/b_sns_ov.svg);}
.user#sub #path #navi > .sns > a.close{display:none; left:0.5em; top:0.5em; z-index:600; width:1.8em; height:1.8em; border:none;}
.user#sub #path #navi > .sns > a.close:before{
	background-image:url(../../images/site/common/path_sns_close.svg);
	-webkit-transition:transform 0.3s ease;
	transition:transform 0.3s ease;
}
.user#sub #path #navi > .print > a:before{background-image:url(../../images/site/common/b_print.svg);}
.user#sub #path #navi > .print > a:hover:before{background-image:url(../../images/site/common/b_print_ov.svg);}
.user#sub #path #navi > .sns > a span,
.user#sub #path #navi > .print > a span{opacity:0; position:absolute;}
.user#sub #path #navi > .sns > a:hover,
.user#sub #path #navi > .print > a:hover{border-color:#111;}
.user#sub #path #navi > .sns > a.close:hover:before{
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}
.user#sub #path #navi > .print:before{content:""; display:block; position:absolute; left:-0.6em; top:5%; width:1px; height:90%; background-color:#E6E6E6;}
.user#sub #path #navi > .sns > ul{
	white-space:nowrap; display:none; position:absolute; left:50%; top:calc(100% + 1em); z-index:500; padding:1em 2em 0.8em; border:1px solid #CBCBCB; background-color:#fff;
	-webkit-border-radius:0.8em;
	border-radius:0.8em;
	-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
	-webkit-transform:translateX(-50%);
	transform:translateX(-50%);
}
.user#sub #path #navi > .sns > ul:before{
	content:""; display:block; position:absolute; left:50%; top:0; width:1.6em; height:1.6em; border:1px solid #CBCBCB; background-color:#fff;
	border-right-color:transparent;
	border-bottom-color:transparent;
	-webkit-transform:translate(-50%, -50%) rotate(45deg);
	transform:translate(-50%, -50%) rotate(45deg);
}
.user#sub #path #navi > .sns > ul>li{display:inline-block; vertical-align:top;}
.user#sub #path #navi > .sns > ul>li:nth-child(n+2){margin-left:2em;}
.user#sub #path #navi > .sns > ul>li>a{display:block;}
.user#sub #path #navi > .sns > ul>li>a:before{
	content:""; display:block; width:3.5em; height:3.5em; margin:0 auto 1em; background-repeat:no-repeat; background-position:center center; background-size:contain;
	-webkit-border-radius:50%;
	border-radius:50%;
	-webkit-transition:background-color 0.2s linear;
	transition:background-color 0.2s linear;
}
.user#sub #path #navi > .sns > ul>li>a.f:before{background-color:#4065B4; background-image:url(../../images/site/common/path_sns_f_tran.svg);}
.user#sub #path #navi > .sns > ul>li>a.f:hover:before{background-color:#213D79;}
.user#sub #path #navi > .sns > ul>li>a.t:before{background-color:#4FB8FF; background-image:url(../../images/site/common/path_sns_t_tran.svg);}
.user#sub #path #navi > .sns > ul>li>a.t:hover:before{background-color:#0071D9;}
.user#sub #path #navi > .sns > ul>li>a>span{display:block; text-align:center; font-size:1.2em; color:#353535;}

.user#sub #path #navi > .sns[data-open="on"] > a.close,
.user#sub #path #navi > .sns[data-open="on"] > ul{display:block;}
.user#sub #path #navi > .sns[data-open="on"] > a.open{display:none;}


.user#sub #path .location{margin-bottom:4.5em;}
.user#sub #path .location>span,
.user#sub #path .location>strong{color:#666;}
.user#sub #path .location>span:nth-child(1),
.user#sub #path .location>strong:nth-child(1){background-image:url(../../images/site/common/b_path_home_g.svg);}
.user#sub #path .location>span:nth-child(n+2)>i:before,
.user#sub #path .location>strong:nth-child(n+2)>i:before{background-image:url(../../images/site/common/b_path_bul_g.svg);}

.user#sub #txt{padding:2.5em 0 9em; font-size:1.6em;}

/* top */
.user #content-top{
	position:fixed; right:-12em; bottom:0; z-index:500; width:10.4em; height:11.9em;
	transition:right 0.2s linear;
}
.user #content-top>a{display:block; width:100%; height:100%;}
.user #content-top>a:before{content:""; display:block; width:100%; height:100%; background-image:url(../../images/site/common/top.svg); background-repeat:no-repeat; background-position:center center; background-size:contain;}
.user #content-top>a>span{opacity:0; position:absolute; left:0; top:0;}

.user[data-scroll="on"] #content-top{right:0;}

.user#main #content-top{display:none;}

@media screen and (max-width: 1024px) {
	.user#sub #remote{display:none;}
	.user#sub #container{margin-top:0;}
	.user#sub #container>.layout{padding-left:2em;}
	.user#sub #content{padding-top:5em;}
	.user#sub #path .location{margin-bottom:2.5em;}
    
    .user#sub #txt{padding:2.5em 0 3.75em;}
}
@media screen and (max-width: 700px) {
	.user #content-top{font-size:8px;}
}