/* 동아리 */
[data-team="1"]>ul>li:nth-child(n+2){padding-top:2.8125em; border-top:1px solid #E6E6E6;}
[data-team="1"]>ul>li>.in>.head{position:relative; height:8.125em; line-height:8.125em;}
[data-team="1"]>ul>li>.in>.head>.p{position:absolute; left:0; top:0; z-index:0; width:100%; height:100%; background-repeat:no-repeat; background-position:center center; background-size:cover;}
[data-team="1"]>ul>li>.in>.head>strong{display:block; position:relative; z-index:100; text-align:center; font-weight:500; font-size:1.4375em; color:#fff;}
[data-team="1"]>ul>li>.in>.midd{line-height:1.7; padding:2.1875em 2.8125em; color:#353535;}
@media screen and (max-width: 600px) {
    [data-team="1"]>ul>li>.in>.midd{padding:2em;}
}

[data-team="2"]>ul>li{display:table; table-layout:fixed; position:relative; width:100%; min-height:15.6em; padding:2em 0 2em calc(28% + 2em);}
[data-team="2"]>ul>li:nth-child(n+2){border-top:1px solid #E6E6E6;}
[data-team="2"]>ul>li>.in{display:table-cell; vertical-align:middle;}
[data-team="2"]>ul>li>.in>.head>.p{display:block; position:absolute; left:0; top:2em; z-index:0; width:28%; height:auto; padding-top:17%; background-repeat:no-repeat; background-position:center center; background-size:cover;}
[data-team="2"]>ul>li>.in>.head>strong{display:block; font-weight:500; font-size:1.4375em; color:#0F3192;}
[data-team="2"]>ul>li>.in>.midd{line-height:1.7; padding:0; margin-top:0.8em; color:#353535;}
[data-team="2"]>ul>li>.in>.midd > p{margin: 0 !important;}
[data-team="2"]>ul>li>.in>.midd > [data-list="2"] > li:before{top: 0.8em !important;}
@media screen and (max-width: 600px) {
    [data-team="2"]>ul>li,
    [data-team="2"]>ul>li>.in{display:block;}
    [data-team="2"]>ul>li{padding-left:0;}
    [data-team="2"]>ul>li>.in>.head>.p{position:relative; top:auto; width:100%; padding-top:56.2%;}
    [data-team="2"]>ul>li>.in>.head>strong{margin-top:1em;}
}

div + [data-team],
ul + [data-team]{margin-top:2em;}

/* 교수님 리스트 */
[data-user-card="1"]>ul:after{content:""; display:block; clear: both;}
[data-user-card="1"]>ul>li{
    float:left; width:calc((100% - 1.875em - 1px) / 2); min-height: 18em; margin-left:1.875em; padding:2em 2.5em; border:1px solid #E5E5E5;
    -webkit-border-radius:1em;
    border-radius:1em;
}
[data-user-card="1"]>ul>li:nth-child(2n+1){clear:both; margin-left:0;}
[data-user-card="1"]>ul>li:nth-child(n+3){margin-top:1.875em;}
[data-user-card="1"]>ul>li>.in{position:relative; display: block; height: 100%; min-height:8.6875em; padding-right:7.5em; padding-bottom: 2.6em;}
[data-user-card="1"]>ul>li>.in>.p{
    position:absolute; right:0; top:0; width:6.875em; height:8.6875em; background:#ECF0F1 url(../../images/site/common/people_def.svg) no-repeat center center; background-size:4.75em 4.375em; overflow: hidden;
    -webkit-box-shadow:0.625em 0.625em 1.25em rgba(0, 0, 0, 0.25);
    box-shadow:0.625em 0.625em 1.25em rgba(0, 0, 0, 0.25);
}
[data-user-card="1"]>ul>li>.in>.p> img{
    position: absolute; top: 50%; left: 50%; display: block; width: auto; height: 100%;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);

}
[data-user-card="1"]>ul>li>.in>strong{display:block; font-size:1.5em; color:#404040;}
[data-user-card="1"]>ul>li>.in>ul{margin-top:1em;}
[data-user-card="1"]>ul>li>.in>ul>li:nth-child(n+2){margin-top:0.6em;}
[data-user-card="1"]>ul>li>.in>ul>li:after{content:""; display:block; clear:both;}
[data-user-card="1"]>ul>li>.in>ul>li>em,
[data-user-card="1"]>ul>li>.in>ul>li>span{float:left;}
[data-user-card="1"]>ul>li>.in>ul>li>em{display:block; width:4em; font-weight:500; font-style:normal; font-size:1.0625em; color:#444;}
[data-user-card="1"]>ul>li>.in>ul>li>span{display:block; width:calc(100% - 4.25em - 1px); font-weight:400; font-size:1em; color:#666;}
[data-user-card="1"]>ul>li>.in>ul>li:last-child>span{
    position: relative;
    display: block;
    display: -webkit-box;
    overflow: hidden;
    height: 3em;
    line-height: 1.5;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    box-sizing: border-box;
}
[data-user-card="1"]>ul>li>.in>.btn_wrap{position: absolute; bottom: 0; display: block; width: 100%; margin: 1em 0 0;}
[data-user-card="1"]>ul>li>.in>.btn_wrap>span{
    width: 100%; margin: 0 !important; padding: 0.1em 0.4em 0.3em !important; border: 1px solid #E5E5E5; font-weight: 400; background-color: var(--point-color) !important; color: #fff; box-sizing: border-box;
    border-radius: 0.8em; -webkit-border-radius: 0.8em;
    transition: background-color, color 0.2s ease; -webkit-transition: background-color, color 0.2s ease;
}
[data-user-card="1"]>ul>li>.in>.btn_wrap>span:hover{
    background-color: transparent !important; color: #222 !important; font-weight: 500;
}

div + [data-user-card="1"],
ul + [data-user-card="1"]{margin-top:2em;}
@media screen and (max-width: 1200px) and (min-width: 1025px){
    [data-user-card="1"]>ul>li{float:none; width:100%; margin-left:0; height: auto !important;}
    [data-user-card="1"]>ul>li:nth-child(n+2){margin-top:1em;}
}

@media screen and (max-width: 900px) {
    [data-user-card="1"]>ul>li{float:none; width:100%; margin-left:0; height: auto !important;}
    [data-user-card="1"]>ul>li:nth-child(n+2){margin-top:1em;}
}
@media screen and (max-width: 400px) {
    [data-user-card="1"]{font-size:0.9em;}
    [data-user-card="1"]>ul>li{min-height: 16em; padding:1.5em 2em;}
}

/* 교수님 상세 */
[data-user-card-detail="1"]{margin-bottom: 3.5em;}
[data-list="1"] + [data-user-card-detail="1"],
p + [data-user-card-detail="1"],
div + [data-user-card-detail="1"]{margin-top: 3.5em;}
[data-user-card-detail="1"] >.tt{position: relative; padding: 1.25em 0 0 5.4375em; box-sizing: border-box;}
[data-user-card-detail="1"] >.tt >.wrapss{padding: 3.3125em 10em 4em 7.0625em; background:linear-gradient(274.07deg, #F4F4F4 -1.2%, #F8F5EF 97.46%); box-sizing: border-box;}
[data-user-card-detail="1"] >.tt >.wrapss:before{content: ""; position: absolute; bottom: 0; right: 0; display: block; width: 11.3125em; height: 9.125em; background: url(../../images/site/common/data-user-card-detail01.svg) no-repeat bottom right; background-size: contain;}
[data-user-card-detail="1"] >.tt >.wrapss >.pho{position: absolute; top: 0; left: 0; overflow: hidden;  display: block; width: 9.6875em; height:11.8125em; background: #ECF0F1 url(../../images/site/common/people_def.svg) no-repeat center center; background-size: 6.75em 6em; box-shadow: 4.35484px 4.35484px 17.4194px rgba(132, 132, 132, 0.25);}
[data-user-card-detail="1"] >.tt >.wrapss >.pho >img{
    position: relative; top: 50%; left: 50%;display: block; width: auto; min-width: 100%; height: 100%;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
}
[data-user-card-detail="1"] >.tt >.wrapss >.nam{color: #373737; font-size: 1.25em;}
[data-user-card-detail="1"] >.tt >.wrapss >.nam strong{display: inline-block; margin-right: 0.25em; font-size: 1.3em; }
[data-user-card-detail="1"] >.tt >.wrapss >ul{margin-top: 0.6875em;}
[data-user-card-detail="1"] >.tt >.wrapss >ul:after{content: ""; display: block; clear: both;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li{position: relative;display: inline-block;margin-top: 0.8125em;/*padding-left: 6em;*/margin-right: 2em;line-height: 1.1875;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li >em{/*position: absolute;left: 0;top: 0;*/display: inline-block;margin-right: 1.25em;padding-left: 1.6em;font-style: normal;font-weight: 500;box-sizing: border-box;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li >em:before{content: ""; position: absolute; top: -0.05em; left: 0; display: inline-block; width: 1.375em; height: 1.375em; background-image: url(../../images/site/common/data-user-card-detail09.svg); background-repeat: no-repeat; background-position: center center; background-size: contain;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.tels >em:before{background-image: url(../../images/site/common/data-user-card-detail02.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.emails >em:before{background-image: url(../../images/site/common/data-user-card-detail03.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.majors >em:before{background-image: url(../../images/site/common/data-user-card-detail04.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.labs >em:before{background-image: url(../../images/site/common/data-user-card-detail05.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.subs >em:before{background-image: url(../../images/site/common/data-user-card-detail06.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.cars >em:before{background-image: url(../../images/site/common/data-user-card-detail07.svg);}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li.edus >em:before{background-image: url(../../images/site/common/data-user-card-detail08.svg);}

.detail_btn_wrap{text-align: center; margin-top: 1.5em;}
.detail_btn_wrap .btn{background-color: #0071D9 !important;}
[data-user-card-detail="1"] >.tt >.wrapss >ul >li >span{color: #666666;}

@media screen and (max-width: 1200px) and (min-width: 1025px){
    [data-user-card-detail="1"] >.tt >.wrapss{padding: 3.3125em 3em 4em 7.0625em}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li{float: none; margin-right: 0;}
}
@media screen and (max-width: 1024px) {
    [data-user-card-detail="1"] >.tt >.wrapss{min-height: 12em; padding: 2.5em 3em 3em 6.4em;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li{position: relative; float: none; margin-right: 0; padding-left: 6.5em; box-sizing: border-box;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li >em{position: absolute; top: 0; left: 0;}
}
@media screen and (max-width: 840px) {
    [data-user-card-detail="1"] >.tt >.wrapss:before{background-size: 80%;}    
}
@media screen and (max-width: 640px) {
    [data-user-card-detail="1"] >.tt{padding: 1.25em 0 0 4.35em}
    [data-user-card-detail="1"] >.tt >.wrapss{min-height: auto; padding: 2.5em 2.5em 3em 5.4em;}
    [data-user-card-detail="1"] >.tt >.wrapss:before{background-size: 70%;} 
    [data-user-card-detail="1"] >.tt >.wrapss >.pho{width: 7.75em; height: 9.45em; background-size: 5.4em 4.8em;}
}
@media screen and (max-width: 420px) {
    [data-user-card-detail="1"] >.tt >.wrapss{padding: 2em 2em 2.5em 4.2em;}
    [data-user-card-detail="1"] >.tt >.wrapss >.pho{width: 6.78125em; height: 8.26875em;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li{padding-left: 0;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li >em{position: relative; top: auto; left: auto; display: block;}
    [data-user-card-detail="1"] >.tt >.wrapss >ul >li >span{display: block; margin-top: 0.4em; padding-left: 1.6em; box-sizing: border-box;}
}

/*관련사이트*/
.prg_resite{}    
.prg_resite:after{content: ""; display: block; clear: both;}  
.prg_resite >li{float: left; position: relative; width: calc((100% - 1px - 5.625em) / 4); height: 9.375em; border: 1px solid #DEDEDE; box-sizing: border-box;}
.prg_resite >li:not(:nth-child(4n+1)){margin-left: 1.875em;}
.prg_resite >li:nth-child(n+5){margin-top: 1.875em;}
.prg_resite >li > a{display: block; width: 100%; height: 100%;}
.prg_resite >li img{
    position: absolute; top: 50%; left: 50%; display: block; width: auto; max-width: calc(100% - 2em);
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
}
@media screen and (max-width: 1440px){
    .prg_resite >li{width: calc((100% - 1px - 3.75em) / 3);}
    .prg_resite >li:not(:nth-child(4n+1)){margin-left: 0;}
    .prg_resite >li:not(:nth-child(3n+1)){margin-left: 1.875em;}
    .prg_resite >li:nth-child(n+4){margin-top: 1.875em;}
}
@media screen and (max-width: 840px){
}
@media screen and (max-width: 640px){
    .prg_resite >li{width: calc((100% - 1px - 1.2em) / 2);}
    .prg_resite >li:not(:nth-child(4n+1)),
    .prg_resite >li:not(:nth-child(3n+1)){margin-left: 0;}
    .prg_resite >li:not(:nth-child(2n+1)){margin-left: 1.2em;}
    .prg_resite >li:nth-child(n+3){margin-top: 1.2em;}
}


/*교수소개 data-js-card-open*/
[data-js-card-open=""]{}
[data-js-card-detail]{display: none;}
.pro_details div:not([data-js-card-open=""]) >ul{display: none;}
.pro_details [data-js-card-detail] ul{display: block !important; }
[data-js-card-open="1"] [data-js-card-detail="1"],
[data-js-card-open="2"] [data-js-card-detail="2"],
[data-js-card-open="3"] [data-js-card-detail="3"],
[data-js-card-open="4"] [data-js-card-detail="4"],
[data-js-card-open="5"] [data-js-card-detail="5"],
[data-js-card-open="6"] [data-js-card-detail="6"],
[data-js-card-open="7"] [data-js-card-detail="7"],
[data-js-card-open="8"] [data-js-card-detail="8"],
[data-js-card-open="9"] [data-js-card-detail="9"],
[data-js-card-open="10"] [data-js-card-detail="10"],
[data-js-card-open="11"] [data-js-card-detail="11"]{display: block;}