@charset "utf-8";



/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   board_search
   검색

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.board_search,
.board_search .select select,
.board_search .select input,
.board_search .select .search_btn{transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.board_search{overflow: hidden; margin-bottom: 20px;}
.board_search .count{float:left; height:auto; margin-top:15px;}
.board_search .count strong{position: relative; font-weight:400;}
.board_search .count .price{position:relative; display:inline-block; padding-right:23px;}
.board_search .count .price:after{content:""; display:block; position:absolute; top:50%; right:10px; width:1px; height:12px; margin-top:-5px; background:#ccc;}
.board_search .count span{color:#0766b6;}

.board_search .select{float:right;}
.board_search .select select,
.board_search .select input,
.board_search .select .search_btn{height:35px; line-height:35px;}
.board_search .select select{min-width:100px; border:1px solid #cecece;}
.board_search .select input[type="text"]{width:200px; margin-right:-6px;}
.board_search .select .search_btn{display:inline-block; width:auto; padding:0 25px; background:#333333; vertical-align:middle; text-decoration:none; color:#fff;}

@media screen and (max-width:720px){
  .board_search .count,
  .board_search .select{float:none;}
  .board_search .count{margin-top:0; margin-bottom:6px;}
}
@media screen and (max-width:640px){
  .board_search .select select,
  .board_search .select input,
  .board_search .select .search_btn{height:32px; line-height:32px;}
  .board_search .select select{min-width:90px;}
  .board_search .select .search_btn{padding:0 20px;}
}
@media screen and (max-width:480px){
  .board_search .select{position:relative;}
  .board_search .select select{width:100%; margin-bottom:5px;}
  .board_search .select input[type="text"]{width:100%; padding:0 70px 0 5px;}
  .board_search .select .search_btn{position:absolute; bottom:0; right:0;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   page
   페이징

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.page a,
.page a:link,
.page a:visited,
.page a:active{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.page{margin:30px 0 0 0; text-align:center;}
.page a{border:1px solid #ccc; vertical-align:middle; font-size:14px;}
.page a.on,
.page a:hover{background-color:#333333; border:1px solid #333333; color:#fff;}
.page a,
.page a:link,
.page a:visited,
.page a:active{display:inline-block; width:30px; height:30px; line-height:28px; text-decoration:none; box-sizing:border-box;}

.page a.page_first,
.page a.page_left,
.page a.page_right,
.page a.page_end{overflow:hidden; text-indent:-2000px;}
.page a.page_first,
.page a.page_end{background:url(../../../images/site/skin/page_first.png) no-repeat 10px center;}
.page a.page_end{transform:rotate(180deg);-webkit-transform:rotate(180deg);}
.page a.page_first:hover,
.page a.page_end:hover{border:1px solid #333333;}

.page a.page_left{margin-right:6px;}
.page a.page_left,
.page a.page_right{background:url(../../../images/site/skin/page_left.png) no-repeat 10px center;}
.page a.page_right{margin-left:6px; transform: rotate(180deg);-webkit-transform: rotate(180deg);}
.page a.page_left:hover,
.page a.page_right:hover{border:1px solid #333333;}

@media screen and (max-width:640px){
  .page a.page_first:hover,
  .page a.page_end:hover,
  .page a.page_left:hover,
  .page a.page_right:hover{background-position:8px center;}
  .page a,
  .page a strong,
  .page a:link,
  .page a:visited,
  .page a:active{width:25px; height:25px; line-height:23px;}
  .page a.page_first,
  .page a.page_left,
  .page a.page_right,
  .page a.page_end{background-position:8px center;}
  .page a.page_left{margin-right:4px;}
  .page a.page_right{margin-left:4px;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   notice_list
   공지형_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.notice_list ul li,
.notice_list ul li p{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.notice_list{margin-top:20px; border-top:2px solid #333; border-bottom:1px solid #646464;}
.notice_list ul{display:table; table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0;}
.notice_list ul li{position:relative; display:table-row; border-bottom:1px solid #d7d7d7;}
.notice_list ul li:hover{background:#f7f7f7;}
.notice_list ul li:last-child{border-bottom:0;}
.notice_list ul li p,
.notice_list ul li .subject,
.notice_list ul li.thead strong{display:table-cell; text-align:center; vertical-align:middle;}
.notice_list ul li p,
.notice_list ul li .subject{padding:12px 10px;}

.notice_list ul li .no{width:55px;}
.notice_list ul li .subject{width:auto;}
.notice_list ul li .writer{width:75px;}
.notice_list ul li .date{width:110px;}
.notice_list ul li .counter{width:50px;}
.notice_list ul li .file_atch{width:60px;}
/*헤드 항목*/
.notice_list ul li.thead{border-bottom:1px solid #989898;}
.notice_list ul li.thead:hover{background:transparent;}
.notice_list ul li.thead strong{padding:17px 10px; font-weight:700;}
/*공지글*/
.notice_list ul li.notice{background:#fbfbfb;}
.notice_list ul li.notice .no{overflow:hidden; background-image:url(../../../images/site/skin/icon_board_notice.png); background-repeat:no-repeat; background-position:center center; text-indent:-1000px;}
.notice_list ul li.notice .subject a strong{font-weight:700;}
/*제목부분*/
.notice_list ul li .subject a{display:block;}
.notice_list ul li .subject a strong{display:inline-block; font-weight:400;}
.notice_list ul li .subject a:hover strong{text-decoration:underline;}
/*아이콘*/
.notice_list ul li .subject a strong .new,
.notice_list ul li .subject a strong .re_end{overflow:hidden; display:none; margin:0 2px; vertical-align:middle;}
.notice_list ul li .subject a.new strong .new,
.notice_list ul li .subject a.re_end strong .re_end{display:inline-block;}
.notice_list ul li .subject a strong .new{width:13px; background:url(../../../images/site/skin/icon_board_new.gif) no-repeat left center; text-indent:-2000px;}
.notice_list ul li .subject a strong .re_end{width:auto; height:20px; line-height:20px; padding:0 5px; background:#337b08; font-size:13px; font-weight:400; color:#fff;}
.notice_list ul li .board_file{overflow:hidden; display:inline-block; width:12px; height:16px; background:url(../../../images/site/skin/icon_file_02.gif) no-repeat center center; vertical-align:middle; text-indent:-2000px;}

@media screen and (max-width:840px){
  .notice_list ul,
  .notice_list ul li,
  .notice_list ul li{display:block;}
  .notice_list ul li{padding:12px 10px;}
  .notice_list ul li.thead{display:none;}
  .notice_list ul li p:after{content:""; display:inline-block; width:1px; height:10px; margin:0 10px; background-color:#000; vertical-align:middle;}
  .notice_list ul li p:last-child:after{display: none;}
  .notice_list ul li .subject:after,
  .notice_list ul li .no:after{display: none;}
  .notice_list ul li .no{width:40px; height:18px; line-height:18px; padding:0; background:#e2e1e1; border-radius:5px; -webkit-border-radius:5px; font-size:13px;}
  .notice_list ul li .writer,
  .notice_list ul li .date,
  .notice_list ul li .counter,
  .notice_list ul li .file_atch{display: inline-block; width:auto; padding:0; font-size:13px;}
  /*제목부분*/
  .notice_list ul li .subject{display:inline-block; width:100%; padding:10px 0 5px 0; box-sizing:border-box;}
  .notice_list ul li .subject a strong{overflow:hidden; position:relative; width:auto; max-width:100%; min-height:18px; white-space:nowrap; text-overflow:ellipsis; box-sizing:border-box;}
  /*아이콘*/
  .notice_list ul li .subject a strong{position:relative; max-width:100%;}
  .notice_list ul li .subject a strong .re_end,
  .notice_list ul li .subject a strong .js_secret,
  .notice_list ul li .subject a strong .new{position:absolute; top:0; margin:0;}
  .notice_list ul li .subject a.re_end.new strong{padding-right:78px;}
  .notice_list ul li .subject a.re_end.new strong .re_end{right:16px;}
  .notice_list ul li .subject a.re_end.new strong .new{right:0;}
  .notice_list ul li .subject a.re_end strong{padding-right:62px;}
  .notice_list ul li .subject a.re_end strong .re_end{right:0;}
  .notice_list ul li .subject a.new strong{padding-right:16px;}
  .notice_list ul li .subject a.new strong .new{right:0;}
}
@media screen and (max-width:640px){
  .notice_list ul li{padding:10px;}
  .notice_list ul li .no{width:36px; height:16px; line-height:16px; font-size:12px;}
  .notice_list ul li.notice .no{display:none;}
  .notice_list ul li .subject{padding:6px 0 0px 0;}
  .notice_list ul li.notice .subject{padding:0;}
  /*아이콘*/
  .notice_list ul li .subject a strong .re_end{line-height:18px;}
  .notice_list ul li .subject a.re_end.new strong{padding-right:77px;}
  .notice_list ul li .subject a.re_end strong{padding-right:61px;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   qna_list
   qna_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.qna_list ul li,
.qna_list ul li p{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.qna_list{margin-top:20px; border-top:2px solid #333; border-bottom:1px solid #646464;}
.qna_list ul{display:table; table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0;}
.qna_list ul li{position:relative; display:table-row; border-bottom:1px solid #d7d7d7;}
.qna_list ul li:hover{background:#f7f7f7;}
.qna_list ul li:last-child{border-bottom:0;}
.qna_list ul li p,
.qna_list ul li .subject,
.qna_list ul li.thead strong{display:table-cell; text-align:center; vertical-align:middle;}
.qna_list ul li p,
.qna_list ul li .subject{padding:12px 10px;}

.qna_list ul li .no{width:55px;}
.qna_list ul li .subject{width:auto;}
.qna_list ul li .writer{width:75px;}
.qna_list ul li .date{width:110px;}
.qna_list ul li .counter{width:50px;}
.qna_list ul li .file_atch{width:60px;}
/*헤드 항목*/
.qna_list ul li.thead{border-bottom:1px solid #989898;}
.qna_list ul li.thead:hover{background:transparent;}
.qna_list ul li.thead strong{padding:17px 10px; font-weight:700;}
/*공지글*/
.qna_list ul li.notice{background:#fbfbfb;}
.qna_list ul li.notice .no{overflow:hidden; background-image:url(../../../images/site/skin/icon_board_notice.png); background-repeat:no-repeat; background-position:center center; text-indent:-1000px;}
.qna_list ul li.notice .subject a strong{font-weight:700;}
/*제목부분*/
.qna_list ul li .subject a{display:block;}
.qna_list ul li .subject a strong{display:inline-block; font-weight:400;}
.qna_list ul li .subject a:hover strong{text-decoration:underline;}
/*아이콘*/
.qna_list ul li .subject a strong .new,
.qna_list ul li .subject a strong .js_secret,
.qna_list ul li .subject a strong .re_end{overflow:hidden; display:none; margin:0 2px; vertical-align:middle;}
.qna_list ul li .subject a.new strong .new,
.qna_list ul li .subject a.js_secret strong .js_secret,
.qna_list ul li .subject a.re_end strong .re_end{display:inline-block;}
.qna_list ul li .subject a strong .new{width:13px; background:url(../../../images/site/skin/icon_board_new.gif) no-repeat left center; text-indent:-2000px;}
.qna_list ul li .subject a strong .js_secret{width:12px; background: url(../../../images/site/skin/icon_board_lock.gif) no-repeat left center; text-indent:-2000px;}
.qna_list ul li .subject a strong .re_end{width:auto; height:20px; line-height:20px; padding:0 5px; background:#337b08; font-size:13px; font-weight:400; color:#fff;}
.qna_list ul li .board_file{overflow:hidden; display:inline-block; width:12px; height:16px; background:url(../../../images/site/skin/icon_file_02.gif) no-repeat center center; vertical-align:middle; text-indent:-2000px;}

@media screen and (max-width:840px){
  .qna_list ul,
  .qna_list ul li,
  .qna_list ul li{display:block;}
  .qna_list ul li{padding:12px 10px;}
  .qna_list ul li.thead{display:none;}
  .qna_list ul li p:after{content:""; display:inline-block; width:1px; height:10px; margin:0 10px; background-color:#000; vertical-align:middle;}
  .qna_list ul li p:last-child:after{display: none;}
  .qna_list ul li .subject:after,
  .qna_list ul li .no:after{display: none;}
  .qna_list ul li .no{width:40px; height:18px; line-height:18px; padding:0; background:#e2e1e1; border-radius:5px; -webkit-border-radius:5px; font-size:13px;}
  .qna_list ul li .writer,
  .qna_list ul li .date,
  .qna_list ul li .counter,
  .qna_list ul li .file_atch{display: inline-block; width:auto; padding:0; font-size:13px;}
  /*제목부분*/
  .qna_list ul li .subject{display:inline-block; width:100%; padding:10px 0 5px 0; box-sizing:border-box;}
  .qna_list ul li .subject a strong{overflow:hidden; width:auto; min-height:18px; white-space:nowrap; text-overflow:ellipsis; box-sizing:border-box;}
  /*아이콘*/
  .qna_list ul li .subject a strong{position:relative; max-width:100%;}
  .qna_list ul li .subject a strong .re_end,
  .qna_list ul li .subject a strong .js_secret,
  .qna_list ul li .subject a strong .new{position:absolute; top:0; margin:0;}
  .qna_list ul li .subject a.re_end.js_secret.new strong{padding-right:94px;}
  .qna_list ul li .subject a.re_end.js_secret.new strong .re_end{right:31px;}
  .qna_list ul li .subject a.re_end.js_secret.new strong .js_secret{right:16px;}
  .qna_list ul li .subject a.re_end.js_secret.new strong .new{right:0;}
  .qna_list ul li .subject a.js_secret.new strong{padding-right:33px;}
  .qna_list ul li .subject a.js_secret.new strong .js_secret{right:17px;}
  .qna_list ul li .subject a.js_secret.new strong .new{right:0;}
  .qna_list ul li .subject a.re_end.js_secret strong{padding-right:79px;}
  .qna_list ul li .subject a.re_end.js_secret strong .re_end{right:16px;}
  .qna_list ul li .subject a.re_end.js_secret strong .js_secret{right:0;}
  .qna_list ul li .subject a.re_end.new strong{padding-right:79px;}
  .qna_list ul li .subject a.re_end.new strong .re_end{right:16px;}
  .qna_list ul li .subject a.re_end.new strong .new{right:0;}
  .qna_list ul li .subject a.re_end strong{padding-right:63px;}
  .qna_list ul li .subject a.re_end strong .re_end{right:0;}
  .qna_list ul li .subject a.js_secret strong{padding-right:15px;}
  .qna_list ul li .subject a.js_secret strong .js_secret{right:0;}
  .qna_list ul li .subject a.new strong{padding-right:16px;}
  .qna_list ul li .subject a.new strong .new{right:0;}
}
@media screen and (max-width:640px){
  .qna_list ul li{padding:10px;}
  .qna_list ul li .no{width:36px; height:16px; line-height:16px; font-size:12px;}
  .qna_list ul li .subject{padding:6px 0 0px 0;}
  /*아이콘*/
  .qna_list ul li .subject a strong .re_end{line-height:18px;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
   faq_list
   FAQ_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.faq_list li,
.faq_list li strong a,
.faq_list li .question a:after{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.faq_list{border-top:2px solid #333; border-bottom:1px solid #646464;}
.faq_list li{overflow:hidden; position:relative;}
/*질문*/
.faq_list li .question{overflow:hidden; display:block; border-bottom:1px solid #cfcfcf;}
.faq_list li:last-child .question{border-bottom:0;}
.faq_list li .question a{position:relative; display:block; width:100%; padding:15px; font-weight:400; box-sizing:border-box;}
.faq_list li .question a:hover,
.faq_list li .question a:active,
.faq_list li .question a:link{text-decoration:none;}
.faq_list li .question a:before{content:"Q"; display:block; position:absolute; top:9px; left:15px; width:33px; height:33px; line-height:31px; background:url(../../../images/site/skin/icon_board_question.png)no-repeat; background-size:100% auto; text-align:center; font-size:16px; color:#fff;}
.faq_list li .question a:after{content:""; position:absolute; top:50%; right:15px; display:block; width:11px; height:7px; margin-top:-4px; background:url(../../../images/site/skin/arrow_board.gif) no-repeat center center;}
.faq_list li .question.on a:after{background:url(../../../images/site/skin/arrow_board_ov.gif) no-repeat left top; transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.faq_list li .question a span{display: block; padding:0 17px 0 43px;}
/*답변*/
.faq_list li .answer{position:relative; display:none; padding:15px; background:#f7f7f7; border-bottom:1px solid #cfcfcf;}
.faq_list li .answer:after{content:"A"; position:absolute; top:7px; left:15px; display:block; width:33px; height:33px; line-height:31px; background:url(../../../images/site/skin/icon_board_answer.png)no-repeat; background-size:100% auto; text-align:center; font-size:16px; color:#fff;}
.faq_list li .answer p{padding:0 0 0 43px;}
/*첨부파일있을경우*/
.faq_list li .answer ul{margin-top:8px; padding:0 0 0 43px;}
.faq_list li .answer ul li{margin-top:2px; font-size:14px;}
.faq_list li .answer ul li:first-child{margin-top:0;}
.faq_list li .answer ul li a{display:inline-block; padding-left:18px; padding-bottom:2px; background:url(../../../images/site/skin/icon_file_02.gif) no-repeat left top 3px; word-break:break-all; box-sizing:border-box;}

@media screen and (max-width:640px){
	.faq_list li .question a:before{top:7px;}
	.faq_list li .answer ul li a{padding-left:16px; background-position:left top 1px;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
   bodo_list
   보도형_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.bodo_list ul li,
.bodo_list ul li a,
.bodo_list ul li a .photo,
.bodo_list ul li a .photo span img{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.bodo_list{margin-top:20px;}
.bodo_list ul{overflow:hidden; border-top:2px solid #333; border-bottom:1px solid #646464;}
.bodo_list ul li{padding:20px 10px; border-bottom:1px dashed #ccc;}
.bodo_list ul li:last-child{border-bottom:0;}
.bodo_list ul li a{position:relative; display:block; min-height:152px; padding-left:220px;}
.bodo_list ul li a .photo{overflow:hidden; position:absolute; left:0; top:0; display:block; width:200px;height:150px; background-color:#eee;}
.bodo_list ul li a .photo span{display:block; position:absolute; top:0; left:50%; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.bodo_list ul li a .photo span img{height:100%; transform:scale(1); -webkit-transform:scale(1);}

.bodo_list ul li a .subject{overflow: hidden; display:inline-block; max-width:100%; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle; font-weight:700; box-sizing:border-box;}
.bodo_list ul li a .contents{overflow:hidden; display:block; height:88px; margin:10px 0 2px;}
.bodo_list ul li a .writer,
.bodo_list ul li a .date{display:inline-block; line-height:18px; vertical-align:middle; font-size:14px; color:#787878;}
.bodo_list ul li a .writer{margin-right:5px;}

.bodo_list ul li a:hover .photo span img{transform:scale(1.1); -webkit-transform:scale(1.1);}
.bodo_list ul li a:hover .subject{text-decoration:underline;}
/*아이콘*/
.bodo_list ul li a .subject{position:relative; padding-right:18px;}
.bodo_list ul li a .subject .new{overflow:hidden; position:absolute; top:0; right:0; display:none; width:13px; background:url(../../../images/site/skin/icon_board_new.gif) no-repeat left center; text-indent:-2000px;}
.bodo_list ul li a.new .subject .new{display:inline-block;}

@media screen and (max-width:640px){
  .bodo_list ul li{padding:10px 10px;}
  .bodo_list ul li a{min-height:90px; padding-left:135px;}
  .bodo_list ul li a .photo{top:3px; width:120px; height:90px;}
  .bodo_list ul li a .contents{height:52px; margin:7px 0 2px;}
  .bodo_list ul li a .writer,
  .bodo_list ul li a .date{font-size:13px;}
}
@media screen and (max-width:380px){
  .bodo_list ul li a{min-height:auto; padding-left:0; padding-top:100px;}
  .bodo_list ul li a .photo{top:0; left:50%; margin-left:-60px;}
  .bodo_list ul li a .contents{height:auto; max-height:35px; margin:6px 0 3px;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
   photo_list
   포토형_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.photo_list ul li,
.photo_list ul li a,
.photo_list ul li a .photo,
.photo_list ul li a .photo span img{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.photo_list{margin-top:20px;}
.photo_list ul{overflow:hidden; padding:20px 10px; border-top:2px solid #333; border-bottom:1px solid #646464;}
.photo_list ul li{position:relative; float:left; width:33.3%; height:auto; margin-top:20px; padding:0px 10px; box-sizing:border-box;}
.photo_list ul li:first-child,
.photo_list ul li:nth-child(2),
.photo_list ul li:nth-child(3){margin-top:0;}
.photo_list ul li a{display:block; width:100%; height:100%; border:1px solid #eaeaea;}

.photo_list ul li a .photo{overflow:hidden; position:relative; display:block; width:100%; height:175px; background-color:#eee;}
.photo_list ul li a .photo span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.photo_list ul li a .photo span img{height:100%; transform:scale(1); -webkit-transform:scale(1);}
.photo_list ul li a .subject,
.photo_list ul li a .date{padding:0 10px;}
.photo_list ul li a .subject{overflow:hidden; display:block; margin:12px 0 4px; white-space:nowrap; text-overflow:ellipsis; font-weight:700;}
.photo_list ul li a .date{display:block; margin-bottom:12px; font-size:14px; color:#969696;}

.photo_list ul li a:hover .photo span img{transform:scale(1.2); -webkit-transform:scale(1.2);}

@media screen and (max-width:720px){
  .photo_list ul li{width:50%;}
  .photo_list ul li:nth-child(3){margin-top:20px;}
  .photo_list ul li a:hover .photo span img{transform:none; -webkit-transform:none;}
}
@media screen and (max-width:640px){
  .photo_list ul li a .photo{height:155px;}
  .photo_list ul li a .subject{margin:10px 0 4px;}
  .photo_list ul li a .date{margin-bottom:10px; font-size:13px;}
}
@media screen and (max-width:480px){
  .photo_list ul li a .subject{margin:10px 0 2px; font-size:13px;}
  .photo_list ul li a .date{font-size:12px;}
}
@media screen and (max-width:380px){
  .photo_list ul li{width:100%; margin-top:10px !important;}
  .photo_list ul li:first-child{margin-top:0 !important;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   youtube_list
   유튜브형 게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.youtube_list ul li,
.youtube_list ul li a,
.youtube_list ul li a .photo,
.youtube_list ul li a .photo span img{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.youtube_list{margin-top:20px;}
.youtube_list ul{overflow:hidden; padding:20px 10px; border-top:2px solid #333; border-bottom:1px solid #646464;}
.youtube_list ul li{position:relative; float:left; width:33.3%; height:auto; margin-top:20px; padding:0px 10px; box-sizing:border-box;}
.youtube_list ul li:first-child,
.youtube_list ul li:nth-child(2),
.youtube_list ul li:nth-child(3){margin-top:0;}
.youtube_list ul li a{display:block; width:100%; height:100%; border:1px solid #eaeaea;}

.youtube_list ul li a .photo{overflow:hidden; position:relative; display:block; width:100%; height:165px; background-color:#eee;}
.youtube_list ul li a .photo span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.youtube_list ul li a .photo span img{height:100%; transform:scale(1.35); -webkit-transform:scale(1.35);}
.youtube_list ul li a .subject,
.youtube_list ul li a .date{padding:0 10px;}
.youtube_list ul li a .subject{overflow:hidden; display:block; margin:12px 0 4px; white-space:nowrap; text-overflow:ellipsis; font-weight:700;}
.youtube_list ul li a .date{display:block; margin-bottom:12px; font-size:14px; color:#969696;}

.youtube_list ul li a:hover .photo span img{transform:scale(1.5); -webkit-transform:scale(1.5);}

@media screen and (max-width:720px){
  .youtube_list ul li{width:50%;}
  .youtube_list ul li a .photo{height:170px;}
  .youtube_list ul li:nth-child(3){margin-top:20px;}
  .youtube_list ul li a:hover .photo span img{transform:scale(1.35); -webkit-transform:scale(1.35);}
}
@media screen and (max-width:640px){
  .youtube_list ul li a .photo{height:135px;}
  .youtube_list ul li a .subject{margin:10px 0 4px;}
  .youtube_list ul li a .date{margin-bottom:10px; font-size:13px;}
}
@media screen and (max-width:420px){
  .youtube_list ul li{width:100%; margin-top:10px !important;}
  .youtube_list ul li:first-child{margin-top:0 !important;}
  .youtube_list ul li a .photo{height:145px;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   downpic_list
   다운로드(이미지)_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.downpic_list ul li,
.downpic_list ul li div,
.downpic_list ul li div .photo,
.downpic_list ul li div .photo span img{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.downpic_list{margin-top:20px;}
.downpic_list ul{overflow:hidden; padding:20px; border-top:2px solid #333; border-bottom:1px solid #646464;}
.downpic_list ul li{position:relative; float:left; width:25%; height:auto; margin-top:20px; padding:0px 2.4%; box-sizing:border-box;}
.downpic_list ul li:first-child,
.downpic_list ul li:nth-child(2),
.downpic_list ul li:nth-child(3),
.downpic_list ul li:nth-child(4){margin-top:0;}
.downpic_list ul li div{display:block; width:100%; height:100%; }

.downpic_list ul li div .photo{overflow:hidden; position:relative; display:block; width:100%; height:240px;background:#ccc; border:1px solid #ececec;box-sizing:border-box;}
.downpic_list ul li div .photo span{display:block; position:absolute; left:50%; top:0; width:2000px; height:100%; margin-left:-1000px; text-align:center;}
.downpic_list ul li div .photo span img{height:100%; transform:scale(1); -webkit-transform:scale(1);}
.downpic_list ul li div .subject{overflow:hidden; display:block; margin:12px 0 8px; white-space:nowrap; text-overflow:ellipsis; font-weight:700;}
.downpic_list ul li div .date{display:block; margin-bottom:12px; font-size:14px; color:#969696;}

.downpic_list ul li div .btns{margin-top:10px;text-align:center;}
.downpic_list ul li div .btn.down{
  display: inline-block; min-width:92px; height:34px; padding-left:8px; line-height:34px;box-sizing:border-box; text-decoration:none;text-align:center;
  transition:all 0.3s ease; -webkit-transition:all 0.3s ease;
}

@media screen and (max-width:1200px){
  .downpic_list ul li div .photo{height:224px;}
}
@media screen and (max-width:1100px){
  .downpic_list ul li div .photo{height:196px;}
}
@media screen and (max-width:1024px){
  .downpic_list ul li {padding:0 2.9%;}
  .downpic_list ul li div .photo{height:240px;}
}
@media screen and (max-width:880px){
  .downpic_list ul {padding:20px 10px;}
  .downpic_list ul li div .photo{height:218px;}
}
@media screen and (max-width:840px){
  .downpic_list ul li div .photo{height:204px;}
}
@media screen and (max-width:760px){
  .downpic_list ul li div .photo{height:187px;}
}
@media screen and (max-width:720px){
  .downpic_list ul li{width:33.3%;padding:0 2.7%;}
  .downpic_list ul li:nth-child(4){margin-top:20px;}
  .downpic_list ul li div .photo{height:240px;}
}
@media screen and (max-width:640px){
  .downpic_list ul li div .photo{height:212px;}
  .downpic_list ul li div .subject{margin:10px 0 4px;}
  .downpic_list ul li div .date{margin-bottom:10px;}
  .downpic_list ul li div .btn.down{height:33px; line-height:33px;}
}
@media screen and (max-width:540px){
  .downpic_list ul li div .photo{height:173px;}
}
@media screen and (max-width:480px){
  .downpic_list ul {padding: 20px;}
  .downpic_list ul li{width:50%; margin-top:10px;}
  .downpic_list ul li:nth-child(1),
  .downpic_list ul li:nth-child(2){margin-top:0;}
  .downpic_list ul li:nth-child(3),.downpic_list ul li:nth-child(4){margin-top:10px;}
  .downpic_list ul li div .photo{height:240px;}
}
@media screen and (max-width:440px){
  .downpic_list ul li div .photo {height: 216px;}
  .downpic_list ul li div .btn.down {height: 30px;line-height: 30px;width:83px;}
}
@media screen and (max-width:400px){
  .downpic_list ul li div .photo {height: 186px;}
}
@media screen and (max-width:360px){
  .downpic_list ul li div .photo { height: 164px;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   downtxt_list
   공지형_게시판

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.downtxt_list ul li,
.downtxt_list ul li p{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.downtxt_list{margin-top:20px; border-top:2px solid #333; border-bottom:1px solid #646464;}
.downtxt_list ul{display:table; table-layout:fixed; width:100%; border-collapse:collapse; border-spacing:0;}
.downtxt_list ul li{position:relative; display:table-row; border-bottom:1px solid #d7d7d7;}
.downtxt_list ul li:hover{background:#f7f7f7;}
.downtxt_list ul li:last-child{border-bottom:0;}
.downtxt_list ul li p,
.downtxt_list ul li .subject,
.downtxt_list ul li.thead strong{display:table-cell; text-align:center; vertical-align:middle;}
.downtxt_list ul li p,
.downtxt_list ul li .subject{padding:12px 10px;}

.downtxt_list ul li .no{width:55px;}
.downtxt_list ul li .subject{width:auto;}
.downtxt_list ul li .writer{width:75px;}
.downtxt_list ul li .date{width:110px;}
.downtxt_list ul li .counter{width:50px;}
.downtxt_list ul li .file_atch{width:50px;}
/*헤드 항목*/
.downtxt_list ul li.thead{border-bottom:1px solid #989898;}
.downtxt_list ul li.thead:hover{background:transparent;}
.downtxt_list ul li.thead strong{padding:17px 10px; font-weight:700;}
/*제목부분*/
.downtxt_list ul li .subject a{display:block;}
.downtxt_list ul li .subject a strong{display:inline-block; font-weight:400;}
.downtxt_list ul li .subject a:hover strong{text-decoration:underline;}

.downtxt_list ul li .board_file{overflow:hidden; display:inline-block; width:12px; height:16px; background:url(../../../images/site/skin/icon_file_02.gif) no-repeat center center; vertical-align:middle; text-indent:-2000px;}


@media screen and (max-width:840px){
  .downtxt_list ul,
  .downtxt_list ul li,
  .downtxt_list ul li{display:block;}
  .downtxt_list ul li{padding:12px 10px;}
  .downtxt_list ul li.thead{display:none;}
  .downtxt_list ul li p:after{content:""; display:inline-block; width:1px; height:10px; margin:0 10px; background-color:#000; vertical-align:middle;}
  .downtxt_list ul li p:last-child:after{display: none;}
  .downtxt_list ul li .subject:after,
  .downtxt_list ul li .no:after{display: none;}
  .downtxt_list ul li .no{width:40px; height:18px; line-height:18px; padding:0; background:#e2e1e1; border-radius:5px; -webkit-border-radius:5px; font-size:13px;}
  .downtxt_list ul li .writer,
  .downtxt_list ul li .date,
  .downtxt_list ul li .counter,
  .downtxt_list ul li .file_atch{display: inline-block; width:auto; padding:0; font-size:13px;}
  /*제목부분*/
  .downtxt_list ul li .subject{display:inline-block; width:100%; padding:10px 0 5px 0; box-sizing:border-box;}
  .downtxt_list ul li .subject a strong{overflow:hidden; position:relative; width:auto; max-width:100%; min-height:18px; white-space:nowrap; text-overflow:ellipsis; box-sizing:border-box;}
}
@media screen and (max-width:640px){
  .downtxt_list ul li{padding:10px;}
  .downtxt_list ul li .no{width:36px; height:16px; line-height:16px; font-size:12px;}
  .downtxt_list ul li .subject{padding:6px 0 0px 0;}
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   board_insert
   게시판 등록

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.board_insert .detail > li,
.board_insert .detail > li .titles{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.board_insert{display:block; padding:0; border-top:2px solid #333; border-bottom:1px solid #646464;}

/*항목리스트*/
.board_insert .detail{background:#fff;}
.board_insert .detail > li{position:relative; width:100%; min-height:46px; padding-left:120px; border-bottom:1px solid #ccc; box-sizing:border-box;}
.board_insert .detail > li:last-child{border-bottom:0;}
.board_insert .detail > li .titles{position:absolute; top:0; left:0; width:120px; height:100%; background:#f7f7f7;}
.board_insert .detail > li .titles span{display:table; width:100%; height:100%;}
.board_insert .detail > li .titles strong{display:table-cell; width:100%; height:100%; text-align:center; vertical-align:middle; font-weight:700;}
.board_insert .detail > li .titles strong .red{display:inline-block; width:auto; height:auto; margin-top:-5px; padding-left:2px; vertical-align:top;}
.board_insert .detail > li .txts{padding:12px 10px;}
/*안에 인풋 요소들*/
.board_insert .detail > li .txts input[type="text"]{width:100%; height:35px;}
.board_insert .detail > li .txts textarea{width:100%; height:180px;}
.board_insert .detail > li .txts select{min-width:180px; height:35px;}
/*첨부파일리스트*/
.board_insert .detail > li .txts .btn_add{margin-bottom:6px;}
.board_insert .detail > li .txts .file_attach li:first-child{margin-top:0;}
.board_insert .detail > li .txts .file_attach li{margin-top:3px;}
.board_insert .detail > li .txts .file_attach li input[type="file"]{width:250px;}
.board_insert .detail > li .txts .file_attach li input[type="text"]{width:40%;}
/*공공누리*/
.board_insert .detail > li .txts #nuri{display:block; box-sizing:border-box;}
.board_insert .detail > li .txts #nuri li{position:relative; width:100%; padding:6px 0 6px 35px; border-top:1px dashed #ccc; box-sizing:border-box;}
.board_insert .detail > li .txts #nuri li:first-child{border-top:0;}
.board_insert .detail > li .txts #nuri li input[type="radio"]{position:absolute; top:24px; left:10px; z-index:10;}
.board_insert .detail > li .txts #nuri li label{position:relative; display:table; table-layout:fixed; width:100%; height:50px; padding-left:225px; cursor:pointer; box-sizing:border-box;}
.board_insert .detail > li .txts #nuri li label img{position:absolute; top:0; left:0; height:50px;}
.board_insert .detail > li .txts #nuri li label span{display:table-cell; width:100%; height:100%; line-height:18px; vertical-align:middle; font-size:14px;}
.board_insert .detail > li .txts #nuri li a{display:block; margin-top:5px; font-size:13px; color:#737373;}
.board_insert .detail > li .txts #nuri li a:hover{text-decoration:underline;}

@media screen and (max-width:840px){
  .board_insert .detail > li{padding-left:90px;}
  .board_insert .detail > li .titles{width:90px;}
}
@media screen and (max-width:740px){
  /*첨부파일 리스트*/
  .board_insert .detail > li .txts .file_attach li input[type="file"]{width:205px;}
  /*공공누리*/
  .board_insert .detail > li .txts #nuri li label{height:auto; padding-left:0;}
  .board_insert .detail > li .txts #nuri li.nuri_ty01 label img{max-width:130px;}
  .board_insert .detail > li .txts #nuri li.nuri_ty02 label img{max-width:159px;}
  .board_insert .detail > li .txts #nuri li.nuri_ty03 label img{max-width:159px;}
  .board_insert .detail > li .txts #nuri li.nuri_ty04 label img{max-width:188px;}
  .board_insert .detail > li .txts #nuri li.nuri_ty05 label img{max-width:203px;}
  .board_insert .detail > li .txts #nuri li label img{position:static; width:100%; height:auto;}
  .board_insert .detail > li .txts #nuri li label span{display:block; height:auto;}
}
@media screen and (max-width:640px){
  .board_insert .detail > li{min-height:38px;}
  .board_insert .detail > li .txts{padding:8px 10px;}
  /*안에 인풋 요소들*/
  .board_insert .detail > li .txts input[type="text"]{height:30px;}
  .board_insert .detail > li .txts select{height:30px;}
  .board_insert .detail > li .txts textarea{height:150px;}
  /*첨부파일 리스트*/
  .board_insert .detail > li .txts .file_attach li input[type="file"]{display:block; width:100%; margin-bottom:3px;}
  .board_insert .detail > li .txts .file_attach li input[type="text"]{width:78%;}
}
@media screen and (max-width:540px){
  /*첨부파일 리스트*/
  .board_insert .detail > li .txts .file_attach li input[type="text"]{width:70%;}
}
@media screen and (max-width:420px){
  /*첨부파일 리스트*/
  .board_insert .detail > li .txts .file_attach li .btn{min-width:50px;}
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
   board_view
   게시판 상세

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.board_view .subject,
.board_view .detail li,
.board_view .detail > li .titles{transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}
.board_view{display:block; padding:0; border-top:2px solid #333; border-bottom:1px solid #646464;}
/*제목*/
.board_view .subject{display: block; width:100%; height:auto; line-height:26px; padding:20px; background:#f7f7f7; font-size:20px; font-weight:700; box-sizing:border-box;}
/*항목리스트*/
.board_view .detail{overflow:hidden; background:#fff;}
.board_view .detail > li{float:left; position:relative; width:100%; min-height:46px; padding-left:120px; border-top:1px solid #ccc; box-sizing:border-box;}
.board_view .detail > li .titles{position:absolute; top:0; left:0; width:120px; height:100%; background:#f7f7f7;}
.board_view .detail > li .titles span{display:table; width:100%; height:100%;}
.board_view .detail > li .titles strong{display:table-cell; width:100%; height:100%; text-align:center; vertical-align:middle; font-weight:700;}
.board_view .detail > li .titles strong .red{display:inline-block; width:auto; height:auto; margin-top:-5px; padding-left:2px; vertical-align:top;}
.board_view .detail > li .txts,
.board_view .detail > li.filebox ul{padding:12px 10px;}
/*첨부파일*/
.board_view .detail > li.filebox ul li{float:none; min-height:auto; margin-top:2px; padding-left:0; border-top:0;}
.board_view .detail > li.filebox ul li:first-child{margin-top:0;}
.board_view .detail > li.filebox ul li a.icon_file{display:inline-block; padding-bottom:2px; padding-left:18px; background:url(../../../images/site/skin/icon_file_02.gif) no-repeat left top 2px; word-break:break-all; box-sizing:border-box;}
.board_view .detail > li.filebox ul li a.fileview{margin-left:5px;}
/*3개(변경 예정)*/
.board_view .detail > li.fix{width:33.33%;}
.board_view .detail > li.fix .txts{overflow:hidden; width:100%; text-overflow:ellipsis; white-space:nowrap; box-sizing:border-box;}
/*내용*/
.board_view .detail > li.no_title{padding-left:0;}
.board_view .detail > li .contents{min-height:300px; padding:12px 10px;}
.board_view .detail > li .contents img{display: block; max-width:70%; margin:0 auto; padding-bottom:15px;}
.board_view .detail > li.no_title .contents{padding:20px 25px;}
.board_view .detail > li.no_title .contents iframe{width:100%; height:490px;} /* 유튜브 영상 */
/*공공누리*/
.board_view .detail > li .txts [class*="codeView0"]{position:relative; display:table; table-layout:fixed; height:54px;}
.board_view .detail > li .txts .codeView05{height:27px;}
.board_view .detail > li .txts [class*="codeView0"] img,
.board_view .detail > li .txts [class*="codeView0"] span{vertical-align:middle;}
.board_view .detail > li .txts [class*="codeView0"] img{position:absolute; top:0; left:0; width:100%;}
.board_view .detail > li .txts .codeView01 img{max-width:149px;}
.board_view .detail > li .txts .codeView02 img{max-width:183px;}
.board_view .detail > li .txts .codeView03 img{max-width:183px;}
.board_view .detail > li .txts .codeView04 img{max-width:219px;}
.board_view .detail > li .txts .codeView05 img{max-width:27px;}
.board_view .detail > li .txts [class*="codeView0"] span{display:table-cell; width:100%; height:100%; line-height:18px; vertical-align:middle; font-size:14px; box-sizing:border-box;}
.board_view .detail > li .txts .codeView01 span{padding-left:159px;}
.board_view .detail > li .txts .codeView02 span{padding-left:193px;}
.board_view .detail > li .txts .codeView03 span{padding-left:193px;}
.board_view .detail > li .txts .codeView04 span{padding-left:229px;}
.board_view .detail > li .txts .codeView05 span{padding-left:37px;}
/*댓글기능*/
.board_view .reply{position:relative; padding:10px 15px 0; border-top:1px solid #ccc;}
.board_view .reply div{position:relative; margin-top:5px;}
.board_view .reply textarea{width:100%; height:80px; padding-right:85px; box-sizing:border-box;}
.board_view .reply .btn_ok{position:absolute; top:0; right:0; width:80px; height:80px; line-height:80px; background:#0067a6; text-align:center; color:#fff;}
.board_view .reply .btn_ok:hover,
.board_view .reply .btn_ok:active,
.board_view .reply .btn_ok:link{text-decoration:none;}
.board_view .reply_box{margin-bottom:5px; padding:0 15px;}
.board_view .reply_box .txts{position:relative; width:100%; padding:10px 155px 10px 0; border-top:1px solid #ccc; box-sizing:border-box;}
.board_view .reply_box .txts:nth-child(1){border-top:0;}
.board_view .reply_box .txts .writer,
.board_view .reply_box .txts .date{vertical-align:middle;}
.board_view .reply_box .txts .writer{display:inline-block; padding-right:6px; font-weight:700;}
.board_view .reply_box .txts .date{display:inline-block; font-size:13px; color:#868686;}
.board_view .reply_box .txts .secret{overflow:hidden; display:inline-block; width:12px; height:16px; margin-left:2px; background:url(../../../images/site/skin/icon_board_lock.gif) no-repeat left top; vertical-align:middle; text-indent:-2000px;}
.board_view .reply_box .txts p{margin-top:5px;}
.board_view .reply_box .txts .btns{position:absolute; top:10px; right:0;}
.board_view .reply_box .txts .btns a{min-width:25px;}
.board_view .reply_box .re_reply{position:relative; padding:10px; background:#f7f7f7; box-sizing:border-box;}
.board_view .reply_box .re_reply textarea{margin-top:5px; width:100%; height:80px;}
.board_view .reply_box .re_reply .btns{position:absolute; top:10px; right:10px;}
.board_view .reply_box .re_reply .btns a{min-width:25px;}
/*이전글,다음글*/
.prev_next_link{overflow:hidden; margin-top:30px; border-top:1px solid #646464; border-bottom:1px solid #646464;}
.prev_next_link ul li{position:relative; padding:12px 0 12px 120px; box-sizing:border-box;}
.prev_next_link ul li:nth-child(2){border-top:1px solid #d7d7d7;}
.prev_next_link ul li strong{
  display:block; position:absolute; left:0; top:0; width:120px; height:100%; line-height:44px; padding:0 20px; background:#f7f7f7; font-weight:700; text-align:center; box-sizing:border-box;}
  .prev_next_link ul li strong:after{
    content:""; display: inline-block; width:11px; height:10px; margin-left:8px; background:url(../../../images/site/skin/arrow_board.gif) no-repeat left center;
    transform:rotate(180deg); -webkit-transform:rotate(180deg);
}
.prev_next_link ul li:nth-child(2) strong:after{transform:rotate(0deg); -webkit-transform:rotate(0deg);}
.prev_next_link ul li a{overflow:hidden; display:block; padding:0 10px; text-overflow:ellipsis; white-space:nowrap; color:#404040;}

@media screen and (max-width:840px){
  .board_view .subject{padding:18px 20px; font-size:19px;}
  .board_view .detail > li{padding-left:90px;}
  .board_view .detail > li .titles{width:90px;}

  .prev_next_link ul li{padding:12px 0 12px 90px;}
  .prev_next_link ul li strong{width:90px; padding:0 12px;}
  .prev_next_link ul li strong:after{margin-left:6px;}
}
@media screen and (max-width:740px){
  .board_view .detail > li.no_title .contents iframe{height:355px;}
  /*공공누리*/
  .board_view .detail > li .txts [class*="codeView0"] img{position:static;}
  .board_view .detail > li .txts [class*="codeView0"] span{display:block; margin-top:6px; padding-left:0;}
  .board_view .detail > li .txts .codeView05 img{position:absolute;}
  .board_view .detail > li .txts .codeView05 span{display:table-cell; margin-top:0; padding-left:37px;}
}
@media screen and (max-width:640px){
  .board_view .subject{line-height:22px; padding:16px 18px; font-size:18px;}
  .board_view .detail > li{min-height:38px;}
  .board_view .detail > li.fix{width:100%;}
  .board_view .detail > li .txts,
  .board_view .detail > li.filebox ul{padding:10px 10px;}
  .board_view .detail > li.filebox ul li a.icon_file{padding-left:16px; background-position:left top 1px;}

  .board_view .detail > li .contents{min-height:150px; padding:10px 10px;}
  .board_view .detail > li .contents img{max-width:80%;}
  .board_view .detail > li.no_title .contents{padding:15px 20px;}
  /*댓글기능*/
  .board_view .reply_box .txts{padding:8px 0 38px 0;}
  .board_view .reply_box .txts p{margin-top:3px;}
  .board_view .reply_box .txts .btns{top:auto; bottom:8px;}
  .board_view .reply_box .txts .btns a{height:23px; line-height:23px; padding:0 6px;}
  .board_view .reply_box .re_reply{padding:8px 10px 35px;}
  .board_view .reply_box .re_reply .btns{top:auto; bottom:8px;}
  .board_view .reply_box .re_reply .btns a{height:23px; line-height:23px;}
}
@media screen and (max-width:480px){
  .board_view .detail > li.no_title .contents iframe{height:230px;}
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////
  
    no_board_data
    데이터 없는 경우

/////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.no_board_data{text-align:center; border-top:2px solid #333; border-bottom:1px solid #646464; padding:80px 0; transition:all 0.3s ease; -webkit-transition:all 0.3s ease;}

@media screen and (max-width:640px){
  .no_board_data{padding:40px 0;}
}