@charset "utf-8";


/* Animation */
.user #slide_map .inner .binds .toputil .join li.language a span:after,
.user #slide_map .inner .binds .toputil .join li.language ul li a,
.user #header h1,
.user #header h1 a,
.user #header h1 a img,
.user #header #global .site_link,
.user #header #global .site_link li,
.user #header #global .site_link li a,
.user #header #global .site_link li span,
.user #header #global .join,
.user #header #global .join li,
.user #header #global .join li a,
.user #header #global .join li.language a.btn_toggle span:after,
.user #header .search_btn,
.user #header #global .search_datail .inner .close_btn:after,
.user #header #global .allmenu_btn,
.user #header #gnb ul li,
.user #header #gnb ul li a,
.user #header #gnb ul li ul li a:after,
.user #header #gnb ul li a span,
.user #footer,
.user #footer:after,
.user #footer .layout,
.user #footer .menu,
.user #footer .menu li,
.user #footer .menu li a,
.user #footer .relate_site,
.user #footer .relate_site li a,
.user #footer .relate_site li a:after,
.user #footer .ft_txt,
.user #footer address,
.user #footer address span,
.user #footer p,
.user #footer .certifi_mark,
.user #footer .certifi_mark img,
.user #footer .certifi_mark a,
.user .top_btn,
#sub.user #container,
#sub.user #container #remote,
#sub.user #container #remote #lnb ul li a,
#sub.user #container #content,
#txt .mob_bg,
#txt .h3_wrap h3,
#txt .h3_wrap #path
{
	transition : all 0.3s ease;
    -webkit-transition : all 0.3s ease;
}


/* //////////////////////////////////////////////////////////////////////////////

	layout

////////////////////////////////////////////////////////////////////////////// */
body{position:relative; width:100%;}
body.fixed{position:fixed;}
.js_mobile_check{display:none;}
.user #wrap{overflow:hidden; position:relative; padding-top:220px;}
.user .layout{position:relative; max-width:1200px; margin:0 auto; padding:0 15px; }
.user .layout:after{content:""; display:block; clear:both;}


/* //////////////////////////////////////////////////////////////////////////////

	header

////////////////////////////////////////////////////////////////////////////// */
.user #slide_map {display:none;}
.user #header{position:absolute; left:0; top:0; z-index:72; width:100%; height:220px; padding-top:160px; box-sizing:border-box;background:#fff;} 
.user #header:before{content:""; display:block; width:100%; height:160px; background:#fff; position:absolute; left:0; top:0; z-index:71;}
.user #header:after{content:""; display:block; position:absolute; right:50%; z-index:81; margin-right:-600px; top:75px; width:168px; height:52px; background:url(../../../images/site/kor/layout/exciting_logo.png) no-repeat center 50%; background-size:auto 100%;} 
.user #header .layout{height:100%;}
.user #header h1{position:absolute; left:50%; top:66px; z-index:80; width:313px; height:73px; margin-left:-600px;} 
.user #header h1 a{display:block; height:100%; background:url(../../../images/site/kor/layout/logo.png) no-repeat left top; background-size:100% auto; overflow:hidden; text-indent:-9999px;}

/*****Global*****/
.user #header #global{position:absolute; left:0; top:0; width:100%; height:40px; z-index:91;}
.user #header #global:after{content:""; display:block; width:100%; height:1px; background:#e3e5e7; position:absolute; left:0; bottom:0; z-index:1;}

.user #header #global .site_link{position:relative; z-index:51; float:left; border-left:1px solid #e3e5e7;}
.user #header #global .site_link:after{content:""; display:block; clear:both;}
.user #header #global .site_link li{float:left; border-right:1px solid #e3e5e7;}
.user #header #global .site_link li a{display:block; height:40px; line-height:40px; padding:0 20px; font-size:13px; color:#828588; text-decoration:none;}
.user #header #global .site_link li a:hover,
.user #header #global .site_link li a:active,
.user #header #global .site_link li a.on{background:#91989f; color:#fff;}

.user #header #global .join{float:right; position:relative;  z-index:51;}
.user #header #global .join:after{content:""; display:block; clear:both;}
.user #header #global .join li{float:left; position:relative; padding:0 10px;}
.user #header #global .join li:first-child:after{content:""; display:block; width:1px; height:10px; background:#eaeaeb; position:absolute; right:0; top:50%; margin-top:-6px;}
.user #header #global .join li a{display:block; color:#828588; font-size:12px; height:40px; line-height:40px;}
.user #header #global .join li a:hover,
.user #header #global .join li a:active{color:#4c4f52;}

.user #header #global .join li.language{padding:0; margin-left:10px;}
.user #header #global .join li.language a.btn_toggle{display:block; padding:0 15px; border-left:1px solid #e3e5e7; border-right:1px solid #e3e5e7;}
.user #header #global .join li.language a.btn_toggle span{display:inline-block; padding:0 12px 0 0; position:relative;}
.user #header #global .join li.language a.btn_toggle span:after{content:""; display:block; position:absolute; right:0; top:50%; margin-top:-1px; width:0; height:0; border-left:3px solid transparent; border-right:3px solid transparent; border-top:4px solid #91989f;}
.user #header #global .join li.language a.btn_toggle.on span:after{transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.user #header #global .join li.language a.btn_toggle:hover span,
.user #header #global .join li.language a.btn_toggle:active span{text-decoration:underline;}
.user #header #global .join li.language ul{position:absolute; width:100%; left:0; top:40px; background:#91989f; display:none;}
.user #header #global .join li.language ul li{border:0; border-top:1px solid #fff; padding:0; float:none;}
.user #header #global .join li.language ul li:after{display:none;}
.user #header #global .join li.language ul li:first-child{border-top:0;}
.user #header #global .join li.language ul li a{display:block; color:#fff; padding:7px 15px; font-size:14px; height:auto; line-height:18px; text-decoration:none;}
.user #header #global .join li.language ul li a:hover,
.user #header #global .join li.language ul li a:active{background:#6f777f;}

/*검색 : 태블릿, 모바일일 때*/
.user #header .search_btn{display:none;transition : all 0.3s ease;  -webkit-transition : all 0.3s ease;}
/*검색 : pc일 떄*/
.user #header #global .search_datail{ width:410px; height:50px; background:#3e7aa4; padding:3px; box-sizing:border-box; position:absolute; left:50%; top:76px; margin-left:-175px; z-index:101;transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.user #header #global .search_datail .inner{position:relative; z-index:10; width:100%; height:100%; margin:0 auto; box-sizing:border-box;}
.user #header #global .search_datail .inner .search_input{position:relative; padding-right:57px;}
.user #header #global .search_datail .inner .search_input input[type="text"]{border:0; line-height:44px; height:44px; font-size:15px; width:100%; padding:0 10px;}
.user #header #global .search_datail .inner .search_input input[type="text"]::-webkit-input-placeholder{color:#a4a4a4;}
.user #header #global .search_datail .inner .search_input input[type="text"]:-moz-placeholder{color:#a4a4a4;}
.user #header #global .search_datail .inner .search_input input[type="text"]::-moz-placeholder{color:#a4a4a4;}
.user #header #global .search_datail .inner .search_input input[type="text"]:-ms-input-placeholder{color:#a4a4a4;}
.user #header #global .search_datail .inner .search_input input[type="submit"]{border:0; background:#3e7aa4 url(../../../images/site/kor/layout/search_ico.png) no-repeat center 50%; display:block; width:57px; height:44px; overflow:hidden; text-indent:-9999px; position:absolute; right:0; top:0;}
.user #header #global .search_datail .inner .close_btn{display:none; position:absolute; right:0; top:-1px; width:50px; height:50px; border:1px solid #282828; background:#282828; text-indent:-9999px; overflow:hidden;}
.user #header #global .search_datail .inner .close_btn:after{content:""; display:block; width:100%; height:100%; position:absolute; left:0; top:0; background:url(../../images/kor/layout/search_close.png) no-repeat center 50%;}
.user #header #global .search_datail .inner .close_btn:hover:after,
.user #header #global .search_datail .inner .close_btn:active:after{transform:rotate(180deg); -webkit-transform:rotate(180deg);}
.user #header .allmenu_btn{display:block; position:absolute; right:50%; top:160px; margin-right:-600px; z-index:101; width:60px; height:60px; background:#45515a; text-indent:-9999px; overflow:hidden;transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.user #header .allmenu_btn:before,
.user #header .allmenu_btn:after,
.user #header .allmenu_btn span{content:""; display:block; position: absolute; right:25%; width:50%; height:3px; background:#fff;transition: all 0.2s linear;-webkit-transition: all 0.2s linear;}
.user #header .allmenu_btn:before{top:20px;}
.user #header .allmenu_btn span{top:50%; margin-top:-1px;}
.user #header .allmenu_btn:after{bottom:19px;}

/*****Gnb메뉴*****/
.user #header #gnb{width:100%; height:60px; position:relative; z-index:50; background:#2d353b; overflow:hidden;}
.user #header #gnb .blind{content:""; display:none; width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.6);}
.user #header #gnb #blind{width:100%; height:0; background:#fff; position:absolute; left:0; top:60px; z-index:1; box-sizing:border-box; display:none;}	
.user #header #gnb #blind:after{content:""; display:block; width:282px; height:273px; background:url(../../../images/site/kor/layout/h_bg.png) no-repeat left bottom;background-size:100% auto; position:absolute; left:50%; margin-left:-630px; bottom:0; box-sizing:border-box;}
.user #header #gnb #blind span{display:block; height:100%; width:230px; position: absolute; left:50%; margin-left:-309px; background:#0c65ac;}
.user #header #gnb ul{width:auto; position:relative; z-index:20; box-sizing:border-box; max-width:1200px; padding:0 60px 0 0; margin:0 auto;}
.user #header #gnb .bar{display:none; opacity:0; -webkit-opacity:0; width:0; height:4px; background:#ffef38; position:absolute; top:56px; z-index:10;}
.user #header #gnb ul:after{content:""; display:block; clear:both;}
.user #header #gnb ul li{float:left; width:16.666%; box-sizing:border-box; height:100%;}
.user #header #gnb ul li:nth-child(7){display:none;}
.user #header #gnb ul li .tmenu_ti{text-align:left; color:#666; font-weight:400; padding:50px 0 0 0; box-sizing:border-box; width:290px; position:absolute; left:0; top:60px; display:none; opacity:0; -webkit-opacity:0;}
.user #header #gnb ul li .tmenu_ti em{font-style:normal; display:block;}
.user #header #gnb ul li .tmenu_ti span{display:block; font-family:"Nanum Square"; font-size:30px; letter-spacing:-1px; color:#0c65ac; line-height:34px; margin-bottom:14px; padding-bottom:15px; position:relative;}
.user #header #gnb ul li .tmenu_ti span:after{content:""; display:block; width:40px; height:1px; background:#474747; position:absolute; left:0; bottom:0;}
.user #header #gnb ul li .tmenu_ti:after{content:""; display:block; position: absolute; right:70px; bottom:-140px;}
.user #header #gnb ul li.num1 .tmenu_ti:after{width:93px; height:55px; background:url(../../../images/site/kor/layout/h_ico4.png)no-repeat;background-size:100% auto;}
.user #header #gnb ul li.num2 .tmenu_ti:after{bottom:-130px; width:108px; height:86px; background:url(../../../images/site/kor/layout/h_ico3.png)no-repeat;background-size:100% auto;}
.user #header #gnb ul li.num3 .tmenu_ti:after{bottom:-130px; width:101px; height:76px; background:url(../../../images/site/kor/layout/h_ico2.png)no-repeat;background-size:100% auto;}
.user #header #gnb ul li.num4 .tmenu_ti:after{bottom:-130px; width:78px; height:79px; background:url(../../../images/site/kor/layout/h_ico1.png)no-repeat;background-size:100% auto;}
.user #header #gnb ul li.num6 .tmenu_ti:after{bottom:-150px; width:87px; height:71px; background:url(../../../images/site/kor/layout/h_ico5.png)no-repeat;background-size:100% auto;}

.user #header #gnb ul li a{display:block; height:60px; box-sizing:border-box; font-size:19px; font-family:"Nanum Square"; line-height:24px; text-align:center; text-decoration:none; color:#fff;}
.user #header #gnb ul li a span{display:inline-block; vertical-align:top; height:60px; padding:18px 0; box-sizing:border-box; line-height:24px;}
.user #header #gnb ul li a.on,
.user #header #gnb ul li a:hover,
.user #header #gnb ul li a:active{color:#ffef38;}
.user #header #gnb ul li ul{padding:0px 0 0px 291px; width:100%; position:absolute; left:0;}
.user #header #gnb ul li ul li{border-bottom:1px solid #d9d9d9;width:auto;float:none;height:auto;position: relative;padding: 0 0 0 230px;min-height:43px;}
.user #header #gnb ul li ul li:last-child{border-bottom:0;}
.user #header #gnb ul li ul li:nth-child(7) {display:block;}
.user #header #gnb ul li ul li a{font-size:16px;font-family: 'Nanum Gothic'; line-height:19px;text-align:left;height: 100%;color:#fff;display:inline-block;position: absolute;left:0;top:0;background:#0c65ac;padding: 0 10px;width: 230px;}
.user #header #gnb>ul>li>ul>li>a{padding:13px 18px;} 
.user #header #gnb>ul>li>ul>li>a:after{content:""; display:block; position: absolute; left:0;margin-left:0; bottom:-1px; width:100%; height:1px; background:#3d84bd;}
.user #header #gnb ul li ul li a span{ margin:0; padding:0; height:auto; line-height:17px;}

.user #header #gnb ul li ul li a.on,
.user #header #gnb ul li ul li a:hover,
.user #header #gnb ul li ul li a:active{text-decoration:underline;}

.user #header #gnb a.new span:after{content:""; display:inline-block; width:13px; height:10px; margin-top:-1px; background:url(../../../images/site/skin/new_blank.gif) no-repeat left top;margin-left:3px; vertical-align:middle;}
.user #header #gnb>ul>li>ul>li>a.new>span:after{background:url(../../../images/site/skin/new_blank_white.gif) no-repeat left top;}

.user #header #gnb ul li ul li ul{position:relative; left:auto; top:auto; width:100%; padding:14px 0 10px 10px; display:block; min-height:10px;background: #fff;}
.user #header #gnb ul li ul li:first-child ul{border-top:0;}
.user #header #gnb ul li ul li ul:after{content:""; display:block; clear:both;}
.user #header #gnb ul li ul li ul li{display:block;float:left; border-bottom:0;min-height:10px;padding:0;background:none;}
.user #header #gnb ul li ul li ul li a{font-size:15px; font-family:"Nanum Gothic"; line-height:21px;color:#666; position:relative;left:auto;top:auto;background:#fff;width: auto;}
.user #header #gnb ul li ul li ul li a:after{content:""; display:block; width:3px; height:3px; background:#7e9bac; position:absolute; left:0; top:8px;}
.user #header #gnb ul li ul li ul li a.on, .user #header #gnb ul li ul li ul li a:hover, .user #header #gnb ul li ul li ul li a:active{ text-decoration: underline; color:#51504f;}
.user #header #gnb ul li ul li ul li a:hover span{text-decoration:underline;}
.user #header #gnb ul li ul li ul li ul{display:none;}
.user #header #gnb ul li ul li ul li ul li ul{display:none;}

/*분야별정보*/
.user #header #gnb ul li.field_info .tmenu_ti{display:block; width:100%; text-align: center; font-size:30px; font-family: "Nanum Square"; color:#f9ff48;}
.user #header #gnb ul li.field_info .tmenu_ti span{display:inline-block; color:#f9ff48; font-size:22px;}
.user #header #gnb ul li.field_info .tmenu_ti:after,
.user #header #gnb ul li.field_info .tmenu_ti span:after{display:none;}
.user #header #gnb ul li.field_info .move{overflow: hidden; height:260px; position:absolute;left:50%;margin-left:-525px; width:1050px;}
.user #header #gnb ul li.field_info .move ul{opacity:1 !important;-webkit-opacity:1 !important;display:block !important;}
.user #header #gnb ul li.field_info ul{ padding:210px 0 40px 0; text-align: center;overflow: hidden; position: absolute; left:0;top:0; width:200000px;max-width:20000px; height:100%;}
.user #header #gnb ul li.field_info ul li{border-bottom:0;padding:0;float:left;min-height: auto; text-align: center; width:137px;}
.user #header #gnb ul li.field_info .move ul li ul, .user #header #gnb ul li.field_info .move ul li ul li ul{display:none !important;}
.user #header #gnb ul li.field_info ul li a{position:relative; background:none;width:auto;height:auto; padding:0;transition:none;-webkit-transition:none;text-align: center;}
.user #header #gnb ul li.field_info ul li a:after{content:"";display:block;position: absolute;top: -113px;left:50%;margin-left: -50px;width: 100px;height: 100px;box-sizing: border-box;background-repeat: no-repeat;background-position: center center;background-size:100%; transition : all 0.3s ease;-webkit-transition : all 0.3s ease;}
.user #header #gnb ul li.field_info ul li a:hover:after{background-color:#0d8241;}
.user #header #gnb ul li.field_info ul li.part1 a:after{background-image:url(../../../images/site/kor/layout/1.png);}
.user #header #gnb ul li.field_info ul li.part2 a:after{background-image:url(../../../images/site/kor/layout/2.png);}
.user #header #gnb ul li.field_info ul li.part3 a:after{background-image:url(../../../images/site/kor/layout/3.png);}
.user #header #gnb ul li.field_info ul li.part4 a:after{background-image:url(../../../images/site/kor/layout/4.png);}
.user #header #gnb ul li.field_info ul li.part5 a:after{background-image:url(../../../images/site/kor/layout/5.png);}
.user #header #gnb ul li.field_info ul li.part6 a:after{background-image:url(../../../images/site/kor/layout/6.png);}
.user #header #gnb ul li.field_info ul li.part7 a:after{background-image:url(../../../images/site/kor/layout/7.png);}
.user #header #gnb ul li.field_info ul li.part8 a:after{background-image:url(../../../images/site/kor/layout/8.png);}
.user #header #gnb ul li.field_info ul li.part9 a:after{background-image:url(../../../images/site/kor/layout/9.png);}
.user #header #gnb ul li.field_info ul li.part10 a:after{background-image:url(../../../images/site/kor/layout/10.png);}
.user #header #gnb ul li.field_info ul li.part11 a:after{background-image:url(../../../images/site/kor/layout/11.png);}
.user #header #gnb ul li.field_info ul li.part1 a:hover:after{background-image:url(../../../images/site/kor/layout/1_ov.png);}
.user #header #gnb ul li.field_info ul li.part2 a:hover:after{background-image:url(../../../images/site/kor/layout/2_ov.png);}
.user #header #gnb ul li.field_info ul li.part3 a:hover:after{background-image:url(../../../images/site/kor/layout/3_ov.png);}
.user #header #gnb ul li.field_info ul li.part4 a:hover:after{background-image:url(../../../images/site/kor/layout/4_ov.png);}
.user #header #gnb ul li.field_info ul li.part5 a:hover:after{background-image:url(../../../images/site/kor/layout/5_ov.png);}
.user #header #gnb ul li.field_info ul li.part6 a:hover:after{background-image:url(../../../images/site/kor/layout/6_ov.png);}
.user #header #gnb ul li.field_info ul li.part7 a:hover:after{background-image:url(../../../images/site/kor/layout/7_ov.png);}
.user #header #gnb ul li.field_info ul li.part8 a:hover:after{background-image:url(../../../images/site/kor/layout/8_ov.png);}
.user #header #gnb ul li.field_info ul li.part9 a:hover:after{background-image:url(../../../images/site/kor/layout/9_ov.png);}
.user #header #gnb ul li.field_info ul li.part10 a:hover:after{background-image:url(../../../images/site/kor/layout/10_ov.png);}
.user #header #gnb ul li.field_info ul li.part11 a:hover:after{background-image:url(../../../images/site/kor/layout/11_ov.png);}

.user #header #gnb ul li.field_info .control{position: absolute; width: 1200px; height: 100%; left: 0;}
.user #header #gnb ul li.field_info .control a{position: absolute;top:120px; display:block; overflow: hidden;box-sizing:border-box; text-indent:-9999px;width:48px; height:48px;border:3px solid #6eb48d;border-radius:50%;-webkit-border-radius:50%;transition : all 0.3s ease;  -webkit-transition : all 0.3s ease; }
.user #header #gnb ul li.field_info .control a.btn_left{left:0; background:url(../../../images/site/kor/layout/ff_arr.png)no-repeat 45% center;}
.user #header #gnb ul li.field_info .control a.btn_right{right:0; background:url(../../../images/site/kor/layout/ff_arr.png)no-repeat 45% center;transform:rotate(-180deg);-webkit-transform:rotate(-180deg);}
.user #header #gnb ul li.field_info .control a.btn_left:hover{ background:#6eb48d url(../../../images/site/kor/layout/f_arr.png)no-repeat 45% center;}
.user #header #gnb ul li.field_info .control a.btn_right:hover{ background:#6eb48d url(../../../images/site/kor/layout/f_arr.png)no-repeat 45% center;transform:rotate(-180deg);-webkit-transform:rotate(-180deg);}


.user #header #gnb ul li.field_info ul li a:hover span{text-decoration: underline;}
.user #header #gnb #blind.field{background:#0d8241;}
.user #header #gnb #blind.field span,
.user #header #gnb #blind.field:after{background:none;}
.user #header #gnb ul li.field_info ul li ul,
.user #header #gnb ul li.field_info ul li ul li ul{display:none;}

.user #header.on{margin-top:-160px;}
.user #header.on .js_menu .blind{top:60px;}


/* //////////////////////////////////////////////////////////////////////////////

	container

////////////////////////////////////////////////////////////////////////////// */
#sub.user #container{position:relative; max-width:1230px; margin:50px auto 0 auto;}
#sub.user #container #remote{position:absolute; left:15px; top:0; z-index:10; width:235px;}
#sub.user #container #remote h2{width:100%; line-height:36px; font-weight:700; padding:52px 0; background:#0766b6; font-family:"Nanum Square"; font-size:25px; text-align:center; color:#fff;}
#sub.user #container #remote h2 span{opacity:0.6;-webkit-opacity:0.6; display: block; line-height:19px; font-size:15px; font-weight:400; font-family:'Nanum Gothic'; color:#fff;}

#sub.user #container #remote #lnb ul{width:100%;}
#sub.user #container #remote #lnb ul li{border-bottom:1px solid #d8d8d8;}
#sub.user #container #remote #lnb ul li a{position:relative; display:block; padding:14px 30px 14px 15px; text-decoration:none; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; color:#6c6c6c;}
#sub.user #container #remote #lnb ul li a:hover,
#sub.user #container #remote #lnb ul li a:active,
#sub.user #container #remote #lnb ul li a.ov{background:#2d353b; border-color:#2d353b; color:#fff;}

#sub.user #container #remote #lnb a.new span:after{content:""; display:inline-block; width:13px; height:10px; background:url(../../../images/site/skin/new_blank.gif) no-repeat left top; margin-left:3px; margin-top:-1px; vertical-align:middle;}
#sub.user #container #remote #lnb>ul>li>a.new:hover span:after,
#sub.user #container #remote #lnb>ul>li>a.new:active span:after,
#sub.user #container #remote #lnb>ul>li>a.ov.blank span:after{background: url(../../../images/site/skin/new_blank_white.gif) no-repeat left top;}

#sub.user #container #remote #lnb ul li a .ico{position:absolute; top:50%; right:15px; display:inline-block; width:12px; height:12px; margin-top:-6px; background:url(../../../images/site/kor/layout/remote_icon_plus.gif) no-repeat left top;}
#sub.user #container #remote #lnb ul li a.ov .ico{margin-top:-1px; background-image:url(../../../images/site/kor/layout/remote_icon_minus.gif);}
#sub.user #container #remote #lnb ul li ul{display:none; padding:14px 12px; background:#eeeeee; box-sizing:border-box;}
#sub.user #container #remote #lnb ul li ul li{margin-top:2px; border-bottom:0;}
#sub.user #container #remote #lnb ul li ul li:first-child{margin-top:0;}
#sub.user #container #remote #lnb ul li ul li a{position:relative; display:inline-block; line-height:19px; padding:0 0 0 12px; border:0; font-size:14px; color:#616060;}
#sub.user #container #remote #lnb ul li ul li a:hover,
#sub.user #container #remote #lnb ul li ul li a:active,
#sub.user #container #remote #lnb ul li ul li a.ov{background:none; text-decoration:none; color:#0766b6;}
#sub.user #container #remote #lnb ul li ul li a:after{content:""; position:absolute; left:0; top:8px; display:block; width:3px; height:3px; margin:0; background:#cacaca;}
#sub.user #container #remote #lnb ul li ul li a .ico{position:absolute; top:50%; right:-12px; display:inline-block; width:8px; height:8px; margin-top:-4px; background:url(../../../images/site/kor/layout/remote_icon_plus2.gif) no-repeat left top;}
#sub.user #container #remote #lnb ul li ul li a.ov .ico{margin-top:-1px; background-image:url(../../../images/site/kor/layout/remote_icon_minus2.gif);}
#sub.user #container #remote #lnb ul li ul li ul{background:#fff; padding: 11px 12px; margin-top: 7px;}
#sub.user #container #remote #lnb ul li ul li ul li a{padding:0;}
#sub.user #container #remote #lnb ul li ul li ul li a:after{background:none;}
#sub.user #container #remote #lnb ul li ul li ul li a:hover, 
#sub.user #container #remote #lnb ul li ul li ul li a:active, 
#sub.user #container #remote #lnb ul li ul li ul li a.ov{color:#616060; text-decoration: underline; font-weight:400;}

#sub.user #container #content{width:100%; min-height:500px; padding-left:275px; padding-bottom:80px; box-sizing:border-box;}

#txt .mob_bg{width:100%; padding:0 15px; box-sizing:border-box;}
#txt .h3_wrap{position:relative;}
#txt .h3_wrap h3{position:relative; z-index:0; display: block; min-height:35px; line-height:30px; margin-bottom:15px; padding-right:200px; font-size:25px; font-family:"Nanum Square";}
#txt .h3_wrap h3:after{content:""; position:absolute; bottom:-15px; left:0; z-index:0; display:block; width:100%; height:1px; margin-top:15px; background:#d7d7d7;}
#txt .h3_wrap h3:before{content:""; position:absolute; bottom:-15px; left:0; z-index:1; display:block; width:45px; height:3px; background:#41474d;}
#txt .h3_wrap #path{position:absolute; bottom:0; right:0; z-index:1;}
#txt .h3_wrap #path ul{overflow:hidden;}
#txt .h3_wrap #path ul li{float:left; margin-left:4px;}
#txt .h3_wrap #path ul li:first-child{margin-left:0;}
#txt .h3_wrap #path ul li a{
	overflow: hidden; display: block; width:35px; height:35px; background-image:url(../../../images/site/kor/layout/icon_sns.png); background-repeat:no-repeat; text-indent:-2000px;
	border-radius:50%; -webkit-border-radius:50%;
}
#txt .h3_wrap #path ul li a.band{background-color:#4fbb1f; background-position:left center;}
#txt .h3_wrap #path ul li a.kakao{background-color:#ffab19; background-position:left -35px center;}
#txt .h3_wrap #path ul li a.twitter{background-color:#25b4e3; background-position:left -70px center;}
#txt .h3_wrap #path ul li a.facebook{background-color:#375cb5; background-position:left -105px center;}
#txt .h3_wrap #path ul li a.print{background-color:#767676; background-position:left -140px center;}
#txt #navi{overflow: hidden;}
#txt #navi div{float:right; margin:15px 0 20px;}
#txt #navi span{display:inline-block; font-weight:400; color:#838282;}
#txt #navi span:after{content:">"; display:inline-block; margin:0 5px; font-size:13px;}
#txt #navi a span{color:#272626;}



/* //////////////////////////////////////////////////////////////////////////////

	footer

////////////////////////////////////////////////////////////////////////////// */
.user #footer{background:#1a1b1f; position:relative; z-index:20; padding:25px 0 40px 0;}
.user #footer .menu{height:auto;}
.user #footer .menu:after{content:""; display:block; clear:both;}
.user #footer .menu li{float:left; position:relative; margin:0 25px 0 0;}
.user #footer .menu li a{display:block; padding:5px 0; color:#fff;}
.user #footer .menu li:nth-child(2) a{color:#ffd155;}

.user #footer .relate_site{margin:20px 0 30px 0;}
.user #footer .relate_site:after{content:""; display:block; clear:both;}
.user #footer .relate_site li{float:left; width:25%; margin-left:-1px; position:relative; box-sizing:border-box;}
.user #footer .relate_site li a{position:relative; display:block; padding:13px 48px 13px 25px; height:auto; border:1px solid #3e4046; text-decoration:none; color:#fff; box-sizing:border-box;}
.user #footer .relate_site li a:after{content:""; display:block; position:absolute; right:20px; top:50%; margin-top:-12px; width:23px; height:23px; background:#3e4046 url(../../../images/site/kor/layout/relate_site_bul.png) no-repeat center center; border-radius:50%; -webkit-border-radius:50%;}
.user #footer .relate_site li a.on:after{transform:rotate(-180deg); -webkit-transform:rotate(-180deg);}
.user #footer .relate_site li a:hover,
.user #footer .relate_site li a:active,
.user #footer .relate_site li a.on{border:1px solid #6a6c72; z-index:10;}
.user #footer .relate_site li ul{margin:0; box-sizing:border-box; border:1px solid #6a6c72; position:absolute; left:0; bottom:47px; z-index:5; background:#2f2f2f; width:100%; display:none; max-height:211px; overflow:auto;}
.user #footer .relate_site li ul li{border-bottom:1px solid #3e4046; width:100%; padding:0;}
.user #footer .relate_site li ul li:nth-child(odd){border-right:1px solid #3e4046;}
.user #footer .relate_site li ul li:last-child{border-bottom:0;}
.user #footer .relate_site li ul li a{width:auto; border:0; padding:8px 25px; height:auto; color:#d2d2d2; font-size:14px; line-height:18px; border:0;}
.user #footer .relate_site li ul li a:after{display:none;}
.user #footer .relate_site li ul li a:hover,
.user #footer .relate_site li ul li a:active{background:#080808; border:0;}

.user #footer .ft_txt{position:relative; min-height:57px; padding-right:321px; box-sizing:border-box;}
.user #footer address,
.user #footer .copyright{display:block; font-style:normal; color:#7a7a7a;}
.user #footer .copyright{text-transform:uppercase;}
.user #footer address span{display:inline-block; margin-right:10px;}
.user #footer address a{color:#7a7a7a; text-decoration:none;}
.user #footer .copyright{margin-top:3px;}
.user #footer .copyright span{display:inline-block;}
.user #footer .certifi_mark{overflow: hidden; position:absolute; right:0; top:0;}
.user #footer .certifi_mark a{float:left; margin-left:15px; display:block;}
.user #footer .certifi_mark a:first-child{margin:0;}
.user #footer .certifi_mark img{display:block;}


.user .top_btn{overflow:hidden; display: none; position:fixed; right:180px; bottom:50px; z-index:101; float:none; width:55px; height:35px; line-height:35px; text-align:right; background:url(../../../images/site/eng/layout/top_btn_arrow.png) no-repeat left center; color:#838383; box-sizing:border-box;}


/* //////////////////////////////////////////////////////////////////////////////

	media

////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width:1740px){
	.user .top_btn{right:20px;}
}
@media screen and (max-width:1220px){
	/*header*/
	.user #header h1{left:15px; margin-left:0;}
	.user #header:after{right:15px; margin-right:0;}
	.user #header .allmenu_btn{right:0; margin-right:0;}
	.user #header #global .search_datail{margin-left: -127px;}
	/*header-gnb*/
	.user #header #gnb #blind:after {left:0; width:202px; margin-left:0;}
	.user #header #gnb #blind span{width:190px;margin-left:0;left:195px;}
	.user #header #gnb ul li ul{ padding: 0px 0 0px 195px;}
	.user #header #gnb ul li .tmenu_ti {left:10px; width:185px;padding: 40px 0 0 0;}
	.user #header #gnb ul li .tmenu_ti:after{right:33px; }
	.user #header #gnb ul li.num1 .tmenu_ti:after{ bottom: -100px;width:73px; height:43px; }
	.user #header #gnb ul li.num2 .tmenu_ti:after{bottom: -120px; width:88px; height:70px; }
	.user #header #gnb ul li.num3 .tmenu_ti:after{bottom: -120px; width:81px; height:61px; }
	.user #header #gnb ul li.num4 .tmenu_ti:after{bottom: -120px; width:58px; height:59px; }
	.user #header #gnb ul li.num6 .tmenu_ti:after{bottom: -120px; width:67px; height:55px;}
	.user #header #gnb ul li .tmenu_ti em{display:inline-block;}
	.user #header #gnb ul li .tmenu_ti span{font-size:28px;}
	.user #header #gnb ul li ul li{padding:0 0 0 190px;}
	.user #header #gnb ul li ul li a {width:190px;}
	/*header-gnb, 분야별정보*/
	.user #header #gnb ul li.field_info .tmenu_ti{font-size:28px;}
	.user #header #gnb ul li.field_info ul li a:after {width:80px; height:80px;top: -107px; margin-left:-40px;}
	.user #header #gnb ul li.field_info .move {
		margin-left: -450px;
		width: 900px;
	}
	.user #header #gnb ul li.field_info .control{width:1000px;left:50%;margin-left:-500px;}

}

@media screen and (min-width:1025px){
	.user #header #global .search_datail{display:block !important; opacity:1 !important;-webkit-opacity:1 !important;}
}

@media screen and (max-width:1024px){
	/*header*/
	.user #wrap{padding-top:90px;}
	.user #header #global{top:-43px;}
	.user #header #gnb,.user #header:after,.user #header #global:after,.user #header #global .site_link,.user #header #global .join,.user #header #global .search_datail {display:none;}
	.user #header{height:90px; padding-top:0; border-bottom:2px solid #45515a;z-index:990;}
	.user#main #header{border-bottom:2px solid #fff;}
	.user #header:before{display:none;}
	.user #header h1{width:280px; height:65px; top:12px;z-index: 2;}
	.user #header .mobile_btns{position: absolute; right:15px; top:50%; margin-top:-25px;z-index: 100;}
	.user #header .allmenu_btn {position: relative;display:inline-block; width:50px; height:50px; right:auto;top:auto;}
	.user #header .allmenu_btn:before, .user #header .allmenu_btn:after, .user #header .allmenu_btn span{height:2px;}
	.user #header .allmenu_btn:before{top:16px;}
	.user #header .allmenu_btn:after{bottom:16px;}
	.user #header .allmenu_btn.on:before {transform:rotate(45deg); -webkit-transform:rotate(45deg); top:50%; right:15%; width:70%; margin-top:-1px;}
	.user #header .allmenu_btn.on:after {transform:rotate(-45deg); -webkit-transform:rotate(-45deg); bottom:50%; right:15%; width:70%; margin-bottom:-1px;}
	.user #header .allmenu_btn.on span {opacity:0; -webkit-opacity:0;}
	.user #header .search_btn {display:inline-block; width:50px; height:50px; text-indent:-9999px; overflow: hidden; background:#3e7aa4 url(../../../images/site/kor/layout/search_ico.png)no-repeat center center;  }
	.user #header .search_btn.on {background: #ffffff url(../../../images/site/kor/layout/search_close.png)no-repeat center center;}
	.user #header #global .search_datail{width:100%; height:auto; padding:80px 3% 60px;background:transparent; margin-left:0; box-sizing: border-box; position: absolute; left:0; top:131px; z-index:100;}
	.user #header #global .search_datail:before {content: "";display: block;width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 2;background: #1c71ad;}
	.user #header #global .search_datail:after {content: "";display: block;position: fixed;left: 0;top: 0px;width: 100%;height: 100%;background: #000;opacity: 0.7;-webkit-opacity: 0.7;z-index: 1;}
	.user #header #global .search_datail .inner .search_input label{overflow: inherit;top: -30px;left:0;line-height: 18px;font-size: 18px;text-indent: 0; color:#fff;font-family:"Nanum Square";}
	.user #header #global .search_datail .inner .search_input{border:3px solid #164584;}
	.user #header #global .search_datail .inner .search_input input[type="submit"] {background: #164584 url(../../../images/site/kor/layout/search_ico.png) no-repeat center 50%;}
	/*header-slide_map*/
	.js_mobile_check {display: block;}
	body.fixed #slide_map {opacity:1; -webkit-opacity:1; right:0;} 
	.user #slide_map {display:block; width:100%; height:100%; overflow:hidden; opacity:0; -webkit-opacity:0; position:fixed; right:-100%; top:0; box-sizing:border-box; z-index:951;
	transition : all 0.5s ease; -webkit-transition : all 0.5s ease;}
	.user #slide_map:before {content:""; display:block; width:325px; height:100%; position:absolute; right:0; top:0; z-index:2; background:#fff;}
	.user #slide_map .slide_blind {content:""; display:block; width:100%; height:100%; position:absolute; left:0; top:0; z-index:1; background:#000; opacity:0.75; -webkit-opacity:0.75;}
	.user #slide_map .inner {padding-top:88px; width:325px; float:right; box-sizing:border-box; height:100%; position:relative; z-index:10;}
	.user #slide_map .inner .binds {overflow-x: hidden; overflow-y:auto; height:100%;}
	.user #slide_map .inner .binds .toputil {position:relative;}
	.user #slide_map .inner .binds .toputil:after {content:""; display:block; clear:both;}
	.user #slide_map .inner .binds .toputil .join:after {content:""; display:block; clear:both;}
	.user #slide_map .inner .binds .toputil .join li {float:left; width:50%;}
	.user #slide_map .inner .binds .toputil .join li:first-child {margin-right:50%;}
	.user #slide_map .inner .binds .toputil .join>li:nth-child(2){display:none;}
	.user #slide_map .inner .binds .toputil .join li a {color:#fff; background:#383d43; border:0; text-align:center; font-size:14px; height:40px; line-height:40px; box-sizing:border-box;}
	.user #slide_map .inner .binds .toputil .join li a:before,
	.user #slide_map .inner .binds .toputil .join li a:after {display:none;}
	.user #slide_map .inner .binds .toputil .join li.language {position:absolute; right:0; top:0; width:50%;}
	.user #slide_map .inner .binds .toputil .join li.language a {background:#4e5764; text-align:center;}
	.user #slide_map .inner .binds .toputil .join li.language a:before {display:none;}
	.user #slide_map .inner .binds .toputil .join li.language a span {padding:0 16px 0 0; position:relative; font-size:14px; line-height:40px; display:inline-block; color:#fff; font-weight:400;}
	.user #slide_map .inner .binds .toputil .join li.language a span:after {content:""; display:block; position:absolute; right:0; top:50%; margin-top:-1px; width:0; height:0; border-left:4px solid transparent; border-right:4px solid transparent; border-top:5px solid #fff;}
	.user #slide_map .inner .binds .toputil .join li.language a.on span:after {transform:rotate(180deg); -webkit-transform:rotate(180deg);}
	.user #slide_map .inner .binds .toputil .join li.language ul {display:none; z-index:10; position:relative;}
	.user #slide_map .inner .binds .toputil .join li.language ul li {width:auto; float:none; margin-right:0; border-top:1px solid #7c8694;}
	.user #slide_map .inner .binds .toputil .join li.language ul li a {display:block; color:#e2e1e1; padding:6px 25px; font-size:13px; height:auto; text-align:left; line-height:18px; text-decoration:none; background:#6d7888;}
	.user #slide_map .inner .binds .toputil .join li.language ul li a img {display:inline-block; vertical-align:top; margin:0 5px 0 0; width:19px; height:18px;}
	.user #slide_map .inner .binds .toputil .join li.language ul li a:hover,
	.user #slide_map .inner .binds .toputil .join li.language ul li a:active {background:#4e5764;}
	.user #slide_map .inner .binds .toputil .site_link{overflow: hidden;}	
	.user #slide_map .inner .binds .toputil .site_link li{float:left; width:50%; box-sizing: border-box; background:#f7f7f7; border-bottom:1px solid #e5e5e5;}
	.user #slide_map .inner .binds .toputil .site_link li:nth-child(5),
	.user #slide_map .inner .binds .toputil .site_link li:nth-child(6){border-bottom:0;}
	.user #slide_map .inner .binds .toputil .site_link li:nth-child(2n+1){border-right:1px solid #e5e5e5;}
	.user #slide_map .inner .binds .toputil .site_link li a{ text-align: center; padding:7px 0; font-size:14px;color:#696969;}
	.user #slide_map .inner .binds .toputil .site_link li a:before,
	.user #slide_map .inner .binds .toputil .site_link li a:after{display:none;}
	.user #slide_map .inner .binds .toputil ul li a {position:relative; display:block; text-decoration:none;}


	.user #slide_map .inner .binds ul {width:100%;position: relative;}
	.user #slide_map:after{content:""; display:block; position: absolute; right:211px; top:0;z-index:8; width:114px; height:100%; background:#0b5fa6;}
	.user #slide_map .inner .binds>ul>li{box-sizing: border-box;}
	.user #slide_map .inner .binds>ul>li>a {display:table;table-layout:fixed; width:114px;height:60px;line-height:21px;font-size: 17px;padding:0 5px;border-bottom:1px solid #2b72af;text-decoration:none;background:#0b5fa6;box-sizing: border-box;}
	.user #slide_map .inner .binds>ul>li>a.on{background:#fff;}
	.user #slide_map .inner .binds>ul>li>a.on span{color:#010101;font-weight: 700;}
	.user #slide_map .inner .binds>ul>li>a span{ display: table-cell;color: #fff;text-align: center;vertical-align: middle;}
	
	.user #slide_map .inner .binds>ul>li>ul{display:none;position: absolute;top:0;left: 114px;width: 211px;}
	.user #slide_map .inner .binds>ul>li>ul>li>a{position: relative; display:table;table-layout:fixed; height:60px; line-height:19px; width:100%;padding:0 20px;border-bottom:1px solid #e0e0e0; box-sizing: border-box;text-decoration: none;}
	.user #slide_map .inner .binds>ul>li>ul>li>a span {display: table-cell;	vertical-align: middle;}
	.user #slide_map .inner .binds>ul>li>ul>li>a.child:after{content:""; display:block; position: absolute;top:50%; margin-top:-6px;right:20px;width:12px; height:12px; background:url(../../../images/site/kor/layout/remote_icon_plus.gif)no-repeat; }
	.user #slide_map .inner .binds>ul>li>ul>li>a.child.on:after{ margin-top:-1px;width:12px; height:2px; background:#d5d7d8; }
	.user #slide_map .inner .binds>ul>li>ul>li>a.on span{color:#0b5fa6;font-weight: 700;}

	.user #slide_map .inner .binds>ul>li>ul>li>ul{display:none;position: relative;padding:20px; box-sizing: border-box;border-top:3px solid #0b5fa6; border-bottom:1px solid #e0e0e0; background:#ecedef;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul li{margin-top:5px;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul li:first-child{margin-top:0px;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul li a{position: relative; display:inline-block;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul li a span{display:inline-block; font-size:14px;padding-left:10px;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul li a span:before{content:""; display:block; position: absolute; left:0; top:9px; width:3px; height:3px; background:#0b5fa6;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul>li a.child:after{content:""; display:block; position: absolute;top:50%; margin-top:-4px;right:-12px;width:8px; height:8px; background:url(../../../images/site/kor/layout/remote_icon_plus2.gif)no-repeat;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul>li a.child.on:after{content:""; display:block; position: absolute;top:50%; margin-top:-1px;right:-12px;width:8px; height:2px; background:url(../../../images/site/kor/layout/remote_icon_minus2.gif)no-repeat;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul>li a.on span{color:#292929;font-weight:700;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul>li>ul{display:none; background:#fff;margin-top:5px; padding:10px; box-sizing: border-box;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul>li>ul li a span{padding-left:0; }
	.user #slide_map .inner .binds>ul>li>ul>li>ul>li>ul li a.on span{font-weight:400; color:#0b5fa6; }
	.user #slide_map .inner .binds>ul>li>ul>li>ul>li>ul li a span:hover,
	.user #slide_map .inner .binds>ul>li>ul>li>ul>li>ul li a span:active{color:#0b5fa6;}
	.user #slide_map .inner .binds>ul>li>ul>li>ul>li>ul li a span:before{display:none;}




	/*container*/
	#sub.user #container #remote{left:-235px;}
	#sub.user #container #content{padding-left:0; padding-bottom:60px;}
	#txt .h3_wrap #path ul li a.print{display: none;}
	.user .top_btn {display: none !important;}
}

@media screen and (max-width:1023px){
	/*container*/
	#sub.user #container #remote{display:none;}
}

@media screen and (max-width:840px){
	/*container*/
	#sub.user #container{margin:40px 0 auto 0;}
	#txt .h3_wrap h3{line-height:27px; font-size:23px;}

	/*footer*/
	.user #footer .ft_txt{padding-right:273px;}
	.user #footer .relate_site li a{padding:13px 38px 13px 15px;}
	.user #footer .relate_site li a:after{right:10px;}
	.user #footer .relate_site li ul li a{padding: 8px 15px;}
	.user #footer .certifi_mark a{margin-left:10px;}
	.user #footer .certifi_mark .good img{width:175px;}
	.user #footer .certifi_mark .wa img{width:78px;}
}

@media screen and (max-width:720px) and (min-width:641px){
	.user #footer .relate_site li a{padding:12px 35px 12px 12px; font-size:14px;}
	.user #footer .relate_site li a:after{width:19px; height:19px; margin-top:-10px;}
	.user #footer .relate_site li ul{bottom:45px;}
}

@media screen and (max-width:640px){
	/*header*/
	.user #wrap{padding-top:70px;}
	.user #header{height:70px;}
	.user #header h1{width:220px; height:51px; top:10px;}
	.user #header .mobile_btns{margin-top:-22px;}
	.user #header .allmenu_btn {width:44px; height:44px; }
	.user #header .allmenu_btn:before{top:14px;}
	.user #header .allmenu_btn:after{bottom:14px;}
	.user #header .search_btn {width:44px; height:44px; }
	.user #header #global .search_datail{top:111px; padding: 60px 3% 40px;}
	.user #header #global .search_datail .inner .search_input label{font-size:16px;}
	/*header-slide_map*/
	.user #slide_map .inner {padding-top:68px;}
	.user #slide_map .inner .binds>ul>li>a{height:50px;font-size:15px; line-height:19px;}
	.user #slide_map .inner .binds>ul>li>ul>li>a{height:50px;line-height:50px;}

	/*container*/
	#sub.user #container{margin:0;}
	#sub.user #container #content{padding-bottom:50px;}
	#txt .mob_bg{position:relative; background:#f9fafc; margin-bottom:20px; padding:25px 15px 65px; border-bottom:1px solid #d4d8de;}
	#txt .h3_wrap{position:static;}
	#txt .h3_wrap h3{line-height:27px; margin-bottom:0; padding-right:0; text-align:center; font-size:22px;}
	#txt .h3_wrap h3:before,
	#txt .h3_wrap h3:after{display:none;}
	#txt .h3_wrap #path{bottom:30px; left:50%; right:auto; margin-left:-78px;}
	#txt #navi{text-align:center;}
	#txt #navi div{float:none; display:inline-block; margin:6px 0 12px;}
	
	/*footer*/
	.user #footer{padding:20px 0 25px 0;}
	.user #footer .menu{text-align:center;}
	.user #footer .menu li{float:none; display:inline-block;}
	.user #footer .menu li a{padding:3px 0;}
	.user #footer .relate_site{margin:16px 0 20px 0;}
	.user #footer .relate_site li{width:50%; margin-top:-1px;}
	.user #footer .relate_site li ul{bottom:44px;}
	.user #footer .ft_txt{padding-right:0; text-align:center;}
	.user #footer .certifi_mark{position:static; display:inline-block; margin-top:12px;}
	.user #footer .certifi_mark .wa img{width:72px;}
	.user #footer .certifi_mark .good img{width:168px;}
}

@media screen and (max-width:480px){
	/*header*/
	.user #header h1{width:170px; height:39px; top:15px;}
	.user #header #global .search_datail{ padding: 50px 3% 30px;}

	/*container*/
	#txt .mob_bg{padding:20px 15px 57px;}
	#txt .h3_wrap #path{bottom:22px;}
}

@media screen and (max-width:380px){
	.user #footer .relate_site li a{padding:11px 35px 11px 12px; font-size:13px;}
	.user #footer .relate_site li a:after{width:19px; height:19px; margin-top:-10px;}
	.user #footer .relate_site li ul{bottom:40px;}
}

@media screen and (max-width:320px){
	
}