@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 300;
  src: url('Pretendard-Light.subset.otf') format('opentype');
}
 
@font-face {
  font-family: 'Pretendard';
  font-style: bold;
  font-weight: 400;
  src: url('Pretendard-Regular.subset.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-style: bold;
  font-weight: 500;
  src: url('Pretendard-Medium.subset.otf') format('opentype');
}
