@charset "utf-8";

/* Animation */
body #header h1.logo,
.sub #header h1.logo,
body #header h1.logo a,
.sub #header h1.logo a,
body #header h1.logo a:after ,
body #header .toputil_control,
.sub #header .toputil_control,
body #header .toputil_control > div.lang_btn,body #header .toputil_control > a.search_btn_open,
body #header .toputil_control > a.allmenu_btn_open,
body #header .toputil_control .lang_btn,
body #header .toputil_control .lang_btn:after,
body #header .toputil_control a.search_btn_open,
body #header .toputil_control a.allmenu_btn_open,
#main #header #gnb ul li a,
#main #header #gnb ul li ul li a,
#main #header .toputil_control >a:after,
#main #header .toputil_control a.search_btn_open,
#main #header .toputil_control a.allmenu_btn_open,
#main #header.active #gnb ul li a,
#main #header.active #gnb ul li a.on,
#main #header.active #gnb ul li a:hover,
#main #header.active #gnb ul li a:active,
.subbody #visual,
body #footer,
body #footer .layout,
body #footer .menu_link,
body #footer .menu_link li,
body #footer .menu_link li:after,
body #footer .menu_link li a,
body #footer .sns_link,
body #footer .sns_link li,
body #footer .sns_link li a,
body #footer .sns_link li a:hover,
body #footer .sns_link li a:active,
body #footer .relate_site,
body #footer .relate_site.family_site,
body #footer div.info,
body #footer div.info span,
body #footer div.info span a:link,body #footer div.info span a:visited,body #footer div.info span a:hover,
body #footer .certifi_mark,
body #footer .certifi_mark img
{transition: all 0.3s ease;}






/* layout */
body{font-size:14px; line-height:1.6; font-family:"Nanum Gothic", "돋움", Dotum, Helvetica, Verdana, Arial, sans-serif; color:#555;}
body, h1, h2, h3, h4, h5, h6, th, td, input, select, textarea {font-family:"Nanum Gothic", "돋움", Dotum, Helvetica, Verdana, Arial, sans-serif; color:#555;}
body{position:relative; width:100%;}
body.fixed {position:fixed;}
.js_tablet_check,
.js_mobile_check{display:none;}
body #wrap {position:relative; overflow:hidden;}
body .layout {position:relative; max-width:1440px; margin:0 auto; box-sizing:border-box; z-index:5;}
.sub .layout {position:relative; max-width:1300px;}
body .layout:after {content:""; display:block; clear:both;}
body .top_btn{
	display: none; opacity:1; width:70px; height:70px; line-height:0; background:url(../images/layout/top_btn.png) no-repeat center center; overflow:hidden; position:fixed; right:47px; bottom:34px; z-index:101; text-indent: -9999px; background-size: contain;
	transition:opacity 0.3s ease; -webkit-transition:opacity 0.3s ease;
}
body.fp-viewing-0 .top_btn{overflow:hidden; opacity:0; position:absolute; top:0; right:-2000px;}



/* bannerzone */
body .bannerzone {height:120px !important; background:#3d66c4; position:relative; z-index:990; width:100%; overflow:hidden; display:none;}
#main .bannerzone {position:absolute; left:0; top:0;}
body.sub .bannerzone {display:none !important;}
body .bannerzone .control {text-align:center; height:0 !important; top:0 !important;}
body .bannerzone .control a[class*="btn_"] {display:inline-block; vertical-align:top; position:relative !important; width:10px; height:10px; border:0; right:auto !important; bottom:0 !important; top:95px;}
body .bannerzone .control a[class*="btn_"] span {overflow:hidden; position:absolute; line-height:1px; font-size:1px; text-indent:-30000px; left:auto; top:auto; width:0; height:0;}
body .bannerzone .control a.btn_left {width:18px !important; height:36px !important; opacity:0.6; -webkit-opacity:0.6; background:url(../images/layout/bannerzone_arrow.png) no-repeat center 50% !important; position:absolute !important; left:50% !important; margin-left:-718px; top:40px !important; z-index:20 !important;}
body .bannerzone .control a.btn_right {width:18px !important; height:36px !important; opacity:0.6; -webkit-opacity:0.6; transform:rotateY(180deg); -webkit-transform:rotateY(180deg); background:url(../images/layout/bannerzone_arrow.png) no-repeat center 50% !important; position:absolute !important; right:50% !important; margin-right:-718px; top:40px !important; z-index:20 !important;}
body .bannerzone .control a.btn_play {display:none; background:url(../images/layout/bannerzone_play.png) no-repeat center 50% !important;}
body .bannerzone .control a.btn_stop {background:url(../images/layout/bannerzone_stop.png) no-repeat center 50% !important;}
body .bannerzone .control a.btn_left:hover,
body .bannerzone .control a.btn_left:active,
body .bannerzone .control a.btn_right:hover,
body .bannerzone .control a.btn_right:active {opacity:1; -webkit-opacity:1;}
body .bannerzone .control ul {text-align:center !important; display:inline-block !important; vertical-align:top; margin:0; width:auto !important; height:10px; position:relative !important; left:auto !important; bottom:0 !important; top:95px;}
body .bannerzone .control ul li {display:inline-block; vertical-align:top; margin:0 3px !important;}
body .bannerzone .control ul li a {display:block; width:10px !important; height:10px !important; background:#453b2f; border-radius:50% !important; -webkit-border-radius:50% !important;}
body .bannerzone .control ul li a.on {width:10px !important; background:#fff;}
body .bannerzone .move {position:relative !important; max-width:1440px; margin:0 auto; left:auto; top:auto;}
body .bannerzone .move ul li {background:#3d66c4 ;}
body .bannerzone .move ul li a {background:none; cursor:pointer !important; text-decoration: none; border:0; position:relative; z-index:100;}
body .bannerzone .move ul li a:hover{border:0;}
body .bannerzone .move ul li a:focus{border:1px solid black !important; box-sizing:border-box;}
body .bannerzone .move ul li p {text-shadow:none; -webkit-text-shadow:none; text-align:center; margin:0; padding:0; position:relative; left:auto; top:auto; font-size:14px; line-height:18px; color:#fff;}
body .bannerzone .move ul li p.title {font-size:20px; line-height:24px; margin-top:20px;position: static; text-align: center; text-shadow: none;}
body .bannerzone .move ul li p.title strong {font-weight:400;}
body .bannerzone .move ul li p.date {opacity:0.5; -webkit-opacity:0.5; margin-top:8px;}
body .bannerzone .today_check {position:absolute; z-index:501; right:50%; margin-right:-700px; bottom:10px;}
body .bannerzone .today_check input {position:absolute; left:2px; top:3px; margin-right:0; width:12px; height:12px;}
body .bannerzone .today_check label {color:rgba(255,255,255,0.5); font-size:13px; line-height:18px; position:relative; padding:0 0 0 22px; margin: 0; display:inline-block; vertical-align:top; cursor:pointer;}
body .bannerzone .today_check label:before {content:""; display:block; width:0; height:0; background:#fff; position:absolute; left:7px; top:9px; z-index:10;}
body .bannerzone .today_check label:after {content:""; display:block; width:12px; height:12px; background:#3d66c4; border:1px solid rgba(255,255,255,0.5); position:absolute; left:0; top:2px;}
body .bannerzone .today_check input:checked+label:before {width:8px; height:8px; left:3px; top:5px;}
body .bannerzone .today_check .btn_close {width:15px; height:15px; background:url(../images/layout/bannerzone_close_ico.png) no-repeat center 50%; display:inline-block; vertical-align:top; margin:1px 0 0 5px; overflow:hidden; text-indent:-9999px;}

/* Slidemap */
body #slide_map {display: none;}


/* header */
#main #header.on {top:120px;}
body #header {
	position:fixed; left:0; top:0; z-index:900; width:100%; height:auto; background: #fff; box-sizing:border-box;
	transition:all 0.4s ease; -webkit-transition:all 0.4s ease; font-family: 'Noto Sans KR','Noto Sans', 'Titillium Web',sans-serif;
}
.sub #header .inner{max-width: 100%; margin: 0 auto;}
body #header h1.logo {position:absolute; left:50%; z-index:990; width:87px; margin-left:-700px; height:70px; top: auto;} 
.sub #header h1.logo {margin-left:-650px;}
body #header h1.logo a {display:block; height:100%; text-decoration:none; overflow:hidden; text-indent:-9999px;}
body #header h1.logo a:after {content:""; display:block; width:100%; height:100%; position:absolute; left:0; top:0; background:url(../images/layout/head_logo.png) no-repeat center 50%;}

#header #global {position:relative; background:#464646; color:#fff; width:auto; padding:0 3%;}
#header #global:after {content:""; display:block; clear:both;}
#header #global span {display:inline-block; vertical-align:top; float:left; padding:7px 12px 7px 0;}
#header #global a {display:inline-block; vertical-align:top; background:#373737; color:#fff; padding:7px 15px; float:left; margin-left:2px;}

body #header #gnb {width:100%; height:70px; position:relative; z-index:50; overflow:hidden; box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.08);}
body #header #gnb:after {content:""; display:block; width:100%; height:70px; background:#fff; position:absolute; left:0; top:0;}
body #header #gnb .blind {display:none; width:100%; height:auto; position:fixed; left:0; top:0; background:rgba(0,0,0,0.6);}
body #header #gnb .blind:after {content:""; display:block; width:100%; height:70px; position:absolute; left:0; top:0;}
body #header #gnb #blind {width:100%; height:0; background:#fff url(../images/layout/blind_bg.png) no-repeat left top -70px; box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.08) inset; position:absolute; left:0; top:70px; z-index:1; box-sizing:border-box; display:none;}
body #header #gnb #blind:after {content:""; display:none; width:2000px; height:100%; background:#fff; position:absolute; left:50%; top:0; margin-left:-2420px;}

body #header #gnb ul {width:auto; position:relative; z-index:20; box-sizing:border-box; max-width:850px; padding:0; margin:0 auto;}
body #header #gnb ul:after {content:""; display:block; clear:both;}
body #header #gnb ul li {float:left; width:20%; box-sizing:border-box; height:100%; position:relative;}
body #header #gnb ul li.sub06{display:none;}
body #header #gnb ul li a {display:block; height:70px; box-sizing:border-box; font-size:21px; line-height:31px; text-align:center; text-decoration:none; color:#222;}
body #header #gnb ul li a span {display:inline-block; vertical-align:top; height:100%; padding:20px 0; box-sizing:border-box; line-height:31px;}
body #header #gnb ul li a.on,
body #header #gnb ul li:hover,
body #header #gnb ul li:active {color:#3d66c4;}
body #header #gnb ul li ul{
	position: relative; padding:14px 25px 20px 25px; box-sizing: border-box; width:100%; opacity:0; -webkit-opacity:0; background:transparent; border-top:1px solid transparent;
	transition:background 0.3s ease; -webkit-transition:background 0.3s ease;
}
body #header #gnb ul li ul.on{background: #ecf3fb; border-top-color: #b1c9e5;}
body #header #gnb ul li ul:after{content: ""; position: absolute; top: 0; right: -1px; display: block; width: 1px; height: 100%; background:rgba(0, 0, 0, 0.08);}
body #header #gnb ul li ul.on:after{background:transparent;}
body #header #gnb ul li:last-child ul:after{right:0;}
body #header #gnb ul li:first-child ul:before{content: ""; position: absolute; top: 0; left:0; display: block; width: 1px; height: 100%; background:rgba(0, 0, 0, 0.08);}
body #header #gnb ul li:first-child ul.on:before{display:none;}
body #header #gnb ul li ul li {width:auto; height:auto; margin-bottom:0; float:none;}
body #header #gnb ul li ul li:first-child {margin-top:0;}
body #header #gnb ul li ul li a {font-size:15px; line-height:20px; text-align:left; width: 100%; height:auto; color:#323232; padding:6px 0; display:inline-block; vertical-align:top; position:relative;}
body #header #gnb ul li ul li a span {font-weight:400; margin:0; padding:0; width: 100%; height:auto; font-size: 16px; line-height:23px; letter-spacing:-0.5px;}
body #header #gnb ul li ul li a span:hover{text-decoration: underline; color: #3d66c4;}
body #header #gnb ul li ul li a.on:after,
body #header #gnb ul li ul li a:hover:after,
body #header #gnb ul li ul li a:active:after {color:#3d66c4;}
body #header #gnb ul li ul li ul{display: none;}

body #header .toputil_control {position:absolute; right:50%; margin-right:-700px; top: 21px; z-index:71;}
body #header.global_on .toputil_control {top:56px;}
.sub #header .toputil_control {margin-right: -650px;}
body #header .toputil_control:after {content:""; display:block; clear:both;}
body #header .toputil_control > div.lang_btn,body #header .toputil_control > a.search_btn_open,body #header .toputil_control > a.allmenu_btn_open{display:block; text-decoration:none; font-size:13px; float:left; color:#222; width:21px; height:30px; margin-left:9px; position:relative;}
body #header .toputil_control .lang_btn{position: relative; width: 88px !important; padding: 4px 0;  text-align: center; box-sizing: border-box; line-height: normal;}
body #header .toputil_control .lang_btn:after{content: ""; position: absolute; display: block; width: 0px; height: 15px; top: 50%; margin-top: -7.5px; right: 50%; margin-right: -0.5px; background: #ebebeb; box-sizing: border-box;}
body #header .toputil_control .lang_btn >.kor{display: inline-block; position: absolute; left: 0%; font-size: 11px; width: 50%; text-decoration: none; color: #222; margin-top: 1px}
body #header .toputil_control .lang_btn >.eng{display: inline-block; position: absolute; right: 0%;width: 100%; font-family: ""; font-size:16px; color: #222; text-decoration: none;}
body #header .toputil_control a.search_btn_open {width: 23px; height: 23px; margin-top: 4px; background:url(../images/layout/main_search.png) no-repeat center 50%; text-indent:-9999px;}
body #header .toputil_control a.search_btn_open.on {background:#3d66c4 url(../images/layout/search_btn_close.png) no-repeat center 50%;}
body #header .toputil_control a.allmenu_btn_open {background:url(../images/layout/main_allmenu.png) no-repeat center 50%;text-indent:-9999px;}
body #header .search_form {position:absolute; left:0; top:70px; width:100%; height:auto; box-sizing:border-box; padding:64.5px 0; background:rgba(20, 33, 59, 0.7); z-index:997; display:none;}
body #header.global_on .search_form{top: 105px;}
body #header .search_form .form {width: 100%; max-width:750px; height:50px; margin:0 auto; position:relative; box-sizing:border-box; padding-right:35px; border-bottom:2px solid rgba(255, 255, 255,0.7); vertical-align: middle;}
body #header .search_form .form input::placeholder{color:rgba(255, 255, 255,0.7); }
body #header .search_form .form input[type="text"] {display:block; width:98%; height:48px; border:0; padding:0 5px; line-height:48px; background:none; color: rgba(255, 255, 255,0.7);font-size: 20px; font-weight: 300; font-family: "Noto Sans KR";}
body #header .search_form .form input[type="submit"] {display:block; width:35px; height:48px; position:absolute; right:0; top:0; border:0; background:url(../images/layout/search_detail_submit.png) no-repeat center 55%; overflow:hidden; text-indent:-9999px;}
body #header .search_form .btn_close {position:absolute; right:50%; margin-right: -670px; top:-102px; width:21px; height:30px; background:#fff url(../images/layout/search_detail_close.png) no-repeat center 50%; overflow:hidden; text-indent:-9999px;}
.sub #header .search_form .btn_close{right: 50%; margin-right: -620px; top: -101px;}
body #header .search_form .btn_close:after{position: absolute; content: ""; display: none; width: 1px; height: 20px; background:rgba(14, 48, 109, 0.06); top: 50%; margin-top: -10px; right: 0;}
body #header .blind_search {position:fixed; left:0; top:0; width:100%; height:100%; background:rgba(20,20,20,0.7); z-index:995; display:none;} 

#main #header #gnb:after {opacity:0; -webkit-opacity:0;}
#main #header #gnb ul li a {color:#222;}
#main #header #gnb ul li ul li a { color:#5a5a5a;}
#main #header .toputil_control >a:after {background:url(../images/layout/popup_arrow.png) no-repeat center 50%;}
#main #header.active #gnb:after {opacity:1; -webkit-opacity:1;}
#main #header.active #gnb ul li a {color:#222;} 
#main #header.active #gnb ul li a.on,
#main #header.active #gnb ul li a:hover,
#main #header.active #gnb ul li a:active {color:#3d66c4;}

/** Visual **/
#sVisual_2017 {width:100%; height:179px; background-size:cover !important; position:relative; margin-top: 70px;}
#sVisual_2017:after{content:""; display:block; width:100%; height:100%; position:absolute; left:0; top:0; z-index:1; background:url(../images/common/svisual_patternbg.png) repeat center 50%; opacity:0.1; -webkit-opacity:0.1; filter:alpha(opacity=10);}
#sVisual_2017.gnb01 {background:url(../images/layout/sub_tit_gnb01.png) no-repeat center top;}
#sVisual_2017.gnb02 {background:url(../images/layout/sub_tit_gnb02.png) no-repeat center top;}
#sVisual_2017.gnb03 {background:url(../images/layout/sub_tit_gnb03.png) no-repeat center top;}
#sVisual_2017.gnb04 {background:url(../images/layout/sub_tit_gnb04.png) no-repeat center top;}
#sVisual_2017.gnb05 {background:url(../images/layout/sub_tit_gnb05.png) no-repeat center top;}
#sVisual_2017.gnb06 {background:url(../images/2017_renew/common/svisual_06.jpg) no-repeat center top;}
#sVisual_2017.gnb07 {background:url(../images/2017_renew/common/svisual_07.jpg) no-repeat center top;}
#sVisual_2017.gnb08 {background:url(../images/2017_renew/common/svisual_08.jpg) no-repeat center top;}
#sVisual_2017 p {margin:0; position:absolute; left:50%; top:45px; margin-left:-650px; color:#fff; z-index:10;}
#sVisual_2017 p strong {display:block; font-size:36px; line-height:42px; margin:0 0 12px 0; font-weight: bold;}
#sVisual_2017 p span {display:block; font-size:20px; line-height:24px;}

/** Container **/
#container_2017 {background:url(../images/common/container_bg.gif) repeat-x center top; width:100%; height:auto;}
#container_2017 .inner {width:100%; max-width:1300px; margin:0 auto; padding:0 0 80px 0; position:relative;}
#lnb_2017 {width:260px; padding:100px 0 0 0; position:absolute; left:0; top:0; z-index:10;}
#lnb_2017 .h2 {font-size:30px; line-height:34px; border-bottom:2px solid #0064cc; padding:0 0 15px 0; margin:0 0 30px 0; color:#222;}	
#lnb_2017 .lnb {width:100%; height:auto; border-top:1px solid #d0d0d0;}
#lnb_2017 .lnb li {border-bottom:1px solid #d0d0d0;}
#lnb_2017 .lnb li a {display:block; font-size:16px; line-height:22px; color:#222; padding:15px 40px 15px 15px; text-decoration:none; font-weight:600; position:relative;}
#lnb_2017 .lnb li a b {background:url(../images/common/lnb_depth1_bul_down.png) no-repeat center 50%; display:block; width:11px; height:7px; position:absolute; right:15px; top:50%; margin-top:-3px;}
#lnb_2017 .lnb li a.on {background:#f2f2f2; color:#0064cc;}
#lnb_2017 .lnb li a.on b {background:url(../images/common/lnb_depth1_bul_up.png) no-repeat center 50%;}
#lnb_2017 .lnb li ul {display:none; padding:10px 0; border:0; border-top:1px solid #d0d0d0;}
#lnb_2017 .lnb li.on > ul {display:block;}
#lnb_2017 .lnb li ul li {border:0;}
#lnb_2017 .lnb li ul li a {font-size:15px; line-height:19px; padding:5px 15px; display:inline-block; vertical-align:top; color:#444; font-weight:normal;}
#lnb_2017 .lnb li ul li a b {display:none;}
#lnb_2017 .lnb li ul li a:hover, #lnb_2017 .lnb li ul li a:active {text-decoration:underline;}
#lnb_2017 .lnb li ul li a.on {background:none;}
#lnb_2017 .lnb li ul li ul {padding:0 0 5px 0; border:0;}
#lnb_2017 .lnb li ul li ul li {}
#lnb_2017 .lnb li ul li ul li a {font-size:14px; line-height:18px; padding:3px 15px 3px 25px; color:#666; background:url(../images/common/lnb_depth3_bul.png) no-repeat 15px 12px;}
#lnb_2017 .lnb li ul li ul li a.on, #lnb_2017 .lnb li ul li ul li a:hover, #lnb_2017 .lnb li ul li ul li a:active {color:#0064cc; background:url(../images/common/lnb_depth3_bul_on.png) no-repeat 15px 12px;}
#container_2017 #contents {width:auto; padding:100px 0 0 320px; min-height:600px; float:none;}
#container_2017 #contents .path {position:absolute; left:0; top:0; width:auto; z-index:5;}
#container_2017 #contents .path span, #container_2017 #contents .path strong {display:inline-block; vertical-align:top; height:47px; line-height:47px; padding:0 12px 0 10px; color:#666; font-weight:normal;}
#container_2017 #contents .path span.home {border-left:1px solid #ddd; border-right:1px solid #ddd; text-indent:-9999px; overflow:hidden; width:47px; padding:0; margin-right:15px; background:url(../images/common/path_home_ico.png) no-repeat center 50%;}
#container_2017 #contents .path b {display:inline-block; vertical-align:top; width:7px; height:11px; background:url(../images/common/path_bul.png) no-repeat center 50%; margin-top:18px}
#container_2017 #contents h1.h1 {color:#222; font-size:33px; line-height:38px; margin:0 0 40px 0; font-weight: bold;}
#container_2017 #contents .nsnBtn {position:absolute; right:0; top:0; width:auto; z-index:10; border-left:1px solid #ddd;}
#container_2017 #contents .nsnBtn a {display:block; float:left; width:48px; height:47px; border-right:1px solid #ddd; padding:0 !important;}
#container_2017 #contents .nsnBtn a:hover, #container_2017 #contents .nsnBtn a:active {background:#ddd;}
#container_2017 #contents .nsnBtn a img {margin:15px auto 0 auto; display:block;}

/** Satis  **/
#satis {width:100%; margin:50px 0 0 0; font-family: "Nanum Gothic", "돋움", Dotum, Helvetica, Verdana, Arial, sans-serif;}
#satis_wrap {width:100%; max-width:1300px; margin:20px auto 0 auto;}
#satis_wrap ul {width:auto; padding:10px 3%; margin:8px;}
#satis_wrap ul:after {content:""; display:block; clear:both;}
#satis_wrap ul li {float:left; margin:0 0 0 100px;}
#satis_wrap ul li:first-child {margin:0;}



/* Footer */
body #footer {background:#141414; position:relative; z-index:20; height:163px; font-family: 'Noto Sans KR','Noto Sans', 'Titillium Web',sans-serif;}
body #footer .layout {position: relative; max-width: 1300px; margin: 0 auto;box-sizing:border-box; padding:33px 0 33px;}
body #footer .menu_link {height:auto; padding-bottom: 23px; box-sizing: border-box;}
body #footer .menu_link:after {content:""; display:block; clear:both;}
body #footer .menu_link li {float:left; position:relative; margin:0 0 0 25px; padding:0 0 0 15px;}
body #footer .menu_link li:first-child{padding:0; margin:0;}
body #footer .menu_link li:after {content:"";display:block;width:2px;height:2px;border-radius: 50%;-webkit-border-radius: 50%;background:#fff;position:absolute;left:-3px;top:50%;margin-top: -5px;}
body #footer .menu_link li:first-child:after {display:none;}
body #footer .menu_link li a {display:block;color:#fff;padding: 0px 0 7px;font-size:15px;line-height:19px;font-weight: 300;}
body #footer .menu_link li a:hover{text-decoration: underline;}
body #footer .menu_link li:first-child a{color: #ffa975;}
body #footer .sns_link {position:absolute; right:260px; top:27px; z-index:10;}
body #footer .sns_link:after {content:""; display:block; clear:both;}
body #footer .sns_link li {float:left; margin-left:7px;}
body #footer .sns_link li:first-child {margin-left:0;}
body #footer .sns_link li a {display:block; width:35px; background-size:100% auto !important; height:35px; box-sizing:border-box; border-radius:50%; -webkit-border-radius:50%; overflow:hidden; text-indent:-9999px; text-align:center; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
body #footer .sns_link li.bl a {background: url(../images/layout/main_ft_snsbl.png) no-repeat center center;}
body #footer .sns_link li.fb a {background: url(../images/layout/main_ft_snsfa.png) no-repeat center center;}
body #footer .sns_link li.tw a {background: url(../images/layout/main_ft_snstw.png) no-repeat center center;}
body #footer .sns_link li.yt a {background: url(../images/layout/main_ft_snsyt.png) no-repeat center center;}
body #footer .sns_link li.in a {background: url(../images/layout/main_ft_snsin.png) no-repeat center center;}
body #footer .sns_link li.kt a {background: url(../images/layout/main_ft_snskt.png) no-repeat center center;}
body #footer .sns_link li.bl a {background: url(../images/layout/main_ft_snsbl.png) no-repeat center center;}
body #footer .sns_link li.na a {background: url(../images/layout/main_ft_snsna.png) no-repeat center center;}
body #footer .relate_site{position:absolute;right:0;top: 27px;z-index:20;width:237px;}
body #footer .relate_site.family_site{right: 250px;}
body #footer .relate_site a {display:block;width: 237px;box-sizing:border-box;text-decoration:none;padding:0 7%;font-size:14px;height: 35px;position:relative;border:1px solid #7b7b7b;line-height: 33px;color:rgba(164, 164, 164, 0.6);}
body #footer .relate_site a:after {content:"";display:block;position:absolute;right:7%;top:50%;margin-top:-5px;width: 16.2px;height: 9.9px;background:url(../images/layout/relate_site_arrow.png) no-repeat center 50%;transform:rotate(-180deg);-webkit-transform:rotate(-180deg);transition: all 0.3s ease;background-size: contain;}
body #footer .relate_site a.on:after {transform:rotate(0); -webkit-transform:rotate(0);}
body #footer .relate_site ul {margin:0;box-sizing:border-box;border:1px solid #6e6e6e;border-bottom:0;position:absolute;left:0;bottom: 35px;z-index:200;background:#6e6e6e;width:237px;display:none;max-height:210px;overflow:auto;}
body #footer .relate_site ul li {display:block; margin:0; border-bottom:1px solid #d9d9d9; float:none; width:auto;}
body #footer .relate_site ul li a {width:auto;border:0;padding: 8px 7%;height:auto;color:rgba(255, 255, 255, 0.7);font-size:14px;line-height:19px;font-weight: 300;}
body #footer .relate_site ul li a:after {display:none;}
body #footer .relate_site ul li a:hover,
body #footer .relate_site ul li a:active {background:#141414;}
body #footer div.info{padding-top: 21.5px; box-sizing: border-box; color:#7b7b7b; font-size:13px; line-height:21px; border-top: 1px solid rgba(255,255,255,0.22); }
body #footer div.info span{display: inline-block; margin-left: 30px;}
body #footer div.info span:first-child{margin-left: 0;}
body #footer div.info span a:link,body #footer div.info span a:visited,body #footer div.info span a:hover{color:#7b7b7b; text-decoration: none;}
body #footer .certifi_mark{position: absolute; right: 0; bottom: 24px;}
body #footer .certifi_mark img{margin-left: 10px;}
body #footer .certifi_mark >img:first-child{margin-left: 0; opacity: 0.4; margin-top: 3px;}

@media screen and (max-width: 1600px){
    body .top_btn {right:3%; bottom:34px;}
}
@media screen and (max-width: 1450px){
    body .bannerzone .control a.btn_left{left: 1% !important; margin-left: 0;}
    body .bannerzone .control a.btn_right{right: 1% !important; margin-right:0;}
    body .bannerzone .today_check{right: 1.5%; margin-right: 0;}
}
@media screen and (max-width: 1440px){
	/* Header */
    body #header h1.logo{left:25px; margin-left:0;}
    .sub #header h1.logo{left:50%;}
    body #header .toputil_control {right:25px; margin-right: 0;}
    .sub #header .toputil_control {right:50%;}
    body #header .search_form .btn_close {right:56px; margin-right: 0;}
    body #header #gnb #blind { background: #fff url(../images/layout/blind_bg.png) no-repeat left top -35px; background-size: 205px;}
    
	/* Footer */
    body #footer{height: 170px;}
    body #footer .layout{padding: 29px 15px}
    body #footer .relate_site {width: 237px; right: 15px; top: 24px;}
    body #footer .relate_site a{width: 237px;}
    body #footer .relate_site ul{width: 237px;}
    body #footer .relate_site.family_site {right: 180px;}
    body #footer .menu_link {padding-bottom: 23px;}
    body #footer .sns_link{right: 270px;}
    body #footer div.info {padding-top: 18.5px;font-size: 13px;line-height: 21px;}
    body #footer div.info span {display: inline-block;margin-left: 5px;}
    body #footer div.info > span:last-child{display: block; margin-left: 0;}
    body #footer .certifi_mark {right: 15px; bottom: 29px;}
}

@media screen and (max-width: 1400px){
    /** Visual **/
    #sVisual_2017 p {left:0; top:auto; margin:0; padding:45px 0 0 3%; position:relative;}

    /** Container **/
    #container_2017 .inner {max-width:94%; margin:0 3%;}
}

@media screen and (max-width: 1370px){
	.sub #header h1.logo{left:25px; margin-left:0;}
	.sub #header .toputil_control{margin-right:-630px;}
	.sub #header .search_form .btn_close{margin-right: -600px;}
}
@media screen and (max-width: 1310px){
	.sub #header .toputil_control{right:25px; margin-right:0;}
	.sub #header .search_form .btn_close{right:3%; margin-right: 20px;}
}

@media screen and (max-width: 1290px){
    body #header #gnb >ul {max-width: 70%; margin: 0 auto 0 12.5%;}
    body #header #gnb >ul >li >a{font-size: 19px;}
    body #header #gnb ul li ul{padding: 14px 20px 20px 20px;}
    body #header #gnb ul li ul li a span{font-size: 15px;}
}
@media screen and (max-width: 1110px){
    body #footer{height: 200px;}
    body #footer .sns_link{right: 15px; top: auto; bottom: 53px;}
    body #footer div.info {padding-top: 33.5px;}
    body #footer .certifi_mark {right: 15px; bottom: 8px;}
    .sub #header .search_form .btn_close{right:3%; margin-right: 23px;}
}


@media screen and (max-width: 1024px){
	/* layout */	
	.js_tablet_check {display:block;}	

    body .top_btn {width: 60px; height: 60px; background-size: contain; right: 25px; bottom: 24px;}
    /* bannerzone */
    #main .bannerzone {position:relative; height:100px !important;}
    body .bannerzone .control a[class*="btn_"] {top:75px;}
    body .bannerzone .control a.btn_left {top:30px !important; left:2% !important;}
    body .bannerzone .control a.btn_right {top:30px !important; right:2% !important;}
    body .bannerzone .control ul {top:75px;}
    body .bannerzone .move ul li p.title {margin-top:15px; font-size:17px; line-height:21px;}
    body .bannerzone .move ul li p.date {margin-top:5px;}
    body .bannerzone .today_check {right:2.5% !important;}
    
	/* Slidemap */
	body #slide_map {
		opacity:0; overflow:hidden; position:fixed; z-index:800; display:block; width:100%; height:100%; padding-top:57px; right:-100%; box-sizing:border-box;
		transition:all 0.5s ease; -webkit-transition:all 0.5s ease;
	}
	body.fixed #slide_map{opacity:1; right:0;}
	body #slide_map:after {content:""; display:block; clear:both;}
	body #slide_map .inner {position:relative; width:100%; height:100%; float:right; margin-right:-460px; margin:0; background:#fff url(../images/layout/mob_gnb_bg.png) no-repeat bottom left; box-sizing:border-box;}
	body #slide_map .inner .binds {overflow:auto; max-width:1200px; margin:0 auto; height:100%; padding: 0 20px; box-sizing: border-box;}
	body #slide_map .inner .binds ul.nav {position:relative; z-index:10;}

	body #slide_map .inner .binds ul.nav >li {border-bottom:1px solid #cbcbcb; width:auto; float:none; padding:0; box-sizing: border-box;} 
	body #slide_map .inner .binds ul.nav li:last-child{border-bottom: none;}
	body #slide_map .inner .binds ul.nav li a {display:block; font-size:18px; line-height:24px; padding:21px 20px 21px 34px; position:relative; color: #222;}
	body #slide_map .inner .binds ul.nav > li > a:after {content:""; display:block; position:absolute; right:20px; top:50%; margin-top:-9px; width:18px; height:18px; background:url(../images/layout/mob_gnb_bul.png) no-repeat center 50%;} 
    body #slide_map .inner .binds ul.nav li a:hover{color:#3d66c4; text-decoration: none;}
	body #slide_map .inner .binds ul.nav li a.on {color:#3d66c4;}
	body #slide_map .inner .binds ul.nav > li > a.on:after {background:url(../images/layout/mob_gnb_bul_on.png) no-repeat center 50%;}
	body #slide_map .inner .binds ul.nav li > a > span {position: relative; line-height:24px; font-size: 19px; font-weight: 500}
    .sub #slide_map .inner .binds ul.nav > li > a > span{font-weight: 700;}
	body #slide_map .inner .binds ul.nav li ul {display:none; background:#ecf3fb; border-top:1px solid #b1c9e5; margin-top:0; padding:20px 20px 25px 34px;}
	body #slide_map .inner .binds ul.nav li> ul> li {margin-top:0; padding: 0;}
	body #slide_map .inner .binds ul.nav li ul li:first-child {border-top:0;}
	body #slide_map .inner .binds ul.nav li ul li:last-child {border-bottom:0;}
	body #slide_map .inner .binds ul.nav li ul li a {position: relative; padding:11px 0 11px 15px; font-size:16px; line-height:21px; text-decoration:none !important; color: #000;}
	body #slide_map .inner .binds ul.nav >li> ul> li >a:before{content: ""; display: block; position: absolute; width: 3px; height: 3px; background: #222; left: 5px; top: 20.5px; border-radius: 50%;}
    body #slide_map .inner .binds ul.nav >li> ul> li >a:hover,body #slide_map .inner .binds ul.nav >li> ul> li >a:active{color:#3d66c4; }
	body #slide_map .inner .binds ul.nav >li> ul> li >a.on:before,body #slide_map .inner .binds ul.nav >li> ul> li >a:hover:before{background: #3d66c4;}
	body #slide_map .inner .binds ul.nav li ul li a span{font-size: 17px;}
	body #slide_map .inner .binds ul.nav li ul li a[target=_blank] {background:none; padding-right:0;}
	body #slide_map .inner .binds ul.nav li ul li a:after {display:none;}
	body #slide_map .inner .binds ul.nav li ul li a.arrow:after {display:block; right:2px; width:14px; height:14px; margin-top:-7px;}
	body #slide_map .inner .binds ul.nav li ul li a span {font-weight:400; line-height:21px;}
	body #slide_map .inner .binds ul.nav li ul li ul{padding:11px 27px; width: 50%; margin-left:0; border:0; background: #fff;}
    body #slide_map .inner .binds ul.nav li ul li ul li ul{padding:0;}
    body #slide_map .inner .binds ul.nav li ul li ul li ul li a:before{display: none;}
    body #slide_map .inner .binds ul.nav li ul li ul li ul li a:hover,body #slide_map .inner .binds ul.nav li ul li ul li ul li a:active{color:#3d66c4; }
	    
	body #slide_map .inner .binds ul.nav li ul li ul li {position: relative; border:0;}
    body #slide_map .inner .binds ul.nav li ul li ul li a:hover,
    body #slide_map .inner .binds ul.nav li ul li ul li a:active{color:#3d66c4;}
	body #slide_map .inner .binds ul.nav li ul li ul li a:before {content: ""; position: absolute; top: 13px; left: -10px; width: 5px; height: 2px; background: #666;}
    body #slide_map .inner .binds ul.nav li ul li ul li:hover a:before,
    body #slide_map .inner .binds ul.nav li ul li ul li:active a:before{background:#3d66c4; }
	body #slide_map .inner .binds ul.nav li ul li ul li a {padding:3px 0; color: #666;}
	body #slide_map .inner .binds ul.nav li ul li ul li a:after {display:block; width:3px; height:3px; right:auto; left:0; top:9px; margin:0; background:#666;}
	body #slide_map .inner .binds ul.nav li ul li ul li a span{font-size: 15px; line-height: 22px;}
    body #slide_map .inner .binds ul.nav li ul li ul li ul{display: none; }
    body #slide_map .inner .binds ul.nav li ul li ul li ul li a span{font-size: 14px; line-height: 22px;}
    
	body #slide_map .inner .binds .side_link{position: relative; margin:30px 0 80px; padding:0 20px 50px 20px;}
    body #slide_map .inner .binds .side_link div.lang_btn{position: absolute; padding: 12px 0; right: 0;  border: 1px solid #ccc; box-sizing: border-box;}
    body #slide_map .inner .binds .side_link div.lang_btn a{display: inline-block; width: 165px; padding: 0 11px; text-align: center; font-size: 14px; box-sizing: border-box; color: #989898; }
    body #slide_map .inner .binds .side_link div.lang_btn a.kor{position: relative;  color: #222;}
    body #slide_map .inner .binds .side_link div.lang_btn a.kor:after{content: ""; display: block; position: absolute; width: 0px; height: 100%; background: #ebebeb; top: 0; right: -2px;}
    

	/* Header */
	body #header {position:relative; left:auto; top:auto; height: 57px;}
    #main #header.on {top:0;}
    #main #header.global_on {top:0; height: 90px;}
	body.fixed #header{box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.08);}
	body #header h1.logo {width: 67px; height:57px; bottom:0; left: 4%;}
	body #header h1.logo a {background:none;}
	body #header h1.logo a:after {background: url(../images/layout/head_logo_t.png) no-repeat center 50%; background-size: contain;}
    body #header .inner{height: 57px;}
	body #header #gnb {display:none;}
	body #header .toputil_control {bottom:14px; top: auto; right: 3%; margin-right: 0;}
    body #header.global_on .toputil_control{top: auto;}
    .sub #header h1.logo{left: 4%;}
    .sub #header .toputil_control{right: 4%;}
	body #header .toputil_control a.search_btn_open,
	body #header .toputil_control a.allmenu_btn_open {position:relative; right:auto; top:auto; margin-left: 28px;}
	body #header .toputil_control a.allmenu_btn_open:before{content: "";position: absolute; display: block; top: 50%; left: -14px; margin-top:-8px;  width: 1px; height: 16px; background: rgba(14, 48, 109, 0.15);}
	body #header .toputil_control a.search_btn_open {margin-right:0;margin-left:0;}
    body #header .toputil_control a.allmenu_btn_open.on {background:url(../images/layout/search_close.png) no-repeat center 50%;}
	body #header .toputil_control > div.lang_btn{display: none;}
	body #header .search_form {padding:51.5px 0; top: 57px;}
    body #header.global_on .search_form{top: 91px;}
    body #header .search_form .form {max-width: 535px; height: 47px;}
    body #header .search_form .btn_close:after{display: none;}
	body #header .toputil_control a.search_btn_open {background: url(../images/layout/main_searh_t.png) no-repeat center center;}
    body #header .toputil_control a.search_btn_open.on{background: #3d66c4 url(../images/layout/search_btn_close_t.png) no-repeat center 50%;}
    body #header .search_form .form input[type="text"]{line-height: 45px; height: 45px;}
    body #header .search_form .btn_close {width: 30px; right: 3%; margin-right: 45px; top: -85px;}
    .sub #header .search_form .btn_close {top:-84px; right:4%; margin-right: 45px;}
	body #slide_map .inner {padding:40px 0 0 0;}
	
    /** Visual **/
    #sVisual_2017 {height:150px; margin-top: 0;}
    #sVisual_2017 p {padding:37px 0 0 3%;}
    #sVisual_2017 p strong {font-size:32px; line-height:38px; margin:0 0 8px 0;}
    #sVisual_2017 p span {font-size:17px; line-height:22px;}

    /** Container **/
    #main_container {padding-top:0 !important;}
    #lnb_2017 {display:none;}
    #container_2017 {background:none;}
    #container_2017 .inner {padding:0 0 50px 0;}
    #container_2017 #contents {padding:35px 0 0 0; min-height:10px;}
    #container_2017 #contents .path {display:none;}
    #container_2017 #contents .nsnBtn {border:0; top:-48px;}
    #container_2017 #contents .nsnBtn a {width:38px; height:38px; border-radius:50%; background:#fff; opacity:0.9; -webkit-opacity:0.9; filter:alpha(opacity=90); overflow:hidden; margin-left:5px; position:relative; border:0; box-shadow:0 0 4px #8a8a8a; -webkit-box-shadow:0 0 4px #8a8a8a;}
    #container_2017 #contents .nsnBtn a:first-child {margin-left:0;}
    #container_2017 #contents .nsnBtn a:hover, #container_2017 #contents .nsnBtn a:active {background:#fff;}
    #container_2017 #contents .nsnBtn a img {position:absolute; left:50%; top:50%; margin:-9px 0 0 -9px;}
    #container_2017 #contents h1.h1 {font-size:31px; line-height:36px; margin:0 0 30px 0;}

    
	/* Footer */
	body #footer {height: 225px;}
	body #footer .relate_site {width: 250px; top: 22px;}
	body #footer .relate_site a{width: 250px;}
	body #footer .relate_site ul{width: 250px;}
	body #footer .relate_site.family_site {right: 196px;}
	body #footer .relate_site a{font-size: 13px;}
	body #footer .relate_site a:after {margin-top: -4px; width: 14px;height: 8px; background-size: contain;}
	body #footer .relate_site ul li a{font-size: 13px;}
    body #footer div.info{text-align: center; padding-top: 21.5px;}
    body #footer .certifi_mark{bottom: auto; margin-top: 25px; left: 52%; }
    body #footer .sns_link{top: auto; bottom:-29px; left: auto; right:52%; }
}

@media screen and (max-width: 840px){

    /* bannerzone */
    #main .bannerzone {height:90px !important;}
    body .bannerzone .control a[class*="btn_"] {top:68px;}
    body .bannerzone .control a.btn_left {top:25px !important;}
    body .bannerzone .control a.btn_right {top:25px !important;}
    body .bannerzone .control ul {top:68px;}
    body .bannerzone .move ul li p.title {margin-top:10px; font-size:16px;}
    body .bannerzone .move ul li p.date {font-size:13px;}
    body .bannerzone .today_check {bottom:7px;}
    
    /** header **/
    body #header .search_form {padding:41.5px 0;}
    
	/** Visual **/
    #sVisual_2017 {height:130px;}
    #sVisual_2017 p {padding:30px 0 0 3%;}
    #sVisual_2017 p strong {font-size:30px; line-height:36px; margin:0 0 7px 0;}
    #sVisual_2017 p span {font-size:16px; line-height:21px;}

    /** Container **/
    #container_2017 #contents {padding:30px 0 0 0;}
    #container_2017 #contents h1.h1 {font-size:29px; line-height:34px; margin:0 0 25px 0;}	

    /** Satis  **/
    #satis_wrap ul li {float:left; margin:0; width:50%;}
    
    /* Footer */
    body #footer .menu_link li{margin: 0 0 0 14px; padding: 0 0 0 14px;}
    body #footer .menu_link li:after{left: -1px;}
    body #footer .certifi_mark{left: 50.5%; }
    body #footer .sns_link{right:50.9%; }
    body #footer .sns_link{right:50.9%; }
}

@media screen and (max-width: 640px){
    .js_tablet_check{display: none; }
    .js_mobile_check{display: block;}
    /* bannerzone */
    body .bannerzone .move ul li a {padding:0 12%;}
    body .bannerzone .move ul li p.title {margin-top:13px; font-size:15px; display:table; table-layout:fixed; width:100%; height:44px;}
    body .bannerzone .move ul li p.title strong {display:table-cell; vertical-align:middle; width:100%; line-height:19px;}
    body .bannerzone .move ul li p.date {display:none !important;}
    body .bannerzone .today_check {right:3%;}
	
    body .top_btn {width: 48px; height: 48px; right: 4%; bottom: 15px;}
    
	/* Header */
    body #slide_map{padding-top: 50px;}
	body #slide_map .inner .binds ul.nav li a {font-size:17px; line-height:22px;padding: 18px 20px 18px 28px;}
	body #slide_map .inner .binds ul.nav li a span {line-height:22px;}
	body #slide_map .inner .binds ul.nav li ul {padding: 15px 20px 18px 28px;}
	body #slide_map .inner .binds ul.nav li ul li a {font-size:15px; line-height:20px;  padding: 9px 0 9px 15px;}
	body #slide_map .inner .binds ul.nav li ul li a span {line-height:20px;}
    body #slide_map .inner .binds ul.nav li ul li ul{width: calc(100% - 58px);}
	body #slide_map .inner .btn_close {top: -32px; right: 12px;}
    body #header{height: 50px;}
    body #header h1.logo{width: 63px; height: 50px;}
	body #header .toputil_control {bottom:50%; right:4%; transform: translateY(50%);}
	body #header .toputil_control a {margin-left:8px;}	
	body #header .toputil_control a {margin-left:8px;}	
	body #header .search_form {padding:34px 0; top: 50px;}
    body #header .search_form .form {max-width:70%; height: 42px;}
    body #header .search_form .form input[type="text"]{width: 95%; font-size: 15px; line-height: 40px; height: 40px;}
    body #header .search_form .form input[type="submit"]{width: 18px; height: 19px; top: 12px; right: 7px; background-size: contain;}
	body #header .search_form .btn_close {top: -78px; margin-right: 42px;}
    body #header.global_on .search_form .btn_close {top: -80px; margin-right: 42px;}
    .sub #header .search_form .btn_close{top: -78px; right: 3.5%; margin-right: 40px;}
	#main #header h1.logo a {background:none !important;}
    body #slide_map .inner .binds ul.nav >li> ul> li >a:before{top: 18.5px;}
    .subbody #header .toputil_control a.allmenu_btn_open,body #header .toputil_control a.allmenu_btn_open{margin-left: 20px;}
    .subbody #header .toputil_control a.allmenu_btn_open:before,body #header .toputil_control a.allmenu_btn_open:before{left: -10px;}
	
	/** Visual **/
    #sVisual_2017 {height:110px;}
    #sVisual_2017 p {padding:24px 0 0 3%;}
    #sVisual_2017 p strong {font-size:27px; line-height:32px; margin:0 0 5px 0;}
    #sVisual_2017 p span {font-size:15px; line-height:19px;}	

    /** Container **/
    #container_2017 #contents {padding:25px 0 0 0;}
    #container_2017 #contents .nsnBtn {top:-44px;}
    #container_2017 #contents .nsnBtn a {width:34px; height:34px;}
    #container_2017 #contents .nsnBtn a:hover, #container_2017 #contents .nsnBtn a:active {background:#fff;}
    #container_2017 #contents .nsnBtn a img {position:absolute; left:50%; top:50%; margin:-9px 0 0 -9px;}
    #container_2017 #contents h1.h1 {font-size:27px; line-height:32px; margin:0 0 20px 0;}	

	/* Footer */
	body #footer {height: auto;}
	body #footer .layout {width: 100%; padding:29px 3% 18px; text-align: center;}
	body #footer div.info> span {display: block; margin-left: 0px;}
	body #footer .menu_link {padding-bottom: 60px; display: inline-block}
    body #footer .menu_link li{margin: 0 0 0 11px; padding: 0 0 0 11px;}
    body #footer .menu_link li:after{margin-top: -3.5px;}
	body #footer .menu_link li a {font-size: 13px; line-height: 16px;}
	body #footer .relate_site{width: calc(100% - 6%); float: left; right: 3%; top: 70px; text-align: left;}
	body #footer .relate_site a{width: 100%; padding: 0 15px;}
	body #footer .relate_site a:after{right:15px;}
	body #footer .relate_site ul{width: 100%; bottom: 35px;}
    body #footer .relate_site.family_site{position: absolute; left: 4%;}
	body #footer .relate_site.family_site a,body #footer .relate_site a{font-size: 13px; height: 35px; line-height: 33px;}
	body #footer .relate_site.family_site a:after {margin-top: -3px; width: 14px; height: 8px; background-size: contain;}
	body #footer .relate_site.family_site ul li a,body #footer .relate_site ul li a{font-size: 13px; height: auto; line-height: 17px; padding: 8px 15px;}
	body #footer .sns_link{width: auto; height: 63px; right: 15px; top: auto; bottom: 132px; text-align: right;}
    body #footer .sns_link{height: auto; right: 50%; margin-right: -143.5px; bottom: 67px;}
	body #footer .certifi_mark {position: static; margin-top: 55px;}
    body #footer div.info{padding-top: 18.5px;}
}

@media screen and (max-width: 640px) and (min-width:581px){
	body #slide_map .inner .btn_close {top: -34px;}
}

@media screen and (max-width: 600px){
	.js_slide.type_03 .control a.btn_left,
	.js_slide.type_03 .control a.btn_right{display:block !important;}
}
@media screen and (max-width: 540px){
    /** header **/
    body #header .search_form{padding:45.5px 0;}
    
    /** Visual **/
    #sVisual_2017 {height:auto; background-position:60% top !important;}
    #sVisual_2017 p {padding:20px 3% 60px 3%;}
    #sVisual_2017 p strong {font-size:25px; line-height:30px;}
    #sVisual_2017 p span {font-size:14px; line-height:18px;}

    /** Container **/
    #container_2017 #contents .nsnBtn {right:auto; left:0;}	
    #container_2017 #contents .nsnBtn a {width:30px; height:30px;}
    #container_2017 #contents h1.h1 {font-size:25px; line-height:30px; margin:0 0 15px 0;}
}

@media screen and (max-width: 480px){
    /* bannerzone */	
    body .bannerzone .control ul,
    body .bannerzone .control a.btn_stop,
    body .bannerzone .control a.btn_play {display:none !important;}	

    /** header **/
    body #header .search_form{padding:40.5px 0;}
    
    /** Visual **/
    #sVisual_2017 p {padding:17px 3% 57px 3%;}
    #sVisual_2017 p strong {font-size:23px; line-height:28px; margin:0 0 3px 0; letter-spacing:-0.5px;}
    #sVisual_2017 p span {font-size:13px; letter-spacing:-0.5px;}	

    /** Container **/
    #container_2017 #contents h1.h1 {font-size:23px; line-height:28px;}	

    /** Satis  **/
    #satis_wrap ul li {float:none; width:auto;}
    
	/* Footer */
    body #footer .relate_site{text-align: left;}
    body #footer .certifi_mark img{margin-left: 10px;}
}

@media screen and (max-width: 400px){
	/* Header */
	body #slide_map .inner .binds .side_link ul li {width:57%;}
	body #slide_map .inner .binds .side_link ul li:first-child {width:43%;}
	body #slide_map .inner .binds .side_link ul li a {text-align:center;}
	body #slide_map .inner .binds .side_link ul li a:after {display:none;}	
		
	/* Visual */
	.subbody #visual {height:150px; padding:37px 0 46px 0 !important;}
   
	/* Footer */ 
    body #footer{height: 300px;}
    body #footer .sns_link{bottom: 70px; margin-right: -143.5px; margin-right: -126px;}
    body #footer .sns_link li a {width: 30px; height: 30px;}
    body #footer .certifi_mark{margin-top: 55px;}
	body #footer .certifi_mark img{margin-left: 5px;}
    body #footer .menu_link li{margin: 0 0 0 10px; padding: 0 0 0 10px;}
}

@media screen and (max-width: 380px){
    /** header **/
    body #header .search_form{padding:38px 0;}
    
    /** Visual **/
    #sVisual_2017 p {padding:15px 3% 55px 3%;}
    #sVisual_2017 p strong {font-size:21px; line-height:27px; margin:0 0 3px 0;}

    /** Container **/
    #container_2017 #contents h1.h1 {font-size:21px; line-height:26px;}
}

@media screen and (max-width: 360px){
    body #slide_map .inner .btn_close {right: 9px;}
}




