@charset "utf-8";

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	
	학과소개

///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.depart_int{}
.depart_int [data-depart-box="1"] .txts{background-color: #70A448; background-image: url(../../../images/site/bio/content/hs_box_img01.png);}
.depart_int [data-depart-box="1"] .imgs{background-image: url(../../../images/site/bio/content/hs_box_img02.jpg);}
.depart_int [data-depart-box="1"] .txts .eng,
.depart_int [data-depart-box="1"] .txts .tt{text-shadow: 2px 2px 10px #447B1A;}
.depart_int [data-depart-box="2"]{background-color: #F0F7FF;}
.depart_int [data-depart-box="2"] >ol>li>em:before{background-color: #003363;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i{border-color: rgba(112, 164, 72, 0.2);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i{border-color: rgba(0, 51, 99, 0.2);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(1)>i>span:before{background-image: url(../../../images/site/bio/content/Frame%201516.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2)>i>span:before{background-image: url(../../../images/site/bio/content/Frame%201517.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(3)>i>span:before{background-image: url(../../../images/site/bio/content/Frame%201518.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(4)>i>span:before{background-image: url(../../../images/site/common/Group%202258.svg);}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i:after{background-color: #70A448 ;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i:after{background-color: #003363;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i>span{background-color: #70A448; }
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i>span{background-color: #003363; }
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-1)>i>span:after{background-color: #70A448;}
.depart_int [data-depart-box="3"]>ul>li:nth-child(2n-2)>i>span:after{background-color: #003363;}
.depart_int [data-depart-box="5"] >ul.step4>li>strong{border-color: #003363;}
.depart_int [data-depart-box="5"] >ul.step4>li:nth-child(2n+2 )>strong{background-color: #70A448; border-color: #70A448; color: #fff; font-weight: 400;}
.depart_int [data-depart-box="5"] >ul>li:before, 
.depart_int [data-depart-box="5"] >ul>li:after{background-image: url(../../../images/site/bio/content/data-depart-box05.svg);}
.depart_int [data-depart-box="5"] >ul>li:before{background-position: right top 2.63em}
.depart_int [data-depart-box="5"] >ul>li:after{background-position: left top 2.63em}
.depart_int [data-depart-box="5"] >ul>li>strong:before{top: 2em; border-color: #003363;}
.depart_int [data-depart-box="6"] .wrap .tt{border-color: #F0F7FF;}
.depart_int [data-depart-box="6"] .wrap .xx > ul{background-color: #F0F7FF;}
.depart_int [data-depart-box="6"] .wrap .xx > ul>li{border-color: rgba(47, 131, 231, 0.4);}
.depart_int [data-depart-box="6"] .wrap .tt strong:before{background-image: url(../../../images/site/bio/content/data-depart-box06.svg);}
.depart_int [data-depart-box="6"] .wrap .tt strong>span{color: #0F3192}

















