@charset "utf-8";
/* Tab */
[data-tab]>.in>ul>li a[target="_blank"]>span:after{background-image:url(../../../images/site/kor/layout/_blank.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(1)>strong>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_1_on.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(1)>span>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_1.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(2)>strong>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_2_on.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(2)>span>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_2.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(3)>strong>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_3_on.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(3)>span>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_3.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(4)>strong>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_4_on.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(4)>span>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_4.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(5)>strong>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_5_on.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(5)>span>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_5.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(6)>strong>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_6_on.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(6)>span>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_6.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(7)>strong>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_7_on.svg);}
[data-tab="etc"]>.in>ul>li:nth-child(7)>span>a:before{background-image:url(../../../images/site/kor/content/1-9_simbol_7.svg);}


/* Button */
[data-btn][data-icon]>span::before,
[data-btn][data-icon]>span::after{background-image:url(../../../images/site/kor/layout/content.svg);}


/* form */
#txt select{background-image:url(../../../images/site/kor/layout/select.svg);}
#txt input[type="checkbox"]+label:before{background-image:url(../../../images/site/kor/layout/content.svg);}
#txt input[type="radio"]+label:before{background-image:url(../../../images/site/kor/layout/content.svg);}

/* box */
[data-box="board"]>.in>.midd::before{background-image:url(../../../images/site/kor/layout/content.svg);}
[data-box="1"][data-type="1"]>.in:after{background-image:url(../../../images/site/kor/layout/content.svg);}
[data-box="1"][data-type="2"][data-icon="1"]>.in:before{background-image:url(../../../images/site/kor/content/new_img_opencode0.jpg);}
[data-box="1"][data-type="2"][data-icon="2"]>.in:before{background-image:url(../../../images/site/kor/content/new_img_opencode1.jpg);}
[data-box="1"][data-type="2"][data-icon="3"]>.in:before{background-image:url(../../../images/site/kor/content/new_img_opencode2.jpg);}
[data-box="1"][data-type="2"][data-icon="4"]>.in:before{background-image:url(../../../images/site/kor/content/new_img_opencode3.jpg);}
[data-box="1"][data-type="2"][data-icon="5"]>.in:before{background-image:url(../../../images/site/kor/content/new_img_opencode4.jpg);}
[data-box="1"][data-type="2"][data-icon="alio"]>.in:before{background-image:url(../../../images/site/kor/content/2-1_topimg.jpg);}
[data-box="1"][data-type="3"][data-icon="1"]>.in:before{background-image:url(../../../images/site/kor/content/top_box_icon_1.jpg);}

/* simbol */
[data-simbol-list]::before{background-image:url(../../../images/site/kor/layout/content.svg);}

/* Tip */
[data-tip="1"]::before{background-image:url(../../../images/site/kor/layout/content.svg);}
[data-tip="2"]::before{background-image:url(../../../images/site/kor/layout/content.svg);}
[data-tip="3"]::before{background-image:url(../../../images/site/kor/content/tip.svg);}

/* Link 속성 */
[data-link]::before{background-image:url(../../../images/site/kor/layout/content.svg);}

/* 게시판 아이콘 */
[data-simbol="1"]{background-image:url(../../../images/site/kor/layout/content.svg);}

/* 상단 포토타입 + 텍스트 */
[data-content-top="photo"]>.in>.midd::before,
[data-content-top="photo"]>.in>.midd::after{background-image:url(../../../images/site/kor/content/content_top_simbol.svg);}
[data-content-top="photo"][data-photo="1"]>.in>.head{background-image:url(../../../images/site/kor/content/content_top_photo_1.jpg);}
[data-content-top="photo"][data-photo="2"]>.in>.head{background-image:url(../../../images/site/kor/content/content_top_photo_2.jpg);}
[data-content-top="photo"][data-photo="3"]>.in>.head{background-image:url(../../../images/site/kor/content/content_top_photo_3.jpg);}
[data-content-top="photo"][data-photo="4"]>.in>.head{background-image:url(../../../images/site/kor/content/content_top_photo_4.jpg);}
[data-content-top="photo"][data-photo="5"]>.in>.head{background-image:url(../../../images/site/kor/content/content_top_photo_5.jpg);}
[data-content-top="photo"][data-photo="6"]>.in>.head{background-image:url(../../../images/site/kor/content/content_top_photo_6.jpg);}
[data-content-top="photo"][data-photo="7"]>.in>.head{background-image:url(../../../images/site/kor/content/content_top_photo_7.jpg);}
[data-content-top="photo"][data-photo="8"]>.in>.head{background-image:url(../../../images/site/kor/content/content_top_photo_8.jpg);}
[data-content-top="photo"][data-photo="9"]>.in>.head{background-image:url(../../../images/site/kor/content/content_top_photo_9.jpg);}
[data-content-top="photo"][data-photo="10"]>.in>.head{background-image:url(../../../images/site/kor/content/content_top_photo_10.jpg);}
