@charset "utf-8";
.user #header h1 span>a{background-image:url(../../../images/site/kor/layout/layout.svg);}

.user #header .select>.head>a:after{background-image:url(../../../images/site/kor/layout/layout.svg);}
.user #header #global .sitemap::after{background-image:url(../../../images/site/kor/layout/layout.svg);}

.user #header #etc>ul>li.all>a:before{background-image:url(../../../images/site/kor/layout/layout.svg);}
.user #header #etc>ul>li.all>a.allmenu_btn_close:before{background-image:url(../../../images/site/kor/layout/layout.svg);}
.user #header #etc>ul>li [data-search="s"]>input[type="submit"]{background-image:url(../../../images/site/kor/layout/layout.svg);}
.user #header #etc>ul>li #search-btn,
.user #header #etc>ul>li #search-btn_close{background-image:url(../../../images/site/kor/layout/layout.svg);}

/*Menu*/
.user #header #nav #gnb > ul > li > div  a[target="_blank"]:after{background-image:url(../../../images/site/kor/layout/layout.svg);}
.user #header #nav #gnb > ul > li > div:before {background-image:url(../../../images/site/kor/layout/gnb_bg.jpg);}
.user #header #nav #gnb > ul > li > div > strong:after{background-image:url(../../../images/site/kor/layout/layout.svg);}
.user #header #nav #gnb > ul > li > div > ul > li > a:after {background-image: url(../../../images/site/kor/layout/layout.svg);}

/* popup */
.user [data-layout="popup"]::before{background-image:url(../../../images/site/kor/main/popup_left.png);}
.user [data-layout="popup"]::after{background-image:url(../../../images/site/kor/main/popup_right.png);}
.user [data-layout="popup"] .in [class*="btn_"]{background-image:url(../../../images/site/kor/main/main.svg);}
.user [data-layout="popup"] .in .move>ul>li>a::after{background-image:url(../../../images/site/kor/main/main.svg);}
.user [data-layout="popup"] .etc .close{background-image:url(../../../images/site/kor/main/main.svg);}
.user [data-layout="popup"] .in .move>ul>li[data-type*="text-"]>a::before{background-image:url(../../../images/site/kor/main/main.svg);}


/* Link Service */
#link-service [class*="btn_"]:before{background-image:url(../../../images/site/kor/layout/layout.svg);}
#link-service .midd>ul>li>a:before{background-image:url(../../../images/site/kor/layout/layout.svg);}


/* Footer */
#footer .site .midd [class*="btn_"]:before{background-image:url(../../../images/site/kor/layout/layout.svg);}
#footer .site .midd>.move>ul>li>a[target="_blank"]:after{background-image:url(../../../images/site/kor/layout/layout.svg);}
#footer .sns>ul>li>a::before{background-image:url(../../../images/site/kor/layout/layout.svg);}


/* Media */
@media screen and (min-width:1291px){
	/*모바일메뉴*/
	.user #sitemap{background-image:url(../../../images/site/kor/layout/sitemap_bg.jpg);}
	.user #sitemap>.layout>.midd>ul>li>div>ul>li>a:after{background-image:url(../../../images/site/kor/layout/sitemap_bul.svg);}
	.user #sitemap>.layout>.midd>ul>li>div>ul>li>a[target="_blank"]:after{background-image:url(../../../images/site/kor/layout/sitemap_blank.svg);}
}
@media screen and (max-width:1290px){
	/* gnb */
	.user #sitemap>.layout>.midd a[target="_blank"]>span:after{background-image:url(../../../images/site/kor/layout/layout.svg);}
	.user #sitemap>.layout>.midd>ul>li>div>ul>li>a.child:after{background-image:url(../../../images/site/kor/layout/layout.svg);}
	.user #sitemap>.layout>.midd>ul>li>div>ul>li>div>ul>li>a.child:after{background-image:url(../../../images/site/kor/layout/layout.svg);}
}


/* //////////////////////////////////////////////////////////////////////////////

	Container

////////////////////////////////////////////////////////////////////////////// */
.user#sub #container #remote #lnb>ul>li a[target="_blank"]:after{background-image:url(../../../images/site/kor/layout/layout.svg);}
.user#sub #container #remote #lnb>ul>li>a:after{background-image:url(../../../images/site/kor/layout/layout.svg);}
.user#sub #container #remote #lnb>ul>li>ul>li>a.child:after{background-image:url(../../../images/site/kor/layout/layout.svg);}

#navi > .location > span:nth-child(1){background-image:url(../../../images/site/kor/layout/layout.svg);}
#navi > .location > span:not(:nth-child(1)):before,
#navi > .location > strong:not(:nth-child(1)):before{background-image:url(../../../images/site/kor/layout/layout.svg);}
#navi > .sns > a:before,
#navi > .print > a:before{background-image:url(../../../images/site/kor/layout/layout.svg);}
#navi > .sns > ul>li>a:after{background-image:url(../../../images/site/kor/layout/layout.svg);}


/* 만족도조사 */
.user #satisfaction .manager>strong::before{background-image:url(../../../images/site/kor/layout/layout.svg);}
.user #satisfaction .manager ul li>span.tel::before{background-image:url(../../../images/site/kor/layout/layout.svg);}