@charset "utf-8";
/* visual */
body#main #visual .controll>a{background-image:url(../../../images/site/kor/main/main.svg);}


/* 공통 */
body#main #content .title{background-image:url(../../../images/site/kor/main/main.svg);}
body#main #content .more::before{background-image:url(../../../images/site/kor/main/main.svg);}

/* news */
body#main #content div.line-1 .item#notice>div>ul>li:nth-child(n+2)::before{background-image:url(../../../images/site/kor/main/main.svg);}
body#main #content div.line-1 .item#notice>div>ul>li>div>ul>li>a>i{background-image:url(../../../images/site/kor/main/main.svg);}
body#main #content div.line-1 .item#notice>div>ul>li>div .not-data p::before{background-image:url(../../../images/site/kor/content/main_board_simbol.svg);}
body#main #content div.line-1 .item#notice>div>ul>li>div .not-data a>span::before{background-image:url(../../../images/site/kor/layout/layout.svg);}


/* 알림판 */

body#main #content div.line-1 .item#popupzone .controll [class*="btn_"]{background-image:url(../../../images/site/kor/main/main.svg);}
body#main #content div.line-1 .item#popupzone .move li[data-type*="text-"]>a:after{background-image:url(../../../images/site/kor/main/main.svg);}


/* line 2 */
body#main #content div.line-2 .bg>span{background-image:url(../../../images/site/kor/main/main.svg);}
body#main #content div.line-2 .bg>span:nth-child(4),
body#main #content div.line-2 .bg>span:nth-child(5),
body#main #content div.line-2 .bg>span:nth-child(6),
body#main #content div.line-2 .bg>span:nth-child(7){background-image:url(../../../images/site/kor/main/cloud.png);}


/* 통합민원 */
body#main #content div.line-2 .item:nth-child(1)::before{background-image:url(../../../images/site/kor/main/main.svg);}
body#main #content div.line-2 .item:nth-child(1)>div>ul>li>a:before{background-image:url(../../../images/site/kor/main/main.svg);}


/* 공정하고 투명한 경영 */
body#main #content div.line-2 .item:nth-child(2)::before{background-image:url(../../../images/site/kor/main/main.svg);}
body#main #content div.line-2 .item:nth-child(2)>div>ul>li>a::before,
body#main #content div.line-2 .item:nth-child(2)>div>ul>li>a::after{background-image:url(../../../images/site/kor/main/main.svg);}


/* KOMIR STORY */
body#main #content div.line-2 .item:nth-child(3)>div>ul>li>div>.in>.b [data-btn]:nth-child(1)>span::before{background-image:url(../../../images/site/kor/layout/content.svg);}


/* 고객센터 */
body#main #content div.line-2 .item:nth-child(4)>.item_:nth-child(1)>.in>strong::before{background-image:url(../../../images/site/kor/main/main.svg);}


/* 광산안전위원회 */
body#main #content div.line-2 .item:nth-child(4)>.item_:nth-child(3)>.in::after{background-image:url(../../../images/site/kor/main/main.svg);}

